[2013-05-30 18:35] willnorris opened #1 "Add support for parsing post-receive webhooks"
Even though it's not strictly part of the v3 API, it would be nice to define structs for GitHub's [post-receive webooks](https://help.github.com/articles/post-receive-hooks), so that those messages can be easily parsed and acted on.

[2013-06-11 15:47] willnorris opened #3 "Determine how to handle partial resource representations"
( original discussion on sqs/go-github@515d5d7 )

Resources in the GitHub API are often truncated when returned from certain API endpoints.  For example, [fetching a single repository](https://api.github.com/repos/sqs/go-github) returns the full representation including properties like `source` and `parent`, but [fetching a list of repos](https://api.github.com/users/sqs/repos?sort=updated) return

[2013-06-15 08:49] sqs opened #5 "Support conditional requests"
GitHub API endpoints accept conditional requests using ETag and/or If-Modified-Since (http://developer.github.com/v3/#conditional-requests).

This library could support conditional requests by modifying API methods to take a struct parameter containing those fields (or the fields could be added to, e.g., ListOptions, as in https://github.com/sqs/go-github/compare/b01324...User_events__xpr).

Or th

[2013-06-16 21:37] willnorris opened #6 "handling custom media types"
A handful of API methods (like [issues](http://developer.github.com/v3/issues/)) support the use of [custom mime](http://developer.github.com/v3/media/) types to return additional fields in the response, using different formats.

As currently designed, go-github doesn't have a simple way to expose this, since most HTTP-specific details are hidden from the caller.  We could probably just add it to

[2013-06-16 21:40] willnorris opened #7 "add basic issues support"
current use case needs basic issues methods, and support for comments:
- http://developer.github.com/v3/issues/
- http://developer.github.com/v3/issues/comments/

[2013-06-20 19:16] #7 closed, assigned to nobody

[2013-06-21 00:10] willnorris opened #8 "consistent calling style for public/private methods"
see comment at https://github.com/google/go-github/pull/4/files#r4714862

There is at least `ListMembers()` and `ListPublicMembers()` as mentioned in that comment, but there may be others.  These should be updated to use the calling style @sqs has.

[2013-06-23 00:25] Kissaki opened #9 "Getting a User object with null fields fails"
The github API v3 [declares that blank fields are included with a null as the value](http://developer.github.com/v3/#schema) instead of being omitted.

For a user which did not specify an organisation, blog or bio the Get returns `null` as the field values.
In go-github this leads to an unmarshalling failure as type string is defined in the struct type User. Unfortunately, null can not be unmarsha

[2013-06-23 00:28] Kissaki opened #10 "Issues missing Milestone, Labels"
The [Issue struct type](http://godoc.org/github.com/google/go-github/github#Issue) is missing the milestone and labels fields the github API v3 docs defines.
- http://developer.github.com/v3/issues/#create-an-issue
- http://developer.github.com/v3/issues/#get-a-single-issue

[2013-06-25 14:22] willnorris opened #11 "GitHub API docs now CC licensed"
The GitHub API docs are now CC-BY licensed, so we can safely copy method and parameter descriptions.  The LICENSE file should be updated to reflect the license.

[2013-06-25 14:44] #11 closed, assigned to nobody

[2013-06-25 15:48] willnorris opened #12 "Track rate limit on github.Client"
I've seen a couple of other GitHub libraries do this, and it's almost certainly worth adding here as well.  `github.Client` should add a `Rate` field which is updated after each request using the rate-related HTTP headers in the response.  This can all be done inside the `Do()` func, so it should be a pretty minimal change.

If the OAuth credentials are being shared between multiple clients then t

[2013-06-25 16:07] willnorris opened #13 "Add basic support for pull requests"
At a minimum, I'll need to add the ability to list PRs for a repository, update a PR, list comments on a PR, and add a new comment.

[2013-06-25 22:20] #13 closed, assigned to nobody

[2013-06-26 22:35] gedex opened #14 "Add support for User Emails API"
http://developer.github.com/v3/users/emails

[2013-06-26 23:52] #14 closed, assigned to nobody

[2013-06-27 02:34] #12 closed, assigned to nobody

[2013-06-27 14:59] gedex opened #17 "Add support for Gists API"
Gists API doc: http://developer.github.com/v3/gists/

[2013-06-29 16:23] #9 closed, assigned to nobody

[2013-07-01 17:40] #17 closed, assigned to nobody

[2013-07-09 19:29] willnorris opened #19 "issue setting empty values"
Depending on how our types are defined, we run into various interesting problems with setting empty values.
### Option 1

This is the current behavior throughout the library.

As currently setup, we can't set empty values at all on Create or Update methods.  For example, this won't work to remove the description from an existing repository:

[code]

That is actually a no-op because the empty Descr

[2013-07-21 15:13] yml opened #22 "Paginated client.Issues.List"
The [github api documentation](http://developer.github.com/v3/issues/)  shows that the `/issues` api endpoints are paginated.

The pagination is information is returned in the header like this:

[code]

Unfortunately as far as I can tell the `go-github` package do not expose this information.
[`listIssues`](https://github.com/google/go-github/blob/ff28d73a4babd5f7a78fbd9e4c546120cc85b3a9/github/is

[2013-07-31 22:08] willnorris opened #24 "reorganize code into separate files per API"
@wlynch92's [comment](https://github.com/google/go-github/pull/23#issuecomment-21897951):

[2013-07-31 23:22] willnorris opened #25 "watcher and star APIs"
There's no rush on this, I'm just leaving a note for whoever ends up implementing the watcher and star APIs, since I just noticed this.  These APIs are going through a [3 phase transition](http://developer.github.com/changes/2012-9-5-watcher-api/), during which the meaning of the term "watcher" is changing.

I haven't actually read though the transition plan closely enough to know which phase we'r

[2013-07-31 23:36] willnorris opened #26 "search API"
starting work on the new [search API](http://developer.github.com/v3/search/)

[2013-08-01 20:05] #24 closed, assigned to wlynch

[2013-08-01 21:35] #22 closed, assigned to nobody

[2013-08-05 23:43] #26 closed, assigned to nobody

[2013-08-08 14:59] wlynch opened #33 "Adding Repository Collaborators API"
I am going to start adding the Repository APIs that are currently not implemented. First up is [Collaborators](http://developer.github.com/v3/repos/collaborators/).

I'll be making separate issues for these APIs so others can hop in on other Repository APIs if/when they want.

[2013-08-08 22:12] wlynch opened #35 "Change Check*() and other related functions to Is*()"
As discussed in issue #34, the convention that has been previously used to name functions that check if something exists in a given state has been Check*(). For example, [CheckAssignee()](https://github.com/google/go-github/blob/master/github/issues_assignees.go#L28).

In order to make these more consistent to the style of the go stdlib functions (see [math](http://golang.org/pkg/math/) and [os](h

[2013-08-15 19:14] wlynch opened #37 "Missing Repository APIs"
Might as well make this one large issue and cross things off as we go instead of making 1 issue per API. There are still a few APIs missing for the [repository service](http://developer.github.com/v3/repos/):
- [x] Repository
- [x] Collaborators
- [x] `Comments` : @wlynch92
- [x] `Commits`: @ktoso
- [x] Contents
- [x] Forks
- [x] Keys: @willnorris
- [x] Hooks
- [x] Merging
- [x] Releases
- [x] Sta

[2013-08-20 20:52] #19 closed, assigned to nobody

[2013-08-20 21:03] willnorris opened #45 "add Getter methods for data structures"
as part of resolving #19, all data structures now use pointer field values.  To ease the burden on developers to constantly perform nil checks, we should generate `Get*()` funcs on all our data structures, similar to what goprotobuf does.  If a field is non-nil, return it.  Otherwise, return the zero value for that type.  So for example,

[code]

Go provides good capabilities to read and manipulat

[2013-08-20 22:32] #33 closed, assigned to wlynch

[2013-08-20 22:45] #8 closed, assigned to nobody

[2013-08-20 22:46] #35 closed, assigned to nobody

[2013-08-20 22:47] #1 closed, assigned to wlynch

[2013-08-20 23:02] willnorris opened #46 "starting work on user followers"
http://developer.github.com/v3/users/followers/

[2013-08-20 23:33] #46 closed, assigned to nobody

[2013-08-26 23:34] willnorris opened #50 "simplify construction of request URLs"
opening this bug to track implementation of using URI templates to simplify construction of request URLs.  Original description at jtacoma/uritemplates#3

The gist of it is that I'd like to go from this:

[code]

to something more like this:

[code]

or possibly something even simpler with a little more work.

[2013-09-05 16:52] willnorris opened #55 "add tests for resource JSON marshalling"
see 5f1c20afed08516e098c13fd0a94a74be0d573c3 for more details

[2013-09-20 19:36] willnorris opened #58 "methods return non-nil resources on error"
take for example:

[code]

If `foo/bar` is not a valid repository, I would expect repo to be nil.  Currently, it's set to an empty (but non-nil) `Repository`.  I guess I just didn't really think about this when setting things up initially.  This should be fixed throughout the library.  It won't require changing any method signatures, just some behavior.

[2013-09-22 17:19] kevinburke opened #59 "Channel interface"
Hi,
I'm writing a similar library to this one for a different project. I'm curious about how you'd choose to implement paging via channels, if you wanted to do this.

Particularly I am wondering about how you'd pass errors through. Consider if the API goes down or exceeds the timeout while you are paging. It would be bad to not handle this case - I suppose you could just close the channel in the e

[2013-09-24 18:46] #58 closed, assigned to nobody

[2013-09-24 21:17] #50 closed, assigned to nobody

[2013-11-21 04:19] tchap opened #71 "Add support for Git refs"
Not much to say, http://developer.github.com/v3/git/refs/

I am already [working on this](https://github.com/tchap/go-github/commit/7504302d59f1871869ba5985b616532f1b99861c) and I will create a pull request once I push some tests.

I noticed that there is issue #51 open for tags support. We may define the same stucts, namepy `GitObject`, so I guess the one being merged later will have to modify hi

[2013-12-02 19:06] willnorris opened #73 "expand support for pagination across all endpoints"
From http://developer.github.com/v3/repos/commits/:

go-github currently assumes index based pagination using the `page` URL parameter.

[2013-12-12 00:44] kjk opened #74 "Support pagination for listing gists"
The required change is trivial:

[code]

[2013-12-21 09:55] fluffle opened #75 "Creating an Issue with an Assignee fails with '422 Validation Failed'"
The Assignee field in the create request is of type 'string', while the Issue struct has a full User struct. If you do something like this (note: sp() creates a string pointer):

issue := &github.Issue{
    Title: sp("My new bug."),
    Body: sp("Some text describing that bug..."),
    Assignee: &github.User{Login: sp("fluffle")},
}

when this is serialized to JSON the 'assignee' field will contai

[2014-01-03 18:34] #75 closed, assigned to nobody

[2014-01-31 12:53] unknwon opened #79 "Using pointers all over the places?"
I'm just curious, even for bool, int and string, is there any specific reason for doing this?

Thanks!

[2014-01-31 13:04] #79 closed, assigned to nobody

[2014-03-07 13:34] tchap opened #81 "Issue struct is missing the URL field"
This is particularly important if you want to process issue events coming from GitHub webhooks. There is no other way how to detect the source repository other than parsing the issue URL.

I will personally take care of this if there are no issues with simply adding `URL` field to the `Issue` struct.

[2014-03-19 13:37] kalimatas opened #84 "Add support for milestones API"
http://developer.github.com/v3/issues/milestones/

[2014-03-31 16:56] #81 closed, assigned to nobody

[2014-04-07 22:03] #71 closed, assigned to nobody

[2014-04-08 10:23] tchap opened #91 "Make it easier to create commit statuses from pull requests"
This just saves some code. The thing is that in the pull request object, there is a field called `statuses_url`, which can be directly used to create new commit statuses. The current API implements `CreateStatus`, which internally generates the same URL, the user just has to take care of getting the right ref, which is, however, already supplied in `statuses_url`. So it could make sense to impleme

[2014-04-08 15:18] #91 closed, assigned to nobody

[2014-04-09 01:38] kyleconroy opened #95 "Add PullRequest to Issue struct"
If an issue has a pull request, a pull request JSON payload is returned. That JSON payload should be parsed into a PullRequest struct and attached to the Issue.

[2014-04-09 02:59] chrisjs opened #96 "Spreadsheet updates"
- Repos -> List Branches can be marked as "Done" - merged PR #86

Also the following are deprecated API's:
- Downloads (replaced with Releases, not on spreadsheet) -> Replace w/ Releases?
- Legacy search (replaced with completed "Search" spreadsheet group) -> Remove?

[2014-04-09 22:04] willnorris opened #98 "Add integration tests"
This is an ongoing work item to add integration tests for the entire library.  Unlike the existing unit tests that spin up a local HTTP server that mimics certain behavior of the API, these integration tests will call against the live GitHub API.  As such, they will likely take a lot longer to execute and will not be run near as often.  I've set things up with aff0a13d884ff5dc09bccb6c1ce081a82213b

[2014-04-10 15:34] #96 closed, assigned to nobody

[2014-04-10 17:43] #3 closed, assigned to nobody

[2014-04-10 17:49] #6 closed, assigned to nobody

[2014-04-10 18:19] #74 closed, assigned to nobody

[2014-04-10 18:22] #59 closed, assigned to nobody

[2014-04-10 18:53] #25 closed, assigned to nobody

[2014-04-10 19:13] willnorris opened #99 "switch repos_stats.go to use Timestamp"
@ttacon: I found the time type I was thinking of in #94 ... it's our own [`Timestamp`](https://github.com/google/go-github/blob/master/github/timestamp.go) type... it supports unmarshaling from either unix or RFC timestamps.  Could you look into updating the repo stats to use that where appropriate?

[2014-04-12 00:46] #99 closed, assigned to ttacon

[2014-04-15 02:39] willnorris opened #101 "expand docs for listing issues and PRs"
https://developer.github.com/changes/2014-02-28-issue-and-pull-query-enhancements/

[2014-04-18 05:47] #73 closed, assigned to nobody

[2014-04-18 05:48] #84 closed, assigned to nobody

[2014-04-23 15:53] willnorris opened #103 "add missing struct fields"
With the new [fields tool](https://github.com/google/go-github/blob/master/tests/fields/fields.go), it's now quite easy to identify which JSON fields are not being mapped into our resource structs.  Most of these are API URLs, but there are also a handful of other fields that got overlooked.

Originally, I had pushed back a bit on adding the API URLs since this library doesn't use them at all.  I'

[2014-04-28 14:46] #10 closed, assigned to nobody

[2014-05-24 15:32] pwaller opened #106 "Easy way to patch an issue?"
Given an `Issue`, I want to comment or patch on it. However, to do that I need `owner`, `repo` and `number`, which are buried in the `*issue.URL`. It would be nice if either issues had `CreateComment` and `Edit` methods which received a `*Client`, or if they had a method to obtain those three fields easily.

[2014-05-31 04:25] rgbkrk opened #109 "Provide access to text match metadata option in search"
[Text match metadata](https://developer.github.com/v3/search/#text-match-metadata) returns context on what matched in code search.

![](https://f.cloud.github.com/assets/865/819651/959a4826-efb5-11e2-8af8-46c4a3857cdf.png)

It's the same API that GitHub is using when you search on the site (or so I suspect by how they wrote their documentation).

To get this metadata, we just have to supply the `t

[2014-06-02 22:01] #109 closed, assigned to nobody

[2014-06-04 12:11] tbruyelle opened #113 "Mocking go-github"
I would like to write tests for an app that uses a lot `go-github`.

For instance I would like to mock some methods in the `client.*Services` structs. Is this possible with the current usage of structs ? Wouldn't it be preferable that the client struct holds some interfaces rather than some structs ? With interfaces, mocking is very easy with struct embedding.

[2014-06-10 21:59] imeyer opened #116 "Accessing the attribute "login" from GetBranch"
Hi,

I'm trying to get at the `login` attribute within `author` that's nestled between `commit` and `parents`. I don't see any of the structs supporting that. I'm more than happy to submit a patch to enable this, I'd just like a bit of input before I go hacking like crazy. If you happen to know a method by which you can access it, I'd be very grateful.

Here's what github's API specs say is return

[2014-06-11 08:26] domjansen opened #117 "Using Github Search Api does not work with complex search string"
When i try to search against the Github api using the [github example](https://developer.github.com/v3/search/#search-code) i get an 422 error.

In go code this looks like:

[code]

The error looks like:

[code]

The Problem is that go encodes the query string and not only the params.
The Github Api isn't able to deal with such queries.

Go generated url:

[code]

=> does not work

Same curl witho

[2014-06-11 13:38] #116 closed, assigned to nobody

[2014-06-11 17:06] rgarcia opened #119 "authorizations API support"
https://developer.github.com/v3/oauth_authorizations/

One tricky part is that it only accepts basic auth, so I think it'd require users of the library to implement a simple RoundTripper that added this header (and then use that as the HTTP client transport for go-github).

[2014-06-12 11:29] #117 closed, assigned to nobody

[2014-07-01 17:04] suryagaddipati opened #122 "go test fails with: cannot use "StatusBadRequest" (type string) as type *testing.T in function argument"
On latest code on master

[code]

I get test failures

[code]

[2014-07-11 16:14] vvo opened #124 "custom access_token"
Hi, I have made a simple library for webapp to get access_token to then be able
to be used with your library: https://github.com/vvo/go-ghoauth

Reading your https://github.com/google/go-github#authentication it seems that we need
to create an http client etc.. Do you think it would be a good idea to be able to simply do `client.AccessToken = "token"`

?

[2014-07-12 09:18] #124 closed, assigned to nobody

[2014-07-18 12:54] mattlandis opened #126 "TeamId missing from create organization repo"
When trying to create a private repo for an organization I got the following error form github:

[code]

While it isn't documented as required for organizations the error message seams to indicate that it is.  https://developer.github.com/v3/repos/#create

I have a PR ready if this is indeed a bug and I am not missing something.

https://github.com/mattlandis/go-github/compare/add-team-id

[2014-07-22 18:30] #126 closed, assigned to nobody

[2014-07-22 20:53] #122 closed, assigned to nobody

[2014-08-06 20:46] sergeypavlenko opened #130 "Git commits"
HI all

I'm try get and output list commits, but this does not work:

[code]

Error code:

[code]

Please tell me what's wrong? How do I turn to one of the commits in the array?

var commits - not empty.

[2014-08-07 16:47] #130 closed, assigned to nobody

[2014-08-15 11:07] pwaller opened #131 "webhook: cannot unmarshal string into Go value of type github.Organization"
I've got code that looks like this:

[code]

Which when github sends its payload results in an error:

[code]

I think this is because the `repository` field on the Body has `organization: "string"`, whereas the `WebHookPayload` has a [`Repository`](http://godoc.org/github.com/google/go-github/github#Repository) whose organization field is a `*Organization`.

Should this work? Have I made a mistak

[2014-09-01 08:54] 1l0 opened #133 "Reference.Ref should be same between GetRef and UpdateRef"
[code]

ref.Ref is "refs/heads/master"

[code]

here it needs "heads/master"

[code]

I think this should work.
Either is wrong?

[2014-09-04 15:09] #133 closed, assigned to nobody

[2014-09-18 01:02] sqs opened #136 "Enable Sourcegraph"
I want to use [Sourcegraph code search and code review](https://sourcegraph.com) with go-github. A project maintainer needs to enable it to set up a webhook so the code is up-to-date there.

Could you please enable go-github on @Sourcegraph by going to https://sourcegraph.com/github.com/google/go-github and clicking on Settings? (It should only take 15 seconds.)

(BTW, these webhooks are, of cours

[2014-09-18 02:56] #136 closed, assigned to nobody

[2014-09-24 23:59] dlapiduz opened #138 "Deployments API"
@willnorris I see in the roadmap that the deployments API is in progress. Is there anywhere that I can check that out?

Thanks!

[2014-10-13 15:48] tyndyll opened #141 "Create a Command Line Binary for Simple Github Access"
Create a simple binary that can be used to interact with Github via the API. This can be a useful tool for command line devs who can (for example) check for open PR's on their projects or view new comments without leaving their terminal (as well as being able to pipe into other Unix tools).

It has the additional benefit of providing additional examples to users wishing to implement the library

[2014-10-15 03:13] #138 closed, assigned to nobody

[2014-10-15 03:16] #37 closed, assigned to nobody

[2014-10-18 00:40] yulvil opened #143 "activity_events.go: comitempty -> omitempty"
There are 2 instances of `comitempty` in `activity_events.go`. Is that a typo? I could not find any reference to `comitempty` in the go source code.

[code]

[2014-10-18 01:49] #143 closed, assigned to nobody

[2014-11-04 21:35] beyang opened #146 "Add endpoint for user teams (/user/teams)"
I'd like to add a method for getting a user's teams: https://developer.github.com/v3/orgs/teams/#list-user-teams. Following the format of the GitHub docs, this should be a method on OrganizationsService, but it might also make sense on UsersService. I'm open to suggestions either way.

[2014-11-04 21:36] #146 closed, assigned to nobody

[2014-11-20 20:31] ImJasonH opened #152 "Make it easer to detect rate limit errors"
The GitHub API [returns rate limit information in HTTP response headers](https://developer.github.com/v3/#rate-limiting) for every request.

It might be useful if the GitHub client (optionally) inspected those values and proactively avoided hitting rate limits by blocking a subsequent request until it thinks it will have quota, then [checking that it does indeed have quota](https://developer.githu

[2015-01-16 22:14] ImJasonH opened #162 "CreateCommit takes incorrect Tree type"
https://developer.github.com/v3/git/commits/#create-a-commit

The JSON body takes a tree's SHA as a string, and returns a commit including the tree's URL and SHA (i.e., mapping to the [`Tree`](http://godoc.org/github.com/google/go-github/github#Tree) struct)

The go-github method takes a `Commit` and returns a `Commit`, which defines the Tree
Contrast with the code in [git_commits.go](https://gith

[2015-01-16 22:46] ImJasonH commented on #162
Nevermind, I belive this is handled correctly by translating the `Commit` into the internal `createCommit` struct before making the request.

[2015-01-16 22:46] #162 closed

[2015-01-21 18:00] willnorris commented on #152
As discussed in #153, automatically throttling the application is not the right behavior for this library.  However, we could make it a little easier for applications to detect rate limit errors (basically a 403 response with zero rate.Remaining) so they can respond appropriately.

[2015-02-21 11:46] pwaller commented on #106
Since I've not had any response in a long while, I'm closing this.

[2015-02-21 11:46] #106 closed

[2015-02-21 11:54] pwaller commented on #131
How is it a bug in the Github API? If it were, is it something they can fix without breaking all existing clients of the API?

But I also don't understand how anyone is successfully using this code to receive push payloads currently.

[2015-02-21 12:59] USA24 commented on #106
PicsArt_1424503997020.png - https://docs.google.com/file/d/0B9Q-xeAP4U32d2tRR1oydTJudWM/edit?usp=docslist_api

[2015-02-21 13:04] USA24 commented on #106
https://docs.google.com/file/d/0B9Q-xeAP4U32d2tRR1oydTJudWM/edit?usp=docslist_api.USA24

[2015-02-21 14:09] USA24 commented on #106
http://witter.com/#supported_languages

[2015-02-21 14:10] USA24 commented on #106
http://witter.com/#supported_languageUSA24

[2015-02-23 10:53] stevedomin commented on #131
It's not really a bug but an annoying inconsistency, ideally you would want the representation of a resource to be the same across endpoints, especially when you are using a language like Go.

I ran into a similar issue here: https://github.com/google/go-github/pull/158

[2015-02-26 02:44] begizi opened #165 "goauth2 is deprecated"
golang.org/x/oauth2 should be supported in it's place.

[2015-02-26 04:24] willnorris commented on #165
yep.  @kjk started to update links in #163, but we need to update the sample code as well.  Feel free to send over a PR, or otherwise I'll get to it when I can.

[2015-02-26 14:04] begizi commented on #165
PR at #166

[2015-03-07 22:34] parkr opened #168 "Default commit message?"
Hey!

I'm looking to merge pull requests while using the default merge message. Is there a way to call `client.PullRequests.Merge` without supplying a commit message so it defaults? I don't want to include an empty string for fear that it'll cause empty or otherwise undesired commit messages. Is passing `""` the ticket to defaulting?

Thanks :)

[2015-03-08 09:56] willnorris commented on #168
Not sure what will happen if you pass an empty string in that case. Try in a test repo and find out? :)

[2015-03-11 08:19] parkr commented on #168
Hm! Turns out if you *do* send something, it will just stick it at the bottom of your automatic commit message:

[code]

[2015-03-11 08:19] #168 closed

[2015-03-12 05:41] AustinDizzy opened #169 "OAuth token leakage in error messages"
OAuth tokens are leaked in Go errors. The errors contain the full URL which contains `client_id` and `client_secret` and can be leaked to a user or easily passed on to someone who shouldn't see it.

Shouldn't it be sanitized from the URL - basically just remove the `client_id` and `client_secret` fields and their respective values from the error string - to prevent those from being leaked to an en

[2015-03-12 23:16] dmitris commented on #165
very timely considering the upcoming code.google.com sunset! :smile:

[2015-03-14 20:48] willnorris commented on #169
The more annoying part here is that GitHub requires that we send these credentials as query parameters.

@pengwynn @izuzak,

I sent an email about this back in June 2013, which I'll copy below:

Any hope of supporting this?  Or maybe some variant of HTTP Basic Auth using the client ID and secret?  Anything that prevents us from having to put credentials in query parameters?

[2015-03-15 16:09] pengwynn commented on #169
No update, but better app-level authentication is on the radar. As a workaround, most clients opt for a scope-less token for these type of scenarios.

[2015-03-28 19:27] yisiper opened #173 "Struct field `json:"xxx,omitempty"` return nil when reference"
I am trying to get github user repositories
https://gist.github.com/yisiper/48ea8ddc9c48d97e7a9f

Not all repositories return it's language , the return json may just {language : null}, thus the pointer in struct point to nil.

it need to do many pointer nil checking before use those field.
Is it possible to let the default type initialized?
says string should be "", int should be 0.

ref: https:/

[2015-03-29 16:18] freddd opened #174 "DiffURL & PatchURL is not available in PullRequest struct"
I need to access the diff and patch urls that is being returned in the json structure but these attributes are currently not available in the PullRequest struct.

I will submit a pull request shortly that solves this issue.

[2015-03-31 03:01] kylebrandt opened #176 "json unmarshal error from ListIssueEventsForRepository"
Maybe I'm doing something wrong?

[code]

Returns:

[code]

[2015-03-31 05:27] yisiper commented on #176
The API and library doesn't match.
https://github.com/google/go-github/blob/master/github/activity_events.go#L153

[code]

if you want this API
https://developer.github.com/v3/issues/events/#list-events-for-a-repository
try use this ``` Issues.ListRepositoryEvents ```
https://github.com/google/go-github/blob/master/github/issues_events.go#L88

[2015-04-07 09:33] achun opened #177 "issues_labels.go: typo of doc"
typo GitHib

[code]

[2015-04-07 19:54] tarrant opened #178 "Add support for organization webhooks"
Github added support for organization wide webhooks. This is mostly a copy-pasta job of the repo-specific webhooks.

Link to docs: http://developer.github.com/v3/orgs/hooks/

I have a patch and am investigating if my corporation has already signed the CLA, and if not getting it signed. If on the other hand someone can replicate my work faster than I get the CLA signed I'm all for that.

[2015-04-08 23:07] moutons opened #179 "Add support for Enterprise interfaces"
in the [godocs](https://godoc.org/github.com/google/go-github/github) for go-github there are a few references to using it with GitHub Enterprise instances, but I don't see reference to the management tasks other than [PromoteSiteAdmin](https://github.com/google/go-github/blob/master/github/users_administration.go#L13). It would be nice to be able to use go-github to work with some interfaces like

[2015-04-09 23:08] rsc commented on #173
I use helpers like this in my own code using this package:

	func getInt(x *int) int {
		if x == nil {
			return 0
		}
		return *x
	}

	func getString(x *string) string {
		if x == nil {
			return ""
		}
		return *x
	}

	func getUserLogin(x *github.User) string {
		if x == nil || x.Login == nil {
			return ""
		}
		return *x.Login
	}

	func getTime(x *time.Time) time.Time {
		if x == nil {
			retu

[2015-04-09 23:11] rsc opened #180 "replace []Issue with []*Issue"
In general having slices of large structs is awkward because it means that when you range over the slice, you either have to write:

    for i := range list {
        x := &list[i]
        ...
    }

or you write

    for _, x := range list {
        ...
    }

and put up with the fact that (1) the iteration is doing a (more expensive than pointer copy) struct copy  for each element and (2) you ca

[2015-04-09 23:44] rsc opened #181 "IssuesService.Edit cannot clear an issue's labels"
IssuesService.Edit sends an IssueRequest, which has Labels []string, with omitempty. Unfortunately this means that the JSON serialization never sends an empty Labels, so you cannot send the JSON to clear an issue's labels this way. If you dropped omitempty, you'd have the other problem, that you can't leave an issue's labels alone. The right fix is probably to use a *[]string for this field. In so

[2015-04-10 12:01] tbruyelle commented on #181
HTTP PATCH requests and golang are a terrible mix.

[2015-04-19 09:30] #5 closed

[2015-04-28 14:53] #181 closed

[2015-04-28 15:00] willnorris commented on #173
Unfortunately, there's not an easy solution to this.  #19 certainly does have all the discussion that led to this design, but I also [wrote about it here](https://willnorris.com/2014/05/go-rest-apis-and-pointers) if you're interested.

The best solution will be to implement #45, which is what the proto library does.  `go generate` didn't exist when I originally filed that issue, so it would actual

[2015-04-28 15:00] #173 closed

[2015-04-28 18:00] #177 closed

[2015-04-28 18:01] willnorris commented on #165
fixed in #166

[2015-04-28 18:01] #165 closed

[2015-04-28 20:11] willnorris commented on #113
I'm going to go ahead and close this out, as there's no work to be done.  The above mocking strategy described in my last comment (where the application itself defines the interfaces which go-github implements) is used heavily inside Google, both for go-github and lots of other libraries, and it's worked really well for us.

[2015-04-28 20:11] #113 closed

[2015-04-28 20:12] willnorris commented on #174
fixed in #175

[2015-04-28 20:12] #174 closed

[2015-04-28 20:12] willnorris commented on #169
fixed in #170

[2015-04-28 20:12] #169 closed

[2015-04-28 22:59] #178 closed

[2015-04-29 23:04] willnorris opened #184 "Test repository redirects"
`http.Client` should handle following the redirects for us, but we should add a test case anyway.

Announcement: https://developer.github.com/changes/2015-04-17-preview-repository-redirects/

[2015-04-29 23:06] willnorris opened #185 "Add support for Licenses API"
Announcement: https://developer.github.com/changes/2015-03-09-licenses-api/
Docs: https://developer.github.com/v3/licenses/

[2015-04-29 23:08] willnorris opened #186 "Add support for new Releases API methods"
Announcement: https://developer.github.com/changes/2015-02-18-new-releases-api-methods/

[2015-04-29 23:20] parkr commented on #185
Working on this now.

[2015-04-29 23:25] willnorris opened #187 "Support organization permission changes"
Announcement: https://developer.github.com/changes/2014-12-08-organization-permissions-api-preview/

Tasks:
- [x] allow fetching org repos from List Repositories endpoint (patch: #200)
- [x] update Org Membership methods to take a username argument (they currently only work with the authenticated user)
- [x] add `role` field to `ListMembersOptions`
- [x] add docs to `Membership.Role` field

----

[2015-04-29 23:27] willnorris opened #188 "Add support for updated starring API"
Announcement: https://developer.github.com/changes/2014-12-09-new-attributes-for-stars-api/

[2015-04-29 23:29] willnorris opened #189 "Stop using custom media type for deployments API"
Deployments API is now official: https://developer.github.com/changes/2014-11-25-the-deployments-api-is-official/

[2015-04-29 23:34] willnorris opened #190 "remove AddTeamMember method"
this method is slated to be removed from the API: https://developer.github.com/changes/2014-09-23-one-more-week-before-the-add-team-member-api-breaking-change/

[2015-04-29 23:37] willnorris opened #191 "Add support for Feeds API"
huh, not sure how I never noticed this one before... I'm not entirely sure when it was added.

Docs: https://developer.github.com/v3/activity/feeds/

Notably, this method requires basic auth, so we'll need to have a recommended way for clients to do that, whether we actually provide a `BasicAuthTransport` ourselves or not.  (see also: https://github.com/google/go-github/issues/119#issuecomment-622

[2015-04-29 23:42] willnorris opened #192 "Stop using custom media type for Memberships API"
Memberships API became official back in September: https://developer.github.com/changes/2014-09-16-finalizing-the-organization-and-team-membership-apis/

[2015-04-30 14:22] #190 closed

[2015-04-30 14:24] #189 closed

[2015-04-30 14:30] #192 closed

[2015-04-30 15:47] willnorris commented on #45
Not yet starting work on this, but capturing some thoughts...

Go 1.4 added the `go generate` command which will make this a bit simpler (blog post: https://blog.golang.org/generate).  The stringer command (https://golang.org/x/tools/cmd/stringer) should provide a nice starting point for writing a tool to generate accessor methods on our structs.

One question though is how to identify which struc

[2015-04-30 17:46] parkr commented on #45
@willnorris Seems like a lot of work! I have been using Go's protobuf support recently to achieve this. Not only do you get the getters and setters for free, but you get a sweet new serialization format too! We have found it really nice at work. Maybe it's strange to define a `.proto` file for the primary purpose of generating setters and getters, but it'll do the job!

[2015-04-30 17:53] willnorris commented on #45
@parkr Are you using protoc generated code in addition to hand-written structs, or instead of?

[2015-04-30 18:05] willnorris commented on #45
Just to cut to the chase on why I ask... we tried to use protos for go-github but ran into lots of problems (see #19, notably https://github.com/google/go-github/issues/19#issuecomment-22140352 and https://github.com/google/go-github/issues/19#issuecomment-22218034).

We could use protoc just to generate accessor methods but that creates two ongoing maintenance problems:
 - `github.proto` would ha

[2015-04-30 18:19] willnorris commented on #45
though, it's also worth mentioning that I haven't looked at proto3 very closely and what its generated Go code looks like.  There were some pretty big changes around the nullability of fields... basically, they take the Go approach and use the zero value for the type for unset fields.  They handle nullability by having [wrapper types](https://github.com/google/googleapis/blob/master/google/protobu

[2015-05-01 02:22] parkr commented on #45
The former. Your reasoning is sound – it sounds like you've been down this road. Just thought I'd throw that out there. :smile:

[2015-05-01 15:32] #185 closed

[2015-05-06 11:12] victorcoder opened #197 "Problem creating a deployment"
The problem is in the definition of the `RequiredContexts` field in `DeploymentRequest` struct.

As per create deployment docs:

The `omitempty` in [this struct field](https://github.com/google/go-github/blob/master/github/repos_deployments.go#L33) makes impossible to bypass the checkings.

[2015-05-06 15:26] willnorris commented on #197
sounds like we need to use a `*[]string`, similar to what was needed in #181.  Want to send a pull request?

[2015-05-06 15:30] victorcoder commented on #197
@willnorris yeah it looks the same. Sure, I'll craft the PR and tests

[2015-05-06 17:11] parkr commented on #197
Fixed?

[2015-05-06 17:12] willnorris commented on #197
oops, yeah.  Fixed in b2f8d2ec4070d3535b493308749e1c1f5c6c8e55

[2015-05-06 17:12] #197 closed

[2015-05-12 08:46] cburmeister commented on #6
@willnorris is there a way to specify a media type for `GetContents`?

[code]

As is the `contents` are base64 encoded.

[2015-05-12 14:13] willnorris commented on #6
We don't currently expose that for `GetContents`, but it wouldn't be too hard to add it to the existing [RepositoryContentGetOptions](https://godoc.org/github.com/google/go-github/github#RepositoryContentGetOptions)... just add a `MediaType` field like in the example above, then switch on that inside the method to set the Accept header.

Do you wanna take a pass at that?

[2015-05-12 16:56] parkr commented on #6
What about a global toggle for each feature?

[code]

[2015-05-12 17:05] willnorris commented on #6
@parkr this is a bit different than the media types that are used to enable pre-released APIs.  In those cases, we intentionally try to just enable those APIs transparently so that users of the library don't even realize that it's sending a custom media type.  So far this has worked well, and we haven't had any conflicts between multiple pre-release APIs running on the same endpoints.

What @cburm

[2015-05-12 17:11] parkr commented on #6
Ah! I misunderstood. Thanks for the explanation.

[2015-05-12 17:17] willnorris commented on #6
actually... @cburmeister, have you seen [Repositories.DownloadContents](https://godoc.org/github.com/google/go-github/github#RepositoriesService.DownloadContents)?  It was just added a [couple of weeks ago](https://github.com/google/go-github/pull/183).  If you're mainly interested in the raw contents, It might work better since it handles files over 1 Mb in size (GetContents does not), and has a

[2015-05-17 16:09] rubenvereecken commented on #188
I'd like to tackle this one to get a feel for the project. I've already tracked the location of the code currently responsible for listing a user's starred repositories.

What would be the best way to support the new attributes (currently just `starred_at`)? GitHub allows a custom `Accept` header to request a different format. My guess would be to have this behavior controlled by the `ActivityList

[2015-05-18 20:34] willnorris commented on #188
yeah, this should be a good issue to get started with.  Most of the time with preview APIs like this, we just enable them by default if we can and don't bother adding an option for it.  In this particular case, it seems kinda silly that they put this behind a custom media type at all, since all it seems to be doing is adding a single field in the response to a single method.

Take a look at how th

[2015-05-20 18:33] willnorris commented on #188
fixed in #199

[2015-05-20 18:33] #188 closed

[2015-05-22 16:48] captncraig commented on #187
#200 provides a way to support organization repos in the List Repositories endpoint.

[2015-05-26 14:56] willnorris commented on #187
thanks for starting on the ListRepositories changes.  I've update the issue to list some of the other things that I think need to happen for this as well if you (or anyone else) want to tackle those.

[2015-05-26 15:18] #186 closed

[2015-06-03 08:15] rubenvereecken commented on #95
Is this still considered open? It sounds pretty straightforward.

[2015-06-03 22:55] Bowbaq opened #207 "Dowloading release assets"
I'm trying to use `go-github` to download assets from a release. Here's the code I have:
[code]
It seems the GitHub API redirects to a pre-signed URL for an S3 bucket, but I'm getting a `400` error, and I can't quite figure out why. Any help would be much appreciated.

[2015-06-04 22:08] Bowbaq commented on #207
After some fiddling around, it seems the issue is that following the redirect to S3 using the oauth http client fails. Here's my workaround so far:
[code]

[2015-06-13 20:04] willnorris opened #212 "add support for updated meta endpoint"
announcement: https://developer.github.com/changes/2015-06-11-pages-a-records/

[2015-06-13 21:46] #212 closed

[2015-06-17 20:26] willnorris opened #215 "add support for new list all orgs method"
announcement: https://developer.github.com/changes/2015-06-17-organizations-endpoint/
docs: https://developer.github.com/v3/orgs/#list-all-organizations

[2015-06-17 20:28] willnorris commented on #215
notably, this is not using indexed based pagination.  This emphasizes all that much more of how we need a better story around using link headers for pagination.  See also #206

[2015-06-23 23:15] keyneston opened #217 "go-github incorrectly builds URLs when attempting fetching directory contents"
If you call `(s *RepositoriesService) DownloadContents` on a file in the root directory of a repo on github enterprise it will get the dirname, `dir := path.Dir(filepath)`. It then passes this "dir" into `(s *RepositoriesService) GetContents`.

GetContents builds its urls using fmt.Sprintf:

[code]

When it does this you end up with a url that looks like:

[code]

Due to a bug in github (enterpris

[2015-06-24 17:23] willnorris commented on #217
Ah, interesting.  An alternative approach, which would fix this from ever happening anywhere else in the library is to call `path.Clean` inside [NewRequest](https://github.com/google/go-github/blob/fccd5bb66f985db0a0d150342ca0a9529a23488a/github/github.go#L154), since that's all path.Join does to remove duplicate slashes.  I can't think of a scenario where we would ever intentionally want to inclu

[2015-06-24 17:26] willnorris commented on #217
One thing to be careful of is that path.Clean always removes trailing slashes which may not be desirable.  For example, [here's how `http.cleanPath` handles that]( https://github.com/golang/go/blob/703166ea14e510a4aee805f956475570130f2df2/src/net/http/server.go#L1517-L1521)

[2015-07-05 01:59] willnorris opened #218 "Add support for new organization permission APIs"
announcement: https://developer.github.com/changes/2015-06-24-api-enhancements-for-working-with-organization-permissions/

[2015-07-05 03:44] willnorris opened #219 "drop org permission content type"
The new org permission API changes are now official: https://developer.github.com/changes/2015-06-24-breaking-changes-to-organization-permissions-are-now-official/

[2015-07-06 15:32] #219 closed

[2015-07-06 15:34] willnorris commented on #218
closing this issue, and instead adding it to the existing list of org permission work in #187

[2015-07-06 15:34] #218 closed

[2015-07-06 20:52] willnorris commented on #187
missed adding ref on commits 2b11c0d910bd9e1a4d9276371ae0606006d3eb44 and 4476aa45b5f735de27fd5e87fb3d9eaf831c9248

[2015-07-06 21:19] willnorris commented on #187
Pretty sure this is now all covered so marking as closed.

[2015-07-06 21:19] #187 closed

[2015-07-16 15:07] tchap opened #220 "PushEventCommit is not unmarshalled correctly"
`PushEventCommit` does not contain `sha`, it contains `id`, hence `*PushEventCommit.SHA` always panics. Don't have time to fix it now, will get to this tomorrow unless it is fixed by someone else...

[2015-07-16 15:37] tchap commented on #220
Well, what is that struct representing exactly? What I am using it for is the webhook payload, maybe it's not intended for that use case...

[2015-07-16 16:02] parkr commented on #220
Use github.WebHookPayload like here: https://github.com/parkr/jekyll-build-server/blob/master/jekyll-build-server.go

[2015-07-16 16:15] tchap commented on #220
Ah, my bad, overlooked that one. Thanks, @parkr !

[2015-07-16 16:15] #220 closed

[2015-07-24 03:08] mcqueenorama opened #225 "Basic Auth Tokens Integrated with Oauth Lib"
I have to get my oauth2 tokens via the basic auth api documented here:

https://developer.github.com/v3/oauth_authorizations/#create-a-new-authorization

I couldn't see a way to do it so I made a tokenSource and put in a pull request:

https://github.com/google/go-github/pull/221

I tried putting it into the oauth2 lib, but it doesn't meet the oauth2 spec, so they said to try to get it in over her

[2015-08-06 17:56] willnorris opened #228 "Add support for getting content of a repository's license"
announcement: https://developer.github.com/changes/2015-08-04-get-license-contents/
docs: https://developer.github.com/v3/licenses/#get-the-contents-of-a-repositorys-license

[2015-08-06 18:06] parkr commented on #228
Is this the raw output, i.e. with `Accept: application/vnd.github.drax-preview.raw` in the headers?

[2015-08-06 18:31] willnorris commented on #228
probably just duplicate the existing [`GetReadme`](https://github.com/google/go-github/blob/7277108aa3e8823e0e028f6c74aea2f4ce4a1b5a/github/repos_contents.go#L75-L94) with whatever changes needed to get the license.  It doesn't look like we get the raw content there, so I probably wouldn't here either.

[2015-08-06 18:32] willnorris commented on #228
(that of course assumes that the two methods are effectively identical on GitHub's side.  I think they are, but haven't looked closely)

[2015-08-23 11:21] jmburges opened #231 "Add Support for "Affiliation" in RepositoryListOptions"
In the [Github API Docs](https://developer.github.com/v3/repos/#list-your-repositories) there is a field for `affiliation` when doing a list of all your repositories. As far as I can tell, this doesn't exist in the `RepositoryListOptions` struct though.

Am I missing something?

[2015-09-11 19:54] ojarjur opened #232 "Add more more location-specific fields to the PullRequestComment struct"
Pull request comments have multiple fields that are important for the location of a comment but that are currently omitted from that struct:

    * diff_hunk: This is important as the position field is actually the position *within-the-hunk* rather than within the file.
    * original_commit_id: This is important, as "commit_id" tracks the pull request, so after additional changes are pushed to th

[2015-09-16 11:21] andygrunwald opened #234 "Reduce code duplication (DRY) in favor of interface casting?"
Hey,

this is not a real issue. More like a small discussion what you think about.
First of all thanks for this package. Very useful and well written.
After i had a look into the code i stumbled upon a lot of code duplication for very similar methods like

* define the url
* add options
* get a request
* allocate a pointer to a struct
* make the request
* return it

Like in:
[code]

All this can b

[2015-09-16 16:14] willnorris commented on #234
There was some discussion some time ago about refactoring some of that duplicate code... it's probably on a pull request or issue somewhere.  I think the way we had talked about doing it was to add a new method onto the `Client` type that combined the `NewRequest` and `Do` calls.  So, using a modified version of your func, something like:

[code]

One downside of this approach is that there are a

[2015-09-16 16:17] willnorris commented on #234
oh, you would also need to add the request body, so that would make the signature more like:

[code]

You should also be able to drop the returned `interface{}`... it's a pointer anyway, so the caller already has a copy of it.

[2015-09-16 16:20] willnorris commented on #234
ah, missed the http method too, so now you're up to:

[code]

[2015-09-16 16:21] andygrunwald commented on #234
Yes you are true.

But thanks for your answer. Your answer proves (to me) that there is no real technical issue here (as disadvantage).
Of course you can generalize it more and more, like making the method (GET, etc.) exchangeable as well.

[2015-09-16 16:23] andygrunwald commented on #234
For me this issue can be solved / closed, because you answered all my points.
And maybe a change in this direction would be a micro optimization, so this decision is more up to you. :)
But thanks for your feedback.

[2015-09-18 20:29] willnorris commented on #232
fixed in 08bb599b461f73841736d7269029562423ae9037

[2015-09-18 20:29] #232 closed

[2015-09-18 20:57] #234 closed

[2015-09-18 20:58] willnorris commented on #231
don't think you're missing anything... I just don't think that parameter existed with that part of the library was first written.

[2015-09-22 14:48] tchap opened #236 "IssuesService.Edit cannot clear an issue's milestone"
Much like #181 I fail to see how to use go-github to clear an issue's milestone. The API requires the milestone be to set to `null` in the request so that it is cleared, but that is not possible since the field uses `omitempty`.

Not sure what the right solution would be, perhaps a standalone method for clearing milestones?

[2015-09-23 14:54] noonien commented on #113
Could you please provide an example of a projects or code that mocks go-github, or a similar library in the manner that you suggest?

I've grepped trough [all the projects that import go-github](http://godoc.org/github.com/google/go-github/github?importers) and not a single one has managed to mock this library. The best effort I've seen just used a httptest and checked that the appropriate paths w

[2015-09-23 17:38] willnorris commented on #113
Unfortunately, all of the examples I have are internal Google projects which aren't open source.  But they use exactly the method described above together with gomock.

[2015-10-03 00:13] bradrydzewski opened #238 "add ListOptions to ListWatched"
I'd like the ability to provide `ListOptions` when getting the list of watched repositories:

[code]

I can have a pull request available next week

[2015-10-03 01:51] willnorris commented on #238
sounds good to me

[2015-10-17 09:42] sona-tar commented on #238
:+1:

[2015-10-20 14:27] bithavoc opened #242 "Support for Polling in ActivityService"
Since the activityservice is based in the [events](https://developer.github.com/v3/activity/events) endpoint we'd should be able to support `Etag` and `X-Poll-Interval`.

As [documentation](https://developer.github.com/v3/activity/events) says:

We'd need to somehow fit `Etag` as a new field of `ListOptions struct` and `PollInterval` as part of `Response struct`, candidate methods for such options

[2015-10-21 14:45] tchap opened #243 "IssueActivityEvent struct is missing the label field"
In case the event action is `labeled`, there is a `label` object included in the webhook. This is not accessible through `IssueActivityEvent` in any way. It should include `Label *Label` with `json:"label"`. Or is some other struct supposed to be used to unmarshal that webhook?

[2015-10-21 17:25] bithavoc commented on #243
:+1:

[2015-10-26 21:43] koding-bot opened #244 "Using wrong verb when adding member to organization"
`github_adduser.repo: PATCH https://api.github.com/orgs/koding/memberships/sent-hil: 404 Not Found` is coming from: https://github.com/google/go-github/blob/master/github/orgs_members.go#L243.

However Github api requires `PUT` instead of `PATCH` for that endpoint: https://developer.github.com/v3/orgs/members/#add-or-update-organization-membership

[2015-10-26 21:48] willnorris commented on #244
note that this func is covering two API methods: [updating your own membership](https://developer.github.com/v3/orgs/members/#edit-your-organization-membership) and [updating others' memberships](https://developer.github.com/v3/orgs/members/#add-or-update-organization-membership).  Either I didn't realize at the time that I wrote it that they took different HTTP verbs, or it has changed since?  Ei

[2015-10-26 21:49] willnorris commented on #244
err, I guess this is a bot account that reported this?  In that case, I'll fix it myself, unless you're a code-writing bot as well :)

[2015-10-26 21:52] #244 closed

[2015-11-05 12:00] glorieux commented on #242
:+1: I've ran into that exact use case.

I think option two is the best as it would not add extra fields to `ListOptions` and `Response` and users will then be able to select between a regular request like ListEvents or a pollable one based on their needs.

[2015-11-10 11:38] vsmart opened #246 "DownloadReleaseAsset fails."
Hi,

We are trying to a download a release jar with DownloadReleaseAsset.
It fails on this:

[code]

Could you point us in the right direction?
Thank you.

[2015-11-25 23:15] parkr commented on #131
@pengwynn Is this a known issue?

[2015-12-05 22:01] pengwynn commented on #131
@parkr yeah, and something we'd like to change in a future version.

[2015-12-17 23:59] selfcontained opened #251 "Add url prop to Hook struct"
When retrieving repo/org hooks, either by id or a list, the github api returns a `url` property.  Currently the `Hook` struct doesn't map this to a `URL` prop.  This would be really useful to expose, wondering if there is a reason it isn't currently?  I'm happy to open a PR to add this if not.

[2015-12-20 01:31] shurcooL opened #253 "github.Client is not safe for concurrent use; is that intended or a bug?"
From https://godoc.org/net/http:

https://godoc.org/github.com/google/go-github/github#Client makes no such claims, which is why I'm unsure if this is a bug or intended behavior.

However, given that it looks and feels a lot like `http.Client`, I thought it might also support concurrent use by multiple goroutines and for efficiency should only be created once and re-used.

That's not the case. If

[2015-12-20 02:12] willnorris commented on #253
It's certainly the case that a single client shouldn't be used to make calls on behalf of different users, since in most cases the auth token is baked into the `oauth2.Transport`.  As for data races surrounding c.Rate, that's a bug which I'd happily merge a patch for.  I don't know if there are other such race conditions, as I haven't used this myself to make concurrent calls very often.

[2015-12-20 03:16] shurcooL commented on #253
I see, thanks.

I want to make use of a single GitHub client for the same GitHub user/auth token, not different ones.

I'll try to make a patch and see if I find any other race conditions.

[2015-12-20 06:50] czxichen opened #254 "use go-github API clone a repo."
How do I use go-github API clone a repo?

[2015-12-20 16:04] willnorris commented on #254
you generally  wouldn't use go-github for that.  go-github is a client for the [GitHub API](https://developer.github.com/v3/), not the git protocol.

If you don't mind using cgo, [libgit2/git2go](https://github.com/libgit2/git2go) provides go bindings for libgit2, which is a very complete git library.  There's also [gogits/git](https://github.com/gogits/git) which is pure go, but I think it is foc

[2015-12-21 07:56] czxichen commented on #254
Thanks.

[2015-12-21 16:18] #254 closed

[2015-12-29 04:27] shurcooL commented on #253
I've made such a patch locally and have been using/testing it for the last week or two, and I haven't spotted any other issues with concurrency.

I've created PR #255 with it.

[2015-12-30 16:06] #253 closed

[2015-12-30 17:28] willnorris commented on #238
fixed in  c57bb02

[2015-12-30 17:28] #238 closed

[2016-01-01 20:01] willnorris opened #258 "Add transport to handle basic auth"
This has been a long-standing issue, first noted in #119, with implementations provided in the comments of that issue, #216, and #241 and in https://gist.github.com/rgarcia/e0df844fdad92352bb22.  #221 provides a different approach focused on getting an OAuth token using basic auth, but I think we want to stick with a simple transport.

## Mixing OAuth and Basic Auth

One thought I had was whether

[2016-01-01 23:25] #258 closed

[2016-01-02 23:06] willnorris commented on #246
Could you provide a snippet of the exact call you're making?

[2016-01-03 01:06] willnorris commented on #251
fixed in 59f41ca

[2016-01-03 01:06] #251 closed

[2016-01-05 19:43] willnorris opened #262 "remove org permission content type"
The org permissions changes are now official, so the custom media type is no longer necessary.  This would also be a good time to make sure that we have coverage for all of those changes (though I'm pretty sure we do, since we use this part of the API pretty extensively inside Google)

announcement: https://developer.github.com/changes/2016-01-05-api-enhancements-for-working-with-organization-perm

[2016-01-08 07:39] parkr opened #263 "document that RepositoriesService.UpdateFile doesn't need base64-encoded Content field"
Hey,

I just ran into a weird issue where I used `RepositoriesService.UpdateFile` to update a file. Per the GitHub docs, I base64-encoded the `Content` myself – this [ended up breaking things](https://github.com/jekyll/jekyll/commit/a12ee551399eadd2b970f08629b39cb02f8381f8). Whoops.

Just for kicks, I added the unencoded content to `Content` in my `RepositoryContentFileOptions` and [it worked!](ht

[2016-01-08 18:07] willnorris commented on #263
but go-github *doesn't* take care of base64 encoding this... it just passes along whatever you provide it.  It sounds like a bug in the GitHub API docs, maybe?

[2016-01-08 19:56] parkr commented on #263
@willnorris We can't seem to repro with just straight cURL. Hm. Here's my problematic code: https://gist.github.com/parkr/a02b54febbe5396f6cd5 (don't forget to fill in the var's)

[2016-01-10 05:00] bobbytables commented on #131
Yeah I just hit this as well for decoding push webhooks. Is there any idea on how to fix this so I can maybe tackle it?

[2016-01-22 14:08] johnrengelman opened #265 "Missing Description field for Organization Teams"
The `Team` struct doesn't currently include the `description` field as defined by the Github API:
https://github.com/google/go-github/blob/master/github/orgs_teams.go#L12-L35

https://developer.github.com/v3/orgs/teams/#parameters

I will be submitting a patch to add.

[2016-01-22 23:05] jrostand opened #267 "Missing Sender field for webhooks"
[GitHub's webhooks](https://developer.github.com/webhooks/#payloads) include a `sender` field which contains a lot of information about the user who performed the triggering action. `WebHookPayload` should be updated to reflect this.

I will be submitting a patch for the addition.

[2016-01-23 04:28] captncraig commented on #263
the base64 encoding is a natural consequence of how `encoding/json` serializes a `[]byte`. Since [`Content`](https://github.com/google/go-github/blob/master/github/repos_contents.go#L46) is a slice of bytes, it is naturally base 64 encoded for you.

[2016-02-03 00:49] JacobASeverson commented on #265
+1

[2016-02-04 01:23] #265 closed

[2016-02-04 01:26] #267 closed

[2016-02-04 01:27] #263 closed

[2016-02-08 18:55] #131 closed

[2016-02-09 22:29] vito commented on #246
Seeing this too. It only seems to happen when using a client that has a token configured. Perhaps it's propagating the `Authorization` header through to the S3 redirect, which AWS seems to reject?

For me it doesn't technically fail, it just downloads the aforementioned XML instead of the actual contents of the artifact, since it doesn't check the response status code:

https://github.com/google/g

[2016-02-11 07:23] shurcooL commented on #152
Agreed.

Now that #255 has been done, this should be very doable.

I'll take this. PR soon.

It'll be 2 PRs. First one just to add a new error type for rate limit exceeded situations and returning it when appropriate. The second PR will be an optimization (with no change to library behavior) to avoid doing unnecessary networking calls when it's known that the rate limit has been exhausted and not

[2016-02-11 19:52] #152 closed

[2016-02-12 17:29] willnorris opened #279 "Add support for issue locking / unlocking"
Announcement: https://developer.github.com/changes/2016-02-11-issue-locking-api/

Docs: https://developer.github.com/v3/issues/#lock-an-issue

[2016-02-12 17:34] willnorris commented on #279
This would be a good task for a first-time contributor since it mainly involves copying an existing similar method that and updating the the URL, docs, etc.  Don't forget to add tests as well.

[2016-02-12 17:40] gmlewis commented on #279
SGTM.  I'll work on it.

[2016-02-12 19:59] xoebus commented on #246
I've made [a little package][statham] that allows a per-host `http.RoundTripper`. We're using this to get around this at the moment. i.e. `api.github.com` uses an OAuth Transport and then anything else uses the default transport.

[statham]: https://github.com/xoebus/statham

[2016-02-16 20:11] #279 closed

[2016-02-19 20:17] willnorris opened #291 "Add support for Source Import API"
Announcement: https://developer.github.com/changes/2016-02-19-source-import-preview-api/

Docs: https://developer.github.com/v3/migration/source_imports/

I'll take this myself, as we've been using it for quite a while internally at Google to power https://code.google.com/export-to-github/ and have a working implementation.

/cc @imjasonh in case you care to take it

[2016-02-19 20:22] willnorris opened #292 "Add support for Migrations API"
As far as I know, this actually hasn't been announced, I just happened to stumble on the docs based on the new Source Import API.

Docs: https://developer.github.com/v3/migration/migrations/

Some more info can be found at https://help.github.com/enterprise/2.4/admin/guides/migrations/exporting-the-github-com-organization-s-repositories/.  I'm still not 100% sure what this does.  Anyone want to ex

[2016-02-19 20:25] ImJasonH commented on #291
All yours. :)

[2016-02-25 17:03] rdifrango opened #296 "Issuing a PR fails with a 422"
I'm attempting to issue a PR as follows:

[code]

And when I execute it I get:

[code]

Am I doing something wrong or is the PR object not getting marshalled correctly?

[2016-02-25 17:12] rdifrango commented on #296
I realized that it was **USER** error, typically helps to actually set a title.

[2016-02-25 17:12] #296 closed

[2016-02-28 16:14] willnorris opened #297 "Add support for commit reference SHA-1 method"
Announcement: https://developer.github.com/changes/2016-02-24-commit-reference-sha-api/

Docs: https://developer.github.com/v3/repos/commits/#get-the-sha-1-of-a-commit-reference

[2016-03-03 18:31] gmlewis commented on #297
If you agree, can you please assign this to me?

[2016-03-04 22:15] gmlewis commented on #243
`IssueActivityEvent` is deprecated. Please use `IssuesEvent` instead which does have a `Label *Label` field. I recommend closing this issue.

[2016-03-04 23:19] willnorris commented on #228
Our normal naming convention of following the GitHub docs would say that this belongs on the `LicenseService`, but I actually like what you have better...

[code]

so let's go with this.  I do think this is one of the first times we've broken from that convention. :shrug:

[2016-03-04 23:21] #228 closed

[2016-03-04 23:39] #243 closed

[2016-03-16 17:24] aleemstreak opened #302 "WebHookPayload incorrectly defines repo/organization"
I'm trying to use the WebHookPayload struct to deserialize a webhook received by my server from Github.

The WebHookPayload is mostly defined correctly, however, it includes a Repo field of type Repository. Repository has a field name organization of type Organization.

However, when receiving webhooks for push events, this organization field is actually sent as a string id by github, not the nest

[2016-03-16 17:43] willnorris commented on #302
Try using `PushEvent`, which had a `PushEventRepository` that handles this discrepancy.  I guess I hadn't realized that `PushEvent` and `WebHookPayload` are effectively duplicates.  I don't remember why that is (I'll have to look through the commit history), but I suspect we'll deprecate `WebHookPayload` in favor of `PushEvent`.

[2016-03-16 19:55] willnorris opened #303 "Deprecate WebHookPayload"
The `PushEvent` type was originally added in June 2013 in beaff13913b3dd17651e12f622473b1fb99756a1.  I then added the `WebHookPayload` type a month later in 023e8db8cbba83d90a62e2e546a96d3dcecbbce4.  I honestly am not sure why I did that, since they are effectively duplicates.  Maybe it wasn't clear at that point that we should be using the same types for webhook payloads and activity events?  Or

[2016-03-16 20:19] aleemstreak commented on #302
Thanks for the quick response.

Unfortunately, I think PushEvent is a little out of date as well. Specifically, it uses PushEventCommit which doesn't correctly parse the commit sha. It uses a property name called "SHA" instead of "id" that I see in the json of the webhook payload.

I think it might make sense to use the standard []Commit instead of []PushEventCommit.

I discovered a few other inco

[2016-03-16 20:44] parkr commented on #303
Agreed. I'm happy to submit a patch for this. How would you go about deprecating this? Just a comment? Or do you mean to remove this struct? Or alias it, e.g. `type WebHookPayload PushEvent`?

[2016-03-16 20:49] willnorris commented on #302
yeah, @gmlewis and I were just looking at the SHA versus ID thing as well.  GitHub's own documentation (https://developer.github.com/v3/activity/events/types/#pushevent) on this is inconsistent.  The table says "sha", but the example payload directly below it says "id".  In our testing, it seems like the "id" is correct, so that should be updated in the `PushEvent` type.

As for `[]Commit` versus

[2016-03-16 20:53] willnorris commented on #303
I was originally just thinking about a comment, but I suspect that aliasing the type should work fine as well.  I can't imagine that anyone is actually unmarshalling a push event they've received from GitHub into a `WebHookPayload` because of #131.

(somewhat ironically, which I just noticed today, #131 is reporting an issue on WebHookPayload, but the commit that fixed it d722750 was patching Push

[2016-03-17 17:11] danesparza opened #304 "Add support for retrying certain operations automatically"
It would be very nice if certain operations included support for automatically retrying failed operations.  For example, [the code that uploads assets to a release](https://github.com/google/go-github/blob/ac4445ca1c9dfacf5c0bbf34b712b23a3bb59b6c/github/repos_releases.go#L297) should probably retry automatically (possibly [using something like pester](https://github.com/sethgrid/pester)?) when the

[2016-03-17 17:18] willnorris commented on #304
I'm not sure it's go-github's place to decide how users of the library should respond to particular API errors.  That's precisely why every method returns the Response object, so that the caller can inspect that and decide how to respond themselves.  Some users might want to continue retrying, while others might want to handle it differently.

pester looks kinda neat, I hadn't seen that before.  I

[2016-03-17 20:45] hartfordfive opened #305 "User struct never contains an email"
It seems like the `User` struct never contains a value for email, even when a given user's profile has a public email.

[2016-03-17 21:17] willnorris commented on #305
I wonder if maybe it's populated when viewing the current user with an oauth token that has email scope?

[2016-03-18 05:27] shurcooL commented on #305
Do you mean [`User.Email`](https://godoc.org/github.com/google/go-github/github#User.Email), the user's public email?

If so, I can't reproduce. Here's an example user with a public email:

https://api.github.com/users/mojombo

(Note that `"email"` is present.)

And here's what `UsersService.Get("mojombo")` returns:

![image](https://cloud.githubusercontent.com/assets/1924134/13869216/4872957e-ec8

[2016-03-18 19:10] willnorris opened #306 "Add support for 451 status code"
Announcement: https://developer.github.com/changes/2016-03-17-the-451-status-code-is-now-supported/

go-github passes along the http response object, which will already include the 451 status unchanged.  The only thing that's different is that the response now includes a new "block" field.  We could either expand the existing Error type with this field and document that it's only populated on cert

[2016-03-21 04:48] pzurek opened #308 "Getting contents of files from folders with spaces doesn't work."
If the directory name includes a space character it gets encoded into `+` and the request will fail with 404 Not found.
It looks like there is a problem that was introduced by https://github.com/google/go-github/commit/d3fb171e8bc79b0c7222da1b7d84b45b9d300395
Turns out escaping paths and escaping queries are note quite the same as illustrated by: http://play.golang.org/p/5dg6gaiLiv.
PR coming.

[2016-03-21 18:19] willnorris opened #310 "Automatically run integration tests"
We don't run the [integration tests](https://github.com/google/go-github/tree/master/tests/integration) on Travis because they hit the live GitHub API and require authentication.  However, it would be nice to run them periodically (maybe on a GCE instance) and report any persistent issues.

We could possibly also run the [fields tool](https://github.com/google/go-github/tree/master/tests/fields) a

[2016-03-21 18:49] willnorris opened #311 "Block running integration tests by default"
Currently, running `go test ./...` will also run the the [integration tests](https://github.com/google/go-github/tree/master/tests/integration), which is not great since that hits the live GitHub API.  We should hide the integration tests behind a build tag or something similar, so that they are only run when explicitly requested.

[2016-03-21 19:01] #308 closed

[2016-03-21 21:23] gmlewis commented on #246
To keep this simple, we are thinking about breaking the `github.DownloadReleaseAsset` API and additionally returning a URL, like this:

[code]

If a redirect to AWS occurs, then the redirect will be canceled and the redirect Location will be returned in the string and the io.ReadCloser will be nil. At this point, the user would need to perform the http.Get on the returned URL using a transport wit

[2016-03-22 08:22] shurcooL commented on #246
One minor suggestion, I think the documentation would be better with named returned values, specifically to document the string. Something like this:

[code]

[2016-03-22 15:39] willnorris commented on #246
Agreed that named return values would be helpful here.

@shurcooL, Glenn and I talked through a number of different options yesterday, and this was basically the "least bad" that we could come up with.  But we're certainly open to other ideas.  I'd love to be able to follow the redirect and and return an `io.ReadCloser` for the Amazon-hosted file, but I can't come up with a clean way to enable tha

[2016-03-22 15:57] vito commented on #246
For what it's worth, the package @xoebus linked (https://github.com/xoebus/statham) handles this pretty cleanly and doesn't require any changes to `go-github` itself. We've started using it to fix our use case and it doesn't really feel like a "workaround". It's a tiny bit of code that I was surprised to not already find somewhere else given how often `*http.Client`s are injected for oauth stuff.

[2016-03-22 16:00] willnorris commented on #246
@vito: yeah, I saw that as well and thought it was pretty neat.  But I also don't want to rely on users always using that.  Perhaps we could attempt to use the provided client, and only if Amazon returns an error do we bail and just return the redirectURL to the caller.

[2016-03-22 20:06] shurcooL commented on #246
I like returning `redirectURL`. It's simple and fits well in the scope of the library. I doubt it's worth it to try to do more, given the unpredictable nature of that URL (as I understand it) and the fact it effectively needs its own `*http.Client`.

[2016-03-22 21:54] gmlewis commented on #246
PTAL

[2016-03-23 18:45] #311 closed

[2016-03-23 18:49] #306 closed

[2016-03-23 18:51] #246 closed

[2016-03-23 22:50] #292 closed

[2016-03-24 15:48] #191 closed

[2016-03-24 18:06] gmlewis commented on #215
What if we keep this API super-simple and only provide a single, optional `OrganizationsListAllOptions` similar to [`RepositoryListAllOptions`](https://github.com/google/go-github/blob/master/github/repos.go#L200-L210) and ignore the Link headers entirely? In the documentation we could show how to get the ID of the last organization that could be used for the next call.

[2016-03-24 18:18] willnorris commented on #215
We do the same thing for [GistsService.ListAll](https://godoc.org/github.com/google/go-github/github#GistsService.ListAll) and [UsersService.ListAll](https://godoc.org/github.com/google/go-github/github#UsersService.ListAll), so yeah it makes sense to be consistent here.

[2016-03-24 20:26] #215 closed

[2016-03-30 08:34] ArtIsResistance opened #319 "Repository stargazers timestamps"
There is no support for ["List Stargazers" method](https://developer.github.com/v3/activity/starring/#list-stargazers) with alternative response (with timestamps).

There was a similar issue [#188](https://github.com/google/go-github/issues/188) with pull-request [#199](https://github.com/google/go-github/pull/199) that implements ["List Repositories Being Starred"](https://developer.github.com/v3

[2016-03-30 17:50] Kedarnag13 opened #321 "Sorting Not Supported"
This library has helped me immensely, however I am making use of "ListByOrg" to list all the repositories. But since my organization has a lot of them, and to show them all would not be suitable for me. It would be nice if "RepositoryListByOrgOptions" could provide Sort option with values similar to others such as "updated" and "created".

Regards.

[2016-03-30 17:51] mjbrender opened #322 "Improve godocs based on my experiences"
I'd like to open a PR with some more clarification around RepositoryContent functions. I misunderstood when I needed to call Decode() and I still confused on when someone might call String(). If others agree, I'd like to capture a few more notes in the comments so godocs captures it.

Thoughts?

Thanks again for the help on Slack @willnorris :+1:

[2016-03-30 18:09] willnorris commented on #322
sounds good to me.  When I was looking at that myself, I also thought that the Content field should probably be documented more clearly.  I also wonder if it's always base64 encoded, or only sometimes.  I wonder if Decode() should always return the content, regardless of encoding.  If it's not encoded at all, then it should just return the plain bytes.  In which case "Decode" might not be the best

[2016-03-30 18:13] mjbrender commented on #322
Sounds good. +1 to not worrying about the naming convention and I can't vouch for any other return types. Might be nice to get some test coverage there. I'll open a PR with some additional notes while it's fresh in my mind.

Is there a use case for needing String() that I haven't seen? I want to add a little explanation there too.

[2016-03-30 18:15] willnorris commented on #322
On Wed, Mar 30, 2016 at 11:13 AM, Matt Brender <notifications@github.com>
wrote:

Mostly just debugging.

[2016-03-30 18:16] willnorris commented on #321
In most cases, go-github tries to be a pretty strict client of the [GitHub API](https://developer.github.com/v3/).  The API doesn't actually support that kind of sorting (as far as I know), so that's why go-github doesn't either.  It wouldn't be too hard to write a simple type that implements sort.Interface that allows sorting on whatever field you want.  But that kind of thing is out of scope for

[2016-04-03 05:08] willnorris opened #324 "Add support for commit squashing"
Announcement: https://developer.github.com/changes/2016-04-01-squash-api-preview/
API Docs: https://developer.github.com/v3/pulls/#merge-a-pull-request-merge-button

Unfortunately, this will almost certainly require a breaking change to https://godoc.org/github.com/google/go-github/github#PullRequestsService.Merge

[2016-04-05 22:17] #119 closed

[2016-04-07 11:42] vetinari opened #326 "Wrong parameter parsing in Link header for client.Users.ListAll()"
The call to
[code]
always returns `res.NextPage == 0`. This call uses the `since` parameter in the `Link:` header and not the `page` parameter like all others, see https://developer.github.com/v3/users/#get-all-users.

[2016-04-07 15:57] ianwalter opened #327 "Specify type as "PR" when doing an issue search"
I'm trying to search for pull requests and, if I'm not mistaken, they are really issues with the type of `pr`. It seems the issue search accepts `SearchOptions` which is general and doesn't allow you to specify a type. I plan to submit a PR to fix this but I wanted to create this issue in the meantime to make sure I'm not missing something. Thanks.

[2016-04-07 16:28] gmlewis commented on #327
According to https://developer.github.com/v3/search/#search-issues it appears that there are a large number of options that could be added to the `q` query parameter, and as far as I can tell, it is currently not possible to add them (neither by `SearchOptions` nor the embedded `ListOptions`).  @willnorris will be able to state definitively if this is correct.

So a PR to fix this SGTM.

[2016-04-07 16:32] willnorris commented on #327
As Glenn notes, these are expected to be part of the query.  So,

[code]

[2016-04-07 16:47] ianwalter commented on #327
Ahh I see, thanks for your help.

[2016-04-07 16:47] #327 closed

[2016-04-07 17:05] willnorris commented on #327
we could probably stand to better document that fact though, so if you wanted to do a pull request to update the docs, that'd be great.

[2016-04-07 17:20] ianwalter commented on #327
Alright, I'll see if I can make it clearer.

[2016-04-08 03:18] willnorris opened #328 "Add changes to Deployment and DeploymentStatus API"
Announcement: https://developer.github.com/changes/2016-04-06-deployment-and-deployment-status-enhancements/

[2016-04-08 04:03] shurcooL opened #329 "Proposal: Add GetByID methods to UsersService, RepositoriesService, with caveat."
I'd like to hear your thoughts on the following proposal.

I know this project is Go client library for accessing the GitHub API. It tries to stay very current with GitHub API changes. It implements support for new APIs early, even when they're still in preview period and may result in changes before preview period ends.

As a result, this Go package tries to maintain a stable API, but when breaki

[2016-04-08 16:43] willnorris commented on #329
Yeah, this sounds good to me.

Quinn had started something similar to this in #68, though I think we're *way* past the point of being able to make the kind of breaking changes that proposes, so I think what you have here is a good compromise.  I can't find it in that issue, but I seem to recall somewhere hearing that internally GitHub actually maps the name based endpoints to the ID based endpoint

[2016-04-08 16:45] shurcooL commented on #329
Sounds great, I will make 2 PRs.

[2016-04-08 21:05] #328 closed

[2016-04-08 21:48] #322 closed

[2016-04-09 03:04] heidsoft commented on #19
good,

[2016-04-09 18:30] willnorris opened #334 "Add support for git signing API methods"
Announcement: https://developer.github.com/changes/2016-04-04-git-signing-api-preview/

[2016-04-09 18:38] #329 closed

[2016-04-09 19:48] willnorris commented on #326
For Users.ListAll and similar methods, pagination should be done by setting the `UserListOptions.Since` field to the last ID value seen.  resp.NextPage doesn't work for those methods (as you've discovered).
This is discussed a bit on #278.

I think the best fix for this is to just add an example for these methods that demonstrate how to do pagination.

[2016-04-11 07:05] vetinari commented on #326
Figured that out... for reference:
[code]

[2016-04-11 07:05] #326 closed

[2016-04-11 18:10] ainsleyc opened #335 "Add integration tests for Repositories.List"
I'd like to work on this. To keep API calls to a minimum:
- Repositories.List("", nil) to confirm listing own repositories does not return an error
- Repositories.List("google", nil) to confirm listing other user's repositories does not return an error
- Repositories.List("google", {Sort: "created"}) to confirm options are working

[2016-04-18 21:21] willnorris commented on #297
This is [no longer in preview](https://developer.github.com/changes/2016-04-12-commit-reference-sha-api-is-now-official/), so the custom accept header can be dropped

[2016-04-18 21:57] gmlewis commented on #297
Reopening issue to track removal of header.

[2016-04-19 02:08] willnorris opened #339 "make sure we support the new webhook changes"
I can't remember if we already talked about these or not, but can't find an existing issue for it.

Announcement: https://developer.github.com/changes/2016-04-18-new-webhook-actions-are-live/

[2016-04-19 02:08] willnorris commented on #339
oh, actually now that I look more closely, I guess these are *only* changes to the action values?  So in that case, it's probably just a documentation change.

[2016-04-19 02:11] willnorris commented on #339
Looks like these changes haven't been made in the library yet.  Oh and look, an event for when repos are deleted.  😄 👍

[2016-04-19 03:39] gmlewis commented on #339
Woohoo!  I'll work on adding these.  Thanks, Will! 👍

[2016-04-19 16:31] #297 closed

[2016-04-19 23:09] #339 closed

[2016-04-21 19:03] rodaine opened #343 "DownloadReleaseAsset swallows API errors & returns io.ReadCloser of error payload"
If the API request to download a release asset fails, no `error` is returned but the `io.ReadCloser` of the error JSON payload is:

[code]

Would expect:

[code]

But what is returned:

[code]

[2016-04-21 19:07] willnorris commented on #343
looks like a bug on https://github.com/google/go-github/blob/bf7dc3b8937bbfcfe5986ec3b3793d5c96a901f9/github/repos_releases.go#L251.  That should be:

[code]

could you try changing that locally and see if it fixes it?

[2016-04-21 19:08] willnorris commented on #343
err, never mind.  I don't think that's right.  I was switching the error cases in my head.

[2016-04-21 19:15] rodaine commented on #343
it appears on https://github.com/google/go-github/blob/bf7dc3b8937bbfcfe5986ec3b3793d5c96a901f9/github/repos_releases.go#L246, err is nil but the resp object has a 404 status code:

`&{Status:404 Not Found StatusCode:404 Proto:HTTP/1.1 ProtoMajor:1 ProtoMinor:1 Header:map[Access-Control-Expose-Headers:[ETag, Link, X-GitHub-OTP, X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Reset, X-OAuth-S

[2016-04-21 19:16] willnorris commented on #343
right.  a 404 response is not an error.  From https://golang.org/pkg/net/http/#Client.Do:

[2016-04-21 19:20] rodaine commented on #343
Right, but in this instance I think that's what we want. I'll create a patch to check the exit code, and if it's not a 200 or 302, return an error (per https://developer.github.com/v3/repos/releases/#get-a-single-release-asset)

[2016-04-21 19:29] willnorris commented on #343
you don't want to just check for 200 or 302 here.  GitHub could change that to be any number of other redirect codes (301, 307, 308).  Similarly, a successful response could be somewhere else in the 200 range.  Instead, you want something like:

[code]

[2016-04-21 19:31] willnorris commented on #343
err, that should be:

[code]

[2016-04-21 20:44] rodaine commented on #343
Ah, good point. Though thinking about it more, the 3XX codes should be handled by the CheckRedirect. Do you think it's reasonable to just verify the 2XX range?

[2016-04-21 20:54] rodaine commented on #343
Better yet:

[code]

[2016-04-21 22:52] #343 closed

[2016-04-22 17:44] gsquire commented on #324
I can work on this. Would providing another function such that the existing merge function doesn't change be beneficial?

[2016-04-22 18:23] willnorris opened #348 "Add support for new OAuth Grants API"
Announcement: https://developer.github.com/changes/2016-04-21-oauth-authorizations-grants-api-preview/

[2016-05-04 15:24] willnorris opened #351 "Add support for enhancements to Source Import API"
announcement: https://developer.github.com/changes/2016-05-03-source-import-api-enhancements-for-working-with-git-lfs/

[2016-05-04 16:19] gmlewis commented on #351
I believe this depends on #291 so I will leave it alone for now.

[2016-05-05 07:19] shurcooL commented on #329
I've recently seen some internal API URLs in responses from GitHub Notifications API point to these endpoints.

[2016-05-05 15:57] willnorris commented on #321
Closing this issue for now.  If the GitHub API does actually add support for this kind of sorting, feel free to reopen.

[2016-05-05 15:57] #321 closed

[2016-05-06 16:26] #291 closed

[2016-05-06 16:26] #351 closed

[2016-05-06 21:44] willnorris commented on #324
I think a breaking change is okay here.

[2016-05-09 10:47] bboreham opened #354 "MilestoneListOptions lacks ListOptions"
So you cannot control pagination on `IssuesService.ListMilestones()`

I will submit a PR shortly.

[2016-05-13 21:14] willnorris opened #356 "Add support for Reactions API"
announcement: https://developer.github.com/changes/2016-05-12-reactions-api-preview/

[2016-05-16 17:39] smoya commented on #356
Please, my 👍 to add this feature.

[2016-05-16 17:49] #356 closed

[2016-05-20 08:33] tbruyelle commented on #236
Is there a workaround for this ?
If no I think a dedicated method is the way to go, something like `RemoveMilestonelForIssue`, I can work on this.

[2016-05-20 09:14] tchap commented on #236
The workaround is to send the request manually. You can basically copy `EditMilestone` and put your own struct there.

[2016-05-20 09:32] tbruyelle commented on #236
Indeed, we can workaround it like that (tested) :

[code]

[2016-05-23 21:44] #319 closed

[2016-05-24 14:49] willnorris opened #360 "Add support for Issue Timeline API"
announcement: https://developer.github.com/changes/2016-05-23-timeline-preview-api/

docs: https://developer.github.com/v3/issues/timeline/

[2016-05-24 16:12] shurcooL commented on #360
Does anyone know how this differs from https://developer.github.com/v3/issues/events/#list-events-for-an-issue?

[2016-05-24 16:16] willnorris commented on #360
no clue, I haven't looked too closely yet. I just saw the blog post announcing it this morning, so filed an issue for it.

[2016-05-26 19:51] parkr opened #361 "Webhooks: Add example for signatures"
Was just reading through ["Validating payloads from GitHub"](https://developer.github.com/webhooks/securing/#validating-payloads-from-github) and figured it would be nice to have that either built into the library or have an example in the repo which folks can copy.

In a perfect world, it'd be as simple as:

[code]

Then `github.VerifyPayload` would read the payload & secret, verify with somethin

[2016-05-26 19:53] willnorris commented on #361
see #294

[2016-05-26 19:54] willnorris commented on #361
I started review that some time ago, but then got distracted and hadn't looked at the latest version of it

[2016-05-26 19:57] parkr commented on #361
@willnorris 👋

#294 is _exactly_ what I was looking for!!!

[2016-05-27 21:19] willnorris opened #362 "Add support for multiple issue assignees"
announcement: https://developer.github.com/changes/2016-5-27-multiple-assignees/

[2016-06-07 17:31] gmlewis commented on #262
I've implemented these changes, and while testing out all the API calls, I ran across one issue:

`Organizations.IsTeamRepo` still requires a custom header that is not documented anywhere that I can find:
`application/vnd.github.ironman-preview.repository+json`.  Thus, I'll leave it in. That will make this PR look odd, but this is the reason.

[2016-06-07 22:17] shurcooL opened #364 "Reactions API Preview has been updated."
See https://developer.github.com/changes/2016-06-07-reactions-api-update/.

This is a breaking change that we'll need to update `go-github` for. It looks like a straightforward change on our side. And (from a cursory look) IMO this is a better API; at least for my use cases. 🎉

/cc @gmlewis

[2016-06-08 02:20] shurcooL commented on #262
@gmlewis If it's not documented, perhaps it's an issue on the GitHub API side? If so, the best course of action might be to email their support and confirm whether it's intended or not.

That announcement states:

[2016-06-08 05:12] shurcooL commented on #364
Assigning myself to this issue; I'll have a PR that fixes it soon.

[2016-06-08 16:58] #364 closed

[2016-06-08 17:16] gmlewis commented on #354
Fixed in c2beba4.

[2016-06-08 17:16] #354 closed

[2016-06-08 17:23] gmlewis commented on #262
Thanks, @shurcooL, I have requested more information from GitHub support about `Organizations.IsTeamRepo` and will report back here what they say (or they can comment directly... I linked to this issue in my request).

[2016-06-08 17:29] gmlewis commented on #360
From GitHub Tech Support:

So we can go ahead with this one.

[2016-06-09 16:03] gmlewis commented on #262
GitHub Tech Support has cleared things up for me.  I said:

and GitHub Support replied:

So I will update this PR with the documented media type and update this issue when it is ready to review.

[2016-06-09 16:16] gmlewis commented on #262
I made the changes mentioned above.

[2016-06-10 21:53] #262 closed

[2016-06-10 22:00] #324 closed

[2016-06-13 18:58] #335 closed

[2016-06-13 19:01] gmlewis opened #366 "TestUsers_* integration tests are failing."
Needs investigation.

[2016-06-13 20:06] #334 closed

[2016-06-15 16:17] #361 closed

[2016-06-15 18:25] gmlewis commented on #366
Update:
I'm attempting to call: https://developer.github.com/v3/users/#update-the-authenticated-user

[code]

fails with: `HTTP/1.1 404 Not Found`

I sent a request to GitHub Support and am awaiting an answer.

[2016-06-16 19:51] willnorris opened #371 "Add support for new repository invitations"
announcement: https://developer.github.com/changes/2016-06-14-repository-invitations/

[2016-06-17 16:28] gmlewis commented on #180
While scanning through the old issues, I just found this one and think it is worthwhile doing since this package is frequently handling slices of large structs.

I'm thinking that the impact on existing clients will be negligible due to the nice inference properties of Go.

@willnorris and @shurcooL - I would like to do this... any objections?

[2016-06-17 17:09] #360 closed

[2016-06-17 18:30] shurcooL commented on #180
SGTM. This looks like an improvement, and updating for API change is easy (in most cases, no changes need to be done).

[2016-06-17 19:29] willnorris opened #376 "versioning and tagging releases"
We generally try not to have egregious breaking changes in this library, but we're also not afraid to do them when necessary (the latest example being #375).  We've gotten a couple of people asking for us to use semver on google/go-querystring#11, which we could also consider doing here.

That doesn't help us for #375, but would allow us to do future breaking changes at a version boundary.  I have

[2016-06-17 20:07] parkr commented on #376
To me, vendoring makes this a moot issue - users can upgrade when they are ready and vendor the version they wish to use. This is ideal, however, and does not represent everyone's workflow. But it is something to suggest as people come pointing fingers about blame.

I had a package break due to the addition of a parameter to PullRequestsService.Merge. I fixed it and moved on. Go makes it very easy

[2016-06-17 20:31] gmlewis commented on #376
I suppose there are varying levels of supporting semantic versioning as well.
The bare minimum is to have a file somewhere in the repo with a version string in it.
A step up would have a compiled file with a const string in it that gets bumped.

This repo already has [`libraryVersion`](https://github.com/google/go-github/blob/master/github/github.go#L32) which appears to have remained at `0.1` sin

[2016-06-17 20:34] willnorris commented on #376
In case you misread, I have **zero** intention of moving to gopkg.in.  It think it's a clever service and I greatly respect Gustavo, but I'm not about to add an extra single point of failure that I have no control over to how people access this package if I don't have to.  And I definitely don't want to cede control of the namespace; I actually don't even like "github.com" in the import path eithe

[2016-06-19 21:30] shurcooL commented on #376
I don't have strong opinions, but I would hope we lean towards doing the simpler thing. A more complex solution IMO is going to add overhead and little actual benefit.

I agree with this recommendation, but maybe just make it an integer and increment it by 1 with every breaking API change (so, make it `"2"`). I don't think it's valuable for us to track the minor and patch parts of semver with ever

[2016-06-19 21:34] shurcooL commented on #376
Another observation is that this library tends add support for new GitHub API features while those are still in preview, which means if you choose to use those features, they may break at any point. That just goes without saying, but I guess I'm saying it anyway. If you need full reliability at all times, you must vendor go-github AND not use any of the preview API endpoints.

[2016-06-20 04:24] #180 closed

[2016-06-20 04:28] #371 closed

[2016-06-20 04:30] gmlewis commented on #366
It turns out I didn't have the proper `user` scope enabled.  Will test again with the new scope.

[2016-06-20 16:23] #366 closed

[2016-06-20 16:47] willnorris commented on #376
sounds good to me... we'll leave things as they are.

[2016-06-21 19:40] gmlewis opened #380 "add GitHub URL parsing utility function"
It seems that clients of this package frequently need to parse GitHub URLs in order to validate and/or extract useful information from them.  It would be nice to have all this code deduplicated into a single, central location, and this package might be a nice home for it.

Maybe something like:

[code]

Common URLs to parse could be ones similar to:
[code]

Thoughts?

[2016-06-21 19:53] willnorris commented on #380
obviously, +1 from me since we just talked about it :)

Just to repeat what we talked about, we have at least four places (that I know of) inside Google where we are parsing URLs to extract one or more of these values.  Most of the time it's just owner and repo, but in one case, we extract that ref as well and support all of the various forms posted above.

[2016-06-21 20:07] gmlewis commented on #380
I've been poking around to find a definitive reference for what is a valid GitHub URL and/or `ref`, but the closest thing I've found so far is: https://git-scm.com/docs/git-check-ref-format

I'll keep searching and update this comment if I find a better source. If anyone knows a better one, I'd like to hear about it.

[2016-06-21 21:38] parkr commented on #380
@gmlewis FWIW, I have never seen these URL's change in my 6 years of using GitHub.  The only URL's I have seen change are those to issues and pull requests, e.g. https://github.com/google/go-github/pulls/123 used to resolve to pull 123, but now it's https://github.com/google/go-github/pull/123.

[2016-06-22 03:56] shurcooL commented on #380
I can see this being useful in situations where you need to convert a repo URL to a `owner` and `repo` name, so that you can call `(*RepositoriesService) Get(owner, repo string)`. But I don't really understand how `ref` would would, or how it would be used.

I don't have objections. I've seen many projects have an internal helper that parses a repo URL and returns `owner`, `repo`, and `err`.

[2016-06-22 16:42] gmlewis commented on #380
What if we change the `ref` name to `rest` or `remainder` or `remaining` to signify that this followed the `owner/repo` part?  Of course, `owner` would never be empty but `repo` and `rest` could be empty.

[2016-06-22 17:24] willnorris commented on #380
The one place that we use ref is in a tool that we use to lint a GitHub repo for compliance with our open source policies (does it contain a LICENSE file, is it mixing in third-party code outside of a "third_party" or "vendor" directory, etc).  It's a command line tool that takes a GitHub URL as its input.  most of the time, you would just specify something like https://github.com/google/go-github

[2016-06-23 06:03] willnorris opened #381 "remove preview accept headers for issue locking and unlocking APIs"
announcement of general availability: https://developer.github.com/changes/2016-06-22-issue-locking-api-is-now-official/

[2016-06-23 16:34] #381 closed

[2016-06-26 00:22] #231 closed

[2016-06-27 02:00] shurcooL opened #386 "go vet violations on tip."
We have a few minor go vet violations when using vet from tip (1.7-ish) rather than 1.6.2. Can be seen in CI:

https://travis-ci.org/google/go-github/builds/140438111
https://travis-ci.org/google/go-github/jobs/140438114

[code]

[2016-06-27 02:49] gmlewis commented on #386
As far as I can tell, this is a Go1.7tip bug.
We are adhering to the naming convention defined in the [Examples](https://golang.org/pkg/testing/#hdr-Examples) documentation.

Filed Go issue: https://github.com/golang/go/issues/16189

[2016-06-27 03:44] willnorris commented on #376
A timely post: http://dave.cheney.net/2016/06/24/gophers-please-tag-your-releases

[2016-06-27 03:44] shurcooL commented on #386
I've seen this issue [happen](https://travis-ci.org/shurcooL/Conception-go/builds/138006555) in some of my own packages too, and I suspected it might be a bug/regression in tip. I didn't have time to investigate.

I agree with your assessment.

Thanks for looking into it and filing the issue upstream Glenn. 👍

[2016-06-27 03:49] shurcooL commented on #376
I wonder if @davecheney has seen this thread when writing that.

[2016-06-27 03:57] shurcooL commented on #380
I guess I've shared some [more thoughts](https://github.com/google/go-github/pull/383#issuecomment-228619294) on this proposal in the PR.

To me, the proposed utility sounded _more_ useful when it returned `(owner, repo, rest string, err error)`, than without the `rest` value. Because that way, it could be used to parse exact `https://github.com/owner/repo` URLs by checking that `err == nil && res

[2016-06-27 14:24] willnorris opened #387 "update to protected branches preview"
announcement: https://developer.github.com/changes/2016-06-27-protected-branches-api-update/

[2016-06-27 20:17] mdempsky opened #389 "Optimization opportunity to reuse service struct allocations in github.Client"
All of github.Client's service fields point to objects with identical underlying struct types.  Currently they're each separately heap allocated, but they could be made to reuse the same memory.  For example, add a field to github.Client:

           self       struct{ client *Client }

And then change github.NewClient to initialize the service fields as so:

           c.self.client = c

[2016-06-27 22:50] #348 closed

[2016-06-27 23:00] gmlewis commented on #389
Interesting.  This saves roughly (14-1)*8=104 bytes on the heap on a 64-bit system if my math is correct. The initialization code is a bit uglier but otherwise there should be no changes to the users of the package.  I'm on the fence as to whether or not this is worth doing. I'll wait to hear from others.
Whichever way it goes, thanks for the suggestion, @mdempsky.

[2016-06-27 23:02] gmlewis commented on #387
Note that this is a breaking API change so the version needs bumping by a whole number (i.e. "3").

[2016-06-27 23:25] mdempsky commented on #389
Math checks out to me.  FWIW, the savings are the same on 32-bit systems, because heap allocations for variables containing pointers are always at least 8 bytes independent of pointer size.

[2016-06-27 23:43] willnorris commented on #389
huh, certainly a clever optimization.  Like Glenn said, it does make the initializion code a little uglier, but that's not really code that anyone touches except to add a new service.  I could really go either way on making the change or not.  @shurcooL: you have an opinion either way?

[2016-06-28 04:45] shurcooL commented on #389
That's a neat idea. I didn't realize you could do this. It is valid though.

I agree with everything said and disagree with nothing. This sentence summarizes it best:

I'll add one thought to that.

I think it's fantastic how this library serves a very well defined and useful need (a GitHub API Go client). That allows it to be used by many, and so even marginal improvements can have a large positi

[2016-06-28 05:07] gmlewis commented on #389
@shurcooL - I really like that philosophy.   SGTM.  👍

If anyone wants to take this one, feel free.  If not, I'm happy to take it.  I'll give @mdempsky a couple days to decide.  (I have a personal goal of getting to zero PRs and zero Issues... I'm not sure it can truly be accomplished, but I think we've made awesome progress as a team in the last month or two.)

[2016-06-28 16:19] mdempsky commented on #389
Cool, I'll upload a PR later today then.

[2016-06-29 08:43] lbdremy commented on #19
@willnorris @sqs

Could you elaborate on this topic ?

[2016-06-29 14:22] #389 closed

[2016-06-29 16:08] gmlewis commented on #386
Go1.7 has been fixed upstream and tip is now passing tests.

[2016-06-29 16:08] #386 closed

[2016-06-29 17:52] gmlewis commented on #380
Will and I have decided to not go through with this. Thank you for your thoughtful comments and time invested, @shurcooL.

[2016-06-29 17:52] #380 closed

[2016-06-29 18:14] gmlewis commented on #380
(Commenting on a closed issue, but wanted to share something I learned today about `url.Parse`...)
I expected that if I passed two URLs to `url.Parse` separated by by ", " that I would get an error, but I don't:

https://play.golang.org/p/LmZKo1Rp4k

[2016-06-29 19:18] shurcooL commented on #380
Sounds good, and no problem, happy to have a technical discussion that leads to less code being created. :)

About `url.Parse`, I'm not surprised. I too learned some time ago that it's actually very hard to get an error from `url.Parse`. It's not suitable for detecting whether something looks like it could be an actual URL or detecting the boundaries of a URL within a larger body of text. But it's

[2016-06-30 21:42] wlynch commented on #95
Looks like this was added in 32d2b56.

[2016-07-01 15:19] jredville commented on #376
I was going to make a big comment after my request for versioning go-querystring was closed, but Cheney covered my thoughts pretty well.

[2016-07-01 18:30] gmlewis commented on #95
Agreed.  Closing issue. Thanks, @wlynch.

[2016-07-01 18:30] #95 closed

[2016-07-02 02:38] davecheney commented on #376
That's Mr. Cheney.

On Sat, 2 Jul 2016, 01:19 Jim Deville <notifications@github.com> wrote:

[2016-07-07 06:45] gmlewis opened #394 "Add support for GitHub Pages preview API"
https://developer.github.com/changes/2016-07-06-github-pages-preiew-api/

[2016-07-10 02:11] shurcooL opened #397 "The text in package description in godoc and README.md has diverged."
This is a long-standing issue, and I'd really like for us to fix it.

The text in the package description in the godoc and in README.md has diverged. Each one describes and provides examples/documentations for certain things that the other doesn't, and vice versa.

- https://godoc.org/github.com/google/go-github/github
- https://github.com/google/go-github/blob/master/README.md#readme

This means

[2016-07-10 05:39] willnorris commented on #397
I've long wondered the best approach here as well.  It gets worse for some other command line tools I maintain that also have the CLI usage/help text as well, which again duplicates a lot of whats in the README and godoc.  Is there any evidence of a best practice for this?  I've meant to pose this question on golang-nuts on numerous occasions, but never have.

[2016-07-10 05:50] shurcooL commented on #397
I think a tool like [`gorepogen`](https://godoc.org/github.com/shurcooL/cmd/gorepogen) that generates your README from the godoc, but with further enhancements like treating commands differently and including their `-help` output, would be the best solution.

At least that's what I would invest into.

[2016-07-13 06:26] shurcooL opened #399 "Stop using custom media type for Multiple Assignees."
See announcement https://developer.github.com/changes/2016-07-12-ending-multiple-assignees-preview-period/.

[2016-07-13 16:28] #397 closed

[2016-07-14 14:34] #399 closed

[2016-07-17 16:11] scbizu opened #402 "Activity.MarkNotificationsRead fails with 400 bad request."
Hello there .I have a problem that when I use `MarkNotificationsRead()` method to mark some notifications as read ,there is always an error ..

My code :

[code]

And the "bad request " is:
` PUT https://api.github.com/notifications?last_read_at=2016-07-10T18:00:00Z`

And the error is :
`PUT https://api.github.com/notifications?last_read_at=2016-07-10T18:00:00Z: 400 Problems parsing JSON []`

I co

[2016-07-17 17:37] shurcooL commented on #402
Hmm, it's possible the code for that endpoint has a problem. I have never used it myself, so I can't guarantee it works. Has anyone here used `MarkNotificationsRead` and can confirm if it works?

One minor issue (unrelated to what you're reporting) I see in it is that it appears impossible to use it with the default value of "now", which is what's used when `last_read_at` is not provided.

One oth

[2016-07-17 18:25] shurcooL commented on #402
I tried it out, even with the "notifications" scope set, I get the same error. The `time.Time` parameter definitely gets encoded incorrectly.

[2016-07-18 02:26] scbizu commented on #402
hmm... I try to remove `time.Time` parameter  and use the github default parameter (maybe time.Now()?).But I failed again!

[2016-07-18 03:26] shurcooL commented on #402
There's a few problems here. The main one is that this is a PUT method, and it incorrectly tries to encode the parameters as query parameters and sends an empty body. Non-GET methods need to encode the parameters as a JSON body. That's what the "Problems parsing JSON" error message (coming from GitHub) refers to.

Source: https://developer.github.com/v3/#parameters

Another problem as far as I can

[2016-07-18 04:09] gmlewis commented on #402
Thank you for looking into this one, @shurcooL!

[2016-07-18 04:51] scbizu commented on #402
Thanks for  your  explanation  : )   I will try it again later .

[2016-07-18 05:35] shurcooL commented on #402
@scbizu, no problem. Feel free to try PR #403, and let me know if it doesn't fix the problem.

[2016-07-18 20:38] huytd commented on #394
I made a Pull Request #405 to add support for new endpoint: Request a Page Build

[2016-07-19 00:16] #402 closed

[2016-07-19 01:26] shurcooL opened #408 "A couple minor lint issues in this Go package."
The vast majority of the code in this package follows good, idiomatic Go style, and there are no `go vet` issues.

However, there just a couple minor `golint` issues in the documentation. Resolving these is easy and would make the Go package slightly better. Anyone who'd like to contribute a PR is welcome!

[code]

There's also one typo in [github.go](https://github.com/google/go-github/blob/6a121

[2016-07-19 06:19] #394 closed

[2016-07-19 17:43] huytd commented on #184
I think to test this case, we need to have a real renamed or transferred repo, so we should do it in integration test. Am I right? @willnorris

[2016-07-19 17:47] willnorris commented on #184
Yes, an integration test would certain be good, but we could also add a unit test where the test http server returns a redirect to a known URL and we verify that the client follows it.  We'd want to inspect the exact response that GitHub returns and have our test case mimic that.

[2016-07-19 17:51] willnorris commented on #184
So something like:

[code]

Or if GitHub actually uses a different status code, then we should use that here as well

[2016-07-19 17:52] huytd commented on #184
Oh I see. Thank you so much! In this case, unit test is better.
I think I can do this issue 👍

[2016-07-19 17:54] willnorris commented on #184
Cool.  I've invited you to collaborate on the repo.  Once you accept that, I'll assign this issue to you.

[2016-07-19 17:55] huytd commented on #184
That's great! Thank you so much!

[2016-07-19 18:00] willnorris commented on #184
So here's a real response from GitHub.  We should do basically the same in our test... return a 301 status and maybe include a basic JSON response body to make sure the library handles that okay.  What's also particularly interesting is that the redirect URL is of the form `/repositories/{id}` rather than `/repos/{owner}/{repo}`, so we should mimic that behavior as well.

[code]

[2016-07-20 19:56] catchamonkey commented on #305
I've seen this happen, and even if the user has a public email in their E-mails settings, unless it's configured in their profile (https://github.com/settings/profile) as shown, then it won't show up when fetching Users, in which case, you need to hit the ListEmails (/user/emails).

Hope that helps?

Though when calling ```githubClient.Users.ListEmails(nil)``` i'm just getting 404's, but that is a

[2016-07-20 20:08] catchamonkey opened #409 "User.ListEmails returns a 404"
Hi!

Loving the library, good work :)

Everything was fine and dandy, except i'm seeing a 404 when trying to list an authenticated users Emails.

[code]

Gives

GET https://api.github.com/user/emails: 404 Not Found []
in my console running the app.

Scope requested is ```user:email``` which should be plenty.

Just wondering if you've seen anything like this before, or if it's an error in how i'm u

[2016-07-20 20:21] catchamonkey commented on #409
Yeah, so it was me 👯

I have wrapped the client in a struct with an anonymous field so it encapsulates my auth header.
So I actually need to get back the Client from my struct.

My mistake!

[2016-07-20 20:21] #409 closed

[2016-07-20 20:33] gmlewis commented on #409
Glad you found the problem and are enjoying the library!  Thanks for the kind words, @catchamonkey!

[2016-07-20 20:45] shurcooL commented on #305
Hmm. The reported issue was that "User struct **never** contains an email" (emphasis mine), which I think https://github.com/google/go-github/issues/305#issuecomment-198214426 is a good counter-example proof.

If the email field was indeed never populated, then we could/should remove it. But if it's only populated some of the time but not always, there's nothing we need to change.

I think we shou

[2016-07-20 21:27] #305 closed

[2016-07-27 11:43] mh-cbon commented on #376
Hi,

I d like to re open that issue. As i faced a build issue with your repo because i basically can t track it via semver.
I m using glide, and yeah, despite all, this particular case where a dependency relies on a commit is not handled in a satisfactory way.

Whatever, i m just arguing that having a `git tag x.x.x` is not an overwhelming load in your process.

I d like also to point out that i d

[2016-07-29 04:51] jrbasso opened #412 "Support for custom header values on requests"
GitHub's API define few headers that can be passed to the methods, such as `If-None-Match`, `If-Modified-Since`, `Time-Zone`. The first 2 would generate a 304 response and the last one is just informative for adding content. All defined on https://developer.github.com/v3/.

The first 2 helps specially for who is having problems with the rate limit and just revalidating some content since the 304 r

[2016-07-29 05:20] shurcooL commented on #412
About the first 2 headers, they are usually taken advantage of by using a caching HTTP transport with go-github. See https://github.com/google/go-github#conditional-requests. Are you already familiar with that?

[2016-07-29 15:36] shurcooL commented on #408
I forgot about these minor issues, but they still exist:

[2016-07-29 16:33] jrbasso commented on #412
Got it. I thought it would be the workaround, but having these headers in the lib would be nice. It is not necessarily a caching. The requests could be days apart if you store the etag/last modified value.

But I understand if that's not approved to be part of this repo.

[2016-07-29 16:45] willnorris commented on #412
The general philosophy we've tried to take is that go-github should only be responsible for things that are specific to the GitHub API.  This is why the library itself knows nothing about caching, like @shurcooL said.  In general, it also knows nothing about authentication; we rely on standard go oauth libraries to handle that.  The exception here is the actual Authorization API endpoints, since t

[2016-07-29 16:49] jrbasso commented on #412
Thanks for the explanation. That makes totally sense.

[2016-07-29 16:49] #412 closed

[2016-07-29 16:52] willnorris commented on #242
Yes, using a custom options type is the right way to go here, and is used throughout the library.  Following the existing naming conventions, I would probably name it `EventListOoptions` or `ListEventOptions` or something like that.

As for the `X-Poll-Interval` header, you don't need a custom type for that... you can already fetch any response header from the existing Response type since it has t

[2016-07-29 17:05] jrbasso commented on #408
Oops, missed that, sorry.

I opened another PR to fix that and remove the unused vars. I left the gocyclo for another PR since it requires a more detailed review.

[2016-07-29 17:10] apuigsech opened #414 "Support for shallow clone"
Would be useful in some cases to have shallow clone with the same feature that implementes "git clone --depth".

[2016-07-29 17:13] willnorris commented on #414
Sounds like maybe you're looking for https://github.com/gogits/git ?  go-github is focused pretty squarely on implementing the [GitHub API](https://developer.github.com/v3/), not git itself.

[2016-07-29 17:14] willnorris commented on #408
I wouldn't worry to much about the gocycle numbers.

[2016-07-29 18:18] apuigsech commented on #414
Sorry, I opened the issue on the wrong project 👎

[2016-07-29 18:18] #414 closed

[2016-07-29 23:51] sona-tar commented on #414
gogits/git author said,

https://github.com/gogits/git/issues/17

[2016-08-02 01:24] shurcooL commented on #408
This was resolved (again) via #413, closing.

[2016-08-02 01:24] #408 closed

[2016-08-09 15:03] willnorris opened #415 "Add support for new Pages Preview API"
Announcement: https://developer.github.com/changes/2016-07-06-github-pages-preview-api/

Docs: https://developer.github.com/v3/repos/pages/

[2016-08-15 15:51] willnorris opened #417 "Add support for new repository traffic API"
Announcement: https://developer.github.com/changes/2016-08-15-traffic-api-preview/

Docs: https://developer.github.com/v3/repos/traffic/

This is a tad bit more advanced, but would still be a good beginner task.  It doesn't require adding a new service (just put these methods on the existing RepositoriesService), but likely does involve adding a few new data types.

[2016-08-22 16:12] bored-engineer opened #419 "github.CommitFile is missing URL fields"
The `github.CommitFile` struct is missing a few fields. For example if we look at (shortened) file struct from [api.github.com/repos/google/go-github/commits/b9698164669e386680621e2006cab02271257611](https://api.github.com/repos/google/go-github/commits/b9698164669e386680621e2006cab02271257611):

[code]

Notice the `blob_url`, `raw_url`, and `contents_url` have no matching struct field in `github.

[2016-08-22 16:19] willnorris commented on #419
Early in the development of the library, I was intentionally avoiding those raw URL fields since they are mostly useful if you are relying on the [hateoas](https://en.wikipedia.org/wiki/HATEOAS) design of the GitHub API.  go-github does not, so most of the time these URLs aren't needed.  There have been a few cases where people have needed them for various purposes, so I'm fine with them being add

[2016-08-23 04:16] headwindfly opened #420 "Error code in README"
I found a error in the following code(README.md):
[code]
RepositoryListByOrgOptions has no member named `Sort`,  RepositoryListOptions?

[2016-08-23 06:41] shurcooL commented on #420
Thanks for reporting this issue @headwindfly. You're absolutely right.

We should correct the example so it contains valid code.

There are many ways to fix it. One simple way I can think of is to change it to use an existing field of [`github.RepositoryListByOrgOptions`](https://godoc.org/github.com/google/go-github/github#RepositoryListByOrgOptions), such as `Type`. For example:

[code]

You've

[2016-08-23 07:05] headwindfly commented on #420
You are welcome. :)

But i do not want to make a PR, because I am fresh to this package, I don't know how to fix it, So...

[2016-08-23 22:29] willnorris opened #421 "Add support for changing base branch on pull requests"
announcement: https://developer.github.com/changes/2016-08-23-change-base/

This is going to be problematic since `PullRequestsService.Edit` takes a `PullRequest` whose current `base` field is of type `PullRequestBranch`.

[2016-08-24 00:05] parkr commented on #421
I might be way off base, but is `PullRequestsService.EditBase` a no-go?

[2016-08-24 13:32] chandresh-pancholi commented on #420
@headwindfly  @shurcooL  I can pick this up if you guys allow.

[2016-08-24 13:38] headwindfly commented on #420
@chandresh-pancholi ok :+1:

[2016-08-24 13:46] chandresh-pancholi commented on #420
PR Raised. Please review and merge.

[2016-08-24 13:50] chandresh-pancholi commented on #415
Please assign it to me.

[2016-08-24 15:18] willnorris commented on #421
I see what you did there :smirk:

The other option is to add `state` to [NewPullRequest](https://godoc.org/github.com/google/go-github/github#NewPullRequest), and change `PullRequestsService.Edit` to take that as a parameter.  Which is a breaking change and also really ugly since the name `NewPullRequest` doesn't make sense in that context, and it means if you already have a `PullRequest` object y

[2016-08-24 17:15] #417 closed

[2016-08-24 20:43] #420 closed

[2016-08-26 06:12] shurcooL commented on #421
If you think so, it might be worth to send support@github.com an email with that question/suggestion. In my experience, they do a good job of either elaborating on their rationale for an API decision, or taking feedback into account and improving it. At least while the API is in preview period and they're purposefully asking for feedback on it:

[2016-09-03 07:21] yozamacs commented on #387
can you assign this to me please?

[2016-09-03 17:10] willnorris commented on #387
invite sent to collaborate on the repo.

[2016-09-10 16:53] ccqpein opened #429 "Authorize failed in `(s *RepositoriesService) List () {}`"
Hi, I want to use `go-github` to get the statistics data from GitHub. It works month ago, but not yesterday when I tried to use it.

I get the nothing at beginning, then I change the code like below.

[code]

Then I get the error(err2) message:

*Get https://api.github.com/users/userName/repos?type=owner: net/http: invalid header field value "Bearer [Token String]\n" for key Authorization*

I past

[2016-09-10 17:35] shurcooL commented on #429
Is your token in the `./token` file valid? Can you check it? (Don't paste it here since it's your sensitive access information.)

Your authentication setup code looks valid. I used https://godoc.org/github.com/google/go-github/github#hdr-Authentication as reference.

Can you ensure your dependencies are not out of date by running `go get -u github.com/google/go-github/github`?

What version of Go

[2016-09-10 18:21] ccqpein commented on #429
My token file is valid, I didn't change anything until last night. After error happened, I re-token once and paste the token in `./token` file. I believe it is right.

I used https://godoc.org/github.com/google/go-github/github#hdr-Authentication as reference too. In fact, I almost copy and paste the authentication code in my code. And it works well in last month until I found it has some issues l

[2016-09-10 18:28] ccqpein commented on #429
Addition information you might be interested in:

I used Print() to check the where the error information come from:

->client.Repositories.List()
->resp, err := s.client.Do(req, repos)  //170 lines in `github/repos.go`
->resp, err := c.client.Do(req)  //379 lines in `github/github.go`

[2016-09-10 18:39] shurcooL commented on #429
I tried the following snippet right now, and it worked without issue for me:

[code]

So I think the issue is somewhere on your end, not in go-github.

[2016-09-10 20:41] ccqpein commented on #429
I get it.

[code]

`string(fi)` not equal "[token]" anymore, so the authorization is failed. I dont know why Go change this, but at least I know what's wrong with my code.

Thank you!

[2016-09-10 20:41] #429 closed

[2016-09-21 22:48] dmitshur opened #431 "Where is the best layer to add throttling to avoid being marked for abuse?"
GitHub API has some guidelines to follow when accessing their API to avoid hitting abuse rate limit:

https://developer.github.com/guides/best-practices-for-integrators/#dealing-with-abuse-rate-limits

An application should follow those rules. Some of them can be enforced in a general/automated way via throttling, I think, and so they can be factored out into a library (rather than having to be do

[2016-09-21 22:59] gmlewis commented on #431
To be honest, every time I write a big API-dependent job, I do this:
[code]

and then call `time.Sleep(githubDelay)` before each and every API call.  That way, no matter how long it takes to run my batch job, I never hit the API quota limit.  The downside to this is if you have any other jobs running as that same GitHub owner (of the Personal Access Token), the two jobs might interfere with each o

[2016-09-23 14:41] gmlewis opened #432 "Add support for new Projects Preview API"
See blog post for more information:
https://developer.github.com/changes/2016-09-14-projects-api/

[2016-09-23 14:42] gmlewis commented on #432
While implementing this new feature, I found a few problems with the API.
I contacted GitHub Support and am waiting to hear back from them before starting a PR, as their API and documentation may change as a result.

[2016-09-23 19:34] gmlewis commented on #432
Here is the thread: https://platform.github.community/t/a-few-issues-ive-had-with-the-projects-preview-api/531

[2016-09-27 13:59] mh-cbon opened #435 "create issue using a token fails"
Hi,

I m not able to create an issue using an access token.

API will answer

[code]

My code is like this,

[code]

The token was created with those permissions,

[code]

Later i tried with basic auth,

[code]

It worked fine.

I saw somewhere people adds a `login=xxx` query string parameter.
Could this be the problem ?
How can i add a qs param to this create issue request ?

Any help appreciated

[2016-09-27 18:12] parkr commented on #435
I use a token as well for all my requests and create a client this way: https://github.com/parkr/auto-reply/blob/bcefb6fb552c66262a925466aab61dcb8db0c53a/ctx/context.go#L113-L118

[code]

It's working for me! Perhaps there is an issue with your token's scopes after all. I do not use a `login` query string parameter. Make sure the user your token was generated for has access to repo `g.Owner/g.Repo

[2016-09-27 19:42] mh-cbon commented on #435
(omfg) shame on me i figured out an horrible mistake of mine.... a (space) was hanging around.. thanks a lot for the help!

[2016-09-27 19:42] #435 closed

[2016-09-28 20:01] gmlewis opened #437 "Add support for new preview rebase in the Pull Request Merge API and new Squash API enhancements"
See blog post for more information:
https://developer.github.com/changes/2016-09-26-pull-request-merge-api-update/

[2016-09-28 20:56] gmlewis commented on #432
I received great support (as usual) from GitHub... thank you, @bswinnerton!

@shurcooL - this is ready to review whenever you have time.  There is no rush, and this one is rather large... I apologize for the size of it.

[2016-09-30 18:45] #432 closed

[2016-10-06 21:59] catsby opened #444 "How do you construct a complicated Search query?"
I'm trying to search GitHub issues, similar to this `curl` request:

[code]

This code works fine:

[code]

but the moment I try to add `state` I get url encoding errors

[code]

The url gets form encoded and looks like this:

[code]

Am I using the library wrong? `&state=open` gave the same results 😢

[2016-10-06 22:15] willnorris commented on #444
try space instead of `+`: `"repo:org/repo state:open"`

[2016-10-07 02:50] catsby commented on #444
Thank you @willnorris , that works!

[2016-10-07 02:50] #444 closed

[2016-10-07 08:44] nlamirault opened #445 "How list repositories tags for organization ?"
Hi,
i try to list releases for repositories from an Organization.
The code :

[code]

And the output :

[code]

Any idead ? Thanks.

[2016-10-07 16:23] gmlewis commented on #445
Hmmm... that's odd.  It looks like you found a bug in the GitHub API.  I'll report it and follow up in this issue.

[2016-10-09 16:48] gmlewis commented on #445
I heard back from GitHub suport:

So I think you want to use this instead: https://github.com/google/go-github/blob/master/github/repos.go#L468

[2016-10-09 16:48] #445 closed

[2016-10-09 17:21] nlamirault commented on #445
Thanks !

[2016-10-10 18:09] gsquire commented on #437
I would like to do this one, if nobody else has claimed it.

[2016-10-10 18:16] gmlewis commented on #437
SGTM, @gsquire - it is yours.  Thanks in advance!

[2016-10-11 17:27] prestonvanloon commented on #415
Isn't this already done?

https://github.com/google/go-github/blob/master/github/repos_pages.go

The only thing missing is [GET /repos/:owner/:repo/pages/builds/:id](https://developer.github.com/v3/repos/pages/#list-a-specific-pages-build)

[2016-10-11 19:01] gmlewis commented on #415
Ah, yes, it looks like https://github.com/google/go-github/commit/769837dee39b31608be8a30304497e2f25240b6a added most of this, but one item is missing:
https://developer.github.com/v3/repos/pages/#list-a-specific-pages-build

This last function still needs to be added.

[2016-10-12 18:53] groob opened #448 "StatusEvent missing nested commit struct"
The github [documentation](https://developer.github.com/v3/activity/events/types/#statusevent) for a `status` event shows the following structure:
[code]
The current go-payload expects `commit` to be flattened
[code]

The correct structure for a StatusEvent would be closer to:
[code]

[2016-10-12 22:10] parkr opened #450 "Add support for new PullRequestReviewEvent webhook"
https://developer.github.com/changes/2016-10-11-pull-request-review-webhooks/

Example: https://gist.github.com/parkr/25b9fcb88b771eb73e7bf246d647c141

[2016-10-14 05:35] #448 closed

[2016-10-14 06:04] groob opened #452 "Shadowed error value in (RepositoriesService) IsCollaborator method"
Spotted this, probably worth fixing.

https://github.com/google/go-github/blob/1eaf38380d74925650bee1593df74e1a1c0dc3a7/github/repos_collaborators.go#L40

[2016-10-14 06:19] gmlewis commented on #452
Check out `parseBoolResponse`: https://github.com/google/go-github/blob/1eaf38380d74925650bee1593df74e1a1c0dc3a7/github/github.go#L303
and I think this is OK.

[2016-10-14 06:26] groob commented on #452
Ah, that makes more sense. Thanks

[2016-10-14 06:26] #452 closed

[2016-10-18 05:20] bradleyfalzon opened #453 "PullRequest add review_comment_url and review_comments_url fields"
The PullRequest object (https://developer.github.com/v3/pulls/#get-a-single-pull-request) defines two review comment fields `review_comments_url` and `review_comment_url`.

These currently do not exist in the `PullRequest` struct (https://godoc.org/github.com/google/go-github/github#PullRequest), but related URLs do.

If it's OK with the maintainers, I'd like to work on and send a PR for these two

[2016-10-18 05:28] shurcooL commented on #453
I've verified and this issue is valid.

Sounds good, feel free to go for it! Thanks!

[2016-10-18 12:10] bradleyfalzon opened #455 "GitHub Integrations Authentication Workflow"
Hi,

Apart from the addition in #436, the new GitHub Integrations (https://developer.github.com/early-access/integrations/) requires a new authentication workflow, different from OAuth (https://developer.github.com/early-access/integrations/authentication/ as well as https://developer.github.com/early-access/integrations/integrations-vs-oauth-applications/).

As many APIs require this installation

[2016-10-19 15:45] #453 closed

[2016-10-21 04:20] bradleyfalzon commented on #455
So to provide this via a http.RoundTripper, I've done:

[code]

Above is missing constructor as my implementation is slightly more complicated, can provide a simpler version if required.

To use this:

[code]

This generally works in dev, but hasn't been tested completely (in particular, I believe the TCP connections should be reused, but I haven't actually tested this), and I haven't ran this lon

[2016-10-23 17:53] akshaychhajed commented on #207
#209 fixes this. Why didnt this issue autoclose?

[2016-10-23 18:55] shurcooL commented on #207
@akshaychhajed Thanks for pointing that out.

Closing, this has been resolved in 25b0481acbe9f2123f2b39c3235b156cff6296cd.

That PR was merged by rebasing on master and manually merging a new commit. That commit didn't say it resolves this issue in the commit message. The PR was closed manually, but this issue was forgotten.

[2016-10-23 18:55] #207 closed

[2016-10-24 19:18] gmlewis opened #457 "Discuss Pull Request Merge (squash) API"
From #446 we are discussing the Preview API:
https://developer.github.com/changes/2016-04-01-squash-api-preview/
https://developer.github.com/v3/pulls/#merge-a-pull-request-merge-button

The question is, do we have this (option 1):

[code]

or (option 2):

[code]

Now that I write it that way, we would have to have separate `bool`s for each type of merge method (`merge`, `rebase`, etc.).

I vote f

[2016-10-25 07:32] shurcooL commented on #457
This is what GitHub API presents, right?

Name | Type | Description
------|-------|------------
commit_title | string |Title for the automatic commit message.
commit_message | string | Extra detail to append to automatic commit message.
sha | string | SHA that pull request head must match to allow merge.
merge_method | string | Merge method to use. Possible values are merge, squash or rebase. Defa

[2016-10-25 17:33] gsquire commented on #457
My vote is for option one as well. With regards to the string value for the merge method, I added documentation for what the valid options are thanks to CR by @gmlewis.

They are also listed in the documentation for the API. For a case with only three options, it seems like a string is OK.

[2016-10-26 14:56] willnorris opened #458 "Update Traffic API methods to use new timestamps"
There was a lot of discussion on #418 due to the fact that the Traffic API was using a different timestamp format than the rest of the API.  That's now been fixed: https://developer.github.com/changes/2016-10-26-traffic-api-update/

@succo: you wanna take a stab at updating this, since you're most familiar with that code?

[2016-10-26 17:03] Succo commented on #458
@willnorris sure I should have time for that tomorrow or this WE.

[2016-10-26 17:05] willnorris commented on #458
(@succo, I've invited you to be a collaborator on this repo so that I can assign this issue to you.  Let me know once you've accepted the invite)

[2016-10-26 17:53] Succo commented on #458
@willnorris should be good.

[2016-10-27 10:09] bradleyfalzon commented on #455
Hi,

I've provided this via an external package in the meantime. https://github.com/bradleyfalzon/installationTransport

Feedback welcome, but for the moment, will close the issue.

Thanks

[2016-10-27 10:09] #455 closed

[2016-10-27 21:09] grodrigues3 opened #459 "Add Remove Assignee Functionality (Unassign)"
It looks like github's api exposes functionality for unassigning PRs, but go-github does not yet implement this.

https://developer.github.com/v3/issues/assignees/#remove-assignees-from-an-issue

[2016-10-27 22:05] apelisse commented on #459
Done: https://github.com/google/go-github/blob/master/github/issues_assignees.go#L69
You're welcome. I accept checks. ;-)

[2016-10-27 22:16] #459 closed

[2016-10-28 14:32] willnorris opened #460 "Add new webhooks for Labels and Milestones"
Announcement: https://developer.github.com/changes/2016-10-27-new-label-and-milestone-webhooks/

This should be very straightforward... just defining the types for these new events.

[2016-10-28 14:34] willnorris opened #461 "Update Projects API to support organizations projects"
Announcement: https://developer.github.com/changes/2016-10-27-changes-to-projects-api/

/cc @balintant since you did the initial implementation of this.

**Edit by @shurcooL:** The initial implementation of this that we merged was #438 that @gmlewis made, not #433.

[2016-10-28 15:10] #458 closed

[2016-11-02 01:28] lucasalcantara commented on #460
working with.

[2016-11-02 21:45] gmlewis opened #464 "Remove authorizations grants API preview header"
See: https://developer.github.com/changes/2016-10-12-oauth-authorizations-grants-api-released/

`mediaTypeOAuthGrantAuthorizationsPreview` and `application/vnd.github.damage-preview+json` can be removed now.

[2016-11-02 22:03] gmlewis commented on #457
I like the `MergeMethod` proposed by @shurcooL but as he said, we don't do it elsewhere in similar situations, so I'm thinking we should just leave it out.

I'm going to go ahead and close this issue and let's continue with option 1 in #446.

Feel free to reopen if anyone has any other ideas/comments.

[2016-11-02 22:03] #457 closed

[2016-11-02 22:41] #415 closed

[2016-11-03 16:30] #464 closed

[2016-11-04 20:59] callmegarrus commented on #450
can you assign this issue to me?

[2016-11-04 21:01] willnorris commented on #450
@callmegarrus: invite sent

[2016-11-04 22:39] lucasalcantara commented on #461
can you assign this issue to me?

[2016-11-04 22:40] callmegarrus commented on #450
Oh! Sorry, haven't noticed that @parkr already made pull requests with possible solution(#451).

[2016-11-04 22:48] gmlewis commented on #461
Invitation sent.

[2016-11-04 23:34] #460 closed

[2016-11-05 03:59] apelisse opened #466 "Remove boilerplate for receiving webhooks"
I have two goals:
- Remove the amount of boilerplate you have to write if you want to create a small app listening to webhooks,
- Hide the `event interface{}` cast to actual type from the user.

I'm proposing something like this:

[code]

Is that something you would be interested in merging in your tree?

Thanks!

[2016-11-05 07:38] shurcooL commented on #461
This change is going to require creating a new service, `ProjectsService`.

[2016-11-05 08:41] shurcooL commented on #466
I feel like I've seen something very similar proposed somewhere, but I can't find it now.

[2016-11-05 08:49] shurcooL commented on #450
I've pinged him on that PR, so we can hopefully figure out how to proceed on this.

[2016-11-05 15:06] apelisse commented on #466
This is sort of a follow-up of #427

@gmlewis already mentioned that this is done one way or another in different places. I think it would make sense to have a common way to do it (while removing the boilerplate code).

I could give a shot at implementing this, it should be quite easy, but I want to know if it's a dead-end before.

[2016-11-05 19:41] willnorris commented on #466
My initial gut reaction is that this is a bit beyond the scope of what go-github should be.  It's designed to strictly implement the GitHub API with as little interpretation or opinion as possible.  How the data from GitHub is handled or processed is the responsibility of the caller.

If enough people feel strongly that this is generally useful enough to include, then I would probably propose putt

[2016-11-05 20:32] shurcooL commented on #466
I'd also like to point out the approach @bradleyfalzon took in #455, which is to place that higher level helper code into a separate repository.

I'm not familiar with the installations service so I can't review it, but if someone else here can and it looks good, I think we should mention it in the README.

Perhaps that's a good approach to take. Just a thought.

[2016-11-07 03:38] lucasalcantara commented on #421
How this issue going? Is it still have to be done?

[2016-11-07 19:41] apelisse commented on #466
I like the proposal of having it in a different package, and respect the idea that `go-github/github` should be a pure implementation of the API.

If it ends-up in a different repository, then:
- Where would it live and with what name? How do people discover it?
- It would be very strongly coupled to go-github repository

[2016-11-07 19:54] shurcooL commented on #466
Good questions. Just to clarify, I didn't meant it has to live in a separate repo, just that it might be a good idea to prototype it there first and then decide to bring it into this repo, or link to it, etc.

[2016-11-09 20:14] #437 closed

[2016-11-10 00:19] #461 closed

[2016-11-10 01:27] lucasalcantara commented on #421
@willnorris @shurcooL   is this still have to be done?

[2016-11-10 05:09] shurcooL commented on #421
As far as I can tell, this issue is unresolved and needs to be done. Latest status appears to be https://github.com/google/go-github/issues/421#issuecomment-242102052.

[2016-11-10 16:27] gmlewis commented on #421
I'll read up on this issue today and send a request to GitHub Tech Support once I have a base understanding.

[2016-11-11 18:08] gmlewis commented on #421
I had an exchange with the excellent GitHub Tech Support team, and they pointed out that the [PATCH API to update a PR](https://developer.github.com/v3/pulls/#update-a-pull-request) never supported the sending of a JSON object representing a PullRequest, which may or may not be an obvious statement to others reading this thread.

I did [some digging](https://github.com/github-archive/developer.git

[2016-11-11 19:21] willnorris commented on #421
what about leaving pulls.Edit as it is today, and have it continue taking a PullRequest as input, but internally it converts it to a

[code]

or whatever we name it.  Basically, just copy over Title, Body, and State as-is, and copy Base from the passed-in PullRequest.Base.Ref.  This is also a patter we already have in the library where we occasionally use unexported types for construct requests.

[2016-11-12 00:47] shurcooL commented on #421
So something like `PullRequestEdit`, a struct dedicated to editing a pull request, right?

I'd be in agreement with doing that. We often start out trying to reuse the same struct for get and edit operations, but later find out they're not really compatible (e.g., when editing a pull request, most [fields of `PullRequest`](https://godoc.org/github.com/google/go-github/github#PullRequest) such as `I

[2016-11-12 21:28] nmiyake opened #471 "Licenses struct is out of date"
The `Licenses` struct has diverged from the latest returned by the GitHub API (https://developer.github.com/v3/licenses/) and should be updated to reflect the latest state.

[2016-11-12 21:36] nmiyake commented on #471
Specifically:

* `spdx_id`, `permissions`, `conditions` and `limitations` fields are absent
* `category`, `required`, `permitted` and `forbidden` are no longer fields

Also, the call to get the license for a repository (https://developer.github.com/v3/licenses/#get-the-contents-of-a-repositorys-license) only returns the inner struct and does not return relevant information such as `sha` and `conte

[2016-11-13 15:24] alok87 opened #473 "Question: How to get the user id using client"
How to get the current user id if i have this object https://godoc.org/github.com/google/go-github/github#Client

Could not find it in docs.
Please suggest

Let me know the right place to ask this question if this is not the right place.

[2016-11-13 15:51] heidmotron commented on #473
https://godoc.org/github.com/google/go-github/github#UsersService.Get

If you pass an empty string into Get it will return the current authenticated user object.

It might be worthwhile to have a UsersService.GetCurrentUser() method.

[2016-11-13 17:16] gmlewis commented on #421
I agree. Let's do @willnorris' suggestion above.
This should also be relatively straightforward, so I'm going to mark this issue as "good for beginner" in case anyone else wants to contribute.

[2016-11-13 17:33] alok87 commented on #473
@heidmotron Awesome, it worked  thanks !

[2016-11-13 17:33] #473 closed

[2016-11-14 18:36] #471 closed

[2016-11-25 06:04] shurcooL commented on #176
@kylebrandt Looks like this was a valid bug in the library, which should be fixed soon thanks to a PR by @whilp. My https://github.com/google/go-github/pull/475#pullrequestreview-10113028 describes the details of how it happened.

[2016-11-25 08:32] shurcooL commented on #141
Agree that a CLI program shouldn't be inside this repository.

I know of one that already exists, written by Russ Cox. See [`rsc.io/github/issue`](https://godoc.org/rsc.io/github/issue). There may be more, and I suspect they would vary wildly depending on the exact user needs.

[2016-11-25 08:33] #141 closed

[2016-11-27 03:15] alindeman commented on #387
I took a stab at some of this in #476

[2016-11-28 19:32] shurcooL opened #477 "Improve docs of SetRepositorySubscription to make it more clear it can be used to watch/unwatch repos."
PR #428, which tried to add legacy GitHub API endpoints, came to be because the [documentation of `SetRepositorySubscription`](https://godoc.org/github.com/google/go-github/github#ActivityService.SetRepositorySubscription) in go-github is not very clear about the fact that those endpoints can be used to watch/unwatch repos. In fact, they're the preferred current (non-legacy) way of doing it.

The

[2016-11-28 19:38] #450 closed

[2016-11-28 20:04] parkr commented on #466
For reference, I have [done this with my project `auto-reply`](https://github.com/parkr/auto-reply/blob/e065c8a1a44be9fd273fa24519875b6245a77b95/hooks/global_handler.go#L33). It takes in the request, gathers N handlers for each event type, reads and unmarshals the request body into the proper webhook payload struct, and fires each handler in a separate goroutine with the payload. It requires a sma

[2016-11-28 20:19] apelisse commented on #466
Yeah, I'm inclined to close this issue after all ...

[2016-11-28 20:33] #176 closed

[2016-11-30 17:39] #387 closed

[2016-12-02 18:39] mspiegel commented on #184
Are redirects handled transparently by go-github? I had client.Repositories.DeleteHook() return a 307 response.

[2016-12-02 19:09] willnorris commented on #184
Given that this issue is still open, I guess the answer is... not sure?  As I noted in the initial issue description, this *should* be handled by the `http.Client`.  Maybe it doesn't handle 307 responses?  All the more reason for us to add some test cases for this behavior.

[2016-12-02 20:16] shurcooL commented on #184
@huytd, are you still working on this, or should we unassign this issue to free it up for others to work on?

[2016-12-02 20:38] mspiegel commented on #184
Now the user who has renamed the repository has now deleted the repository so I'm getting a 404. But it should be possible to reproduce the issue by creating a repo and then renaming the repo. I'll try to get a reproducible test case.

[2016-12-03 00:17] mspiegel commented on #184
@jonbodner did some research and the http.client library has hooks for redirecting GET, HEAD, POST, and PUT. But no redirects for DELETE or PATCH. We're not sure yet if this is a bug or a feature in the golang standard library. Jon and I need to try out a couple of different approaches and we'll follow up on this thread.

[2016-12-03 15:22] jonbodner commented on #184
More research: this behavior is changed in Go 1.8 beta. From the release notes:

[code]

Assuming this code makes it to release, recompiling with Go 1.8 will ensure that DELETEs requests that return a 307 status code will redirect automatically.

[2016-12-03 16:47] ahume opened #482 "How to get a Deployment or DeploymentStatus by ID"
https://developer.github.com/v3/repos/deployments/

The API supports looking up `Deployment` and `DeploymentStatus` by ID with a simple GET request... eg.

`https://api.github.com/repos/octocat/example/deployments/1`

This doesn't seem to be supported in the repos_deployments code.

[2016-12-05 05:19] shurcooL commented on #482
Is this actually documented at https://developer.github.com/v3/repos/deployments/? I can't seem to find it there.

[2016-12-05 07:13] ahume commented on #482
It's not explicitly documented as an endpoint for some reason. But it's returned as the `Location` header and the `url` field of a successful create action.

[2016-12-05 09:20] ahume commented on #482
I reached out to Github support about this, and there's definitely some clarification needed in the documentation.

* The "get-single-status" endpoint, does *not* actually work (despite being returned as the URL field in a status). This seems like an obvious bug one way or the other, but either way, this definitely shouldn't be supported in the go client (since it won't work).

- The "get-single-d

[2016-12-06 01:07] shurcooL commented on #482
Thanks for doing that, it sounds like the right thing to do in this situation.

[2016-12-06 18:19] gmlewis commented on #482
Reopening to track undocumented API merged in #483.

[2016-12-07 18:18] caarlos0 opened #486 "Make empty responses due to 202 Accepted status code more visible."
I've built a tool to gather all stats of all repos in a given org and rank the users, and, as I just found, some times github returns an empty hash on the endpoint that returns the statistics (`client.Repositories.ListContributorsStats` on go-github).

I changed `github.go` to debug the issue:

[code]

And, it turns out, github returned an empty hash (`{}`) on a repo that wasn't changed the last y

[2016-12-07 19:07] caarlos0 commented on #486
@shurcooL I just did more tests, seem to be random.

https://github.com/caarlos0/org-stats

You can exec it against the `docker` org for example.

Not sure it's a bug on github's side anymore.

[2016-12-07 21:06] shurcooL commented on #486
Can you reproduce it by hitting their RESP API directly via `curl` or something?

[2016-12-08 11:25] caarlos0 commented on #486
Reply from github:

[code]

[2016-12-08 11:28] caarlos0 commented on #486
So, basically, all I had to do is retry when response code is 202... Not sure if it's worth to abstract it in go-github or just leave it as is...

[2016-12-08 18:31] shurcooL commented on #486
Ah, yeah, I forgot about that.

I think the best/most appropriate thing for us to do is detect 202 in go-github and return a non-nil error that indicates Accepted status.

As far as I can tell, 202 will always mean "we were not able to return the results you asked for in this call, but we've succesfully scheduled work, so try again later". (Are there any counter-examples?) Returning a non-nil erro

[2016-12-08 18:38] caarlos0 commented on #486
@shurcooL I'm OK with that and I can work on a patch for it tonight. 👍

[2016-12-08 19:16] caarlos0 commented on #486
@shurcooL done -> https://github.com/google/go-github/pull/488

[2016-12-09 19:01] #477 closed

[2016-12-12 19:51] #486 closed

[2016-12-14 20:33] shurcooL opened #495 "Add support for new Pull Request Reviews preview API."
Announcement: https://developer.github.com/changes/2016-12-14-reviews-api/.

Docs: https://developer.github.com/v3/pulls/reviews/.

This was announced today.

[2016-12-16 00:56] sahildua2305 commented on #495
I'd like to work on this @shurcooL. Can you please help me in getting started?
Will it be similar to `pulls_comments.go`?

[2016-12-16 01:03] haya14busa commented on #495
Hi!

@sahildua2305 I started to work on this now to use this API for [my personal project](https://github.com/haya14busa/reviewdog/), and it's in progress.
But, you commented first, so I think you can do this if you want, otherwise please let me handle it.

As for the progress, I just only implemented `PullRequestReviewService.List`, so progress is small.

[2016-12-16 01:09] sahildua2305 commented on #495
@haya14busa thanks for offering. I'd really like to work on this. However, I'll need help in getting started. I'm new to Go.

[2016-12-16 01:16] haya14busa commented on #495
I think you can add rest of methods like this https://github.com/google/go-github/compare/master...haya14busa:pull-reviews

I guess we can also use `PullRequestsService` instead of adding new `PullRequestReviewService`.

[2016-12-16 02:14] shurcooL commented on #495
Thanks for offering to work on this, @sahildua2305 and @haya14busa.

How about @sahildua2305 takes this and @haya14busa, you can help out with reviewing the PR and iterating on it as needed?

I've looked at the new API. It's 6 new endpoints, and they're quite similar/related to pull requests.

I agree with @haya14busa, it looks like simply adding them to the existing `PullRequestsService` would be

[2016-12-16 03:01] bruceauyeung opened #496 "Merged field in github.PullRequest produced by client.PullRequests.List(owner, repo, opt) is not filled in correctly"
i get a `[]*github.PullRequest` slice through invoking ` client.PullRequests.List(owner, repo, opt)`. but i found a strange thing. all PullRequests in this slice have field `Merged` with `nil` value , have field `MergedAt` with `nil` or non `nil` value based on the actual situation.

i think  field `Merged` should have a non nil value when `MergedAt` does.

commit 466070b0580728e63bd1a415e0019639e

[2016-12-16 03:15] haya14busa commented on #495
Thank you for the response, @shurcooL!

Ok, I'm happy to help @sahildua2305! Please notify me when you open a pull request or want some helps.

[2016-12-16 03:21] shurcooL commented on #496
I think this is because there are less fields populated when you list pull requests. Try getting a single pull request, and I expect `Merged` will be populated then.

That's just what the GitHub API returns. Compare sample output of https://developer.github.com/v3/pulls/#list-pull-requests with https://developer.github.com/v3/pulls/#get-a-single-pull-request. The former contains "merged_at" field

[2016-12-16 11:03] sahildua2305 commented on #495
Thanks for your response, @shurcooL!

Also thank you for offering help, @haya14busa. I'll inform you as I open the PR soon.

[2016-12-16 12:37] bruceauyeung commented on #496
this is the commit number of  go-github version i am using.

i don't understand why dont fill in `merged`  but `merged_at`. there is no performance penalty when filling in `merged` field. should we report this bug or situation to github API ?

[2016-12-16 15:16] shurcooL commented on #496
Ah, got it, thanks.

But there is. Imagine you get a list of 100 pull requests, then another 100, then another 100. The decision to leave some fields out when listing makes a bigger impact then.

Is `merged` the only field that's missing when listing pull requests? Or are there many others missing too?

If it's the only one, it's probably a bug. If there are many missin, I suspect it's as intended

[2016-12-16 17:42] sahildua2305 commented on #495
@shurcooL @haya14busa I am just getting started with my work on this. How do I test my changes?

[2016-12-16 17:56] shurcooL commented on #495
First, make sure all existing tests pass by running `go test github.com/google/go-github/github`.

You can write a simple program that exercises your new code and hits the real GitHub API, and see if it works as expected.

Then write unit tests that are similar to the ones that exist. It helps to get a real GitHub API response and make your mock handler return something equivalent.

Also see the u

[2016-12-16 18:24] sahildua2305 commented on #495
Thanks @shurcooL! I got everything (related to environment and existing tests) working. I will test my changes, write tests and create a PR once at least one endpoint is covered. 😄

[2016-12-18 09:26] haya14busa commented on #495
FYI: Preview Review Requests API is also released

Announcement: https://developer.github.com/changes/2016-12-16-review-requests-api/

Doc: https://developer.github.com/v3/pulls/review_requests/

[2016-12-21 22:35] gmlewis opened #500 "Optional fields of pullRequestMergeRequest should not be populated"
In #456, I had given incorrect advice to the author of the PR and then merged the PR without allowing @shurcooL to review the requested changes, all of which was my fault.

As a result, the optional fields in `pullRequestMergeRequest` are being sent even if empty.

The GitHub API docs will need to be read to determine which fields are optional, and then only pass them in the JSON request if non-ze

[2016-12-21 23:17] shurcooL commented on #500
Looking at the [`pullRequestMergeRequest` type](https://gotools.org/github.com/google/go-github/github?rev=51a22b31becd9227cfca7ec8a5c195cb468af2d3#pullRequestMergeRequest):

[code]

It appears that the intent is to have `CommitMessage` be mandatory, but `CommitTitle`, `MergeMethod` and `SHA` are optional. Does that look right?

Can CommitTitle ever be an empty string?

If not, then we can change

[2016-12-22 00:14] gmlewis commented on #500
Yes, I believe that would is correct.
Note to other readers... the only change is making all fields `string`s instead of pointers to `string`s.
SGTM.

[2016-12-22 06:46] shurcooL commented on #500
I'll make a PR for this. I'll write tests to make sure the new version works as expected, and so that it doesn't regress. :)

[2016-12-22 18:10] #500 closed

[2016-12-23 13:47] Kegsay commented on #184
Running go 1.7.4 I can confirm that Github returns 307 on a renamed repository and this is not handled by `go-github`. It looks like waiting for go 1.8 will fix this, but I cannot confirm this yet.

[2016-12-23 15:21] shurcooL commented on #184
Thanks for testing and reporting results, @Kegsay. Which repo did you test on, an do you have a snippet that you've used handy? I have 1.8 here, so I can try and see if it indeed helps.

[2016-12-23 16:13] Kegsay commented on #184
@shurcooL I tested it on a repo which was recently renamed, in this case `vector-im/vector-web` which is now `vector-im/riot-web`. Attempts to create issues using `vector-web` fails with the 307. I obviously can't give you a complete example since it's using OAuth tokens, but effectively:

[code]

And this will indeed print `HTTP 307` (so `err` and `res` are non-nil). Renaming repos on Github isn'

[2016-12-23 16:32] shurcooL commented on #45
@willnorris, what's the status of this issue (since you've [self-assigned yourself](https://github.com/google/go-github/issues/45#event-313845041) to it)?

In https://github.com/google/go-github/issues/19#issuecomment-22976895, you said:

But that was 2013, so I think this issue is outdated and we probably don't actually want to do this anymore, do we?

[2016-12-23 19:19] willnorris commented on #45
I never got to it, but I don't think it's outdated.  Arguably, it's still something we should do.

[2016-12-29 23:44] #482 closed

[2017-01-01 08:54] varadarajana commented on #98
I am new to go as well as go-github project. I am trying to set up the go repository and was able to run the basicauth example. How are the tests set up? I am unable to test the individual test files here. I am running these tests locally.

[2017-01-03 20:58] shurcooL commented on #98
What repository exactly?

The go-github project uses standard Go tests. They're inside the `github.com/google/go-github/github` package, so running `go test github.com/google/go-github/github` would run all the tests there.

Please see here for the best places to ask Go questions:

https://github.com/golang/go/wiki/Questions

[2017-01-04 17:46] varadarajana commented on #98
I am sorry for spelling out the repository wrong. I am using the go-github repository.

After cloning the repository, i tried running the integration test cases in the tests/integration folder with GITHUB_AUTH_TOKEN set in environment.

Here is what I did from the GitHub folder
go get -t -v ./...
go test -v ../tests/integration/*

Here is the error I got

../tests/integration/repos_test.go:117: br

[2017-01-05 02:51] shurcooL commented on #98
No problem, I just wanted to make sure I'm not misunderstanding you.

Yes, it is. Please do. Open a new issue, and feel free to work on a PR to resolve it. The integration tests are run manually, so they got out of date after some breaking API changes in the library. Thanks!

By the way, don't forget to read over the [integration tests README](https://github.com/google/go-github/tree/master/tests#

[2017-01-05 08:48] varadarajana opened #507 "Fix broken integration tests"
The integration tests are now broken.

After cloning the repository, I tried running the integration test cases in the tests/integration folder with GITHUB_AUTH_TOKEN set in environment.

Here is what I did from the GitHub folder
 go get -t -v ./...
 go test -v ../tests/integration/*

Here is the error I got
../tests/integration/repos_test.go:117: branch.Protection undefined (type *github.Branch h

[2017-01-06 01:59] sahildua2305 commented on #421
I'm not sure if I understand @willnorris's suggestion completely. But I'd like to work on this. 🙂

[2017-01-06 02:06] shurcooL commented on #421
An example of what I think his suggestion was is similar to `createCommit` [here](https://github.com/google/go-github/blob/dcda0b96bd591fbeb40dcaddec3fb40a7fcaca34/github/git_commits.go#L80-L113).

[2017-01-06 02:52] shurcooL opened #508 "Add support for Commit Search preview API."
Announcement: https://developer.github.com/changes/2017-01-05-commit-search-api/.

Docs: https://developer.github.com/v3/search/#search-commits.

This was announced today.

[2017-01-06 16:24] willnorris commented on #421
Yes, that was the example I was thinking about.

[2017-01-06 22:48] shurcooL commented on #419
In pursuit of closing non-actionable issues, now that #484 has been merged, is there anything else left to be done for this issue? Or shall we mark it as a question and close?

[2017-01-06 23:37] shurcooL commented on #304
Agreed, I don't think it's possible to have one-size-fits all policy for retrying that is acceptable for all users of the library. It belongs in a higher level.

A somewhat related issue/question is #431.

[2017-01-07 17:56] varadarajana commented on #507
Here are few changes with which I could fix the issue and wanted to validate the approach before I create a PR and send for review.
The file repos_test.go is broken for EditBranch function. In this function Permissions are not being set with the new APIs. The new API UpdateBranchProtectionRequest requires ProtectionRequest structure. So we need to expose the structure ProtectionRequest from Reposi

[2017-01-07 18:09] shurcooL commented on #507
I'm not quite sure what you mean by "expose" and "different package". The integration test runs as an external test, so it can only access the public API of the `github` package. That's ideal, because it's what the users would have access to.

At a high level, you want to update the code such that it performs the same functionality as old code, just using the new API that has changed.

If you've a

[2017-01-07 21:00] bored-engineer commented on #419
Sorry for the delay. I believe this has been fixed by #484!

[2017-01-07 21:00] #419 closed

[2017-01-08 10:31] varadarajana commented on #507
@shurcooL : can you please review this?

[2017-01-08 17:38] sahildua2305 commented on #508
Since it's going to be similar to #497, I can work on it 😃

[2017-01-08 22:34] ereyes01 opened #510 "Timeline Source Object is Incomplete"
When attempting to use the Timeline feature, I noticed that the definition of the `Source` does not match what I get back from the Github API. For example, have a look at this issue in the docker repository (json formatting cleaned up by piping output to the `jq` command, this is optional):

[code]

So, as you can see, the `source` object in this case basically just contains:

[code]

Where type i

[2017-01-09 03:04] shurcooL commented on #510
Indeed, so the real response doesn't line up with the documentation in this case. I've confirmed the JSON response you posted, it happens for me too.

Do you mind contacting GitHub support about it and inquire why we're seeing such a response that is counter to the docs?

In https://developer.github.com/changes/2016-05-23-timeline-preview-api/, they wrote:

But I don't see any updates regarding ti

[2017-01-09 03:59] ereyes01 commented on #510
Thanks for the reply, I agree- we should get Github to clarify the discrepancy for posterity's sake.

I've sent them a request for help and pointed them at this issue.

[2017-01-09 17:27] ereyes01 commented on #510
Response today from Github:

Hopefully the doc update will make the fields I observed "official" as well as clarify what others there may be.

[2017-01-09 18:50] shurcooL commented on #510
Sounds good. Once we have that clarification, it might allow us to update #511 to actually remove some fields that are no longer relevant. Are you okay with waiting on that PR?

[2017-01-09 22:22] ereyes01 commented on #510
Yes, we can hold off on the PR until the docs make things clearer. In the meantime, I can switch to using my fork for now to unblock my other work. Thanks!

[2017-01-12 17:25] gmlewis opened #514 "Support update to organization and team invitations APIs"
Announcement:
https://developer.github.com/changes/2017-01-12-organization-team-invitation-update/

[2017-01-12 17:27] gmlewis opened #515 "Remove preview header for Traffic API"
Announcement:
https://developer.github.com/changes/2016-12-28-end-traffic-api-preview/

[2017-01-12 17:30] gmlewis opened #516 "Add support for Preview Review Requests API"
Announcement:
https://developer.github.com/changes/2016-12-16-review-requests-api/

[2017-01-12 20:03] shurcooL commented on #516
Imagine the struct for "create a review request" endpoint options being named... `PullRequestReviewRequestRequest`. 😆

[2017-01-12 20:06] gmlewis commented on #516
Looks like Java in Go!  :smile:

[2017-01-14 18:33] varadarajana commented on #516
If this has not been assigned earlier, please assign it to me, I can work on it, as my integration tests are almost complete.

[2017-01-14 18:35] varadarajana commented on #515
Please assign this to me, I am almost done with integration test issues.

[2017-01-14 19:01] #515 closed

[2017-01-16 16:21] varadarajana commented on #514
Can this be assigned to me?

[2017-01-16 16:46] gmlewis commented on #514
I'll send you an invite.

[2017-01-16 23:42] sahildua2305 commented on #508
@shurcooL can you please assign this to me? I have been busy last week. I will start working on this today.

[2017-01-17 16:14] varadarajana commented on #514
Since I already have a PR open, I am planning to create a  branch for this feature change, and then create the new PR on it. Is this the right approach?

[2017-01-17 16:23] sahildua2305 commented on #508
In earlier `commit` objects, GitHub used to send key `sha` which had the hash of the commit. However, in this new commits search endpoint, the returned `commit` object has `hash` key for the same.

I will get in touch with GitHub support to confirm the difference and to suggest to possibly have the same parameters to have consistency.

[2017-01-17 16:25] shurcooL commented on #514
Yep, that's the way to go. When creating the second PR, pick your new branch as the head branch.

[2017-01-17 16:27] shurcooL commented on #508
In order to be able to assign you, you'll need to be invited by @gmlewis first.

[2017-01-17 16:50] sahildua2305 commented on #508
@shurcooL should we keep all the information available in the commit object or can we skip some fields?

[2017-01-17 17:42] gmlewis commented on #508
@sahildua2305 - I'll send an invite.

[2017-01-17 17:53] sahildua2305 commented on #508
Thanks @gmlewis

[2017-01-17 18:12] shurcooL commented on #508
It's okay to skip the `_url` fields if you think they're unlikely to be useful (and someone else can add them later if they need them). It's also okay to include them. It's up to you. See https://github.com/google/go-github/issues/419#issuecomment-241466941 for background on our stance regarding those fields.

That said, is there an existing struct we can use to parse the items in a commit search

[2017-01-17 18:14] sahildua2305 commented on #508
As far as I have checked, the closest matching struct was `commit` from `git_commits.go`. However, the format of output for this search endpoint is completely different from that for the older commit output format. Hence, I will go with a new struct. Please let me know if you find something matching.

[2017-01-17 18:31] shurcooL commented on #508
I've looked a bit, and came to the same conclusion, @sahildua2305. SGTM. 👍

[2017-01-17 21:44] donatj opened #521 "PullRequestEvent missing Root level Label"
When the "action" of a PullRequestEvent from webhook is "labeled" there should be a "label" root level entry ala:

[code]

This is missing currently.  I've included a full actual (slightly anonymized) webook example body including the `"label"`

<details><summary>View Full JSON Body</summary>

[code]

</details>

[2017-01-17 23:12] shurcooL commented on #521
Sadly, the GitHub documentation doesn't list it at https://developer.github.com/v3/activity/events/types/#pullrequestevent. (This is worth sending their support an email about.)

We should add it to [`PullRequestEvent`](https://github.com/google/go-github/blob/cec1afe99df659573e7220907135778489b4da91/github/event_types.go#L365).

Do you know if this label entry is present only for webhook events,

[2017-01-17 23:25] donatj commented on #521
@shurcooL

It appears to be on both

![image](https://cloud.githubusercontent.com/assets/133747/22044375/f9445956-dcd9-11e6-83d1-7761e9a8d50d.png)

[2017-01-17 23:30] donatj commented on #521
@shurcooL It does appear to be on both as far as I can tell but I'm not familiar with working with the events endpoint only the webhooks. The structure of this is different so I might be looking at the wrong thing?

![image](https://cloud.githubusercontent.com/assets/133747/22044490/99b30a0e-dcda-11e6-95f8-3daa02eb7f99.png)

[2017-01-18 02:29] shurcooL commented on #521
Which of these endpoints did you hit?

[code]

Or:

[code]

The latter have a different format than other events, as documented in the [Issue Events API](https://developer.github.com/v3/issues/events/).

[2017-01-18 02:49] donatj commented on #521
I hit the latter as the action of labeling did not appear to be showing at
all in the prior.

On Jan 17, 2017 8:29 PM, "Dmitri Shuralyov" <notifications@github.com>
wrote:

[2017-01-18 02:53] shurcooL commented on #521
Could it be because of pagination? Perhaps try looking at additional pages.

You mentioned this was inside a `PullRequestEvent` event, right? So it should have a `"type"` key with value `"pull_request"`.

[2017-01-18 15:34] donatj commented on #521
The response I got back from Github on their documentation:

I will poke a little more to see if I can find it in GET /repos/:owner/:repo/events …

[2017-01-18 17:40] shurcooL commented on #521
All right, thanks. From that response, it sounds like it confirms that a PullRequestEvent with "labeled" action would have a "label" key in the payload.

So we just need to confirm whether it's there for webhook events only, or all events. Then we can resolve this.

[2017-01-19 06:55] shurcooL opened #522 "Errors caused by internal HTTP client's Do() don't have client_secret redacted."
`go-github` tries to redact `client_secret` URL query parameter value from errors that it returns, to prevent leaking sensitive information in case they errors are exposed to users. See:

- https://github.com/google/go-github/blob/173908142398084e14d7f14c39924f0004d43679/github/github.go#L552-L564
- https://github.com/google/go-github/blob/173908142398084e14d7f14c39924f0004d43679/github/github.go#

[2017-01-19 17:52] gmlewis opened #524 "Support preview Organizations Membership API and new filter"
Announcement: https://developer.github.com/changes/2017-01-16-audit-outside-collaborators-for-2fa/

[2017-01-19 22:22] #507 closed

[2017-01-19 22:39] #522 closed

[2017-01-20 17:13] varadarajana commented on #514
First i wanted to started writing test cases for the ListPendingTeamInvitations. Here the method mock server returns only "id" which is compared in test case. It was not including values for Login, Email, Role, CreatedAt. Do I need to modify, since i need to now test with "inviter"?

[2017-01-20 17:44] shurcooL commented on #514
Yes, feel free to expand `TestOrganizationsService_ListPendingTeamInvitations` test data to be more complete, and include the new `inviter` field there too.

[2017-01-21 01:26] ltagliamonte opened #525 "[Question] how to retrieve the all the PR Comments"
Is it possible to retrieve all the comments associated with a PR?
At the moment if I do:
[code]
pr.Comments is just holding the number of comments associated with the PR.
From the github doc the comments are managed by the Issue Comments API
https://developer.github.com/v3/issues/comments/

[2017-01-21 03:09] shurcooL commented on #525
Yes, the endpoint you're looking for is:

[`github.PullRequestsService.ListComments`](https://godoc.org/github.com/google/go-github/github#PullRequestsService.ListComments)

If you want to get absolutely all comments instead of just the first page of comments, then you must take pagination into account. See https://godoc.org/github.com/google/go-github/github#hdr-Pagination.

[2017-01-21 06:09] kevinburke opened #526 "support the context package"
It would be nice if go-github supported the context package, so you could coordinate cancelation across many different goroutines.

It's now available in the standard library as https://golang.org/pkg/context/.

[2017-01-21 07:43] shurcooL commented on #526
In theory, you can do it, but not directly. You'd have to use [`Client.NewRequest`](https://godoc.org/github.com/google/go-github/github#Client.NewRequest) to create a new `*http.Request`, then set the context of that HTTP request via [`Request.WithContext`](https://godoc.org/net/http#Request.WithContext), and finally call [`github.Client.Do`](https://godoc.org/github.com/google/go-github/github#C

[2017-01-21 14:39] ltagliamonte commented on #525
thank you @shurcooL i opened the issue/question and I then found this https://docs.google.com/spreadsheets/d/1wlHnoJSAN01nXUUF1JobsaKO4mJjAwZNWK8L_4ZSlls/edit?usp=sharing that is really usefull if you like me if new to the library.

[2017-01-21 14:39] #525 closed

[2017-01-22 05:25] shurcooL commented on #526
I'd like to work on this, if we can get approval.

Some planning thoughts on how it would be done.

The change would be largely mechanical, once we decide on how to make the change. It would affect all endpoint methods by adding `ctx context.Context` as the first parameter. For example:

[code]

Would become:

[code]

The inside of a typical method looks like this:

[code]

There are 2 places wher

[2017-01-22 05:43] kevinburke commented on #526
I'm not sure 1.6 can handle it at all because the http.Request object has no `WithContext` method in 1.6.

FWIW, here's how I handle this in my twilio-go library - I have an underlying rest client library that has `NewRequest(method, path, body)`, and `Do(request, v interface{})` where Do parses the response as JSON and decodes into the interface.

The twilio-go library has a function that calls r

[2017-01-22 06:01] shurcooL commented on #526
It can be done by using [`http.Request.Cancel` channel](https://godoc.org/net/http#Request.Cancel) (which has existed for a while), it's just a lot of code. See [how `golang.org/x/net/context/ctxhttp` package does it](https://github.com/golang/net/blob/f2499483f923065a842d38eb4c7f1927e6fc6e6d/context/ctxhttp/ctxhttp_pre17.go#L26-L89).

Got it, thanks for a data point. 👍

[2017-01-22 20:17] willnorris commented on #526
I'm not opposed to this change.

I also not opposed to just making the library require go1.7, though I'd probably want to wait until go1.8 is released so then we support "current version, plus one back".  We'd document that if you need support for <1.7, then use X previous version.

Let's maybe start this work in a separate "context" branch?

[2017-01-22 21:36] shurcooL commented on #526
I was thinking about that option too, and I really like it. Let's wait for 1.8 to come out (a matter of weeks), then we can update to use `context` package and require 1.7+ (which will be current plus previous).

We can make a branch or a tag with the last version that's compatible with Go 1.6 and older, but anyone who needs latest GitHub API features is likely to be using a modern version of Go a

[2017-01-22 22:28] shurcooL commented on #526
Going with 1.7+ only gives us another option I haven't considered before.

We can either modify `Do` to accept `ctx` and set it internally, as I mentioned before:

[code]

And call it like this inside endpoint methods:

[code]

Or, we can keep `Do` unmodified and instead add the context to the request inside each endpoint method. E.g.:

[code]

I honestly don't know which is better. Any preference

[2017-01-22 22:42] shurcooL commented on #526
Made #529, feel free to look and review the approach.

[2017-01-25 01:03] varadarajana commented on #514
@shurcooL , @gmlewis i have made the changes and submitted a PR. Can you please review the PR?

[2017-01-25 10:04] glapul commented on #524
Hi, I'd like to work on it.

[2017-01-25 15:12] gmlewis commented on #524
Thank you, @glapul - I'll send you an invite so that I can assign it to you.

[2017-01-25 15:17] gmlewis commented on #524
You are correct.  The new Organizations Membership API needs to be supported too.

Announcement: https://developer.github.com/changes/2016-11-28-preview-org-membership/
I'll change the label for this issue, and it can address both.

[2017-01-26 17:35] gmlewis opened #530 "Support new Webhooks for Projects"
Announcement:
https://developer.github.com/changes/2017-01-24-project-webhooks/

[2017-01-26 21:44] shurcooL commented on #514
Yep, I've [done so](https://github.com/google/go-github/pull/527#pullrequestreview-18727976) just now.

[2017-01-26 22:02] shurcooL opened #531 "What happens if you Git.CreateCommit(..., nil) or PullRequests.Edit(..., nil)?"
`GitService.CreateCommit` is [documented](https://godoc.org/github.com/google/go-github/github#GitService.CreateCommit) as:

If it's legal, what happens if a user calls `CreateCommit("owner", "repo", nil)`? Should we document it, because I don't think it's intuitive or clear.

If it's not legal, that should be documented.

---

Same question for `PullRequestsService.Edit`, [documented](https://god

[2017-01-28 15:57] varadarajana commented on #530
@gmlewis I would like to work on this issue. Can you please assign this to me?

[2017-01-29 01:17] gmlewis commented on #530
Done. Thank you, @varadarajana!

[2017-01-31 18:21] gmlewis opened #536 "Prefer to explicitly return nil when there is no error for code readability"
A common pattern in this repo is:

[code]

and we would like to change the last return to explicitly `return ..., nil` for Go readability.

[2017-01-31 20:26] shurcooL opened #537 "Policy on using pointers/values in structs for receiving data from GitHub servers."
I'm making this issue to discuss a point that came up while reviewing #534. /cc @alindeman

### Background

In #534, @alindeman answered my questions:

One key difference is that the conversation in #512 was primarily about the request structs - structs that are used to send values to github servers. The affect on structs for receiving and unmarshaling data from github servers was inadvertent and

[2017-01-31 20:29] shurcooL commented on #537
Having done the research on history of pointers, and writing up the above issue, I am starting to feel that the path of least resistance is to continue to always use pointers for receiving structs.

The other paths seem to be more expensive and not really worth it from what I can imagine. But I'm open to discussion. I'm curious what others think.

Unless there are convincing arguments otherwise, i

[2017-01-31 21:02] alindeman commented on #537
Solid analysis. I agree with this conclusion.

[2017-01-31 22:23] #508 closed

[2017-02-01 01:30] #421 closed

[2017-02-01 01:38] shurcooL commented on #510
@ereyes01, have you heard anything else from GitHub since then?

It's been 22 days. I just checked the documentation at https://developer.github.com/v3/issues/timeline/ and I'm not seeing an update there. Do you think they're still working on it, or is a friendly ping warranted?

[2017-02-01 03:51] ereyes01 commented on #510
I'll send a friendly ping...

[2017-02-01 16:44] gmlewis commented on #431
Shortly after I wrote the [comment above](https://github.com/google/go-github/issues/431#issuecomment-248767702), I switched to using a [time.Ticker](https://golang.org/pkg/time/#Ticker):

[code]

which allows my tool to run for potentially hours and not abuse the rate limit.

[2017-02-01 17:26] #514 closed

[2017-02-01 18:23] glapul commented on #524
#538 I've implemented the support for listing outside collaborators. Feedback?

[2017-02-01 18:36] ereyes01 commented on #510
The support person said that the ticket to update the docs remains open but hasn't yet been prioritized / resolved. I asked if it could be due to further imminent API changes but he said he isn't aware of any.

[2017-02-01 23:27] sahildua2305 commented on #536
Oh! It's going to be a lot of work. I think we should split it up.

Also, we should have a static check for this, no?

[2017-02-01 23:36] shurcooL commented on #536
There can be multiple smaller PRs that help resolve this issue, if that's easier. It doesn't have to be just 1 change. A lot of the recent PRs, including #535, have helped this issue already.

I think @dominikh's `staticcheck` may be able to detect that `err` variable being returned has a constant `nil` value in the future.

[2017-02-01 23:48] gmlewis commented on #536
I believe that @willnorris wants to keep the dependencies of `go-github` extremely small, and most likely will not agree to pull in a new dependency for `staticcheck`. He can certainly correct me if I've misinterpreted our conversations, though.

[2017-02-02 05:33] dmitshur opened #540 "Pull Request Reviews (Preview API) methods have unusual error format that is not parsed."
[Pull Request Reviews (Preview API)](https://developer.github.com/changes/2016-12-14-reviews-api/) methods were tracked in #495 and implemented in #497. They currently seem to use an unusual format for errors, and go-github does not parse that format.

Originally discovered by @haya14busa during review of #497:

See https://github.com/google/go-github/pull/497#issuecomment-267810912 for full conte

[2017-02-02 05:37] shurcooL commented on #536
There is no reason to pull in `staticcheck` as a dependency of `go-github`. It's simply a tool similar to `go vet` that might get a check in the future that would detect this type of issue, and make it easier to find and resolve it.

[2017-02-02 05:44] gmlewis commented on #536
Ah, thank you, @shurcooL!  This is excellent news. I need to check that out.

[2017-02-02 18:57] #466 closed

[2017-02-03 00:06] #495 closed

[2017-02-03 16:18] shurcooL commented on #45
I see that @gmlewis has created a PR #543 that resolves this issue. I wanted to discuss it here because I have some potential concerns.

go-github did not have those accessor methods since the issue was created in Aug 20, 2013, and since then there's been very little feedback (that's visible to me anyway) or demand for this feature. Put simply, very few people complained, and there are many users

[2017-02-03 18:05] gmlewis commented on #45
I was quite surprised to discover that `godoc -http=:6060` does not show any of these new methods at all.
I thought possibly the hyphen in the filename (*i.e.* `*-accessors.go`) was messing it up so I tried underscores but got the same results. Surely I'm missing something.

I implemented it for the following reasons:

- it sounded like a fun challenge and an ideal use of [`go generate`](https://b

[2017-02-03 18:10] parkr commented on #45
I would definitely find protobuf-style getters (generated from protobuf files?!) an excellent addition. If you were to also add `.proto` files, it would be easier to interop with large multi-language systems passing around this data for its work. Anyone who integrates with GitHub's platform could surely find that useful.

[2017-02-08 13:16] xcoulon commented on #6
@willnorris I'm actually looking for a way to pass the `Accept` header with the `application/vnd.github.VERSION.html+json` value to retrieve the issues with the `body_html` field containing the HTML version of `body`. Is there any way to do that in the current version of go-github, or does this needs an enhancement ?

[2017-02-08 13:48] shurcooL commented on #6
@xcoulon That isn't currently possible, we don't have support for [`.html+json` media type](https://developer.github.com/v3/media/#html).

I imagine a solution might look similar to #481, I'd suggest you look at that. At least it's a starting point, we may want to handle the issue differently. @xcoulon, if you need this functionality, please open a new issue and describe in more detail what exactl

[2017-02-08 14:55] xcoulon opened #545 "Provide capability to specify the `Accept` request header when retrieving issues."
There is currently no way to specify a custom mime-type such as [html+json](https://developer.github.com/v3/media/#html) when retrieving GitHub issues. However, this is  needed when the client wants to retrieve the issue body rendered in HTML rather than in its input/raw format.

This issue has been discussed in https://github.com/google/go-github/issues/6#issuecomment-278333227

[2017-02-08 14:55] xcoulon commented on #6
thanks for that very quick response, @shurcooL! I opened https://github.com/google/go-github/issues/545. Please let me know if you need more info.

[2017-02-13 18:32] sahildua2305 commented on #530
@varadarajana how's it going with this one?

[2017-02-13 21:33] shurcooL commented on #530
There's an open PR #530 that mentions it.

[2017-02-13 21:38] sahildua2305 commented on #530
@shurcooL oh yes, alright!

@varadarajana it's always good to mention the issue you're trying to resolve in the PR so that others also know that there is/was a PR for this issue and may get to know the history of an issue. :smile:

[2017-02-13 22:28] shurcooL commented on #536
We're very close, but this is not fully resolved yet, see https://github.com/google/go-github/pull/546#issuecomment-279543260.

[2017-02-14 00:14] shurcooL commented on #45
I tried looking at `godoc -http=localhost:6060` and I don't see any issues. The new methods show up as expected. Are you sure you had the right import path and branch checked out?

Having looked at the godoc output after, I think the readability is still just fine. This package has a huge API either way, and is best used as a "reference" to look things up, not to so much to discover or get an over

[2017-02-14 00:51] willnorris commented on #45
We are definitely not going to use proto for go-github itself for reasons discussed in #19.  And just adding .proto files without actually using them seems weird and likely to get out of sync.

If I had it to do all over again, I'd much rather find a way to do this without the pointers, perhaps using proto3 as design inspiration.  We do actually have an opportunity to rethink a lot of design decis

[2017-02-14 02:05] shurcooL opened #548 "Should use single space after period to follow Go style."
The Go project tree used to be pretty inconsistent about using two vs one spaces between sentences. However, eventually an agreement came to be to prefer single space, and the following CLs fixed up the rest of the inconsistencies:

- https://go-review.googlesource.com/c/20022/
- https://go-review.googlesource.com/c/32878/
- https://go-review.googlesource.com/c/32879/

I wrote a entry for this at

[2017-02-15 05:25] ereyes01 commented on #510
Still no movement here. If I had to guess, they probably won't prioritize this until Timeline is close to being released.

[2017-02-15 21:06] shurcooL commented on #548
@willnorris if you have a few minutes, mind letting me know if this is okay by you? I'd prefer not to let the [PR](https://github.com/google/go-github/pull/549) go stale since it touches many lines of code and might cause conflicts in the future, and I'd also prefer not to outright merge it without hearing your thoughts (but given @gmlewis has LGTMed it, I'll probably have to do that if I don't he

[2017-02-15 21:14] #548 closed

[2017-02-15 21:36] #536 closed

[2017-02-16 03:16] kevinburke opened #552 "Flag for dumping HTTPS traffic?"
I find it pretty useful to be able to inspect the raw HTTP request/response being issued by a client library. This makes it easy to add integration tests to my own code, by copying the JSON responses from Github into my tests, then setting up a httptest.Server to replay those responses.

Here's how I implement this in my own API client - you can set DEBUG_HTTP_TRAFFIC=true in the environment to du

[2017-02-16 03:28] shurcooL commented on #552
Can this be done via a middleware [`http.RoundTripper`](https://godoc.org/net/http#Client.Transport) implementation? If so, it can be orthogonal from this specific library.

[2017-02-16 04:54] willnorris commented on #552
We have exactly such a roundtripper internally at Google.

[2017-02-16 05:27] kevinburke commented on #552
@willnorris bah haha, I just added https://github.com/kevinburke/rest/commit/da85e327c2c8c3668c19c41e17e6ea5b11e8f843 as a public implementation!

[2017-02-16 18:03] gmlewis opened #553 "Support new Community Health preview API"
Announcement:
https://developer.github.com/changes/2017-02-09-community-health/
Docs:
https://developer.github.com/v3/repos/community/

[2017-02-16 18:19] sahildua2305 commented on #553
@gmlewis I will work on this. Please assign it to me. 😄

[2017-02-16 18:25] gmlewis commented on #553
Thanks, @sahildua2305! Done.

[2017-02-17 15:55] varadarajana commented on #516
@gmlewis if this is not assigned already, please assign it to me. I am almost done with #530

[2017-02-18 19:53] shurcooL opened #556 "UnauthenticatedRateLimitedTransport.RoundTrip breaks http.RoundTripper contract (mostly harmless)."
`UnauthenticatedRateLimitedTransport.RoundTrip` does this:

[code]

But `cloneRequest` doesn't make a copy of the `URL` field, it still points to the same `url.URL` struct that the original request points to. So doing `req.URL.RawQuery = q.Encode()` actually modifies the `URL` of original request.

This issue is mostly harmless, but it's a bug.

This is similar to https://go-review.googlesource.co

[2017-02-18 23:46] shurcooL commented on #526
This was accidentally closed by unfortunate phrasing in #554:

It's not resolved yet, so reopening.

[2017-02-19 00:13] shurcooL commented on #526
For anyone watching this issue, the PR #529 that will resolve it is now completely finished and reviewed with approval. I will be merging it tomorrow (Sunday) morning.

/cc @kevinburke

[2017-02-19 00:18] shurcooL commented on #526
@willnorris Where do you think such documentation would be a good fit?

796decd247300437ba695568862bcfab779ec98b is the first commit that bumped library version and increased requirement to Go 1.7+. So people that need Go 1.4 through 1.6 support should use the parent commit, which is 82629e04595093a1cebd5e2aa8096ad87a3a81d1.

[2017-02-19 00:31] kevinburke commented on #526
I believe "go get" respects git tags, so if you tag that parent commit with "go1.4", "go1.5", "go1.6", users with those Go versions will get that commit. I haven't verified this.

[2017-02-19 00:41] shurcooL commented on #526
I don't believe that's not true (for point versions), it only respects the `go1` tag or branch. And as far as I know no one actually uses that feature, and there was proposal https://github.com/golang/go/issues/15533 to remove it (I hope it'd go through, because IMO it doesn't add any value at this point, only mental complexity and overhead).

From https://golang.org/cmd/go/#hdr-Download_and_insta

[2017-02-19 15:21] karanjthakkar commented on #556
@shurcooL I was interested in picking this up. Just wanted to clarify if updating the `cloneRequest` implementation to make a deep copy of the `req.URL` is the expected solution or something else?

[2017-02-20 04:26] shurcooL commented on #526
As promised in https://github.com/google/go-github/pull/529#issuecomment-280947212, here's an update on the status. /cc @gmlewis

Something we should keep in mind when thinking this over is that our goal is to come up with the best public API and experience for the _users_ of this library. The experience and burden for us, the library developers, is secondary to that.

Let me recap the current sit

[2017-02-20 05:21] gmlewis commented on #526
Thanks for the detailed explanation of your thought process, @shurcooL.
That makes total sense to me and I agree that `Do` should take `ctx context.Context` as its first argument.

[2017-02-20 07:00] shurcooL commented on #556
@karanjthakkar Sounds great, thanks for considering looking into this!

Actually, figuring out the best approach to go with is a part of resolving this issue. The one you said is one valid approach, but I can think of a few others, with trade-offs (such as less code vs better performance) to be considered.

`cloneRequest` is used in exactly 2 places, in `UnauthenticatedRateLimitedTransport.RoundTr

[2017-02-20 21:05] #526 closed

[2017-02-21 16:38] dmitshur opened #560 "tests/integration: Get rid of integration build constraint; skip tests instead."
We're currently using a build constraint "integration" to prevent tests/integration from running when `go test ./...` happens in CI (and locally). This is because integration tests are heavier-weight and meant to be [run explicitly](https://github.com/google/go-github/blob/23d6cb9cacb5aa314e93d600fe20a48496a718d4/tests/README.md). They need some environment variables with tokens to be set, etc.

h

[2017-02-21 16:58] willnorris commented on #560
In general, sounds fine to me, especially given how easy it is to overlook these when doing cleanups.

It's worth noting that we can't **just** rely on the existing environment vars.  For example, the one you linked to requires the `GITHUB_AUTH_TOKEN` for some tests, but will still run others even if it's not present.  So we may need an explicit `INTEGRATION_TEST` (or whatever) var.  I want to be

[2017-02-21 17:08] shurcooL commented on #560
Yep, completely agreed. That's why I noted:

Checking for `GITHUB_AUTH_TOKEN` is not okay, because it's very generic and someone may have it inadvertently set (for another purpose). But checking for `GOGITHUB_INTEGRATION_AUTH_TOKEN` or something like that would be explicit enough.

[2017-02-21 21:40] shurcooL commented on #552
Is there anything left here, or can we close this?

[2017-02-21 21:41] kevinburke commented on #552
nope you can close it

[2017-02-21 21:42] #552 closed

[2017-02-21 22:50] shurcooL commented on #516
It looks like #557 is related.

@varadarajana, @sevki, you should coordinate to avoid duplicate work.

[2017-02-22 00:33] varadarajana commented on #530
Sure @sahildua2305, I have changed it now.

[2017-02-22 06:33] karanjthakkar commented on #556
@shurcooL Thanks for the detailed explanation!

As for readability, I think that a separate method for cloning makes sense. However for maintainability, I don't believe having two separate methods would help. It would really depend on how we can scale this method in the future if more request params would need to be deep copy'ed.

Also, honestly, I have literally just started learning Go so, while

[2017-02-22 22:21] arthurnn commented on #45
Hi @willnorris ,
If there is an interest on adding graphql API support here, I am interested in helping out on that. I will have some free time ahead on my schedule, and I am looking for a Go OS project to help out.
Is there anyone working on the graphql client here already?

cheers

[2017-02-23 03:17] shurcooL commented on #556
A way to answer the performance and allocation amount questions analytically is to write a benchmark that stress tests the RoundTrip method, and implement both alternatives, then see how they compare in performance and allocations made.

Given how short and simple both `UnauthenticatedRateLimitedTransport.RoundTrip`, I think the simplest and best solution would be to just inline the functionality

[2017-02-24 19:53] #45 closed

[2017-02-26 05:55] varadarajana commented on #516
@shurcooL this PR can be closed, as it is duplicate of #557

[2017-02-27 21:16] shurcooL commented on #516
It's not a duplicate issue because #557 is a PR, not an issue. The issue tracks the completion of the relevant functionality. It shouldn't be closed until this functionality is implemented.

#557 is a PR that will resolve this issue.

[2017-02-28 16:39] willnorris commented on #376
Reopening this discussion, particularly in light of the direction that https://github.com/golang/dep is taking.  It will support specifying specific versions of dependencies, presumably relying on git tags, though I haven't tried it out yet.  See also my comment in #529 that I'm not sure that the `libraryVersion` const is actually doing us any good since it doesn't protect against build breakages.

[2017-02-28 16:58] parkr commented on #376
Instead of using SemVer, which greatly complicates things and will favor backporting when a breaking change is made, simply tag big changes as `v1`, `v2`, `v3`, etc and allow people to upgrade to discrete points in time, as requested. Anytime you have N commits on `master`, you could automatically tag a new release. There would be no "minor" or "patch" releases, as they complicate things for the e

[2017-02-28 17:32] willnorris commented on #376
Nothing in semver says when you have to cut releases.  So we could simply decide to only cut releases at major versions, call them `v1.0.0`, `v2.0.0`, etc.  That would achieve the same result and still be semver compatible.

I'm not entirely sure we want to do that (only tag at major versions), but it's at least an option.

[2017-02-28 17:37] willnorris commented on #376
@shurcooL or a third option, if we're willing to deal with both major and minor versions:

a) major version is bumped with any breaking change to non-preview functionality, including changes to function signatures or behavior.
b) changes to preview functionality would only require a minor version bump.  The non-preview functionality hasn't changed, so does not necessitate a major version bump, but

[2017-02-28 17:44] willnorris commented on #376
Semver doesn't imply any level of support or backporting of bug fixes onto older branches.  I would be completely fine saying that we only focus on supporting `master` (and *maybe* the latest tagged release).  Older releases are simply there as a convenience to avoid the inevitable breakages that will happen when you build against `master`.

And if golang/dep adopts semver, which it sounds like th

[2017-02-28 18:54] kevinburke opened #566 "duplicate messages when paging"
If the database looks like this:

F
E
D
C
B
A

And I request the first three pages, I get this:

F
E
D

Now imagine B gets updated. The database looks like this:

B
F
E
D
C
A

I request page 2 via the Link header:

[code]

This gives me:

D
C
A

So I'm processing event D twice, which people might not expect.

It would be nice if Github provided a pointer when paging, e.g. "give me the next N event

[2017-02-28 20:07] shurcooL commented on #566
Is this an issue for GitHub API or the `go-github` client library? Is there something `go-github` can do, or is this something only GitHub can fix on their side?

[2017-02-28 20:18] kevinburke commented on #566
Github would have to add some sort of token to the paging API and then go-github would have to expose that somehow.

[2017-02-28 21:09] shurcooL commented on #566
I think they already use that approach for some endpoints. Instead of doing `page=123`, you specify something like `since=foo` or `after=foo`.

For example, see:

- https://developer.github.com/v3/users/#get-all-users
- https://developer.github.com/v3/repos/commits/#list-commits-on-a-repository

Additionally, while it's not a part of their API, I did notice that the commits view pagination has cha

[2017-03-02 17:22] gmlewis opened #569 "Support new user blocking APIs and webhook"
Announcement:
https://developer.github.com/changes/2017-02-28-user-blocking-apis-and-webhook/

GitHub API docs:
- [x] https://developer.github.com/v3/users/blocking/
- [x] https://developer.github.com/v3/orgs/blocking/
- [ ] https://developer.github.com/v3/activity/events/types/#orgblockevent

[2017-03-02 17:38] varadarajana commented on #569
@gmlewis please assign this to me, as this is similar to #530. I need one help with your review of Issue #530. Can you provide your comments on the usage of Changes struct?

[2017-03-02 17:49] gmlewis commented on #569
Done.  Thanks, @varadarajana! I'll take a look at 530.

[2017-03-03 19:41] kevinburke opened #570 "support issue.locked"
The v3 API returns a `locked` boolean indicating whether an issue has been locked, at least according to https://developer.github.com/v3/issues/#get-a-single-issue, but I don't see it in the Issue struct.

[2017-03-03 19:53] shurcooL commented on #570
A ``Locked *bool `json:"locked,omitempty"`` field should be added to the `Issue` struct to resolve this.

[2017-03-03 19:53] gmlewis commented on #570
Thanks, @kevinburke for the report.  This looks like an accidental omission.