[2020-05-26 21:11] gmlewis commented on #1265
If I understand correctly, you are asking about the unit test...  Correct, you don't need to fake (or test) the 204 explicitly... it is sufficient to just fake/test the 200.  You can modify the test if you wish, but the unit tests are mainly concerned with getting the full round-trip exercised, and the 200 is sufficient.

Thank you, @joshuabezaleel !

[2020-05-26 21:14] gmlewis commented on #1531
So I think a PR needs to be written that exposes the response code to the end user.
@mctofu - are you interested in owning this issue and submitting a PR, or would you like me to open it up for other volunteers to address?

[2020-05-27 07:47] joshuabezaleel commented on #1265
Hi @gmlewis , I was actually thinking of this since the `resp.statusCode` would be different if I leave some required parameter empty, that is `hub.mode` and `hub.topic`, or not so I don't know whether I should cover this for the test.

I've put up a PR and I think the code is still not good enough and really subject to change. Sorry for the troublesome in advance. Looking forward to the review! :

[2020-05-27 17:39] mctofu commented on #1531
@gmlewis: I could submit a PR within the next week (hopefully sooner) but if someone else was interested in tackling this that would be fine by me as well.

[2020-05-28 01:27] gmlewis commented on #1531
OK, then I'll just leave this open, and if you or anyone else reports that they are starting work on it, I'll assign it to them.  Thank you, @mctofu !

[2020-05-28 01:49] #1537 closed

[2020-05-28 01:51] #1525 closed

[2020-05-28 12:15] #1533 closed

[2020-05-30 05:15] anurag opened #1543 "ParseWebHook fails to recognize github_app_authorization"
The event described in https://developer.github.com/webhooks/event-payloads/#github_app_authorization is not being parsed even though the event itself is defined in the code.

Instead, the following error is returned:

[code]

[2020-05-30 09:24] #1543 closed

[2020-05-30 20:11] anGie44 opened #1546 "Repositories.UpdateBranchProtection returning 422 Error when restrictions contain empty fields"
With the release of `v32.0.0`, a `BranchRestrictionsRequest` [object](https://github.com/google/go-github/blob/407d73650d4bff607beaf8fb7a69eb9e9987af02/github/repos.go#L865) now omits empty fields in the JSON, however, when passing a `ProtectionRequest` with the following `BranchRestrictionsRequest` object to the `repositories.UpdateBranchProtection` method, the client returns the error below:
[co

[2020-05-30 21:13] gmlewis commented on #1546
It looks like #1530 broke this behavior.
@anGie44 - can you please take a look at #1530 and see if you think that it needs to be reverted?
If, however, that is still needed, we might need to split this behavior into two endpoints like we have done recently for another similar situation.  (I will have to look it up, but later.)

[2020-05-30 21:40] anGie44 commented on #1546
ohh I see, yep i think those changes are still valid b/c that use case was for personal repos and it seems the github API allows for nils in the users/teams fields..but for some reason that's not the case for  organization-owned repos?  splitting into 2 endpoints may make sense, or maybe refactor the underlying `BranchProtectionRequest` struct (1 for personal repos, 1 for org-owned repos)?

[2020-05-30 21:46] gmlewis commented on #1546
@michelangelomo - can you please comment on this issue?

[2020-05-30 21:59] anGie44 commented on #1546
hmm I may have spoken too soon..I just had a chance to test this with my personal account, and I'm still seeing the error (not the best example since I don't reference `apps` but I think it still showcases how the users/teams are being validated):
[code]

This error appears with `BranchRetrictionsRequest.Teams` not explicitly set, set with `nil` or set with `[]string{}` and the error we would expe

[2020-06-02 17:43] hahwul opened #1549 "I have a question of dependency chain.. (go get error)"
Hi, google team!
It's not an issue, but I have a question. I'm using `go-github` in the `module(go-github-selfupdate)`, which is causing the following error.

**Chain**
`my repo(github/dalfox) => go-github-selfdupdate(rhysd/go-github-selfupdate) => go-github/v30`

**Error message from go get**
[code]

So I forked the [repository](https://github.com/rhysd/go-github-selfupdate) and modify go.mod on

[2020-06-03 12:31] gmlewis commented on #1549
Are all of these pieces using `go.mod`?
Can you share the appropriate lines from `go.mod` and `go.sum` from each of the parts in the chain?

[code]

Alternatively, can you try using the latest release of `v32` ?

[2020-06-03 15:03] hahwul commented on #1549
Thank you so much for your reply! First of all, I want to upgrade to v32, but I think It seemed to be a problem caused by referencing v30 from `go-github-selfupdate`. So I thought it would be applied only if the module developer reflected it.

So, I was wondering if there was a way I could solve it myself.
I share the go.mod of the associated module.

My [tool](https://github.com/hahwul/dalfox)'s

[2020-06-03 15:17] gmlewis commented on #1549
OK, I just tried it all myself and it seems to work fine on my computer:

[code]

Did you set any unusual environment variables?  Here are mine:

[code]

[2020-06-03 15:58] hahwul commented on #1549
@gmlewis
Thank you! Well, then I guess it's a problem with my development environment. I have one more question. Is there a big difference between `go get` in cloned repo and `go get` in other directories?

When I released the tool, I'm talk to user to go install after installing the binary or clone, but some users want to install it as `go get`. Sometimes people with the same problem as me report

[2020-06-03 15:58] #1549 closed

[2020-06-03 16:07] gmlewis commented on #1549
Hmmm... if you choose the "git clone" path, then you can just cd into the cloned repo and type:

[code]

and that should be equivalent (as far as installation goes) to:  `go get -u repo/...`.
Note that the `...` at the end finds everything in the repo that can be installed (all the "package main" programs).

I hope this answers your question... but if not, please feel free to clarify and I will tr

[2020-06-03 16:49] hahwul commented on #1549
@gmlewis
Aha, I get it! Thank you! I think the best way is for me to inform the user meticulously!

Enjoy the rest of your day :D
Cheers!

[2020-06-04 08:05] patrickmarabeas opened #1550 "Support "package" webhook event"
Add support for the `package` webhook event.

Docs: https://developer.github.com/webhooks/event-payloads/#package

[2020-06-05 16:13] oschwald opened #1552 "No longer works with "api" GitHub Enterprise subdomain"
As of #1165, `go-github` no longer works if the `api` GitHub Enterprise subdomain is used, which broke our use of it. The `/api/v3` suffix should only be added if the domain does not start with `api.`

[code]

[2020-06-06 13:44] gmlewis commented on #1550
Thank you, @patrickmarabeas!

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md](https://github.com/google/go-github/blob/master/CONTRIBUTING.md) guide to g

[2020-06-06 13:58] gmlewis commented on #1552
Hmmm... I'm not sure I understand your example...  Why are you using `https://api.github.maxmind.com` when the third example is actually working properly (which this repo supports) - `https://github.maxmind.com` ?

[2020-06-06 15:01] oschwald commented on #1552
The `api` subdomain is a feature of GitHub Enterprise and worked fine with `go-github` through version v28. In #1165, `go-github` started appending `/api/v3` to the end of Enterprise base URLs that didn't already have the suffix. This broke any existing users that were using the `api` subdomain.

We noticed this when upgrading from v28 to v32. The cause of the breakage was not immediately obvious.

[2020-06-06 18:28] gmlewis commented on #1552
OK, I apologize for the breakage, as I was unaware of the `api` subdomain.
Yes, please feel free to write a PR to fix this for other users, and thank you for alerting us to this breakage.

Or if you would like other volunteers to address this issue, that is fine too, and I can open it up for others to contribute.  It's your call.

[2020-06-09 13:44] nomonamo opened #1554 "Support the `DELETE deployment` action on the Repositories API"
The client is missing support for this endpoint: https://developer.github.com/v3/repos/deployments/#delete-a-deployment

I will fork the repository and issue a pull request implementing this action.

[2020-06-16 11:56] KevinMarioGerard commented on #1550
Hi @gmlewis I would like to take this up. Will make a PR soon.

[2020-06-17 01:11] #1554 closed

[2020-06-17 13:02] ravindranrahul commented on #1550
Hi @gmlewis ,

If this is still relevant, I would like to give this a try.

[2020-06-17 19:56] Pymann opened #1561 "Link to your documentation is missing"
Can you put link: https://godoc.org/github.com/google/go-github/github
to your readme.md?

[2020-06-17 22:28] gmlewis commented on #1550
Thank you, @ravindranrahul!  It is yours.

[2020-06-17 22:32] gmlewis commented on #1561
How about this instead?
https://pkg.go.dev/github.com/google/go-github/v32/github

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md](https://github.com/goo

[2020-06-18 05:13] zhuzeng opened #1562 "addOptions doesn't recognize the github.RepositoryContentGetOptions"
Hi,

It could be I am missing something but by reading the code and trying out myself it seems to me something is wrong in the library. I am using the go-github client (v29@29.0.3) and the code is simple:

[code]

But it seems to me the whatever the Ref value (e.g. v0.0.1) I specify, the GetContents() always use "master". Below is the real response I got when I specified Ref = v0.0.2 (I removed th

[2020-06-18 05:30] zhuzeng commented on #1562
OK this issue is gone after I make sure `pathInRemoteRepo` doesn't have a trailing '/'.

[2020-06-18 05:30] #1562 closed

[2020-06-21 15:42] #1561 closed

[2020-06-22 18:09] nbramblett opened #1567 "ListMatchingRefs does not work with the pagination options"
I noticed this today while querying a repo with 101 refs. When `ListMatchingRefs` was called with no `ReferenceListOptions` provided, it provided a complete list of 101 refs, without any pagination needed.

It also repeated this behavior when provided a `ReferenceListOptions` that had defined `PerPage: X, Page: 1`. The expected behavior in this case would be that only the first X refs would be ret

[2020-06-23 00:02] gmlewis commented on #1567
Before we take any action on this endpoint, could you please contact support@github.com and ask what their recommendation is, then report back here?
Thank you!

[2020-07-01 23:17] dcatalano-figure commented on #1546
running into this as well

[2020-07-01 23:31] dcatalano-figure commented on #1546
I rolled back from v32 to v31 and the issue disappears. To be fair, I am working with organizational repos not organization-less repos

[2020-07-03 04:33] jeet-parekh commented on #1550
@ravindranrahul, any updates on this?

[2020-07-04 18:02] zhuzeng commented on #1293
Sorry @gmlewis that I didn't really get time to make the PR, and as you mentioned this issue is rather complex. Since I opened this issue at the first place, and I have a workaround, I will close this issue for now.

[2020-07-04 18:02] #1293 closed

[2020-07-07 11:13] MatthewCroughan opened #1570 "github.com/google/go-github/v30/github not found?"
I'm not a big go user, though I wanted to build an app that uses the url `github.com/google/go-github/v30/github` and the result for that page is now not found. Can anyone explain this phenomenon?

https://github.com/rhysd/notes-cli/blob/4b2a04b3249a99667c2023d1aed42bbb3467d820/go.sum#L32-L33

[2020-07-07 11:43] MatthewCroughan commented on #1570
`GO111MODULE=on go get -u github.com/rhysd/notes-cli` as a simple user I do not understand what modules are, or why it's important to me installing the application, causing this failure.

[2020-07-07 11:57] MatthewCroughan commented on #1570
Already a problem that is discussed in https://github.com/golang/go/issues/30515 closing as a result.

[2020-07-07 11:57] #1570 closed

[2020-07-08 01:48] #1550 closed

[2020-07-08 21:10] ejhayes commented on #1546
Any idea what might be going on here @anGie44 or @michelangelomo? It looks like the error solved by #1530 might actually be a bit more nuanced. I came across this related issue that seems pretty similar https://github.com/PyGithub/PyGithub/issues/1335

[2020-07-09 08:56] botchniaque commented on #1069
I ran into the same problem. The thing is that the client requires different authentication methods for different calls
- most calls require **installation token** - [full list here](https://developer.github.com/v3/apps/available-endpoints/)
- apps related calls require **JWT** (except _get an app_ call) - [full list here](https://developer.github.com/v3/apps/)

I solved the problem by creating tw

[2020-07-09 09:18] botchniaque commented on #1069
I raised [an issue](https://github.com/bradleyfalzon/ghinstallation/issues/39) in https://github.com/bradleyfalzon/ghinstallation regarding the problem.

[2020-07-14 10:50] surajnarwade opened #1572 "confusion between roles and permissions"
**Problem statement**

When we try to list teams on a repo, permissions I get don't match with roles which can be seen from GitHub console.
for example, I can see permissions `push`, `pull` & `admin` in API response.

whereas if we look at roles from GitHub console, they are five different `roles`: `read`, `write`, `admin`, `triage`, `maintain`

permission reference from  `go-Github` https://githu

[2020-07-14 11:39] gmlewis commented on #1572
Note that this repo tracks the GitHub v3 API Documentation: https://developer.github.com/v3/teams/#add-or-update-team-repository-permissions

So what you have discovered is actually an excellent question for support@github.com.  Once you hear back, please report what you have discovered in this issue.

Thank you.

[2020-07-14 17:05] rnradon opened #1573 "is_verified information not available in Organization struct"
When we call the REST API of GitHub `GET /orgs/:org` , the JSON response we get has a key call `is_verified`.
However, the same can not be found in the go-github package under the `Organization` struct.

[2020-07-14 20:53] gmlewis commented on #1573
Thank you, @rnradon !

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md](https://github.com/google/go-github/blob/master/CONTRIBUTING.md) guide to get star

[2020-07-15 08:51] surajnarwade commented on #1572
@gmlewis apprently github provides two set of permissions,

[code]
this is one which I was getting  but I expected the following response:

[code]

appropriate API call to fetch this response is https://github.com/google/go-github/blob/master/github/teams.go#L122

[2020-07-15 08:51] #1572 closed

[2020-07-15 16:11] matt-canty-dragon opened #1574 "Notifications API does not return what is expected"
I'm probably missing something, but when I use `client.Activity.ListNotifications(ctx, &github.NotificationListOptions{})` I expect the same view as in the picture, which is accessed by going to https://github.com/notifications. (truncated to retain privacy, but essential it's a list of PR review requests)

![image](https://user-images.githubusercontent.com/56073682/87568708-fc2abf80-c6bd-11ea-9c7

[2020-07-16 00:38] gmlewis commented on #1574
Hmmm... my best recommendation is see if you can perform the same operations using the GitHub v3 API via `curl` and then report back... if you are successful, then we should surely be able to do the same thing via this client repo.

https://developer.github.com/v3/activity/notifications/

[2020-07-16 00:47] #1546 closed

[2020-07-16 07:37] matt-canty-dragon commented on #1574
OK so clearly the Notifications page on GitHub bears no resemblance to this resource...
[code]

[2020-07-16 07:42] matt-canty-dragon commented on #1574
https://github.com/notifications actually renders the notifications server-side. So they're probably doing a lot of joining under the hood. This is disappointing.

[2020-07-16 08:20] #1574 closed

[2020-07-16 14:02] itsksaurabh opened #1575 "Reuse Underlying TCP connection"
Currently, the Github client only closes the response body which can be seen at https://github.com/google/go-github/blob/master/github/github.go#L557 . The resp.Body.Close() makes the connection available for reuse by others using the same http.Client. It doesn’t close the underlying HTTP or TCP connection.

According to the official Go docs:
https://golang.org/pkg/net/http/#Body
[code]

My propos

[2020-07-17 12:33] vikkyomkar commented on #1573
I would like to work on this issue

[2020-07-17 17:52] itsksaurabh commented on #1573
@rnradon Are you referring to [this](https://github.com/google/go-github/blob/0683ca03b4e9f6cfab67a0f95f8c42bcacd57f6c/github/orgs.go#L49) specific field?

[2020-07-18 02:11] pradeepkusingh opened #1577 "How to rename the remote branch"
I would like to rename the few existing branches across multiple repos, how can I achieve this?

[2020-07-18 02:17] pradeepkusingh commented on #1577
another extended question is how to rename the master branch and still set it to the default branch?

[2020-07-18 07:17] mdeggies opened #1578 "Updating default branch fails"
After creating a new branch called `default` using `client.Git.CreateRef()`, I make a call to update the repo's default branch:

[code]

This fails with the following:

[code]

I verified that the branch exists using `client.Repositories.ListBranches()` and `client.Git.GetRef()`. Some posts on google [suggest](https://github.community/t/cannot-change-default-branch/13728) you need to pass in the r

[2020-07-18 11:51] gmlewis commented on #1575
So that I can better understand, what kind of cases are you finding where the `resp.Body` is not fully read before being closed?

And let's say we decide that this is a good idea and want to pursue this... I'm assuming this leads to performance gains... what kind of approximate gains are you anticipating?

Finally, my biggest concern is...  would this kind of change have any negative effects on ex

[2020-07-18 11:54] gmlewis commented on #1573
Ah, thank you for the research, @itsksaurabh !  I didn't actually have time this week to investigate.
Closing as already Working As Intended.  Feel free to re-open if this didn't answer your question.

[2020-07-18 11:54] #1573 closed

[2020-07-18 12:03] gmlewis commented on #1577
Let's research this together and see if we can come up with a solution.

First, we go to the GitHub Developer v3 API documentation involving Repositories and Branches:
https://developer.github.com/v3/repos/branches/
Oooo... they have new shiny docs too: https://docs.github.com/en/rest/reference/repos#branches

I'm not finding "rename" so let's look at "update"... hmmm... I'm not finding that eithe

[2020-07-18 12:03] #1577 closed

[2020-07-18 12:08] gmlewis commented on #1578
Hmmm... I'm honestly wondering here if it is timing-related.

After creating a new branch, how much time transpired between creation and updating it?
I know that some operations on GitHub require that the changes propagate through their system, as I ran into something similar in the past.

First, however, I should ask... are you _ever_ able to get the PATCH work, like after waiting a minute or so?

[2020-07-18 12:25] itsksaurabh commented on #1575
@gmlewis Thank you for reviewing this issue. I would like to answer your questions with the following explanation.

The`http.Get` returns a response as soon as all the HTTP headers have been read. The body of the response has not been read yet. The `resp.Body` is a wrapper around the network connection to the server. When you read from it, it downloads the body of the response.

`.Close()` tells t

[2020-07-18 12:49] gmlewis commented on #1575
Thank you, @itsksaurabh - I understand that part... so now let me explain why I asked what I asked previously...

Question # 1:

I asked this because I'm wondering how often this client is closing the body without fully reading it?  It this happening a lot?  Only rarely?  Only specific endpoints? What made you come to the conclusion to open this issue in the first place?

Question # 2:

Have you t

[2020-07-18 22:14] mdeggies commented on #1578
Thanks for your note! Nope, unfortunately the PATCH call never works using `go-github`. It always returns a 422.

This is the successful curl call:

[code]

[2020-07-18 22:48] gmlewis commented on #1578
Ah!  Thank you for the curl example.  I think I see the difference.

Could you please try the following experiment for me?

Instead of:

[code]

could you please try:

[code]

I'm betting here that all that extra information in the original `repo` struct is getting sent to GitHub, and you don't want any of that other information to change.  All you want to change is the `DefaultBranch`, so that is

[2020-07-18 23:35] mdeggies commented on #1578
Ahh, sorry about that -- I should have caught it earlier! Sending in just the default branch did work. Thanks for your help! :)

[2020-07-19 01:26] gmlewis commented on #1578
Glad it worked! No problem. Closing issue.

[2020-07-19 01:26] #1578 closed

[2020-07-20 18:07] itsksaurabh commented on #1575
@gmlewis Thank you for your response. I completely understand your concern. So, I will try my best to answer all of your questions.

Question # 1:

As mentioned earlier, one of the cases where you do not need the resp.Body is when you only need to use Head. Head doesn't require reading or closing the response body. For example, when a ping/pong service is made with the help of the lib. But things

[2020-07-22 08:45] you06 opened #1583 "Remove some fields of IssueListCommentsOptions"
`Sort` and `Direction` not work since GitHub changed its API.

https://developer.github.com/v3/repos/commits/#list-commits

https://github.com/google/go-github/blob/e881974953e6ab6d1a6a1610e98ed6401a3aa1ba/github/issues_comments.go#L37-L48

[2020-07-23 00:03] gmlewis commented on #1583
Thank you, @you06 !
The `Sort` and `Direction` fields need to be removed.  Although these apparently no longer are supported, this change is still a breaking API change, so I will mark it that way.

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to yo

[2020-07-23 00:08] juanri0s commented on #1583
I can work on this! 😁

[2020-07-23 00:11] gmlewis commented on #1583
Thank you, @juanri0s !  It is yours.

[2020-07-23 01:22] juanri0s commented on #1583
@gmlewis I have removed the fields from the struct and the fields in the tests as well. Are we expecting this change in any other area other than `issues_comments.go`? Or do I need to go through the GH API docs and check myself?

[2020-07-23 01:55] gmlewis commented on #1583
These fields were identified in the issue. You are welcome to look through the docs for other discrepancies.

[2020-07-24 17:01] kevinwongtyl opened #1585 "Create repo function doesn't wait until completion"
In our github automation we create a github repo using `client.Repositories.Create(ctx, config.GITHUB_ORG, repo)` and call `ref, _, err := client.Git.GetRef(ctx, config.GITHUB_ORG, repoName, "refs/heads/master")` right after to prepare to create a nightly branch from master.  More than half the time we'll get an error because the client.Repositories.Create function returns without waiting for the

[2020-07-25 23:01] gmlewis commented on #1585
Yes, that is correct based on my experience as well.  You basically need to set up a loop with a fixed number of attempts with exponential backoff (e.g. 1, 2, 4, 8, 16, 32 seconds) to query the repo until it is found. Presumably this is due to allowing GitHub to propagate the changes throughout their servers.

You will experience the same thing if you were to use the "curl" equivalent calls direct

[2020-07-26 12:06] rubiin opened #1587 "problem deleting repo"
[code]
I am doing something like this and get an error

[code]

BTW: The repo exists

[2020-07-26 12:39] gmlewis commented on #1587
According to the docs: https://godoc.org/github.com/google/go-github/github#RepositoriesService.Delete

the second argument is the owner of the repo.

So your code should be:

[code]

[2020-07-26 12:39] #1587 closed

[2020-07-26 13:56] rubiin commented on #1587
also isnt it supposed to fetch all user repos, I  mean the forked and sources

[code]
I dont get the full repo list as seen in the user repos in github. LIke i hva earound 61 repos but it only gets around 15-20 repos

[2020-07-26 14:38] gmlewis commented on #1587
This is the only call I see in the GitHub v3 API docs that says it will list forks:
https://developer.github.com/v3/repos/#list-organization-repositories
Note that this call requires the org name (e.g. "rubiin").

[2020-07-30 04:06] pentaphobe opened #1588 "Some service calls don't respect URLs specified by API responses"
## Context

Some API endpoints will vary depending upon installed version of Github / Github Enterprise

Whilst this can't be helped for top level endpoints, the Github API design includes URLs in its response for gathering further data.

eg. [Get a team by name](https://developer.github.com/enterprise/2.21/v3/teams/#list-teams) returns:

- `members_url`
- `repositories_url`

These returned values

[2020-07-30 23:13] gmlewis commented on #1588
Thank you for reporting this issue, @pentaphobe.
As you have pointed out, this is a complex problem, and not easily solved, especially as the GitHub v3 API advances ever forward.

The options you suggest will make maintenance and support of this repo even more challenging than it already is, and may not fully solve the problem for all endpoints. We also need to keep in mind that this repo has thou

[2020-07-31 00:56] pentaphobe commented on #1588
Thanks @gmlewis - I'll give it a further ponder too, suspect I made it sound a little more of a hopeless case with my rather prolix description :)

One thought (which I could have been clearer about in the original ticket) is that currently the related functions have parameters which map directly to the expected RESTful variables, which puts it in lockstep with API changes

eg.

- [In `v28` we hav

[2020-08-01 16:29] gmlewis commented on #1588
I think I understand, but the fact that you are relying on `org.MembersURL` means that you were forced to make a call to the API before making the call you are really interested in.

This new method now relies on `org.MembersURL` having a somewhat consistent format since you are performing a string search-and-replace on it.

I'm back to my original statement that this kind of solution introduces a

[2020-08-02 12:53] davidkarlsen opened #1589 "Add `busy` field to runners"
From https://docs.github.com/en/rest/reference/actions#self-hosted-runners there seems to be a boolean `busy`field. This should be added to https://pkg.go.dev/github.com/google/go-github/v31/github?tab=doc#Runner

[2020-08-02 22:06] pentaphobe commented on #1588
Fair enough, thanks for the feedback @gmlewis

I'll try not to ponder it further :)

[2020-08-03 00:43] gmlewis commented on #1589
Thank you, @davidkarlsen !
It's interesting that the old docs do not appear to be getting updated:
https://developer.github.com/v3/actions/self-hosted-runners/#list-self-hosted-runners-for-an-organization

[2020-08-03 00:44] #1589 closed

[2020-08-04 13:46] Jonnymcc opened #1591 "Github API changed for getting PR files?"
The API call here seems to be broken
https://github.com/google/go-github/blob/0683ca03b4e9f6cfab67a0f95f8c42bcacd57f6c/github/pulls.go#L398

The sprintf function uses "/pulls/" which results in a 404, but "/pull/" works.

Using version `github.com/google/go-github/v29 v29.0.3`

[2020-08-04 19:10] chughpiyush commented on #1552
I can work on this one.

[2020-08-05 03:28] nightlark commented on #1591
I'm not seeing this -- https://api.github.com/repos/google/go-github/pulls/1584/files works for me, and https://api.github.com/repos/google/go-github/pull/1584/files gives a JSON response with `"message": "Not Found"`.

[2020-08-05 10:44] evileyez24 opened #1592 "New code"

[2020-08-05 12:00] rbhawar commented on #445
Is there a way to create a common tag for all repositories under an organization in Github? Any pointers. Thanks in advance.

[2020-08-05 13:07] #1592 closed

[2020-08-05 13:10] gmlewis commented on #445
I'm not sure I understand your question.
Are you talking about this: https://developer.github.com/v3/git/tags/#create-a-tag-object ?
Why would you want to do that?

[2020-08-06 17:49] mdeggies opened #1593 "Copying branch protection from one branch to another"
Hello! I'm attempting to copy a `*github.Protection` from one branch to another. This involves turning the existing `*github.Protection` into a `*github.ProtectionRequest` to use in the `UpdateBranchProtection()` method. Is there a recommended way to do this?

I have a monster of a function that tries to convert an existing `Protection` into a `ProtectionRequest`, but there's lots of nested reques

[2020-08-06 22:37] gmlewis commented on #1593
To debug things like this, I usually try to make a working example with curl and then convert it to the Go equivalent. Is that easy to do in this case?

[2020-08-07 09:10] davidkarlsen opened #1594 "Support self-hosted runner groups"
Implement API for https://docs.github.com/en/rest/reference/actions#self-hosted-runner-groups

[2020-08-07 12:49] chughpiyush commented on #1552
Hi @gmlewis ,
Is this issue still something we would like to fix? If yes, I can have a PR ready quickly.

[2020-08-10 04:57] nightlark commented on #1594
I've started looking at implementing support for self-hosted runner groups, though this week is pretty busy so I probably won't get a PR open for it until end of next weekend.

[2020-08-10 23:47] gmlewis commented on #1552
Yes, please, @chughpiyush. Please make sure to fully unit test the various scenarios described above.

[2020-08-12 17:05] Brian-McM opened #1596 "Interfacing the github Client"
Hi,
I'm about to start writing tests for some code that uses the github Client and I realised that the Client isn't interfaced and requires accessing the exported fields directly, which are also not interfaced. This makes it very difficult to mock the Client for testing purposes. I can, and probably will, just mock the http request for the client but that's definitely more work then just mocking o

[2020-08-13 08:38] nicolasmanic opened #1598 "Add support for workflow_dispatch & workflow_run webhook events"
Github has added two new webhook events.
1. [workflow_dispatch](https://docs.github.com/en/developers/webhooks-and-events/webhook-events-and-payloads#workflow_dispatch)
2. [workflow_run](https://docs.github.com/en/developers/webhooks-and-events/webhook-events-and-payloads#workflow_run)

Those are not implemented currently. I can pick it up if it's ok.

[2020-08-14 13:02] gmlewis commented on #1596
I write unit tests against this repo frequently and make a new interface in my client code for just the functions that I want to mock.

We purposefully don't write interfaces on the repo side because then your client code that you are trying to test would need to implement mocks for every method within the interface which would be a huge drag.

So this is working as intended.

Closing.

[2020-08-14 13:02] #1596 closed

[2020-08-15 14:22] ronaudinho commented on #55
I would assume that while the goal is to add JSON marshal tests for all types having `String()` method, this issue is kept open to serve as an entry point for first-time contributors? Otherwise I can probably add more tests.

[2020-08-15 18:09] dmitshur commented on #1575
Thanks for reporting this issue @itsksaurabh. We've had a similar situation in the past, so I wanted to ask some questions to better understand why it has come up again.

In the past, PR #317 added similar code to this library to drain the any remaining body for a speed up. Upon investigation, we discovered that there were exactly 0 bytes being read by `io.Copy(ioutil.Discard, resp.Body)`. A `net/

[2020-08-15 18:32] gmlewis commented on #1575
Thank you, @dmitshur ! Shall we reopen this issue to promote further discussion?

[2020-08-15 21:15] #1598 closed

[2020-08-16 00:47] dmitshur commented on #1575
Sure, let's reopen it until we understand this better.

[2020-08-16 22:02] trompas-max opened #1606 "Free"

[2020-08-16 22:08] Madhav2310 commented on #1606
free

[2020-08-17 00:08] raboley opened #1607 "Add an integration test or example on how to use the addOrUpdateRepoSecret function."
I wanted to use this library to push secrets from my env to my github repo easily, and eventually got it figured out. But It would be very helpful to have an example of how to do that since it requires sodiumlib which is extremely difficult to parse if you are trying to figure out the bare minimum needed to encrypt a secret for posting to github.

essentially what I had to do to update the repo's

[2020-08-17 01:22] #1606 closed

[2020-08-17 01:28] gmlewis commented on #1607
Thank you, @raboley !

Please check out our "example" directory: https://github.com/google/go-github/tree/master/example
and consider adding a new directory with a simple example showing what you did.
You should be able to see how the other examples were put together and do something similar.

Also, please make sure to read through our [CONTRIBUTING.md](https://github.com/google/go-github/blob/mas

[2020-08-17 07:01] vamsee47 commented on #1607
good

[2020-08-17 09:13] Moh-dhr opened #1608 "Go"

[2020-08-17 09:14] #1608 closed

[2020-08-17 11:26] myungkwon commented on #1607
x

[2020-08-17 23:40] paulaparker6614j opened #1610 "Loli"

[2020-08-18 01:11] #1610 closed

[2020-08-18 09:13] chughpiyush commented on #1585
@gmlewis I can give a PR to add relevant comment explaining this issue.

[2020-08-18 18:46] itsksaurabh commented on #1575
Thank you, @dmitshur !
I completely understand your concerns and would like to answer your queries in the best possible way.

As we can see the [official doc](https://golang.org/pkg/net/http/#Body) says,

So I made the fix to make sure the TCP connection is reused from the Client's end. We already had this issue with some of our projects and this fix indeed solved some of the potential problems th

[2020-08-22 13:25] gmlewis opened #1616 "Remove graduated GitHub v3 API preview headers"
GitHub Developer v3 API announcement:
https://developer.github.com/changes/2020-08-20-graduate-machine-man-and-sailor-v-previews/

These custom preview headers have now graduated and need to be remove from this repo:

* application/vnd.github.machine-man-preview+json
* application/vnd.github.sailor-v-preview+json

This would be a great PR for any new contributor to this repo or a new Go developer.

[2020-08-24 14:55] JacobValdemar opened #1617 "Add support for webhook payload from event "change the base-branch in a pull request""
I'm new in the open source community, but I would be happy to contribute with a PR to solve this issue :-)

Let's say you open a pull request where you want to merge into `originalBranch` from `feature/thing`. But whoops, you actually wanted to merge into `master` so you change the pull request base to `master`. It will look something like [this](https://github.blog/2016-08-15-change-the-base-bran

[2020-08-26 20:53] prabenzom opened #1620 "GitHub errors do not check for nil fields in Error() functions"
Hi,

I noticed that the Error functions do not check to see if http.Response.request  is set when creating the error string. I'd like to make changes to check that the fields are non-nil before including them in the error string. For example:

https://github.com/google/go-github/blob/d57a3a84ba041135efb6b7ad3991f827c93c306a/github/github.go#L678

Does this seem reasonable?

[2020-08-27 12:49] gmlewis commented on #1617
Thank you @JacobValdemar !

Can you find out if this is documented anywhere so that we can also attempt to catch other unsupported scenarios?

But the answer is: Yes, please create a PR to support this currently-missed scenario.
Hopefully you don't have to embed structs like you showed in your example, but you can use existing Base, Ref, and/or SHA structs.  Please look around to see if you can fi

[2020-08-27 13:04] gmlewis commented on #1620
Have you found cases where `r.Response.Request` is `nil`?
Can you reliably reproduce this scenario?

If yes, then that sounds like a great idea, and we might even want to look into why this is happening in the first place.
If no, then what prompted this?

Thank you, @prabenzom !

[2020-08-27 13:26] prabenzom commented on #1620
This happened when I was using the library with an HTTPOverGRPC client
written by someone at my company. Their client did not set the request in
the response. I have since fixed that client to include the request in the
response.

I doubt that this is occuring with the use of the default http client, but
changing this could prevent it from happening in the future for other use
cases.

On Thu, Aug

[2020-08-27 13:39] JacobValdemar commented on #1617
@gmlewis I think It's probably an edge case GitHub didn't consider when writing their docs. Or they didn't update their docs then this feature was introduced in August 2016.

[2020-08-27 17:11] gmlewis commented on #1620
Thank you for the explanation, @prabenzom !
I'm totally fine with that.

Feel free to put together a PR with a unit test demonstrating that it is working.

Also, please check out our CONTRIBUTING.md guide for helpful information.

[2020-08-28 13:09] gmlewis commented on #1617
I used to suggest sending an email to the tech support team at GitHub, but apparently that's not how feedback is given anymore. If you would like to send the tech team a suggestion via their forum, that would help improve their documentation which benefits everyone.  But I'll leave that up to you.  Thanks again, @JacobValdemar !

[2020-09-03 02:51] raboley commented on #1607
@gmlewis Thank you for the notes! Sorry for the delay, I have create PR #1626 to add an example of this the best I could. I signed the contributing agreement, and tried to follow any direction and other examples as I could! Due to mine requiring 3rd party libraries and more complexity than I would have liked the example isn't quite as simple as others, but hopefully it makes it clear enough. Open

[2020-09-04 12:57] pisces-period opened #1627 "func (*SearchService) Issues - Issue data type doesn't return Repositories"
Golang version: 1.14.4 darwin/amd64
Library version: github.com/google/go-github/v32/github

I've been using the go-github library to query GitHub API to search code, commits, and issues matching against a particular string. The necessary functions and data types that I'm using in particular are documented [here](https://pkg.go.dev/github.com/google/go-github/v31/github?tab=doc#Search).

While I'm

[2020-09-04 13:55] gmlewis commented on #1627
Hi @pisces-period - whenever I'm faced with questions regarding "what data can I get from GitHub", I scan through the official documentation until I find what I want, and then if the methods from this repo don't give me the results I want, I then revert to using the curl commands directly from the official docs to see if those provide the data I want. This will typically tell me if there is a limi

[2020-09-10 10:17] Sympho opened #1628 "I think the condition "resp.ContentLength == -1" isn't needed because "-1" < "2048""
https://github.com/google/go-github/blob/master/github/github.go#L576

[2020-09-10 12:40] StarpTech opened #1629 "Remove trailing slashes from file "paths" to build correct urls"
Hello,
I try to download a file from a different branch than `master`.

Request to:
[code]

Response:

[code]

returns always file references to master and it doesn't matter what `ref` I pass.

This looks like a Github API issue. I added it here due to transparency reasons and to improve the integration test suite.

[2020-09-10 13:06] StarpTech commented on #1629
I found it. If you pass a path like `.github/workflows/` it will be concatenated to `https://api.github.com/repos/StarpTech/shikaka/contents/.github/workflows/` which is wrong. This module should remove trailing slashes in order be conform with the URI schema.

[2020-09-11 15:47] gmlewis commented on #1629
Can you please provide a minimal code sample to demonstrate the issue?

[2020-09-11 15:50] gmlewis commented on #1628
Yes, that is true, and we have an open PR addressing that issue: https://github.com/google/go-github/pull/1615/files

[2020-09-11 15:57] StarpTech commented on #1629
@gmlewis
[code]

Produces the wrong URL with a leading slash but works as a file URL.

[2020-09-11 16:06] gmlewis commented on #1629
So are you saying that this endpoint always needs to strip trailing slashes?

What does it mean to download the contents of a folder? Is that supported by the GitHub v3 API?
I thought it was for individual files (and am on a phone right now or I would check).

Are there any downsides to changing this endpoint to always strip trailing slashes?

[2020-09-11 16:20] StarpTech commented on #1629
You can download a folder. It will return all files in it. The issue is not the specific endpoint. If you have a trailing slash in the path all requests options are ignored because `path/?ref=` is invalid. `path?ref` is valid.

[2020-09-11 16:31] gmlewis commented on #1629
Oh, OK... So everywhere this repo creates a ref, the ref itself should not end in a slash, if I understand you correctly.

[2020-09-11 16:49] StarpTech commented on #1629
No, everywhere we pass a filePath to an endpoint the trailing slash must be removed. It's an issue how we build the URL. The trailing slash of all file paths must be removed before we build the URL.

[2020-09-11 16:52] gmlewis commented on #1629
Do you want to own this issue and create a PR? Or do you want to open this up to other volunteers to address?

Part of resolving this would be to determine the complete list of endpoints that this issue affects.

[2020-09-11 18:58] StarpTech commented on #1629
Yeah, I can provide a PR.

[2020-09-11 19:09] gmlewis commented on #1629
Thank you, @StarpTech !

Please see our [CONTRIBUTING.md](https://github.com/google/go-github/blob/master/CONTRIBUTING.md) guide for helpful information.

[2020-09-12 11:36] #1629 closed

[2020-09-12 20:24] raboley commented on #1607
closed by #1626

[2020-09-12 20:24] #1607 closed

[2020-09-14 11:01] r-bennett commented on #1524
I spoke with GitHub support about this and their response was that GHE API lags GitHub.com API but will generally catch up.

It looks like the `/organizations/{org_id}/team/{team_id}` endpoints have been added in 2.21 of GHE e.g. https://docs.github.com/en/enterprise/2.21/user/rest/reference/teams#get-a-team-by-name

[2020-09-15 09:58] Gigaclank opened #1631 "go mod use latest version"
Is there a way to force the latest version for dependencies.

e.g. my go.mod looks a bit like this:

[code]

can i do something like:

[code]

My usecase is to prevent security flaws such as a  Billion Laughs Attack which is yaml.v2 is vulnerable to in <v.2.2.3

[2020-09-15 12:39] gmlewis commented on #1631
According to:
https://jfrog.com/blog/shift-left-security-with-golang-in-vs-code/

you can add this to your `go.mod`:

[code]

[2020-09-15 12:46] gmlewis commented on #1631
But I just tried it and couldn't get it to work, so please let us know if you find a working solution.
Thanks.

[2020-09-15 18:15] Gigaclank commented on #1631
@gmlewis i tried also. It does not work.

[2020-09-16 12:09] pisces-period commented on #1627
Hi @gmlewis, I apologize for the late reply.

I had already tested w/ running cURL commands directly against the GitHub API v3. The data that I need (the repository HTML URL associated with code, commits and issues) is available through a direct API call.

Since you requested a more thorough example than what I had previously provided, here's a simple implementation (excluding authentication) that

[2020-09-17 01:31] gmlewis commented on #1627
Hi @pisces-period , you wrote:

But you neglected to say where (i.e. in which field) this information was found.

So I went ahead and did what I had recommended myself, and performed a curl call, like so:

[code]

I then looked through the response that it gave, and noticed that the field you are trying to get data from (`repository` in your Go example code) is not being returned at all!

This mea

[2020-09-17 09:09] pisces-period commented on #1627
Hi @gmlewis,

I appreciate the help. I'll close the issue.

[2020-09-17 09:09] #1627 closed

[2020-09-17 15:18] #1616 closed

[2020-09-17 15:20] #1617 closed

[2020-09-22 02:07] nightlark commented on #1594
Sorry, I started adding support for this API then work got busy -- estimating that I'll have time to finish work on it towards the end of next week.

[2020-09-22 13:10] davidkarlsen commented on #1594
It's open-source - I fully understand this cannot be main concert at any given time! Thanks and good luck :)

[2020-09-23 01:46] dmitshur commented on #1631
@gmlewis In what way did it not work? A require directive should work to ensure the mentioned version (or a later version) is selected. Maybe you had a replace directive too? Those take higher precedence.

If this issue isn't related to go-github, then some of the places listed in http://golang.org/wiki/Questions may help you get better answers.

[2020-09-23 13:49] gmlewis commented on #1631
@dmitshur - I'm away from my machine until 9/30, and I don't remember the details now.  When I return, I will try it out again and if it still fails, I'll share the details.  Thanks for the confirmation.

[2020-09-29 22:40] wimglenn commented on #113
There is a more minimal example also given here that I found helpful: https://github.com/google/go-github/issues/1181#issuecomment-497893994

[2020-10-02 20:03] gmlewis opened #1634 "Remove graduated GitHub v3 API preview header: antiope"
GitHub Developer v3 API announcement:
https://developer.github.com/changes/2020-10-01-graduate-antiope-preview/

This custom preview header has now graduated and needs to be removed from this repo:

* application/vnd.github.antiope-preview+json

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer fo

[2020-10-02 21:45] n1lesh commented on #1634
@gmlewis I can take this up if no one's started yet.

[2020-10-02 22:11] gmlewis commented on #1634
Thank you, @n1lesh !  It's yours.

[2020-10-02 23:33] n1lesh commented on #1634
Submitted a PR #1636.

[2020-10-04 21:37] #1634 closed

[2020-10-07 19:36] smit-modi commented on #1524
@chestone @r-bennett I'm trying to use go-github library for my enterprise github instance, but the [defaultBaseURL](https://github.com/google/go-github/blob/master/github/github.go#L31) always point to `https://api.github.com/`. Is there a way I can change it to `https://[GitHubEnterpriseHostname]/`?

[2020-10-07 19:45] willnorris commented on #1524
See NewEnterpriseClient.  Does that do what you're looking for?

On Wed, Oct 7, 2020, 12:36 PM Smit Modi <notifications@github.com> wrote:

[2020-10-07 19:51] smit-modi commented on #1524
@willnorris Thank you! That's what I was looking for.

[2020-10-10 10:17] n1lesh opened #1637 "Add Workflow enable and disable states"
Github has two APIs to manually enable and disable a workflow by ID or Filename,

- [Enable a workflow](https://docs.github.com/en/free-pro-team@latest/rest/reference/actions#enable-a-workflow)
- [Disable a workflow](https://docs.github.com/en/free-pro-team@latest/rest/reference/actions#disable-a-workflow)

Both are not implemented yet. I would like to take this up if it is supposed to be added.

[2020-10-11 13:13] gmlewis commented on #1637
That would be great!  Thank you, @n1lesh - this is yours.

[2020-10-11 17:39] n1lesh opened #1639 "Can't create workflow dispatch event by filename"
Noticed that, [GitHub API docs: Create a workflow dispatch event](https://docs.github.com/en/free-pro-team@latest/rest/reference/actions#create-a-workflow-dispatch-event), let's you create dispatch event by both workflowID and Filename.

However, [PR #1623 ](https://github.com/google/go-github/pull/1623) adds support for just workflowID, with **CreateWorkflowDispatchEvent**.

Can we split it into

[2020-10-11 19:25] gmlewis commented on #1639
Excellent catch, @n1lesh  - thank you!  Yes, that would be consistent and generally useful.
Let's do that, please.

[2020-10-11 19:25] gmlewis commented on #1639
This will be a breaking API change, but I think we should do it, so I've labeled it as such.

[2020-10-11 20:42] dmitshur commented on #1575
Thanks for answering. If I understand your reply correctly, you're suggesting there are no known reproducible situations when the response body isn't read completely by this library. That is good to know.

I'm not sure I understand how this applies in this context. When making a HEAD request, the server isn't expected to include a response body, only the response headers. Also, most methods in thi

[2020-10-13 09:14] Abbas798 commented on #1085
Hi i am facing isssue in github the repository is empty can anyone help me ..?
"We couldn’t access the repository Abbas798/site2. This could be because the repository is empty or disabled. "

[2020-10-13 12:41] gmlewis commented on #1085
@Abbas798 - please contact GitHub technical support to access your empty or disabled repo.

This repo is a Go client library to access the GitHub v3 API developed and maintained by volunteers.

[2020-10-20 14:54] alexellis commented on #1052
For anyone else landing here, go-git has moved to https://github.com/go-git/go-git

[2020-10-23 16:28] Jonnymcc commented on #1591
I think we resolved this issue.

[2020-10-23 16:28] #1591 closed

[2020-11-01 18:12] apraveen25 opened #1641 "go get <package> not working"
or

package github.com/google/go-github/tree/v32.1.0/github: cannot find package "github.com/google/go-github/tree/v32.1.0/github" in any of:
        /usr/local/go/src/github.com/google/go-github/tree/v32.1.0/github (from $GOROOT)
        /Users/<username>/go/src/github.com/google/go-github/tree/v32.1.0/github (from $GOPATH)

[2020-11-02 11:28] gmlewis commented on #1641
Please try:

[code]

[2020-11-05 08:44] taisph opened #1642 "CompareCommits() doesn't encode given base/head refs?"
Our GitHub integration does a number of automated steps, one being comparing a PR branch with the base, to determine if it can be cleanly merged. It uses `Repositories.CompareCommits()` passing `PullRequest.GetBase().GetRef()` and `PullRequest.GetHead().GetRef()` as base and head refs.

Now, someone on our team thought it would be a great idea to name a branch "feature/#nnnn-some-task", causing th

[2020-11-05 20:44] gmlewis commented on #1642
This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md](https://github.com/google/go-github/blob/master/CONTRIBUTING.md) guide to get started.

Thank you!

[2020-11-12 05:16] itsksaurabh opened #1646 "Clean up TCP connection reuse code inside Do func as now Go HTTP packge does it internally"
The changes in the PR #1576 are not needed now as the latest official Go Http package does it internally. So Now, it is possible to remove the code from the PR.

https://github.com/golang/go/blob/master/src/net/http/client.go#L698

[2020-11-12 15:46] nkaplatt opened #1647 "Get Label data from call to ListOrganizationRunners"
I'm currently doing some work around our organisational runners, part of that is verifying state and collect some high level metrics. Whilst using the library I noticed that the function ListOrganizationRunners and struct `Runners` doesn't collect the array of labels that also comes back with this call https://docs.github.com/en/free-pro-team@latest/rest/reference/actions#list-self-hosted-runners-

[2020-11-12 21:55] gmlewis commented on #1647
Rarely do we omit fields by design (except for possibly all the redundant URLs).
(Typically, the GitHub team adds fields as they go, and we eventually find out about them through issues like this one.)

So it looks like #1648 addresses this.
Thank you, @nkaplatt !  I'll add comments to the PR.

[2020-11-12 22:07] #1647 closed

[2020-11-14 13:57] urohit011 commented on #1642
I would like to take it up.

[2020-11-14 14:45] gmlewis commented on #1642
Thank you, @urohit011 !
It is yours.

[2020-11-14 18:03] #1646 closed

[2020-11-14 18:07] #1637 closed

[2020-11-16 11:27] nderjung opened #1650 "Cannot list PR comments"
The v3 API for this endpoint has changed:

https://github.com/google/go-github/blob/e881974953e6ab6d1a6a1610e98ed6401a3aa1ba/github/pulls_comments.go#L71-L77

From/to:

[code]

Currently this Golang interfaces yields an empty array (as does the API endpoint).

To recreate this, try the alternative URLs with curl:

[code]

[2020-11-16 12:07] gmlewis commented on #1650
I believe you are mistaken.

Taking a look at the current method: https://github.com/google/go-github/blob/master/github/pulls_comments.go#L65-L71
it points to this GitHub v3 API documentation:

* https://docs.github.com/en/free-pro-team@latest/rest/reference/pulls#list-review-comments-on-a-pull-request
* https://docs.github.com/en/free-pro-team@latest/rest/reference/pulls#list-review-comments-in-

[2020-11-16 12:21] nderjung commented on #1650
Hi,

I've just gone through all of this.  Thanks.

[2020-11-16 12:21] #1650 closed

[2020-11-18 10:07] Adirio opened #1652 "Update Check Run HeadSHA"
https://github.com/google/go-github/blob/1ff2714d8affd5ede5366bdb1a2d9472b669fe77/github/checks.go#L175-L186

Despite having an optional `HeadSHA` field, if you update this to a different commit hash it won't be updated.

We have some Check Runs that are PR-oriented and not commit-oriented and we were trying to use this field to rebind the Check Runs to the head commit of a PR on `synchronize`.

I

[2020-11-18 14:02] gmlewis commented on #1652
As far as I can tell from the official documentation: https://docs.github.com/en/free-pro-team@latest/rest/reference/checks#update-a-check-run
the `head_sha` field is no longer accepted as a parameter and is completely ignored.

You may wish to contact GitHub technical support and ask them the same question.

[2020-11-18 16:19] Adirio commented on #1652
+1 to removing it from the `UpdateCheckRunOptions` struct to prevent further confussion.

[2020-11-18 19:18] gmlewis commented on #1652
The other fields should be verified as well as part of addressing this issue.

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md](https://github.com/google/

[2020-12-01 16:29] srinidhis05 opened #1654 "CompareCommits function not working post #1649"
The comparecommits function is returning 404 for comparison of the commits post PR [#1649](https://github.com/google/go-github/pull/1649) root cause being query escape .

Call to github without the change : repos/org/repo/compare/commit1...commit2
Call to github with the change : repos%2Forg%2Frepo%2Fcompare%2Fcommit1...commit2

[2020-12-01 17:13] gmlewis commented on #1654
Ah, yes, of course. This was not tested well. I'll revert it.
Thank you, @srinidhis05 !

[2020-12-01 17:15] gmlewis commented on #1654
Reverted.

[2020-12-01 17:15] #1654 closed

[2020-12-01 17:34] gmlewis commented on #1642
Unfortunately, I did not carefully check #1649, and it had to be reverted.
The solution to this issue is going to involve only escaping the head and base ref portions of the URL, not the whole thing.

Reopening this issue for a new PR solution to solve it.

[2020-12-01 17:51] gmlewis commented on #1642
@srinidhis05 - would you like to address this issue?

[2020-12-01 17:57] urohit011 commented on #1642
It was my fault for not testing it properly.Very sorry for that.

[2020-12-01 18:04] gmlewis commented on #1642
No problem, @urohit011 - I really should have caught that in my code review.  The unit test should explicitly show the before and after and I should have insisted when I saw the unit tests... but let it go through.

The moment the same call to `url.QueryEscape` showed up in both the production code and the unit test was my red flag that something was wrong.  I mentioned it once, but didn't follow

[2020-12-01 18:26] urohit011 commented on #1642
Thanks @gmlewis , I be more carefull next time. I think it will take me a couple of days to create a new PR. I'll step aside if the change is needed quicker than that :)

[2020-12-02 08:51] ishanupadhyay commented on #1652
Hi @gmlewis  @Adirio  I can work on this issue

[2020-12-02 09:50] ishanupadhyay commented on #1652
Please take a look at [PR-165 7](https://github.com/google/go-github/pull/1657) . It will be my first contribution to this project :)

[2020-12-02 15:54] #1652 closed

[2020-12-02 16:57] #1639 closed

[2020-12-05 19:34] chughpiyush commented on #1642
@gmlewis I can take this one :)

[2020-12-05 20:06] gmlewis commented on #1642
Thank you, @chughpiyush - it is yours.

[2020-12-06 17:31] chughpiyush commented on #1628
@gmlewis I think this issue can be closed now, code in question has been removed : https://github.com/google/go-github/commit/c5b0f2133dafff1990647022a89886d173e3d7e6

[2020-12-06 17:39] chughpiyush commented on #1641
@gmlewis Can we close old and inative issues like this and/or #1467 ?

Is there some minimum time for which an issue needs to remain open, post which only it can be marked as "inactive" and then closed ?

[2020-12-06 19:06] gmlewis commented on #1628
Good call, @chughpiyush .
Closing issue as obsolete.

[2020-12-06 19:06] #1628 closed

[2020-12-06 19:09] gmlewis commented on #1641
Yes, @chughpiyush - this can be closed.  I try to leave them open for a short time to give the people a chance to respond with more questions, comments, or clarifications, but I have not been diligent about cleaning up.  Periodically I run through all the issues and close them all out, but feel free to comment on old/obsolete issues when you find them, and I'll close them out... like you did here.

[2020-12-06 19:10] gmlewis commented on #1467
Closing issue as obsolete.

[2020-12-06 19:10] #1467 closed

[2020-12-06 19:30] gmlewis commented on #1631
I apologize for the delay, but now I have investigated this once again... this time with Go version `1.15.5`.

I started with this test case:
https://github.com/gmlewis/go-github/tree/master/example/newreposecret
and added this line to `go.mod`:

[code]

With Go `v1.15.5`, running `go test ./...` works fine.

However, the moment I type `go mod tidy`, that line is removed from `go.mod`, reverting t

[2020-12-06 22:06] dmitshur commented on #1631
Thanks for providing details @gmlewis. I'm able to reproduce the behavior you're seeing.

My current understanding is that it's working as intended per https://golang.org/ref/mod#go-mod-tidy. The `gopkg.in/yaml.v2` module doesn't provide any relevant packages, so explicit upgrades to it are not maintained by `go mod tidy`. If the main module is modified to use `gopkg.in/yaml.v2`, then the explicit

[2020-12-07 00:42] #1631 closed

[2020-12-11 04:33] Zamiell opened #1673 "Is the methods of github.Client thread-safe?"
Greetings,

I want to share a github.Client between multiple goroutines.  Is it safe to do so?

In order to answer this question, I surfed to [the documentation for this library](https://pkg.go.dev/github.com/google/go-github/v33), and searched for "goroutine", "thread-safe", "thread safe", and "safe". All of these searches turned up 0 results. Please add this information to the documentation. Tha

[2020-12-11 15:22] gmlewis commented on #1673
Yes, this is safe, but doing so is a really easy way to quickly cause rate limit and abuse errors.
Believe me when I say I have experience in these areas. 😄

Make sure you review and understand the GitHub API policies first:

* https://docs.github.com/en/free-pro-team@latest/rest/overview/resources-in-the-rest-api#rate-limiting
* https://docs.github.com/en/free-pro-team@latest/rest/overview/resour

[2020-12-11 15:26] Zamiell commented on #1673
Thank you for the quick response. Yes, rate limits are already clearly documented in the README.md. But thread-safeness is not. Can we add it?

[2020-12-11 15:59] gmlewis commented on #1673
It's been years since I tested thread-safeness, so I'm a bit leery of adding it right now.  Additionally, this is the first request in many years of use, so I'm not sure this is a high-demand feature.

Feel free to validate that the repo is thread-safe (ideally by writing unit tests) and then present a PR for how you would like the README.md to be updated based on your findings.

Thank you.

[2020-12-14 13:11] afdesk opened #1674 "Webhook payload fields for Github Apps: action, organization and installation"
Each webhook event payload contains properties unique to the event. There are a few common keys for these properties: `action`, `sender`, `repository`, `organization`, `installation`.
more details: [Webhook payload object common properties](https://docs.github.com/en/free-pro-team@latest/developers/webhooks-and-events/webhook-events-and-payloads#webhook-payload-object-common-properties).

`WebHook

[2020-12-14 13:14] gmlewis commented on #1674
Yes, that would be great.  Thank you, @afdesk .
Please be sure to read CONTRIBUTING.md if you have not contributed to this repo before.

[2020-12-14 15:24] afdesk commented on #1674
@gmlewis I've created a pull request #1678 `Add action, organization and installation objects to Webhook payload`.

[2020-12-14 15:56] #1674 closed

[2021-01-03 19:10] ttacon commented on #1641
I know that this is closed, so my apologies if it's not appropriate to comment on this thread, but I thought I'd share a bit of context as to what is likely going on here since I found it interesting (I ran into a similar issue), for any other future wayfarers.

This looks as though it is occurring due to the use of gopher flakes at the root of the package because of the usage of the v32 version o

[2021-01-03 19:17] gmlewis commented on #1641
Very interesting! Thank you, @ttacon !

@willnorris and @dmitshur might be interested in this.

[2021-01-04 14:11] RenukuntlaMonisha opened #1770 "Need a function to remove status check contexts"
I want to remove all the status checks that are added under my branch protection, to do so I tried using this `UPDATE` API call with the array of status checks as empty: https://docs.github.com/en/free-pro-team@latest/rest/reference/repos#update-status-check-protection
but I'm not able to achieve what I wanted.
Then I tried using this recent `DELETE` API to remove status checks,
https://docs.githu

[2021-01-04 14:12] RenukuntlaMonisha opened #1771 "Need an equivalent to remove status check contexts API"
I want to remove all the status checks that are added under my branch protection, to do so I tried using this `UPDATE` API call with the array of status checks as empty: https://docs.github.com/en/free-pro-team@latest/rest/reference/repos#update-status-check-protection
but I'm not able to achieve what I wanted.
Then I tried using this recent `DELETE` API to remove status checks,
https://docs.githu

[2021-01-04 14:43] gmlewis commented on #1771
This appears to be a duplicate of #1770 .
If it is, can you please close it?
If not, can you please clarify what the difference are?

[2021-01-07 17:37] gmlewis commented on #1771
Hearing no response, closing duplicate issue in favor of #1770.

[2021-01-07 17:37] #1771 closed

[2021-01-11 14:03] #1642 closed

[2021-01-13 16:49] SudoVim opened #1775 "Add missing fields to MarketplacePlan and MarketplacePurchase structs"
According to the GitHub documentation: https://docs.github.com/en/free-pro-team@latest/rest/reference/apps#list-accounts-for-a-plan the "number" field is missing from MarketplacePlan, and the "updated_at" field is missing from MarketplacePurchase. I've already made these changes in my fork, so I'd like to submit a PR for review. However, it might take me a little while to get approval for this lic

[2021-01-13 17:18] gmlewis commented on #1775
Thank you, @SudoVim .

I'll open this up to any volunteer contributor so that you don't have to worry about making the PR yourself.

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please chec

[2021-01-13 18:49] chughpiyush commented on #1775
@gmlewis I can take up this one :)

[2021-01-13 18:53] chughpiyush commented on #1237
@gmlewis I think this one can be closed.

[2021-01-13 18:54] chughpiyush commented on #862
@gmlewis This too can be closed as the PR is already merged.

[2021-01-13 20:47] gmlewis commented on #862
Closing as fixed by #878.

[2021-01-13 20:47] #862 closed

[2021-01-13 20:49] gmlewis commented on #1237
Closing as fixed by #1238.

[2021-01-13 20:49] #1237 closed

[2021-01-15 08:16] n1lesh commented on #1770
@gmlewis I can take this.

[2021-01-15 19:34] sorenhansendk opened #1777 "Unable to get IP adresses for "Actions" and "Dependabot""
We would like to use this library to get the origin IP addresses for "Actions" and "Dependabot" - but that is not possible.

I will make a fix to it and open a PR very soon 😃

[2021-01-15 19:57] #1777 closed

[2021-01-17 10:10] n1lesh opened #1779 "Remove mediaTypeRequiredApprovingReviewsPreview header from remaining APIs"
As mentioned in,
https://developer.github.com/changes/2018-03-16-protected-branches-required-approving-reviews/

only 4 endpoints require `mediaTypeRequiredApprovingReviewsPreview` header as mentioned in [here as well](https://docs.github.com/en/rest/reference/repos#branches).

Can we remove the header in remaining APIs, namely status checks APIs, as I see it being used in around 14 endpoints, or

[2021-01-17 11:29] gmlewis commented on #1779
Hmmm... I think we have a disconnect.  If I search for that custom media header in this repo, I see this:

https://github.com/google/go-github/search?q=mediaTypeRequiredApprovingReviewsPreview

which shows it being used in two locations:

* https://github.com/google/go-github/blob/c2c4a6d477016a3e73a63d67b1933fb24f52fd99/github/repos.go#L924
* https://github.com/google/go-github/blob/c2c4a6d477016

[2021-01-17 11:34] n1lesh commented on #1779
Well, I took the latest for the last pull request, plus here, https://github.com/google/go-github/blob/c2c4a6d477016a3e73a63d67b1933fb24f52fd99/github/repos.go, where I can see it being used multiple times.

I guess [here](https://github.com/google/go-github/search?q=mediaTypeRequiredApprovingReviewsPreview) they are just showing the top 2 matches, but if you open the file, it's more than 2.

[2021-01-17 11:42] gmlewis commented on #1779
Ah!  You are right!  Mine was the disconnect.  Sorry about that.

Then yes, please feel free to submit a PR to clean these all up, or we can open it up to another volunteer to do this... your choice.

Thank you, @n1lesh !

[2021-01-17 11:44] n1lesh commented on #1779
Will work on it, no problem. Thank you, @gmlewis

[2021-01-18 17:20] #1770 closed

[2021-01-25 12:58] #1779 closed

[2021-01-26 15:54] reinoudk commented on #592
Hi, I've stumbled upon this issue today as I'm building a service that handles GitHub events. I use the `github.ValidatePayload` function and was surprised that my tests were failing. Turns out I was using the header `X-Hub-Signature-256`, whilst `github.ValidatePayload` has the constant `signatureHeader` defined as `X-Hub-Signature`.

The GitHub documentation [recommends](https://docs.github.com/

[2021-01-26 17:08] #592 closed

[2021-01-26 18:56] gmlewis commented on #1641
I'm discovering that other people are running across this same issue, and it looks like more investigation is needed to fix the issue involving the "scrape" subpackage, so I'm going to open this issue again.

Any volunteers are welcome to work on this.  Ideally, `go get -u github.com/google/go-github/...` would work again without having to jump through any hoops.

[2021-01-26 19:41] briemarie opened #1784 "Unable to specify request headers in NewRequest"
https://github.com/google/go-github/blob/9318e629ec694193e3b982ae5764359b96e296e1/github/github.go#L373

Here the request header is hard coded to be "application/vnd.github.v3+json" even though there are several constants already setup for different headers. It appears that it would be an easy change to make to pass in an optional request header type to NewRequest, and if one is not provided then

[2021-01-26 21:02] dmitshur commented on #1641
@gmlewis To make progress on this issue, it would help to provide more information about what issue people are running into. The original issue report was trying to `go get` an import path that does not exist in GOPATH mode, so an error is the correct behavior.

In module mode, `go get -u github.com/google/go-github/...` works without errors using Go 1.15.7:

[code]

However, `go get -u github.com

[2021-01-26 22:13] gmlewis commented on #1641
Thank you, @dmitshur - I was working with someone who attempted to perform

[code]

and the command failed.  Having to add "/github@latest" to the end seems like a pain, does it not (or at the very least, it is non-intuitive).

Hmmm... I see that we don't have "Installation" instructions in the README.md... maybe this is all we need to address this issue?

[2021-01-26 22:53] dmitshur commented on #1641
That command works for me too:

[code]

The "@latest" suffix can be omitted, I included it to make the version explicit.

Adding an "Installation" section to the README sounds good idea. I'm happy to review a PR for it. (An example of such a section can be found in the READMEs of [blackfriday v1](https://github.com/russross/blackfriday#installation) and [blackfriday v2](https://github.com/russross

[2021-01-26 23:13] gmlewis commented on #1641
OK, great... thanks for testing this out, @dmitshur  - I'm glad it worked... I'm not sure what was going wrong before.

Perfect.  I'll open this issue up as a "good first issue" "enhancement" and open it up to volunteers.

For anyone who would like to take on this issue, [here](https://github.com/google/go-github/issues/1641#issuecomment-767880805) is what we need:

[2021-01-27 00:07] briemarie commented on #1784
In case anyone sees this and is having the same issue, in v33 there's now a CompareCommitsRaw method that has options to specify diff or patch formats. Still might be useful for the NewRequest to take the header type instead of defaulting, but I'm happy my specific issue is resolved without having to modify the NewRequest.

[2021-01-27 00:07] #1784 closed

[2021-01-27 19:54] andygrunwald opened #1785 "How to use the master branch with go modules?"
Hey all,

I am using go modules in my app and would like to use the master branch of this library (because I depend on some fixes that don't have released yet).
Due to the line https://github.com/google/go-github/blob/master/go.mod#L1, I get the following message:

[code]

Is there a way to use the master branch without waiting for a new release?
Thanks in advance!

[2021-01-27 20:17] gmlewis commented on #1785
Please try:

[code]

as provided by @dmitshur in #1641.

[2021-01-27 21:06] andygrunwald commented on #1785
@gmlewis This doesn't seem to end up with what I am trying, but you pointed me in the right direction:

[code]

Here you see this works by getting the latest / master branch of the current version.

In #1641, @dmitshur is saying that @latest can be omitted.
If I understand this correctly this would lead to the same situation as using `import github.com/google/go-github/v33/github` in an app.

Mayb

[2021-01-27 21:06] #1785 closed

[2021-01-31 10:18] gunadhya commented on #1775
Hi @gmlewis, I'd like to work on this issue if it is available?

[2021-01-31 13:59] gmlewis commented on #1775
Thanks, @gunadhya , but this issue is already assigned to @chughpiyush , so let's give an opportunity for a status update first.

[2021-01-31 18:20] chughpiyush commented on #1775
@gmlewis I'll be giving a PR in a day or two.

[2021-02-01 10:44] cpanato opened #1788 "Implement actions billing endpoint"
Hello

I might overlook but did not find the actions billing endpoint

https://docs.github.com/en/rest/reference/billing#get-github-actions-billing-for-an-organization

This is something we are considering to add?

cc @gmlewis

[2021-02-01 14:38] gmlewis commented on #1788
Thank you, @cpanato - it looks like we don't yet support this endpoint (and possibly others on this page as well).

Whoever volunteers to address this issue should research if there are other billing endpoints that need to be added.

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue

[2021-02-01 14:41] cpanato commented on #1788
@gmlewis ok, thanks for your reply
I can work on that if you are not against

[2021-02-01 14:52] gmlewis commented on #1788
Thank you, @cpanato ! This issue is yours.

[2021-02-03 00:47] victor88121 opened #1791 "Return TotalCount in ListRepos in AppsService"
`ListRepos` currently only returns the list of repositories from github's response but not the total_count ([Link](https://docs.github.com/en/rest/reference/apps#list-repositories-accessible-to-the-app-installation)). This total_count is different from just the length of the list of repositories returned if the number of repositories in the installation is greater than the per_page pagination limi

[2021-02-03 01:18] gmlewis commented on #1791
Ah, yes, I see that it was originally written this way in #436 and I unfortunately didn't catch it at the time.

Yes, I think we can easily add the field by making a new return struct, which would be a breaking API change.
I'll open this issue up to volunteers.  Thanks, @victor88121.

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly

[2021-02-03 03:53] DarthBenro008 commented on #1791
Hey @gmlewis,
I would like to work on this issue, could you please assign me this issue, if that's alright?

[2021-02-03 17:54] gmlewis commented on #1791
Thank you, @DarthBenro008 !  It's yours.

[2021-02-04 03:56] carlmjohnson opened #1792 "Feature request: fs.FS implementation"
Now that Go 1.16 has an io/fs.FS interface for file systems, it would be nice if you could drop in a GitHub repo as a file store.

[2021-02-04 06:24] brondum opened #1793 "Create commit in new branch without creating branch beforehand"
Hi.

Is it possible to create a commit in a new branch without explicitly doing a `client.Git.CreateRef`.
When creating the remote ref before doing the commit Github creates the branch with the same commitSHA as the base branch, which causes our CI to trigger a job on the same SHA, which is just waste of time.

How i am doing it today:
 * Get ref from source branch `client.Git.GetRef`
 * Create ne

[2021-02-04 08:02] DarthBenro008 commented on #1641
I came across the same issue today :sweat_smile:
I would like to work on this and send a PR so that it could help others who are starting out to use the library!
Can you please assign this issue to me?

[2021-02-04 13:25] gmlewis commented on #1641
Thank you, @DarthBenro008 - it's yours.

[2021-02-04 13:40] gmlewis commented on #1793
Thanks, @brondum.

This is actually the perfect question for GitHub developer technical support: https://support.github.com/contact

If they can show you how to accomplish what you want using the GitHub v3 API and `curl`, then this repo should be able to help you accomplish the same thing from Go.

Please report your findings back here and we can take it from there.  Good luck.

[2021-02-04 13:47] gmlewis commented on #1792
Thank you, @carlmjohnson .

Since this repo is dedicated to supporting the GitHub v3 API, I'm wondering if your suggestion might fit more nicely into a separate helper package outside this repo? I believe the API supports everything that is needed to accomplish this.

I'm recommending a separate repo+package due to the added maintenance burden on this repo, which is supported completely by volunte

[2021-02-04 14:32] carlmjohnson commented on #1792
With any web API library, there’s a question of do you make it a thin layer over the endpoints or a thick client that abstracts the plumbing away. This library is not a completely dumb thin layer—for example, it hides all the base64 stuff—but it is closer to a thin client than a thick one. I think it probably makes sense to let another package do an experimental FS layer for now and then maybe com

[2021-02-04 14:47] #1791 closed

[2021-02-05 17:26] vikramzsingh commented on #1793
@gmlewis , i would like to work on this issue, please assign me this

[2021-02-05 21:24] gmlewis commented on #1793
Thanks for your enthusiasm, @vikramzsingh , but this issue is not yet ready to work on.  GitHub support needs to be contacted and we need to hear back from them on how to proceed.

[2021-02-07 15:30] #1641 closed

[2021-02-09 16:50] #1788 closed

[2021-02-11 14:26] alexal commented on #1775
I haven't seen a PR yet, so I've decided to make a change myself. Please see PR #1798 and assign the issue to me. Thank you!

[2021-02-11 14:46] gmlewis commented on #1775
As described in #1798, this is not our standard way of proceeding (since the issue is already assigned), but in this case I'll allow it if you fix the PR problem, since it is a trivial change.

[2021-02-11 14:53] gmlewis commented on #1775
Fixed by #1798.

[2021-02-11 14:53] #1775 closed

[2021-02-15 14:18] artheus-sbab opened #1800 "Add Client interface/mock to allow Mocked testing"
Right now, the Github client is very hard to use for unit tests for projects depending on this.

It would be a great idea to create an Interface for the client. Much like the K8S client mocked client, in the Go client project.

[2021-02-15 14:31] gmlewis commented on #1800
Actually, one of the most beautiful things about the Go programming language is that you can create interfaces in your own code without any external dependency dictating what your interface should be.

Please take a look at the following issues to give you an idea on how to proceed:

* https://github.com/google/go-github/issues/1596#issuecomment-674063320
* https://github.com/google/go-github/issu

[2021-02-15 14:34] artheus-sbab commented on #1800
@gmlewis Well, to be quite honest. I do not really agree with that when the interface you need is to a Dependency.
One never knows when or how the dependency will change, therefore I see it as necessary to provide an interface whenever writing a client library to any kind of API.

[2021-02-15 14:42] gmlewis commented on #1800
The problem with providing an interface to all methods in a service is that you then need to provide implementations of all the methods in the interface when you mock it, which gets very old very fast.  Whereas if you write your own interface, you can mock only the individual methods that you are actually using.

Do you have a specific problem in writing your unit tests, or were you just wanting t

[2021-02-15 14:49] gmlewis commented on #1800
Maybe I'm missing the point.  Let's say we added an interface to every single method in this repo (which again, should be trivial to do)...  how would this actually be used?

In other words, how is having an interface to every method any better than just letting the compiler tell you whether you are calling each method correctly or not?

[2021-02-15 20:11] dmitshur commented on #1785
For posterity, the `@latest` and `@master` are version queries and are fully documented at https://golang.org/ref/mod#version-queries.

[2021-02-15 20:31] dmitshur commented on #1792
I agree this is tempting to provide.

One reason not to provide it would be because a simple implementation would not scale well, and an implementation that scales well would be too large and complex to add to this API wrapper.

Consider a large GitHub repository with hundreds of MB of content. Accessing a large file more than once would either have to reach out to the GitHub API each time or use

[2021-02-16 18:32] gsavit opened #1802 "InstallationPermissions model is missing Actions field"
The `InstallationPermissions` struct lacks a property for [permissions on `Actions`](https://docs.github.com/en/rest/reference/permissions-required-for-github-apps#permission-on-actions)

Planning on forking and opening a PR with a fix, unless I'm missing something??

[2021-02-16 19:20] #1802 closed

[2021-02-19 14:33] #1594 closed

[2021-02-21 21:19] daniellanner opened #1809 "DownloadContents does not return RepositoryContent"
**Summary**
_DownloadContents_ allows receiving files exceeding the 1MB limit of _GetContents_. Unfortunately, the current implementation does not return the _RepositoryContent_ of the requested file.

**Limitation**
When trying to read, update and commit changes to a file larger than 1MB, the user currently has to additionally call _GetContents_ of the directory to receive the SHA of the file cur

[2021-02-21 21:33] gmlewis commented on #1809
Thank you, @daniellanner !  This sounds good and will also require some good method comments explaining the differences and when you should use one method versus the other.

[2021-02-21 23:53] daniellanner commented on #1809
Hi @gmlewis, I added my changes and opened a PR. To ensure parity with DownloadContents I naively and without critical thought added the new method to the skipMethods map in update-urls/main.go.

Thanks for letting me have a go (chichi) at this and let me know if anything is unsatisfactory.

[2021-02-24 16:58] micimize opened #1812 "OrganizationsService.ListFailedOrgInvitations"
[/orgs/{org}/failed_invitations](https://docs.github.com/en/rest/reference/orgs#list-failed-organization-invitations) has the same API as `/orgs/{org}/invitations`, although we should likely expand the `Invitation` model to include failure fields. My userland copypasta "implementation:"

[code]

[2021-02-25 14:54] gmlewis commented on #1812
Thank you, @micimize !  (There is a bit more involved, so I'll open this up to volunteers for a complete implementation.)

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our

[2021-02-26 16:49] micimize commented on #1812
@gmlewis I can probably PR this, but why do you say it's more involved? The API is identical (the failure fields are in both responses).

[2021-02-26 17:26] gmlewis commented on #1812
Thanks, @micimize - it's yours.

What I meant by "a bit more involved" is that you also need to write one or more tests for the new endpoint and need to run `go generate ./...` as described in our CONTRIBUTING.md guide... but yes, you are definitely on the right track for success.

[2021-03-02 03:37] rjshrjndrn opened #1814 "[Question] is there anyway to get `pullStats` for public repos [non enterprize]"
Hi,

Thank you for this awesome library. I just wanted to check is there any way to get the pullStats of opensource repos or non-enterprize orgs.
This is the sample code I was trying.
[code]
But, in the library, admin stats is returing /enterprise
[code]

[2021-03-02 10:32] rjshrjndrn commented on #1814
I figured out another way to do that. somewhat rough..
[code]

[2021-03-02 10:32] #1814 closed

[2021-03-02 15:41] john-m-liu opened #1815 "Not differentiating between blank string and null causes difficulties in merging pull requests"
(Github API doc is at https://docs.github.com/en/rest/reference/pulls#merge-a-pull-request)

When making a request to merge a pull request, there is a difference between the following:
`curl -X PUT -H "Authorization: <token>"  https://api.github.com/repos/{owner}/{repo}/pulls/{pull_number}/merge -d '{"merge_method": "squash", "commit_title": "my commit", "commit_message": ""}'`
and
`curl -X PUT -H

[2021-03-02 18:46] gmlewis commented on #1815
One non-breaking-API-change solution would be to add a new endpoint, something like `MergeWithNoCommitMessage` or something like that.

Any other solution I can think of would involve a breaking API change, and additionally be rather ugly... like adding another parameter stating whether `CommitMessage` should be sent or not.

I'm leaning toward the former, but am not against the latter.

Thoughts?

[2021-03-02 18:59] john-m-liu commented on #1815
The latter feels a bit cleaner to me simply because it would avoid 2 public functions that do basically the same thing, but I don't really have a preference either way. I believe you could make the second option non-breaking by having the new parameter be in a struct field where false maintains the existing behavior

[2021-03-02 20:13] gmlewis commented on #1815
You are right... I just noticed that we are already passing `options *PullRequestOptions` to the `Merge` method, so we really could make it completely non-breaking just as you said.

This definitely sounds like the best option.

Would you like to work on this, @john-m-liu ?  Or do you want me to open up this issue to our other volunteer contributors?

[2021-03-02 20:54] john-m-liu commented on #1815
Sure, I can submit a PR shortly

[2021-03-03 08:03] JarmoDi2 commented on #1270
Hi @gmlewis, would it be possible to reopen this issue or merge the PR?

GitHub seem to have updated their docs and there's no more paging support for this endpoint:
https://docs.github.com/en/rest/reference/apps#get-a-subscription-plan-for-an-account

I'm also experiencing the same error with go-github v33.

[2021-03-05 12:28] gmlewis commented on #1270
Thank you @JarmoDi2 .

Specifically, this method: https://github.com/google/go-github/blob/master/github/apps_marketplace.go#L129-L132
needs to have the `opts *ListOptions` parameter removed and the `GitHub API Docs:` URL updated.

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue an

[2021-03-05 15:34] #1809 closed

[2021-03-05 15:39] #1815 closed

[2021-03-08 12:52] irevenko opened #1819 "Proposal: New Users Methods"
What about adding these new methods?
It could be a new API Section: <b>Users > Statistics </b> or <b>Users > Repos </b>
- Most used languages
- Most starred repositories
- Most forked repositories
- Stars per language
- Forks per language

[2021-03-08 12:56] gmlewis commented on #1819
Thank you, @irevenko. Could you please provide links to the GitHub v3 API dev docs for these endpoints?

[2021-03-08 13:02] irevenko commented on #1819
```https://api.github.com/users/USERNAME/repos```
We just need to fetch all repos and then iterate over them and calc languages, stars, forks, etc...

[2021-03-08 13:16] gmlewis commented on #1819
Sorry, but this repo is a client library and will not be providing a method to iterate over all repos. You can write tools that use this client library to do that, of course... but that is up to you.

Unless I'm missing something.

I'm on my phone at the moment but I'm pretty confident that we already support this endpoint: https://docs.github.com/en/rest/reference/repos#list-repositories-for-a-us

[2021-03-08 13:57] irevenko commented on #1819
Thank you for answering, i'm gonna build my own tool on top of this lib

[2021-03-08 13:57] #1819 closed

[2021-03-12 12:24] IamMaheshDere commented on #1812
@micimize Are you still working on it ?
I am also interested in contributing

[2021-03-12 13:59] micimize commented on #1812
@IamMaheshDere I'm planning on it but probably won't get to it for a while – if you want to take it go ahead

[2021-03-13 13:49] irevenko commented on #1819
if someone is interested in what i've built: https://github.com/irevenko/octostats

[2021-03-20 16:12] mahigadamsetty commented on #55
hi I am a beginner I want to contribute to the code base So can anyone guide me where should I start or is there any small pr's so I can contribute

[2021-03-20 23:46] gmlewis commented on #55
Hi and welcome, @mahigadamsetty !
Yes, please start by reading our contributing guide:
https://github.com/google/go-github/blob/master/CONTRIBUTING.md

[2021-03-22 15:21] Yiyiyimu opened #1825 "bug: Pagination link header seems not stable"
There are two problems I met:
1. when I get the `LastPage`, there are still `NextPage` after the `LastPage`
2. when I get the `LastPage` on page 1, there is nothing on the LastPage. And when I get to page 2, the new `LastPage` is one page before the original one and full of contents.

Although I think it would be more like the github API side problem, but it seems I could not get link header infor

[2021-03-22 15:55] Yiyiyimu opened #1826 "bug: ListCommits filter by author not give correct answer"
I get contributor list with `ListContributors` API and when I try to get commits of each contributor, I found some of them have zero commits.

For example, we could see `sarraz1` got [one commit](https://github.com/Kong/kong/commit/4e2e1d7a81748c41e5bd3b55cc4b6f4ae137b727) in `kong/kong`,
 but when do `ListCommits` filter by author gave me nothing back, which seems weird to me.

I believe this is

[2021-03-22 19:43] gmlewis commented on #1825
Looking at the code and the corresponding output, everything appears to be working correctly to me (except for GitHub... see my analysis below).

Let's break this down one issue at a time...

Since `NextPage: 20`  exceeds `LastPage: 19`, I believe this is your indication to stop at 19... however, it looks like I would be completely wrong... see below.

I'm not understanding this sentence. Accordin

[2021-03-22 19:47] gmlewis commented on #1826
@Yiyiyimu - Isn't this a duplicate of #1825 ?  If so, please close it to avoid confusion, or I will if I don't hear back from you.

[2021-03-23 02:04] Yiyiyimu commented on #1826
Hi @gmlewis actually no, it's just another problem I came across 🤣

[2021-03-23 02:11] Yiyiyimu commented on #1825
@gmlewis thank you for the reply and the method to reproduce it with bare Github API! Since we make sure it's the Github side problem, I'll ask Github for support

Just one thing to point out:

In your code, you never updated listCommitOpts.Page = 2 so you never asked for page 2.

Sorry I didn't make it clear. It's actually another problem I met that related to the link header. I'll find a case to

[2021-03-23 03:02] Yiyiyimu commented on #1825
@gmlewis thank you for the reply and the method to reproduce it with bare Github API! Since we make sure it's the Github side problem, I'll ask Github for support

Just one thing to point out:

In your code, you never updated listCommitOpts.Page = 2 so you never asked for page 2.

Sorry I didn't make it clear. It's actually another problem I met that related to the link header. I'll find a case to

[2021-03-23 03:24] sethaustinx commented on #1270
@gmlewis hi, I'd like to volunteer for this issue. I've made a PR.

[2021-03-23 14:12] gmlewis commented on #1826
OK, but just FYI, the "issues" here are only used to track issues relating to this repo, and we do not track GitHub issues, so I'll close this issue, but please feel free to update the comments after you hear back from GitHub tech support.

[2021-03-23 14:12] #1826 closed

[2021-03-23 14:13] gmlewis commented on #1825
OK, thanks, @Yiyiyimu .
As explained in #1826, we don't track GitHub issues here, so I'm closing this one.
Feel free to add a comment when you hear back from GitHub tech support.

[2021-03-23 14:13] #1825 closed

[2021-03-24 01:55] gmlewis commented on #1270
I'm now a little bit confused... I thought that @JarmoDi2 had requested this issue to be re-opened and wrote some detailed information as to why... I can only assume that the user deleted the comment, and the details with it, which is unfortunate.

[2021-03-24 05:40] migueleliasweb commented on #1800
Hi @gmlewis , you might not be fully aware that you wan embed interfaces into structs in a way to automatically adhere to them. This allows you to just implement the methods you are actually calling for each scenario.

I totally agree with @artheus-sbab . Just like many other important libs for services like GCP, AWS, K8s provide interfaces for all of their services, this one should provide one to

[2021-03-24 05:44] migueleliasweb commented on #1800
Related to: https://github.com/google/go-github/issues/1596

[2021-03-24 11:53] gmlewis commented on #1800
You are absolutely right, @migueleliasweb - I was not aware of the embedding aspect of interfaces...  I apologize... and thank you for enlightening me.

This should be a simple matter to create them when I have a moment.

If you wouldn't mind, maybe you can test out my PR once I write it and see if I got it right.

[2021-03-24 12:13] migueleliasweb commented on #1800
Absolutely, @gmlewis ! I also wouldn't mind creating a draft of what I was thinking and we could go from there.

👍👍👍

[2021-03-24 12:24] gmlewis commented on #1800
Oh, OK, sure... Go ahead @migueleliasweb .  It's yours.

[2021-03-24 12:29] gmlewis commented on #1800
Note, @migueleliasweb , that of most importance is that it solves the problem and is easy to maintain which means it needs to update automatically with `go generate ./...`.

[2021-03-24 12:33] migueleliasweb commented on #1800
It's night time for me rn. I'll give a crack on this tomorrow after work. I will keep you posted!

[2021-03-25 12:34] billjh opened #1829 "Release timeline for v34"
Hi thanks for this wonderful library, and I am looking forward to using the new self-hosted runner group API where the support has been merged in #1804.

Is there a release to include this feature any time soon? Since the latest release v33 dated back in Dec 2020.

[2021-03-25 12:37] gmlewis commented on #1829
Hi @billjh - as of #1280, all releases (major, minor, and patch) are on-demand.

We had one other request just this morning, so this afternoon I will be working on a new major release (v34). Hopefully it will be read to use tonight or early tomorrow morning.

[2021-03-25 21:35] gmlewis commented on #1800
@migueleliasweb - I've created my implementation in #1832.  Please take a look and see if this is OK with you.

[2021-03-25 21:48] willnorris commented on #1800
@migueleliasweb would you mind providing some examples of this, just to get a better idea of how others have handle this?

[2021-03-25 22:17] migueleliasweb commented on #1800
Sure can, @willnorris !

These AWS ones are fresh in my mind as I've been using them quite a bit recently:

- https://docs.aws.amazon.com/sdk-for-go/api/service/sqs/sqsiface/
- https://docs.aws.amazon.com/sdk-for-go/api/service/dynamodb/dynamodbiface/

[2021-03-25 22:25] gmlewis commented on #1829
Hi @billjh - https://github.com/google/go-github/releases/tag/v34.0.0 has been released.

[2021-03-25 22:25] #1829 closed

[2021-03-26 13:42] gmlewis opened #1834 "Add support for pull_request_target webhook event"
GitHub API documentation:
https://docs.github.com/en/actions/reference/events-that-trigger-workflows#pull_request_target

As mentioned in #1619, this webhook event needs to be supported.

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that o

[2021-03-30 21:53] Azuka opened #1835 "GitHub Action public key key ids are returned as numeric in some versions of GitHub Enterprise"
Tested using GitHub Enterprise  Server 2.22.6, I'm having a problem creating secrets with the terraform provider (https://github.com/integrations/terraform-provider-github/blob/master/github/data_source_github_actions_public_key.go#L39) because go is unable to unmarshal a numeric value into a string.

I'll be pushing a pull request shortly.

[2021-04-01 10:17] ganboonhong opened #1841 "Document links of event types are outdated"
Hi! I found that most of the document links start with `https://docs.github.com/en/free-pro-team@latest/rest/reference/activity/events/types` are outdated.

For instance:

https://github.com/google/go-github/blob/6c862e43d6aef202ab4db581fab445e50a7c9641/github/event_types.go#L611

[2021-04-01 10:57] #1841 closed

[2021-04-01 14:14] #1270 closed

[2021-04-01 14:16] #1835 closed

[2021-04-02 02:56] rspier commented on #1800
This bit is a little worrying.  In tests it's not a problem, but are there cases where this nil might leak into production code?

https://eli.thegreenplace.net/2020/embedding-in-go-part-3-interfaces-in-structs/ goes into a little more detail about the general approach.

[2021-04-02 08:21] srgustafson8 opened #1843 "Support Environments and Environment Secrets"
I was about to start work on adding Repository environments to the terraform provider when I realised the endpoints hadn't made it into this module yet. If I get a chance i'll give it a go (if no-one beats me to it)!

https://docs.github.com/en/rest/reference/repos#environments
https://docs.github.com/en/rest/reference/actions#create-or-update-an-environment-secret

[2021-04-02 10:37] migueleliasweb commented on #1800
I reckon the chances of the interface embedding "leaking" into production code is very very low as no one would have to deal with the interface directly in the first place. As of for tests, as you already mentioned in another comment, the benefits are that the final user can isolate their code to that of the github client by creating their own implementation/mocks of the required methods.

[2021-04-03 07:20] ganboonhong commented on #1834
Hi @gmlewis, I would like to work on this. 😄
Could you please assign it to me? Thanks.

[2021-04-03 09:32] gmlewis commented on #1834
Thank you, @ganboonhong !
It is yours. 😁

[2021-04-04 13:54] gmlewis opened #1846 "Follow recommended Go 1.13 error handling guidelines"
In a [recent code review](https://github.com/google/go-github/pull/1832#pullrequestreview-627503139), we felt that this repo should use the [recommended Go 1.13 error handling guidelines](https://blog.golang.org/go1.13-errors).

Specifically, we should never use `reflect.DeepEqual` for checking errors (even in tests) and would ideally use the "new" `error.Is` functionality provided in Go 1.13.

Ad

[2021-04-05 00:26] lindluni opened #1848 "Audit Log API Returns Non-Standard Link Header"
For tracking purposes, I've requested information on how they intend to handle this:

While working with the beta release of the `google/go-github` SDK I noted that pagination was not working for this API. After digging into the SDK I discovered the reason for this was that the audit-log API does not return traditional page parameters in the link array of the header. For example this query:

[code

[2021-04-05 00:28] lindluni opened #1849 "Audit Log API Returns Non-Standard Timestamp"
The GitHub Audit Log API return a Unix timestamp in milliseconds, which the current timestamp unmarshalJSON implementation in go-github does not take into account. An implementation needs to be added to account for the audit log having a millisecond-based timestamp.

[2021-04-05 00:29] gmlewis commented on #1848
Relates to: #1825.

[2021-04-05 00:30] gmlewis commented on #1848
As I mentioned in #1825, this appears to be a GitHub bug and GitHub tech support needs to be contacted and asked why this is happening.  Please report back here once you find out the answer, but in general, this repo does not track GitHub API bugs.

[2021-04-05 00:30] lindluni commented on #1848
I'll track the information in #1825

[2021-04-05 00:30] #1848 closed

[2021-04-05 00:31] gmlewis commented on #1825
Relates to: #1848.

[2021-04-05 00:35] gmlewis commented on #1849
Thank you, @lindluni !  This could be handled probably in several different ways... I might simply modify `github/timestamp.go` to check if the parsed timestamp is "sane", and if not, see if parsing it as if it were milliseconds since epoch returns a "sane" timestamp... but I'm open to other ideas.

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributi

[2021-04-05 10:26] Yiyiyimu commented on #1848
@lindluni FYI, I've submitted a ticket to Github Support on this problem, and I was told the bug is confirmed but there would be no ETA to fix it.

[2021-04-08 12:12] mbalayil commented on #1846
I would like to work on this issue.

[2021-04-08 12:42] gmlewis commented on #1846
Thank you, @mbalayil ! It is yours.

[2021-04-08 12:44] #1834 closed

[2021-04-08 12:45] #1843 closed

[2021-04-08 12:46] #1849 closed

[2021-04-08 16:00] willnorris opened #1851 "switch tests to use github.com/google/go-cmp package"
#1846 calls out not using `reflect.DeepEqual` for comparing error values, but in reality we shouldn't be using it all. https://pkg.go.dev/github.com/google/go-cmp/cmp is designed to be a much safer alternative, so we should use that for tests.

[2021-04-08 16:02] willnorris commented on #1851
and just to be clear, we should use go-cmp for all of our non-error values (of which there appear to be 600+ comparisons?!).  Switching to go1.13's `errors.Is` is the right change for errors.

[2021-04-08 16:28] photongupta commented on #1851
@willnorris Can I start working on this?

[2021-04-08 16:33] willnorris commented on #1851
have at it!  (With so many instances, you might want to do a global find and replace, or use `gofmt -r`)

[2021-04-08 19:30] jhlegarreta commented on #1834
@ganboonhong thanks for having addressed this :100:; @gmlewis thanks for the support :+1: !

[2021-04-09 13:32] mbalayil commented on #1846
There are 6 places in `github/github_test.go` where `reflect.DeepEqual` is used for error comparisons. Switching it to `errors.Is` in `TestDo_nilContext` is straightforward.

[code]
where `errNonNilContext`  is defined in `github/github.go`.

However for the rest of the 5 instances where `reflect.DeepEqual` is used, the errors being tested are not sentinel errors.
We can either implement `Is(error

[2021-04-09 14:26] gmlewis commented on #1846
My opinion is to implement `Is(target error) bool` for each of those errors (and maybe also for `AcceptedError`).

[2021-04-09 14:32] mbalayil commented on #1846
Can I use github.com/google/go-cmp for the implementation of the `Is` function ?

[2021-04-09 15:33] gmlewis commented on #1846
Do you have a link?  I'm not seeing any `Is` method on this page: https://pkg.go.dev/github.com/google/go-cmp/cmp

Shouldn't be as simple as this:

[code]

and then it would be used like this:

[code]

or am I missing something?

[2021-04-09 15:53] willnorris commented on #1846
Isn't `errors.Is` intended to be an equality check, not **just** a type check (with the added feature of checking the full error chain)?

If so, `AcceptedError.Is()` should probably consider the `raw` field as well... I worry about unintended consequences elsewhere if we ignore it.  If all we care about in this test is the type, then we should just do a type check directly in the test.

[2021-04-09 15:57] gmlewis commented on #1846
That makes sense.  Sounds good, @willnorris .

[2021-04-11 01:04] mbalayil commented on #1846
1.   Updated the README.md to reflect that it is no longer Go 1.9 that we require, but instead we need a minimum of Go 1.13.
2.  Replaced `reflect.DeepEqual` with `errors.Is` in `TestDo_nilContext`.
3.  Implemented `Is` function for `AcceptedError`.

Will update a PR soon with these partial fixes.
However,  for `ErrorResponse`, `RateLimitError` and `AbuseRateLimitError`, I am still looking for way

[2021-04-12 15:21] gmlewis commented on #1846
Hi @mbalayil - go ahead and provide a PR with your proposed solution (using `go-cmp`) so we can take a look at it, please.

[2021-04-13 10:50] mbalayil commented on #1846
_"It is intended to only be used in tests, as performance is not a goal and it may panic if it cannot compare the values. Its propensity towards panicking means that its unsuitable for production environments where a spurious panic may be fatal."_

In https://pkg.go.dev/github.com/google/go-cmp/cmp#pkg-overview, it is mentioned that this package is better not used in production code. So I have cre

[2021-04-13 11:59] gmlewis commented on #1846
That makes sense to me. Let's try this out unless we hear other feedback.

[2021-04-14 21:09] #1846 closed

[2021-04-17 05:38] sanposhiho opened #1855 "fix pkg.go.dev link"
Hello 👋
Thank you for developing such a great tool!

The link on GitHub is for v34, please fix it.(to v35) 🙏

![S__103194626](https://user-images.githubusercontent.com/44139130/115103129-80caa700-9f8a-11eb-9f42-add9f4e289bb.jpg)

https://pkg.go.dev/github.com/google/go-github/v34/github

[2021-04-17 11:37] gmlewis commented on #1855
Fixed. Thank you, @sanposhiho !

[2021-04-17 11:37] #1855 closed

[2021-04-22 10:43] sagar23sj commented on #1851
Hi @photongupta. Are You Still working on this issue.

[2021-04-24 10:08] tamalsaha commented on #1583
@you06 @juanri0s @gmlewis @nightlark

Today I tried to update the client version and hit this issue. I am confused what is happening here. The OP points to the `list commits` api behavior changing. But the pr #1584 changed the `list comments` not `list commits` client. From what I can see the Github's api docs, these fields are still supported in the `list comments` api. https://docs.github.com/en

[2021-04-24 11:20] gmlewis commented on #1583
Wow... It looks like I messed this one up big time... I apologize, @tamalsaha .

It looks like I need to revert #1584 and go back and change the correct struct.

Thank you for the report!

[2021-04-24 12:02] gmlewis commented on #1583
After further investigation, it turns out that this was an erroneous bug report.

Note that `ListCommits` does not have `Sort` or `Direction` fields and that there was no change to the GitHub API as was previously reported.

https://github.com/google/go-github/blob/master/github/repos_commits.go#L97-L116

Closing issue as incorrect and confusing.

[2021-04-24 12:02] #1583 closed

[2021-04-27 09:24] andygrunwald opened #1859 "Modules: Sub-Dependency is using v33, main project v35 - Type incompatibility + Module replacement"
Hey everyone,
thanks for maintaining this library, keeping everything in shape, and continuously release new versions.
I am facing the challenge of using the new versions:

### Sub-Dependency is using v33, main project v35 - Type incompatibility

Imagine Application A that is using
- this library in v35
- another library (e.g., https://github.com/palantir/go-githubapp) which is using v33

Independ

[2021-04-27 11:07] gmlewis commented on #1859
My knee-jerk reaction is to fork https://github.com/palantir/go-githubapp, update it to `v35`, and submit a PR (or use the forked version).

I'll leave this open as others might have better responses since my knee is not always correct.  :smile:

[2021-04-27 11:14] andygrunwald commented on #1859
Thanks, @gmlewis for the quick response. That is,  indeed, what I did anyway, see https://github.com/palantir/go-githubapp/pull/81
However, I suppose this is not the only case or I am not the only one facing this.

[2021-04-29 03:10] bluekeyes commented on #1859
My understanding is that this is a known consequence of how Go modules work (specifically, the fact that the major version appears in the import path and the import path is what determines if two modules are the same) and @gmlewis's suggestion to fork the library is the expected solution.

I believe the `replace` directive won't work in this case because Go considers `v33` and `v35` to be complete

[2021-04-29 07:29] andygrunwald commented on #1859
Good to know that I am not the only one facing these issues. Thanks, @bluekeyes!

Your comment about how modules are handled totally makes sense.

About the Preview-Headers in GitHub Enterprise: @gmlewis Is there a compatibility rule for go-github which Enterprise Versions this lib supports? Because It might be an easy fix to re-introduce these preview headers with a comment. They don't harm Githu

[2021-04-29 11:35] gmlewis commented on #1859
Historically, since there are so many versions of GitHub Enterprise "in the wild", this repo has strived to maintain compatibility with the latest public API, but you make an excellent point...

I have no problem re-introducing preview headers with a clear comment that they are there for GitHub Enterprise support as long as they do not interfere with public GitHub functionality.  Feel free to subm

[2021-04-29 12:16] andygrunwald commented on #1859
I don't run GitHub Enterprise On-Premise, hence I would like to redirect the Preview-Header-Reintroduction-PR to @bluekeyes.

[2021-04-29 21:33] willnorris commented on #1859
I don't have any objection as long as is doesn't impact other users.

I wonder how difficult it would be to capture and track which versions of GHE a given version of go-github supports?  That might end up being a fair amount of work, I honestly don't know.

[2021-05-05 12:59] lupine86 opened #1861 "Missing download token and SHA from /orgs/ORG/actions/runners/downloads"
When calling the latest API for `/orgs/ORG/actions/runners/downloads` the response includes a download token and SHA.  The response structure for `ListRunnerApplicationDownloads` should be updated to include these items:

[code]

[2021-05-05 13:45] #1861 closed

[2021-05-05 22:10] derekjobst commented on #1572
@suhaibmujahid did you end up finding a solution for reading maintain/triage permissions on teams?

[2021-05-06 02:37] derekjobst opened #1863 "Teams is missing "permissions" field"
It appears the [`Repositories.ListTeams`](https://github.com/google/go-github/blob/master/github/repos.go#L691)([Docs](https://docs.github.com/en/rest/reference/repos#list-repository-teams)) API call returns a field `permissions` on each team which includes the more detailed set of permissions with triage/maintain.

A similar field is currently populated on **User** when calling [`Repositories.Lis

[2021-05-06 17:08] gmlewis opened #1865 "Change all `*map...` to `map...` in JSON structs"
See #1866 for details.

This should _not_ be a breaking API change.

[2021-05-06 17:08] gmlewis opened #1866 "go generate broken when adding map[string]bool"
In #1864, I asked that a new parameter be changed from `*map[string]bool` to `map[string]bool` since `map` is already a reference-type and shouldn't need a pointer to it.

However, this change broke the `go generate ./...` tools and needs to be fixed.

Eventually, we should change all `*map...` to `map...` but that can be a separate issue: #1865.

[2021-05-06 17:12] #1863 closed

[2021-05-06 17:39] derekjobst commented on #1866
👍🏻

[2021-05-06 17:42] derekjobst commented on #1863
Thanks for all the help @gmlewis!

[2021-05-07 10:37] jloh opened #1868 "Star event is missing events"
Hi all. The Star event is missing the `sender`, `repository` and `organization` fields that come in the [webhook payload](https://docs.github.com/en/developers/webhooks-and-events/webhook-events-and-payloads#star) from GitHub:

https://github.com/google/go-github/blob/b3962edc2585434a67e90f9cecf31b5673ae1c6b/github/event_types.go#L909-L919

I'm happy to make the changes to this type myself if a PR

[2021-05-07 11:35] gmlewis commented on #1868
Thank you, @jloh !
It is yours. 😁

[2021-05-07 11:37] gmlewis commented on #1868
If this is your first PR, please read through our `CONTRIBUTING.md` document.

[2021-05-07 12:34] #1868 closed

[2021-05-07 13:33] #1866 closed

[2021-05-08 14:29] itsmatinx commented on #1812
Since it's been almost two months that nobody has sent any PR, I'll take care of the issue in the next few hours.

[2021-05-12 13:28] #1812 closed

[2021-05-12 13:29] #1865 closed

[2021-05-21 14:04] shmyer opened #1874 "ValidatePayload does not correctly parse mime type from Content-Type header"
When validating webhook payloads the `Content-Type` header is compared in a switch statement with either `application/json` or `application/x-www-form-urlencoded`

https://github.com/google/go-github/blob/0318e77f5741866b7870eb4c45daacd2d7d95af3/github/messages.go#L157-L206

This is not working for Content-Type headers which contain for example a charset, resulting in those webhooks being rejected

[2021-05-21 14:33] gmlewis commented on #1874
Thank you, @shmyer - would you like to work on this issue and provide a PR, or would you like me to open up this issue to all volunteer contributors to this repo?

[2021-05-21 15:53] shmyer commented on #1874
@gmlewis I don't have any experience with go, so please feel free to open up the issue :)

[2021-05-21 16:26] gmlewis commented on #1874
This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Note that this PR will require some very careful testing, as this is a change in behavior where we don't want to break any existing clients.

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Pl

[2021-05-26 18:49] #1851 closed

[2021-05-29 16:51] Cyb3r-Jak3 opened #1877 "Not able to get the labels for a repo"
There does not appear to functions to get all the labels for a repo. The only way to do it is through the issue service. Ideally, there should be a way to get the labels of a repo without needing to use `client.Issues.ListLabels()`.

I can work on a PR for this.

[2021-05-29 16:58] gmlewis commented on #1877
Are you perhaps looking for this:
https://github.com/google/go-github/blob/master/github/issues_labels.go#L28-L50
?

[2021-05-29 17:00] gmlewis commented on #1877
GitHub v3 API docs: https://docs.github.com/en/rest/reference/issues#list-labels-for-a-repository

[2021-05-29 17:06] Cyb3r-Jak3 commented on #1877
I am looking for something that is more like `client.Repositories.ListLabels` as I feel the way with the issue service is oddly named.

[2021-05-29 17:52] willnorris commented on #1877
Yeah, I could understand expecting this to be part of the RepositoriesService rather than the IssuesService.  We follow the way GitHub splits up endpoints in their documentation.  In this case, it's part of the Issues docs (the URL @gmlewis provided above), not part of the [Repos docs](https://docs.github.com/en/rest/reference/repos).  But it does list all issue labels for a repo, which I think is

[2021-05-29 18:34] Cyb3r-Jak3 commented on #1877
Gotcha. I made a quick PR that basically would translate the `RepoistoriesService` into the `IssuesService`.  Don't if I should just close it out and handle the conversation on the client side.

[2021-05-29 18:36] willnorris commented on #1877
Since this functionality already exists in the library (even if it's not where you might initially expect), I don't think it makes sense to duplicate these methods across different services.

So yes, if this is something you can handle client side, that sounds like the way to go.  (Though, I'm honestly curious why having these on the `RepositoriesService` rather than the `IssuesService` matters at

[2021-05-29 18:38] Cyb3r-Jak3 commented on #1877
Sounds good. Appreciate the quick responses!

[2021-05-29 18:38] #1877 closed

[2021-05-31 02:20] xun-guo-anzx opened #1879 "Github App Installation Token Permission list misalign with latest API document"
It looks like the supported properties in [`App.InstallationPermissions`](https://github.com/google/go-github/blob/master/github/apps.go#L60) struct used by [`App.CreateInstallationToken`](https://github.com/google/go-github/blob/master/github/apps.go#L264)[(Doc)](https://docs.github.com/en/rest/reference/apps#create-an-installation-access-token-for-an-app) is out of date.

Properties listed in AP

[2021-06-01 14:23] #1879 closed

[2021-06-02 15:13] fho opened #1881 "Support `auto_merge` field in PullRequest struct"
The [pulls API](https://docs.github.com/en/rest/reference/pulls#list-pull-requests) returns an `auto_merge` field which is currently not available in the `PullRequest` struct.

When auto-merge is enabled for a Pull-Request the returned `auto_merge` field looks like:
[code]

It would be great if go-github could parse this field and make it accessible.

[2021-06-02 15:25] gmlewis commented on #1881
Thank you, @fho !

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md](https://github.com/google/go-github/blob/master/CONTRIBUTING.md) guide to get started.

[2021-06-02 17:17] slayer321 commented on #1881
Hey @gmlewis, I am new to opensource and Golang, I will like to contribute to this project can you guide me on what needs to be done.
I have read the [CONTRIBUTING.md](https://github.com/google/go-github/blob/master/CONTRIBUTING.md) and I also signed the CLA.

[2021-06-02 17:35] gmlewis commented on #1881
Hi @slayer321 - welcome to Go and to open source and thank you for your interest in helping out this project!

Sure... when attacking any kind of problem, it is best to break it down into smaller, more easily understandable parts.

So for this specific task, I would basically do the following:

* Fork and clone this repo if you haven't done so already
* Make sure you can run tests locally before y

[2021-06-02 17:39] gmlewis commented on #1881
* Next, since @fho  was so kind as to provide us [a URL](https://docs.github.com/en/rest/reference/pulls#list-pull-requests) regarding the issue, I take a look at it.
* I see that the endpoint in question is: `GET /repos/{owner}/{repo}/pulls`
* I now try to find out where this is in our repo's code base by searching for `repos/%v/%v/pulls` and making sure it is a `GET` method

OK, I'm getting pull

[2021-06-02 19:50] gmlewis commented on #1881
* I then match that endpoint with the code, in this case: https://github.com/google/go-github/blob/master/github/pulls.go#L135-L145 and check that the URL for the method is pointing to the same endpoint.
* I see that `PullRequest` is the struct being returned, which is located here: https://github.com/google/go-github/blob/master/github/pulls.go#L21-L77
* I then search for the `"auto_merge"` field

[2021-06-03 06:47] fho commented on #1881
Wow, I did not expect such a fast response. :-)
@slayer321 thanks a lot for volunteering! Please let me know if you should change your plans to do the implementation, then I would pick it up instead
@gmlewis excellent step-by-step guide! :-)

[2021-06-03 14:44] slayer321 commented on #1881
Thank you very much @gmlewis  for explaining everything step by step. Most of the steps I understood and some I didn't but I am learning about it.

As you have assigned it to me I will start working on it and if I face any problems I will let you know 😃

[2021-06-05 04:32] nadenf opened #1882 "Actions Secrets do not support ListOptions"
Referring to this issue:
https://github.com/integrations/terraform-provider-github/issues/793

In the Terraform AWS Provider we make a call to:
[code]

But based on the [API](https://docs.github.com/en/rest/reference/actions) it will only return 30 results per page and we need to paginate over the rest to get the full list of repositories.

ListSelectedReposForOrgSecret however does not support pa

[2021-06-07 19:51] #1882 closed

[2021-06-08 11:19] campesel opened #1885 "Parse `reviewed` event object `state` property returned by Timeline Events API"
The Timeline Events API can return a `reviewed` event object when listing events for a pull request. One of the properties of [this object](https://docs.github.com/en/developers/webhooks-and-events/events/issue-event-types#reviewed) is `state`, which tells you the state of a submitted review.

The values `state` can have are:

- `commented`
- `changes_requested`
- `approved`

I'd like to add this

[2021-06-09 10:28] cbrgm opened #1887 "How do I check whether a ref has a status at all with CombinedStatus?"
Hello all,

I would like to check with the go-github client if any kind of CI pipeline has been set up in my repository or not.

For this I use a [CombinedStatus](https://github.com/google/go-github/blob/master/github/repos_statuses.go#L89) struct and check the [*State](https://github.com/google/go-github/blob/master/github/repos_statuses.go#L92) string attribute.

According to the [docs](
https:/

[2021-06-09 12:50] gmlewis commented on #1887
Hi @cbrgm ,

That's a great question for GitHub tech support.
This repo is a client library used to access the GitHub v3 API using Go but is maintained by volunteers and is not officially associated with the GitHub organization.

I'll leave this ticket open for a while in case someone wishes to comment, but your best bet is to contact GitHub tech support directly.

[2021-06-09 13:47] cbrgm commented on #1887
Thanks for your response @gmlewis !

[2021-06-12 11:46] jansvabik opened #1888 "Typo in README"
Hi, there's a typo in the README file (in word "parameters" which is currently "paramters"). Because that needs just a little change, I'll fix it and open new pull request.

[2021-06-12 12:33] gmlewis opened #1890 "Support Go 1.17 compiler toolchain"
In #1889, a simple typo fix in the `README.md` file demonstrated that the Go 1.17 compiler toolchain is now modifying the formatting of `// +build` lines.

We will need to fix this before we are able to continue merging PRs.

[2021-06-12 14:14] gmlewis commented on #1890
https://tip.golang.org/doc/go1.17
https://go.googlesource.com/proposal/+/master/design/draft-gobuild.md

[2021-06-12 23:40] willnorris commented on #1890
Should be as simple as adding the new syntax.  From https://tip.golang.org/doc/go1.17:

[2021-06-12 23:45] willnorris commented on #1890
Though I'm very surprised that actions/setup-go is included a beta release for the "1.x" go version.  I would expect that to be the latest stable release.  I seem to recall running into this before, so will look into that separately.

[2021-06-12 23:47] #1890 closed

[2021-06-13 00:08] willnorris commented on #1888
fixed in 3c23f3ced9aa9c82995de556ac442c9e52df2fef

[2021-06-13 00:08] #1888 closed

[2021-06-13 00:10] willnorris commented on #1890
fixed the "1.x" stable release issue in 77dd0eb64ad232f78c67fd86fe4b84be887bab5b

[2021-06-14 06:52] lukehinds opened #1893 "GetCommit does not retrieve binary files"
I need to retrieve a binary file from a commit `signature.bin`

[code]

Result:
`Files in commit :  public.pem`

Problem: `signature.bin` is missing which is part of commit 194c1ce030c6c8379f74757050fecde5ae20a635

With curl against the same commit (which retrieves the file)

[code]

[2021-06-14 06:54] lukehinds commented on #1893
closing as invalid (I was filtering by Patch) and know patch can be rendered for a blob.

[2021-06-14 06:54] #1893 closed

[2021-06-14 13:05] bharathk005 commented on #1881
@gmlewis Since there were no updates for around 11 days, I thought I will go ahead and give this a try. I have created a PR #1894 for the same. Please check and let me know.
Also, I feel it would be nice to have all the test files in a separate folder

[2021-06-14 13:39] gmlewis commented on #1881
Sorry, @bharathk005 , but let us give @slayer321 an opportunity to respond before taking over an issue that is already assigned.

Additionally, I looked at your PR and it has a number of problems, so I'm not going to officially review it until we hear back from @slayer321.

As for putting test files in a separate folder, that is not idiomatic Go and we will not accept that kind of change in this r

[2021-06-14 13:41] bharathk005 commented on #1881
@gmlewis
Thanks for the quick response. Sure let's wait for @slayer321

[2021-06-14 14:00] slayer321 commented on #1881
Sorry, @gmlewis  for replying so late. I was not able to work on this issue as my college exam started and I was busy with that but now as the exams are over I can start working on it.

[2021-06-15 15:39] asraa opened #1895 "Redirect on GetBranch"
It's common for master branch to be renamed to main branch.

I noticed that when trying to get a renamed master branch, I normally get a 301:
[code]

But using go-github, I get a 404 response. Is there any way to handle the 301 response and include the redirect URL in the response body when calling `GetBranch`?

[2021-06-15 16:05] asraa commented on #1895
I'm confused why it's a 404 and not at least returning the correct status plus the JSON decoding error...

am I missing something?

[2021-06-15 16:09] gmlewis commented on #1895
Thank you, @asraa !

We could do something similar to what we did for:

* [`DownloadArtifact`](https://github.com/google/go-github/blob/master/github/actions_artifacts.go#L107-L150)
* [`GetWorkflowJobLogs`](https://github.com/google/go-github/blob/master/github/actions_workflow_jobs.go#L105-L149)
* [`GetArchiveLink`](https://github.com/google/go-github/blob/master/github/repos_contents.go#L277-L32

[2021-06-15 16:11] gmlewis commented on #1895
This will have to be investigated.

[2021-06-15 19:56] n1lesh commented on #1895
@gmlewis I can work on it.

[2021-06-16 13:51] slayer321 commented on #1881
@gmlewis Before opening a PR I have some doubt that I think needs to be clear.
sorry if this seems naive as this is a first time I am working with golang and testing.

I added all the code that needs to be added but I am  bit confuse about the testing part.

As you have mentioned above that after adding the fields we need to test the code so I found a file name `fields.go` in `test/fields` dir and

[2021-06-16 14:10] gmlewis commented on #1881
Sorry, @slayer321, but it is really difficult to diagnose and troubleshoot problems without seeing the code and seeing the exact command that you are using to run the code.

Can you please either create the PR or a GitHub gist that shows what you are trying to do and how you are calling it?

Make sure to _NOT_ including any personal access tokens in your post, as you would have to immediately dele

[2021-06-16 14:42] gmlewis commented on #1881
Hi @slayer321 - #1896 LGTM... nice job!
It would be great if you could test it out on an actual repo (like the test case given above) to make sure it works.

It sounds like you were having challenges with that testing... feel free to post a GitHub gist (without your personal access token) and I'll see if I can figure out what is going wrong with it.

[2021-06-16 15:07] OhZedTee opened #1897 "Repository Vulnerability Alert Missing Fields"
Struct for repository_vulnerability_alert webhook event is missing fields that are mentioned in [docs](https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-payloads#repository_vulnerability_alert).

These fields need to be added to the struct, and tested.

The fields are:
alert.severity
alert.created_at
alert.ghsa_id
repository.watchers
repository.open_issues

The

[2021-06-16 16:06] gmlewis commented on #1897
Thank you, @OhZedTee !

What is the difference between `WatchersCount` and `Watchers` and between `OpenIssuesCount` and `OpenIssues` ?

I couldn't get your "docs" URL link above to work.

[2021-06-16 16:10] OhZedTee commented on #1897
I've updated the link, thank you. I don't see a clear difference, in my testing they seem to have the same value but I did notice the Github API add these new fields. Not sure if they plan to deprecate one or the other, but since I was checking for missing fields in the Repository Vulnerability Alert, I noticed this as well.

[2021-06-16 16:12] gmlewis commented on #1897
Weird!  If you feel like it, it might be nice to contact GitHub tech support and ask them what the differences are between these fields... If you do that, feel free to report back here as to the differences.  Thank you!

[2021-06-16 16:13] OhZedTee commented on #1897
Good idea, I'll get in touch.

[2021-06-16 17:36] OhZedTee commented on #1897
Hi @gmlewis,

I've received a response from GitHub. This is what they had to say verbatim:

[code]

So maybe it's best to add the deprecated field because it's currently there to stay, however, the new field is open_issues_count.

[2021-06-16 17:50] OhZedTee commented on #1897
Sure, I can do that once this PR and Issue are closed. Would you like a separate associated Issue with that PR? Or is the PR enough?

[2021-06-16 17:51] gmlewis commented on #1881
As I commented on the gist, you can ignore the existing integration test.

Please attempt to write your own stand-alone test to make sure that the new code works.  You don't need to check it in to the repo, but just make sure that it does what you expect.

Thank you, @slayer321 !

[2021-06-16 17:52] gmlewis commented on #1897
Just a new PR would be fantastic... you can refer to this issue (probably closed by then) in the description as a reference.

Thank you, @OhZedTee !

[2021-06-16 17:53] gmlewis commented on #1897
Alternatively, you could add the changes to #1898... I'm fine either way... your call.

[2021-06-16 18:39] OhZedTee commented on #1897
I'll add it as a new PR for visibility (Issue #1005 / PR #1025 was how I found that the fields were missing in the first place).

[2021-06-17 01:56] caarlos0 commented on #1050
this can be closed I think...

[2021-06-17 12:43] #1050 closed

[2021-06-17 17:02] sa-spag opened #1899 "Client.RateLimits shouldn't return RateLimitError"
👋 Hello,

I noticed that `Client.RateLimits` can return a `RateLimitError`, as per:
https://github.com/google/go-github/blob/75644ea48541a9c99ad73bf86e50bae667b10a20/github/github.go#L648-L652

According to [GitHub REST API documentation](https://docs.github.com/en/rest/reference/rate-limit), rate limit status can be checked "at any time using the Rate Limit API", i.e. even when the remaining numb

[2021-06-17 17:47] gmlewis commented on #1899
May I please ask what the actual problem is that you are trying to solve?

In other words, why is it a problem that `Client.RateLimits()`  returns a `RateLimitError` (which, by the way, should have all the information you need to avoid causing the next rate limit error... specifically the `Reset` timestamp)?

[2021-06-18 07:32] sa-spag commented on #1899
`RateLimitError` only exposes the rate limit status for the request's category, i.e. `core` for `GET /rate_limits`, but there are a bunch of other "resources" for which rate limit is independent and for which I would like to request an up-to-date status.

[2021-06-18 11:02] gmlewis commented on #1899
I suppose a third option is to modify `Client.RateLimits()` to always perform the call regardless of saved history by bypassing the existing check.

[2021-06-21 10:33] sagar23sj commented on #55
Hi @gmlewis, I am planning to contribute more to this issue. Is that ok if I raise multiple PRs for this issue consisting of small fixes?
Since small fixes will not block me for days and I can raise them frequently.

[2021-06-21 11:48] gmlewis commented on #55
Absolutely, @sagar23sj ! That's totally fine.

[2021-06-21 11:51] sagar23sj commented on #55
Thanks @gmlewis.

[2021-06-21 15:04] fho commented on #1881
Thanks a lot for the implementation @slayer321.
I started to make use of the change  and realized that the PullRequestEvent struct is also missing the AutoMerge field.
The Automerge structure is exactly the same in PullRequestEevent. I checked a github webhook event that I received.

I don't know how you want to handle it.
Should I create a separate new github issue for that?
Or could we include i

[2021-06-21 15:41] gmlewis commented on #1881
Since #1896 is not yet merged, I'm fine if @slayer321 would like to add it to that PR.

[2021-06-21 18:17] slayer321 commented on #1881
Hi @gmlewis, yeah I will like to add changes that need to be done.
Before adding anything just wanted to confirm that I interpreted things right whatever was said by @fho

The Automerge structure is exactly the same in PullRequestEevent. I checked a Github webhook event that I received.

I found the `PullRequestEvent` struct in `event_types.go` file in github dir
so the changes that need to be don

[2021-06-21 18:47] gmlewis commented on #1881
That sounds right to me.  @fho - can you please confirm?

[2021-06-22 07:52] fho commented on #1881
@slayer321
Yes, that is correct. That is all.

[2021-06-22 09:16] sagar23sj commented on #55
Hi @gmlewis, I hope me raising a lot of PRs for this particular issue won't bother you much.
Whenever I get some time I pick a particular file and try to write test cases for JSON resources and raise PR.

Thanks

[2021-06-22 11:38] gmlewis commented on #55
No bother at all, @sagar23sj !
Thank you for your contributions, and keep up the great work!

[2021-06-22 12:00] fho commented on #1881
Sorry, for the confusion. Please forget what I said. :-)

The `Automerge` field **must not** be added to the `PullRequest` struct.
In the `PullRequestEvent`  the `auto_merge` field is nested in the `PullRequest` struct.

[2021-06-22 13:04] sa-spag commented on #1899
Thanks for your feedback. Exactly, and I think we have at least 2 ways of implementing such bypass mechanism (the 2 options I previously listed). Do not hesitate to provide any guidance to take a decision.

[2021-06-22 13:08] gmlewis commented on #1899
My current thought is to not add to the complexity of `Client.checkRateLimitBeforeDo()` but instead modify only `Client.RateLimits()` as necessary to implement this change.

I'm fine for you to go ahead and create a PR if you are interested, @sa-spag, and let's see what it looks like.

[2021-06-22 13:33] slayer321 commented on #1881
oh! thank you for letting us know.  :)
so I will not open another PR.

[2021-06-25 13:19] sagar23sj commented on #1874
Hi @gmlewis. I would like to work on this issue.

Just wanted to clarify one thing before starting. Do we just need to handle the parameters if they are present in content-type?
For example, in the case of  Content-Type: application/json; charset=UTF-8, I just need to check that the content type has valid parameters with mime type??

I hope my question is clear.
Thanks

[2021-06-25 14:09] gmlewis commented on #1874
Yes, that's correct. We had never seen the `charset` being passed back from GitHub before, and maybe this is a recent change.
In your PR you need to just make sure that if `charset` is included, that the existing checks still are handled correctly.
In other words, the presence of `; charset=...` should not break anything.

I took a look at this: https://developer.mozilla.org/en-US/docs/Web/HTTP/He

[2021-06-25 22:50] gauntface opened #1920 "checkRateLimitBeforeDo prevents roundtripper from waiting"
I've been trying to find a way to write a generic RoundTripper that would examine GitHub headers and/or the go-github errors to detect when quota has run out and wait for the quota reset.

Because `checkRateLimitBeforeDo` get's called and returns early, there isn't a way for the RoundTripper to handle waiting / retries.

The benefit of doing this in the RoundTripper is that it'll apply to all API

[2021-06-26 01:28] gmlewis commented on #1920
What if we were to add a new `WithContext` that would cause the call to wait for the next `Reset` time?

[2021-06-26 15:00] sagar23sj commented on #1874
Hi @gmlewis . I am a little confused with how to test for a success case, i.e case in which content type is application/json; charset=UTF-8. Since there are many success test cases already present, I am not sure how should I go about writing test cases for a success scenario.

Should I update those test cases and add parameters in content-type string or should I replicate the existing test cases a

[2021-07-02 21:23] Xorima opened #1931 "Package link on repository is wrong"
Hi,

Package link currently points to: https://pkg.go.dev/github.com/google/go-github/v35/github
This should be pointing to https://pkg.go.dev/github.com/google/go-github/v36/github

[2021-07-02 21:24] willnorris commented on #1931
fixed.

[2021-07-02 21:24] #1931 closed

[2021-07-05 11:47] leodamasceno opened #1932 "Pull request comment is not shown until page is reloaded"
Hello,
I am trying to add a comment to a pull-request using the following code:
[code]
The comment is added to the pull-request, but I can only see it if I reload/refresh the page.

Is there something I can do to avoid the page refresh?

Thanks

[2021-07-05 11:54] gmlewis commented on #1932
This repo is a client library for the [GitHub v3 REST API](https://docs.github.com/en/rest) and has nothing to do with the GitHub web-based user interface.

So no, there is nothing this repo can provide that will help you prevent a browser page refresh.

[2021-07-05 11:54] #1932 closed

[2021-07-06 02:22] mumoshu opened #1933 "Add support for Webhook Deliveries API"
Hey! Thanks a lot for maintaining this awesome project.

FYI, GitHub has recently released the GA version of ["Webhook Deliveries API"](https://github.blog/changelog/2021-06-30-webhook-deliveries-api/).

I'm going to submit a PR to add the initial support for that, containing two API methods that I'm gonna need in my own project.

It would be great if you could review and include it in this awesom

[2021-07-06 10:06] g4s8 opened #1935 "Pagination util (feature request)"
Hi. I frequently use this library in my projects. When working with list operations, I'm writing a lot of similar code, like this:
[code]

In one project, I created pagination util to refactor such code into:
[code]
The source code is available here: https://github.com/g4s8/gitstrap/blob/master/internal/gitstrap/pagination.go

This util automatically update `ListOptions` next page from accumulated

[2021-07-06 14:55] gmlewis commented on #1935
Hi @g4s8 - thanks for the recommendation.

Normally, we let users of this repo write their own helper utility functions since they can range quite a bit in what they accomplish.

As a maintainer of the repo, I get concerned when we add things like this and then users want to tweak the utility functions to do things that they find useful... and the maintenance burden and surface area of supported c

[2021-07-06 19:53] brunomiranda-hotmart opened #1936 "Is it possible to use RSA/SSH with go-github?"
I didn't manage to find anywhere in the docs how to do so.
If anyone could point me in the right direction, I would appreciate it very much.

[2021-07-06 19:57] ohpintu90 commented on #1936
On Wed, 7 Jul, 2021 at 1:53 AM, brunomiranda-hotmart <
***@***.***> wrote:

--
***@***.***

[2021-07-06 20:01] gmlewis commented on #1936
Sorry, what is it, exactly, that you are trying to do?

go-github is a Go client library to access the GitHub v3 REST API from your Go programs, and typically uses OAuth2 to connect to the GitHub server.

[2021-07-06 20:09] brunomiranda-hotmart commented on #1936
I'm trying to list(and after download) releases of one of my projects.

right now I can do something like this:
[code]
To list the releases of repostory `repository`.
However I would like to use my RSA instead of a github token to do so.

[2021-07-06 20:15] gmlewis commented on #1936
To use the GitHub v3 REST API, you somehow need to authenticate with GitHub so it knows who you are.  Currently, we have OAuth2 (which you are using above), and basic username/password: https://github.com/google/go-github/blob/master/example/basicauth/main.go

I'm not aware of any other means of authenticating.

Check out https://docs.github.com/en/rest/overview/other-authentication-methods for mo

[2021-07-07 11:51] emiscode commented on #55
Hi, here is my contribution:

[Add test for JSON marshalling for Teams #1941](https://github.com/google/go-github/pull/1941)

[2021-07-07 12:35] #1936 closed

[2021-07-07 13:43] m19c opened #1944 "Export parts of `github/messages.go`"
In order to use `github.com/google/go-github` in projects using a different http library (such as `fasthttp`), it would be great to export several parts of the `messages.go` file.

currently only `ValidatePayload`, `WebHookType`, `DeliveryID` and `ParseWebHook` are exposed.

Suggestion:

- Export `signatureHeader`, `eventTypeHeader` and `deliveryIDHeader` constant.
- Introduce a new function calle

[2021-07-07 14:24] gmlewis commented on #1944
That sounds like a useful and valuable addition, @m19c.
Bonus points if you can implement it without breaking the API.  :joy:

[2021-07-07 15:24] g4s8 opened #1945 "Missed required_conversation_resolution field in branch protection rules"
GitHub added a new option for branch protection rules: [Require conversation resolution before merging](https://docs.github.com/en/github/administering-a-repository/defining-the-mergeability-of-pull-requests/about-protected-branches#require-conversation-resolution-before-merging), v3 API also includes this new field as `required_conversation_resolution` (see example below). But current version (v3

[2021-07-07 19:07] m19c commented on #1944
That's the goal. I'll create a pull-request in the next few days.

[2021-07-08 16:56] sagar23sj commented on #55
To avoid repetition of test-cases, I would like to inform that I have covered all the files  starting from *github/actions.go*till *github/enterprise_audit_log.go* and most of the JSON resources from *github/event_types.go* file.

[2021-07-08 18:17] simongottschlag commented on #1881
https://github.com/google/go-github/pull/1896 is now merged 😁🎉 Thank you @slayer321!

@gmlewis when can a release be expected? 😊👍

[2021-07-08 19:38] gmlewis commented on #1881
Yes indeed, @simongottschlag , but I've got a lot more merges to perform first.  Hopefully by later tonight you will have a new release.

[2021-07-08 19:43] #1895 closed

[2021-07-08 20:03] #1897 closed

[2021-07-08 20:13] #1899 closed

[2021-07-08 20:28] #1874 closed

[2021-07-08 20:48] #1945 closed

[2021-07-08 22:32] simongottschlag commented on #1881
@gmlewis that's awesome! Sorry if it read like "I expect a release now!" - it was more a question like "How is the usual release cadence? I'm in no hurry, but really looking forward to it!".

Thank you for the hard work! 🥇

[2021-07-09 01:11] gmlewis commented on #1881
Fixed by #1896.

[2021-07-09 01:11] #1881 closed

[2021-07-09 01:17] gmlewis commented on #1881
No problem at all, @simongottschlag!  I was just trying to give an accurate estimate.  :smile:

This should now be available in Release v37.0.0: https://github.com/google/go-github/releases/tag/v37.0.0

[2021-07-12 07:14] sagar23sj commented on #55
Update: All JSON Resources Covered starting from github/actions.go till github/examples_test.go

[2021-07-12 14:29] sagar23sj commented on #55
Update: All JSON Resources Covered starting from **github/actions.go** till **github/messages.go**

[2021-07-13 17:05] #1933 closed

[2021-07-13 17:08] #1944 closed

[2021-07-13 19:31] jstigter-beep opened #1993 "Subscriber Count Always 0"
I am fetching the repositories belonging to an organization, and I have noticed that the subscribers count is always 0. I have done several tests where I will watch and unwatch a repository and then checking a call to the github API using v37 of go-github and then directly call the API. The direct call was always accurate, matching the actual watch count, and go-github always returned 0. I investi

[2021-07-13 19:42] gmlewis commented on #1993
Note that when making comparisons between the GitHub API direct calls and using this library, you need to use the exact same endpoint to determine if this library is working correctly.

Therefore, the call you should be using for comparison is this one: https://github.com/google/go-github/blob/master/github/repos.go#L416-L419

which is a `GET /repos/jstigter-test/cool`.

Please try this instead of

[2021-07-13 19:46] gmlewis commented on #1993
The reason I say this is because the GitHub API is known to not always populate all fields in all possible API calls that return a particular struct (such as `Repository`).  Whenever there is doubt, you should read the GitHub API docs directly (which we add links to from this repo).

In this library, we reuse structs for multiple purposes instead of attempting to make exact matches for each possib

[2021-07-13 20:02] jstigter-beep commented on #1993
I switched to a singular API call to retrieve the repository and the `SubscribersCount` was correct. Thank you for explanation, and I will read through there in the future.

Thanks!

[2021-07-13 20:02] #1993 closed

[2021-07-14 08:09] FloThinksPi opened #1995 "Github Actions SetEnabledRepos functionality is missing"
Currently we can list enabled repos on an org for github actions:
https://github.com/google/go-github/blob/b1b5e4e9d0ebffbb88e5c19958c87462fb94f169/github/actions_runners.go#L243-L265

However i dont see the Put and Delete method implemented yet for https://docs.github.com/en/rest/reference/actions#set-selected-repositories-enabled-for-github-actions-in-an-organization

[2021-07-14 14:09] FloThinksPi opened #1996 "We do not set allows_public_repositories for actions runner groups"
We currently cannot set the `allows_public_repositories` variable wich is an entity of a runner group and controls weither public repos can use that group. If it is set to false, public repos, even if they are specifically in the selected repos list, will not be able to use the runners from this group.

The docs on this are:
https://docs.github.com/en/rest/reference/actions#create-a-self-hosted-ru

[2021-07-14 16:18] gmlewis commented on #1996
Is this not what you want?  https://github.com/google/go-github/blob/master/github/actions_runner_groups.go#L22

[2021-07-14 16:22] gmlewis commented on #1996
OK, I see.  Thank you, @FloThinksPi .  Feel free to submit a PR.

[2021-07-15 13:53] serain opened #1999 "Repository organization is nil"
I'm trying to list a user's repos and get the organizations they belong to using [go-github](https://github.com/google/go-github).

These repositories belong to an organization, but the organization values seem to be `nil`.

Code:

[code]

Output:

[code]

I know for a fact that these repos are part of an organization the user belongs to and I expected `repo.Organization` to be non-nil.

[2021-07-15 14:21] gmlewis commented on #1999
The best way to debug issues like this is to call the GitHub v3 API directly using `curl` and check the responses that you are getting. If there is then a discrepancy between what it returns and what this client library returns, we can see exactly where the problem lies.

[2021-07-15 16:59] #1996 closed

[2021-07-15 19:30] #1995 closed

[2021-07-17 19:01] sagar23sj commented on #55
Update: All JSON Resources Covered starting from **github/actions.go** till **github/repos_deployments.go**

[2021-07-20 18:02] jeffmendoza commented on #1859
I'm running into this problem as well. A solution would be to export the http.Client in github.Client. This would allow easy conversions of clients whenever you have just the client, keeping whatever auth is attached to the http.Client. Then you could do something like:
[code]

[2021-07-20 18:55] gmlewis commented on #1859
@jeffmendoza - could you please test out #2015 and see if it actually solves your problem?

[2021-07-21 07:07] sagar23sj commented on #1800
Hi @migueleliasweb, could you please link the part of the code (client interface) from K8s or AWS, that you talked about in the above conversation. I am new to golang and trying to understand the above conversation about interfaces and testing which btw is very enlightening. Maybe looking at the code can help me understand better.
Thanks 😃

[2021-07-21 07:38] migueleliasweb commented on #1800
Hi @sagar23sj , have a look at these ones.

[2021-07-21 07:58] sagar23sj commented on #1800
Thanks @migueleliasweb , somehow I missed these from above 😅

[2021-07-22 18:12] gmlewis commented on #1859
@andygrunwald - hmmm... looking more closely at the docs for https://pkg.go.dev/github.com/palantir/go-githubapp@v0.7.0/githubapp
I'm not so sure that #2016 actually solved that problem.

Do you agree that this ticket should be re-opened?

[2021-07-22 18:19] jeffmendoza commented on #1859
Yeah, in my situation I was doing work with a client, then needed to call a dependency that takes a client as well. Easy client version conversion solves that. It doesn't solve any conversion of data types.

[2021-07-22 18:22] andygrunwald commented on #1859
@gmlewis

Yes, I do agree.
I am personally not even sure how this can be fixed or if there is a solution at all (after re-reading @bluekeyes comment from above again).

[2021-07-22 18:29] bluekeyes commented on #1859
The idea is that as long as the thing creating GitHub clients uses a version of `go-github` with the fix from #2016, you can then transform those clients into any other newer or older version. I'll need to tag a release of `palantir/go-githubapp` that uses `go-github/v37` (and we'll need a release here), but then going forward, you'll have more options to solve this problem.

In your application u

[2021-07-26 22:58] mitalipaygude opened #2022 "Authorizations Service does not get permission scopes for Personal access token."
I was trying to use the `go-github` to determine the permissions a Github personal access token has, but the only functionality provided by Authorizations service is to check if an Oauth token is valid.

Code: https://github.com/google/go-github/blob/master/github/authorizations.go#L147

Is there any functionality to check the validity and permissions for the personal access token in this library?

[2021-07-26 23:02] gmlewis commented on #2022
No. The GitHub v3 API does not provide and endpoints that identify the permissions for a personal access token.
Therefore, this client library that makes it easy to call GitHub v3 API endpoint has no way of doing this either.

If you want this functionality, you might consider contacting GitHub technical support and asking for a feature request.

[2021-07-26 23:02] #2022 closed

[2021-07-27 12:39] gmlewis commented on #1800
@migueleliasweb created a new repo to help with mock testing: https://github.com/migueleliasweb/go-github-mock
Thank you, @migueleliasweb !
Closing issue.

[2021-07-27 12:39] #1800 closed

[2021-07-27 18:31] RafaeLeal opened #2024 "Fake Client (feature request)"
Hi!
My team has been using this client a lot to integrate our new CICD tool (Tekton) with Github. Thanks, btw! It mostly "just works" :)
To test these integrations, we implemented a simple fake client. I'd like to ask if a PR adding a fake client would be welcome.
This would require us to add interfaces for the client and its services..

Just a quick view of how that would look like:

[code]

Then

[2021-07-27 18:37] gmlewis commented on #2024
Thank you, @RafaeLeal - this sounds cool!  Before we proceed any further, could you please take a moment and read through #1800 since I think that is relevant.

We might recommend creating your `fakegithub` client in a separate repo (under your own corporate or personal GitHub username).  Please let us know what you think after reading that discussion.  (Sorry, but the discussion itself got branch

[2021-07-27 18:38] gmlewis commented on #2024
Thank you, @RafaeLeal - this sounds cool!  Before we proceed any further, could you please take a moment and read through #1800 since I think that is relevant.

We might recommend creating your `fakegithub` client in a separate repo (under your own corporate or personal GitHub username).  Please let us know what you think after reading that discussion.  (Sorry, but the discussion itself got branch

[2021-07-27 20:17] RafaeLeal commented on #2024
Thanks for the link, I read some of the discussion..

In my case, I don't need to embed interfaces into the struct, but I'd benefit from having interfaces for the client.
Although I could (and we already did actually) add interfaces on our side, I can not implement methods for the GitHub client.
So if we want to have a GitHub client interface as I showed I need to write a wrapper for the GitHub cl

[2021-07-31 17:29] housingdreams opened #2026 "Missing organization repositories"
I am trying to look at an organization with dozens of private and public repositories. However, using this API I only see 8 returned (mixed: a few public and private). [go docs link](https://pkg.go.dev/github.com/google/go-github/v37/github#RepositoriesService.ListByOrg) says pagination should return 30 by default and I'm using the [exact demo code](https://pkg.go.dev/github.com/google/go-github/g

[2021-07-31 17:39] gmlewis commented on #2026
Please make sure that the account you used to make the personal access token has access to the private repos and then it should work just fine.

[2021-07-31 17:41] housingdreams commented on #2026
Yes, I can see all of them listed in the interface (https://github.com/NAME/) when using this account which the personal access token has been created for. I can only see a few of them when using the api token though.

[2021-07-31 18:12] housingdreams commented on #2026
My mistake, the repos returned were all public. Playing with the personal access token permissions settings I was able to finally show all the private repositories.

[2021-07-31 18:12] #2026 closed

[2021-08-02 00:55] migueleliasweb commented on #2024
Hi @RafaeLeal , after lots of conversations and feedback about this topic from the folks from `go-github`, I've created https://github.com/migueleliasweb/go-github-mock. I had a similar issue as I needed to unittest my code that uses the go-github SDK. Have a look at that repo. Cheers!

https://github.com/google/go-github#testing-code-that-uses-go-github

[2021-08-02 12:45] Giles-Billenness opened #2027 "Issue with creating PR review comments"
Hi, I am trying to make a prototype that adds a code review comment to a pr.

[code]

When I try running this more than once I get this back (I have to manually remove the previous comment added to run it successfully again):
`PullRequests.CreateReview returned error: : POST https://api.github.com/repos/Giles-Billenness/testpr1/pulls/1/reviews: 422 Unprocessable Entity [{Resource: Field: Code: Mes

[2021-08-02 12:49] Giles-Billenness commented on #2027
Is there a more simple way to comment on code on a PR? In the case, you want to run it multiple times or have it remove/update the previous one?

[2021-08-02 13:03] gmlewis commented on #2027
Did you try `UpdateReview` and `DeleteReview`?

https://pkg.go.dev/github.com/google/go-github/v37/github#PullRequestsService.UpdateReview

[2021-08-02 13:07] Giles-Billenness commented on #2027
I will now thank you. It just seemed strange that you cant create multiple reviews, and the response isn't particularly informative (it took me a while to find this was the issue).

[2021-08-02 13:49] Giles-Billenness commented on #2027
by DeleteReview did you mean DeletePendingReview?
also im trying to use updateReview now,
`client.PullRequests.UpdateReview undefined (type *github.PullRequestsService has no field or method UpdateReview)`

[2021-08-02 14:18] gmlewis commented on #2027
As written in our [README.md](https://github.com/google/go-github/blob/master/README.md#installation), you will want to type this:

[code]

for the latest release, or

[code]

if you want the top-of-trunk latest.

[2021-08-02 14:25] Giles-Billenness commented on #2027
AH! Now I'm getting some better error responses

[2021-08-02 15:29] Giles-Billenness commented on #2027
It's probably a limitation but GitHub enterprise-server@2.21 doesn't seem to support deleting pending review comments

[2021-08-04 12:03] rpelliard opened #2028 "Slug missing from manifest handshake response"
The [`AppConfig` struct](https://github.com/google/go-github/blob/master/github/apps_manifest.go#L14-L28), used to represent the result of a manifest handshake, seems to be missing the `slug` field which is [returned by GitHub](https://docs.github.com/en/rest/reference/apps#create-a-github-app-from-a-manifest).
Is that on purpose, or should it be added ?

Happy to submit a PR to add it, let me kno

[2021-08-04 12:06] gmlewis commented on #2028
Thank you, @rpelliard .
It is not intentional. Please feel free to submit a PR.

Please check out our CONTRIBUTING.md for for helpful information.

[2021-08-04 14:17] rpelliard commented on #2028
@gmlewis Here it is: https://github.com/google/go-github/pull/2029

[2021-08-04 15:05] #2027 closed

[2021-08-05 08:29] hazcod opened #2030 "Feature: implement SCIM"
https://docs.github.com/en/rest/reference/scim

Would be nice to be able to query for member usernames based on their email address.

[2021-08-05 12:20] gmlewis commented on #2030
Thank you, @hazcod !

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md](https://github.com/google/go-github/blob/master/CONTRIBUTING.md) guide to get start

[2021-08-05 12:25] gmlewis commented on #2030
Since this is a new service in its own area of documentation on the GitHub dev website, I think this should have is own new `SCIMService` and its own new `scim_*.go` set of files.

[2021-08-06 01:23] krishnaindani commented on #2030
Is this issue up for grab/unassigned, I would like to check if I can contribute to it?

[2021-08-06 12:49] gmlewis commented on #2030
Thank you, @krishnaindani !
It is yours.

[2021-08-06 14:41] gmlewis commented on #2024
Closing feature request. Please let us know (or submit a PR that updates README.md) if you decide to create another external helper repo that we can point to, @RafaeLeal .

[2021-08-06 14:41] #2024 closed

[2021-08-06 14:42] gmlewis commented on #1999
Closing issue. Feel free to comment or re-open if you find a discrepancy.

[2021-08-06 14:42] #1999 closed

[2021-08-06 14:44] gmlewis commented on #1935
Closing for lack of interest/activity. Feel free to comment or reopen if there indeed is more interest.

[2021-08-06 14:44] #1935 closed

[2021-08-06 14:46] gmlewis commented on #1920
Friendly ping, @gauntface - will close in a couple weeks if there is no further interest/activity.

[2021-08-06 14:47] gmlewis commented on #1887
Closing inactive issue.  Feel free to comment if you hear back from GitHub Tech Support.

[2021-08-06 14:47] #1887 closed

[2021-08-06 14:48] gmlewis commented on #1885
Fixed by #1886. Closing.

[2021-08-06 14:48] #1885 closed

[2021-08-06 14:52] gmlewis commented on #1793
@brondum - have you heard back from GitHub Tech Support on this issue?  If so, please share your findings here.

Otherwise, this issue will be closed in a couple weeks if there is no further interest/activity.

[2021-08-06 14:55] gmlewis commented on #1792
Closing issue in deference to external helper repo implementation.

[2021-08-06 14:55] #1792 closed

[2021-08-06 14:56] gmlewis commented on #1673
Closing inactive issue for lack of activity/interest.

[2021-08-06 14:56] #1673 closed

[2021-08-06 14:58] gmlewis commented on #1620
Closing inactive issue for lack of activity/interest.  Feel free to reopen.

[2021-08-06 14:58] #1620 closed

[2021-08-06 14:58] gmlewis commented on #1593
Closing inactive issue for lack of activity/interest.  Feel free to reopen.

[2021-08-06 14:58] #1593 closed

[2021-08-06 15:00] gmlewis commented on #1588
Closing inactive issue for lack of activity/interest.  Feel free to reopen.

[2021-08-06 15:00] #1588 closed

[2021-08-06 15:01] gmlewis commented on #1567
Closing inactive issue for lack of activity/interest.  Feel free to reopen.

[2021-08-06 15:01] #1567 closed

[2021-08-06 15:02] gmlewis commented on #1524
Closing resolved issue.

[2021-08-06 15:02] #1524 closed

[2021-08-06 15:02] gmlewis commented on #1511
Closing inactive issue for lack of activity/interest.  Feel free to reopen.

[2021-08-06 15:02] #1511 closed

[2021-08-06 15:03] gmlewis commented on #1465
Closing inactive issue for lack of activity/interest.  Feel free to reopen.

[2021-08-06 15:03] #1465 closed

[2021-08-06 15:04] gmlewis commented on #1463
Closing inactive issue for lack of activity/interest.  Feel free to reopen.

[2021-08-06 15:04] #1463 closed

[2021-08-06 15:05] gmlewis commented on #1441
Closing inactive issue for lack of activity/interest.  Feel free to reopen.

[2021-08-06 15:05] #1441 closed

[2021-08-06 15:08] gmlewis commented on #1435
Closing inactive issue for lack of activity/interest.  Feel free to reopen.

[2021-08-06 15:08] #1435 closed

[2021-08-06 15:09] gmlewis commented on #1419
Closing inactive issue for lack of activity/interest.  Feel free to reopen.

[2021-08-06 15:09] #1419 closed

[2021-08-06 15:10] gmlewis commented on #1392
Closing inactive issue for lack of activity/interest.

[2021-08-06 15:10] #1392 closed

[2021-08-06 15:12] gmlewis commented on #1265
This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md](https://github.com/google/go-github/blob/master/CONTRIBUTING.md) guide to get started. (In particular, pl

[2021-08-06 15:16] gmlewis commented on #1203
Opening up issue for an experienced Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md](https://github.com/google/go-github/blob/master/CONTRIBUTING.md) guide to get started. (In particular, please remember to `go generate ./...

[2021-08-06 15:18] gmlewis commented on #1154
Closing inactive issue for lack of activity/interest.

[2021-08-06 15:26] gmlewis commented on #1069
Closing inactive issue for lack of activity/interest. Feel free to reopen.

[2021-08-06 15:26] #1069 closed

[2021-08-06 15:38] gmlewis commented on #1052
Closing issue for lack of activity/interest.

[2021-08-06 15:38] #1052 closed

[2021-08-06 15:39] gmlewis commented on #1029
Closing issue for lack of activity/interest. Feel free to reopen.

[2021-08-06 15:39] #1029 closed

[2021-08-06 15:40] gmlewis commented on #1027
Closing issue for lack of activity/interest. Feel free to reopen.

[2021-08-06 15:40] #1027 closed

[2021-08-06 15:48] gmlewis commented on #999
I'm wondering if a `WithContext` solution might be reasonable for this situation to disable preview functionality, similar to #1907 and also suggested in #1920 ?

[2021-08-06 16:00] gmlewis commented on #912
Thank you, @jusunglee  !  I apologize for missing this issue 3 (!) years ago!!!

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md](https://github.com/googl

[2021-08-06 16:02] gmlewis commented on #842
Closing issue as obsolete.

[2021-08-06 16:02] #842 closed

[2021-08-06 16:03] willnorris commented on #842
hah!  That's kind of hilarious that this was still open 😄

[2021-08-06 16:05] gmlewis commented on #840
As far as I can tell, https://developer.github.com/changes/ is no longer being used.
Closing issue as obsolete.  Feel free to reopen if I've made a mistake.

[2021-08-06 16:05] #840 closed

[2021-08-06 16:06] gmlewis commented on #804
Fixed by #1772. Closing.

[2021-08-06 16:06] #804 closed

[2021-08-06 16:06] gmlewis commented on #793
Closing issue for lack of activity/interest. Feel free to reopen.

[2021-08-06 16:06] #793 closed

[2021-08-06 16:32] gmlewis commented on #842
Yeah, my bad. 😁

In case it wasn't obvious, I got the urge to scrub through the repo issues today.  😁

Feel free to reopen any I've made mistakes on, @willnorris .

[2021-08-06 16:34] juliaferraioli commented on #842
Uh, I'm pretty sure this was my responsibility to close, so I'll take the blame/credit 😄

[2021-08-06 16:35] gmlewis commented on #842
Hah!  Hey, it's great to hear from you, @juliaferraioli !
I hope all is going well with you!

[2021-08-06 16:44] gmlewis commented on #743
Closing issue due to it sounding like we are all in agreement.

[2021-08-06 16:44] #743 closed

[2021-08-06 16:48] gmlewis commented on #722
Closing issue as obsolete.

[2021-08-06 16:48] #722 closed

[2021-08-06 16:54] gmlewis commented on #625
This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md](https://github.com/google/go-github/blob/master/CONTRIBUTING.md) guide to get started. (In particular, pl

[2021-08-06 16:57] gmlewis commented on #617
Closing issue as obsolete.

[2021-08-06 16:57] #617 closed

[2021-08-06 17:02] gmlewis commented on #576
This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md](https://github.com/google/go-github/blob/master/CONTRIBUTING.md) guide to get started. (In particular, pl

[2021-08-06 17:03] gmlewis commented on #566
Closing issue for lack of activity/interest. Feel free to reopen.

[2021-08-06 17:03] #566 closed

[2021-08-06 17:04] gmlewis commented on #560
Closing issue as obsolete.  Feel free to reopen if I'm mistaken.

[2021-08-06 17:04] #560 closed

[2021-08-06 17:07] gmlewis commented on #545
Closing issue as obsolete.  Feel free to reopen if I'm mistaken.

[2021-08-06 17:07] #545 closed

[2021-08-06 17:10] gmlewis commented on #521
Closing issue for lack of activity/interest. Feel free to reopen.

[2021-08-06 17:10] #521 closed

[2021-08-06 17:10] gmlewis commented on #496
Closing issue for lack of activity/interest. Feel free to reopen.

[2021-08-06 17:10] #496 closed

[2021-08-06 17:12] gmlewis commented on #431
Closing issue for lack of activity/interest. Feel free to reopen.

[2021-08-06 17:12] #431 closed

[2021-08-06 17:16] gmlewis commented on #310
I'm not sure this is feasible without corporate dedicated investment and support.
Closing, but feel free to reopen if I'm mistaken.

[2021-08-06 17:18] gmlewis commented on #304
Closing issue as not feasible. Feel free to reopen.

[2021-08-06 17:18] #304 closed

[2021-08-06 17:38] gmlewis commented on #303
It looks to me like this is still an issue, but may break existing users of the repo even with type aliases (due to the field mismatches).

So I'll leave the issue open and may attempt it myself depending on my workload... but for now I'll just leave the issue open in case anyone else wishes to address it.

[2021-08-06 17:39] gmlewis commented on #302
Keeping open as this is closely related to https://github.com/google/go-github/issues/303#issuecomment-894413530 .

[2021-08-06 17:46] gmlewis commented on #242
I'm closing this issue because many alternatives were discussed, but I think it would be beneficial if a new issue were opened with clearer specific guidance as to how to best solve the issue (if there is still interest, that is).

Alternatively, feel free to reopen this issue with more details as to what is needed to be done here.

[2021-08-06 17:46] #242 closed

[2021-08-06 17:52] gmlewis commented on #236
It seems to me to be a relatively simple matter to resolve this issue by creating a new `RemoveMilestone` method with the [workaround above](https://github.com/google/go-github/issues/236#issuecomment-220560052).

Leaving this issue open.

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any

[2021-08-06 17:54] gmlewis commented on #225
Closing issue in light of comment: https://github.com/google/go-github/pull/221#issuecomment-217496347

[2021-08-06 17:54] #225 closed

[2021-08-06 17:57] gmlewis commented on #217
Closing issue for lack of activity/interest or clear path for resolution. Feel free to reopen.

[2021-08-06 17:57] #217 closed

[2021-08-06 17:59] gmlewis commented on #184
Closing issue for lack of activity/interest. Feel free to reopen.

[2021-08-06 17:59] #184 closed

[2021-08-06 18:01] willnorris commented on #310
This issue was filed before GitHub Actions and repo secrets existed, hence the mention of a GCE instance.  Today, this could pretty easily be implemented with actions, perhaps run on a schedule rather than per PR or commit.  Let's leave this open for now, and I may take a look at implementing it.

[2021-08-06 18:04] gmlewis commented on #179
6 years later, it looks like `/enterprise/settings/...` endpoints are still missing, but closing issue for lack of interest/activity.
Feel free to reopen if anyone is still interested.

[2021-08-06 18:08] gmlewis commented on #310
Thank you, @willnorris - #98 may be related.

[2021-08-06 18:08] gmlewis commented on #98
Possibly related to: https://github.com/google/go-github/issues/310#issuecomment-894425615

[2021-08-06 18:38] krishnaindani commented on #2030
Thank you, I will post the questions here as I get them while working.

[2021-08-06 18:45] gmlewis commented on #302
`PushEventCommit` was changed to `HeadCommit` in #1449 and `PushEvent` uses `HeadCommit` so I believe this issue can be safely closed in deference to the remaining issue #303.

[2021-08-06 18:45] #302 closed

[2021-08-06 18:47] gmlewis commented on #303
It turns out that simple deprecation here should work beautifully.  Opening PR to resolve.

[2021-08-07 04:00] krishnaindani commented on #2030
I would like to check for https://docs.github.com/en/rest/reference/scim#update-an-attribute-for-a-scim-user call, what would we use for the Parameters Operations Value, it looks to be `object or array or string(value (object or array or string))`.

I am confused here, could you be able to guide me?

[2021-08-07 10:43] gmlewis commented on #2030
The link you gave points to the SCIM specification here: https://datatracker.ietf.org/doc/html/rfc7644#section-3.5.2
which says:

   "Operations", whose value is an array of one or more PATCH
   operations.  Each PATCH operation object MUST have exactly one "op"
   member, whose value indicates the operation to perform and MAY be one
   of "add", "remove", or "replace".  The semantics of each oper

[2021-08-07 19:22] krishnaindani commented on #2030
Thank you, I will go though this.

[2021-08-08 12:51] mahansky opened #2033 "`package` event outdated"
[Package](https://github.com/google/go-github/blob/master/github/packages.go) struct seems to be outdated (probably) after the migration from Docker registry to Container registry.
I can't find any information about this [GH docs](https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-payloads#package), the example there is still showing the old format.
Here is a sma

[2021-08-08 15:02] gmlewis commented on #2033
Thank you, @mahansky .
Please contact GitHub technical support and ask them to update their official documentation and report back here with their response.

[2021-08-10 11:55] AGMETEOR commented on #912
@gmlewis can I take a look?

[2021-08-10 12:35] gmlewis commented on #912
Sure, @AGMETEOR ... It's yours.

[2021-08-11 01:31] xun-guo-anzx opened #2035 "API error when passing empty array as selected_repository_ids in SetSelectedReposForOrgSecret"
In [SetSelectedReposForOrgSecret](https://github.com/google/go-github/blob/master/github/actions_secrets.go#L301), when trying to set selected repositories for a organisation secret to empty, it returns an API error:

I assume this is because `omitempty` is set for `selected_repository_ids` in the request data. Considering that there should be a valid use case to clear up all selected repositories

[2021-08-11 11:27] #2035 closed

[2021-08-11 15:23] PaulSonOfLars opened #2040 "[BUG] Can't update the default branch on a repo"
The github API has a weird edge case where changing the default branch also requires passing the repository name.
This is undocumented, but has been noticed as behaviour [here](https://github.community/t/cannot-change-default-branch/13728/13).

Given that this bug has now existed for a while, its safe to assume github have no intention of fixing it. Is this something that could be feasible from th

[2021-08-11 17:51] gmlewis commented on #2040
So I'm not completely clear how you would want this library to address the issue.

Currently, a user can fill in the `Name` field in the [`Repository`](https://github.com/google/go-github/blob/master/github/repos.go#L27) struct and call the [`RepositoriesService.Edit`](https://github.com/google/go-github/blob/master/github/repos.go#L486-L489) endpoint.

I can see two paths forward to address this:

[2021-08-11 17:52] gmlewis commented on #2040
And by the way, I would not consider this issue a bug of this repo.

[2021-08-12 20:59] lucasdittrichzup opened #2041 "Improve pull request structure"
I needed to **filter repository information through a pull request** and realized that the pull request structure seems to be out of date, as it lacks the `repo field` that obviously contains the repository information, as per the model below extracted from the **Github API documentation**:

[code]

[2021-08-12 21:13] gmlewis commented on #2041
To clarify, you saying that the `PullRequest` struct is missing the `Repo` field, correct?

Can you please provide a link to said GitHub API documentation?

[2021-08-12 21:18] lucasdittrichzup commented on #2041
Hi @gmlewis!

Yes, that's right!

About the link (I'll edit the issue and put it too): https://docs.github.com/en/rest/reference/pulls#list-pull-requests

[2021-08-12 21:26] gmlewis commented on #2041
Thank you, @lucasdittrichzup !

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md](https://github.com/google/go-github/blob/master/CONTRIBUTING.md) guide to

[2021-08-13 09:21] kallydev commented on #2041
I think this problem may not exist. There is no missing `Repo` tag in the `PullRequest` structure, it exists only in the two `PullRequestBranch` structures named `Head` and `Base`, and we can get it by the following way.

https://github.com/google/go-github/blob/fee04e8d84e09e4404f740aef498cead5a9e56fc/github/pulls.go#L110-L116

[code]

[2021-08-13 11:09] gmlewis commented on #2041
Thank you, @kallydev ! I thought this seemed odd.
@lucasdittrichzup - please confirm and then we will close the issue.

[2021-08-17 15:42] lsowen opened #2044 "Feature: Add support for autolinks"
`autolinks` support was recently added to the rest api.   Announcement: https://github.blog/changelog/2021-08-02-apis-for-autolinks/

This would be super useful to allow automated management of autolinks via API.

Docs: https://docs.github.com/en/rest/reference/repos#autolinks
More info: https://docs.github.com/en/github/administering-a-repository/managing-repository-settings/configuring-autolinks

[2021-08-17 16:56] gmlewis commented on #2044
Thank you, @lsowen  !

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md](https://github.com/google/go-github/blob/master/CONTRIBUTING.md) guide to get star

[2021-08-17 17:46] alexal commented on #2044
@gmlewis I would like to work on this, please.

[2021-08-17 17:55] gmlewis commented on #2044
Thank you, @alexal !  It's yours.

[2021-08-18 13:38] alexal commented on #2044
Thank you, @gmlewis. Please review PR #2046 when you have time.

[2021-08-18 15:09] alexal commented on #2044
@gmlewis I apologize, I missed one of your comments, this is why I made two additional commits. I've implemented all the changes you have requested. Looks better now?

[2021-08-18 22:02] davidkarlsen commented on #2030
@krishnaindani hey - how is this going, we'd like to use this feature for https://github.com/redhat-cop/group-sync-operator/issues/111

[2021-08-18 22:05] krishnaindani commented on #2030
I have been working on this last week, couldn't get on this week. I will push it in few days.

[2021-08-21 05:07] anthonyfok opened #2056 "TestParseWebPageEndpoints_ActivityEvents panics: cannot handle unexported field at {*main.Endpoint}.endpointName:"
I ran into the following errors while trying to update the Debian "golang-github-google-go-github" packaging from v32.1.0 to v38.1.0

[code]

I could not reproduce the error with `go test -v ./...` until I realized that `go test -v ./...` skips over `update-urls` altogether (since `go list ./...` does not show it.

[code]

And running the following command manually:
[code]
or
[code]

reproduces th

[2021-08-21 05:10] anthonyfok opened #2057 ""go run ./update-urls/main.go" fails with "unhandled X receiver type: *ast.CallExpr""
While trying to follow the instructions in the header comments of update-urls/main.go:

[code]

I encountered the following error at the very first step:

[code]

Tested with go1.15.15, go1.16.7 and go1.17.

Might be related to #2056?

Thanks in advance!

[2021-08-21 13:17] gmlewis commented on #2057
`update-urls` is a maintainer tool only.  Users of the repository are not expected to run it.
Thank you for the alert, though.
I will investigate.
Closing issue.

[2021-08-21 13:17] #2057 closed

[2021-08-21 13:20] gmlewis commented on #2056
Why are you running this at all?

[code]

It is a tool for maintainers of the repo.  I'll look into the problem but repo users should be completely ignoring this.
Meanwhile, I will still investigate the problem.

[2021-08-21 15:36] #2056 closed

[2021-08-21 15:38] gmlewis commented on #2056
Thanks again, @anthonyfok for the report!
This should be fixed now and the workflow has been updated to hopefully prevent this from happening again.

[2021-08-23 13:27] MRGUOKING opened #2060 "New feature request: add Redeliver a delivery for an organization webhook"
![image](https://user-images.githubusercontent.com/55344330/130455400-462cbaac-5f1b-4bb4-b526-d3c29d8fb6df.png)

[2021-08-23 14:53] gmlewis commented on #2060
Thank you, @MRGUOKING - it looks like we have not implemented this endpoint yet:
https://docs.github.com/en/rest/reference/orgs#redeliver-a-delivery-for-an-organization-webhook

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don'

[2021-08-23 14:55] gmlewis commented on #2060
I'm thinking that this new addition should go into the existing file: https://github.com/google/go-github/blob/master/github/orgs_hooks_deliveries.go

[2021-08-24 15:44] gmlewis commented on #2060
Assigned to @DeviousLab.
In the future, please ask to have an issue assigned to you so that nobody else attempts to duplicate your work in progress.
Thank you!

[2021-09-01 06:11] sagar23sj commented on #625
Hi @gmlewis, I would like to work on this issue.
Could you please help me understand the proposed solution to the issue?
Thanks

[2021-09-01 06:26] sagar23sj commented on #576
Hi @gmlewis. I would like to give this issue a try

[2021-09-01 06:36] sagar23sj commented on #236
Hi @gmlewis, i would like to this work on this issue.
Thanks

[2021-09-01 10:07] Richard-de-Vries opened #2073 "Adding support for enabling auto merge on repositories"
Hey!

I'm using the github terraform plugin which makes use of this api. I would like to  add support for the enabling of automatic merges on a repository level. integrations/terraform-provider-github#649
I'm new to open source but i'm willing to make a PR.

[2021-09-01 11:14] gmlewis commented on #2073
Sounds great, @Richard-de-Vries ! Thank you.

Please be sure to check out our CONTRIBUTING.md guide.

[2021-09-01 11:21] gmlewis commented on #236
Thank you, @sagar23sj, it is yours.

[2021-09-01 11:22] gmlewis commented on #576
Thank you, @sagar23sj , it is yours.

[2021-09-01 11:24] gmlewis commented on #625
Let's hold off on this one since I just assigned two other issues to you. After those are done, we can attack this one or someone else can take it in the meantime. Thanks.

[2021-09-01 11:53] sagar23sj commented on #625
Sure @gmlewis . Thanks

[2021-09-01 19:30] Cyb3r-Jak3 opened #2075 "Does not to be any support for the Packages API"
I do not see any support for the [Packages API](https://docs.github.com/en/rest/reference/packages). I don't know if I miss it somewhere though.

If it does not exist then I would be happy to work on it.

[2021-09-01 20:07] #2073 closed

[2021-09-01 20:09] gmlewis commented on #2075
You are right... thank you, @Cyb3r-Jak3 !  It is yours.
Please take a look at our CONTRIBUTING.md file for tips on how to contribute to this repo.

[2021-09-01 21:31] Cyb3r-Jak3 commented on #2075
@gmlewis looking into it and I see a potential issue. `Package` is already defined in [packages.go](https://github.com/google/go-github/blob/88b13f9ab1027c88609e6740acdc1710106f908e/github/packages.go#L9) this appears to be for the package webhook and contains different JSON than the package API. I'd like to rename `Package` to something like `PackageWebhook` and create a new `Package` struct but

[2021-09-02 06:39] hemachandarv commented on #625
@gmlewis Can I take this up?

[2021-09-02 09:53] hemachandarv commented on #1265
@gmlewis I saw that there was a closed PR (#1540) related to this issue. Can I take this up?

[2021-09-02 11:31] gmlewis commented on #625
Sure, @hemachandarv - it is yours. Thank you.

[2021-09-02 11:34] gmlewis commented on #1265
Thanks, @hemachandarv , but let's see how #625 goes before you also attempt to tackle this one.
We'll leave this one open so someone else can take it while you work on the other one.
Then, if this is still available when you are done with the other, we can assign it to you.

[2021-09-02 11:53] hemachandarv commented on #1265
Sounds like a plan. Thanks, @gmlewis

[2021-09-03 07:46] rvdh opened #2080 "Feature: Check if automated security fixes are enabled for a repository"
In https://github.com/google/go-github/pull/1188 the endpoint was added to enable or disable automated security fixes.

However, there seems to be no way to check the current status of this setting. This is required to implement https://github.com/integrations/terraform-provider-github/issues/272.

I also noticed on the [REST api documentation page](https://docs.github.com/en/rest/reference/repos)

[2021-09-03 11:49] gmlewis commented on #2080
Thank you for the issue, @rvdh .

Since this repo is "simply" a Go client library to the GitHub v3 REST API, if the API itself doesn't provide a feature, then this repo can not help with its implementation, unfortunately.

Your best bet is to contact GitHub tech support and request that the feature be added.

On this page: https://docs.github.com/en/rest they have a "Contact support" button you ca

[2021-09-03 16:22] #2044 closed

[2021-09-03 16:25] #2030 closed

[2021-09-03 16:26] #2060 closed

[2021-09-04 14:19] jimjaeger opened #2082 "Changes from issue #1634 to remove preview header: antiope breaks support for Github Enterprise"
Github and Github enterprise have different release cycles and time to release features for granduate feature from preview state.

The changes to remove the check api preview header (#1634) break compatibility for github enterprise.

Is there any chance to active the header again or make it configurable?

[2021-09-04 14:29] gmlewis commented on #2082
Is there any reason why you can't remain on the version of this repo that still provided this custom preview header?

[2021-09-04 14:43] jimjaeger commented on #2082
Well, go-github is used by https://github.com/palantir/bulldozer. Older bulldozer versions does not work anymore with github enterprise. So I had to upgrade. Bulldozer developers decided to upgrade to go-github/v38. As result the tool became incompatible to github enterprise that has still check api in preview state. So you see back and forth I run a incompatiblity issue.

May you could make it co

[2021-09-04 15:42] gmlewis commented on #2082
Oh, OK, I see your dilemma. We can revert #1636 and re-address that issue some time in the distant future.
I can work on that later today unless there are any objections.

[2021-09-04 16:24] gmlewis commented on #2082
Before I do that, however, can you please take a look at this thread: https://github.com/google/go-github/issues/1859#issuecomment-883588235
and see if the proposed `Client()` solution is sufficient to give you a workaround to call an older version of this client library (which has support for the custom preview header you are interested in)?

[2021-09-05 17:13] jimjaeger commented on #2082
Thanks for the fast reply. I am to admit I am not involved in bulldozer project. And I am not familiar with Golang. I am just enduser from bulldozer who looks for a solution.

I compiled a custom version from latest bulldozer code + revert the removal from the header in go-github code. And the solution works well.

I opened a ticket for bulldozer to discuss solution options: https://github.com/pal

[2021-09-06 14:30] PaulSonOfLars commented on #2040
Very well, just wanted to make a suggestion to improve usability regarding undocumented github "features".

[2021-09-06 14:30] #2040 closed

[2021-09-06 15:01] rvdh commented on #2080
Thanks, I've done this just now. Will update this issue when I hear back from them.

[2021-09-07 14:25] AGMETEOR commented on #912
Thanks @gmlewis . Been out on leave so this got delayed a bit. But will start working on it before this week ends.

[2021-09-08 05:37] xun-guo-anzx opened #2085 "Missing ListOptions in ListRepositoryAccessRunnerGroup"
Based on [API document](https://docs.github.com/en/rest/reference/actions#list-repository-access-to-a-self-hosted-runner-group-in-an-organization) this API call has pagination mechanism implemented.

However with current implementation the [ListRepositoryAccessRunnerGroup](https://github.com/google/go-github/blob/b338ce623f50aeaf4cbf7f4195a79d0d302f9a65/github/actions_runner_groups.go#L159) functi

[2021-09-08 07:26] rvdh commented on #2080
GitHub response:

So I guess.. time will tell? I'm not sure wether this issue should be closed now or not.

[2021-09-08 11:33] gmlewis commented on #2080
Thank you for reporting back, @rvdh .

I'm fine to leave this issue open. I'll tag it that we are waiting. 😁

[2021-09-08 11:39] anthonyfok commented on #2056
Thank you, @gmlewis!  You are amazing!  Thank you for solving this issue so quickly!

I forgot to answer your following question earlier, but an explanation is in order:

I am not running that manually, but rather, this is how Debian packaging of Go packages work at the moment, with the help of the `dh-golang` tool:

`dh-golang` constructs its own custom GOPATH directory tree, enumerate the subdir

[2021-09-08 11:45] gmlewis commented on #2056
Oh, wow!  I had no idea!!!  Thank you for the info, @anthonyfok !
TIL more about Debian thanks to you!  :smile:

[2021-09-08 11:47] gmlewis commented on #2085
Thank you, @xun-guo-anzx for the report and the PR!  I'll go take a look.

[2021-09-09 16:26] #2085 closed

[2021-09-09 16:49] kplimack opened #2088 "Team does not provide HTMLURL"
The teams package provides `URL` which points at the api url, but not `HTMLURL` which is provided via api

when getting a team it will supply

[code]

[2021-09-09 17:07] kplimack commented on #2088
IMO, better off providing it vs having people parse/mutate it on their own.

[2021-09-09 23:51] kplimack opened #2090 "missing method to add team to repo"
I cannot find a method to add a team to a repo, just a collaborator.  Is there something I'm missing?
I found a way to list the teams (https://github.com/google/go-github/blob/88b13f9ab1027c88609e6740acdc1710106f908e/github/repos.go#L698), but thats all

the relevant api call is

[code]

[2021-09-10 00:00] gmlewis commented on #2090
Are these what you are looking for?

[code]

[2021-09-10 14:55] kplimack commented on #2090
@gmlewis yes, thank you!

[2021-09-10 14:58] kplimack commented on #2090
yes thats what I was looking for. was expecting it to be under the `repo`. thank you

[2021-09-10 14:58] #2090 closed

[2021-09-10 15:05] gmlewis commented on #2090
Just FYI... I searched the code for `orgs/%v/teams/%v/repos/%v/%v` since you were kind enough to give me the equivalent `gh api` call... then confirmed that we had the `PUT` method covered.  :smile:

[2021-09-12 07:54] AGMETEOR commented on #486
Great explanation

[2021-09-12 09:50] AGMETEOR commented on #912
Hi @gmlewis , from looking at the code looks like the they're being returned properly. I wrote a quick test like so, thoughts?
[code]

[2021-09-12 10:54] gmlewis commented on #912
Excellent, @AGMETEOR !
Thank you for verifying that the codes are coming through properly.

If you would like to add a PR demonstrating this, that's great... otherwise if you just want to have this documented in this issue that is totally fine with me too and we can close it.  Your call.

[2021-09-12 11:00] AGMETEOR commented on #912
@gmlewis i prefer to push a PR with the test. I’ll do that later today

[2021-09-13 12:09] #912 closed

[2021-09-13 12:41] AGMETEOR commented on #236
Hi @sagar23sj , in case you're busy I would like to take this off your plate :)

[2021-09-13 13:28] hemachandarv commented on #1265
@gmlewis As #625 is about to be closed, can I take this up?

[2021-09-13 13:58] gmlewis commented on #1265
Sure, @hemachandarv , it is yours. Thank you!

[2021-09-14 08:38] rpelliard opened #2095 "Support for Apps Webhook configuration endpoints"
Hello,

I saw that there is support for configuring [Repository webhooks](https://docs.github.com/en/rest/reference/repos#webhooks) and [Organization webhooks](https://docs.github.com/en/rest/reference/orgs#webhooks), but it looks like [AppsService](https://pkg.go.dev/github.com/google/go-github/v34/github#AppsService) has no support for the endpoints allowing to get / update the webhook configura

[2021-09-14 10:32] gmlewis commented on #2095
I confirm your assertion. :smile:
Yes, I think that would be perfectly reasonable to add to this repo since it it part of the GitHub v3 API.
One interesting challenge for your PR will be that we currently do not support sending a JWT, so you will need to add a nice and convenient way of doing so.

Thank you, @rpelliard !

[2021-09-14 11:59] rpelliard commented on #2095
@gmlewis Thanks for confirming :)

About the JWT, would it be reasonable to leave the responsibility of authentication to the underlying transport, like what is used for requests as installations / as users ? e.g. using https://github.com/bradleyfalzon/ghinstallation/blob/master/appsTransport.go#L46
I might be wrong, but it looks like for example, [this existing method](https://pkg.go.dev/github.c

[2021-09-14 12:29] gmlewis commented on #2095
Ah, yes! Perfect. Thank you... Let's do that.
Please make sure to add a comment in your new methods showing how to authenticate.

[2021-09-15 20:22] ex0dus-0x opened #2097 "Context Deadline Exceeds when Deploying to Cloud Run"
I'm deploying a GitHub application that uses `go-github` through [palantir/go-githubapp](https://github.com/palantir/go-githubapp). The application handles PR events, and creates a Check Run for analyzing changed files in the commit. I've built and uploaded the container image to the registry, and deployed a Cloud Run app.

While everything works nicely on a local host, I keep getting the followin

[2021-09-15 23:31] gmlewis commented on #2097
My first guess is that the local transport is authenticating differently from the other environment.

Have you asked on the https://github.com/palantir/go-githubapp repo where they might have a bit more context and/or experience with this scenario?

[2021-09-17 17:43] ex0dus-0x commented on #2097
Yup, turns out configurations on the cloud side and how it worked with their end was the issue, not the GitHub API call itself. Thanks!

[2021-09-17 17:43] #2097 closed

[2021-09-17 23:51] bhogatemadhura opened #2098 "branch_protection_rule event type not available"
I was looking into the event - https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-payloads#branch_protection_rule

and couldn't find an associated event type under -
https://github.com/google/go-github/blob/master/github/event_types.go

Is it missing ?

[2021-09-18 02:14] gmlewis commented on #2098
Yes, I believe you are correct. We have `GetBranchProtection` but we don't appear to support the event type.
Would you like to add it, or would you like me to open up this issue to other contributors to this repo so that they will add it?

[2021-09-20 16:33] jimjaeger commented on #2082
Seems the bulldozer guys did not comment here. Finally I built my custom custom bulldozer version and will stick with till the github version get an update. Thanks for the help.

[2021-09-21 23:28] bhogatemadhura commented on #2098
Thank you @gmlewis. I'll submit a change for it!

[2021-09-23 16:39] #2098 closed

[2021-09-27 14:22] #2075 closed

[2021-09-28 14:13] kallydev opened #2106 "CI uses an older version of Go"
Hi, why does `go.mod` already use Go **1.16**, but `tests.yml` still uses **1.15.x**? Should we update the CI config?

[2021-09-28 14:59] gmlewis commented on #2106
We attempt to CI test the most recent version of Go along with the prior version. We have not yet bumped it to v1.17.x and v1.16.x.

I'm not actually sure that the version declared in go.mod has much significance... but I should probably read up on that. I thought it was simply the version of Go used to create it.

[2021-09-28 15:04] rreichel3 opened #2107 "GitHub Pages Response Out of Date"
The GitHub Pages API response appears to be a bit out of date. There are new additional fields for GitHub Pages that aren't included in the struct.  These include information about the visibility of the page, certificate issuance info and whether or not HTTPS is enforced.

The additional properties required are visible in the docs [here](https://docs.github.com/en/rest/reference/repos#get-a-github

[2021-09-28 15:08] kallydev commented on #2106
If go.mod is newer than the CI's version of Go, then the CI may fail to build because it is using a new function from a newer version of Go.

Ref https://golang.org/ref/mod#go-mod-file-go.

[2021-09-28 15:27] gmlewis commented on #2106
Interesting, as we've had no problems to date.

I'll bump the CI Go version today to use v1.17.x and v1.16.x and we should be good by just leaving go.mod alone.

[2021-09-28 16:02] #2106 closed

[2021-09-28 20:40] DariuszPorowski opened #2110 "ProjectOptions has wrong field & Project struct miss Organization related fields"
According to official GitHub API docs for [Update a project](https://docs.github.com/en/rest/reference/projects#update-a-project), one of the body fields is **private**, but current implementation in the go-github is **public**. [projects.go#L86](https://github.com/google/go-github/blob/eefa002529986d0f766419e9e03b6e6371e57bd7/github/projects.go#L86)

Moreover, the current struct that returns the

[2021-09-29 14:21] #2095 closed

[2021-09-30 11:26] brianlangdon opened #2112 "func populatePageValues can't handle API's returning 'since'"
API's such as the Organization ListAll can return many pages of Organizations. The pagination value is called since and holds the id of the last Org returned. A simple change to populatePageValues appears, so far, to be able to support this. Not sure if this a fault or a improvement! I'm new to golang so please forgive.

Old code in populatePageValues:

			page := q.Get("page")
			if page == "" {

[2021-09-30 11:52] gmlewis commented on #2112
I see that orgs `ListAll` uses a `since` parameter to control getting the next group of results here:
https://docs.github.com/en/rest/reference/orgs#list-organizations
but the link then points here:
https://docs.github.com/en/rest/overview/resources-in-the-rest-api#link-header
which makes no mention of receiving `since` in the header.

Additionally, the only pagination documentation I could find i

[2021-09-30 12:30] brianlangdon commented on #2112
Here is a slightly formatted and sanitised copy of our header - we are using GHE not github.com
net/http.Header ["Content-Type": ["application/json; charset=utf-8"],
"Cache-Control": ["private, max-age=60, s-maxage=60"],
"Vary": ["Accept, Authorization, Cookie, X-GitHub-OTP"],
"X-Accepted-Oauth-Scopes": [""],
"Strict-Transport-Security": ["max-age=31536000; includeSubdomains"],
"Referrer-Policy":

[2021-09-30 13:05] gmlewis commented on #2112
OK, thank you, @brianlangdon !

Would you like to create a PR or would you like me to open up this issue for one of our other amazing contributors to address this issue?

[2021-09-30 13:51] brianlangdon commented on #2112
Hi @gmlewis, I'll give it a go, although I'm not sure how I'd create tests for it.

[2021-09-30 13:59] gmlewis commented on #2112
OK, cool.  It's yours, @brianlangdon .

As for a test, check out this example, and create a new test based upon it (possibly even right after it):
https://github.com/google/go-github/blob/master/github/github_test.go#L622-L649

[2021-10-03 17:15] vchuravy opened #2113 "http2 failure in `UploadAsset`"
We are using `ghr` to upload binary assets from Github to CI.

Currently I am seeing an increased failure rate:

[code]

AFAIK `ghr` uses `UploadAsset`: https://github.com/tcnksm/ghr/blob/93494744e6930d13e5c052eac9ca64a6027779a4/github.go#L184 from https://github.com/tcnksm/ghr/blob/93494744e6930d13e5c052eac9ca64a6027779a4/github.go#L209

and the error looks like https://github.com/golang/go/issue

[2021-10-04 16:18] vchuravy commented on #2113
Turned out that is was hiding the actual errors:

[code]

[2021-10-04 18:02] gmlewis commented on #2113
Glad you found it. Closing issue.

[2021-10-04 18:02] #2113 closed