[2017-12-26 06:28] kshitij10496 commented on #818
Hey @lou-lan

Can you share the API endpoint you are trying to hit and the `go-github` package function you are using to do so?

[2017-12-27 02:29] lou-lan commented on #818
It's my Github Enterprise problem, I reinstalled GitHub，thank you.

[2017-12-27 02:29] #818 closed

[2017-12-29 02:41] lou-lan opened #819 "Why GetCombinedStatus need ListOptions?"
Function: GetCombinedStatus(ctx context.Context, owner, repo, ref string, opt *ListOptions)
GitHub API docs: https://developer.github.com/v3/repos/statuses/#get-the-combined-status-for-a-specific-ref

Why GetCombinedStatus need ListOptions?

[2018-01-02 21:32] theodesp commented on #819
As per the documentation, `The most recent status for each context is returned, up to 100. This field paginates if there are over 100 contexts.` , so it can get a pagination parameter

[2018-01-02 21:54] theodesp commented on #666
Looks like PR #749 was merged. Shall we close this ticket?

[2018-01-02 22:00] #666 closed

[2018-01-03 12:52] rafw opened #821 "How to get last updated time of a repo's source code?"
I use this code to get last update time.
`r, _, err := c.Repositories.Get(context.Background(), user, repo)
srcLastUpdated := r.GetUpdatedAt().Time`

But in fact the result `srcLastUpdated` is not the last update time of the source code. How can I get it? Thanks!

[2018-01-03 18:18] gmlewis commented on #821
I wrote a quick test program to check out this `google/go-github` repo:

[code]

and it prints:

[code]

So it looks like you want `GetPushedAt`.

[2018-01-03 18:18] #821 closed

[2018-01-04 17:34] FenwickElliott opened #822 "CLI tool in examples"
### Use Case
My main usage of this project is with a small CLI tool I use to (primarily) create a Github repo which I can push to without leaving my IDE.

For example (within working directory):

[code]
### Questions
- Would the community liked this use case added to the examples directory?
- For authorization I use a package that gets an OAuth2 token and saves it locally (in Application Storage).

[2018-01-04 18:03] gmlewis commented on #822
I like having more examples, and this sounds like a useful one!
The OAuth2 solution sounds good to me from the description.
Thank you for the offer, @FenwickElliott!

[2018-01-06 05:34] #524 closed

[2018-01-06 05:47] shurcooL opened #823 "Which year should the generated file's copyright year be: current or original?"
Currently, it's always the "current year in the local timezone". See:

https://github.com/google/go-github/blob/218ecc238cf77bbaa2e16a54cada252ec87e7d6e/github/gen-accessors.go#L74

There is a [CI failure](https://travis-ci.org/google/go-github/jobs/325711687) after I merged PR #812 (it was created in 2017 but merged in 2018):

[code]

We need to fix the CI failure by either regenerating the file

[2018-01-07 03:08] gmlewis commented on #823
TL;DR: Yes, I agree with you, @shurcooL... the year `2017` should be hardcoded.

My understanding and the rule that I've been following, is when the file is created, the year is recorded in the file and the original year is retained. Some people add on additional years (e.g. `2017-2018`), but just keeping the original year is sufficient and looks better, IMHO.

So I'm guessing that I'm the one tha

[2018-01-08 07:19] #819 closed

[2018-01-09 21:03] shurcooL commented on #823
Makes sense, thanks Glenn!

[2018-01-09 21:38] #823 closed

[2018-01-09 22:30] shurcooL commented on #781
I think this can be closed now, right? Welcome back @gmlewis! :)

[2018-01-09 23:13] gmlewis commented on #781
Thanks, @shurcooL!  Definitely time to close this issue.  :smile:

[2018-01-09 23:13] #781 closed

[2018-01-10 18:15] gmlewis opened #827 "Support dismissed_review IssueEvent"
GitHub Developer API announcement:
https://developer.github.com/changes/2018-01-05-dismiss-event-breaking-change/

This announcement actually confuses me a bit...
From the announcement, the `dismissed_review` IssueEvent is changing, but I don't see any history of it, so I don't know when it was introduced. Nevertheless, we would like to support it, so it needs to be added to the `IssueEvent` struc

[2018-01-11 06:15] vaibhavsingh97 commented on #827
@gmlewis I want to solve this issue, just learnt go 😍

[2018-01-11 17:58] gmlewis opened #828 "Support preview Lock Reason via the Lock Issue API"
GitHub Developer API announcement:
https://developer.github.com/changes/2018-01-10-lock-reason-api-preview/

Supporting this change will require the following:

- [ ]  add a new preview media type (`application/vnd.github.sailor-v-preview+json`)  to `github.go`,
- [ ]  add new `active_lock_reason` and `lock_reason` fields (`ActiveLockReason` and `LockReason` in Go, respectively) to `Issue` and `Pu

[2018-01-11 19:57] gmlewis commented on #827
Excellent! Welcome to the project and to Go in general, @vaibhavsingh97! :smile:

I've sent you an invite to collaborate on this repo so once you accept, I can assign this (or any) issue to you.

Check out our [CONTRIBUTING.md][https://github.com/google/go-github/blob/master/CONTRIBUTING.md] docs to help you get up and running quickly.

[2018-01-12 00:06] sahildua2305 opened #829 "Make use of testHeader and testMethod consistent"
As found out while reviewing https://github.com/google/go-github/pull/817, we have some inconsistencies in our tests where some of the tests don't use the `testHeader` and `testMethod` functions to test request header and method.

One of the defaulter is https://github.com/google/go-github/blob/master/github/git_trees_test.go#L22.

This is completely harmless. Though it's important to make sure it

[2018-01-12 00:11] willnorris commented on #829
sounds good to me.  assigned to you.

[2018-01-12 01:54] leslie-qiwa opened #830 "Support NULL Megerable field for pull request query"
Based on statement of [mergeability](https://developer.github.com/v3/pulls/#get-a-single-pull-request),

However, current mergeable in go-github is boolean type. So when it is null, seems like it is assigned as false, which cause calling application making wrong decision. During my concurrent testing, I did find sometimes, GitHub returns null field. So seems like it need to be supported.

[2018-01-12 14:26] jusunglee opened #831 "Required to be an owner of an org to fetch concealed members"
..but the v3 docs clearly state that the authenticated user only needs to be a member. Was this different elaborate?

// ListMembers lists the members for an organization. If the authenticated
// user is an **owner** of the organization, this will return both concealed and
// public members, otherwise it will only return public members.
//
// GitHub API docs: https://developer.github.com/v3/orgs/m

[2018-01-12 20:21] gmlewis commented on #831
Thanks for the issue report, @jusunglee.

It looks like the documentation needs updating, as it appears that the GitHub Developer API docs have changed since this was first written.
I don't think any code needs changing.

Agreed?

[2018-01-12 20:29] gmlewis commented on #830
In `pulls.go`, we have:

[code]

Note that `Mergeable` is a pointer to a `bool`.

If you use the `GetMergeable` accessor function in `github-accessors.go`, then it will always return `false` if the field is `nil`. If, however, you access the field directly, for example:

[code]

then you should be able to determine if the field was returned or not.

Does this resolve your issue, or am I missing so

[2018-01-12 21:54] anirudhmurali commented on #828
Hey @gmlewis, I'm willing to work on this. Can you invite me? TIA :)

[2018-01-12 22:05] gmlewis commented on #828
Thank you, @anirudhmurali! Invite sent.

[2018-01-13 05:52] leslie-qiwa commented on #830
You are right. It spends me some times to find out GetMergeable method is wrong before you replied that. That is why I raise it up. As developer, I most likely use GetMergeable() directly as other GetXXX methods. Otherwise, GetMergeable method probably should just not be exposed to avoid confusion for other people.

[2018-01-13 17:36] kshitij10496 commented on #727
I would like to give this a try.

[2018-01-16 17:33] vaibhavsingh97 commented on #827
hi @gmlewis can you please assign the issue to me. I will send PR soon 😅

[2018-01-16 21:17] shurcooL commented on #597
Edited the table above to add these fields that were missing in the table but present in PR #816 (and they're valid ID fields):

[code]

[2018-01-16 22:59] #829 closed

[2018-01-17 05:36] kshitij10496 commented on #727
I would like to share my research on the custom media types supported by the Repo Contents endpoints:

Media Type | Header | Response | Currently Supported
-----|------- | ------ | ------
`html` | `application/vnd.github.v3.html` | Response is raw HTML | No
`raw` | `application/vnd.github.v3.raw` | Response is raw text | No
`object`| `application/vnd.github.v3.object` | This is the default base64

[2018-01-18 07:24] kshitij10496 commented on #727
I have thought of 3 implementations which we can use for supporting different media types for repository contents. I am having a difficulty understanding the which approach is most suitable for our case. Thus, I would like to share them before opening up a PR.

## Set up

Based on the method used in #481 and #767, I created a new type to represent the above-mentioned custom media types as:

[code]

[2018-01-18 17:48] gmlewis commented on #545
See also #727.

[2018-01-18 17:50] gmlewis commented on #827
Update from GitHub Developer API announcement:
https://developer.github.com/changes/2018-01-17-issue-event-breaking-change/

[2018-01-18 18:08] kshitij10496 commented on #727
After reading the GitHub documentation [here](https://developer.github.com/v3/repos/contents/) and grepping through the code, I found the following:
- Methods which should support custom media types for Repository Contents API:
    - `GetReadme`
    - `GetContents` and hence,
    - `DownloadContents`

- `GetArchiveLink` method is the only place where the `ref` parameter(abstracted by `RepositoryCo

[2018-01-21 22:11] joho commented on #814
I'm currently blocked on a project as I need `node_id` on PullRequest.

I'd be happy to submit a PR adding it, but don't want to duplicate any of @anubhakushwaha's work in case there's a second PR in progress (btw thanks a lot for the first one). Let me know if it's wanted/needed.

[2018-01-24 05:22] anubhakushwaha opened #834 "No requirement of Accept headers in methods involving DELETE"
While working on #814 I realized that in **projects.go** , the methods involving DELETE set accept headers though the functions don't return a response which might require the client to specify the accept format.Instances at :

[DeleteProject](https://github.com/google/go-github/blob/master/github/projects.go#L101)
[DeleteProjectColumn](https://github.com/google/go-github/blob/master/github/projec

[2018-01-24 16:03] kshitij10496 commented on #658
I think this issue shares a fundamental similarity with #727
Both revolve around the support for custom media types.

[2018-01-24 16:31] kshitij10496 commented on #727
@shurcooL Have you had time to think about how should we proceed from here?

Apart from that, I had a suggestion regarding the naming convention of methods for supporting custom media types.
How about we name them as `GetReadmeCustom` instead of `GetReadmeHTML`?

Implement a generic method which provides support for media types for each endpoint has 2 advantages:
1. The number of methods we need t

[2018-01-24 17:44] gmlewis commented on #834
I'm afraid I don't understand the issue. The custom accept header used here (`mediaTypeProjectsPreview` which equals `"application/vnd.github.inertia-preview+json"`) is used to enable preview features in the GitHub API as described [here](https://developer.github.com/v3/projects).

To help me understand, let's take one example: [DeleteProject](https://github.com/google/go-github/blob/master/github

[2018-01-25 02:10] shurcooL commented on #727
@kshitij10496 Sorry, I don't have a lot of bandwidth to dedicate to this issue at this time. See if you can make progress without blocking on me, hopefully other maintainers/contributors can chime in as needed to make progress.

[2018-01-25 04:26] anubhakushwaha commented on #834
@gmlewis I should have researched better,closing.

[2018-01-25 04:26] #834 closed

[2018-01-25 04:31] kshitij10496 opened #835 "Team Review Requests API becomes an official part of API v3"
GitHub Announcement:
https://developer.github.com/changes/2018-01-24-end-thor-preview/

The preview period has ended, and we will no longer need to pass the `mediaTypeTeamReviewPreview` custom media type. Instead, GitHub recommends that we specify `v3` as the version in the Accept header. However, note that some GitHub Enterprise versions do not yet support the Team Review Requests API, thus, will

[2018-01-25 18:09] gmlewis opened #838 "Support preview Organization Invitation API"
GitHub Developer API announcement:
https://developer.github.com/changes/2018-01-25-organization-invitation-api-preview/

Supporting this change will require the following:

- [ ] create two new endpoints
- [ ] add two new fields to an existing endpoint
- [ ] add the new custom media type
- [ ] create tests for the new endpoints and update the test(s) for the existing endpoint
- [ ] run the generat

[2018-01-25 18:47] gmlewis commented on #834
No problem.  Glad you found a solution.

[2018-01-25 19:10] shurcooL commented on #597
Resolved via #816, closing.

[2018-01-25 19:10] #597 closed

[2018-01-26 17:13] packrat386 opened #839 "Please consider tagging versions"
API breaking changes like #816 get merged into this package alarmingly often, which leaves the users scrambling to get their code compiling again. Because there are no published version tags, our options are to either be ready to update our code at a moments notice or pin/vendor a single snapshot in time and manually verify and update when we can. Essentially all dependency management tools in the

[2018-01-26 17:15] gmlewis commented on #839
See #376.

[2018-01-26 17:19] shurcooL commented on #839
Also see PR #772, which is a PR in progress for issue #376.

[2018-01-26 17:20] packrat386 commented on #839
Whoops. I looked back through the old issues to try to make sure it wasn't a repeat, but I guess I didn't look far enough. Closing favor #376

[2018-01-26 17:20] #839 closed

[2018-01-29 12:45] kshitij10496 commented on #761
@gmlewis Have we heard back from the GitHub Support about this?

[2018-01-29 15:49] gmlewis commented on #761
**TL;DR: One more week and we'll move forward on this issue if there are no compliants.**

Wow, sorry that I forgot to report back.

I did receive a response right away that the technical team would attempt to be very clear in all future announcements as to how GitHub Enterprise customers are affected by each custom media type removal, but I didn't get specific details about this one in particular

[2018-01-29 18:22] kshitij10496 opened #840 "Automating the sync between GitHub API Blog and our library"
I noticed that we currently have to manually create a New Issue every time there is an announcement from [GitHub API Blog](https://developer.github.com/changes/) (usually on a weekly basis). How about we automate this bookkeeping process so as to save some effort?

I would like to share a way we can implement this:
Step 1: Using an RSS feed parser (such as [gofeed](https://github.com/mmcdole/gofee

[2018-01-29 18:30] willnorris commented on #840
Not ever post on the GitHub API blog requires action.  It always requires a human to read the post and determine if we need to do something with the information.  I don't see how you can automate that.

[2018-01-29 18:33] gmlewis commented on #840
I think that's a fantastic idea, @kshitij10496!

The only downside I could think of is that some of their announcements don't affect this project, but that is extremely rare... I think I've only seen one or two in the past year that were a no-op for this repo... and if we decide to go forward with this, then those issues could simply be closed as "Not an issue for this repo."

[2018-01-29 19:05] kshitij10496 commented on #840
Absolutely.
We should intend to use this as a notification service which notifies us about recent development from GitHub's end. After reading the changes mentioned in the update, we can discuss on how to proceed with the implementation same as the current process.

Moreover, even if an update requires no changes from our side, we will have an organized and transparent way to consciously take this

[2018-01-30 19:39] #376 closed

[2018-01-30 21:41] sahildua2305 commented on #840
Great idea, @kshitij10496

[2018-01-31 02:18] scriptonist commented on #838
It's not my first time contributing to this project but I'm happy to to take this up.

[2018-02-01 19:58] willnorris opened #842 "Enable two-factor auth on your account"
We're in the process of requiring two-factor auth for the github.com/google organization, which will apply both to members of the organization as well as any outside collaborators on any of the repos there.  We've added a number of folks as outside collaborators on go-github so that we can assign issues to you that you're working on.

When we do flip the switch, anyone who does not have 2fa enable

[2018-02-04 04:28] diorahman opened #843 "[question] Drain up to 512 bytes and close the body to let the Transport reuse the connection"
Hi, do you think we still need following lines today (with current and newer golang version)?

https://github.com/google/go-github/blob/master/github/github.go#L481-L485

Thanks!

[2018-02-04 13:08] sahildua2305 commented on #843
@diorahman I see that we support 1.7.x version as well? Since which version are these lines of code redundant?

[2018-02-05 16:00] willnorris commented on #843
Look like it was introduced in 1.7, so should be safe to remove: https://github.com/golang/go/commit/18072adbca7ee2cb2019704577a8f3f142010ba7

[2018-02-05 16:13] sahildua2305 commented on #843
Cool, thanks for checking @willnorris.

Thanks for reporting, @diorahman. Would you like to send a PR to remove these lines? If not, I'll go ahead and remove.

[2018-02-07 00:22] FenwickElliott commented on #822
@gmlewis I finally got around to writing this up. Would you mind glancing over it before I submit it as  a pull request?

https://github.com/FenwickElliott/go-github/blob/cli/example/newrepo/main.go

(getting the OAuth2 token involved too much tangental material so I am just importing it as a environment variable)

Thanks regardless

[2018-02-07 09:51] diorahman commented on #843
I have submitted a PR. Sorry for a bit funky event above hehe. Need to change account due to CLA.

[2018-02-07 18:12] gmlewis commented on #822
Thanks, @FenwickElliott!

I've looked it over and have a bunch of code-review comments, but can't make them with that link... overall, I think that this will be a good addition to have... so if you are willing to go through the process of a code review via a PR, then I'm happy to review it and get it into this repo after we've made some changes.

Thanks again!

[2018-02-07 19:01] FenwickElliott commented on #822
@gmlewis,

Great, thank you. I would be very grateful for your review.

I'll submit the PR when I get back to my desk.

Thanks again,

[2018-02-08 18:12] gmlewis opened #849 "Support preview Team Discussions API"
GitHub Developer API announcement:
https://developer.github.com/changes/2018-02-07-team-discussions-api/

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue, and we can send you an invite to contribute to the repo (which you then accept) and the issue can be assigned to you so that ot

[2018-02-08 19:02] parkhyukjun89 commented on #849
Hi @gmlewis, can I work on this issue ?

[2018-02-09 07:43] parkhyukjun89 commented on #849
@gmlewis Accepted!
One quick question. I noticed that team service codes (for https://developer.github.com/v3/teams/members/) still lives under orgs_teams.go.
Would it make sense to create new files (teams_discussions.go, teams_discussion_comments.go) for these changes or should I just use the same orgs_teams.go ?

[2018-02-09 17:30] gmlewis commented on #849
Our code organization attempts to closely follow the layout of the GitHub Developer documentation.

Since their URL starts with `/teams/`, I think it is highly appropriate to create new `teams_*.go` files as you suggested.

If it is small enough to all go into `teams_members.go`, then I would say this would be optimal. But if you think that it is getting too large (use the other files in the repo

[2018-02-12 17:52] gmlewis commented on #849
Excellent catch, @parkhyukjun89!

Yes, we would like to keep our code hierarchy closely matching the GitHub Developer API documentation hierarchy, so moving it makes sense to me based on that announcement.

[2018-02-12 18:45] #822 closed

[2018-02-14 17:09] sridharavinash opened #851 "Return app_id for an Installation"
I noticed that `get single installation` endpoint query here https://github.com/google/go-github/blob/master/github/apps.go#L100 returns an `Installation` but without an `app_id`. The `app_id` is returned in the call to https://developer.github.com/v3/apps/#get-a-single-installation.

I'd like to propose adding an `AppID` to the `Installation` struct here https://github.com/google/go-github/blob/m

[2018-02-17 23:31] elliott-beach commented on #840
@kshitij10496 Are you planning on working on this? If otherwise, I would be interested in doing this.

[2018-02-18 06:17] kshitij10496 commented on #840
@elliott-beach I have created a script for this but I am having some issues with synchronizing the items in the feed. So, I would like to take some time to figure them out.
In case I don't make any progress, feel free to take this up by the next weekend. 😄

[2018-02-21 12:37] kyoh86 opened #854 "PullRequest missing "labels" property."
In `pulls` API, each pull-requests have a "labels" property
https://developer.github.com/v3/pulls/#response

 but in the following struct, it's missed.
https://github.com/google/go-github/blob/master/github/pulls.go#L22

[2018-02-21 15:35] willnorris commented on #854
definitely looks like an oversight, but should be a pretty simple fix.  Do you want to send a pull request, or one of us can fix it pretty quickly?

[2018-02-22 15:18] DirtyF opened #856 "Support new preview Label API improvements"
Following GitHub announcement https://github.com/blog/2505-label-improvements-emoji-descriptions-and-more, it would be useful to be able to define and access to label descriptions.

[2018-02-22 15:40] kyoh86 commented on #854
I sent a pull request. plz review it.

[2018-02-22 17:21] #854 closed

[2018-02-22 17:43] gmlewis commented on #856
Thanks, @DirtyF, for filing the issue.

As far as I can tell, the GitHub API does not expose the description of each label:
https://developer.github.com/v3/pulls/#response

It only exposes the following fields:

    * ID     *int64  `json:"id,omitempty"`
    * URL    *string `json:"url,omitempty"`
    * Name   *string `json:"name,omitempty"`
    * Color  *string `json:"color,omitempty"`
    * Node

[2018-02-23 04:23] gmlewis commented on #842
For any collaborator who got an email today about losing access, please read Will's message above, enable two-factor auth on your GitHub account, and then ping this thread and we can send a new invite.

[2018-02-23 05:33] shurcooL commented on #856
@DirtyF Historically, API access to new features comes some time after the feature is released on github.com. The linked announcement doesn't say anything about API access; you'll need to watch https://developer.github.com/changes/ for that.

[2018-02-23 07:51] DirtyF commented on #856
https://developer.github.com/changes/2018-02-22-label-description-search-preview/

[2018-02-23 17:44] gmlewis commented on #856
Wow, that was quick!  OK, I'm going to hijack this issue and change the title now that the preview API has been announced.

GitHub Developer API announcement:
https://developer.github.com/changes/2018-02-22-label-description-search-preview/

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for an

[2018-02-23 21:33] #809 closed

[2018-02-23 21:39] #835 closed

[2018-02-24 02:38] gjacquet commented on #856
That's something I would be interested in contributing to.
I was looking for that feature too.

[2018-02-24 06:11] kshitij10496 commented on #840
@gmlewis There seems to be some confusion with regards to the issue number in my commit message. I distinctly remember making a mistake in referencing the correct issue in [b165831](https://github.com/google/go-github/commit/b1658317c4f5c8dd7000d94ab8a9b56039412cc6).
Since you have merged this PR into the `master`, GitHub is closing this issue due to the commit message. I believe we need to amend

[2018-02-24 07:32] gmlewis commented on #840
Ah, yes... you are right, @kshitij10496.
I'm sorry about that.

@shurcooL - to amend the commit message, do I need to revert that commit and then issue a new commit with the fixed message?

[2018-02-27 16:32] #838 closed

[2018-02-28 04:49] kshitij10496 commented on #851
Thanks for raising this issue.
After some digging, I found that the `Installation` struct could use some new fields for wrapping a response.

Reference: [Get a Single Installation](https://developer.github.com/v3/apps/#get-a-single-installation)
[code]
Currently, we support only few fields of the response in the [Installation struct](https://github.com/google/go-github/blob/master/github/apps_inst

[2018-02-28 04:57] gmlewis commented on #851
I think that if we are consistent with the rest of the repo in selectively choosing which fields to add, then that would be great.

For example, in the majority of structs, we don't enumerate every possible `*_url` field simply because they aren't useful when using our Go package for all API access. In other words, the `url` fields don't typically provide benefit to the user of our package.

But t

[2018-02-28 14:02] sridharavinash commented on #851
@kshitij10496 @gmlewis  I'm happy to add the extra non-`url` fields where it makes sense. I'm inclined to address those in a separate PR, but can be convinced to include it in the current one 😄.

From a user's standpoint I required the `app_id` to make associations with the `installation_id` since these can be different. The other interesting fields are the `permissions` and `events` so that a use

[2018-03-01 03:51] MonicB14 commented on #856
Is this issue still available for contribution?

I am new to Golang and OpenSource. I would like to contribute to this feature.

[2018-03-01 12:11] DirtyF commented on #856
ProTip™: Don't ask for permission if it's not clearly stated someone is already working on this, open a PR early on and present how you want to solve this issue, to get you started.

[2018-03-01 12:15] cpanato opened #858 "Question: get all Pr that are waiting for review from one specific user"
Hello, I was checking the code and did not find a filter or an API call that returns all pending review from one specific user.

in the UI we can use the filter: `is:open is:pr review-requested:USERNAME`

I tried to set the `PullRequestListOptions` but did not work :/

is that possible? or do I need to get all the PRs and then iterate using the `ListReviewers`?

thanks so much

[2018-03-01 12:43] sahildua2305 commented on #856
@gjacquet you mentioned that you'd be interested in contributing to this. Is that still the case? If not, @MonicB14 can work on it. 🙂

[2018-03-01 13:43] gjacquet commented on #856
I’m still interested!

[2018-03-01 18:11] gmlewis commented on #856
Whups!  I dropped the ball.  I'll send invites out so that you both can be assigned issues in this repo.  Please make sure your two-factor authentication is turned on for GitHub before you accept the invitation.
Once you accept, I'll assign this issue to you, @gjacquet since you spoke up first.

Thank you both for your interest and your help!  It is greatly appreciated.

[2018-03-01 18:20] gmlewis commented on #851
Sure, a separate PR would be fine.

[2018-03-01 18:59] #851 closed

[2018-03-01 19:06] sridharavinash commented on #851
Awesome! Thanks for merging! I'll create a new PR to address the remaining fields. 🙇

[2018-03-02 06:34] shurcooL commented on #840
@gmlewis Sorry about the response delay, my notifications overflowed.

It's not possible amend the commit message after it's been pushed to `master`, not without force pushing. I don't think it's worth it to revert the commit—it's just a commit message. It's unfortunate that it has the wrong issue number, but not critical. Anyone can follow the links and figure out what happened. We can just reope

[2018-03-02 06:49] gmlewis commented on #840
OK, sounds good.  Thank you, @shurcooL!

[2018-03-02 10:34] JensRantil opened #859 "AppEngine now supports Go 1.8"
AppEngine now [supports Go 1.8](https://cloud.google.com/appengine/docs/standard/go/release-notes#october_25_2018). This means that you no longer need to run the `gofmt` command [here](https://github.com/google/go-github#google-app-engine).

[2018-03-02 12:30] andygrunwald opened #860 "Just a simple "Thank you""
I just want to leave a big Thank You to all contributors.

This library is so useful to automate a lot of tasks around Github. And I am sure that the work of more than 180 contributors has saved many hours per developer who can just focus on getting their stuff done. Thank you 👍

But even more important (for me): **I learned so much by reading the code of this library**.

* Service Structure: The

[2018-03-02 18:11] willnorris commented on #859
ooh nice, I hadn't realized that!  Would mind putting together a pull request to remove that?

[2018-03-02 20:47] shurcooL commented on #860
As one of the (many) [contributors](https://github.com/google/go-github/graphs/contributors), thank you for the thank you. :)

I agree with the 3 points you've raised. It's nice to see them written up and appreciated. I also am a big fan of those properties of the design of this library. I'll add one of my favorites to it:

- Conditional Requests via HTTP caching [`http.Transport`](https://godoc.o

[2018-03-05 17:54] #843 closed

[2018-03-05 17:57] MorrisLaw commented on #813
@gmlewis does this now have the info required to get started, since issue [#376](https://github.com/google/go-github/issues/376) has been closed via PR [#772](https://github.com/google/go-github/pull/772) or are there more things that need to get fleshed out before starting on this?

[2018-03-05 18:01] gmlewis commented on #813
Yes, @MorrisLaw, this is cleared for take-off. Thank you!

[2018-03-05 23:47] SamWhited opened #862 "No way to inspect the body after receiving a 202"
When a 202 is returned, an `AcceptedError` is returned by `client.Do` and the `resp.Body` is closed. The body is never read or decoded into the result parameter, so there is no way to inspect the body. However, I am beta testing an experimental endpoint that returns URLs you need to check the status of your request so I need access to the body.

I am not sure if any existing endpoints return a bod

[2018-03-06 05:36] shurcooL commented on #862
Can you clarify what you mean? Is it an experimental GitHub REST API v3 endpoint?

If/when GitHub does add an endpoint that returns meaningful data with 202 status code, then we can make changes to support reading the body. I don't think we should do it before that.

We would need to know the schema/encoding of the body to be able to parse it, otherwise the best go-github could do is return it as

[2018-03-06 06:19] shurcooL commented on #862
Thanks, that’s helpful.

I agree, we should support that endpoint returning the repository data when response status code is 202.

[2018-03-07 16:57] jusunglee opened #863 "review_requested PullRequestEvent (webhook) does not unmarshall properly for RequestedReviewers field"
The `PullRequestEvent` struct is set up incorrectly for webhooks. There is no field called RequestedReviewers in the payload for a `PullRequestEvent`. There is a `RequestedReviewer` field but the `RequestedReviewers` field is located inside the `PullRequest` object in the payload. Therefore, `RequestedReviewers` should actually be put inside `PullRequestEvent.PullRequest`, not on the highest level

[2018-03-07 18:55] gmlewis commented on #863
Thank you for the report, @jusunglee, but I believe this issue will be resolved by #824. Please take a look at that and see if you agree.

[2018-03-07 20:26] jusunglee commented on #863
@gmlewis Ah, agreed. However they have not responded in a week, I can copy their fork and work on the comments distinctions that you've requested?

[2018-03-07 20:31] jusunglee commented on #863
Sounds good! Thanks for being so prompt, this is a good experience for me so far :)

[2018-03-08 14:42] jusunglee commented on #863
went ahead and incorporated #824 into #864 , and added the requested comment changes. If @lyoshenka does not respond soon let's just route the issue to this one instead.

[2018-03-08 20:19] jusunglee commented on #863
@gmlewis Looks like @lyoshenka has not responded, can we shift focus on the issue to #864 ?

[2018-03-13 17:55] JensRantil commented on #859
https://godoc.org/github.com/google/go-github/github#hdr-Google_App_Engine also needs to be updated.

[2018-03-14 15:48] SteelPhase opened #870 "Incorrect Accept header in DownloadReleaseAsset."
https://github.com/google/go-github/blob/d2b80df1e3eeccae96eb1cb489e65372cc9550c8/github/repos_releases.go#L256

I was able to confirm with curl, that removing `mediaTypeGraphQLNodeIDPreview` from the Accept header will result in the server returning the correct response.

With the `mediaTypeGraphQLNodeIDPreview` Accept header the v3 json response is returned.

[2018-03-19 17:38] shurcooL commented on #664
It seems to me that GitHub has updated the docs by now, and I'm not aware of what exactly we're waiting on them, so removed that label. I think PR #791 will resolve this issue (let me know if not).

[2018-03-19 23:16] #863 closed

[2018-03-19 23:32] shurcooL commented on #870
Thanks for reporting. I suspect this is a bug that affects all GitHub versions. `mediaTypeGraphQLNodeIDPreview` should not have been added to that endpoint, because it operates on binary data, not JSON.

We should remove `mediaTypeGraphQLNodeIDPreview` from it.

[2018-03-20 19:10] #859 closed

[2018-03-21 06:23] shurcooL commented on #858
This is possible via the search issues endpoint:

https://developer.github.com/v3/search/#search-issues. https://godoc.org/github.com/google/go-github/github#SearchService.Issues

You’d need to set the search query to `is:open is:pr review-requested:USERNAME`.

[2018-03-21 10:27] cpanato commented on #858
thanks!

[2018-03-21 10:27] #858 closed

[2018-03-21 19:44] rhysd commented on #870
I'm also facing this problem even if I use GitHub API (not enterprise). After the `mediaTypeGraphQLNodeIDPreview` is added, a downloaded binary file with the method is broken. I confirmed that removing `mediaTypeGraphQLNodeIDPreview` from the custom accept headers fixed the problem.

[2018-03-22 18:17] gmlewis opened #875 "Support preview Hovercard API"
GitHub Developer API announcement:
https://developer.github.com/changes/2018-03-21-hovercard-api-preview/

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue, and we can send you an invite to contribute to the repo (which you then accept after you enable two-factor authentication) and

[2018-03-22 18:24] gmlewis opened #876 "Support preview Protected Branches API"
GitHub Developer API announcement:
https://developer.github.com/changes/2018-03-16-protected-branches-required-approving-reviews/

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue, and we can send you an invite to contribute to the repo (which you then accept after you enable two-fa

[2018-03-22 18:26] gmlewis opened #877 "Support preview Reactions API"
GitHub Developer API announcement:
https://developer.github.com/changes/2018-03-16-team-discussion-reactions-api-and-apps-endpoints/

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue, and we can send you an invite to contribute to the repo (which you then accept after you enable two

[2018-03-24 14:20] urohit011 commented on #877
I would like to take it on.

[2018-03-24 15:15] gmlewis commented on #877
Thank you, @urohit011! Invite sent.
Once you have two-factor authentication enabled, you can accept the invite and I can assign this issue to you.

[2018-03-24 15:31] urohit011 commented on #877
Thanks @gmlewis, I have enabled two factor authentication and accepted the invitation.

[2018-03-27 05:14] #870 closed

[2018-03-27 21:29] victoryNap opened #879 "Extending branch protection to include number of reviewers"
Currently the PullRequestReviewsEnforcement struct doesn't contain the `required_approving_review_count` object that is available through the API. Working on a PR to add it.

https://github.com/google/go-github/blob/master/github/repos.go#L562-L568

https://developer.github.com/v3/repos/branches/#get-branch-protection

[2018-03-28 03:04] #664 closed

[2018-03-28 14:51] scriptonist commented on #876
@gmlewis Is it okay take up this issue? I've already made a couple of contributions in the past.

[2018-03-28 15:27] gmlewis commented on #876
Sounds great, @scriptonist! Thank you.

[2018-03-28 16:03] MonicB14 commented on #875
@gmlewis I will be happy to take this issue. Please feel free to assign it to me.

[2018-03-28 16:22] victoryNap commented on #879
@gmlewis would you mind taking a look at this?

[2018-03-28 16:58] gmlewis commented on #879
Thanks, @victoryNap. I commented on the PR.

[2018-03-28 17:01] victoryNap commented on #879
Reviewing and making changes now. Thanks for the feedback.

[2018-03-28 19:29] gmlewis commented on #875
Thank you, @MonicB14!  I assigned it to you.

[2018-03-29 15:55] gmlewis opened #884 "Support preview Organization Project Permissions API"
GitHub Developer API announcement:
https://developer.github.com/changes/2018-03-28-organization-project-permissions/

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue, and we can send you an invite to contribute to the repo (which you then accept after you enable two-factor authenti

[2018-03-29 18:27] shurcooL opened #885 "Rename "id" parameter to "commentID" in IssuesService."
The endpoints that touch comments in `IssuesService` are very different from ones that touch issues. Comment-related endpoints take the comment ID (an `int64` now), while issue-related endpoints use the issue number (an `int`):

[code]

Using `id` can be misleading, people can think it refers to the issue ID.

`GistsService` sets a good example by calling the parameter `commentID` in its `GetComme

[2018-03-30 03:14] scriptonist commented on #876
I guess the preview period for  [protected branches](https://developer.github.com/changes/2015-11-11-protected-branches-api/)  has ended which is detailed [here](https://developer.github.com/changes/2017-09-06-protected-branches-preview-end/).

[2018-03-30 03:17] scriptonist opened #887 "preview period for protected branches has ended"
I guess the preview period for  [protected branches](https://developer.github.com/changes/2015-11-11-protected-branches-api/)  has ended which is detailed [here](https://developer.github.com/changes/2017-09-06-protected-branches-preview-end/).I think this will be a good time to remove the preview headers.

[2018-03-30 17:16] willnorris commented on #887
we only drop the preview headers when they are no longer needed in GitHub Enterprise, which typically lags behind by a month or two.

[2018-03-31 13:27] weppos commented on #537
Sorry to jump into the conversation, but this is a very interesting feedback. I'm having pretty much the same issue for a client to our API (which has to interact to a service in a very similar way to GitHub API, and for which I took some inspiration long time ago from this client).

I'd be interested to get a sense on what path you would follow could you start today.

I was aware of this decision

[2018-03-31 15:51] ganeshmannamal commented on #884
hello @gmlewis I would like to contribute to this issue. Thanks

[2018-03-31 16:26] #887 closed

[2018-03-31 20:01] shurcooL commented on #537
I like using `Request` objects (e.g., `IssueComment` vs `IssueCommentEdit`). It leverages the Go type system to ensure you don't try to set fields that shouldn't be (e.g., see a recent issue #885).

However, that is somewhat orthogonal to whether you use pointers in the domain types. You still need to use pointers if you want to be able to tell whether the field was included and set to zero value,

[2018-04-02 04:32] gmlewis commented on #884
Thank you, @ganeshmannamal! I've sent you an invite.

[2018-04-02 04:49] ganeshmannamal commented on #884
thanks @gmlewis accepted

[2018-04-03 07:43] weppos commented on #537
Indeed. The main difference is that you won't have to update the whole codebase, nor force all types to have pointers.

Thanks for the feedback.

[2018-04-11 04:51] #658 closed

[2018-04-16 15:35] shurcooL commented on #856
This has been implemented via PR #866 and merged as commit 64f8f21e24feb72595a384afcf66f9caa7106fbf.

Thanks @gjacquet!

[2018-04-16 15:35] #856 closed

[2018-04-18 12:34] gmlewis opened #895 "Support additional endpoints for GitHub Apps API"
GitHub Developer API announcement:
https://developer.github.com/changes/2018-04-17-additional-endpoints-for-github-apps/

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue, and we can send you an invite to contribute to the repo (which you then accept after you enable two-factor auth

[2018-04-18 23:06] xabxx commented on #895
@gmlewis could you send me an invite? would like to be assigned to this issue. thanks!

[2018-04-18 23:53] gmlewis commented on #895
It looks like I'm currently unable to send invites. @willnorris - could you please send @xabxx an invite and also assign this issue to @xabxx ? Thanks!

[2018-04-20 21:51] xabxx commented on #895
@gmlewis @willnorris hey guys, any updates?:)

[2018-04-20 22:11] gmlewis commented on #895
Hi @xabxx, I recommend just going ahead to start working on it... don't let the assignment hold you up. It is pretty clear from this thread that you are planning on working on it, so others shouldn't start work until they check here on this thread.  :grin:

[2018-04-23 12:45] tusharm opened #897 "Add 'pull_request_review_id' field to PullRequestComment"
Hi,

The Github v3 API has a `pull_request_review_id` field in pull request comments (see [this](https://developer.github.com/v3/pulls/comments/#list-comments-on-a-pull-request)). I wanted to use this field to associate comments to reviews but the current [api](https://github.com/google/go-github/blob/master/github/pulls_comments.go#L15) doesn't support it.

I'm happy to raise a PR for this.

Than

[2018-04-23 22:31] shurcooL opened #900 "OrganizationsListOptions and UserListOptions shouldn't have ListOptions field."
While reviewing #899, I spotted what I believe to be an issue with the `OrganizationsService.ListAll` method. It takes an `opt *OrganizationsListOptions` parameter, which is:

https://github.com/google/go-github/blob/69ab5d997213689855e5db797eb5016ad0cc957a/github/orgs.go#L74-L81

According to the GitHub API docs for that endpoint, available at https://developer.github.com/v3/orgs/#list-all-organi

[2018-04-23 22:38] shurcooL commented on #900
The same issue affects `UserListOptions` struct:

https://github.com/google/go-github/blob/69ab5d997213689855e5db797eb5016ad0cc957a/github/users.go#L137-L144

Its documentation (https://developer.github.com/v3/users/#get-all-users) also says:

[2018-04-23 22:39] shurcooL commented on #900
But `RepositoryListAllOptions` does **not** have this issue:

https://github.com/google/go-github/blob/master/github/repos.go#L231-L236

[2018-04-24 00:10] tusharm commented on #897
Thx!

[2018-04-25 10:47] sandlis commented on #900
@shurcooL Can you please send me an invite? I would like to work on this.

[2018-04-25 18:41] shurcooL commented on #900
I don't have permissions to send out invites, but maybe @willnorris or @gmlewis can.

In the meantime, feel free to start working on this. It should be clear to readers of this issue.

Please note, the first step of making progress here should be to confirm the issue is valid. It's currently labeled as `NeedsInvestigation`. Once we've confirmed the original analysis is correct, we can move this to

[2018-04-26 01:56] #897 closed

[2018-04-26 06:35] sandlis commented on #900
Thanks @willnorris for the invite!
Looking at the docs it does look like an issue to me.
I tried hitting both /users and /organizations API directly, without using go client, 'page' param does not seem to have any impact but 'per_page' param does.

https://api.github.com/users?since=135&per_page=1
https://api.github.com/organizations?since=135&per_page=1

Should I wait till any of the mentors conf

[2018-04-26 17:16] shurcooL commented on #900
Thanks a lot for investigating this @sandlis!

Actually, your findings confirm to me that this issue isn't as black and white as I originally thought (where my suspected fix was to remove `ListOptions` from `OrganizationsListOptions`).

I think I misinterpreted the GitHub documentation. When it said:

I took that to mean "since" is the only parameter supported, "page" and "per_page" are not.

Howe

[2018-04-27 06:26] sandlis commented on #900
@shurcooL I sent them a request from support page to check it.
Will update here when I get any response from them.

[2018-04-27 19:55] shurcooL commented on #900
Thanks for contacting them, this is very helpful.

go-github already supports a small number of undocumented (but often used and seemingly endorsed by GitHub) API endpoints; specifically, for fetching user/org/repo by ID. You can find them by searching for "undocumented" at https://godoc.org/github.com/google/go-github/github.

If we didn't already have those `ListOptions` embedded, then I agree,

[2018-04-28 02:20] majormoses opened #902 "[Feature Request] Support setting branch protection for "Signed Commits""
Support adding branch protection for signed commits:
https://developer.github.com/v3/repos/branches/#add-required-signatures-of-protected-branch

![image](https://user-images.githubusercontent.com/3145127/39390795-bb3c6944-4a4e-11e8-962f-c84e4f7bea12.png)

[2018-04-28 07:50] sandlis commented on #900
That sounds good.
What about ListOptions.Page? Do we want to do anything about it?

[2018-04-29 15:06] sandlis commented on #900
@shurcooL

https://github.com/google/go-github/pull/903

Please review this pull request for mentioned documentation updates.

[2018-04-30 12:43] gmlewis commented on #895
Updated GitHub Developer API announcement for this issue:
https://developer.github.com/changes/2018-04-25-new-user-to-server-endpoints-for-github-apps/

[2018-04-30 12:49] gmlewis commented on #849
Since the discussion was started here, reopening issue to track the changes in #904.

[2018-05-01 03:37] majormoses opened #905 "[Feature Request] Support Branch protection for setting `required_approving_review_count`"
Per the [rest api docs](https://developer.github.com/v3/repos/branches/#update-branch-protection) you can send `required_approving_review_count` as part of the `required_pull_request_reviews` object with an integer between 1-6 which represents the number of people required to approve the request in larger teams it is not uncommon to want more than a single approval before merging.

![image](https:

[2018-05-01 13:57] victoryNap commented on #905
I started the work on this but got side tracked. Will finish it up.

https://github.com/google/go-github/pull/880

[2018-05-03 09:14] sandlis commented on #828
Hey @anirudhmurali, are you working on this?
If not, would you mind if I pick this up?

[2018-05-03 09:17] anirudhmurali commented on #828
No, you can go ahead.

[2018-05-04 00:51] #900 closed

[2018-05-04 11:05] xh3b4sd opened #908 "requesting reviewers does not work at all"
I am about to script some logic we want to do on a regular basis. It is basically about creating PRs automatically. I tried to implement the requesting of reviewers and noticed that this does not do anything AFAICS. See https://godoc.org/github.com/google/go-github/github#PullRequestsService.RequestReviewers. The PR I created with my script is https://github.com/giantswarm/test-operator/pull/1. In

[2018-05-05 13:40] xh3b4sd commented on #908
FYI as a workaround I can go with pinging reviewers in the PR description or comments. I would anyway like to get this sorted in a clean way.

[2018-05-05 18:41] joan-saum opened #909 "GetIgnoreTemplat doesn't work"
Hi

It seems there is a problem with the function GetGitIgnoreTemplate()

I tried it on many repository but it return nothing all the time
I also create a repository with a C gitignore template here : https://github.com/joan-saum/testGitIgnore
but still the function return me nothing.

Is it the good way to know if a repository contain a .gitignore file or should i use something else ?

[2018-05-05 20:25] gmlewis commented on #909
Hi @joan-saum,

When in doubt, it is a good idea to check the source code:
https://github.com/google/go-github/blob/master/github/github-accessors.go#L7895-L7901

[code]

What you are seeing here is an accessor that makes it easy to access a field of a returned `Repository` struct, and this (at least by itself) is probably not what you want.

If you actually want the contents of the `.gitignore` f

[2018-05-05 22:28] joan-saum commented on #909
Hi @gmlewis and thank you for your answer

Actually, i don't really care about the contents of the `.gitignore` files. I just want to know if there is a `.gitignore` file in a specific repository.

I thought `GetGitignoreTemplate` could help me to do it simply but i think this is not for what i want.
I will use the GitHub API, list the content of the repo and check if there is a `.gitignore`

Than

[2018-05-05 22:28] #909 closed

[2018-05-06 09:16] andygrunwald commented on #860
I will close this now because here is no action needed instead of drinking a ☕️ or a 🍺 and celebrate.

[2018-05-06 09:16] #860 closed

[2018-05-07 16:42] victoryNap commented on #879
@gmlewis @shurcooL When you get a minute, I've updated the PR for this.

[2018-05-08 13:01] gmlewis commented on #828
Thank you, @sandlis! Now that we tag this repo with semantic versioning, we no longer have a `libraryVersion` so there is no further action needed on your part.

[2018-05-09 12:50] jusunglee opened #912 "Error codes for failed repo webhook requests are "Unknown""
`Repositories.ListHooks(ctx, owner, repository, opts)` returns hooks, response, and error. If response failed with codes such as `404` or `403`, this is not reflected in the error code. Using `errors.Code(err)` when `response` returns an error HTTP status code will simply return `codes.Unknown`, when it should really be `codes.PermissionDenied` or `codes.NotFound`.

Propose a change where we map H

[2018-05-09 20:52] sridharavinash opened #913 "Support the new Checks API (beta)"
The new Checks API was recently announced in https://developer.github.com/changes/2018-05-07-new-checks-api-public-beta/

While it's currently in beta and supports only GithHubApps, it might be worthwhile adding support.

I'm happy to get an initial PR going for this.

[2018-05-15 20:10] jon-whit opened #915 "Utilizing Same API Client Pattern in another API Client Library"
First off, major kudos to the authors of this API client library. It's really well written and uses some great design patterns for API client libraries. I'm super impressed!

That being said, I'm also working on an API client library that interacts with another API that is *not* GitHub. Is it ok if I reference similar structures and design patterns that I've noticed in this source in my own API cl

[2018-05-16 02:05] gmlewis commented on #915
@willnorris is the original author of this library and deserves the lion's share of your compliments. Thank you for the kind words! Will is also the person who can give you guidance on derivative works.

[2018-05-16 16:28] jon-whit commented on #915
@gmlewis and @shurcooL thank you and keep up the awesome work!

[2018-05-16 17:09] willnorris commented on #915
Thanks, I'm glad it's been useful for you.

I can't give you specific legal advice on open source licenses, but I can give you some general principles:

- if you're actually copying and pasting code from an open source library, then the original license of the library generally still applies.  All open source allow for these kinds of derivative works, though some impose certain additional obligati

[2018-05-16 20:07] jon-whit commented on #915
@willnorris awesome, thank you very much for your detailed response! Happy coding :)

[2018-05-16 20:07] #915 closed

[2018-05-22 02:12] gmlewis commented on #895
Another updated GitHub Developer API announcement for this issue:
https://developer.github.com/changes/2018-05-21-additional-endpoints-for-github-apps/

[2018-06-01 13:25] gmlewis opened #917 "Remove custom media type for Marketplace API"
GitHub Developer API announcement:
https://developer.github.com/changes/2018-05-22-marketplace-api/

The custom media type `application/vnd.github.valkyrie-preview+json` can be removed from `github.go` as the "Marketplace API" is no longer in preview but has become official.

[2018-06-01 13:30] gmlewis commented on #913
Here are some recent updates to the Checks API:

GitHub Developer API announcement:
https://developer.github.com/changes/2018-05-23-request-actions-on-checks/

[2018-06-01 13:44] gmlewis opened #918 "Support additional endpoints for the Migrations API"
GitHub Developer API announcement:
https://developer.github.com/changes/2018-05-24-user-migration-api/

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue, and we can send you an invite to contribute to the repo (which you then accept after you enable two-factor authentication) and th

[2018-06-01 13:49] gmlewis opened #919 "Remove custom media type for global node IDs"
GitHub Developer API announcement:
https://developer.github.com/changes/2018-05-30-end-jean-grey-preview/

The custom media type `application/vnd.github.jean-grey-preview+json` can be removed from `github.go` as it is no longer needed. Also please verify that `application/vnd.github.v3+json` is being sent in the header.

[2018-06-03 20:14] petar-dambovaliev opened #921 "Getting the user via sending an empty string"
I don't like this, it seems like it's unclear and hacky.
I think there should be an explicit method for this.

https://github.com/google/go-github/pull/920

[2018-06-04 16:52] nmiyake opened #922 "Support "truncated" field for Git tree in Git.GetTree"
Per https://developer.github.com/v3/git/trees/, Git trees returned by the "GetTree" API call have a `truncated` field that indicates whether or not the entries in the returned tree were truncated:

Currently, `go-github` does not have this field in its `Tree` object -- it would be nice to add it so that clients can determine whether or not the result they received was truncated.

[2018-06-04 18:07] nmiyake commented on #922
For reference/testing, the following query returns a result with `truncated: true`:

[code]

The same query without the `recursive=1` returns with `truncated: false`.

[2018-06-05 09:08] sanketpayghan commented on #918
Can you send me an invite. I am new to golang but Would like to work on it.

[2018-06-05 09:32] willnorris commented on #918
@sanketpayghan: invite sent.

[2018-06-05 11:41] sanketpayghan commented on #918
Thanks @willnorris

[2018-06-05 12:04] sanketpayghan commented on #918
Working on this

[2018-06-05 17:23] haya14busa opened #924 "Cannot specify preview API accept header with non-json type"
For example, GitHub apps API need preview accept header `application/vnd.github.machine-man-preview+json`
https://developer.github.com/apps/building-github-apps/authenticating-with-github-apps/

If the GitHub apps need to access non-json type endpoint such as getting diff of PullRequest, need to set
`application/vnd.github.machine-man-preview.diff`
as documented in https://developer.github.com/v3/

[2018-06-05 17:58] MattAlp commented on #917
Can I take this issue?

[2018-06-05 18:10] haya14busa commented on #924
Sorry, i thought i confirmed it works but it actually not. maybe GitHub problem...

[2018-06-05 18:10] #924 closed

[2018-06-06 04:05] S2606 commented on #919
@gmlewis I would like to work on this. Also should this media type `application/vnd.github.jean-grey-preview+json` be replaced by `application/vnd.github.v3+json`

[2018-06-06 04:08] S2606 commented on #919
@gmlewis I would like to work on this

[2018-06-09 02:15] gmlewis commented on #917
That would be great, @MattAlp! Thank you.

[2018-06-12 00:18] MattAlp commented on #917
Thank you, @gmlewis! I have opened pull request #928 after following the CONTRIBUTING.MD instructions.

[2018-06-15 14:42] dmitris opened #930 "addition of preview Accept headers in RepositoriesService.ListByOrg causes errors with GHE"
Preview headers cause server 500 Errors with GHE (observed with GHE version 2.11 - in particular, it is the `application/vnd.github.scarlet-witch-preview+json` header that is causing it).  It happens rarely - only on some requests with some specific `page` parameter value - but when it does, it happens consistently (always for the same request / URL) thus preventing the listing of public repositor

[2018-06-16 05:13] haya14busa opened #932 "Support new endpoints to find app installations"
https://developer.github.com/changes/2018-06-15-find-app-installations/

I'll work on supporting this feature if anyone else hasn't already worked on it.

[2018-06-23 17:52] nmiyake opened #935 "Add "repositories" field to InstallationEvent"
The webhook payload example in https://developer.github.com/v3/activity/events/types/#installationevent for `InstallationEvent` includes a `repositories` field that contains the list of repositories for the installation. I've verified in my own testing that webhook events include this field.

This field should be added so that event handlers can access the repositories for an installation when han

[2018-06-23 20:19] nmiyake opened #937 "Add UpdateRequiredStatusChecks function"
Add function for endpoint described at https://developer.github.com/v3/repos/branches/#update-required-status-checks-of-protected-branch.

[2018-06-23 22:14] MorrisLaw commented on #813
Sorry for the late PR, but it's in now! (: @gmlewis

[2018-06-24 01:19] #935 closed

[2018-06-25 19:32] chrsmith opened #940 "ParseWebHook fails to recognize integration_installation events"
The `ParseWebHook` method fails to recognize events of type `integration_installation`. This is likely due to the type being missing from a few maps that `ParseWebHook' relies on to generalize deserializing GitHub webhook payloads.

See https://github.com/chrsmith/go-github/commit/3cde788ec77c510e6990fcd62e571ef81f448332 for a similar change that hooks up a couple other missing event types.

[code

[2018-06-25 19:41] chrsmith commented on #940
Taking a closer look, the behavior is expected and the library is doing the right thing by not supporting it.

See https://developer.github.com/webhooks/#events. The `integration_installation` webhook event is deprecated (and so `go-github` shouldn't support it) and instead, clients (like me and people who stumble upon this issue in the future) should instead use `installation` and `installation_r

[2018-06-25 19:41] #940 closed

[2018-07-04 15:15] #932 closed

[2018-07-07 02:56] gmlewis opened #941 "Support new API parameters for project card archiving"
GitHub Developer API announcement:
https://developer.github.com/changes/2018-06-27-project-card-archiving/

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue, and we can send you an invite to contribute to the repo (which you then accept after you enable two-factor authentication) an

[2018-07-09 10:02] liwandaniel opened #942 "how to clone directory from github?"
`client.Repositories.GetContents` is able to get downLoadUrl for one file
is there any API to clone a directory from specific repo?

[2018-07-09 11:46] gmlewis commented on #942
I think what you want is called a "git sparse checkout".
Please see https://stackoverflow.com/questions/600079/how-do-i-clone-a-subdirectory-only-of-a-git-repository for more details.

[2018-07-09 12:52] liwandaniel commented on #942
thx a lot, I got it, this is how git works
How does "git sparse checkout" work in "go-github"? I want it works in Golang

[2018-07-09 13:04] gmlewis commented on #942
This repo is all about making calls to the [GitHub v3 API](https://developer.github.com/v3/?) which is quite different from making calls to the command-line tool [`git`](https://git-scm.com/doc).

That said, however, it should be very easy to do what you want from Go by using the [exec](https://godoc.org/os/exec) package. Simply make a call to command-line `git` and pass it all the arguments you n

[2018-07-09 13:06] liwandaniel commented on #942
ok, I will try using Go command-line tool, thx a lot

[2018-07-09 13:11] #942 closed

[2018-07-10 03:30] rluisr opened #943 "How to use this library on GHE?"
I want to use this library GItHub Enterprise.

[2018-07-10 03:37] gmlewis commented on #943
Just create a client and change your [`BaseURL`](https://github.com/google/go-github/blob/master/github/github.go#L129-L132) to point to your locally-hosted (enterprise) instance of GitHub and you should be up and running.

Please let us know if you have any problems.

[2018-07-10 07:02] sanketpayghan commented on #941
I would like to work on this.

[2018-07-10 12:52] alexellis commented on #236
Nice to see @elliott-beach again - this issue manifests as a bug with much head scratching and wasted time. Perhaps now that there are multiple consumers with this specific issue, we could fix this issue using this library. What are your thoughts 3 years on?

Alex

[2018-07-11 05:34] rluisr commented on #943
@gmlewis Thanks a lot. working.

[2018-07-11 05:34] #943 closed

[2018-07-11 19:17] nmiyake opened #944 "Add support for pre-receive hooks API"
https://developer.github.com/v3/repos/pre_receive_hooks/

This API is only available to GitHub Enterprise instances, but it's still a published part of the API so I think that adding support for this in this library would make sense.

[2018-07-11 21:23] nmiyake commented on #944
Not sure what the stance of this project is on GHE-only APIs, but opened a PR that implements this.

If this project does not plan to accept GHE-only APIs, would appreciate any feedback/thoughts on how to deal with this (short of maintaining a fork)

[2018-07-12 12:57] juliaferraioli opened #946 "Transfer request has incorrect json name for specifying team ids"
As pointed out in the [recent comment on the PR](https://github.com/google/go-github/pull/788#discussion_r201838235) for adding support, the json name should be `team_ids`, not `team_id`.

[2018-07-12 12:58] juliaferraioli commented on #946
I can fix this up really quickly if you want to assign it to me :-)

[2018-07-12 16:47] #946 closed

[2018-07-12 16:52] dmitshur commented on #946
Thanks for following up on this @juliaferraioli!

As an aside, I got a chance to use the Repository Transfer API recently (I changed my GitHub username and wanted to move all my repos under old name to preserve import paths), and it worked great. Thanks for implementing it! :)

[2018-07-12 18:20] gmlewis commented on #913
...and some more recent updates to the Checks API:
https://developer.github.com/changes/2018-07-11-graphql-checks-preview/#changes-to-the-checks-rest-api

[2018-07-13 00:22] gmlewis commented on #944
Yes, we definitely like this repo to support both the public GitHub server and also enterprise instances of the GitHub v3 API whenever possible.

Thank you for doing this, @nmiyake!

[2018-07-13 02:16] emersonwood opened #948 "Invalid PullRequestComment InReplyTo JSON tag"
The PullRequestComment InReplyTo JSON tag mismatches the one returned from the API, so the value is always encoded as nil.

The current tag is `in_reply_to`: https://github.com/google/go-github/blob/e96f1f1b07a5be7cba161bc7c1fd636044bfd75c/github/pulls_comments.go#L17

Whereas the correct one is `in_reply_to_id`. Relevant docs: https://developer.github.com/v3/pulls/comments/#get-a-single-comment

[2018-07-13 02:30] emersonwood commented on #948
Actually, this looks to be an inconsistency with the GitHub API.

Getting a comment returns `in_reply_to_id`: https://developer.github.com/v3/pulls/comments/#get-a-single-comment

Creating a comment takes `in_reply_to`: https://developer.github.com/v3/pulls/comments/#create-a-comment

Trying to create a comment with this PR returns a 422 error, `in_reply_to` wasn't supplied.

[2018-07-14 09:59] sanketpayghan commented on #941
As per mentioned in API documentation, I am sending `archived = false` in updateProjectCard API but it is not restoring it back. I am calling ListProjectCards API and there `archived=true` even after update API with `archived=false`.

I am doing something wrong or Is this bug?

[2018-07-15 18:10] sanketpayghan commented on #941
@gmlewis

[2018-07-15 23:35] gmlewis commented on #941
I'm afraid I don't know.

I have found over the years that the GitHub tech support team is super friendly and helpful.

It might be a good idea to fire off an email to support@github.com and tell them you are asking a question about this specific GitHub v3 API (and send them links to the docs you are reading) and state the problem and what you are observing. Could you please do that, @sanketpaygha

[2018-07-15 23:43] #813 closed

[2018-07-16 08:53] sanketpayghan commented on #941
@gmlewis sure will do

[2018-07-16 18:01] #948 closed

[2018-07-23 15:29] #941 closed

[2018-07-23 16:19] mohanprasaths commented on #918
@sanketpayghan  If you are not working on this  I would like to work on this

[2018-07-24 14:33] joan-saum opened #956 "Add Issue/PR template in CommunityHealthFiles"
Thanks to this endpoint : https://developer.github.com/v3/repos/community/

We can get some interesting datas.
Type CommunityHealthFiles contain CodeOfConduct, Contributing, License and Readme files, but not issue template and pull requests files. It might be a good idea to include them into CommunityHealthFiles

[2018-07-25 00:59] gmlewis commented on #956
Thank you, @joan-saum!

Yes, specifically, we could add support for these fields:

[code]

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue, and we can send you an invite to contribute to the repo (which you then accept after you enable two-factor authentication) and the issue can b

[2018-07-25 01:01] gmlewis commented on #956
I'm thinking that we could simply reuse the `Metric` struct in both cases in the file `repos_community_health.go` and the `Name` and `Key` fields would simply not be populated.

[2018-07-25 01:06] #913 closed

[2018-07-25 13:12] joan-saum commented on #956
I'm volunteer to handle this issue
I thought the same, simply reuse the `Metric` struct. It will better way to have a clean and common code.

[2018-07-25 21:36] vanugrah opened #958 "A note regarding baseURL's for enterprise Github instances."
To whomsoever it may concern,

There is an important caveat regarding the baseURL when creating clients for enterprise Github instances ( for example with the [**NewEnterpriseClient**](https://godoc.org/github.com/google/go-github/github#NewEnterpriseClient) method).

The baseURL of the public facing API is simply: `https://api.github.com/"`
However for enterprise Github instances the baseURL for

[2018-07-25 21:39] #956 closed

[2018-07-25 21:45] gmlewis commented on #958
Thank you, @vanugrah! We definitely want to make life easier for Enterprise GitHub users of this package.

We would greatly appreciate PRs that would help others to reduce or eliminate their pain points. If you or others could create these PRs (who are actually using this package with Enterprise GitHub), that would be excellent.

Also, wouldn't the `baseURL` be `https://github.<mycompany>.com/api/

[2018-07-26 03:48] gmlewis opened #959 "Support new Webhook Event for GitHub Apps using User-to-Server tokens"
GitHub Developer API announcement:
https://developer.github.com/changes/2018-07-25-github-app-authorization-event/

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue, and we can send you an invite to contribute to the repo (which you then accept after you enable two-factor authentica

[2018-07-26 16:13] sanketpayghan commented on #959
Will work on this

[2018-07-28 15:58] #918 closed

[2018-07-31 00:51] vanugrah commented on #958
Thanks for the reply @gmlewis - I'll submit a PR shortly. To answer your question regarding the baseURL, if the Github enterprise instance is hosted by Github then the `baseURL` would in fact be `https://github.<mycompany>.com/api/v3/` as you've mentioned. However in the case that enterprise instance is licensed and self hosted then it will likely have a subdomain under the companies domain i.e. `

[2018-07-31 13:05] #917 closed

[2018-08-01 01:04] #922 closed

[2018-08-02 03:07] #937 closed

[2018-08-02 03:09] #944 closed

[2018-08-03 11:55] lizebang opened #963 "SearchService.Repositories doesn't work well"
When I use SearchService.Repositories like this, there is a error.

[code]

Error:

[code]

The right URL is `https://api.github.com/search/repositories?q=language:golang+pushed:%3E2018-01-01+stars:%3E=200&sort=stars&order=desc&page=2&per_page=100`, not `https://api.github.com/search/repositories?order=desc&page=2&per_page=100&q=language%3Agolang%2Bstars%3A%3E%3D200%2Bpushed%3A%3E%3D2018-01-01&sor

[2018-08-04 01:53] gmlewis commented on #963
Ah, yes, you are quite right!  Thank you, @lizebang!

Looking at `search.go`, line 224, we set the query parameter like this: `params.Set("q", parameters.Query)` and then on line 228, we encode the parameters with `params.Encode`.

I tested this in the embedded examples playground here: https://golang.org/pkg/net/url/#Values
(result: https://play.golang.org/p/ye2rk_hq9zG ) and confirmed that `Valu

[2018-08-04 05:52] lizebang commented on #963
Thank you for your reply, @gmlewis

`Values.Encode` calls [`QueryEscape`](https://golang.org/pkg/net/url/#QueryEscape), but `parameters.Query` should not be escaped. If `parameters.Query` is escaped, GitHub will think this is an invalid field and return `422 Validation Failed`.

Is this correct?

[2018-08-08 17:56] #963 closed

[2018-08-09 05:46] shihanng opened #968 "Add additional fields to Project"
It seems that the current Project struct is missing a few fields:
- `columns_url`
- `html_url`
- `state`

https://github.com/google/go-github/blob/8c40ff417df53f2b031ca687be1b2e0bd7aa8fe9/github/projects.go#L20-L34

The documentation on GitHub: https://developer.github.com/v3/projects/#get-a-project

[2018-08-09 06:59] shihanng commented on #968
It seems that projects #969 is already addressing this issue 🎉.

[2018-08-09 16:28] parkr commented on #814
`node_id`'s are also present in webhook payloads, e.g. the `push` event has a `repository.node_id`, `sender.node_id`, etc.

[2018-08-10 15:13] gmlewis commented on #930
Thank you, @dmitris, for this PR, and sorry for the delay in reply.

We currently don't have a good way to support GitHub Enterprise customers with regards to removal of custom preview headers. It has always been the policy of this repo to attempt to support as many preview headers as possible and remove them when they are deprecated by the public GitHub API.

I'll leave this issue open to alerts

[2018-08-10 15:23] #919 closed, assigned to nobody

[2018-08-10 15:54] #828 closed

[2018-08-10 17:09] #875 closed

[2018-08-10 18:56] gmlewis commented on #876
Fixed by #880.

[2018-08-10 18:56] #876 closed

[2018-08-13 19:30] gauntface opened #976 "Should UpdateCheckRunOptions.Name be a pointer to a string?"
Just working on some changes and I wasn't sure if the Name field should be a string or pointer to a string:

https://github.com/google/go-github/blob/b93adc1c7febaf7dad1bed965e5310a86bc2623e/github/checks.go#L168-L170

[2018-08-13 22:01] #968 closed

[2018-08-14 01:17] gmlewis commented on #976
When I try to figure out the answer to this question, I first look at the GitHub Developer API docs and see if it is a required field.

In this case, although the docs don't say that `name` is required, it doesn't say 'optional' either and it seems like all calls should have the `name` field.

If the parameter is always passed and there are no circumstances where we don't want it to be passed, we

[2018-08-14 17:29] gauntface commented on #976
Totally makes sense, I just wanted to make sure. I had a hunch that it was because it was required, but still new to the lib and hadn't seen it anywhere else.

Thanks for the helpful response.

[2018-08-14 17:29] #976 closed

[2018-08-17 16:02] mrsimonfletcher commented on #827
FYI - I did not unassign this issue (I don't have access) 🤔. I also don't have access to assign an assignee so can't add you back, sorry @vaibhavsingh97.

cc @gmlewis

[2018-08-17 16:10] gmlewis commented on #827
Hehe... that's odd.  I'm not sure how that unassign happened.  Ah, actually I have a theory...

I think around late January we flipped a switch that required all contributors to have two-factor enabled in their account, and it booted out all contributors who didn't. Since GitHub just visited this issue due to your comment, it automatically unassigned.

At least, that's my theory and I'm sticking w

[2018-08-17 23:50] gmlewis opened #980 "Support changes to the Checks REST API"
GitHub Developer API announcement:
https://developer.github.com/changes/2018-08-16-changes-to-the-checks-rest-api/

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue, and we can send you an invite to contribute to the repo (which you then accept after you enable two-factor authentica

[2018-08-17 23:55] gmlewis opened #981 "Update AppsService.CreateInstallationToken with API changes"
GitHub Developer API announcement:
https://developer.github.com/changes/2018-08-16-renaming-and-deprecation-of-github-app-installation-access-token-route/

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue, and we can send you an invite to contribute to the repo (which you then accep

[2018-08-18 14:05] techmexdev commented on #980
can take this on!

[2018-08-19 16:45] UjjwalAyyangar commented on #981
I'd like to work on this.

[2018-08-19 16:56] UjjwalAyyangar commented on #981
@gmlewis I'd like to work on this.

[2018-08-19 16:57] UjjwalAyyangar commented on #981
@gmlewis I'd like to work on this.

[2018-08-21 00:46] gkze opened #984 "Add Topics API Preview"
This would be a very small change, adding `application/vnd.github.mercy-preview+json` (`mediaTypeTopicsPreview`) to `activity_star.go` and would allow the client to get topics for a starred repository.

[2018-08-21 00:52] gmlewis commented on #984
Thank you, @gkze, but could you please be more specific?

I'm looking through the GitHub Developer API docs here:
https://developer.github.com/v3/activity/starring/
and don't see any mention of this custom header.

[2018-08-21 01:00] gkze commented on #984
Sure, this feature was introduced a year ago: https://developer.github.com/changes/2017-07-17-update-topics-on-repositories/ and also works on `user/starred`, but this seems to be unclear / undocumented.

It seems to only be documented in the "Repositories" section: https://developer.github.com/v3/repos/#list-all-topics-for-a-repository

[2018-08-21 01:09] gmlewis commented on #984
OK, so if I understand you correctly, adding the `mediaTypeTopicsPreview` custom header to the following endpoints will return the topics for the starred repo:

* `ActivityService.ListStarred`
* `ActivityService.IsStarred`
* `ActivityService.Star`
* `ActivityService.Unstar`

correct?

[2018-08-21 01:16] gkze commented on #984
No - this header should only be passed in `ActivityService.ListStarred` as the rest of the calls do not return that data.

[2018-08-21 02:44] gkze commented on #984
I would like to volunteer for this issue.

[2018-08-30 23:26] #877 closed

[2018-08-31 01:27] tmc opened #988 "Include example for custom/caching transport and oauth usage"
Providing a custom Transport with oauth2 is a little verbose and having an example usage of it here would be useful:

`ctx := context.WithValue(oauth2.NoContext, oauth2.HTTPClient, client)`

[2018-08-31 02:09] tmc commented on #980
This passed the change deadline so someone should jump on it.

[2018-08-31 22:47] techmexdev commented on #980
feel free to take it on @jnewland

[2018-09-01 17:15] jnewland commented on #980
🎉 https://github.com/google/go-github/pull/990

[2018-09-02 01:28] #980 closed

[2018-09-03 16:44] urohit011 commented on #988
I would like to take it.

[2018-09-04 22:17] kytrinyx opened #992 "Heads up: stricter validation coming soon to the Update a release API endpoint"
Hi 👋 ,

I an engineer on the API team at GitHub. A colleague and I are currently going through GitHub's REST API, tightening up validations.

We noticed that google/go-github is passing undocumented parameters to the [Edit a release](https://developer.github.com/v3/repos/releases/#edit-a-release) endpoint.

In particular, we're receiving the following parameters which the endpoint doesn't know abo

[2018-09-05 08:58] jgsqware opened #993 "PullRequestEvent doesn't unmarshall Assignee field."
When receiving `PullRequestEvent`, there is `Assignee` field in the `JSON` but it's not unmarshalled in the `PullRequestEvent` struct.

[2018-09-07 16:04] kytrinyx commented on #992
I updated the original issue to say that we're still discussing our timeline for this, but wanted to give you a heads up so you're not caught by surprise. If you have an ETA for the fix and an idea of how long people would typically need in order to update their dependencies, that information would be very useful for us to have.

[2018-09-07 18:38] gmlewis commented on #992
Hi @kytrinyx... sorry for the delay, and thank you for this information!

Looking through the code, I see we use this struct heavily as a return value, but also use it as a request parameter both for `CreateRelease` and for `EditRelease`.

I'm thinking that the best option for fixing this would be to leave the API alone so that users of the repo can still easily get a `RepositoryRelease` response

[2018-09-07 18:44] dmitshur commented on #992
As @gmlewis said, that struct is one of many that are used both for for output and input. For input, the intention is for users to only use a subset of the fields that are supported by the GitHub API (per documentation).

The good news is that users of go-github that correctly use the API aren't going to be affected. The bad news is that this API is easy to accidentally misuse.

If the GitHub API

[2018-09-07 19:13] gmlewis commented on #992
Unless there are any objections, I plan on labeling this repo `v18.1.0` after a fix is merged, indicating that the API is not changed (if indeed that is the case, which is true for #997) but should be upgraded to in order to fix this issue.

Maybe the code itself should directly point to version `v18.1.0` (in the `CreateRelease` and `EditRelease` endpoint comments) in case people start seeing the

[2018-09-07 19:32] gmlewis commented on #993
Thank you, @jgsqware, but looking at https://developer.github.com/v3/activity/events/types/#pullrequestevent
I see that there is an `assignee` field under the `pull_request` object, but not at the top-level where you have placed it in #994.

If you have actually seen an `assignee` field at this location in GitHub API events, can you please contact `support@github.com` and ask them to confirm its e

[2018-09-07 20:44] gauntface opened #999 "Proposal: Make preview features Optional by default"
## Problem

A project I'm working on has an issue where a list of repos is returning a Server Error due to an additional `Accept` header being added (The "mediaTypeCodesOfConductPreview" header).

Removing this header fixes the problem but I can't do this with the current library implementation.

## Solution

Instead of adding these headers by default, we could move them to an Options parameter si

[2018-09-07 21:00] gmlewis commented on #999
First, I wonder why GitHub would return a `Server Error` for adding a documented preview header? Should you contact `support@github.com` to ask why that is happening?

Second, another option might be to provide a method to globally turn off (or back on) the addition of preview headers within this package... then the API remains the same for those unaffected by preview headers, but a simple switch

[2018-09-07 21:44] gauntface commented on #999
Yes to reaching out to GitHub support.

The global switch would unblock us, but would block others from adding different headers (i.e. headers the library doesn't have built in).

[2018-09-07 22:00] gauntface commented on #999
We could do the following:

A method that configures the default option to add or not add the headers and then use the RequestOptions as a way to override the defaults regardless.

This allows both a global configuration for default behavior with an easy way to override this regardless.

Another option is to simply keep everything as is and use RequestOptions as a way to override the defaults.

[2018-09-08 02:29] gmlewis commented on #999
I rather like the option where the default behavior is to use all preview custom headers (as has been the case with this package throughout its history), then be able to override this behavior for special cases if necessary.

[2018-09-08 06:43] jgsqware commented on #993
Sure I'll contact them, it's tested as I needed it.

The assignee in the top level is the one from the general event item,
present when action `assigned` or `unassigned` is used.

In case of `assigned` action, the Assignee` in `pull_request` object is
populated, but the other way around, when it's `unassigned`, the field is
emptied as it reflects the last state of the object.

Le ven. 7 sept. 2018

[2018-09-08 12:56] gmlewis commented on #993
Thank you for contacting GitHub Developer API tech support.  Please report back to this issue when you hear from them.

Meanwhile, we can go ahead with #994 since it solves the issues you were seeing.

[2018-09-08 12:57] #993 closed

[2018-09-08 23:05] dmitshur commented on #992
I think we have the following choices of what to do when a user incorrectly sets an unsupported field for `CreateRelease` and `EditRelease` endpoints:

1. Make it an impossible via API (by adding new structs containing only the supported fields). This requires a breaking API change.
2. Detect it locally and return an error (without sending a request to GitHub API).
3. Detect it locally and drop/ig

[2018-09-09 00:48] gmlewis opened #1000 "Support preview project card details from Issue Events API"
GitHub Developer API announcement:
https://developer.github.com/changes/2018-09-05-project-card-events/

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md](

[2018-09-10 11:21] aashakabra opened #1001 "struct for PullRequest under PullRequestEvent does not have "_links""
Hi,

When my webhook is configured for Pull Requests event, the delivered payload has "_links" within "pull_request" object whereas I don't see it defined under https://godoc.org/github.com/google/go-github/github#PullRequest struct.

Can you please confirm if this sdk is compatible with v3 version of github APIs?

[2018-09-10 12:27] gmlewis commented on #1001
Yes, this package supports v3 of the GitHub API.

I see from https://developer.github.com/v3/activity/events/types/#pullrequestevent
that it does provide "_links" but we currently don't list them in our struct as you pointed out. Fortunately, all those links are trivial to recreate since they follow a common pattern.

If you feel those would be beneficial to provide in our struct, you (or anyone)

[2018-09-10 15:21] Charliekenney23 commented on #1000
I can take this!

[2018-09-10 20:57] gauntface commented on #992
This is tough decision. I can appreciate all sides of the arguments to be honest.

It would be good to consider how we would feel if the selected solution needed to be applied to other methods.

[2018-09-12 00:12] #992 closed

[2018-09-12 05:09] gauntface commented on #999
Out of interest, what was the reasoning behind using the preview headers by default?

[2018-09-13 01:52] gmlewis commented on #999
I believe @willnorris made the decision at the start to attempt to stay current with all the preview features developed by the GitHub Developer team. We chatted about this and if I recall correctly, one of his reasons was that it was a great way to let users try out features early and give feedback to the GitHub team as to what works, what doesn't, and what could be improved.

In our [CONTRIBUTING

[2018-09-13 11:28] Skarlso commented on #113
For anyone potentially looking for an example of how to use the above scheme in a project. Here is an example of this:

In code: https://github.com/gaia-pipeline/gaia/blob/master/pipeline/git.go#L168-L194
In test: https://github.com/gaia-pipeline/gaia/blob/master/pipeline/git_test.go#L252

[2018-09-13 14:46] willnorris commented on #999
I'll have to give some more thought to how I feel about changing the default behavior, but a few additional notes:

 - What @gmlewis said matches my recollection of why we enabled this by default... the preview periods for new features were often quite long, and we (as well as a number of other users) were wanting to use them, so it was simplest to just always enable them.  And prior to this bug,

[2018-09-13 22:35] eperm opened #1004 "Add two_factor_requirement_enabled field to Organization"
[code]
It looks like support for `default_repository_settings` and `members_can_create_repositories` are being added in #996. I'll work on `two_factor_requirement_enabled`.

[2018-09-14 18:06] thepwagner opened #1005 "Support new Webhook Event for Repository Vulnerability Alerts"
GitHub Developer API announcement:
https://developer.github.com/changes/2018-04-24-preview-dependency-graph-and-vulnerability-hooks/

[2018-09-14 19:08] gmlewis commented on #1005
Thank you, @thepwagner!
I remember reading that and thinking that this was a GraphQL (v4) -only change, but from your original link: https://developer.github.com/changes/3/#repository-vulnerability-alerts-webhooks
it is more clear that it also affects v3 (and therefore, this repo).

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly a

[2018-09-15 08:55] radlinskii commented on #1001
Hi, I would love to be assigned to do this one. :)

[2018-09-15 11:09] gmlewis commented on #1001
I can't invite you to be a contributor, but consider yourself assigned.
😁

[2018-09-15 21:08] #1004 closed

[2018-09-17 00:35] MorrisLaw commented on #959
Is this still being worked on? @sanketpayghan @gmlewis I can pick it up if needed

[2018-09-17 02:53] gmlewis commented on #959
Thank you, @MorrisLaw... I think it is safe to say that you can take it over.

[2018-09-18 17:07] nhershman opened #1012 "Adding Custom Headers for Conditional Requests"

[2018-09-18 17:08] #1012 closed

[2018-09-20 01:33] #984 closed

[2018-09-20 19:04] waseem18 commented on #895
As there's no PR for this yet, I'm interested in taking up this issue.

[2018-09-20 23:59] gmlewis commented on #895
Thank you, @waseem18. It looks to me like you are correct.
I'm going to close this issue.

If anyone finds anything missing, please re-open and identify which one(s) are missing.

[2018-09-20 23:59] #895 closed

[2018-09-21 13:18] gmlewis commented on #1005
Welcome to Go, @akhilerm and thank you for helping this project!

[2018-09-22 12:02] RajatVaryani commented on #605
@dmitshur Please close the issue. It lead me to read the entire thread and in the end, I realized there's no work to be done. Thanks

[2018-09-22 12:28] gmlewis commented on #1005
As requested off-line, here is some information that should be helpful to new Go developers who would like to contribute to this repo.

First off, I highly recommend reading our [CONTRIBUTING.md](https://github.com/google/go-github/blob/master/CONTRIBUTING.md) guide. The section called ["Other notes on code organization"](https://github.com/google/go-github/blob/master/CONTRIBUTING.md#other-notes-

[2018-09-22 12:37] gmlewis commented on #605
Sorry for the inconvenience, @RajatVaryani.
Closing issue.

[2018-09-22 12:37] #605 closed

[2018-09-23 16:11] kytrinyx commented on #992
Agreed!

So sorry I missed this whole conversation. We decided to delay turning on strict validation for another 6-ish weeks, which will put us at November 1. Let me go through this issue in detail with my colleague just to make sure we're not missing anything on our end 💙

[2018-09-23 16:16] kytrinyx opened #1014 "(Another) heads up: stricter validation coming soon in the create repo for org endpoint"
A few weeks back we discussed an issue where the GitHub API is going to return 422s when incorrect parameters are passed (rather than just ignoring those parameters): https://github.com/google/go-github/issues/992

We found another instance where we get incorrect parameters with the google/go-github header.

Our current plan is to turn on stricter validation on November 1st (we were going to do th

[2018-09-23 16:23] kytrinyx opened #1015 "(Yet another) heads up: Stricter validation coming soon to the create organization hook endpoint"
We're working on adding stricter validation in the GitHub REST API, and uncovering all sorts of goodies and inconsistencies. ✨

In the [Create organization hook](https://developer.github.com/v3/orgs/hooks/#create-a-hook) endpoint we noticed the following errors come through with the `google/go-github` user agent:

[code]

Would you have a moment to check if this is encoded into the library, or whe

[2018-09-23 19:41] gmlewis commented on #1014
This is the same situation as #992: the user can pass in a full `Repository` struct which contains the `archived` field, and our documentation says:

[code]

which makes it sound like this is a valid field.

Here is the code:
https://github.com/google/go-github/blob/master/github/repos.go#L262-L287

I think this could be handled the same way as #997.

[2018-09-23 19:44] gmlewis commented on #1015
Yes, same situation as #992 and #1014.
We use a full `Hook` struct that has these fields which means the user is able to populate it.
Once again, I think the solution in #997 is the best way to handle this.

[2018-09-24 12:29] dmitris commented on #540
@dmitshur - have you heard anything back from the GitHub support on the issue (since it is marked "wairing for GitHub")?

[2018-09-24 12:30] dmitris commented on #540
https://godoc.org/github.com/google/go-github/github#PullRequestsService.ListReviewComments contains a link to this issue:

[2018-09-24 16:01] #1001 closed

[2018-09-25 06:04] dmitshur commented on #540
It was @haya14busa that emailed GitHub, not me. See https://github.com/google/go-github/pull/497#issuecomment-270400412.

The latest status in that thread seems to be https://github.com/google/go-github/pull/497#pullrequestreview-19529473.

@haya14busa Can you let us know please if there have been any updates from GitHub since then?

[2018-09-25 13:03] kytrinyx commented on #1015
Yes--I can't act as a tie breaker in the discussion, but I think that the arguments you list in https://github.com/google/go-github/pull/997#issuecomment-420247134 are a propos.

[2018-09-25 13:04] kytrinyx commented on #1014
After having read through the discussions and code changes, I think you're right.

[2018-09-25 13:42] kytrinyx commented on #992
Having read through the discussions here and in other threads (and the associated PR) I think that the solution in #997 is a good way to address this. Thank you so much for taking the time to think through all the variables!

[2018-09-25 16:16] haya14busa commented on #540
I pinged 2-3 times but got no clear response from the supports.
Can anybody send a report again?
Maybe they think it's not high priority issue (or didn't understand the point from my email).

[2018-09-26 00:10] #1014 closed

[2018-09-26 00:46] #1015 closed

[2018-09-30 15:32] akhilerm commented on #1005
Based on my understading, is this the path that I should follow.

1. Include an `eventTypeMapping` in `messages.go` for  `repository_vulnerability_alert`
2.Create a `RepositoryVulnerabilityAlertEvent` type in `event_types.go`
3. Assign the event payload in `activity_events.go`

Is this the correct way?

[2018-10-01 16:28] gauntface opened #1021 "Should "github/examples_test.go" be in "example/" or "test/"?"
At the moment examples_test.go is in github/ and because it's importing `"github.com/google/go-github/v18/github"` it creates an unusual dependency from github/ on a version of itself.

Is there a reason for this directory to live in github/ instead of example/ and test/ ?

[2018-10-01 17:54] psdh commented on #1000
Heya! @Charlieksenney23 , are you still working on this?

If not, I'd love to take a stab! :dagger:  :smile:

[2018-10-01 21:58] xibz opened #1022 "Bug with how AcceptedError is handled"
Computing stats, `ListContributorsStats`, will return an `AcceptedError` and a body that is a `JSON` object and not a `JSON` array. However, it seems this will try to decode it as a `JSON` array causing a serialization error.

Commit that caused the bug... this seems to be a breaking change as well; I guess it is now obvious that it is:
https://github.com/google/go-github/commit/88eb4e9dc91cb2db1b

[2018-10-01 23:05] gmlewis commented on #1005
Yes, that sounds like a good plan to me.

[2018-10-02 00:49] gmlewis commented on #1021
According to #372, the discussion is in #367.

As far as I can tell, it was an experiment to place `examples_test.go` in the `github` directory.

As far as I'm concerned, it could live elsewhere, and if you would like to create a new experiment to put it where you think it belongs, I'm happy to go along.

[2018-10-02 01:10] gmlewis commented on #1022
Thank you, @xibz, for reporting this issue.

@dsymonds (author of #878) may have some ideas about this issue and your proposal, and I would greatly appreciate his feedback when he has time.

[2018-10-02 01:30] xibz commented on #1022
Yes, `ListContributorsStats` behaves the same way, where you have to poll until the process is done completing. However, I don't understand why the contents of the response is important for things like `CreateFork`? Once I understand that, I can make a good guess on whether it is good to have those contents also for `ListContributorsStats`.

If I am understanding 1, would this be another breaking

[2018-10-02 01:34] dsymonds commented on #1022
For `CreateFork`, the 202 Accepted response includes most of the repository information (things like the new repo's name), which is necessary for polling using a different API (e.g. `GetRepository`). In its case, the 202 Accepted response is a subset of the 200 OK response, and the `CreateFork` Go API returns it to the caller, which can detect the 202 Accepted and use the response.

If I understan

[2018-10-02 01:41] xibz commented on #1022
No documentation unfortunately on any of the accepted cases. And I'll have to wait til' tomorrow to see what it returns since it is cached daily, I believe.

I would change the `AcceptedError` actually to contain a `Raw` field. If an accepted error was returned then allow for each call to handle how it should unmarshal the raw body contents. Things like `CreateFork` would need to be updated to han

[2018-10-02 03:39] xibz commented on #1022
Update: Looks like `ListContributorsStats` contains an empty JSON object when `AcceptedError` occurs.

[2018-10-02 12:44] Charliekenney23 commented on #1000
@psdh Sorry I got caught up with something, feel free to take it!

[2018-10-02 21:55] dsymonds commented on #1022
Okay, so maybe `ListContributorsStats` should pass `json.RawMessage` to `Do`, and parse the data into the real response if `Do` doesn't return an error. That's not a breaking change, and it avoids complicating the lower level parts.

[2018-10-02 22:06] xibz commented on #1022
Hm, how do you feel about putting a `Raw` field on `AcceptedError`? I think that is more flexible and it becomes a little more obvious to what the API handling code is doing. If users want more metadata they can pull the Raw message themselves and do what they will with it.

I think passing `json.RawMessage` is an okay alternative, but I don't know if I like the controlling logic passing a `json.R

[2018-10-02 22:31] xibz commented on #1022
I may not be seeing it, but what makes adding a `Raw` field breaking? The `CreateFork` will still behave the same as I made the changes to unmarshal the `Raw` field into the `CreateFork` output shape. My goal was to make any operation that utilizes the unmarshaling was to handle it in the API handler instead. That would prevent the breaking change, at least. I think the delete repo also has a mode

[2018-10-02 22:33] dsymonds commented on #1022
Oh, I didn't understand what you were suggesting. Yeah, that might be okay. Want to try that out and we can see how it looks?

[2018-10-02 22:33] xibz commented on #1022
Yea, awesome! Thanks @dsymonds!

[2018-10-02 22:45] xibz commented on #1022
Updated the PR #1023

[2018-10-03 00:43] #1022 closed

[2018-10-04 17:18] gmlewis commented on #1005
Fixed by #1025.

[2018-10-04 17:18] #1005 closed

[2018-10-05 13:57] gmlewis opened #1026 "Update CreateHook endpoints with new name field restrictions"
GitHub Developer API announcement:
https://developer.github.com/changes/2018-10-01-denying-new-github-services/

This issue probably needs some discussion.

If I'm reading the announcement correctly, `web` will be the only allowed value for `name` in the `CreateHook` endpoint for both repos and orgs.
Alternatively, the `name` field can be removed completely.

Please correct me if anyone else has a

[2018-10-05 14:14] gmlewis opened #1027 "Discussion: Stricter GitHub API validation on its way"
Recently, the GitHub API Development team made two announcements:
https://developer.github.com/changes/2018-09-25-stricter-validation-coming-soon-in-the-rest-api/
https://developer.github.com/changes/2018-09-26-pass-header-to-test-strict-validation-in-rest-api/

I'm in favor of supporting the stricter validation in this repo by making the package do the work and keeping the users of the package as

[2018-10-07 19:22] tleyden opened #1029 "Should there be a GetBlobReader()?"
There is a `GetBlobRaw()` api call here:

https://github.com/google/go-github/blob/master/github/git_blobs.go#L43

but the problem is that with large blobs, it will still read the entire blob into memory, which can be an  inefficient use of memory if you just want to do scan the blob content or stream it to disk.

What about a `GetBlobReader()` or `GetBlobStream()` with the following signature?

[

[2018-10-08 01:11] gmlewis commented on #1029
Can't you use `GetBlob` and then stream it yourself with the `blob.URL`?

[2018-10-08 03:02] tleyden commented on #1029
As far as I can tell,`GetBlob()` reads the entire response stream into memory here:

https://github.com/google/go-github/blob/master/github/github.go#L528

[2018-10-08 08:54] tadityar commented on #981
Since the issue was left open for more than a month, I decided to submit a PR.

[2018-10-08 11:48] gmlewis commented on #905
Fixed by #880.
Closing.

[2018-10-08 11:48] #905 closed

[2018-10-08 11:53] #981 closed

[2018-10-08 13:14] gmlewis commented on #1029
Ah, I see.  You are right. It looks like the API supports up to 100MB blobs according to https://developer.github.com/v3/git/blobs/#get-a-blob
and provides the content in the response, base64-encoded.

I'm reluctant to say "go ahead with the PR" because the API is going to send the content whether you attempt to stream it or not. So the memory will already be consumed simply by receiving the respo

[2018-10-08 13:57] radeksimko commented on #431
Here's how we implemented linked best practices in our repository:
https://github.com/terraform-providers/terraform-provider-github/blob/fa73654b66e37b1fd8d886141d9c2974e24ba42f/github/transport.go#L42-L109

I'd be more than happy to raise a PR if there's any interest in bringing these transports upstream along with [tests](https://github.com/terraform-providers/terraform-provider-github/blob/mast

[2018-10-08 17:18] tleyden commented on #1029
Yeah, I think another method similar to [Client.Do()](https://github.com/google/go-github/blob/master/github/github.go#L462) method would need to be added, and have the following changes:

* Doesn't close the response body
* Doesn't read the response body

Something like this:

[code]

For example, the client code that called `GetBlobReader()`(which would call down to `DoStream()`), would then hav

[2018-10-09 00:34] gmlewis commented on #1029
My only concern here is the added maintenance needed. Note that the `AcceptedError` block just recently  changed. I haven't yet studied how much code could be shared.

It would be nice to get some input from users of this repo as to how much this is desired.

[2018-10-09 06:43] tadityar commented on #1026
From the announcement above I think that we should remove `name` as it is no longer required. Starting 1st Nov including name would result in an error so I am for removing it.

[2018-10-09 19:47] palash25 commented on #1000
Hey @psdh are you still working on it? If you I would like to give it a try

[2018-10-11 21:36] #1026 closed

[2018-10-13 16:13] gmlewis commented on #722
Another GitHub Developer API follow-on announcement:
https://developer.github.com/changes/2018-10-11-new-endpoints-available-for-github-apps/

[2018-10-22 12:15] gmlewis opened #1035 "Support improvements to the Deployment Statuses API"
GitHub Developer API announcement:
https://developer.github.com/changes/2018-10-16-deployments-environments-states-and-auto-inactive-updates/

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

P

[2018-10-22 13:02] urohit011 commented on #1035
Can I have it?

[2018-10-22 13:35] urohit011 commented on #1035
Can I have it?

[2018-10-25 05:47] unblee commented on #1035
Hi! @urohit011, are you still working on this?

I want to use this API now! May I implement it?

[2018-10-26 07:20] ahmetb opened #1037 "List Repositories fails with per_pages=100"
[code]

request takes 10 seconds and fails with HTTP 502 Bad Gateway and body:

[code]

I know this is really a GitHub API issue (I just reported to GitHub) but it seems like it's reproducibly happening with these Accept header values injected by go-github by default:

- application/vnd.github.scarlet-witch-preview+json
- application/vnd.github.mercy-preview+json

removing the Accept makes the req

[2018-10-30 18:13] #1035 closed

[2018-11-03 00:23] gmlewis opened #1040 "Support updates to Marketplace-related webhooks and REST APIs"
GitHub Developer API announcement:
https://developer.github.com/changes/2018-10-31-improved-experience-for-marketplace-pending-changes/

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please

[2018-11-03 05:40] srmocher commented on #1040
@gmlewis New contributor here. Interested in working on this, could you assign this issue to me?

[2018-11-03 17:47] gmlewis commented on #1040
Thank you, @srmocher!
I'm no longer able to send a repo contributor invite to you, but please consider yourself assigned. :smile:

[2018-11-03 18:46] dreamer-89 commented on #1040
@gmlewis : I am also interested to work on this issue. It seems @srmocher working on this one. Can you please assign me other issues/bugs ?

[2018-11-03 18:53] gmlewis commented on #1040
Thanks for your interest, @dreamer-89!

My recommendation to you is to go through the list of open issues in this repo and choose one that interests you... then add a comment that you want to work on it. (I just browsed through and there are a [bunch of outstanding ones](https://github.com/google/go-github/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22).)

If someone is already liste

[2018-11-03 18:54] dreamer-89 commented on #1040
Thank you so much @gmlewis :) :)

[2018-11-04 11:51] dreamer-89 commented on #1040
@gmlewis : Please review
https://github.com/google/go-github/pull/1041

[2018-11-04 13:10] gmlewis commented on #1040
@dreamer-89 - sorry I wasn't clear before... you apparently misunderstood me. This issue is assigned to @srmocher and so you should not be submitting PRs against this issue. I started to review your PR and came across a number of issues (both with the PR and with the GitHub documentation), then came back here and realized that this issue is not yours (currently) to be working on.

As a result, I'm

[2018-11-06 04:09] willnorris commented on #1040
(invites sent to @srmocher and @dreamer-89.  sorry about the delay)

[2018-11-06 17:42] ahmetb commented on #999
I've also reached out to GitHub support, they said they've forwarded it to their engineering team. I also opened #1037 which provides a direct repro with curl –feel free to close that issue, it's very similar to this.

[2018-11-06 18:58] gmlewis commented on #1037
Closing so that discussion can continue in #999.

[2018-11-06 18:58] #1037 closed

[2018-11-08 13:48] lukebjerring opened #1046 "github.CommitFile is missing previous_filename field"
While seemingly undocumented, (over at https://developer.github.com/v3/repos/commits/#compare-two-commits ) this field is present for a status of `renamed`.

[2018-11-08 14:14] lukebjerring opened #1047 "Original response body cannot be re-read"
After executing `client.Do`, the response's body cannot be read by the caller in the case that some content has been dropped.

Being able to read the response again would allow for users to pick up dropped fields, in cases such as  #1046

[2018-11-09 01:50] gmlewis commented on #1047
I don't think I understand the issue.
Can you please give a detailed example of what problem you are trying to solve?
What do you mean by `in the case that some content has been dropped`?
How did the content get dropped?

[2018-11-09 01:54] #1046 closed

[2018-11-09 01:58] #902 closed

[2018-11-09 14:39] lukebjerring commented on #1047
So, hypothetically, there might be a field in the JSON body that is not defined in the Golang struct. That field will be ignored during `json.Unmarshal` (i.e. "dropped" during the conversion).

#1046 is an example, where I could have recovered the `previous_filename` field that I needed without having to handle all of the code already provided by go-github (building a client, providing the correct

[2018-11-09 16:52] alexkohler opened #1048 ""location" not showing up for users from ListStargazers call"
I may be missing something/misinterpreting the API, but I am not currently getting location info back for any `Stargazer` object. I am not currently authenticated. Here is a minimal example:

[code]

[2018-11-09 18:29] gmlewis commented on #1047
Ah, I get it. Thank you for the clarification, @lukebjerring!

I would consider that to be a bug of this repo that needs to be fixed.

I would rather not touch the `Do` method itself for things like this.
Whenever I need to debug problems like this, I just quickly add a [`httputil.DumpResponse`](https://godoc.org/net/http/httputil#DumpResponse) in the Do method and then go update the library to su

[2018-11-09 19:12] alexkohler commented on #1048
Ah, I was looking at the Go structs rather than the GitHub API documentation :disappointed: Thanks!

[2018-11-09 19:12] #1048 closed

[2018-11-09 19:41] lukebjerring commented on #1047
Sure; sounds reasonable to me.

[2018-11-10 07:00] OGKevin opened #1049 "x509: certificate signed by unknown authority"
Hi,

I'm not sure if this has something to do with https://github.com/golang/go/issues/24652 but I'm running this SDK in a simple

[code]
container and it seems to be triggering a `
Get https://api.github.com/repos/OGKevin/x/pulls/x: x509: a certificate signed by unknown authority` error, when the code executes
[code]
I did some research and could not find anything concrete. Most results, without

[2018-11-10 07:18] OGKevin commented on #1049
Ah, solved. needed to add steps to properly update `ca-certificates`

[2018-11-10 07:18] #1049 closed

[2018-11-11 20:36] gmlewis commented on #1027
Update from GitHub Developer API team on stricter API validation:
https://developer.github.com/changes/2018-11-07-strict-validation/

[2018-11-11 20:39] gmlewis opened #1050 "Discussion: GitHub Services brownouts announcement"
GitHub Developer API announcement:
https://developer.github.com/changes/2018-11-05-github-services-brownout/

This is mainly FYI.

[2018-11-13 21:13] gauntface commented on #1047
Is there a way we can make the raw response body available as a string?

[2018-11-14 03:47] gmlewis commented on #1047
This reminds me of #878. I would love to hear @dsymonds thoughts about the practicality of making the raw response body available as a string.

I suppose a `string` field could be added to the `Response` struct, but I'm a bit concerned about the space and time overhead of doing so. Granted, this is not a high throughput repo (based solely on the GitHub rate limiting), but I would hate to see the m

[2018-11-14 03:58] dsymonds commented on #1047
I'm a bit confused. If the problem is that there's some new field in the API response that isn't defined in the Go struct, why not just add that to the Go struct? That's what appeared to have happened in #1046; why is that a bad solution? Like @gmlewis said, that's simply a bug (or, more charitably, a missing feature) of this repo, and it's easy to fix when it arises.

Making the raw response body

[2018-11-14 14:34] parkr opened #1052 "Add utility methods for modifying files via the Git API"
Recently, I ran into a size limit with the Contents API: the blob I was trying to update exceeded 1MB. To fix this, [GitHub recommends the following](https://developer.github.com/v3/git/):

It seems to me that a fairly common use of this library is to update contents of a blob. I do it in several projects (this morning, in sourcegraph/checkup). To get around the size restriction of the Contents AP

[2018-11-15 00:58] lukebjerring commented on #1047
Sounds like we all agree it'd be overkill! Closing, since it's WAI and patches to the structs are better.

[2018-11-15 00:58] #1047 closed

[2018-11-15 13:36] gmlewis commented on #1052
Hmmm... this sounds interesting... and I've got mixed feelings. The purist in me thinks that the Git API should stay out of a GitHub API repo. The pragmatist in me thinks that this might be a handy place to have that functionality.

I'm thinking that the purist in me is winning... and that a separate "companion" repo could handle the details of the Git API.

Thoughts from other contributors or use

[2018-11-15 16:57] josebarn opened #1053 "Add two_factor_authentication to User data"
The github API v3 for GET user supplies an indicator for two_factor_authentication, however is it not available in the User object. Is there a reason is not added? Can this be added?

See `two_factor_authentication` in the reference:
https://developer.github.com/v3/users/#response-with-public-and-private-profile-information

[2018-11-15 20:00] #1021 closed

[2018-11-16 03:45] gmlewis commented on #1053
Excellent point, @josebarn!  This field should be added to the `User` struct in `users.go`.

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md](https://gith

[2018-11-16 04:50] srmocher commented on #1053
@gmlewis I'm happy to take up this issue.

[2018-11-16 06:00] shakeelrao commented on #1053
Ah, didn't see the previous comment prior to working on the PR.

My bad!

[2018-11-16 14:35] #1053 closed

[2018-11-16 14:37] gmlewis commented on #1053
Yes, sorry about the snafu, @srmocher. There are more issues to address... thank you for your understanding on this mixup.

[2018-11-21 14:17] gmlewis opened #1055 "Clean up Events and ActivityService code organization"
While reviewing #1028, I realized that the code organization of `Events` and `ActivityService` is rather confusing.

This issue is logged to clean up the organization of the code.

I'm assigning it to myself.

[2018-11-23 15:00] nico-bock opened #1058 "Adding body_html"
Hello,
are there plans to integrate body_html, to get the body in a HTML format?
https://developer.github.com/v3/media/

[2018-11-23 15:54] palash25 commented on #1000
I don't see a PR referencing this issue it seems to have been abandoned by the original claimer. @gmlewis can I be assigned to this?

[2018-11-23 23:06] gmlewis commented on #1000
Thank you, @palash25!
I can't send you an invite, but maybe @willnorris can.
In the meantime, please consider this issue assigned to you.

[2018-11-23 23:12] gmlewis commented on #1058
There are no plans than I'm aware of, @nico-bock, and to my knowledge, this is the first request for it.

However, this would be a great PR for any new contributor to this repo or a new Go developer.

Please check out our [CONTRIBUTING.md](https://github.com/google/go-github/blob/master/CONTRIBUTING.md) guide to get started.

Thank you!

[2018-11-24 17:10] gmlewis commented on #1058
OK, thanks, @nico-bock. When you are ready, please create a PR against this repo and we will review it from there.

[2018-11-26 17:44] willnorris commented on #1000
@palash25 invite sent.

[2018-11-26 18:22] #1055 closed

[2018-11-29 17:50] lukebjerring opened #1060 "{Create,Update}CheckRunOptions missing Actions"
As per the docs, check runs support optionally exposing some user-invoked actions.
https://developer.github.com/v3/checks/runs/#create-a-check-run
https://developer.github.com/v3/checks/runs/#update-a-check-run

These fields are missing from `CreateCheckRunOptions` and `UpdateCheckRunOptions` structs.

[2018-11-30 02:12] lukebjerring opened #1062 "CheckRunEvent is missing RequestedAction field"
Closely related to https://github.com/google/go-github/issues/1060

As documented here:
https://developer.github.com/v3/activity/events/types/#checkrunevent

The CheckRunEvent can have a type of `requested_action`, and when it does, it will also have a `requested_action` object field, which has a single `identifier` field.

[2018-11-30 03:37] #1060 closed

[2018-12-03 17:39] #1062 closed

[2018-12-03 17:40] #959 closed

[2018-12-05 20:06] lukebjerring opened #1064 "CheckRun is missing the details_url field"
Though it is missing in some of the docs, it's an important field for finding the check run in the integrator's system.

https://developer.github.com/v3/checks/runs/#get-a-single-check-run

[2018-12-09 06:59] palash25 commented on #761
@gmlewis any updates on this? Is this issue still blocked because of versioning issue?

[2018-12-11 05:00] gmlewis commented on #884
Thanks, @palash25. I'm assigning this issue to you. If, during your investigation of this PR, you find there is nothing left to do, please report back with your findings.

[2018-12-11 05:03] gmlewis commented on #761
Thanks for the ping, @palash25.
Since #376 is resolved, we can move forward with this issue and tag the repo appropriately.

[2018-12-11 09:12] knrt10 commented on #708
@gmlewis is this issue still blocked? If not I would like to work on this.

[2018-12-11 11:16] gmlewis commented on #708
This issue is no longer blocked thanks to versioning. Feel free to take it, @knrt10.

[2018-12-11 11:17] knrt10 commented on #708
Would you please assign me.

[2018-12-11 11:19] gmlewis commented on #708
You first need to be sent an invite, @knrt10, and @willnorris can send you one when he has a chance.

In the meantime, however, please consider this issue to be assigned to you.
Others will see that in this comment section.

[2018-12-11 14:53] palash25 commented on #1040
@gmlewis requesting assignment :hand:

[2018-12-13 01:20] #708 closed

[2018-12-13 01:21] #761 closed

[2018-12-14 10:33] dorneanu opened #1069 "Improve document about authenticating with GitHub Apps"
Hi,

I'm currently trying to have a working example how to properly authenticate as a GitHub app in my organization. In the app settings I can find the `application ID`. Using:

[code]

I can also get the `installation ID`.

Here is my code:

[code]

And the output is:

[code]
Obviously I do get the `installation access token` however when I try to get the organization installation it failed with:

[2018-12-14 15:12] lovromazgon opened #1071 "ProjectCard missing attributes (again)"
The [`ProjectCard`](https://github.com/google/go-github/blob/7c7d51f489bc54d96dfa34c497601b4a05d760c7/github/projects.go#L285) struct is currently still missing 4 attributes, which are returned from the [Events API](https://developer.github.com/v3/issues/events/):

Name | Type | Description
-- | -- | --
`project_card["project_id"]` | `string` | The identification number of the project.
`project_ca

[2018-12-15 02:10] gmlewis opened #1073 "Support Content Attachments API Public Beta"
GitHub Developer API announcement:
https://developer.github.com/changes/2018-12-10-content-attachments-api/

As far as I can tell, the affected part of the GitHub V3 API is this:
https://developer.github.com/v3/apps/#create-a-content-attachment
but there may be more. Whoever takes this PR should read the announcement carefully and see what all is involved to resolve this issue.

This would be a gr

[2018-12-15 03:12] gmlewis commented on #1071
Thank you for the issue, @lovromazgon!
Would you mind contacting support@github.com and explaining the discrepancy and ask them to either comment or update their documentation?

[2018-12-15 04:11] dreamer-89 commented on #1073
@gmlewis : I want to take this issue. Please assign this issue to me.

[2018-12-15 12:17] palash25 commented on #884
@gmlewis need a little help, I am confused about in which files to write the code for this issue. For the
Organization project collaborators endpoints (which use `projects` endpoint) should the code reside in `orgs_projects.go` or `projects.go`.

I have the same confusion with  Organization projects on teams endpoints would the code go int `teams.go` or `orgs_projects.go`

[2018-12-15 13:58] gmlewis commented on #884
Hi @palash25, sure.

But first, can you please elaborate on which exact endpoints need to be written?
Part of resolving this issue is to investigate and determine which ones we still need.

We attempt to keep the code in this package organized as closely as possible to the GitHub Developer API documentation.

So, for example, you can see the endpoints in `orgs_projects.go`, `projects.go`, and `tea

[2018-12-15 14:05] palash25 commented on #884
These are the endpoints that I was talking about

`/projects/:project_id/collaborators/:username`
`/teams/:team_id/projects/:project_id`

I didn't find these endpoints implemented in the codebase.

[2018-12-15 15:14] gmlewis commented on #884
OK, great. Thank you for the details.

The next thing I do is check where in the GitHub Developer API (V3) documentation these endpoints are found.  In this case, we have:

`/projects/:project_id/collaborators/:username` on
https://developer.github.com/v3/projects/collaborators/

and
`/teams/:team_id/projects/:project_id` on
https://developer.github.com/v3/teams/

So it makes perfect sense to me t

[2018-12-18 02:34] #1071 closed

[2018-12-18 07:19] lovromazgon commented on #1071
I've contacted GitHub support and the field should indeed be an integer, they forwarded this to their Documentation team.

[2018-12-18 12:36] gmlewis commented on #1071
Excellent!  Thank you very much, @lovromazgon !

[2018-12-18 12:38] gmlewis commented on #1071
I must mention that the support team at GitHub has consistently been a pleasure to work with and always extremely responsive and helpful to requests!

[2018-12-21 12:55] gmlewis opened #1077 "Support the new Interactions API"
GitHub Developer API announcement:
https://developer.github.com/changes/2018-12-18-interactions-preview/

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md]

[2018-12-21 13:36] waseem18 commented on #1077
@gmlewis I'm really interested in working on this issue.

[2018-12-21 14:34] gmlewis commented on #1077
Thank you, @waseem18!

This issue is now assigned to you (sorry I can't send you an invite).

Please feel free to work on your PR in your own forked repo and send a pull request when you have tested it out and are ready to have it reviewed.

[2018-12-21 14:48] waseem18 commented on #1077
Sure, Will do that :)

[2018-12-21 18:30] waseem18 commented on #1077
I'm gonna divide this issue into two parts.

1. Interactions API for a repositories
2. Interactions API for organisations

I have put up a [WIP PR](https://github.com/google/go-github/pull/1078) for repo interactions. After finishing repo interactions will hop onto organisation interactions.

[2018-12-22 02:20] #930 closed

[2018-12-22 07:06] palash25 opened #1080 "Remove unnecessary whitespace in repo collaborators tests"
I came across this whitespace in the word *Repositories* (written as `Repositori es`) while working on a PR, will soon create a PR for it https://github.com/google/go-github/blob/master/github/repos_collaborators_test.go#L38

[2018-12-22 13:31] #1080 closed

[2018-12-24 07:19] waseem18 commented on #1073
Are you working on this @dreamer-89 ? If not I would like to take this up.

[2018-12-24 11:07] dreamer-89 commented on #1073
Hi @waseem18 , yes I am working on this. This is my first issue, thus struggling with doing this Github App using probot for better understanding. Please give me couple of days time, I will update here on this thread, if i couldn't make any progress.

[2018-12-24 12:34] waseem18 commented on #1073
Thanks for the prompt reply.

[2018-12-26 07:29] LoloNoahSauron opened #1083 "When I imported the package, I found that the v21/ directory did not exist. I was surprised"
import "github.com/google/go-github/v21/github"

[2018-12-26 07:30] LoloNoahSauron commented on #1083
![image](https://user-images.githubusercontent.com/43988363/50436995-1ad23580-0923-11e9-8e6d-bc45d91b23e8.png)

[2018-12-26 07:30] LoloNoahSauron commented on #1083
There are only three folders

[2018-12-26 07:34] LoloNoahSauron commented on #1083
Or do you need to change github to v21?

[2018-12-26 07:44] dreamer-89 commented on #1073
@gmlewis : Please have a look https://github.com/google/go-github/pull/1084

Right now, it is failing unit test with below two errors:

[2018-12-26 08:56] shubhodeep9 commented on #988
@gmlewis @tmc Is this issue still open for working?

[2018-12-26 14:35] gmlewis commented on #988
@urohit011 - do you still want to work on this, or shall we assign it to @shubhodeep9 ?

@shubhodeep9 - let's give @urohit011 a couple days to answer and if we have still not heard back, we'll assign it to you.

[2018-12-26 14:48] gmlewis commented on #1073
I commented on the PR.

[2018-12-26 14:53] gmlewis commented on #1083
Please take a look at the "Usage" information in our README.md:
https://github.com/google/go-github

[code]

Are you using Go 1.11 modules? It sounds like you aren't, in which case you would remove the `v21` from the import.

To learn more about Go 1.11 modules, check this out: https://github.com/golang/go/wiki/Modules

[2018-12-26 15:11] dreamer-89 commented on #1073
Thanks a lot @gmlewis for the suggestion. I have updated the PR as per guidelines. Unit tests are working fine now.

[2018-12-27 01:46] LoloNoahSauron commented on #1083
ok, thanks

[2018-12-27 01:46] LoloNoahSauron commented on #1083
/close

[2018-12-27 01:46] #1083 closed

[2018-12-27 10:58] htetmyomyint opened #1085 "How to commit to empty repository?"
I was trying to create new repo and then commit files to that repo.
Creating repo is ok but I got an error "409 Git Repository is empty.", when I try to commit file to that repo.
Can't we commit to new repo? Or is there any way to do empty commit by using go-github?

[2018-12-27 12:31] dreamer-89 commented on #1085
Hi @htetmyomyint :

Hope you are doing well !

If you question is generic and not related with this project/repo, then you can do a empty commit by below:
git commit --allow-empty -m 'Your commit message'

If you question is related with creating a copy of go-github repository and performing commits, then probably you need to do below set of steps:
1. Click on Fork repo link on top right of home r

[2018-12-27 16:38] htetmyomyint commented on #1085
@dreamer-89
I am sorry that my question is unclear. Actually, I want to write a program( by using go-github api ) that can create repo and commit files to that created repo. But I've got an error( 409 Git repository is empty ). So, I want to know how should I solve or I want to get reference links for solving the problem.

[2018-12-27 16:49] gmlewis commented on #1085
We need to clarify a few things here.

If you want to interact with GitHub via the GitHub Developers v3 API, then you will most likely want to use this package.

If, however, all you want to do is *locally* create a git repo and commit files to that repo from Go, then you have a couple options:

* Call the `git init`, `git add`, `git commit`, etc. CLI commands directly from Go using the [`exec`](h

[2018-12-27 17:04] htetmyomyint commented on #1085
@gmlewis
Thank you. Now I understand that I should set the required values (according to go-github's Repository struct) to get the desired result.

[2018-12-27 17:04] #1085 closed

[2018-12-28 12:58] gmlewis opened #1086 "Change `acceptHeaders` to `wantAcceptHeaders` in `*_test.go` files"
In #1082, @gauntface [noted](https://github.com/google/go-github/pull/1082#discussion_r244305892) that it would make more sense to use ~`wantHeaders`~ `wantAcceptHeaders` in test files than our current use of `acceptHeaders` and I think that's a good idea.

Let's change them in all `*_test.go` files.

This would be a great PR for any new contributor to this repo or a new Go developer.
All contribu

[2018-12-28 13:04] palash25 commented on #1086
Requesting assignment @gmlewis

[2018-12-28 15:15] gmlewis commented on #1086
It just dawned on me that there is nothing technically incorrect about `acceptHeaders`... that's what they really are... but when reading that test code, a person might misinterpret that as "we want to accept these headers"... which would be wrong.

So what if we changed them to the more verbose `wantAcceptHeaders` instead?

Thoughts?

[2018-12-28 15:20] waseem18 commented on #1077
Now that #1079 is merged. I'll start on adding Interactions API for Organizations.

[2018-12-28 15:20] #884 closed

[2018-12-28 16:06] palash25 commented on #1086
That does sound better :+1:

[2018-12-30 13:37] palash25 commented on #55
Hi @willnorris I would like to take this up. I will start with `projects_test.go` will make a PR soon.

[2018-12-30 13:56] palash25 commented on #55
This can be labeled a good-first-issue since beginners can work on writing test for different resources at the same time.

[2018-12-30 18:20] palash25 commented on #814
Hey @gmlewis I see that the following resources were not covered by the PR #817
Projects
Pull Requests
Reactions
Releases
Repositories
Statuses
Teams
Users

I would like to take this up to complete the rest of the work :smile:

[2018-12-31 19:55] gauntface commented on #1086
+1 to wantAcceptHeaders

[2019-01-02 10:02] shubhodeep9 commented on #988
@gmlewis Happy New Year, would like to know the status if I can work on this?

[2019-01-02 12:40] gmlewis commented on #988
Happy New Year to you too, @shubhodeep9!
Sure, I think it is safe for you to take this issue.

I'm unable to send you an invite, but by this comment, please will see that you are assigned to this issue.

[2019-01-05 12:05] palash25 commented on #1086
@gmlewis this issue can be closed now

[2019-01-05 14:00] gmlewis commented on #1086
Fixed by #1088. Closing.

[2019-01-05 14:00] #1086 closed

[2019-01-08 01:43] #1077 closed

[2019-01-09 13:05] smola opened #1091 "ProjectCard is not supported for issue timeline"
Project card fields from the starfox preview was added for IssueEvent (https://github.com/google/go-github/pull/1066/files). It's still not present for issue timeline though.

See https://developer.github.com/v3/issues/timeline/#list-events-for-an-issue

[2019-01-09 14:16] gmlewis commented on #1091
Thank you, @smola!

To resolve this, a similar change to #1066 would need to be made to `issues_timeline.go`.

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTIN

[2019-01-09 14:56] rleungx commented on #1091
May I take this one?

[2019-01-09 15:12] gmlewis commented on #1091
Thank you, @rleungx! It's yours.
I'm unable to send an invite, but consider it yours.

[2019-01-10 20:55] #1091 closed

[2019-01-12 00:20] ardakuyumcu opened #1095 "Incorrect endpoints for adding and removing repositories for app installations"
The endpoints requested in the below functions are incorrect, and are missing the preview headers:
[code]
[code]

The API endpoints are `user/installations/...` and not `apps/installations/...`

Planning to submit a fix for the issue.

[2019-01-12 00:31] gmlewis commented on #1095
Good catch, @ardakuyumcu! I'm not sure how that happened.

For others taking a look, this issue is talking about:
https://developer.github.com/v3/apps/installations/#add-repository-to-installation
https://developer.github.com/v3/apps/installations/#remove-repository-from-installation

and lines 75 and 94 of `github/apps_installation.go`.

[2019-01-12 00:40] ardakuyumcu commented on #1095
Submitted https://github.com/google/go-github/pull/1096 as the fix

[2019-01-12 03:39] #1095 closed

[2019-01-13 09:50] ImRaviTejaG commented on #988
@gmlewis Can you assign me the issue in case this issue is available.

[2019-01-13 13:32] gmlewis commented on #988
@shubhodeep9 - are you still working on this issue?  If not, @ImRaviTejaG would like to take it.

@ImRaviTejaG - let's give @shubhodeep9 a couple days to respond before we switch it to you.
Thanks.

[2019-01-13 13:44] shubhodeep9 commented on #988
@gmlewis sorry, been caught up with something. Give me 3 days, if not done, then I will surely convey to assign it to someone else. Thank you

[2019-01-13 15:05] ImRaviTejaG commented on #988
@shubhodeep9 Thanks for the quick revert. I await your PR. 😄

[2019-01-14 21:28] Jarlotee opened #1097 "502 Error Uploading Release Assets - Missing Mime Types"
If the host is missing mime types files (see [Go Mime Documentation](https://golang.org/pkg/mime/#TypeByExtension)) the upload of assets will fail with a `502 Error creating policy []`

The call to `UploadReleaseAsset` should return an error if no compatible mime type is found, because the error thrown by github is cryptic and unhelpful.

Additionally it might be helpful to allow the user to speci

[2019-01-15 08:59] Skarlso commented on #113
@artem-sidorenko Oh excellent. Thanks for fixing that. :)

[2019-01-15 15:50] renskiy commented on #1049
@OGKevin how did you solve it?

[2019-01-15 16:02] OGKevin commented on #1049
@renskiy I've added the following to my dockerfile

[code]

[2019-01-16 01:17] gmlewis commented on #1097
By "the host" do you mean GitHub?
Can you please provide a simple test case that exhibits the problem, and an example failing MIME type?

For others tuning in, we are talking about:
https://developer.github.com/v3/repos/releases/#upload-a-release-asset

and this method:
https://github.com/google/go-github/blob/master/github/repos_releases.go#L339-L370

I notice that on [line 358](https://github.co

[2019-01-16 07:47] shubhodeep9 commented on #988
@gmlewis apologies for blocking time, you may assign it to @ImRaviTejaG

Thanks

[2019-01-16 12:57] gmlewis commented on #988
No problem, @shubhodeep9.

@ImRaviTejaG - this issue is now assigned to you.

[2019-01-16 14:39] ImRaviTejaG commented on #988
@gmlewis Thanks! Please give me a heads up on where to get started so that I can get it done quickly.

[2019-01-16 14:58] gmlewis commented on #988
Hi @ImRaviTejaG - I removed the "good first issue" tag, as maybe that is not appropriate for this issue.

Ideally, someone who has experience using `oauth2` (and can provide a simple example) would take on this issue. If you don't feel that this is you, then feel free to decline and we will leave this open for someone else to provide.

Thanks for your understanding.

[2019-01-16 19:49] artem-sidorenko opened #1100 "Pointer in Issue.Labels missing?"
Almost everywhere pointers are used, but not [here](https://github.com/google/go-github/blob/e740a6811a5bc7a8fba64fe1594860d4f982b4c3/github/issues.go#L36). The type is `[]Label`. The similar struct for PRs [has](https://github.com/google/go-github/blob/e740a6811a5bc7a8fba64fe1594860d4f982b4c3/github/pulls.go#L33) also a type of `[]*Label`.

Is this intentional?

[2019-01-16 20:06] gmlewis commented on #1100
Looking back at the history of this line, we find:
https://github.com/google/go-github/commit/b416fdaac841e7c2404b365cf6aa7b9f1d450d93
which is one of the early commits.

I'm betting that there wasn't a whole lot of precedent at that time.

Is this causing problems for you, or are you just curious?

[2019-01-16 22:19] Jarlotee commented on #1097
The host meaning the server that is running your api

[2019-01-16 22:31] artem-sidorenko commented on #1100
@gmlewis thank you for having a look,

Not really, as there are no generics (and I don't want to bypass compiler type checking via reflect), I have some duplicate code for handling of issues and PRs. So it's not a problem to have different types here.

I was just wondering about that. Not sure if fixing this is a good idea: it would potentially break everything, what is using this part of code. Up

[2019-01-16 23:56] gmlewis commented on #1100
OK, thank you, @artem-sidorenko!

Since this has been like this for almost 6 years, I'm leaning toward not making a breaking change and leaving it alone. I'm betting that there is no real performance concern here either (one way or the other).

So I appreciate the report because it is good to point out inconsistencies and discuss them!

Let's leave this open for a couple days in case anyone wants

[2019-01-17 00:03] gmlewis commented on #1097
Ah!  I think I get it now.  I was confused because this is technically a "client library" to the GitHub API.

OK, so your "host" is a server running your own API that then uploads files (as a client) with various MIME types to the GitHub API.  Gotcha.  Please correct me if I'm wrong.

So yes, this would be a good enhancement:
* enable the ability for this client library to specify the MIME type, a

[2019-01-19 01:10] gmlewis opened #1101 "Add unit tests for URL escaping for ref parameters"
This issue is so that we don't lose track of @gauntface's [comment](https://github.com/google/go-github/pull/1099#pullrequestreview-193804131) about adding unit tests to #1099.

[2019-01-19 17:38] vaibhavsingh97 commented on #1101
@gmlewis I want to take this issue. Please assign to me

[2019-01-19 18:06] gmlewis commented on #1101
I can't assign the issue to you, @vaibhavsingh97 but consider it yours.
Thank you!

[2019-01-21 13:21] aidenkeating commented on #1097
@gmlewis @Jarlotee If no one else is looking at this, I'd be happy to take a look?

[2019-01-21 21:15] gmlewis commented on #1097
Sounds great, @aidenkeating - it is yours. Thank you.

[2019-01-22 19:12] vaibhavsingh97 commented on #1101
Thanks, will send PR for same 🤗

[2019-01-23 00:03] aidenkeating commented on #1097
@gmlewis @Jarlotee Apologies for the delay on this. I've created https://github.com/google/go-github/pull/1102 to address the enhancements suggested in https://github.com/google/go-github/issues/1097#issuecomment-454991132. Mainly just allowing MediaType to be specified in UploadOptions.

I could not reproduce the GitHub API rejecting the upload due to an invalid MIME type, even after ensuring all

[2019-01-23 00:27] aidenkeating opened #1103 "Release UploadOptions missing Label field"
The GitHub v3 documentation for uploading a release asset references `label` as an optional field (see https://developer.github.com/v3/repos/releases/#input-2).

However, there is no label field in UploadOptions (see https://github.com/google/go-github/blob/master/github/github.go#L193)

I'm happy to take this on, just following the guideline here https://github.com/google/go-github/blob/master/CO

[2019-01-23 12:21] gmlewis commented on #1103
Thank you @aidenkeating! It's yours.

[2019-01-23 22:36] aidenkeating opened #1105 "Missing integration tests for repository releases"
This is covered more broadly in some other issues on the repo. There are currently no integration tests for releases. It would be great to be able to test this release functionality against the GitHub API itself.

Basically, creating integration tests to cover the functionality provided from https://github.com/google/go-github/blob/master/github/repos_releases.go

I'm happy to take this on if it s

[2019-01-24 18:58] bkeroackdsc opened #1106 "RepositoryContent target field for symlinks"
Per the [API docs](https://developer.github.com/v3/repos/contents/#response-if-content-is-a-symlink), when retrieving repository contents and the file is a symlink that doesn't point to a normal file (for example, a directory), the target field is set. The target field is currently missing from [RepositoryContent](https://github.com/google/go-github/blob/master/github/repos_contents.go#L23).

I wi

[2019-01-25 14:45] gmlewis commented on #1105
Historically, we have found integration tests to be challenging due to the need to have a dedicated GitHub repo to test this against.

Note that we do have this: https://github.com/google/go-github/tree/master/test/integration
but we (at least I) have not regularly run these tests and we certainly don't have TravisCI hit the GitHub API. Travis does check that the integration tests build successful

[2019-01-25 14:49] #1106 closed

[2019-01-25 15:13] jamesgeorge007 commented on #849
@gmlewis What is to be done further here?

[2019-01-25 15:14] jamesgeorge007 commented on #55
@palash25 @gmlewis I would like to work on what is left further. Also, I'm not familiar with the code-base.
It would be great if you could guide me on resolving this issue :+1:

[2019-01-25 16:00] gmlewis commented on #849
This issue needs someone to investigate the full Team Discussions API on the GitHub Developer v3 API site, then study the code in this repo, and either report back that everything is supported and up-to-date in the repo (and this issue can be closed), or more work needs to be done. If more work needs to be done, the owner of this issue will ideally create a PR that addresses the remaining API endp

[2019-01-25 16:04] gmlewis commented on #55
Hi @jamesgeorge007! Thank you for your interest in helping out.

First, you will want to read our [CONTRIBUTING.md](https://github.com/google/go-github/blob/master/CONTRIBUTING.md) guide.

Second, you will want to get familiar with the code by reading through it and trying it out.

Then, I suggest following the link to the original issue where it is explained what is needed in more detail.

Thanks

[2019-01-25 16:07] palash25 commented on #55
@jamesgeorge007 hi :wave: just take a look at my commit referenced here and you will get the idea how to write the JSON test for different resources. Once it is clear just pick a resource that hasn't been covered by the tests and write a unit test for it :smile:

[2019-01-25 21:04] aidenkeating commented on #1105
Ah I wasn't aware that Travis does not hit the GitHub API already, and the reasons why make sense. Thanks for the detailed explanation! I'm happy to close this.

[2019-01-25 21:04] #1105 closed

[2019-01-28 02:31] parkhyukjun89 commented on #849
Sorry. I haven't been following up with this issue after I created PRs. Bascially, there were 2 PRs to this issue, one addressing new APIs added to Teams API (https://github.com/google/go-github/pull/889) and one other addressing updates to Teams API (https://github.com/google/go-github/pull/904/files, which later was merged as a part of https://github.com/google/go-github/pull/972 due to merge co

[2019-01-28 03:08] gmlewis commented on #849
Thank you, @parkhyukjun89!
Closing issue as resolved.

[2019-01-28 03:08] #849 closed

[2019-01-28 04:17] #1103 closed

[2019-01-31 12:58] gmlewis opened #1109 "Remove deprecated API endpoints by April 1, 2019"
GitHub Developer API announcement:
https://developer.github.com/changes/2019-01-29-life-after-github-services/

These deprecated API endpoints need to be removed, preferably by April 1, 2019.

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so t

[2019-01-31 19:07] Avni-Sharma commented on #1101
Hi @vaibhavsingh97 , are you working on this?

[2019-02-01 00:57] joshuabezaleel commented on #1109
Hi @gmlewis , if it is okay with you I would like to ask some questions.

Since the [announcement](https://developer.github.com/changes/2019-01-29-life-after-github-services/) told us that there will be 3 endpoints affected which I found [here](https://github.com/google/go-github/blob/master/github/repos_hooks.go), does this mean that we are going to replace it by using GitHub Apps?

[2019-02-01 02:49] gmlewis commented on #1109
Yes, that is my understanding from the announcement. Others may have more insights.

[2019-02-01 05:47] rajatjindal opened #1110 "consider installing goodfirstissue app on project go-github"
first of all thank you for this project, makes interactions with github api super simple.

using this library I've developed a github app [goodfirstissue](https://github.com/rajatjindal/goodfirstissue) which tweets 'good first issues' via twitter handle [@goodfirstissue](https://twitter.com/goodfirstissue)

the targeted audience for twitter account are first time contributors, and to encourage ope

[2019-02-01 07:21] joshuabezaleel commented on #1109
For this specific issue, do we need to only remove the codes that use the 3 service hooks endpoints, or including making the GitHub Apps for the hooks?

[2019-02-01 16:08] gmlewis commented on #1109
For this specific issue, only the deprecated endpoints need to be removed.

We have a number of other open (and closed) issues for GitHub Apps webhooks:
https://github.com/google/go-github/issues?utf8=%E2%9C%93&q=is%3Aissue+%22GitHub+Apps%22

[2019-02-01 16:12] gmlewis commented on #1110
Very cool, @rajatjindal!

Thanks for the pointer.

@willnorris will need to make the decision for this repo and install the app if he chooses to run it.

[2019-02-01 16:46] willnorris commented on #1110
sure, we can try that out!  installed.

[2019-02-01 16:46] #1110 closed

[2019-02-01 21:17] vaibhavsingh97 commented on #1101
@Avni-Sharma yes, sorry for the delay was a busy week, will send PR shortly

[2019-02-02 00:42] #1109 closed

[2019-02-02 03:44] rajatjindal commented on #1110
thank you very much. appreciate it.

[2019-02-06 20:35] vaibhavsingh97 commented on #1101
@gmlewis I am stuck here for long time, please help me with this
I wrote the unit test but I don't know how to test it. I read how to contribute file aka `contributing.md`, but when I forked the repository and run `go build ./...` and `go test ./...` and it failed to find packages but when I clone `go-github` and run same commands then I am able to build and compile
![image](https://user-images.gi

[2019-02-07 02:05] gmlewis commented on #1101
It looks like you are missing dependencies needed by this package. You should be able to run `go get -u github.com/google/go-github` and it will get all the needed dependencies. Alternatively, you can run `go get -u` on each package that is missing, but that  shouldn't be necessary.

[2019-02-08 22:35] mattburgess opened #1114 "Unable to Edit Repository Webhooks"
Could you consider reverting https://github.com/google/go-github/pull/1111 please? Those API endpoints happen to be used by both the GitHub Services feature, which is being deprecated (as mentioned in https://github.com/google/go-github/issues/1109), but also by repository webhooks which are still very much a supported feature from what I can tell. https://developer.github.com/v3/guides/replacing-

[2019-02-09 00:03] gmlewis commented on #1114
I apologize, @mattburgess - this is my fault. I'll revert.

[2019-02-11 13:13] tragiclifestories opened #1116 "Deployment Payload field is double-encoded in responses"
Hi all, I've run into slight ergonomics issue.

The Github deployments API has a field called `payload` which is an arbitrary JSON object encoded into a string.
[code]

If I access this from, for example, Octokit in Ruby, I get the string I put in.

[code]

With go-github, however, the `Payload` field of the returned `github.Deployment` struct is double-encoded.

[code]

This makes unmarshaling a

[2019-02-11 13:30] gmlewis commented on #1116
From the [Go docs](https://godoc.org/encoding/json#example-RawMessage--Unmarshal) for `json.RawMessage`, it looks like the implementation is correct as designed and is the result of using a strongly-typed language. Its purpose is to "delay JSON decoding" because it is not known ahead-of-time what its contents might be.

What do you recommend as a solution to this issue?

[2019-02-11 13:52] tragiclifestories commented on #1116
Interesting - thanks for the link.

You can see in that example the structure of the payload is slightly different.
[code]

With the response from the Github deployments API, we have the equivalent of:

[code]

So in the case of this API, we *do* know ahead-of-time what its contents might be - a string (or null).

So passing that to the RawMessage unmarshaling logic yields you a bytearray of a JSO

[2019-02-11 14:28] tragiclifestories commented on #1116
On further investigation, this may be an issue with Github's API docs.

They describe the field as such:

| name | type | description |
-------|------|--------------|
| payload | `string` | JSON payload with extra information about the deployment. Default: `""` |

However, it seems that you can actually set it to any arbitrary JSON sub-object you like.

[code]

It would be impossible to do this wi

[2019-02-11 23:44] gmlewis commented on #1116
I don't understand this statement... what prevents you from marshaling the payload into the string `{"foo":1}` and sending that in the request?

[2019-02-12 09:19] tragiclifestories commented on #1116
You can do that. However, the resulting payload is then:
[code]

Unlike the previous example:

[code]

The current implementation of `CreateDeployment()`, by insisting on a string pointer for the `Payload` field in the `DeploymentRequest` struct, will always result in the former. When that value is unmarshaled into a `json.RawValue`, however, the unmarshaling function will detect that the value is

[2019-02-12 13:05] gmlewis commented on #1116
Oh, I think I understand now what you are saying... I apologize for my confusion.

It would be great if we could get others who have used this portion of the API to comment on their experience. In the meantime, I'll try out some examples with this... your `interface{}` suggestion sounds like it might be spot on, but I just want to try it out first.

[2019-02-12 15:03] gmlewis commented on #1116
@tragiclifestories - please take a look at #1119 and see if this resolves the issue for you.
I originally didn't understand that this was a deployment *creation* issue, but now believe that it is.
Please correct me if I have misunderstood.

[2019-02-12 15:31] tragiclifestories commented on #1116
I don't think I understood that either, to be honest! I've sort of worked it out as I've gone along. I will give it a try and get back to you ASAP, but it looks like it should solve our problem.

I might also file a support ticket with Github about the docs, which are incomplete at best on this point.

[2019-02-12 21:52] #1114 closed

[2019-02-12 22:21] mattburgess commented on #1114
That's awesome customer service @gmlewis thanks!  The terraform github provider passes a `make build` and `make test` run against v24.0.0.

[2019-02-15 02:35] dmitshur opened #1120 "Support Draft Pull Requests API Public Beta"
GitHub Developer API announcement: https://developer.github.com/changes/2019-02-14-draft-pull-requests/.

It looks like we'll need the following for this issue:

-	a new media type (`application/vnd.github.shadow-cat-preview+json`) must be added to `github.go`,
-	this media type must be added to the header of calls to all affected endpoints (list PRs, get a single PR),
-	a new `Draft` field must b

[2019-02-15 03:55] joshuabezaleel commented on #1120
Hi @dmitshur , I am really new to Go and this repo but I tried to take a shot on this. I am sorry if there's anything wrong. Hope this works.

Looking forward to the review.
Thank you very much.

[2019-02-15 04:28] dmitshur commented on #1120
@joshuabezaleel Thank you for doing that! You don't have to worry, we have code review exactly so that we can improve the PR and get it into a mergeable state.

[2019-02-15 17:35] #1120 closed

[2019-02-18 08:52] pankona opened #1122 "Question about query with date that includes "+""
Hello!

I tried to use `Search.Repositories` function.
I see it almost works well, but I tried to use query string `created:` that includes "+" doesn't work well.
Could you please give me some advice to use query in such situation.

Here's snippet I tried:

[code]

According to result of `httpuitl.DumpRequestOut`, the escaped query seems as follows:
`GET /search/repositories?q=user:pankona+created

[2019-02-18 13:05] liamg opened #1123 "Add ability to create signed commits."
This just involves populating an extra field on commit creation: `signature` with a armor detached GPG signature, as described in the docs: https://developer.github.com/v3/git/commits/#create-a-commit

[2019-02-19 12:36] gmlewis commented on #1122
Hi @pankona - thank you for the question.

Here https://github.com/google/go-github/blob/master/github/search.go#L230
we have: `query := "q=" + url.PathEscape(q)` and I'm thinking that this instead needs to be
`query := "q=" + url.QueryEscape(q)`

Could you please try that out and report back if it solves the problem you are seeing?

[2019-02-19 19:08] gauntface commented on #999
Just got hit by this again.

From @willnorris's comments:

[code]

How do I change the behavior? I don't *believe* I can overwrite the Do() method which I thought I'd need for the client to call my method instead of the clients method.

Regarding the AcceptHeaders options, would you be ok with that proposal @gmlewis?

[2019-02-19 19:45] willnorris commented on #999
mentioned this to @gauntface in chat as well, but repeating here for others.  My comment about duplicating methods was not about overwriting the client.Do method, but rather providing alternate implementations of the various library methods that *call* client.Do  ([client.Users.Get](https://github.com/google/go-github/blob/4e1a504644bfd34564773b2f8c4c2ba91c8e21ec/github/users.go#L81), etc).

It's

[2019-02-19 22:17] gmlewis commented on #999
I think I would prefer a mechanism to alter what is being sent via `AcceptHeaders` over providing alternate implementations of specific endpoints, only because the latter might dramatically expand our API surface (depending on how many alternates we end up making)... and subsequently muddy our auto-generated godocs.

It seems to me like altering the `AcceptHeaders` could even allow the manipulatio

[2019-02-19 22:20] willnorris commented on #999
Oh, I certainly wasn't suggesting that we would put alternate implementations into go-github.  The point was that if a user of go-github ever wanted to do something different than the default behavior, *they* could write their own alternate implementations if they needed to.  We provide the raw ingredients (go-querystring, client.NewRequest, client.Do, etc), and they can use them to make their own

[2019-02-20 01:22] pankona commented on #1122
Hi @gmlewis , thank you for your reply!

I tried to use `url.QueryEscsape` then I got escaped url as follows:
`GET /search/repositories?q=user%3Apankona%2Bcreated%3A2019-01-18T17%3A35%3A34%2B09%3A00..2019-02-18T17%3A35%3A34%2B09%3A00%2Bfork%3Atrue&page=1&per_page=100 HTTP/1.1`

Unfortunately I got failed from github API. Returned message is:
`{"message":"Validation Failed","errors":[{"message":"Th

[2019-02-20 02:15] gmlewis commented on #1122
Thank you, @pankona for investigating!

It sounds like we need a more robust escape mechanism.

If anyone would like to tackle this issue, that would be fantastic.
This would need a wide range of (table-driven) tests in the Go style to accompany the PR.

Please check out our [CONTRIBUTING.md](https://github.com/google/go-github/blob/master/CONTRIBUTING.md) guide to get started.

Thank you!

[2019-02-20 02:18] #1123 closed

[2019-02-20 04:35] pankona commented on #1122
@gmlewis

Thank you so much for summarizing. I will try to create patch for this issue!

[2019-02-20 10:37] pankona commented on #1122
@gmlewis

I found simple solution. Could you please review #1125 ?

[2019-02-20 11:53] gmlewis commented on #1122
Thank you, @pankona - please see my comment about #966 and #963.

[2019-02-21 14:22] jbrockopp opened #1126 "Support Webhooks without a Secret"
I have been unable to find a way of using this library to handle webhooks that do not contain a [secret token](https://developer.github.com/webhooks/securing/#setting-your-secret-token).

Source code:

https://github.com/google/go-github/blob/00add49aab2728f7c246b27be612b002b22e7f94/github/messages.go#L142-L183

Currently, the function expects `secretKey []byte` as a parameter. I believe the simpl

[2019-02-22 01:01] pankona commented on #1122
@gauntface @gmlewis

As mentioned on issue, I supplied comments on `search()` to highlight usage between " " vs "+".
Could you please take a look?

[2019-02-22 02:43] gmlewis commented on #1126
Let's step back for one moment... can you please describe what your use case is?

If I'm not mistaken, GitHub requires that you set up a secret key when creating the webhook and your webhook should always be validated, otherwise any system could hit your webhook endpoint with garbage. OK, I see you make the "I want to handle my own security" argument... but I would still like to understand why you

[2019-02-22 18:16] willnorris commented on #1126
I don't *think* this was a conscious decisions to always require a webhook secret.  In our initial use case, we always had one, and so maybe I just assumed folks would always want one present?  I don't remember.

But I'm personally fine with the suggested change, as it is quite minimal.  And to your point @gmlewis, we can add some clear documentation that this is probably a really bad idea unless

[2019-02-22 18:39] gmlewis commented on #1126
OK, sounds good to me, then, @willnorris ... thanks for the feedback!

Feel free to move ahead with the PR, @jbrockopp.

[2019-02-24 17:05] #1101 closed

[2019-02-25 13:47] jbrockopp commented on #1126
@gmlewis @willnorris I really want it for local development.

I 100% acknowledge that not having a webhook is against best practices.

However, if I'm just starting out creating an application that is going to parse a webhook, I would probably be developing locally first and I may not have a deployable application to point my webhook at yet.

When you provide the "secret token", the `X-Hub-Signatu

[2019-02-25 14:15] jbrockopp commented on #1126
@gmlewis @willnorris The pull request I submitted is https://github.com/google/go-github/pull/1127

[2019-02-26 05:15] vaibhavsingh97 commented on #55
@jamesgeorge007 Are you working on this issue? I would like to work on it 😅

[2019-02-26 07:18] palash25 commented on #55
@vaibhavsingh97 I think there are multiple resources that need the JSON marhsalling test so if you start with `pulls_comments_test.go` I don't think there will be any problem since other contributors can pick up the left out resources. :+1:

[2019-02-27 05:07] kshitij10496 commented on #1126
Based on my (limited) experience working with GitHub webhooks, this change would potentially be helpful during the local development phase of bots/applications using this library.

I agree with the security concern raised by @gmlewis and @willnorris above, and that we need to explicitly document that the use of this feature in production is highly discouraged.

Based on my understanding of the mec

[2019-02-27 13:00] gmlewis commented on #1126
Thank you, @kshitij10496 for the comment!  I now remember doing something like this, although it was a few years ago, but it worked just fine. It's a little bit of effort, but not much.

[2019-02-27 20:40] gr2m opened #1129 "Utilize Octokit resources"
:wave: Hello there, I’m the maintainer of the GitHub’s JavaScript/Node libraries such as https://github.com/octokit/rest.js.

In the process I created resources that I hope will make it easier for maintainers of libraries for GitHub’s platform such as `go-github`

For example

1. [octokit/routes](https://github.com/octokit/routes) - machine-readable, always up-to-date GitHub REST API route specifi

[2019-02-28 02:49] #1122 closed

[2019-02-28 02:54] #1126 closed

[2019-02-28 03:29] gmlewis commented on #1129
Wow... those look absolutely fantastic, @gr2m!
Thank you very much for the pointers and the kind words!
@willnorris has done amazing work on this repo and I'm having fun helping out to maintain it.

I love automating things and am going to have to study your resources to see how we could possibly take advantage of them!

And if any of our wonderful contributors wants to check these resources out a

[2019-03-10 09:59] binkkatal opened #1131 "Missing head_commit field in CheckSuiteEvent"
The Check suite event also contains `head_commit` in the `check_suite` object which is missing in the current `go-github` version.
[code]

[2019-03-12 14:42] #1131 closed

[2019-03-16 17:29] gmlewis opened #1133 "Support preview enable/disable Pages API"
GitHub Developer API announcement:
https://developer.github.com/changes/2019-03-14-enabling-disabling-pages/

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING

[2019-03-16 19:20] vaibhavsingh97 commented on #1133
@gmlewis I would love to take this issue

[2019-03-16 20:12] gmlewis commented on #1133
Thank you, @vaibhavsingh97!
Consider it yours. 😁

[2019-03-19 14:34] FM1337 opened #1134 "Organizations.ListMembers User object not getting certain fields"
When using Organizations.ListMembers and going through the members/users list that it returns, I've found that it fails to fetch fields like the user's bio and the user's name even if they have it set.

When testing with Users.Get, I found that the user's bio was returned correctly (as well as their name, not to be confused with Login(aka their username))

[2019-03-19 14:44] gmlewis commented on #1134
Have you checked the GitHub Developer API docs to see what they say about it?
The URLs should be in comments right above the Go method.
Also, you can test to see if the `curl` equivalent behaves differently.
If you could report back on these findings, it would be greatly appreciated.

Thank you, @FM1337!

[2019-03-19 14:53] FM1337 commented on #1134
Okay, so I think I understand a bit more of what's going on now (and I do a apologize for being a bit of a fool)

When the ListMembers is called, it doesn't make a call to the user's URL (in my case it would be https://api.github.com/users/FM1337) it only uses the fields that returned in the JSON response at the members (or public_members) endpoint.

Meaning that this isn't a bug, but rather it is

[2019-03-19 14:53] #1134 closed

[2019-03-19 15:01] gmlewis commented on #1134
No problem, @FM1337!
It definitely can be confusing!
Glad to hear you figured it out.

[2019-03-25 20:01] waseem18 commented on #1133
@vaibhavsingh97 Are you still working on this? If not I would love to take this up :)

[2019-03-25 22:10] vaibhavsingh97 commented on #1133
Hi @waseem18 I am working on it and will send PR soon

[2019-03-27 10:48] gmlewis opened #1135 "FYI: New response code for notifications marked as "read" in bulk"
GitHub Developer API announcement:
https://developer.github.com/changes/2019-03-26-new-response-code-for-notifications-marked-as-read-in-bulk/

As far as I can tell, this should require no changes to this repo, and I've posted the announcement here for informational and discussion purposes only.

My plan is to create it and immediately close it, so those watching the repo (or searching for the iss

[2019-03-27 10:49] gmlewis commented on #1135
Closing. See initial description above. We can re-open if necessary.

[2019-03-27 10:49] #1135 closed

[2019-03-27 11:13] wataash opened #1136 "Incorrect error-parsing on failure of creating review"
Original error info from GitHub API (formatted for readability):

[code]

indicates the commit id `ffffffffff` doesn't exist.

Same one via go-github:

[code]

prints:

[code]

which lacks the error details but shows unrelated fields.

[2019-03-27 11:14] wataash commented on #1136
Most of the non-200 response formats are seem to be undocumented, so I guess some other APIs have this problem.
Making response body available as `string` would be helpful for go-github users when they faced incorrectly parsed errors.
I think performance issue (as discussed in #1047) is negligible if the stringifying is done only on non-200.

[2019-03-28 00:16] gmlewis commented on #1136
Thank you for the side-by-side comparison, @wataash, and the reference to #1047 where we discussed returning the body for *every* response (which we rejected).

I'm not against returning the full body response for non-200 responses.

Thoughts, @gauntface, @willnorris, or anyone else?

[2019-03-28 17:36] willnorris commented on #1136
@wataash: some additional data can be fetched by casting the err to an [ErrorResponse](https://godoc.org/github.com/google/go-github/github#ErrorResponse).

[code]

However, the `errors` array in this response is strings rather than structs, which go-github expects :-\

I think it seems reasonable to capture the response body for errors in a bufio.Reader or something and make it available in the `

[2019-03-30 13:53] gmlewis opened #1140 "FYI: Webhook IP addresses are changing"
GitHub Developer API announcement:
https://developer.github.com/changes/2019-03-29-webhooks-ip-changes/

This announcement shouldn't affect this repo directly, but may affect your clients built with this repo, so I'm just calling out the announcement here and immediately closing so that those watching this repo won't miss it.

[2019-03-30 13:53] gmlewis commented on #1140
Closing. See above.

[2019-03-30 13:53] #1140 closed

[2019-04-02 23:26] vaibhavsingh97 commented on #827
@gmlewis I would love to take this issue and fix since I claimed the issue long back and never able to close it, so would love to close it now.

[2019-04-03 00:30] gmlewis commented on #827
OK, then, back to you, @vaibhavsingh97.

[2019-04-04 08:39] s4mur4i opened #1146 "GHE replication status"
Hello,

I would be interested to know if there is an api endpoint to get information about GHE replication status like from cli tool: ghe-repl-status
https://help.github.com/en/enterprise/2.15/admin/installation/about-high-availability-configuration
In developer documentation I didn't find any reference or information to such objects.

Thank you

[2019-04-04 11:53] gmlewis commented on #1146
I highly recommend that you click on the "Contact Us" button located on that same page:

![image](https://user-images.githubusercontent.com/6598971/55553525-6f1d4c00-56ae-11e9-883c-99fc4f556a65.png)

and ask them.

The maintainers of this repo have very little exposure to GitHub Enterprise and work solely off of the GitHub Developer API v3 documentation.

As I mentioned in another issue, the GitHu

[2019-04-04 11:53] #1146 closed

[2019-04-05 18:14] gauntface commented on #1136
If we could expose the response body in ErrorResponse that seems like we'd accept the memory penalty but enable a sane approach to debug with go-github.

[2019-04-05 21:44] vaibhavsingh97 commented on #814
@gmlewis Since @palash25 haven't sent PR, I would love to add resources mentioned by him.

[2019-04-05 22:27] gmlewis commented on #814
Let's give @palash25 a day or two to respond and afterward you can take this, @vaibhavsingh97.

[2019-04-06 02:09] gmlewis commented on #1136
OK, let's go ahead with this plan of populating the response body in the `ErrorResponse`.
Ideally we would only slurp the response body when generating the `ErrorResponse`, but let's see what implementation(s) the community comes up with.

This PR is open for a volunteer to take it on. I won't label this as good for beginner as this one is going to take a bit of thought and possibly experimentatio

[2019-04-06 07:40] palash25 commented on #814
@gmlewis I am busy preparing for gsoc currently so @vaibhavsingh97 can take this up

[2019-04-06 11:16] gmlewis commented on #814
Good luck with Google Summer of Code, @palash25!

OK, this is yours, @vaibhavsingh97.

[2019-04-07 21:03] dmigo opened #1148 "List all Commits for a given PullRequest"
It would be handy to have a possibility to list all commits for a given `PullRequest`.

I would start a PR with implementation, but I'm not sure where is the best place for such a function in the project.

[2019-04-07 21:31] gmlewis commented on #1148
Typically we have asked that developers place utility functions like this in their own repos so that we are not increasing the surface area of an already very large API, and also to keep maintenance costs lower on this repo.

However, if the community thinks this is a great idea, and we have some strong support for adding it, then I will not stand in the way. Let's see what others think and then w

[2019-04-09 09:30] vaibhavsingh97 commented on #814
@gmlewis I checked all the mentioned resources mentioned in [https://developer.github.com/changes/2017-12-19-graphql-node-id/](https://developer.github.com/changes/2017-12-19-graphql-node-id/) and maximum resources contains node ID in the response.
I had sent PR #1149 to add missing Node IDs in response of some resources

[2019-04-09 09:39] vaibhavsingh97 commented on #1136
@gmlewis Can I take this up? I would love to fix the issue. I would love to do a little research and come back with a solution. Please redirect to me to the resources, I should look into before coming up with soulutions

[2019-04-09 09:41] vaibhavsingh97 commented on #1073
@gmlewis This issue can be closed, as this is fixed in https://github.com/google/go-github/pull/1139

[2019-04-09 11:41] #1073 closed

[2019-04-09 11:54] gmlewis commented on #1136
Ideally, this issue will be resolved by someone with experience writing Go clients.

For a starting point, the http portions of the Go standard library should be read and understood thoroughly:
https://godoc.org/net/http
https://godoc.org/net/http/httputil
https://godoc.org/net/http/httptest

The PR for this will need extensive testing (meaning writing unit tests) that cover a variety of cases.

I

[2019-04-09 21:31] #827 closed

[2019-04-09 21:32] #814 closed

[2019-04-11 22:26] christopher-dG opened #1150 "Fork or incorporate ghinstallation?"
https://github.com/bradleyfalzon/ghinstallation

This package is recommended for GitHub Apps authentication, but it's out of date (a URL is incorrect) and no longer maintained; the author has no activity on GitHub for some time.
A one line change (https://github.com/bradleyfalzon/ghinstallation/pull/17) is all that's needed to make it work. Could we not just include it in this package, or even poi

[2019-04-11 23:46] bradleyfalzon commented on #1150
Yeah I've been very inactive on the project, let me have a quick look now, but I'd support some other option that doesn't bottleneck on me.

[2019-04-12 01:02] gmlewis commented on #1150
@willnorris - I notice that the repo in question has an "Unlicence" although it started out as Apache 2.0.

How would you like to proceed on this matter?

[2019-04-12 01:36] christopher-dG commented on #1150
IMO if we can ensure that someone is around to merge important PRs, then keeping ghinstallation where it is is fine. Maybe a go-github maintainer should be added as a collaborator to ghinstallation?

[2019-04-13 10:43] gmlewis opened #1151 "Support preview endpoints to list branches or pull requests for a commit"
GitHub Developer API announcement:
https://developer.github.com/changes/2019-04-11-pulls-branches-for-commit/

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTIN

[2019-04-13 10:48] vaibhavsingh97 commented on #1151
@gmlewis Can I take this?

[2019-04-13 11:43] gmlewis commented on #1151
Thank you, @vaibhavsingh97 !
It's yours.

[2019-04-14 02:13] #1133 closed

[2019-04-14 20:58] gmlewis opened #1152 "Remove NodeID from NewTeam struct"
In https://github.com/google/go-github/pull/1149#pullrequestreview-226412764, @dmitshur pointed out that `NodeID` should be removed from the `NewTeam` struct.

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to dupli

[2019-04-15 06:05] cpanato commented on #1152
@gmlewis can i try this one?

[2019-04-15 10:41] gmlewis commented on #1152
Thank you, @cpanato!
Yes, it is yours.

[2019-04-15 14:38] cpanato commented on #1152
PR: https://github.com/google/go-github/pull/1153

[2019-04-15 16:40] willnorris commented on #1150
keeping it up-to-date in its current location would be my first choice.

I'm not necessarily opposed to moving it into go-github, but we would certainly need to address the license, and maybe make a few code changes to avoid what looks like a little code duplication.

[2019-04-16 00:21] bradleyfalzon commented on #1150
I'm up for anything, so let me know.

[2019-04-16 01:09] #1152 closed

[2019-04-16 22:12] cco3 opened #1154 "Add an Event interface"
Right now Event.ParsePayload returns interface{}, but it would be nice if it returned a more specific interface with the common fields of events.

It looks like using the Event struct fully is deprecated, and now it is just used to load up with the payload before calling parse.

I propose replacing the Event struct with an Event interface and then making ParsePayload a stand alone function rather

[2019-04-17 00:30] annaliseirby opened #1155 "SetCheckSuitePreferences returns 422"
**Go version**: 1.11.4
_Please note_: I substituted OWNER, REPO, and APP_ID for the actual string values below.

**Summary**: SetCheckSuitePreferences call is returning a 422 Invalid Request because of a bug in the json encoding of the [CheckSuitePreferenceOptions](https://github.com/google/go-github/blob/a8383c7edb4ac91a58ae2b931c0cc32d69c157fc/github/checks.go#L357) struct.

**Details**:
When I

[2019-04-17 01:42] gmlewis commented on #1154
Hmmm... this sounds intriguing... can you please elaborate and give us an idea of how your proposed interface and stand-alone function would be used?

Maybe you could also give a list of pros/cons to the old way and new way of processing events?

[2019-04-17 01:47] gmlewis commented on #1155
Thank you for the report, @annaliseirby and for the blazing fast PR, @ardakuyumcu!

[2019-04-17 18:19] cco3 commented on #1154
[code]

Right now, even to look at the basic fields shared by (nearly?) all events, you have to construct a massive switch statement that handles every different event type.

Something like:
[code]

Additionally, some of the defined structs don't even have the basic info like ID (I think PushEvent is one that doesn't have ID).  This interface would guarantee that all event structs contain a common

[2019-04-18 10:39] #1155 closed

[2019-04-19 01:37] gmlewis commented on #1154
I like the idea, but I also know from first-hand experience that there are some non-trivial systems built using the current existing method.

I think we could make the two methods co-exist.

Normally we don't like to provide two ways of doing things as that increases the maintenance costs of this repo, and maybe now that we have semver versioning, we could switch directly over to the new mechanism

[2019-04-19 04:47] gauntface commented on #1154
Does go have the notion of deprecation notations for their docs? If so we could support both methods and add a deprecation not for the old method.

Regarding the actual proposal - I'm in favor of what @cco3 is proposing.

[2019-04-19 06:03] rspier commented on #1154
I'd like to learn more about the proposed shared fields.  The events themselves don't have some of these fields, so it's not clear if the plan is to synthesize them.   There aren't very many (any?) that are shared across _all_ the event types.

There are some disadvantages to returning an interface type -- for example, you can't directly access any of the members.  (Of course, this gets into wheth

[2019-04-19 17:32] cco3 commented on #1154
Sorry, I should have given an update yesterday...apparently the data from the fetch api and the data from the webhooks are substantially different, so the commonality of fields is less than I was thinking.  In the fetch api, they all seem to have a lot of common fields.

Anyway, at this point I'm fine with closing this unless anyone thinks there's something more here worth discussing.

[2019-04-19 20:39] gmlewis opened #1160 "Support new webhook events and actions"
GitHub Developer API announcement:
https://developer.github.com/changes/2019-04-18-new-webhook-events-and-actions/

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRI

[2019-04-20 00:48] joshuabezaleel commented on #1160
Hi @gmlewis ! Can I take a shot on this? 🙂

[2019-04-20 00:50] gmlewis commented on #1160
Sure, @joshuabezaleel! Thank you!
It is yours.

[2019-04-22 10:26] joshuabezaleel commented on #1160
Hi @gmlewis , how do we have to write/generate for the github-accessors.go? Or it will be automatically generated by the gen-accessors.go?

[2019-04-22 11:06] gmlewis commented on #1160
Check out CONTRIBUTING.md. It has all the details.

[2019-04-25 11:46] #1160 closed

[2019-04-27 11:08] gmlewis opened #1164 "Support preview enable or disable vulnerability alerts API for a repository"
GitHub Developer API announcement:
https://developer.github.com/changes/2019-04-24-vulnerability-alerts/

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md]

[2019-04-27 14:52] cpanato commented on #1164
Can i try this one?

[2019-04-27 15:53] gmlewis commented on #1164
Sure, @cpanato - it is yours. Thank you!

[2019-05-07 20:54] sourabh3b opened #1167 "Support for Get team by name API for Github Enterprise"
Currently, we have API to get team details from team_slug.
link : https://developer.github.com/v3/teams/#get-team-by-name
But this is API is not available in Github enterprise.  link :
https://developer.github.com/enterprise/2.16/v3/teams/ . Do we have plans to get support for this API in Github enterprise ?

[2019-05-08 02:08] gmlewis commented on #1167
I believe that this is a question you will want to ask support@github.com.
This repo isn't maintained by GitHub... just by a few enthusiastic Go fans. :smile:

[2019-05-08 03:45] sourabh3b commented on #1167
sure, thanks

[2019-05-08 03:45] #1167 closed

[2019-05-12 23:51] Daanikus commented on #1151
@vaibhavsingh97 Any update on this?

[2019-05-13 05:18] #1164 closed

[2019-05-16 15:42] adrienzieba opened #1172 "Add support to get-team-by-name"
I created a PR to support https://developer.github.com/v3/teams/#get-team-by-name
PR: https://github.com/google/go-github/pull/1171

[2019-05-22 17:56] ktravis opened #1173 "Unsafe concurrent modification of http.DefaultClient"
When the `RepositoriesService.DownloadReleaseAsset` [method](https://github.com/google/go-github/blob/10ee8e064fb3db61aa03ebf9c58eb88e6dac5ec5/github/repos_releases.go#L270) is called, the `http.Client` pointed to by `github.Client` is modified in order to [temporarily override](https://github.com/google/go-github/blob/10ee8e064fb3db61aa03ebf9c58eb88e6dac5ec5/github/repos_releases.go#L283-L288) `h

[2019-05-24 20:29] SudoVim opened #1174 "Add method for updating a pull request review"
It looks like this project is missing a method for updating an existing review: https://developer.github.com/v3/pulls/reviews/#update-a-pull-request-review. All of the other methods seem to be implemented, but I need this one in particular.

[2019-05-25 19:54] gmlewis commented on #1173
So in cases like the one described, wouldn't the correct (and simplest) solution be to explicitly create a new `http.Client` for each asset downloader (instead of passing in `nil` and therefore be given the `http.DefaultClient`)?

If not, how do you propose that this issue be solved?

[2019-05-25 20:05] gmlewis commented on #1174
Ah, yes... thank you for pointing this out, @SudoVim!

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md](https://github.com/google/go-github/blob/master/CO

[2019-05-25 20:36] ktravis commented on #1173
Ideally these methods would not need to modify the underlying client for each request in order to achieve the desired behavior. At the very least I think the docs need to be explicit about the modifying behavior - currently passing `nil` to `github.NewClient` will make it unsafe for concurrent use with other clients, or with any other code making use of `http.DefaultClient`. The fact that the prob

[2019-05-26 01:35] jkalandaibm opened #1175 "25.0.4: Could not introduce github.com/google/go-github@v25.0.4, as its subpackage github.com/google/go-github/v25/github is missing."
hey folks, I tried both of these options in my .toml and attempted to generate new vendor files:
[[override]]
  name = "github.com/google/go-github"
  version = "v25.0.3"

[[constraint]]
  name = "github.com/google/go-github"
  version = "v25.0.3"

but am getting these results each time:
solving failure: No versions of github.com/google/go-github met constraints:
	v25.0.4: Could not introduce gith

[2019-05-26 01:39] gmlewis commented on #1175
Uh, sorry... you lost me.  What are you trying to do?

Can you show the commands you are trying to execute on the command line, please?

[2019-05-26 01:57] jkalandaibm commented on #1175
I'm trying to generate vendor files using the dep commands through the .toml file
because when importing "github.com/google/go-github/v25/github" I get the following error message:
cannot find package "github.com/google/go-github/v25/github" in any of.... vendor tree

[2019-05-26 02:05] gmlewis commented on #1175
Ah, I'm not familiar with `dep`... have you tried just using the non-versioned import path and letting `dep` vendor the latest?  For example, try just using `github.com/google/go-github/github` and see if that works?

If not, then I will need to defer to people who are familiar with `dep` to answer your question.

[2019-05-26 02:09] jkalandaibm commented on #1175
@gmlewis thank you for your prompt response, and the willingness to help.
Sadly,  github.com/google/go-github/github isn't giving me any love either.

[2019-05-26 05:05] davidobrien1985 opened #1176 "Parsing output of Users.ListFollowers"
Hi,

golang noob here.
Instead of using REST calls I thought I'd use this package here to interact with GitHub.

For example when using `Users.ListFollowers()` I get all the information back of all the followers.
For a subsequent step I only need the `Login` property (the GitHub user name).
However, I can't figure out how to work with the output of above call, the type being `gitub.User`.

How do

[2019-05-26 11:53] gmlewis commented on #1176
Hi @davidobrien1985, and welcome to Go!
I predict that if you give it a chance, Go will become one of your favorite (dare I say "go-to"?) programming languages!

Pro-tip 1: If you want to get really good at Go really fast, dig into solving problems on a website like https://codingame.com or http://adventofcode.com.

Pro-tip 2: I used to be a snob about IDEs and how they were only for the weak, but

[2019-05-26 12:32] gmlewis commented on #1176
As promised, here is a complete example to list *all* the followers of a particular GitHub user:

[code]

Note that GitHub has API query rate limits... which you will quickly become an expert at if you hit their API too hard. I believe the limit is 5000 queries per hour if your program uses an authenticated user, otherwise the rate limit is something like 60 per hour. The program above uses unauth

[2019-05-26 20:57] gmlewis commented on #1176
Here's a better example that shouldn't call the API one extra time.
Note that I've seen some weirdness when playing with the `PerPage` value. 1000 seems to be the maximum value, but setting it to smaller numbers then increasing the `Page` number will sometimes get you the same results, so be warned you might need to sanitize the results or experiment if you don't use 1000 for `PerPage`.

[code]

[2019-05-26 20:58] gmlewis commented on #1176
I'm going to go ahead and close this issue. Feel free to reopen if you have any questions or if I misunderstood your original question.

[2019-05-26 20:58] #1176 closed

[2019-05-28 14:47] SudoVim commented on #1174
Well, it looks as if someone beat me to it. At any rate, this feature is greatly appreciated!

[2019-05-30 02:02] #1174 closed

[2019-05-30 02:05] #1173 closed

[2019-05-30 23:51] #1172 closed

[2019-05-31 05:57] waseem18 commented on #1151
@vaibhavsingh97 Any update on the PR?

[2019-05-31 14:43] jkalandaibm opened #1181 "Mock Create repo/issue calls"
Hi Folks -

Is there a go-github proto file available anywhere? The benefit of it would be to generate github client files which would be immensely helpful for mocking out requests and running tests locally.

Many thanks

[2019-05-31 14:48] gmlewis commented on #1181
"Proto" as in gRPC "protobuf"?
Can you please point us to an example of what you are talking about?

[2019-05-31 16:08] jkalandaibm commented on #1181
hey again, ah you're right proto files are for gRPC only. Never mind.. I'll close this issue.
I'm just trying to mock create repo/issue related calls,  but haven't been successful.

[2019-05-31 16:14] jkalandaibm commented on #1181
Glen, perhaps you'd be able to help.
[code]
which works as it is supposed to, and creates an issue in the defined repo, however what I'm trying to accomplish is to mock out client.Issues.Create().
Is there a way to accomplish this?

[2019-06-01 00:03] gmlewis commented on #1181
Yes, Go makes it relatively straightforward to mock functions using interfaces.

Here is a super-simplified example that will hopefully get you started... please let me know if you have any questions.

First, the `main.go` program under test which, by itself, will call the actual GitHub API:

[code]

Next, here is the `main_test.go` program that mocks the one GitHub API endpoint that you asked for

[2019-06-03 14:36] jkalandaibm commented on #1181
@gmlewis you are the man. A million thanks for your thorough and phenomenal response.

[2019-06-03 15:18] gmlewis commented on #1181
Thank you, @jkalandaibm!
Closing issue.

[2019-06-03 15:18] #1181 closed

[2019-06-04 21:11] wlynch commented on #1150
@bradleyfalzon FWIW, I'd be willing to take over as maintainer of ghinstallation. Unfortunately I've been told the preferred way to do this while I am at Google is to fork the repo into a Google-maintained location. 😞

2 options I see if we want me to take over maintenance:
1) We make whatever changes necessary and move ghinstallation into go-github.
2) We fork off the repo into a new repo (likely

[2019-06-04 21:19] wlynch commented on #1150
It looks like if we sort out the license and transfer the repository to the Google org, GitHub will automatically redirect Git fetches to the new location: https://help.github.com/en/articles/transferring-a-repository

[2019-06-04 21:21] willnorris commented on #1150
@wlynch we certainly don't need to move this into the Google or for you to help maintain the project.  The license is a different issue, and would indeed need to be addressed.

[2019-06-05 05:30] bradleyfalzon commented on #1150
Do I just need to change the license to Apache(?) to keep this moving
forward?

On Wed, 5 Jun 2019 at 6:51 am, Will Norris <notifications@github.com> wrote:

--
Bradley Falzon
brad@teambrad.net

[2019-06-05 11:27] wlynch commented on #1150
@bradleyfalzon That would be a helpful first step while I sort out what needs to happen on my end.

Thanks! 😄

[2019-06-05 20:06] sks444 commented on #1151
If no one is working on this issue, I would like to take this up.

[2019-06-05 20:40] gmlewis commented on #1151
I think we can safely say that this issue has been abandoned.

@sks444 - it is yours.
Since #1170 was never reviewed, feel free to start from scratch as you see fit, carefully reviewing the GitHub Developer API announcement listed at the top of this issue and following our CONTRIBUTING.md guide also linked above.

Thank you, @sks444!

[2019-06-05 20:45] sks444 commented on #1151
Thank you @gmlewis,

I will go through all the prerequisite and start working on this.

[2019-06-07 02:42] bradleyfalzon commented on #1150
I've added a PR for the license change, once confirm that's correct, I'll merge.

[2019-06-07 15:13] wlynch commented on #1150
Updates!

I've followed up and confirmed that there should be no issues with keeping the repository where it is. I think we should move forward with the LICENSE change, since that will help avoid future headaches.

Once https://github.com/bradleyfalzon/ghinstallation/pull/19 is merged, feel free to add me as a collaborator! :smile:

[2019-06-08 00:27] gmlewis opened #1183 "Support preview Update Branch API"
GitHub Developer API announcement:
https://developer.github.com/changes/2019-05-29-update-branch-api/

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md](ht

[2019-06-08 00:28] gmlewis opened #1184 "Support preview Automated Security Fixes API"
GitHub Developer API announcement:
https://developer.github.com/changes/2019-06-04-automated-security-fixes/

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING

[2019-06-08 01:17] bradleyfalzon commented on #1150
Will do hopefully in the next 24 hours once I get near computer again.

[2019-06-08 04:42] waseem18 commented on #1183
@gmlewis I'd like to work on this issue

[2019-06-08 08:07] cpanato commented on #1184
Can i take this one?

[2019-06-08 12:40] gmlewis commented on #1184
Yes, @cpanato, it is yours.
Thank you!

[2019-06-08 12:41] gmlewis commented on #1183
Thank you, @waseem18!
It is yours.

[2019-06-09 21:02] #1183 closed

[2019-06-10 06:58] bradleyfalzon commented on #1150
@wlynch I've done this and added you as a contributor.

[2019-06-10 15:31] wlynch commented on #1150
:tada: :tada: :tada:

This is now done. Thanks everyone!

[2019-06-10 20:18] #1151 closed

[2019-06-11 12:00] #1184 closed

[2019-06-11 21:12] douglasadolph opened #1190 "Create repo ignores topics"
[code]

Function takes in repo (*Repository) and creates a repoReq, but it excludes some of the Repository data. In my case, it ignores topics (does not add topics when repo created).

Can all Repository fields be added, or am I trying to add topics the wrong way?

[code]

[2019-06-12 01:05] gmlewis commented on #1190
Taking a look at the [auto-generate godocs for `Repositories.Create`](https://godoc.org/github.com/google/go-github/github#RepositoriesService.Create), it says that only a subset of the fields are used. It then provides a link to the GitHub Developer API docs:
https://developer.github.com/v3/repos/#create

Here, under [Input](https://developer.github.com/v3/repos/#input) it lists 14 fields.
These

[2019-06-12 16:25] #1150 closed

[2019-06-12 23:26] johnwoo247 opened #1191 "Maintain Repo permissions"

[2019-06-12 23:26] #1191 closed

[2019-06-13 19:45] kassyuz opened #1192 "Issues.ListByRepo does not return the field CreatedAt"
Hi, I am coding a script that gets all my issues on Github from a specific repo.
This is the script that I am using to do it
[code]
PS: Sorry if I did any mistake, it's my first Go script :smile:

When I checked the JSON that came from `resp, _, err := client.Issues.ListByRepo(ctx, "orgID", "repoID", nil)` I see one field empty, fields related to `time` type, it is `CreatedAt` and `UpdatedAt` (I s

[2019-06-13 19:54] gmlewis commented on #1192
Hi @kassyuz and welcome to Go! 😄
Can you please tell us what version of this repo you are using?

[2019-06-13 19:56] gmlewis commented on #1192
Also, while I'm here, one quick way to debug things like this is to use `curl` to see what the full JSON response is, or just instrument `github/github.go` and dump out the full response. Then you can see what is coming back across the wire.

[2019-06-14 12:41] gmlewis commented on #510
Hi @tarebyte - this is our oldest outstanding PR and I'm hoping to clean these up. I just browsed through the history of this PR and was wondering if you could clarify the situation for us.

In a nutshell, https://developer.github.com/v3/issues/timeline/ makes no mention of a `type` or `issue` in the `source` field.  Here's what it says:

and yet @ereyes01 has seen `type` and `issue` in the respon

[2019-06-14 12:51] tarebyte commented on #510
@gmlewis I can confirm both `type` and `issue` can be part of the response.

I'll open an issue to get the documentation updated.

[2019-06-14 12:59] gmlewis commented on #1116
Closing as obsolete. Feel free to reopen if there is demand.

[2019-06-14 13:12] gmlewis commented on #510
Thank you, @tarebyte!  Moving forward with PR.

[2019-06-14 13:16] #510 closed

[2019-06-14 14:23] kassyuz commented on #1192
Golang: `go version go1.12.5 linux/amd64`
Regarding the repo version, I am using `26.0.4`

[2019-06-14 14:30] kassyuz commented on #1192
@gmlewis I have a script (in Python) invoking the same GH API function and over there I can see all values from `CreatedAt` and `UpdatedAt`

Return from GH API V3 using Python:
[code]

BTW, I am gonna try out instrument `github/github.go` and check what will be the difference.

[2019-06-19 08:51] twpayne opened #1199 "Including version number in module path breaks Go modules"
Including the version number, e.g. `v26`, in the module path breaks Go modules as `v25` was deleted.

See https://github.com/twpayne/chezmoi/pull/355 for an example of this breaking a project.

Please consider removing the version number from the path and using Go modules as Russ intended :)

[2019-06-19 11:24] gmlewis commented on #1199
Sorry, you caught me a little off-guard...  First off, why do you say "`v25` was deleted"? The whole point of `go mod` is to find a version (in this case, on GitHub, where *nothing* is deleted) and allow you to stick to it as a dependency of your project.

Second, you say to use "Go modules as Russ indended"... can you please follow that statement with some documentation pointing out how we are *n

[2019-06-19 11:33] twpayne commented on #1199
Sure. The problem is that the version number is in the package name, whereas it should not be, and instead it should be a git tag.

Say a project is using `github.com/google/go-github/v25`, with Go modules, the `go` tool goes looking in https://github.com/google/go-github for a module with that name. The version has now been bumped and the module name has been changed to`github.com/google/go-githu

[2019-06-19 11:45] gmlewis commented on #1199
So if I understand correctly, `/v26` needs to be removed from the first line of `go.mod`, correct?

Every time we make a "release", GitHub tags the release for us: https://github.com/google/go-github/releases
Aren't these sufficient?

[2019-06-19 11:49] twpayne commented on #1199
Yes, this is my understanding too.

GitHub doesn't tag releases for you, the tag is created by you (or maybe by some release automation software if you're using any). When a tag gets pushed to GitHub, GitHub will create an entry on the releases page for you, but to the best of my knowledge these are not used by Go in any way.

[2019-06-19 11:52] gmlewis commented on #1199
OK, right... I manually create the tag name for each release.

So I still don't understand your `Use git tags to tag version` comment. Are you saying more modifications are needed for `go.mod`?

Do you want to show me how `go.mod` should look or send me a PR, or is the deletion of `/v26` sufficient?

[2019-06-19 11:58] twpayne commented on #1199
The deletion the `/v26` should be sufficient. You'll need to delete it everywhere:

[code]

As this will change the module name for users, I'd also tag a new version `v27.0.0` after deleting `/v26`.

[2019-06-19 12:00] twpayne commented on #1199
To tag a new version:

[code]

[2019-06-19 12:00] gmlewis commented on #1199
OK, but this statement ("delete it everywhere") I truly do not understand... please take a look at the list of filenames where it is used. None of the files are in the repo source code itself except in examples and integration tests.

[2019-06-19 12:01] twpayne commented on #1199
Deleting `/v26` from the module name will change the module name. So, anything like:

[code]

has to be changed to

[code]

This includes tests, examples, etc.

[2019-06-19 12:06] gmlewis commented on #1199
@dsymonds - if you have a few minutes, could you please take a look at this issue and comment?

[2019-06-19 13:11] gmlewis commented on #1199
Also, maybe you have a few minutes to comment, @campoy?

[2019-06-19 13:16] twpayne commented on #1199
It's possible that I've made a mistake here. It looks like `github.com/google/go-github` is following the [releasing modules (v2 or higher) strategy described in the Wiki](https://github.com/golang/go/wiki/Modules#releasing-modules-v2-or-higher), and it's possible that the [triggering issue](https://github.com/twpayne/chezmoi/pull/355) hit problems because the user's Go version does not support th

[2019-06-19 20:03] gmlewis opened #1200 "Support preview Team Sync API for GitHub Enterprise Cloud users"
GitHub Developer API announcement:
https://developer.github.com/changes/2019-06-12-team-sync/

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md](https://gi

[2019-06-19 20:07] vaibhavsingh97 commented on #1200
I would love to fix this issue 😄

[2019-06-19 20:12] gmlewis commented on #1200
Thank you, @vaibhavsingh97 ! It's all yours.

[2019-06-21 02:43] gmlewis opened #1203 "addOptions fails to test URL if nil options are passed"
While increasing code coverage in #1202, I discovered that if `nil` is passed to `addOptions`, then the rest of the URL tests are not performed.

This means that a garbage URL could be used without detection if `nil` is passed as the option.
This doesn't seem correct, but this will need more investigation to see why that check was added there and if it was fixing some other problem.

[2019-06-21 05:50] philips commented on #1097
I think this can be closed, right?

[2019-06-21 19:01] Jarlotee commented on #1097
Yes

[2019-06-21 19:01] #1097 closed