[2019-06-21 19:48] campoy commented on #1199
Oof, Go modules ain't easy at scale if you ask me.

I think the one that can help here is @broady

[2019-06-23 00:14] twpayne commented on #1199
I think I messed up here. Big apologies for the noise and distraction. Please re-open if I missed something.

[2019-06-23 00:14] #1199 closed

[2019-06-23 03:50] catastrop opened #1206 "rewrite github in Go"

[2019-06-23 07:03] catastrop commented on #1206
Or use gitea

[2019-06-23 07:03] #1206 closed

[2019-06-23 10:52] gmlewis commented on #1199
No worries, @twpayne - we want this to be the most useful package it can be... so if you do find problems definitely let us know. Thanks.

[2019-06-24 11:48] pilbot opened #1208 "Errors for GetRef are inconsistent"
When using GetRef the errors can be confusing. Because the error that is returned when a ref doesn't exist is not consistent.

If I want to check for existence of a specific branch `feat/a`, my repo contains the branch `feat/alpha` the GetRef call will return a specific error. If, however, my repo contains no branch for which `feat/a` is a prefix I get a error 404.

IMHO, it is better for the libr

[2019-06-24 20:48] anjanashenoy opened #1210 "Certains fields do not display when calling ListCommits"
I'm using go-github for an internal tool on Github enterprise. There are certain fields that do not show up when I call the github commits API using go-github, but when I call the github API directly these fields are visible. Is there anyway to get the commit data using go-github before the data is Unmarshaled into a struct?

[2019-06-24 23:39] gmlewis commented on #1210
Yes, by modifying the `go-github` source code and adding in the missing fields (if it is urgent).
If it is not urgent, then you can list all the missing fields in this Issue #1210 and one of our gracious and awesome volunteer contributors will be happy to add the fields for you. Or, you could create a PR and become a contributor to this repo yourself, which you are welcome to do! Your choice.

[2019-06-25 13:41] anjanashenoy commented on #1210
Thank you! I need this field added for a User/Author:

`LdapDn            			string 		 `json:"ldap_dn"``

[2019-06-25 14:18] gmlewis commented on #1210
Sounds great, @anjanashenoy !

Dear contributors:

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md](https://github.com/google/go-github/blob/master/CONTRI

[2019-06-25 16:12] anjanashenoy commented on #1210
Please review https://github.com/google/go-github/pull/1211

[2019-06-25 19:06] gmlewis commented on #1210
It looks like it is not quite ready yet... it probably just needs a `gofmt` on your changed file that you edited.

[2019-06-25 19:30] #1210 closed

[2019-07-08 22:02] #1208 closed

[2019-07-08 22:06] #1200 closed

[2019-07-10 03:10] gjut3sdf opened #1216 "杜兰大学文凭办理www.diplomaclub.net办理杜兰大学文凭"
办澳洲毕业证澳洲文凭澳洲学历认证国外文凭澳洲大学毕业证学历证书澳洲学位证书澳洲成绩单澳洲留学回国证明留信网认证办阿德莱德大学毕业证文凭毕业证、MQ,CQU,UNSW毕业证、成绩单、使馆、教育部认证信办USYDUNSWMQUTS Monash毕业证成绩单及真实教育部认证澳洲毕业证澳洲文凭澳洲大学毕业证澳洲学历证书澳洲认证澳洲diploma澳洲成绩单澳洲留学证明澳洲留学文凭加拿大毕业证书加拿大文凭加拿大大学毕业证加拿大成绩单加拿大学历认证加拿大学历证书加拿大diploma加拿大认证温哥华多伦多约克文凭学位college美国毕业证美国文凭办理美国大学毕业证美国学历证书美国认证美国diploma美国假文凭fake diploma transcript法国德国爱尔兰西班牙荷兰毕业证文凭纽约递交学历认证国外文凭公证澳洲文凭样本加拿大文凭样本美国毕业证样本国外学历认证,国外真实学历认证,毕业证丢失补办,

[2019-07-10 03:10] gjut3sdf opened #1217 "乔治华盛顿大学文凭办理www.diplomaclub.net办理乔治华盛顿大学文凭"
办澳洲毕业证澳洲文凭澳洲学历认证国外文凭澳洲大学毕业证学历证书澳洲学位证书澳洲成绩单澳洲留学回国证明留信网认证办阿德莱德大学毕业证文凭毕业证、MQ,CQU,UNSW毕业证、成绩单、使馆、教育部认证信办USYDUNSWMQUTS Monash毕业证成绩单及真实教育部认证澳洲毕业证澳洲文凭澳洲大学毕业证澳洲学历证书澳洲认证澳洲diploma澳洲成绩单澳洲留学证明澳洲留学文凭加拿大毕业证书加拿大文凭加拿大大学毕业证加拿大成绩单加拿大学历认证加拿大学历证书加拿大diploma加拿大认证温哥华多伦多约克文凭学位college美国毕业证美国文凭办理美国大学毕业证美国学历证书美国认证美国diploma美国假文凭fake diploma transcript法国德国爱尔兰西班牙荷兰毕业证文凭纽约递交学历认证国外文凭公证澳洲文凭样本加拿大文凭样本美国毕业证样本国外学历认证,国外真实学历认证,毕业证丢失补办,

[2019-07-10 03:10] gjut3sdf opened #1218 "波士顿大学文凭办理www.diplomaclub.net办理波士顿大学文凭"
办澳洲毕业证澳洲文凭澳洲学历认证国外文凭澳洲大学毕业证学历证书澳洲学位证书澳洲成绩单澳洲留学回国证明留信网认证办阿德莱德大学毕业证文凭毕业证、MQ,CQU,UNSW毕业证、成绩单、使馆、教育部认证信办USYDUNSWMQUTS Monash毕业证成绩单及真实教育部认证澳洲毕业证澳洲文凭澳洲大学毕业证澳洲学历证书澳洲认证澳洲diploma澳洲成绩单澳洲留学证明澳洲留学文凭加拿大毕业证书加拿大文凭加拿大大学毕业证加拿大成绩单加拿大学历认证加拿大学历证书加拿大diploma加拿大认证温哥华多伦多约克文凭学位college美国毕业证美国文凭办理美国大学毕业证美国学历证书美国认证美国diploma美国假文凭fake diploma transcript法国德国爱尔兰西班牙荷兰毕业证文凭纽约递交学历认证国外文凭公证澳洲文凭样本加拿大文凭样本美国毕业证样本国外学历认证,国外真实学历认证,毕业证丢失补办,

[2019-07-10 03:11] gjut3sdf opened #1219 "佩珀代因大学文凭办理www.diplomaclub.net办理佩珀代因大学文凭"
办澳洲毕业证澳洲文凭澳洲学历认证国外文凭澳洲大学毕业证学历证书澳洲学位证书澳洲成绩单澳洲留学回国证明留信网认证办阿德莱德大学毕业证文凭毕业证、MQ,CQU,UNSW毕业证、成绩单、使馆、教育部认证信办USYDUNSWMQUTS Monash毕业证成绩单及真实教育部认证澳洲毕业证澳洲文凭澳洲大学毕业证澳洲学历证书澳洲认证澳洲diploma澳洲成绩单澳洲留学证明澳洲留学文凭加拿大毕业证书加拿大文凭加拿大大学毕业证加拿大成绩单加拿大学历认证加拿大学历证书加拿大diploma加拿大认证温哥华多伦多约克文凭学位college美国毕业证美国文凭办理美国大学毕业证美国学历证书美国认证美国diploma美国假文凭fake diploma transcript法国德国爱尔兰西班牙荷兰毕业证文凭纽约递交学历认证国外文凭公证澳洲文凭样本加拿大文凭样本美国毕业证样本国外学历认证,国外真实学历认证,毕业证丢失补办,

[2019-07-10 03:11] gjut3sdf opened #1220 "佛罗里达大学文凭办理www.diplomaclub.net办理佛罗里达大学文凭"
办澳洲毕业证澳洲文凭澳洲学历认证国外文凭澳洲大学毕业证学历证书澳洲学位证书澳洲成绩单澳洲留学回国证明留信网认证办阿德莱德大学毕业证文凭毕业证、MQ,CQU,UNSW毕业证、成绩单、使馆、教育部认证信办USYDUNSWMQUTS Monash毕业证成绩单及真实教育部认证澳洲毕业证澳洲文凭澳洲大学毕业证澳洲学历证书澳洲认证澳洲diploma澳洲成绩单澳洲留学证明澳洲留学文凭加拿大毕业证书加拿大文凭加拿大大学毕业证加拿大成绩单加拿大学历认证加拿大学历证书加拿大diploma加拿大认证温哥华多伦多约克文凭学位college美国毕业证美国文凭办理美国大学毕业证美国学历证书美国认证美国diploma美国假文凭fake diploma transcript法国德国爱尔兰西班牙荷兰毕业证文凭纽约递交学历认证国外文凭公证澳洲文凭样本加拿大文凭样本美国毕业证样本国外学历认证,国外真实学历认证,毕业证丢失补办,

[2019-07-10 03:11] gjut3sdf opened #1221 "东北大学文凭办理www.diplomaclub.net办理东北大学文凭"
办澳洲毕业证澳洲文凭澳洲学历认证国外文凭澳洲大学毕业证学历证书澳洲学位证书澳洲成绩单澳洲留学回国证明留信网认证办阿德莱德大学毕业证文凭毕业证、MQ,CQU,UNSW毕业证、成绩单、使馆、教育部认证信办USYDUNSWMQUTS Monash毕业证成绩单及真实教育部认证澳洲毕业证澳洲文凭澳洲大学毕业证澳洲学历证书澳洲认证澳洲diploma澳洲成绩单澳洲留学证明澳洲留学文凭加拿大毕业证书加拿大文凭加拿大大学毕业证加拿大成绩单加拿大学历认证加拿大学历证书加拿大diploma加拿大认证温哥华多伦多约克文凭学位college美国毕业证美国文凭办理美国大学毕业证美国学历证书美国认证美国diploma美国假文凭fake diploma transcript法国德国爱尔兰西班牙荷兰毕业证文凭纽约递交学历认证国外文凭公证澳洲文凭样本加拿大文凭样本美国毕业证样本国外学历认证,国外真实学历认证,毕业证丢失补办,

[2019-07-10 03:12] gjut3sdf opened #1222 "俄亥俄州立大学文凭办理www.diplomaclub.net办理俄亥俄州立大学文凭"
办澳洲毕业证澳洲文凭澳洲学历认证国外文凭澳洲大学毕业证学历证书澳洲学位证书澳洲成绩单澳洲留学回国证明留信网认证办阿德莱德大学毕业证文凭毕业证、MQ,CQU,UNSW毕业证、成绩单、使馆、教育部认证信办USYDUNSWMQUTS Monash毕业证成绩单及真实教育部认证澳洲毕业证澳洲文凭澳洲大学毕业证澳洲学历证书澳洲认证澳洲diploma澳洲成绩单澳洲留学证明澳洲留学文凭加拿大毕业证书加拿大文凭加拿大大学毕业证加拿大成绩单加拿大学历认证加拿大学历证书加拿大diploma加拿大认证温哥华多伦多约克文凭学位college美国毕业证美国文凭办理美国大学毕业证美国学历证书美国认证美国diploma美国假文凭fake diploma transcript法国德国爱尔兰西班牙荷兰毕业证文凭纽约递交学历认证国外文凭公证澳洲文凭样本加拿大文凭样本美国毕业证样本国外学历认证,国外真实学历认证,毕业证丢失补办,

[2019-07-10 03:12] gjut3sdf opened #1223 "马里兰大学帕克分校文凭办理www.diplomaclub.net办理马里兰大学帕克分校文凭"
办澳洲毕业证澳洲文凭澳洲学历认证国外文凭澳洲大学毕业证学历证书澳洲学位证书澳洲成绩单澳洲留学回国证明留信网认证办阿德莱德大学毕业证文凭毕业证、MQ,CQU,UNSW毕业证、成绩单、使馆、教育部认证信办USYDUNSWMQUTS Monash毕业证成绩单及真实教育部认证澳洲毕业证澳洲文凭澳洲大学毕业证澳洲学历证书澳洲认证澳洲diploma澳洲成绩单澳洲留学证明澳洲留学文凭加拿大毕业证书加拿大文凭加拿大大学毕业证加拿大成绩单加拿大学历认证加拿大学历证书加拿大diploma加拿大认证温哥华多伦多约克文凭学位college美国毕业证美国文凭办理美国大学毕业证美国学历证书美国认证美国diploma美国假文凭fake diploma transcript法国德国爱尔兰西班牙荷兰毕业证文凭纽约递交学历认证国外文凭公证澳洲文凭样本加拿大文凭样本美国毕业证样本国外学历认证,国外真实学历认证,毕业证丢失补办,

[2019-07-10 03:13] gjut3sdf opened #1224 "雪城大学文凭办理www.diplomaclub.net办理雪城大学文凭"
办澳洲毕业证澳洲文凭澳洲学历认证国外文凭澳洲大学毕业证学历证书澳洲学位证书澳洲成绩单澳洲留学回国证明留信网认证办阿德莱德大学毕业证文凭毕业证、MQ,CQU,UNSW毕业证、成绩单、使馆、教育部认证信办USYDUNSWMQUTS Monash毕业证成绩单及真实教育部认证澳洲毕业证澳洲文凭澳洲大学毕业证澳洲学历证书澳洲认证澳洲diploma澳洲成绩单澳洲留学证明澳洲留学文凭加拿大毕业证书加拿大文凭加拿大大学毕业证加拿大成绩单加拿大学历认证加拿大学历证书加拿大diploma加拿大认证温哥华多伦多约克文凭学位college美国毕业证美国文凭办理美国大学毕业证美国学历证书美国认证美国diploma美国假文凭fake diploma transcript法国德国爱尔兰西班牙荷兰毕业证文凭纽约递交学历认证国外文凭公证澳洲文凭样本加拿大文凭样本美国毕业证样本国外学历认证,国外真实学历认证,毕业证丢失补办,

[2019-07-10 03:13] gjut3sdf opened #1225 "南卫理公会大学文凭办理www.diplomaclub.net办理南卫理公会大学文凭"
办澳洲毕业证澳洲文凭澳洲学历认证国外文凭澳洲大学毕业证学历证书澳洲学位证书澳洲成绩单澳洲留学回国证明留信网认证办阿德莱德大学毕业证文凭毕业证、MQ,CQU,UNSW毕业证、成绩单、使馆、教育部认证信办USYDUNSWMQUTS Monash毕业证成绩单及真实教育部认证澳洲毕业证澳洲文凭澳洲大学毕业证澳洲学历证书澳洲认证澳洲diploma澳洲成绩单澳洲留学证明澳洲留学文凭加拿大毕业证书加拿大文凭加拿大大学毕业证加拿大成绩单加拿大学历认证加拿大学历证书加拿大diploma加拿大认证温哥华多伦多约克文凭学位college美国毕业证美国文凭办理美国大学毕业证美国学历证书美国认证美国diploma美国假文凭fake diploma transcript法国德国爱尔兰西班牙荷兰毕业证文凭纽约递交学历认证国外文凭公证澳洲文凭样本加拿大文凭样本美国毕业证样本国外学历认证,国外真实学历认证,毕业证丢失补办,

[2019-07-10 07:10] waseem18 commented on #1225
Reported this user.

[2019-07-10 11:44] #1216 closed

[2019-07-10 11:44] #1217 closed

[2019-07-10 11:44] #1218 closed

[2019-07-10 11:44] #1219 closed

[2019-07-10 11:44] #1220 closed

[2019-07-10 11:44] #1221 closed

[2019-07-10 11:44] #1222 closed

[2019-07-10 11:44] #1223 closed

[2019-07-10 11:44] #1224 closed

[2019-07-10 11:44] #1225 closed

[2019-07-10 11:50] gmlewis commented on #1225
Thank you, @waseem18!
I blocked the user and also reported them. Hopefully we'll see no more garbage from them.

[2019-07-14 20:45] Kyslik opened #1230 "[Question] Edit an issue I just searched for"
I do not understand how am I supposed to edit an issue after I search for it via `SearchService` (`client.Search.Issues(...)`).

I get `[]Issues` but then I can't really `client.Issues.Edit()`. Am I supposed to write my own edit function for that? E.g: ~splitting~ parsing `issue.RepositoryURL` and using it in the `client.Issues.Edit()`?

---

Is the [`issues.GetRepository()` (added 2 years ago)](h

[2019-07-14 22:58] gmlewis commented on #1230
After you have an `Issue`, you can then edit it with the [`IssuesService.Edit`](https://godoc.org/github.com/google/go-github/github#IssuesService.Edit) call.

All you need is the `owner`, `repo`, and issue `number`, and then you build up an [`IssueRequest`](https://godoc.org/github.com/google/go-github/github#IssueRequest) struct that specifies all the changes you would like to make, then finally

[2019-07-15 00:58] Kyslik commented on #1230
Wow, thank you for super-fast reply.

My search query actually looks like `is:open is:pr org:my-org archived:false`, thus I get results from all repositories within the organization `my-org`, but I do not know repository if a particular issue.

I read the docs of the `IssueService.Edit()` and currently I am parsing `issue.RepositoryURL` to get repository name and I don't like it. Any other hints?

[2019-07-15 01:27] gmlewis commented on #1230
All the accessors make it easier to get a value of a field (or its zero value if it is not set in the struct).
This simply makes your code a lot easier to write so that you don't have to keep checking for `nil` all over the place.

OK, so you are getting a response from your search query, but you are saying that you can't find the repo name or the issue number?

So going back to your first questio

[2019-07-15 18:32] Kyslik commented on #1230
I think I was not clear enough, after I execute a search, the `results.Issues` do not have `*Repository` struct populated it's just `nil`.

Please consider the following:

[code]

When you run the above sample you will see what I mean, `*Repository` struct is not populated.

[code]

[2019-07-15 18:59] gmlewis commented on #1230
Oh!  Now I understand the problem... sorry I missed it before.  I'll get back to you after some experiments later tonight after work.

[2019-07-16 00:42] gmlewis commented on #1230
I was able to duplicate the issue of the `Repository` field not being populated.

So now I'm going back to the GitHub Developer API docs to see what they say (which I probably should have done first):
https://developer.github.com/v3/search/#search

The only examples I see that actually populate the `Repository` field are:

* https://developer.github.com/v3/search/#search-commits
* https://develope

[2019-07-16 11:56] uighn3165 opened #1231 "blocked and reported SPAM account"
国外学历认证/马来西亚大学文凭[www.diplomaclub.net](www.diplomaclub.net)
国外学历认证/英国大学文凭[www.diplomaclub.net](www.diplomaclub.net)
国外学历认证/加拿大大学文凭[www.diplomaclub.net](www.diplomaclub.net)
国外学历认证/澳大利亚大学文凭[www.diplomaclub.net](www.diplomaclub.net)
国外学历认证/澳洲大学文凭[www.diplomaclub.net](www.diplomaclub.net)
国外学历认证/新加坡大学文凭[www.diplomaclub.net](www.diplomaclub.net)
国外学历认证/新西兰大学文凭[www.diplomaclub.net](www.diplomaclub.net)
国

[2019-07-16 11:58] #1231 closed

[2019-07-16 15:32] Kyslik commented on #1230
Thank you very much for the care you put in to answering me.

---

Yes I've already read the v3 docs thats why I was like - hmmm `getRepository()` just returns `nil` I guess its from v2 or v1...

[2019-07-16 15:32] #1230 closed

[2019-07-16 15:37] gmlewis commented on #1230
One thing that can be very confusing in this repo is that we re-use structs like `Repository` all over the place, and what fields get populated totally depend on the GitHub API endpoint that fills in the data.  So this is a rather common occurrence to not get back all the information you wanted even though it looks like it should be there from the Go struct. That's also why we have pointers to fie

[2019-07-18 07:43] J2K17 opened #1232 "import "github.com/google/go-github/v27/github" doesnt work"
Unable to use.
import "github.com/google/go-github/v27/github"

This does work however.
import "github.com/google/go-github/github"

[2019-07-18 12:04] gmlewis commented on #1232
This is the second issue we've seen like this and I'd really like to solve the problem, so please help me duplicate it.

Here's what I tried as an experiment... I copied the `examples/simple/main.go` file into a clean directory outside my GOPATH, then I ran this:

[code]

What are the steps you are taking that fail?

[2019-07-22 22:28] gmlewis opened #1235 "Support preview repository creation template API"
GitHub Developer API announcement:
https://developer.github.com/changes/2019-07-16-repository-templates-api/

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING

[2019-07-23 03:25] waseem18 commented on #1235
I'd like to take this up @gmlewis

[2019-07-23 05:14] shanempope commented on #1235
@waseem18 I started this as a learning exercise, feel free to use my changes or redo it. I did not want to claim it in case it was over my head. I've linked the PR above. But I appear to need more code coverage. I will look into it tomorrow if you haven't finished your own. Take care!

[2019-07-23 13:09] gmlewis commented on #1235
Thank you, @waseem18, for your offer, and thanks also for your understanding about @shanempope putting together a PR.

Thanks, @shanempope, for your PR... I reviewed it and made some comments.  In the future, please place a note on the issue that you are working on it so others don't waste their time working on it too.  Thanks!

[2019-07-23 15:48] emoryruscus opened #1237 "Add Support For Installation Token Parameters"
Add support for passing additional repository ids and permissions when creating a github installation token.

https://developer.github.com/v3/apps/#create-a-new-installation-token

[2019-07-23 15:50] emoryruscus commented on #1237
Have worked on this and will be submitting a pull request shortly.

[2019-07-23 23:31] gmlewis commented on #1237
Are you sure we don't already have this functionality?

https://github.com/gmlewis/go-github/blob/master/github/apps.go#L194-L215

[2019-07-25 12:05] #1235 closed

[2019-07-28 13:26] Bhargavasomu opened #1243 "PullRequestEvent doesn't support "Before" and "After" fields"
Suppose that I have a Pull Request already opened with a commit. Now let's say that I add another commit to that, then a github event `pull_reques` would be sent with the action as `synchronize`. But I see that the JSON response has the `Before` and `After` fields in it, but the `PullRequestEvent` is not capturing them. Is there anyway to capture them or would it be possible to add this functional

[2019-07-28 16:53] gmlewis commented on #1243
According to the example provided in the GitHub Developer API docs:
https://developer.github.com/v3/activity/events/types/#pullrequestevent

it appears that the `"before"` and `"after"` fields are not being sent, but you have seen them in a response (which most likely means that the docs need updating). (Please correct me if I'm not understanding your question properly, and provide a link to help

[2019-07-29 07:45] you06 opened #1244 "Question about update branch API"
I'm using this library for development on GitHub bots. Thanks for this awesome library!

While trying [`UpdateBranch`](https://godoc.org/github.com/google/go-github/github#PullRequestsService.UpdateBranch) service, I found that this API will do update branch all the time, even if the base branch is up to date. An empty `udpate branch` action will make a new head sha of the pull request. Is there s

[2019-07-29 12:14] gmlewis commented on #1244
I'm wondering if you need to check the most recent commit hash to see if it is newer than the last branch update prior to updating?  If so, you might need to involve the use of `git`.

This might be a good question for `support@github.com` unless someone else has some good ideas.

[2019-07-29 16:12] you06 commented on #1244
[code]
@gmlewis thanks, this code seems working for me. Problem resolved, close issue.

[2019-07-29 16:12] #1244 closed

[2019-07-29 16:15] gmlewis commented on #1244
That's great, @you06! Thanks for reporting back.

If this were a code review, I might comment that you could potentially use the getters to prevent the possibility of a `nil` dereference, like so:

[code]

I'm glad you found a working solution.

[2019-07-29 16:50] you06 commented on #1244
Thanks for your CR @gmlewis! I'm using get functions now, and here's an implementation for all branches not only master.
[code]

[2019-07-29 17:27] gmlewis commented on #1244
Looks great.  But if I'm really going to do a code review, I would say "Don't ignore the returned errors."  :smiley:

It just takes a couple times for this to bite you big time in production before you decide to never again ignore the returned errors.  :smile:

[2019-07-30 02:11] you06 commented on #1244
Sure, this snippet is just for a demo, so I make it in the easiest way.

[2019-07-30 13:23] ambientsound commented on #1237
Thank you @emoryruscus for bringing this up. We're currently implementing a service that will issue scoped installation tokens, would be great to have #1238 merged into go-github.

[2019-08-01 14:14] you06 commented on #1244
After running this update branch comparation for 2 days, I found that compare SHA of PR's base branch and SHA of the latest commit to target branch only works when commits to target branch are created after PR is created.
Consider for this situation, checkout from master in 2 pm, working for 2 hours and create a PR with master as target branch in 4 pm, however, there is a commit to master in 3 pm.

[2019-08-06 07:21] TomTucka opened #1245 "Support deleting head branch of GitHub pull requests"
add support for this new feature: https://help.github.com/en/articles/managing-the-automatic-deletion-of-branches

[2019-08-07 02:29] stefansedich commented on #1245
I might be blind but looking at the V3 Repositories API I cannot see this being part of it...

[2019-08-07 07:00] TomTucka commented on #1245
@stefansedich Yep! I have asked @GithubHelp on twitter. Will post a response when they reply

[2019-08-07 09:52] crazytaxii opened #1246 "Question about git push mirror"
Does this library support `git push --mirror` operation?

[2019-08-07 11:50] gmlewis commented on #1246
No, this repo is a Go package for accessing the GitHub REST Developer API v3:
https://developer.github.com/v3/

The closest approximation to this would be creating a fork:
https://developer.github.com/v3/repos/forks/#create-a-fork

[2019-08-07 14:25] crazytaxii commented on #1246
Oh I got it, go-github is just a library implementing GitHub API.

[2019-08-07 14:25] #1246 closed

[2019-08-07 14:30] gmlewis commented on #1246
Yes, exactly.

[2019-08-08 23:30] hpalba opened #1247 "CreateFile or UpdateFile returns 404 Not Found"
I'm always getting 404 not found when using either CreateFile or UpdateFile. I tried using curl and postman with my correct authentication provided and accessing github api directly works.  But when using the go-github, it won't work.  I already used ListBranches of go-github and this worked fine with my authentication.

My code has:
		commitOption := &github.RepositoryContentFileOptions{
		Branch

[2019-08-09 02:55] gmlewis commented on #1247
I just ran your test program, and it worked fine for me in order to create a new file in a repo.

For completeness, here is my entire `main.go`:

[code]

Here is what happened when I ran the program:

[code]

Because of the `404 Not Found`, I'm guessing that your `owner` or `repoName` is not correct.
But `go-github` appears to be working just fine.
(Is your repo's "owner" name really "testuser"? P

[2019-08-09 16:58] hpalba commented on #1247
Thanks very much. My problem was that one of my If statement is skipping my authentication code.  What bothers me is the error code 404 instead of 401.

[2019-08-09 18:10] gmlewis commented on #1247
OK, great. Glad you found the problem. We are happy to accept PRs.  :smile:

[2019-08-09 18:10] #1247 closed

[2019-08-11 10:49] Soulou opened #1248 "Shouldn't GetArchiveLink accept 301 redirections?"
Currently GetArchiveLink is only accepting 302: https://github.com/google/go-github/blob/0830f2846d799e0c1b07b643f79c4a2af7e54295/github/repos_contents.go#L264

But sometimes, a 301 is returned: I got errors like `unexpected status code: 301 Moved Permanently` which I assume is related to a renaming of repository.

Shouldn't it be handled?

Thanks a lot

[2019-08-11 11:44] gmlewis commented on #1248
Yes, that seems reasonable, to at the very least report it as a redirection and then let the client handle trying again with the new URL, or handling it in whatever manner it desires.  In other words, I don't think this package should do anything with the information, just report it as a 301.

The GitHub API Developer docs just say: `To follow redirects with curl, use the -L switch:`.

Anyway, I'm

[2019-08-11 12:38] Soulou commented on #1248
@gmlewis Thanks for your answer, I'll try to have a look if I've time :D

[2019-08-11 13:19] vaibhavsingh97 commented on #1248
can I take this up?

[2019-08-11 13:36] Soulou commented on #1248
Of course if you want it :-)

[2019-08-12 13:34] vaibhavsingh97 commented on #1248
@Soulou PR sent: https://github.com/google/go-github/pull/1249

[2019-08-12 14:14] Soulou commented on #1248
Great thanks

[2019-08-13 14:54] dmitris opened #1250 "closing a Pull Request fails if PullRequest.Base is non-nil"
After our recent upgrade to GHE 2.17.5, calls to PullRequestService.Edit to close PRs
started to fail with an error:
[code]

Even though https://developer.github.com/v3/pulls/#update-a-pull-request doesn't explicitly states so, it seems that now the GitHub API doesn't allow to have the `base` field set when `state` = `'closed'`.  The `base` is being set in https://github.com/google/go-github/blob/

[2019-08-14 11:16] gmlewis commented on #1248
So let's start over on this one.

Specifically, for the `GetArchiveLink` endpoint, we would like the ability to detect and follow redirects.

I'm thinking that having the option to follow the redirect might be nice, and have that as the default option. So having a `followRedirects=false` might be good, then the response could be looked at instead of performing the second roundtrip call.

Before an

[2019-08-14 13:16] TomTucka commented on #1245
Confirmed by @githubhelp on twitter that this is not in the `v3` or `v4` API. They are going to check if its on the engineering teams roadmap.

[2019-08-14 16:36] Soulou commented on #1248
Having an option is always good for the client, to analyse weird cases/bugs etc, so I agree with it.
To me, the default behaviour should be should be to follow all 301, until a 302 happens and at the moment, returning the `Location`

[2019-08-16 05:40] donofden opened #1252 "ListTeams is not providing Team Members Count in RepositoriesService"
I'm using `ListTeams()` to get details on the teams for the specified repository using `RepositoriesService`, but I don't get the
`GetMembersCount()`.

https://github.com/google/go-github/blob/24f172eae1a0c53c780f259d8492979900e9af2e/github/repos.go#L623

https://github.com/google/go-github/blob/24f172eae1a0c53c780f259d8492979900e9af2e/github/github-accessors.go#L11264

**It is not returning the M

[2019-08-16 12:51] gmlewis commented on #1252
Following the URL on the line above the one you gave:
https://github.com/google/go-github/blob/24f172eae1a0c53c780f259d8492979900e9af2e/github/repos.go#L622
leads us to the GitHub Developer API v3 documentation for this endpoint, where you will see that the `members_count` is not being returned in that endpoint:

[code]

Therefore, this endpoint will not get you what you want.

I think what you mi

[2019-08-16 13:16] donofden commented on #1252
@gmlewis  As per ur comment, `GetCloneURL`, `GetArchiveURL()`, `GetCreatedAt()` too not part of the response but I can able to get in the `ListTeams`  response.

![Screenshot 2019-08-16 at 6 45 44 PM](https://user-images.githubusercontent.com/5079613/63170074-14313380-c056-11e9-8106-9028895bfe3d.png)

[2019-08-16 13:33] gmlewis commented on #1252
Then all that means is that the GitHub endpoint is returning that data and their documentation is incomplete.

We can't magically return the `members_count` if the GitHub endpoint is not sending it in the response.

[2019-08-18 20:01] geekodour opened #1254 "github actions date not getting parsed by go-github"
github actions log:
[code]

this is on line `110`, `github.ParseWebHook` , it's working with any other payload if I just use it from a regular curl command. but it's failing when used with GithubActions.
[code]

`data == issue_comment payload`

not sure if this is a github action issue or go-github issue. how can i help to resolve this?

[2019-08-18 20:02] geekodour commented on #1254
@gmlewis any idea?

[2019-08-19 13:47] gmlewis commented on #1254
You said that regular curl works... can you please provide an example of the response you get from curl?
Then we can look at how this repo is parsing that response and figure out what is going on.

[2019-08-19 14:06] geekodour commented on #1254
@gmlewis
this is the normal payload we're getting from the github api:
https://developer.github.com/v3/activity/events/types/#webhook-payload-example-14

the format is the exact same, but with the new github action it seems to be modifying the date I think.

[2019-08-19 14:13] geekodour commented on #1254
for a temporary fix for this issue when using with the new github action was provided by @VladMasarik ,
[code]

[2019-08-19 14:22] VladMasarik commented on #1254
When we were using "previous" version of Github actions, the one where workflow was not described in `.yaml` files, the time stamp inside `event.json` file was following:
`2019-06-11T09:26:28Z`
However, after a the update the timestamp was following:
`8/18/2019 7:44:51 PM`

[2019-08-19 14:26] geekodour commented on #1254
@parkr might have some inputs?

[2019-08-19 14:26] gmlewis commented on #1254
Just to clarify, we have two things here... the actual response from the GitHub Developers API v3 and the `go-github` package (this repo).

When you say the `"previous" version of GitHub actions`, which of the two are you talking about?
If it is the latter, I know that we had a PR recently that changed the type of a timestamp to `time.Time`... but I want to verify if that's what we are talking abo

[2019-08-19 14:28] gmlewis commented on #1254
Please take a look at https://github.com/google/go-github/pull/1179 and let me know if that is relevant.

[2019-08-19 14:39] geekodour commented on #1254
`"previous" version of GitHub actions`

So github actions migrated from HCL to YAML syntax and had a lot of different changes with it.
https://help.github.com/en/articles/migrating-github-actions-from-hcl-syntax-to-yaml-syntax

When I was using `go-github` whith the GitHub Developers API v3 payload (`event.json` file in github actions) in the previous github actions (HCL Syntax) everything was wor

[2019-08-19 14:56] parkr commented on #1254
Do you have a diff of the two JSON files, before vs after?

[2019-08-19 15:01] VladMasarik commented on #1254
The #1179 is fairly similar to our case. However, instead of UNIX epoch integers, webhook payload in our case, is using this format `"created_at": "8/18/2019 7:44:51 PM"`

[2019-08-19 15:10] geekodour commented on #1254
Oh yes, you're correct @VladMasarik ,  this definitely looks related to #1179

[2019-08-19 15:51] gmlewis commented on #1254
Just FYI - a `Timestamp` is a `time.Time`:
https://github.com/google/go-github/blob/master/github/timestamp.go#L13-L19

So you should be able to format it anyway you wish.

[2019-08-19 16:50] VladMasarik commented on #1254
[previous working](https://pastebin.com/y7e8zWHU)
[current broken parsing](https://pastebin.com/HNRdhY2c)
I am not sure if diff is useful here, as the webhook JSON is from two different repositories

[2019-08-19 17:23] gmlewis commented on #1254
Hmmm... I remember that #1179 was created because the format changed.

I wonder if we need to be able to support both types of formats when parsing the timestamps?

(The other option might be for you to use the version of this repo before #1179 which would be:
https://github.com/google/go-github/releases/tag/v25.1.3 )

[2019-08-19 21:20] ericsciple commented on #1254
@VladMasarik sorry about the regression. The timestamp from the event data was unintentionally getting mutated. The fix is merged into the production branch and should roll out with tomorrow's hotfix train.

[2019-08-19 21:43] krasi-georgiev commented on #1254
The linked PR seems to be for a completely different api.

The problem is not with the go-github module, but the `/github/workflow/event.json` file that is generated by github actions.
https://developer.github.com/actions/creating-github-actions/accessing-the-runtime-environment/

The github api clearly shows that the expected date format returned by the github api is:
`"created_at": "2011-04-10T2

[2019-08-19 21:44] krasi-georgiev commented on #1254
@ericsciple thanks for the update

[2019-08-20 01:41] gmlewis commented on #1254
So... can this issue be closed for this repo?

[2019-08-20 16:58] Xopherus commented on #321
@willnorris it looks like this is supported by the v3 API now, can this be reopened?

See https://developer.github.com/v3/repos/#list-organization-repositories

[2019-08-20 17:01] Xopherus opened #1257 "List Repositories by Org does not support sorting"
Sorting repositories is supported by the v3 API, can those options be made available in the `RepositoryListByOrgOptions` struct?

Sorry for the duplicate, but the older issue is almost 3 years old (#321), figured I would reopen for visibility!

[2019-08-20 23:54] gmlewis commented on #321
Since #1257 has been opened, leaving this issue closed.

[2019-08-20 23:55] gmlewis commented on #1257
Related GitHub docs: https://developer.github.com/v3/repos/#list-organization-repositories

#1258 has already been created to address this issue.

[2019-08-21 23:49] srvaroa commented on #1254
@ericsciple it looks like the actions event payloads still carry the old format, can you confirm whether the fix was rolled out?

[2019-08-22 00:42] ericsciple commented on #1254
@srvaroa sorry for the delay. The deployment rolled out to the first ring, but has not progressed further yet. My guess is it will deploy to the rest of the accounts tomorrow or Friday. I'll touch base with the folks driving the deployment tomorrow. Lots of relevant folks are at an all day event again tomorrow, so might be friday.

[2019-08-22 02:08] yunsoul opened #1259 "Can't make Issue Template when repository's branch protected"
When repository's branch(master) is protected like below, I cannot make Issue Template with go-github API

![image](https://user-images.githubusercontent.com/10693701/63480449-e3755200-c4cc-11e9-82ed-3f09e53e303a.png)

* If I remove the branch's protection configuration, I'm able to make Issue Template.
* And used access token has r/w right to the repository

[2019-08-22 02:29] gmlewis commented on #1259
Have you checked the GitHub Developer API v3 documentation to see if it is possible to do what you want, or if this is being prevented by the API itself?

If to still feel that the problem lies within this repo, please provide a more detailed example of what methods you are calling, preferably with an example program.

[2019-08-22 02:40] yunsoul commented on #1259
I can't find the proper API for making issue template in the GitHub Developer API v3.
So, I tried like this...

[code]

[2019-08-22 02:43] gmlewis commented on #1259
If you can't find the API in the GitHub Developer API v3 documentation, then you will not find the API in this repo either, as this repo is a Go client library for the GitHub Developer API v3.

[2019-08-22 02:47] yunsoul opened #1260 "panic occurred when a repository is empty by some go-github API"
* When a repository is empty(no code & no branch & no README.md), some go-github API made panic

* the go-github API
  * RepositoriesService.GetContens()
  * RepositoriesService.CreateFile()
  * IssuesService.CreateLabel()

* I think there would be more API can crash...

[2019-08-22 11:32] gmlewis commented on #1260
Can you please provide the location of the crashes?  Most likely they are caused by a `nil` de-reference, correct?

[2019-08-22 11:33] gmlewis commented on #1260
This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md](https://github.com/google/go-github/blob/master/CONTRIBUTING.md) guide to get started.

Thank you!

[2019-08-22 11:48] joshuabezaleel commented on #1260
Hi @gmlewis , if it's okay I would like to ask, what should be the expected behavior of this bug fix? (because of the `nil` dereference)?

[2019-08-22 11:52] gmlewis commented on #1260
Yes, this package should never panic, but instead return errors that can be handled.

[2019-08-22 20:45] srvaroa commented on #1254
Sorry for the spam, I didn't realize I was referencing this issue from the (WIP) commit :sweat:

[2019-08-23 00:44] yunsoul opened #1261 "feature request : getting App's installation ID API"
Could you add new API which we can get Github App's installation ID more easily?
Sometimes it need to know without github hook event.

* API spec.
  * input : Github App's App ID, organization name, repository name
  * output : the target Github App's Installation ID

[2019-08-23 01:13] gmlewis commented on #1261
Hi @yunsoul, as I mentioned [elsewhere](https://github.com/google/go-github/issues/1259#issuecomment-523723713), this repo is a Go client to the GitHub Developer's API v3.

What this means is that you need to find the API you want from the GitHub Developer API documentation first, and then find the corresponding endpoint(s) in this client package.
Alternatively, you can look through the [auto-gene

[2019-08-23 01:26] gmlewis commented on #1175
Closing due to inactivity and lack of `dep` expert guidance.

[2019-08-23 01:26] #1175 closed

[2019-08-23 01:28] gmlewis commented on #1192
Closing due to inactivity. Feel free to reopen if needed.

[2019-08-23 01:28] #1192 closed

[2019-08-23 01:28] gmlewis commented on #1190
Closing due to inactivity.

[2019-08-23 01:28] #1190 closed

[2019-08-23 01:30] gmlewis commented on #1232
Closing due to inactivity.

[2019-08-23 01:30] #1232 closed

[2019-08-23 01:38] gmlewis commented on #1243
Closing due to inactivity. Feel free to reopen if there are updates.

[2019-08-23 01:39] gmlewis commented on #1245
Closing due to lack of support in the v3 API. Please reopen if it becomes supported.

[2019-08-23 02:54] yunsoul commented on #1261
@gmlewis Thank you for your mention.

In my development scenario, knowing who installed the app doesn't help and even don't know who installed the app.
My goal is to know the installation ID of the app installed in a particular repository.

[2019-08-23 03:58] #1261 closed

[2019-08-23 03:59] #1259 closed

[2019-08-23 07:02] joshuabezaleel commented on #1260
Is it okay to use `recover` and then print the `error` message? @gmlewis

[2019-08-23 12:08] gmlewis commented on #1260
No, we want to prevent the panics in the first place.

[2019-08-23 12:22] gmlewis commented on #1260
Now, having said that, it is another matter entirely if the user is passing in `nil` for a required parameter (which I don't think is the case here).
That would be user error and not a bug, and does not need fixing, as we attempt to carefully document the required parameters.

So in all honesty, this issue first needs investigation to determine if the bug report is user error or really one or more

[2019-08-23 15:05] ericsciple commented on #1254
@VladMasarik @srvaroa the fix has rolled out everywhere now.

We tried to roll it out yesterday, but hit a snag during the deployment. Done now.

[2019-08-23 19:03] srvaroa commented on #1254
Thanks @ericsciple! I verified on a test repo and I do get the expected timestamp format.

[2019-08-23 19:15] gmlewis commented on #1254
Closing.

[2019-08-23 19:15] #1254 closed

[2019-08-26 17:32] emoryruscus opened #1263 "Fix 'Reqest' -> 'Request' (add missing 'u')"
The following files have this typo:

github-accessors.go
pulls.go
pulls_test.go

[2019-08-27 07:46] nghialv opened #1264 "PullRequest struct is missing "rebaseable" field"
API: https://developer.github.com/v3/pulls/#get-a-single-pull-request

https://godoc.org/github.com/google/go-github/github#PullRequest

[2019-08-27 11:56] cpanato commented on #1264
@gmlewis can i take this one?

[2019-08-27 12:16] cpanato commented on #1264
sure @gmlewis

[2019-08-27 13:52] nghialv commented on #1264
Nice. Thank you.

[2019-08-28 08:01] tomasaschan opened #1265 "Support PubSubHubbub API for creating hooks"
Are there any plans to support [the PubSubHubbub API for creating webhooks](https://developer.github.com/v3/repos/hooks/#pubsubhubbub)?

I could try to create a PR for implementing this (I'm hoping to use it for implementing https://github.com/terraform-providers/terraform-provider-github/issues/275) if there is any chance of it being accepted.

[2019-08-28 11:55] tomasaschan commented on #1265
@gmlewis Great! Is there any design documents or similar that I should submit for review before starting to work on the actual code? (Also, are there any specific build instructions for this repo I should know about?)

[2019-08-29 00:40] edaena opened #1266 "Search.Code not returning results on encoded query string"
Repro:
1. Call API directly:
[code]
Seen: list of results

2. Call API via the go-github client
[code]
This results in an encoded query string `https://api.github.com/search/code?q=prometheus%2Brepo%3Amicrosoft%2Ffabrikate-definitions%2Blanguage%3Ayaml`

Expected: The same list of results as step 1
Seen: Validation error
[code]

[2019-08-29 07:58] tomasaschan commented on #1265
All the infrastructure for handling authentication etc seems to already be handled, so I figure I can just look at how other API calls are handled, and mimic that. For example, the [create webhook code](https://github.com/google/go-github/blob/master/github/repos_hooks.go#L108) seems simple enough to imitate.

To avoid cluttering up existing code, I figure I'll place it in a new file `github/repos

[2019-08-29 12:02] gmlewis commented on #1265
That sounds like a great plan to me. Hopefully if others have any feedback they will respond to this thread earlier rather than later. :joy:

[2019-08-29 13:30] gmlewis commented on #1266
Thank you, @edaena!

Here is the code responsible for encoding the query string:
https://github.com/google/go-github/blob/master/github/search.go#L217-L231

And here are the unit tests that go with this section of code:
https://github.com/google/go-github/blob/master/github/search_test.go

It looks like the `Query` parameter as in `&searchParameters{Query: query}` is not tested, which is unfortuna

[2019-08-29 14:22] jmidd commented on #1266
Hi - could I help with this issue ? Could you assign me - thanks !

[2019-08-29 15:22] gmlewis commented on #1266
I can't assign it to you, but consider this issue yours, and please read again carefully what I wrote above before writing your PR, as we would like to heavily test a number of search queries and make sure they match queries performed in the GitHub web UI.

Thank you, @jmidd!

[2019-08-30 03:00] ashlineldridge opened #1267 "Not possible to update a child team to be top-level"
Due to the `omitempty` tag on `NewTeam.ParentTeamID` it is not possible (in my understanding) to update a child team to be a top-level team. Because updating a team is a PATCH operation, when `parent_team_id` is omitted, GitHub does not update the team's parent.

Happy to submit a PR.

[2019-08-30 12:20] bmcstdio opened #1268 "Deleting a file using TreeEntry/CreateTree/CreateCommit?"
I know it is possible to delete a file using `DeleteFile`, but that doesn't seem to support signing the resulting commit. Hence, I'd like to be able to use `TreeEntry`, `CreateTree` and `CreateCommit` to delete a file, but I can't seem to be able to do that. Is there an example of deleting a file using these APIs I can have a look at?

[2019-08-30 23:37] #1264 closed

[2019-08-30 23:43] gmlewis commented on #1268
Looking at our source-of-truth, which is the GitHub Developer API v3 (that this repo is simply a client of):
https://developer.github.com/v3/git/trees/#create-a-tree
It appears that you could create a tree and commit it and the new tree will completely replace the contents of the previous tree.

I have not done this myself and don't have time to create an example, but it looks like this is possibl

[2019-08-30 23:54] gmlewis commented on #1267
For others listening in, I believe we are talking about this:
GitHub Developer v3 API docs: https://developer.github.com/v3/teams/#edit-team
and this:
https://github.com/gmlewis/go-github/blob/master/github/teams.go#L196-L216

So I'm not sure I understand the issue that you are raising.  `omitempty` actually gives us more flexibility... if you don't provide an `*int64`, then the parameter won't be

[2019-08-31 04:18] domsu opened #1270 "Invalid response expected for ListPlanAccountsForAccount"
Currently `ListPlanAccountsForAccount` from `MarketplaceService` expects `[]*MarketplacePlanAccount`.

But documentation https://developer.github.com/v3/apps/marketplace/#check-if-a-github-account-is-associated-with-any-marketplace-listing says that `GET /marketplace_listing/accounts/:account_id` returns `*MarketplacePlanAccount`.

This is causing my application to fail.

[2019-09-01 23:27] ashlineldridge commented on #1267
Sure, what I'm seeing is that because [`ParentTeamID`](https://github.com/google/go-github/blob/master/github/teams.go#L149) uses an `omitempty` tag, the JSON field `parent_team_id` is not included in the `PATCH` operation if `ParentTeamID` is `nil`. As such, there is no way to tell GitHub to update a team to longer have a parent (i.e. to become a top-level team). To tell GitHub to update a team t

[2019-09-06 08:00] mungojam opened #1275 "Add support for allowing apps to push to protected branches"
Support has just been added to the REST API:

https://developer.github.com/changes/2019-09-05-apps-protected-branches-api/

The main benefit for us will be to give dependabot permissions to auto-merge protected branches.

[2019-09-06 17:20] gauntface opened #1277 "Add ListOptions to ListMigrations"
ListMigrations doesn't currently accept ListOptions meaning pagination is not currently possibly.

Would be help to have the API change to `func (s *MigrationService) ListMigrations(ctx context.Context, org string, opts *ListOptions) ([]*Migration, *Response, error)`

[2019-09-07 21:24] willnorris opened #1280 "Discussion: release cadence"
gmlewis@: Looking at https://github.com/google/go-github/releases, it seems like you've been tagging a new release nearly every time you merge a pull request, is that right?  That's really not necessary, and we should probably slow it down a bit.  It creates a bunch of extra work (for you!) and noise to tag releases that end up getting newer releases tagged hours or even minutes later.  It also ma

[2019-09-07 23:58] gmlewis commented on #1280
OK, that sounds great.  I will stop releasing on every PR and will work on creating one every week or two.  Thanks, @willnorris.

[2019-09-08 00:03] #1250 closed

[2019-09-08 00:39] gmlewis opened #1281 "ReactionsService.ListCommentReactions is missing a query parameter"
While reviewing #1276, it became clear that we are not supporting the `content` query parameter documented here: https://developer.github.com/v3/reactions/#list-reactions-for-a-commit-comment

To fix this, we would need to make a new `ListCommentReactionsOptions` struct that embeds a `ListOptions` and replaces it in the same method call.

This would be a great PR for any new contributor to this re

[2019-09-08 00:48] gmlewis commented on #1275
Thank you, @mungojam!

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md](https://github.com/google/go-github/blob/master/CONTRIBUTING.md) guide to get star

[2019-09-08 01:08] gmlewis commented on #1267
Sorry for the delay, @ashlineldridge, and thank you for the detailed explanation and example!

Yes, I understand now. Since this particular method still needs that parameter to be optional, it sounds like the correct solution to this problem is to create a new method that specifically updates the team to be one with no parent.

Now the challenge becomes "What do we name the new method"?
I'm leanin

[2019-09-08 12:17] shibasisp commented on #1275
@gmlewis I am a new contributor to this repo as well as a new Go developer. Can I pick this issue?

[2019-09-08 12:27] gmlewis commented on #1275
Hi @shibasisp, yes, you are welcome to take this issue, and thank you for volunteering!

Note that the successful closing of this issue will involve creating four new methods and enhancing one existing one. Please make sure to compliment each new method with unit tests and carefully follow the instructions found in [CONTRIBUTING.md](https://github.com/google/go-github/blob/master/CONTRIBUTING.md).

[2019-09-08 18:49] willnorris commented on #1280
thank *you* :)

[2019-09-08 18:49] #1280 closed

[2019-09-10 00:21] #1277 closed

[2019-09-17 11:33] lucmski opened #1284 "Add search topics"
Hi guys,

Hope you are all well !

It would be awesome to add search topics.
https://developer.github.com/v3/search/#search-topics
https://github.com/google/go-github/blob/master/github/search.go

Cheers,
L.

[2019-09-17 14:43] gmlewis commented on #1284
Thank you, @lucmski!

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md](https://github.com/google/go-github/blob/master/CONTRIBUTING.md) guide to get start

[2019-09-18 00:18] #958 closed

[2019-09-18 23:00] Shweta-Deshpande opened #1286 "The APIMeta() method is failing."
https://api.github.com/api/v3/meta does'nt work anymore.
Returns:
{
  "message": "Not Found",
  "documentation_url": "https://developer.github.com/v3"
}

[2019-09-18 23:12] Shweta-Deshpande commented on #1286
Many other endpoints like - GetBranches, GetUser, GetVersion, GetFile, WriteFile etc are also failing with the same error.

[2019-09-19 02:32] gmlewis commented on #1286
It works for me.

Here's my complete test program:

[code]

and the results of running it:

[code]

and from the command line:

[code]

So my first question is: Are you on GitHub Enterprise? If so, then you will want `api/v3` in the URL as you have shown above, but then the URL will not have `api.github.com` in it... instead it will probably be more like `api.github.your-organization.com`.

But if

[2019-09-19 12:47] AGMETEOR commented on #1284
@gmlewis I am quite new to the language, about 6 months in... I am curious if a person with my little experience would handle this ticket? Although something in me tells I can do it but will struggle a bit.

[2019-09-19 13:09] gmlewis commented on #1284
Welcome, @AGMETEOR! I would definitely have said yes, but it looks like @lucmski is already working on this one in #1285.

Feel free to pick out any other issues in this repo to work on, especially those flagged as `good first issue` and I'm happy to help you through the process.

[2019-09-20 21:30] glenjamin opened #1287 "The branch protection dismissal restrictions response doesn't distinguish absent from an empty allowed list"
Follows on from #791

See also https://github.com/terraform-providers/terraform-provider-github/issues/267

With dismissal restrictions disabled the payload looks like this:
[code]

With dismissal restrictions enabled, but both lists empty, the payload looks like this:
[code]

However the Struct for this response doesn't model the optionality
[code]

I'm going to look into making a PR for this.

[2019-09-20 21:45] glenjamin commented on #1287
For completeness, against the `/protection` endpoint:

on GET
- if enabled, you get `dismissal_restrictions`
- if disabled, then `dismissal_restrictions` is omitted

on PUT
- if `dismissal_restrictions` is absent, it is unchanged
- if `dismissal_restrictions` is present, it must be an object
- if the object is empty, `dismissal_restrictions` are removed
- if the object has `teams` or `users`, they

[2019-09-21 14:15] gmlewis commented on #1287
From here: https://developer.github.com/v3/repos/branches/#update-pull-request-review-enforcement-of-protected-branch
Since `dismissal_restrictions` has a definite structure:

![Screenshot from 2019-09-21 10-11-42](https://user-images.githubusercontent.com/6598971/65374481-543c9500-dc58-11e9-9843-71333ab06a00.png)

why don't we go ahead and make a struct for it with optional fields for `users` and

[2019-09-21 15:14] glenjamin commented on #1287
Good call, that struct already exists for the update payload, so i’ll use that

[2019-09-21 17:43] gmlewis commented on #1287
Oh, I think I mis-spoke... they are *not* options... they are required.  I'll go edit my other comment... and yes, I think you can reuse that already-existing struct.  Thank you, @glenjamin!

[2019-09-25 18:11] git-ktse opened #1290 "Get 404 Not Found error when getting reviews or reviewers"
GET https://github.adaptiveinsights.com/api/v3/repos/<repo owner>/<repo name>/pulls/96/requested_reviewers: 404 Not Found [

From google search, sounds like it's an auth problem.  However, my oath2 token is a site admin account.  I can use the same token to get other PR information.

[2019-09-25 18:21] git-ktse opened #1291 "Get 415 error when getting required_status_checks"
GET https://github.adaptiveinsights.com/api/v3/repos/<repo owner>/<repo name>/branches/test/protection/required_status_checks: 415 If you would like to help us test the Protected Branches API during its preview period, you must specify a custom media type in the 'Accept' header. Please see the docs for full details. []

[2019-09-26 01:01] gmlewis commented on #1290
Your URL does not make sense to me.  You wrote:

[code]

You are missing the `owner` and `repo` parts of the URL.

For example, if you wanted to look at this particular repo, the `owner` is "google" and the `repo` is "go-github".  Therefore, your call should look like this:

[code]

Obviously, you are using GitHub Enterprise and `github.adaptiveinsights.com` does not have this repo, but I hope you

[2019-09-26 01:01] gmlewis commented on #1291
Same problem here as in #1290. You are missing `owner` and `repo`.

[2019-09-26 22:56] git-ktse commented on #1290
I did have repo owner and repo name.  I typed in repos/<repo owner>/<repo name>/... and somehow after I saved the comment, the <repo owner> and <repo name> disappeared.

[2019-09-26 22:58] git-ktse commented on #1290
It happened again.   I typed in /&ltrepo owner&gt/&ltrepo name&gt/ and the repo owner and name disappeared

[2019-09-26 22:59] git-ktse commented on #1290
Let me changed it to GET https://github.adaptiveinsights.com/api/v3/repos/:repo owner/:repo name/pulls/96/requested_reviewers

[2019-09-26 23:02] git-ktse commented on #1291
I did have owner and repo name.  I typed in %ltrepo owner%gt and %ltrepo name%gt and after I clicked submit or save, they disappear in my comment.

[2019-09-26 23:02] git-ktse commented on #1291
%lt = less than sign
%gt = greater than sign.

[2019-09-27 00:45] gmlewis commented on #1290
Oh, OK... so it was just a markup problem above... that's OK.  Sorry for the problems.

It sounds to me like the basic challenge here is authentication.

Did you create a GitHub `Personal Access Token` and use that as your password for accessing GitHub Enterprise?

Here's a simple snippet from some code I recently wrote that accesses GitHub Enterprise:

[code]

where `*accessToken` is a string fla

[2019-09-27 00:47] gmlewis commented on #1291
OK, gotcha... yeah Markdown can be a bit of a challenge to deal with.  Let's fix #1290 and I bet that this issue will suddenly be resolved as well.  But if you want to paste in your simple example code here, that's fine too.

[2019-09-27 11:41] AGMETEOR commented on #1203
Hello @gmlewis , was this task done? Is it also a `good first issue`?

[2019-09-27 17:16] gmlewis commented on #1203
This issue is still open and has not been done yet.

No, unfortunately I would not consider this to be a good first issue because it will take some investigation and testing to figure out what the correct solution is.

[2019-09-27 19:09] git-ktse commented on #1291
Sorry for the false alarm.  We installed the latest version of GitHub, and everything is working fine.

[2019-09-27 19:09] #1291 closed

[2019-09-27 19:10] git-ktse commented on #1290
Sorry for the false alarm.  We installed the latest version of GitHub, and everything is working fine.

[2019-09-27 19:10] #1290 closed

[2019-09-28 19:54] henrikrudstrom commented on #1266
any progress on this issue?
i noticed the comment in the search code: https://github.com/google/go-github/blob/a01ea50f2fc0ce93dad509f31ed1b279cc07b424/github/search.go#L220-L221
using ` ` instead of `+` to seems to fix the problem.
Perhaps the solution is to document this better in the docs? figuring out if the `+` is part of a parameter or a separator is a pretty hard problem imho.
 @gmlewis @jm

[2019-10-01 00:29] gmlewis commented on #1266
@henrikrudstrom - do you want to volunteer to improve the documentation?
@jmidd - is that OK with you, or are you still working on this issue?

[2019-10-01 15:00] sinisterstuf commented on #1040
If this issue is resolved by #1042 then we could close it. Or is there something that still needs doing here?

[2019-10-01 15:23] gmlewis commented on #1040
Thank you, @sinisterstuf - I believe you are correct that this can be closed.
Feel free to reopen if anyone disagrees.

[2019-10-01 15:23] #1040 closed

[2019-10-03 01:23] zhuzeng opened #1293 "Create a tree with one of the blobs is "base64" encoded?"
It seems go-github supports creating a blob and specifying its encoding to be "base64", but if I choose to use TreeEntry to create a tree, there is no way I can specify if this TreeEntry's encoding type - https://developer.github.com/v3/git/trees/#create-a-tree. Is there a way that when adding a "blob" type TreeEntry I can also specify that the content of this blob is base64 encoded? Thanks!

And

[2019-10-03 01:46] gmlewis commented on #1293
I've read through the documentation at the link you have provided, and it is not obvious to me how to upload binary data like you wish to do via the GitHub API.

Can you please send an email to `support@github.com` and ask them how to send binary data via this API, then report back here with the response?

Thank you, @zhuzeng!

[2019-10-03 04:33] zhuzeng commented on #1293
Thanks @gmlewis for the prompt response! Yes I also didn't find documents mentioned about this but assuming it should be able to do so that's why I have been trying different approaches. I will send an email to support@github.com and post the answer back once I got it.

[2019-10-03 05:13] zhuzeng commented on #1293
Just a quick update, I have sent out an email to support@github.com and in the meantime I've tried the following and it works for my .jar files:
* for each .jar file, read into bytes and then base64 encode.
* Call CreateBlob() API with the base64 encoded content and encoding "base64", getting back a Blob* which contains the SHA.
* Create a TreeEntry and set the TreeEntry's SHA to the newly created

[2019-10-03 13:07] gmlewis commented on #1293
Excellent!  I'm glad you got it to work, @zhuzeng!

If you come up with a good API to support doing this as a method in this repo, feel free to submit a PR and we can consider adding it. I would think that you can make the base64 encoding optional and the default would be to just send the utf-8 contents unmodified as a string.

@gauntface will also need to sign off on this new API and PR, so I'll

[2019-10-03 19:43] takanabe opened #1294 "Support List user projects and Create a user project"
## Background

GitHub Projects support user-based projects and there are APIs about `List user projects` and `Create a user project`.

Seems go-github does not support them and I want to implement the feature.

## Goal

* Add `List user projects` and `Create a user project`

## Questions

If there are no on-going PRs to implement the features, please assign this issue to me 🙇 I will push PR.

[2019-10-04 00:46] zhuzeng commented on #1293
Thanks @gmlewis . I will try to make a PR when I get time :)

[2019-10-04 00:56] gmlewis opened #1296 "Remove mediaTypeTeamSyncPreview custom media header"
GitHub Developer API announcement:
https://developer.github.com/changes/2019-09-24-team-sychronization-end-preview/

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTR

[2019-10-04 00:58] gmlewis opened #1297 "Support multi-line comments with custom media header"
GitHub Developer API announcement:
https://developer.github.com/changes/2019-10-03-multi-line-comments/

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md](

[2019-10-04 04:25] waseem18 commented on #1297
@gmlewis I'd like to pick this up

[2019-10-04 05:46] joshuabezaleel commented on #1296
May I take this one @gmlewis ?

[2019-10-04 11:55] gmlewis commented on #1296
Yes, @joshuabezaleel - it is yours.  Thank you!

[2019-10-04 11:59] gmlewis commented on #1297
It's yours, @waseem18.  Thank you!

[2019-10-05 11:30] gmlewis opened #1298 "Remove mediaTypePagesPreview custom media header"
GitHub Developer API announcement:
https://developer.github.com/changes/2019-09-24-team-sychronization-end-preview/

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTR

[2019-10-05 11:49] dedifferentiator commented on #1298
@gmlewis need to just remove support of "mediaTypePagesPreview" header? if so, let me try to resolve this

[2019-10-05 13:19] gmlewis commented on #1298
Yes, that's correct, @dedifferentiator - thank you!

[2019-10-05 20:04] iamquang95 commented on #1266
I will bring this comment to documentation

[2019-10-06 22:43] sayboras commented on #742
I think we can close this issue, as it's already supported. https://github.com/google/go-github/blob/master/github/repos.go#L760

[2019-10-07 01:00] gmlewis commented on #742
Thank you, @sayboras! Closing.

[2019-10-07 01:00] #742 closed

[2019-10-07 13:58] JordanSussman opened #1301 "Support UserEvent for global webhooks"
GitHub enterprise has the concepts of [global webhooks](https://help.github.com/en/enterprise/2.16/admin/user-management/about-global-webhooks) that allow administrators to provide notifications on the instance (GHE) level, and they have some event types that are unavailable on github.com. Currently, the [UserEvent](https://developer.github.com/enterprise/2.18/v3/activity/events/types/#userevent-e

[2019-10-08 04:13] iamsubratp opened #1305 "Does RepositoriesService.ListCommits returns commits in chronological order?"
We have a specific usecase where we need  the last commit for a particular day. I am using since and until options. I can see that the result already has the commits in chronological order( latest commit being the first in the return list).
However, I do not see any documentation that mentions this behavior. Can anyone confirm if the behvior is consistent/guaranteed?

[2019-10-08 11:48] gmlewis commented on #1305
The only way to get this answer is to send an email to `support@github.com` and ask them your question. This repo is simply a client to the GitHub Developer v3 API and returns the results in the order returned by GitHub. The support people at GitHub are super friendly and helpful and will be happy to answer your question.  (Please make sure to send them enough details and URL links to make their j

[2019-10-12 01:32] willnorris opened #1308 "Discussion: github scraping package"
One of the frustrations we've long had at Google is the amount of functionality that GitHub does **not** expose through either the REST or graphql API, for whatever reason.  Most recently, this has been around things like listing the OAuth and GitHub Apps that have been approved for a GitHub organization.  There are no official APIs for this (and lots of other) functionality, so you have to just d

[2019-10-12 02:46] gmlewis commented on #1308
SGTM!

[2019-10-15 00:50] willnorris commented on #1308
scraper added in 6b2a6456a7a093a3da8fc0f474afb4d1c71c1885.  We'll continue to build it out over time, but closing this issue.

[2019-10-15 14:07] dmitshur commented on #1308
I think it's reasonable to include it in this repository, but it may make sense to keep it in a separate module. That way, its dependencies wouldn't affect the main module, and it can be versioned separately. The main module undergoes major version bumps quite often, and I understand those are not going to be useful to `scape` since it's effectively at v0.

[2019-10-15 15:03] willnorris commented on #1308
@dmitshur that's a great idea (putting it into a separate module).  Since the main module is defined at the root of the repository, can you define a separate module in a sub-path?  I've never tried that.

[2019-10-15 15:07] willnorris commented on #1308
Okay, it seems like it "just works"?  Though it looks like we might need to move the scraping example into the module as well so that goquery and friends don't get picked up as indirect dependencies in the parent module.  I'll send out a second PR.

[2019-10-15 15:24] dmitshur commented on #1308
Yes, take a look at https://golang.org/wiki/Modules#faqs--multi-module-repositories for more information about it.

I would suggest moving the scraping example into `scrape/example/scrape`, that way it's nicely namespaced and contained in the `scrape` module.

[2019-10-16 01:45] nakabonne commented on #1243
@gmlewis Hi, I'm facing the same case and would like to capture it.

Instead, I'd provide an example:

**Headers**
`X-GitHub-Event: pull_request`

**Payload**
[code]

At least, we can see these fields when the action is `synchronize`.

FYI: `before` means the SHA of the most recent commit on ref before the push.

[2019-10-16 02:29] gmlewis commented on #1243
Thank you, @nakabonne.  Can you please contact support@github.com as described above and ask them to please update their documentation, then report back here with the response?

[2019-10-16 02:44] nakabonne commented on #1243
Thanks for quick response. I've asked them so I'll back here once updated.

[2019-10-16 14:53] JordanSussman opened #1314 "Support impersonation OAuth token endpoints"
Currently, this library does support the [Create an impersonation OAuth token](https://developer.github.com/enterprise/2.17/v3/enterprise-admin/users/#create-an-impersonation-oauth-token) or [Delete an impersonation OAuth token](https://developer.github.com/enterprise/2.17/v3/enterprise-admin/users/#delete-an-impersonation-oauth-token).

I'm going to add these endpoints within the next couple of d

[2019-10-16 17:49] gr2m commented on #1129
Hey friends, just a heads up that the https://github.com/octokit/routes/ repo is now an OpenAPI spec, maybe that will make it easier to consume? I've also created a GraphQL Server which allows to query the endpoints from OpenAPI to make them easier to consume for SDKs: https://octokit-routes-graphql-server.now.sh. And I created an app which creates a `repository_dispatch` event for each new releas

[2019-10-16 17:55] willnorris commented on #1129
This is great, thanks!  (And someone I missed seeing your original post back in February!)

The last time I looked, the go libraries for OpenAPI were pretty lacking, which is rather disappointing.  We'll definitely try taking a look at this though, and see if we can find a way to use this data to improve the go-github library.

/cc @gauntface @rspier as fyi

[2019-10-16 18:01] willnorris commented on #1129
oh wild... I also just realized that you're reverse engineering this from the API documentation.  I really wish GitHub would officially publish something like this :-\

Though to be fair, I just added a [screen scraping client](https://github.com/google/go-github/tree/master/scrape) to go-github, so I've got no problem with whatever approach gets the job done :)

[2019-10-16 18:31] gr2m commented on #1129
I didn't end up using the OpenAPI directly to generate my SDK and supportive libraries, I've found the format is not very easy to parse, even with extensive tooling in the JS ecosystem. That's why I created the GraphQL server as an abstraction, and I'm more than happy to collaborate to make it as easy to consume for `go-github` as possible.

Yeah :) There is a growing interest for OpenAPI within G

[2019-10-18 08:55] jcockbain96 commented on #1248
Would I be able to take a look at this? If so, are we looking for what has been described above? As I've understood it, a `followRedirects` option on the endpoint  which when `true` follows all 301 responses, until it gets to a 302 and returns a `location` (an archive link).

[2019-10-18 08:57] Soulou commented on #1248
@jcockbain96 please, help yourself, thanks a lot!

[2019-10-18 09:20] jcockbain96 commented on #1248
Okay great thanks!

I agree that is should default to following redirects, I'll have a look now as to which way round (`follow` v `dontFollow`) fits best with the codebase.

[2019-10-20 10:59] geekodour opened #1316 "Plans on supporting the repository-dispatch event?"
Is there any reason why the [repository_dispatch](https://developer.github.com/v3/repos/#create-a-repository-dispatch-event) is not available as an event type in go-github? I'd be happy to add it if its planned but missing.

https://github.com/google/go-github/blob/master/github/event_types.go

https://github.com/google/go-github/blob/0fad29b185370011778ede8fc39a5462f844da65/github/messages.go#L43

[2019-10-20 14:07] gmlewis commented on #1316
No reason that I'm aware of. I believe it may have snuck in under the radar without a GitHub Developer API announcement, possibly.

Sure, feel free to send a PR. Please read `CONTRIBUTING.md` first, however, and follow the guidelines.

Thank you, @geekodour!

[2019-10-21 00:34] nakabonne commented on #1243
@gmlewis Hi, I received a response like below from them.

Because that is already on the team's wishlist, would it be possible to support before and after fields? Or do we have to wait for them to update the doc?

Thanks.

[2019-10-21 01:33] gmlewis commented on #1243
Yes, supporting them sounds like a good idea to me.
Thank you, @nakabonne !

[2019-10-21 08:55] safwanolaimat opened #1317 "How to Fork Private Repository"
Is there way to fork private repository ?

[2019-10-21 12:01] gmlewis commented on #1317
This repo is a client library to access the GitHub Developer v3 API. GitHub support would be a better place to ask your question.  However, doing a Google search, it looks like it is a popular question.

Here are some potential answers to your question:
https://www.google.com/search?q=github+fork+private+repo

[2019-10-21 12:01] #1317 closed

[2019-10-22 08:04] safwanolaimat commented on #1317
@gmlewis i mean is this library support fork private repos ?

[2019-10-22 16:21] gmlewis commented on #1317
Yes (if your authenticated user has access to the private repo, of course):
https://developer.github.com/v3/repos/forks/#create-a-fork
https://godoc.org/github.com/google/go-github/github#RepositoriesService.CreateFork

[2019-10-23 01:20] nakabonne commented on #1243
@gmlewis I'll address it in my free time.

[2019-10-23 06:21] safwanolaimat commented on #1317
@gmlewis how to pass userToken with mytoken?

[2019-10-23 11:49] gmlewis commented on #1317
I think you are asking how to do authentication. Please take a look at our basicauth example:
https://github.com/google/go-github/blob/master/example/basicauth/main.go

[2019-10-23 16:07] tkhandel opened #1318 "Rate Limit handling may not work with GitHub Enterprise"
In the code at [github/github.go#L766](https://github.com/google/go-github/blob/master/github/github.go#L766), it parses the response body to check if the message starts with the words "API rate limit exceeded for ".

Besides being brittle, it is also plain wrong for an enterprise version of GitHub. Reason - The error message which is returned seems to be a configurable option where an enterprise

[2019-10-23 21:25] gmlewis commented on #1318
Thanks, @tkhandel.

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Please make sure that your unit tests are comprehensive for this change.

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md](https://git

[2019-10-24 01:53] gmlewis opened #1319 "Support new preview API endpoint: List GitHub App installations for an organization"
GitHub Developer v3 API announcement:
https://developer.github.com/changes/2019-10-23-get-installations-for-org/

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBU

[2019-10-24 05:47] srivignessh commented on #1319
Hi @gmlewis
I am interested in picking this task.
Thanks,
Srivignessh

[2019-10-24 15:08] xitter commented on #1318
@gmlewis can I work on this?

[2019-10-24 16:01] tkhandel commented on #1318
@gmlewis Can you assign it to me?

[2019-10-24 23:41] gmlewis commented on #1318
Thank you, @xitter, but let's let @tkhandel work on this since @tkhandel is the issue reporter.

This is actually my fault for opening it up to everyone before asking if the issue author wanted to work on it, so I apologize. Thanks for your understanding.

@tkhandel - it is yours.  Thanks.

[2019-10-25 12:55] tkhandel commented on #1318
Thank you, @gmlewis. I will put up the PR soon.

[2019-10-25 23:34] #1319 closed

[2019-10-27 20:23] #1318 closed

[2019-10-28 05:08] archibishop commented on #1266
Hey @jmidd Are you still working on this issue? Would love to work on it if you are not.

[2019-10-31 10:35] sguillia commented on #217
This issue causes ref to be ignored when fetching repo contents.

I would have expected those lines to give the same result:
[code]

The former fetches my ref in _options_.
The latter fetches master.

Browse these two URLs:
https://api.github.com/repos/microsoft/vscode/contents/?ref=fdd70ffed1b8af4c00171b5dfe8a67228215ec14
https://api.github.com/repos/microsoft/vscode/contents//?ref=fdd70ffed1b8af

[2019-11-02 21:12] willnorris opened #1325 "announcement: required code reviews and removed some collaborators"
We're making some small changes at Google in how we do things on GitHub.  It's mostly behind the scenes, but did result in two changes here:

 - I've enabled required code reviews for the master branch.  We were pretty much already doing this already, but it's now actually enforced.

 - I've removed all of the outside collaborators on the repo that only had read access.  We originally did that so

[2019-11-03 13:31] davidlopezre commented on #1297
Hi @gmlewis,

We worked on this issue as part of a Hacktoberfest event (PR #1326). We had a chat with a few open source contributors and thought it was okay to work on it as there was no visible progress for it and it was assigned for a while.

Hi @waseem18 wanted to ask if you are still actively working on this. We would like to work on it otherwise. All good regardless :)

Cheers!

[2019-11-04 09:00] waseem18 commented on #1297
Somehow I lost track of this issue and I see that you've already drafted a PR for this.

I think you go ahead working on this issue :)

Thanks

[2019-11-04 12:39] gmlewis commented on #1297
OK, thanks, @waseem18 - I'll reopen PR #1326 and @davidlopezre can continue.

[2019-11-04 13:32] cpanato opened #1327 "Tag Struct does not match with the spec in github"
The Tag struct
[code]

is missing the `Type` and does not match with the spec in github here: https://developer.github.com/v3/git/tags/#create-a-tag-object

am i missing something or do we need to update that?

thanks

cc @gmlewis

[2019-11-04 13:33] cpanato commented on #1327
ok found in the object

[2019-11-04 13:33] #1327 closed

[2019-11-07 11:05] Baseetai opened #1328 "AddCollaborator - Invitation Id"
Hello
I think AddCollaborator function should return invitation Id

[2019-11-07 11:05] #1328 closed

[2019-11-07 11:06] safwanolaimat opened #1329 "AddCollaborator - Invitation Id"
Hello
I think AddCollaborator function should return invitation Id

[2019-11-07 14:41] gmlewis commented on #1329
Looking at: https://developer.github.com/v3/repos/collaborators/#add-user-as-a-collaborator
I totally agree.  In fact, an entire response struct should be returned like the other methods (in addition to the original response and error values).

Here is the method we are talking about:
https://github.com/google/go-github/blob/master/github/repos_collaborators.go#L112-L124

Thank you, @safwanolaimat

[2019-11-07 16:59] rbrishabh commented on #1329
Hey! Can I take this up?
Thanks!

[2019-11-07 18:52] gmlewis commented on #1329
Let's give @safwanolaimat a day to respond, please, @rbrishabh - if we don't hear from @safwanolaimat by tomorrow, we can safely say that you own the issue.  Thanks.

[2019-11-08 23:59] safwanolaimat commented on #1329
@gmlewis Sorry for late response because we have weekend here
i want to see how to contribute :]

[2019-11-09 00:16] safwanolaimat commented on #1329
@gmlewis can you assigned the pull request for me ?
I did one here https://github.com/google/go-github/pull/1330 but its failed

[2019-11-09 04:02] gmlewis commented on #1329
Thank you, @safwanolaimat - this issue is yours.  I'll take a look at #1330.

[2019-11-09 12:31] gmlewis opened #1331 "Remove deprecated authentication API endpoints and add replacements"
GitHub Developer API announcement:
https://developer.github.com/changes/2019-11-05-deprecated-passwords-and-authorizations-api/

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check ou

[2019-11-09 13:35] waseem18 commented on #1331
@gmlewis I'd like to take this up.

[2019-11-12 13:55] gmlewis commented on #1331
OK, thanks @waseem18 - it is yours.

[2019-11-16 17:08] #1325 closed

[2019-11-16 17:09] #1308 closed

[2019-11-19 09:34] jcockbain commented on #1248
Hi all, apologies for the delay in this one. I have changes on a branch, but have a couple of questions about the implementation.

1. If a user has `dontFollowRedirects=true` set, and they get a 301 return, what should be returned? At the moment, my code retains the current `301: Status Moved Permanently` error. Would this now not be considered an error? Would we want to return the redirect link?

[2019-11-19 15:46] wlynch opened #1334 "FR: GitHub App Manifests"
Tracking bug for adding support for GitHub App Manifests - https://developer.github.com/apps/building-github-apps/creating-github-apps-from-a-manifest

Happy to take this on myself.

[2019-11-20 02:07] gmlewis commented on #1248
These are my opinions, and I'm totally open to discussion...

First, naming the flag `dontFollowRedirects=<bool>` is just plain confusing. My brain has to do all sorts of mental gymnastics to figure out the single or double negative.  So my first recommendation is to name the option `followRedirects`, and I think it is fine to force the client to explicitly set this to `true`, since the historical

[2019-11-22 04:30] #1334 closed

[2019-11-26 08:41] tfujiwar opened #1339 "IssueListCommentsOptions is not consistent with GitHub API"
## Problem
In the GitHub API document, an endpoint "list-comments-on-an-issue" takes only one parameter `since`.
https://developer.github.com/v3/issues/comments/#list-comments-on-an-issue

But `IssueListCommentsOptions` in this library takes 3 parameters `sort`, `direction` and `since`.
https://godoc.org/github.com/google/go-github/github#IssueListCommentsOptions

## Goal
Remove `sort` and `direct

[2019-11-26 14:24] gmlewis commented on #1339
No, this is not entirely correct.  This endpoint also serves this call:
https://developer.github.com/v3/issues/comments/#list-comments-in-a-repository

So when listing comments on an issue, the user should not populate `sort` or `direction`.

However, I see that there is indeed a bug. The `omitempty` is basically not useful as written because the two `string` options and the `time.Time` option sho

[2019-11-26 15:13] SanderKnape opened #1341 "Support getting whether vulnerability scanning is enabled for a repository"
Vulnerability alerts have been announced some time ago (https://developer.github.com/changes/2019-04-24-vulnerability-alerts/), and enabling/disabling is already implemented here.

However, some months later (see original announcements with addendum) a GET endpoint was added to get the current status of this setting for a repository.

I'll open a PR to add this shortly.

[2019-11-27 03:29] tfujiwar commented on #1339
I missed the case of an issue number of 0. Thank you.

[2019-12-03 20:25] wesleimp commented on #1263
@gmlewis this issue can be closed

[2019-12-03 20:48] gmlewis commented on #1263
Closing.

[2019-12-03 20:48] #1263 closed

[2019-12-04 12:01] wesleimp commented on #1257
@gmlewis this issue can be closed

[2019-12-04 12:26] wesleimp commented on #1305
@iamsubratp Did you get some answer from GitHub or can we close this issue?

[2019-12-04 12:52] wesleimp commented on #921
@gmlewis Can this issue be closed just like PR #920?

[2019-12-04 13:19] gmlewis commented on #1257
Thank you, @wesleimp.
Closing.

[2019-12-04 13:19] #1257 closed

[2019-12-04 13:20] gmlewis commented on #921
Thank you, @wesleimp.
Closing.

[2019-12-04 13:20] #921 closed

[2019-12-04 13:22] wesleimp commented on #1252
@gmlewis How to proceed with this issue?

[2019-12-04 13:34] wesleimp commented on #879
@gmlewis I think we can close this issue, right?

[2019-12-04 13:45] gmlewis commented on #1252
If anyone wishes to contact support@github.com and ask them to include or populate more fields, they are welcome to.  They can them come back and reopen this issue and include the GitHub response if they agree.  Thanks.

Closing until then.

[2019-12-04 13:45] #1252 closed

[2019-12-04 13:47] gmlewis commented on #879
Thank you, @wesleimp, I believe you are correct.

If anyone disagrees, feel free to reopen and explain why.  Thanks.

Closing.

[2019-12-04 13:47] #879 closed

[2019-12-04 15:05] wesleimp commented on #735
@gmlewis this issue can be closed

[2019-12-04 15:06] wesleimp commented on #735
@gmlewis this issue can be closed

[2019-12-04 15:15] gmlewis commented on #735
Thank you, @wesleimp.

Closing.

[2019-12-04 15:15] #735 closed

[2019-12-04 20:36] wesleimp commented on #103
@gmlewis this issue can be closed

[2019-12-04 20:57] wesleimp commented on #727
@gmlewis Can this issue be closed?

[2019-12-04 20:59] wesleimp commented on #1148
@gmlewis Can I take this issue over or can we close it?

[2019-12-04 21:02] wesleimp commented on #101
@gmlewis this issue is from 2014.

How to proceed? Can we close it?

[2019-12-05 02:25] gmlewis commented on #101
Looking at the announcement, then checking the code, it appears that these features are fully supported.
Closing.

[2019-12-05 02:25] #101 closed

[2019-12-05 02:27] gmlewis commented on #1148
Seeing that there was no strong support for adding this feature, I'm closing the issue.

[2019-12-05 02:27] #1148 closed

[2019-12-05 02:30] gmlewis commented on #727
Looking at the history of PRs for this issue, I'm going to close it.

[2019-12-05 02:30] #727 closed

[2019-12-05 02:31] gmlewis commented on #103
Closing.

[2019-12-05 02:31] #103 closed

[2019-12-05 11:27] wesleimp commented on #1286
@gmlewis Can we close this issue?

[2019-12-05 11:52] wesleimp commented on #1265
@gmlewis this issue can be closed

[2019-12-05 12:03] gmlewis commented on #1265
It seems to me like this issue is still open, @wesleimp ... why do you say this one can be closed?

[2019-12-05 12:04] #1298 closed

[2019-12-05 12:05] gmlewis commented on #1286
Yes, @wesleimp ... I believe so.
I'm hoping I resolved their issue, but if not, please feel free to reopen.
Closing.

[2019-12-05 12:05] #1286 closed

[2019-12-05 12:21] wesleimp commented on #1265
@gmlewis you are correct, sorry my bad.

[2019-12-05 12:34] #1287 closed

[2019-12-05 12:37] #1284 closed

[2019-12-05 12:37] #1294 closed

[2019-12-05 12:39] #1296 closed

[2019-12-05 12:40] #1339 closed

[2019-12-05 12:41] gmlewis commented on #1265
No problem, @wesleimp !  Thank you for all your help!  It is greatly appreciated!

[2019-12-05 12:42] #1248 closed

[2019-12-05 12:44] #1301 closed

[2019-12-05 12:47] #1314 closed

[2019-12-05 12:48] #1275 closed

[2019-12-05 12:51] #1268 closed

[2019-12-05 12:52] #1281 closed

[2019-12-05 12:53] #1341 closed

[2019-12-05 13:00] #1329 closed

[2019-12-05 13:17] wesleimp commented on #1266
@gmlewis this issue can be closed

[2019-12-05 13:24] gmlewis commented on #1266
Closing.

[2019-12-05 13:24] #1266 closed

[2019-12-05 13:27] wesleimp commented on #768
@gmlewis What do you think about this issue?

IMHO we can close this issue and if it happens again we reopen it.

[2019-12-05 13:33] wesleimp commented on #55
@gmlewis we can close this one

[2019-12-05 13:51] gmlewis commented on #55
I believe this is a long-running issue that is gradually being worked on by volunteers to add tests for resource JSON marshaling... so let's please keep this one open.

[2019-12-05 13:51] gmlewis commented on #768
Closing.

[2019-12-05 13:51] #768 closed

[2019-12-05 13:52] wesleimp commented on #55
Sure, no problems

[2019-12-05 22:16] jrossiter commented on #1116
@gmlewis I'm running into this exact issue as well and was hoping https://github.com/google/go-github/pull/1119 was going to be merged.

We're trying to create a GitHub deployment using this library with a custom JSON payload.
We're using GitHub actions workflows which cannot read the stringified JSON being sent in the trigger.

If you compare calling the GitHub API directly versus using this libr

[2019-12-05 22:30] gmlewis commented on #1116
I've reopened #1119 and put out a call for volunteers to test out the PR before we proceed since there did not appear to be much interest before.

[2019-12-06 17:58] kuwas opened #1345 "Feature Request > New branch protection features support"
Hi,

Please add support for the new branch protection features:
* `required_linear_history`
* `allow_force_pushes`
* `allow_deletions`

See: https://developer.github.com/v3/repos/branches/#update-branch-protection

Thanks!

[2019-12-07 13:49] gmlewis opened #1346 "Support changes to internal repository visibility"
GitHub Developer API announcement:
https://developer.github.com/changes/2019-12-03-internal-visibility-changes/#rest-v3-api

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out ou

[2019-12-07 14:02] rajatjindal commented on #1346
I would like to give this a try. I've some experience with golang, but this will be my first PR in this repo.

[2019-12-07 14:09] gmlewis commented on #1346
Thank you, @rajatjindal and welcome!  This issue is yours.

Please make sure to read through the CONTRIBUTING.md guide... it has lots of useful information in there.

[2019-12-07 14:23] rajatjindal commented on #1346
opened PR https://github.com/google/go-github/pull/1347

[2019-12-07 15:41] geototti21 commented on #1260
Hey @gmlewis , I had a look on that and I couldn't reproduce `panic` with normal or empty repository for `RepositoriesService.GetContents` or any other API.

They only way I managed to panic it is by passing `nil` context. As you mention this is a user error but maybe its better to return an error that `context` cannot be nil than panic? I created a small PR for that if you think its good to retur

[2019-12-07 16:03] gmlewis commented on #1260
Thank you, @geototti21!  I like it.  :smile:

[2019-12-08 07:02] anorek commented on #1345
could i try to work on this? :smiley:

[2019-12-08 13:24] gmlewis commented on #1345
Hi @anorek - I haven't had a chance to verify this one yet, so that would be the first step. So yes, it is yours. Thank you! 😁

[2019-12-09 06:53] mubeenflora commented on #1331
@waseem18  Are you working on it ? i just to know because i would like to do this

[2019-12-09 08:42] waseem18 commented on #1331
@mubeenflora Go ahead, I've started work on it but didn't get a chance to complete it.

[2019-12-09 14:18] #1346 closed

[2019-12-09 14:20] #1260 closed

[2019-12-10 09:33] mubeenflora commented on #1331
thanks but it'll take time because i have started my new project

[2019-12-17 19:58] nadgowdas opened #1350 "Use with private enterprise repository"
Is there a way this  client library can be used for private enterprise repository ? e.g. GitHub.ent.com ?

[2019-12-17 20:02] willnorris commented on #1350
yes, see [github.NewEnterpriseClient](https://godoc.org/github.com/google/go-github/github#NewEnterpriseClient).

[2019-12-17 20:57] nadgowdas commented on #1350
thanks @willnorris

[2019-12-17 20:57] #1350 closed

[2019-12-19 02:10] cmardonespino commented on #1245
@TomTucka Amigo, exists new news about this? I think that it could be pretty usefull if this feature is support for terraform!

[2019-12-21 13:48] gmlewis opened #1351 "Remove custom preview headers from "graduated" APIs"
GitHub Developer API announcement:
https://developer.github.com/changes/2019-12-13-graduated-previews-announced/

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBU

[2019-12-21 16:52] vaibhavsingh97 commented on #1351
would love to work on this issue

[2019-12-21 21:36] gmlewis commented on #1351
Thank you, @vaibhavsingh97!
It's yours.

[2019-12-22 14:24] zulhfreelancer opened #1352 "How to create a review comment reply?"
From GitHub docs page, looks like we can send replies to PR comment - https://developer.github.com/v3/pulls/comments/#create-a-review-comment-reply

I tried to find the right method inside this package but I didn't find anything. I tried `CreateCommentInReplyTo` but it was unsuccessful — from the [code](https://github.com/google/go-github/blob/master/github/pulls_comments.go#L144), looks like the

[2019-12-22 16:36] gmlewis commented on #1352
Thank you for the detailed issue post, @zulhfreelancer!
You might be surprised at how much time you just saved me by providing such excellent details.

I think you are absolutely right... the endpoint you listed above is not yet supported by this client library.

Before I open up this issue and offer it for anyone else to work on, would you like to tackle a PR for this one yourself?  Or are you ha

[2019-12-23 02:15] zulhfreelancer commented on #1352
@gmlewis I just submitted PR for you - https://github.com/google/go-github/pull/1353

[2019-12-23 19:24] #1116 closed

[2019-12-23 19:25] #1297 closed

[2019-12-24 02:14] gmlewis commented on #1345
I'm sorry, @anorek - it looks like @pcantea already submitted a PR for this.

@pcantea - in the future, could you please note in the issue (here) that you would like to work on it before sending a PR?  It was already assigned to @anorek and if we communicate clearly, it can hopefully avoid developer frustration and prevent duplication of effort.

So @anorek - I hope you have not wasted too much ti

[2019-12-24 02:32] anorek commented on #1345
Of course Glenn! No worries at all!

Have a lovely Christmas and please enjoy the holidays!

On Tue, Dec 24, 2019, 03:14 Glenn Lewis <notifications@github.com> wrote:

[2019-12-24 02:39] gmlewis commented on #1345
Thank you for your understanding, @anorek!  Merry Christmas to you too!

[2019-12-24 02:41] zulhfreelancer commented on #1352
I've closed the PR. Need to do some cleanup when I'm free later and resubmit it. Thanks for your comments.

[2019-12-24 02:41] #1352 closed

[2019-12-24 06:28] anorek commented on #1345
@gmlewis hey glen, just want to say that you are a wonderful maintainer! while I am grateful that you are such a hard worker and continue to create a good open source environment, I can only wish that you would be able to take the day off and enjoy the holiday and best of the health for you! :heart:

[2019-12-24 13:23] gmlewis commented on #1345
Thank you, @anorek, for the kind words!  Best wishes to you too!

[2019-12-25 06:05] pavan541cs commented on #1331
@mubeenflora Are you actively working on this ? Else I would love to work on this

[2019-12-26 15:09] #1351 closed

[2019-12-27 16:34] yashLadha commented on #1267
@gmlewis Is the change needs to be done. I can send the patch fixing the issue.

[2019-12-27 16:35] yashLadha commented on #1331
Is this issue still up for grabs? @gmlewis

[2019-12-27 16:58] gmlewis commented on #1331
With no response from @mubeenflora in two days, I'm opening this issue back up.

[2019-12-27 17:00] gmlewis commented on #1267
Thank you, @yashLadha - it is yours.

[2019-12-27 17:21] pavan541cs commented on #1331
@gmlewis I am picking this one and start working on this. Thank you for the update

[2019-12-27 17:26] gmlewis commented on #1331
Thank you, @pavan541cs! It is yours.

[2019-12-31 18:00] pavan541cs commented on #1331
@gmlewis #1360 Can you check this PR and tell me if this looks good so that I can make all the changes. I have done only for one endpoint

[2020-01-02 10:43] proabiral opened #1361 "How to add custom domain to Github Page ?"
I am trying to add custom domain to Github Repository by enabling github pages but I can not find right method for this in the documentation.

[Here](https://developer.github.com/v3/repos/pages/#update-information-about-a-pages-site) is the API documentation for reference.

[2020-01-02 12:43] gmlewis commented on #1361
Hi @proabiral, it looks like you found an endpoint that we haven't yet implemented.
Thank you for alerting us to this!

Would you like to submit a PR to fix this, or would you like me to open this up as an issue for one of our great volunteers to fix?

[2020-01-02 13:52] zlepper opened #1362 "Support for branch protection pattern"
Currently it is possible to protect a set of branches using the GitHub UI by providing a pattern, rather than just a strait up branch name. However this doesn't seem to be supported in the V3, and instead seem to require the v4 api.

Currently that is preventing https://github.com/terraform-providers/terraform-provider-github/issues/167 from being implemented.

[2020-01-02 15:24] proabiral commented on #1361
Hi @gmlewis ,
Thanks for such a quick response.

I would love to submit a PR to fix this but I have never worked on such a large project like this before. Is there any documentation that I can refer to that would help to better overview of the project ?

[2020-01-02 22:37] gmlewis commented on #1361
Welcome to the project, @proabiral !
The best place to get started is to look at our CONTRIBUTING.md document at the top of our repo.

After that, feel free to ask questions. 😁

[2020-01-03 02:28] gmlewis commented on #1362
Hi @zlepper - as far as I can tell from this page of the GitHub developer API v3 docs:
https://developer.github.com/v3/repos/branches/#update-branch-protection

It looks like only a branch name is supported and not a branch pattern, but I could be reading it wrong.

If you could please contact the excellent GitHub Tech Support team at support@github.com and ask this same question, then report back

[2020-01-03 09:38] zlepper commented on #1362
Hi @gmlewis,
I have send a support request to GitHub. I will update this ticket when they reply :)

Thank you!

[2020-01-03 13:33] zlepper commented on #1362
Reply from GitHub Developer support:

Thanks for writing in and I hope you are having a great day where you are.
Unfortunately creating / updating the branch protection rules via the REST (v3) API require you to specify exact branch matching, as oppose to being able to provide the FN-Match syntax.
As you've noted, you can use the GraphQL API with this, and we can pass this on as a feature request

[2020-01-03 14:29] gmlewis commented on #1362
Wow, that was a fast reply!  OK, thank you for reporting back, @zlepper!
Closing ticket for now.  Feel free to re-open after you convince them to support this feature in v3.
:smile:

[2020-01-03 14:29] #1362 closed

[2020-01-03 15:35] haya14busa commented on #1136
The issue of inconsistent error structure is related with #540.

[2020-01-06 15:33] proabiral commented on #1361
Hi @gmlewis ,

I have tried to implemented the feature on my fork [here](https://github.com/proabiral/go-github/commit/71bb479f4ede0bf0c5db2b21200b56031b8c9b4d).

Can you please provide feedback on this ?

[2020-01-06 23:51] gmlewis commented on #1361
After looking at the PR and reading the [v3 API docs](https://developer.github.com/v3/repos/pages/#update-information-about-a-pages-site) again, it is not clear to me if the `cname` parameter is required, thoughts?

It seems like `source` is required, but if you aren't sure about `cname` as well, @proabiral, could you please contact support@github.com and point them to this API and ask them if `cn

[2020-01-06 23:58] gmlewis commented on #1361
Feedback provided, but as I commented in the commit, let's please create a PR first and then the code review history will be kept in this repo and others who watch this repo will be able to better participate as well, especially if I give feedback that they disagree with.  :smile:

[2020-01-08 01:54] #1316 closed

[2020-01-08 02:04] #1136 closed

[2020-01-08 02:14] #540 closed

[2020-01-08 11:08] haya14busa opened #1365 "New release?"
related: #1280

It seems go-github didn't release new version since Sep 8, 2019 and there are [about 50 commits](https://github.com/google/go-github/compare/v28.1.1...master) since the last release.
Can you release new version?

Thanks in advance!

[2020-01-08 12:53] gmlewis commented on #1365
Yes, I would like to get approval from @willnorris for #1344 and merge that first, as that would be the first major release since the discussion in #1280.

Maybe we should merge master into #1344 before merging to make a single large release?  I'll comment on the PR.

[2020-01-08 13:06] haya14busa commented on #1365
Thank you for the quick response!

Were there any breaking changes? If so, go-github must bump major version first. If no, I think go-github should just bump minor tag.

p.s. @gmlewis Thank you for maintaining the project :heart:

[2020-01-08 14:17] gmlewis commented on #1365
Yes, there have been many breaking changes.  #1344 is bumping the major version for the breaking changes up to that point... and if we decide to do another release immediately after that (without first merging master into #1344) we would need to bump the major version again with more breaking changes.

For a while there, I was trying to be strict about semver releases after every merge (major, min

[2020-01-08 21:30] fleskesvor commented on #1365
A new version would be great, but if you can't wait for it to be released, you can get features from the head of master into a project that uses Go modules with `go get -v github.com/google/go-github/v28@master` (which I only recently learned).

[2020-01-08 21:56] #1267 closed

[2020-01-08 22:02] gmlewis commented on #1365
We just released `v29.0.0`.
Closing.

[2020-01-08 22:08] gmlewis commented on #1365
Ugh, I broke the build... trying to figure out how to roll it back...

[2020-01-09 00:19] #1365 closed

[2020-01-09 10:27] JackBekket opened #1369 "Feature request > Dependency graph"
Hello!

I would like to see API for working with Dependency graph

I would like to have ability to parse both Dependencies and **Dependents** from a repo

Thank you

[2020-01-09 10:35] JackBekket commented on #1369
I'm currently working on tool for automated dev search around github, so I would like to have possabilities for parsing dependencies of a project and find developers, that have been used those libs (dependents of a source dependency)

Please let me know, if I missed this part in current API

[2020-01-09 12:39] gmlewis commented on #1369
It sounds to me like you might be more interested in SourceGraph: https://about.sourcegraph.com/

[2020-01-09 16:32] dandonovsc opened #1371 "The Tree API does not allow for file deletion"
In order to delete a file via the  [Github REST API v3](https://developer.github.com/v3/git/trees/#create-a-tree) a file's sha need to be null as per the documentation

The library's implementation defines the `sha` field as a pointer to a string with  that will be ignored when json serialized:

[code]

When submitting a `POST` request to the `repos/%v/%v/git/trees` API with no sha and no content

[2020-01-09 20:34] JackBekket commented on #1369
@gmlewis

[2020-01-09 20:46] JackBekket commented on #1369
@gmlewis
Looks promising, thanks!

But right now I would prefer to build some simple proof of concept, and have found go-github as a pretty simple and useful tool for it, you did a great job!

So, I would like to build something simple at GitHub base right now, not only because it's largest open-source hub, but also because it easier way to get developers contacts if I found any

I have also notic

[2020-01-09 20:54] JackBekket commented on #1369
Oh, and also I think that I can actually find dependants using extended search for github

like searching for https://github.com/libp2p/go-libp2p in ```go.mod``` files across github repos.. didn't tried this method yet, but I guess it should work

[2020-01-09 21:15] gmlewis commented on #1369
Thanks for the kind words... we have a lot of great volunteers (see `AUTHORS`) who have helped to make this a useful client library, but the bulk of the kudos go to its original author, @willnorris.

To answer your question, though, this client library gives Go developers easy access to the GitHub Developers v3 API: https://developer.github.com/v3/
so theoretically, if you can figure out how to do

[2020-01-10 00:47] gmlewis commented on #1371
Thank you, @dandonovsc, for the report.

It seems to me that the correct fix for this would be to check if both `tree.content` and `tree.sha` are empty, then use a different internal struct where the `,omitempty` has been removed from the `SHA` field which will then pass the `null` along and thereby delete the file.

Instead of opening this up to our volunteers, I'll write up my thoughts in a PR s

[2020-01-10 04:13] proabiral commented on #1361
Hi @gmlewis ,
Thanks for such a detailed feedback. :) Really appreciate it.

According to Github Support,
[code]

I am kinda stuck in a scenario here, if we need to remove existing CName from the repo, we will be needing to send request with body
[code]

However, to only update source not CName, we will be needing to send request with body with only source omitting CName
[code]

Can you please gui

[2020-01-10 10:43] #1369 closed

[2020-01-10 12:31] #1371 closed

[2020-01-10 12:57] gmlewis commented on #1361
Here's the comment I just added to your PR:

Based on the 2020-01-09 response from the GitHub tech support team, both fields are optional, so what you have written is correct so far (except `Cname` needs to be `CName` to match Go style).

So to be able to remove the Custom Domain, we need a separate way to flag this.

One of the ways we've done this is to add a `removeCustomDomain` flag to the `Up

[2020-01-10 13:00] gmlewis commented on #1361
Also take a look at #1372 for a way to unit test calls like these to prove that the JSON is being marshaled as we expect it to be.

[2020-01-10 22:59] willnorris commented on #1369
It looks like you can get dependency graph data out of the GraphQL API: https://developer.github.com/v4/previews/#access-to-a-repositories-dependency-graph

[2020-01-11 13:44] gmlewis opened #1373 "Remove obsolete custom preview header"
GitHub Developer API announcement:
https://developer.github.com/changes/2020-01-08-source-imports-now-official-part-of-API/

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out ou

[2020-01-11 14:10] cpanato commented on #1373
I can work on that

[2020-01-11 16:13] cpanato commented on #1373
PR: https://github.com/google/go-github/pull/1374

[2020-01-13 12:55] #1373 closed

[2020-01-14 19:03] wesleimp opened #1376 "Refactor to the Go Standard Layout Project"
Refactor to the basic [Go Standard Layout Project](https://github.com/golang-standards/project-layout)

[2020-01-14 19:56] kuwas opened #1377 "BUG > IDPGroupList.Groups should not be omitempty"
# Description

## Current Behavior
* `IDPGroupList.Groups` is set to `omitempty`
  *  https://github.com/google/go-github/blob/master/github/teams.go#L499
* When `IDPGroupList.Groups` is set to an empty slice, `groups` key is omitted and the request body is just an empty JSON `{}`
* This means that the IdP team sync delete operation does not work
  * GitHub API is expecting the `groups` key set wi

[2020-01-14 21:02] gmlewis commented on #1376
Thank you, @wesleimp - but I doubt this is going to happen.

This project has a very large number of users (individuals and enterprises) and I'm guessing that this change would be very disruptive for not a lot of benefit.

I'll leave this issue open for awhile in case others have opinions, but will most likely close it if we don't have any compelling arguments to refactor.

[2020-01-14 21:09] wesleimp commented on #1376
Thank you, @gmlewis - I got your point. So I'm gonna close this issue.

[2020-01-14 21:09] #1376 closed

[2020-01-15 00:20] gmlewis commented on #1377
Reading through the docs and the code, I don't see any downside to removing the `,omitempty` on the `Groups` field.

Noting that the `IDPGroupList` struct is used both as a method parameter and is also returned from methods, it seems to me that since `Groups` is a slice, it should have no effect on existing code.

Thank you for reporting this, @kuwas.  Would you like to put together a PR to remove

[2020-01-15 02:09] kuwas commented on #1377
@gmlewis I can give it a shot tomorrow

[2020-01-15 07:31] pinventado commented on #1069
I have the same issue. Was this ever resolved?

[2020-01-15 15:45] andersjanmyr opened #1378 "DownloadReleaseAsset should follow the redirect and download the resource"
Hi,

I think the `DownloadReleaseAsset` method should follow the redirect by default and to make it optional to return the redirectURL.

I read the discussion in https://github.com/google/go-github/pull/312, and I understand that a new `http.Client` needs to be used, but I don't understand why the api had to change.

It seems to me that most users of this method don't care where the file comes fro

[2020-01-15 16:27] willnorris commented on #1069
@gauntface didn't we get this working?

[2020-01-15 20:37] pinventado commented on #1069
If it helps, I debugged the code and found that it was actually able to get an installation token (201 from GitHub). However, the actual response returned by the function is a 401. So I'm not sure what is happening internally.

[2020-01-15 23:40] lynncyrin opened #1380 "`PushEventRepository` is missing the `archived` and `disabled` fields"
## Context

The [`PushEventRepository`](https://github.com/google/go-github/blob/ac9200d19f35fee922744b768dd393140a9939c8/github/event_types.go#L698-L733) struct is missing the `archived` and `disabled` booleans that you can see present in [Github's documentation](https://developer.github.com/v3/activity/events/types/#pushevent).

## Requested Change

I'm going to submit a PR adding those fields t

[2020-01-15 23:42] lynncyrin commented on #1380
Given https://github.com/google/go-github/pull/82, https://github.com/google/go-github/pull/594, and https://github.com/google/go-github/pull/1065 I'm going to assume _"just create the PR"_ is the right thing to do here.

[2020-01-16 00:13] gmlewis commented on #1380
Yes, you are right, @lynncyrin. Thank you. Please take a look at CONTRIBUTING.md for helpful hints on how to make a PR for this repo, especially the part about `go generate ./...`.

[2020-01-16 00:19] #1377 closed

[2020-01-16 00:29] gmlewis commented on #1378
Hmmm... I think there was a good reason... ah, yes... I believe it was because our http.Client could not easily be duplicated.

When using this repo, clients can set up different http.Clients that have different features... timeouts, proxies, etc. There wasn't a clean way to duplicate the http.Client with identical features.

However, having said that, I know that we modified another endpoint rece

[2020-01-17 05:40] palash25 opened #1382 "Not able to get private repo information"
Hi I am trying to fetch all the repos (including private ones) including their PRs and Reviews. I am authenticating using my personal access token that has SSO enabled for the organization whose repos I want to fetch. But for some reason it only works for public repos and I dont see any private repos in my results

Here is the code

[code]

I get an error saying `GET https://api.github.com/repos/o

[2020-01-17 07:33] palash25 commented on #1382
cc @gmlewis

[2020-01-17 11:24] gmlewis commented on #1382
Your code above works fine on my private repo.

So I'm assuming that from your account (where you got your personal access token), you can see the private repo.
I'm also assuming that your personal access token has full `repo` rights, which are required to see private repos.

If either of those statements are not true, your code above will not work.

Good luck.

[2020-01-17 11:26] gmlewis commented on #1382
Here is a screenshot of the scopes that my personal access token has, hoping that will help you:

![github-access-token-scopes-Screenshot from 2020-01-17 06-25-09](https://user-images.githubusercontent.com/6598971/72609186-535bfd00-38f2-11ea-9c41-a66d28bd9955.png)

[2020-01-17 13:03] gmlewis commented on #1382
Also, this may be obvious, but in order to be thorough, I need to state that the private repo must have at least one PR in order to get more than an empty list in response to the API call. 😁

[2020-01-17 21:08] kuwas opened #1383 "BUG > ListIDPGroupsInOrganization paginates using int instead of string"
# Description

## Current Behavior
* `ListIDPGroupsInOrganization`
  * expects to be provided with `ListOptions` with `Page` value as `int`
    * https://github.com/google/go-github/blob/master/github/github.go#L193
  * returns response with type `github.Response` and `NextPage`, `PrevPage`, etc, values as `int`
    * https://github.com/google/go-github/blob/c74e92b2275cbb12471ed0fd6204dac07e13094

[2020-01-17 23:18] eriksw commented on #1245
@gmlewis Please reopen—GitHub seem to have added this to the api.

Looking at the documentation I see `delete_branch_on_merge` as a parameter for repo [create](https://developer.github.com/v3/repos/#create) and [edit](https://developer.github.com/v3/repos/#edit).

[2020-01-18 01:06] gmlewis commented on #1245
Cool!  Thank you, all!

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md](https://github.com/google/go-github/blob/master/CONTRIBUTING.md) guide to get sta

[2020-01-18 01:12] stefansedich commented on #1245
@gmlewis I will pick this up been waiting for the API change long enough may as well see it home :) can you assign it to me?

[2020-01-18 01:17] gmlewis commented on #1245
Thank you, @stefansedich!  It's yours.

[2020-01-18 01:30] gmlewis commented on #1383
Thank you, @kuwas!  This sounds like a fun challenge that I would like to take on.

[2020-01-18 01:32] kuwas commented on #1383
👍

[2020-01-18 02:00] gmlewis commented on #1383
@kuwas - could you please take a look at #1384 and approve if you believe it will solve this issue?
Feel free to test it out, as well and send feedback.

[2020-01-18 12:16] palash25 commented on #1382
The private repo is actually under an organization not under my account. I did check all the boxes while creating the access token and then enabled SSO on that token for the org.

I am able to view the repo on GitHub and it does have PRs.

[2020-01-18 13:12] gmlewis commented on #1382
The next step to debug this is to call the v3 API directly using `curl`.

If you get results we can then try to figure out what is different between this repo and the curl version.

If you don't get expected results, then there is some other problem unrelated to this repo. As a last resort, you can then contact support@github.com and ask for their assistance.

[2020-01-18 13:55] gmlewis opened #1385 "Support preview revoke installation token endpoint"
GitHub Developer API announcement:
https://developer.github.com/changes/2020-01-10-revoke-installation-token/

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTIN

[2020-01-18 18:46] vikkyomkar commented on #1385
@gmlewis I would like to contribute to this feature

[2020-01-19 07:16] palash25 commented on #1382
Tried a curl request got a 404 again

[2020-01-19 07:16] #1382 closed

[2020-01-19 13:08] gmlewis commented on #1382
OK, thank you for reporting back, @palash25 (and for closing).
Good luck fixing the problem!
(I'm not sure if you are using an Enterprise version of GitHub, but sometimes we have seen some odd differences in the way they operate, presumably because of the settings the particular organization chose to set when running their instance... or simply due to the (older) version they are using.  That migh

[2020-01-19 19:00] #1385 closed

[2020-01-19 19:02] #1378 closed

[2020-01-19 19:04] kuwas commented on #1383
@gmlewis Yes, this looks like it would work. I will test it on tomorrow at work and let you know the results. Thanks for the fast turn around!

[2020-01-20 13:16] jcudit opened #1387 "Support the move of the GitHub Teams API"
Over in https://github.com/terraform-providers/terraform-provider-github/issues/323, there has been some breakage due to GitHub moving the top-level `/teams` endpoint to live under `/organizations/:org_id/team`.  `v28.0.0` of this codebase is used for the GitHub Terraform provider, which is affected by the change.

[code]

I suspect https://github.com/google/go-github/blob/master/github/teams.go w

[2020-01-20 14:48] TomTucka commented on #1245
@stefansedich Can you ping me when this is done? I'd like to add support for this to the terrafrom provider for GitHub

[2020-01-20 15:29] kuwas commented on #1383
@gmlewis Works great, thanks again.

[2020-01-20 15:43] dbussink commented on #1387
To clarify here, the library is not currently broken, the above `404` is very likely because the given user is no longer a member of that team anymore.

We should though longer term move to the new API endpoints as the current ones are deprecated and will at some point in the future disappear and be only available under the new endpoints. So no immediate rush, but something to do in the future.

[2020-01-20 18:01] #1383 closed

[2020-01-20 18:42] gmlewis commented on #1387
I'm surprised I missed GitHub Developer announcements in their blog posts that the APIs were moving.

This issue would be a great opportunity for a new Go developer or someone new to our repo to investigate the change of the API endpoints mentioned above and to bring them up-to-date.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to y

[2020-01-20 18:46] atorr commented on #1387
I would like to contribute to this issue.

[2020-01-20 19:17] gmlewis commented on #1387
Thank you, @atorr !
It is yours.

[2020-01-20 23:50] stefansedich commented on #1245
Sorry @TomTucka was out all weekend, only just sat down and got the PR up!

[2020-01-21 01:10] atorr commented on #1387
Not the most familiar, but in this case do we want to preserve implementation for legacy endpoints or delete them?

[2020-01-21 02:14] gmlewis commented on #1387
Since this repo is versioned, we can go ahead and delete them. Thank you!

[2020-01-21 13:56] dbussink commented on #1387
@gmlewis That's because the announcement didn't happen yet, and is in progress :smile:. The confusion here originally started since an unrelated issue somewhere else was incorrectly thought to also affect this library. So that's why there was basically a premature issue opened here and why you didn't read about this yet :smile:.

[2020-01-21 14:06] gmlewis commented on #1387
OK, thank you, @dbussink! That explains it. :smile:

I try to stay on top of the GitHub Developer announcements via RSS and Feedly - (I wish I could subscribe via email to the announcements... is there an easy way to do that?).

Anyway, thanks for the info!

[2020-01-21 17:06] stefansedich commented on #1245
@TomTucka I don't mind picking up the Terraform module side once #1388 gets merged.

[2020-01-22 14:04] #1243 closed

[2020-01-23 02:13] gmlewis opened #1390 "Remove unneeded everest custom preview header"
GitHub Developer API announcement:
https://developer.github.com/changes/2020-01-22-everest-preview-graduated/

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTIN

[2020-01-23 04:49] vikkyomkar commented on #1390
@gmlewis I would like to contribute to this issue

[2020-01-23 15:45] dbussink commented on #1387
@gmlewis Wanted to let you know that the post is up now at https://developer.github.com/changes/2020-01-21-moving-the-team-api-endpoints/ :smile:.

[2020-01-23 17:18] gmlewis commented on #1387
Thanks again, @dbussink !

@atorr - as you work through the PR, please check back to the GitHub Developer blog
[post](https://developer.github.com/changes/2020-01-21-moving-the-team-api-endpoints/)
to make sure that you've addressed all the (re)moved endpoints.

Thank you!

[2020-01-23 18:50] abhimanyusinghgaur opened #1392 "url-encoded query causing unexpected behaviour"
Hi,
I was trying to use the [search-issues API](https://developer.github.com/v3/search/#search-issues-and-pull-requests). So, I was running below query directly from chrome:
https://api.github.com/search/issues?q=is:issue+state:open+repo:dgraph-io/dgraph+created:2019-01-01..2019-01-31
It returns 4 issues.
I tried to do the same thing using the client library, see the below code snippet (or see it

[2020-01-24 00:00] gmlewis commented on #1392
Please read through #1122 and #1266 as this issue keeps coming up again and again and we think it is solved each time but apparently not satisfactorily.

[2020-01-24 10:18] abhimanyusinghgaur commented on #1392
Ok, after reading through those issues, it seems using a space instead of + works. I believe this thing should be mentioned properly somewhere in documentation, or in the docs of functions being used directly by any user, and not just in some internal function.
But anyways, official GitHub API supports +, so it should be supported as it is by the client, I guess.

[2020-01-24 13:04] #1345 closed

[2020-01-24 13:12] gmlewis commented on #1392
It was our attempt to clearly document this in those previous issues by adding clear comments to the code (and therefore the auto-generated Godocs in addition) but it sounds like they can still be improved.

Please feel free to submit a PR that you feel improves the documentation and we can include it so that we can hopefully avoid this issue in the future.  Thank you.

[2020-01-26 09:25] weeco commented on #1387
@atorr Since this issue is assigned to you I won't start working on a PR for the changes either, please let us know in case you can't continue working on this. The Get team by name endpoint seems to be new: `GET /orgs/:org/teams/:team_slug` and currently is not supported at all.

[2020-01-27 18:58] #1390 closed

[2020-01-27 21:45] #1245 closed

[2020-01-27 22:11] Islam788 opened #1398 "Ip issue"
See man when I tried to display my ip by the command `ifconfig` it's showing something different or I'm unable identified my ip please help
![Screenshot_20200127_181130_com termux](https://user-images.githubusercontent.com/60348966/73218446-fda01400-417f-11ea-951c-ceeef6f14307.jpg)

[2020-01-28 00:48] gmlewis commented on #1398
Sorry, I don't see how this relates in any way to this repo. Closing.

[2020-01-28 00:48] #1398 closed

[2020-01-28 02:52] Islam788 commented on #1398
If you don't know so why u closed the ticket. Its in termux

On Tue, 28 Jan, 2020, 6:18 AM Glenn Lewis, <notifications@github.com> wrote:

[2020-01-28 02:58] gmlewis commented on #1398
What does that have to do with this repo which is a client library to access the GitHub v3 API from the Go programming language?

[2020-01-28 03:24] joshuabezaleel opened #1399 "Support GitHub Actions API"
Announcement: https://developer.github.com/v3/actions/

[2020-01-28 08:02] Islam788 opened #1401 "Metasploit framework issue"
Whenever I open the msfconsole always facing the same issue ***
[-] * WARNING: No database support: could not connect to server: Connection refused
        Is the server running on host "127.0.0.1" and accepting
        TCP/IP connections on port 5432?

[-] ***
Place guide me how can fix the problem
![Screenshot_20200128_132732_com termux](https://user-images.githubusercontent.com/60348966/7324562

[2020-01-28 12:04] gmlewis commented on #1401
This is strike two.
This issue has nothing to do with this repo.
One more strike and you will be blocked from this repo and reported to GitHub as a spammer.

[2020-01-28 12:04] #1401 closed

[2020-01-28 12:10] Islam788 commented on #1401
Wtf😡🤬😠

On Tue, 28 Jan, 2020, 5:34 PM Glenn Lewis, <notifications@github.com> wrote:

[2020-01-28 12:41] gmlewis commented on #1401
Apparently I wasn't clear in your strike one issue to this repo (#1398), and you are obviously confused and angry.
This repo is not a general self-help forum for all technology issues you may have.

I found a site that most likely has the answers you are looking for.  Try this out:
https://lmgtfy.com/?q=metasploit+framework

To avoid strike three, please only open issues in this repository that ar

[2020-01-28 13:00] gmlewis commented on #1399
Usually there is a blog announcement, and apparently there wasn't for this.  Thanks, @joshuabezaleel.

This would be a great PR for any new contributor to this repo or any Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md](http

[2020-01-28 14:17] gmlewis commented on #1399
Assigned to @martinssipenko.

[2020-01-29 01:41] gmlewis commented on #1399
In order to fully close this issue, we need PRs that will address all the following sections of the announcement:

- [ ] `actions_artifacts.go`
- [x] `actions_secrets.go` (#1402 - assigned to @martinsspenko)
- [ ] `actions_runners.go`
- [ ] `actions_workflows.go`
- [ ] `actions_workflow_jobs.go`
- [ ] `actions_workflow_runs.go`

Since this is a lot of work, let's open this up to multiple developer

[2020-01-29 01:49] joshuabezaleel commented on #1399
Haven't got a chance to look at it but I want to take a shot. Perhaps the `actions_workflows` one.

[2020-01-29 01:54] gmlewis commented on #1387
Since this issue is a big one, let's make a list of what needs to be done, which will help to keep things organized.

Endpoints to be deleted:
- [ ] `GET /teams/:team_id`
- [ ] `PATCH /teams/:team_id`
- [ ] `DELETE /teams/:team_id`
- [ ] `GET /teams/:team_id/teams`
- [ ] `GET /teams/:team_id/repos`
- [ ] `GET /teams/:team_id/repos/:owner/:repo`
- [ ] `PUT /teams/:team_id/repos/:owner/:repo`
- [ ]

[2020-01-29 03:46] atorr commented on #1387
@weeco - Wrapping up some changes per PR reviews.  I should still be able to close this out.  Thanks though!

[2020-01-29 04:25] atorr commented on #1399
May I contribute to the actions_artifacts section?

[2020-01-30 02:44] #1380 closed

[2020-01-31 04:37] palash25 opened #1404 "The User field returned as a part of the PullRequests.List response doesn't have the complete User information"
So when I iterated over the Pull Request slice that I receive as a response to the aforementioned method and checked out the User struct returned as a part of it, I noticed that it only has User.Login and other User information like Name and Email are not there.

I tried this with different repos both private and public and came across the same problem.

Why is it so?

[2020-01-31 12:50] gmlewis commented on #1404
According to the GitHub v3 Developer API docs:
https://developer.github.com/v3/pulls/#list-pull-requests

Here is the information you can expect about a user:

[code]

In my experience, most GitHub users make their email private, so I doubt you will ever find emails... but from the above data, it doesn't look like you will find name either unless you follow one of the provided URLs and get it that

[2020-01-31 18:54] palash25 commented on #1404
I did contact github about this but they were like "we didn't implement that library so we don't know". Anyway thanks for this will talk to github support again.

[2020-02-02 04:50] patrickdevivo opened #1406 "Add TODOs badge to README"
Hi there! I wanted to propose adding the following badge to the README to indicate how many `// TODO` comments are in this codebase:

[![TODOs](https://img.shields.io/endpoint?url=https://todos.tickgit.com/badge?repo=github.com/google/go-github)](https://todos.tickgit.com/browse?repo=github.com/google/go-github)

The badge links to `tickgit.com` which is a free service that indexes and displays TO

[2020-02-02 15:23] gmlewis commented on #1406
Cool! I didn't know about that badge.

Looking through the TODOs, the vast majority are to remove a custom header when the API fully launches.

I'm fine with adding this badge to the top-level README.md.

[2020-02-02 15:43] #1406 closed

[2020-02-03 00:57] patrickmarabeas commented on #1361
Do you want to include enablement params in this PR - or shall I raise another issue?

https://developer.github.com/v3/repos/pages/#parameters

[2020-02-03 01:11] gmlewis commented on #1361
Another issue/PR would probably be nice from a record-keeping standpoint, thanks.

[2020-02-03 04:52] patrickmarabeas opened #1408 "Enable Pages Parameter specification"
Allow specification of parameters when POST to enable pages API as per: https://developer.github.com/v3/repos/pages/#parameters

[2020-02-03 19:32] willnorris commented on #1406
Given that the **vast** majority of our TODOs are about removing custom headers, I don't think this actually adds any value to the project, and just adds more noise at the top of our (admittedly, already a little noisy) README file.

(I also don't love the fact that it looks like @patrickdevivo made this kind of drive-by contribution to a dozen different projects on Saturday.  Those often end up b

[2020-02-03 20:03] gmlewis commented on #1406
Oh, sorry, @willnorris. We can either revert or we can remove it with another PR... your call.

[2020-02-03 20:08] willnorris commented on #1406
either way.  And no worries

On Mon, Feb 3, 2020 at 12:03 PM Glenn Lewis <notifications@github.com>
wrote:

[2020-02-03 20:26] gmlewis commented on #1406
OK, I'll just revert then later tonight.

[2020-02-03 22:06] patrickdevivo commented on #1406
I’m sorry the issue I opened felt like spam - it certainly was a “drive by”
in an effort to get the word out for a project I’m working on, and I
apologize that didn’t “taste right.” I do promise that the intent of my
opening the issue/PR was genuine in that I do believe the TODO index can
provide value to some projects (as TODO comments are often simply
forgotten).

I understand if you don’t feel

[2020-02-05 04:06] JPZ13 commented on #1069
@dorneanu @willnorris I was running into this issue as well and found that you can only [get certain endpoints](https://developer.github.com/v3/apps/available-endpoints/) when you authenticate as an installation, which is what the `github.com/bradleyfalzon/ghinstallation` package does. For the other Github App endpoints, we need to [authenticate with a JWT](https://developer.github.com/apps/buildi

[2020-02-05 05:24] joshuabezaleel commented on #1399
Since my incoming PR will be dependent to @martinssipenko 's [PR](https://github.com/google/go-github/pull/1402) that contains `ActionsService` on `actions.go`, should I wait for that particular PR to be merged or I can raise a PR with `ActionsService` written in my code as if it's already merged?

cc: @gmlewis

[2020-02-05 05:38] martinssipenko commented on #1399
@joshuabezaleel you can branch off of my branch.

[2020-02-05 07:51] palash25 commented on #1404
@gmlewis do you have any idea why the Full Name of the user is not being returned? if I open this in my browser `https://api.github.com/users/palash25` I get the name but if I try to make the same call using the go-github library I get an empty string for the Name field? `Repositories.ListCollaborators`

[2020-02-05 07:56] #1404 closed

[2020-02-05 09:17] dorneanu commented on #1069
I was able to solve using following code snippets:

[code]

Then you can use the `token` for cloning repositories (I use [go-git](https://github.com/src-d/go-git)):

[code]

[2020-02-06 08:47] safwanolaimat opened #1412 "Can I Create Repo From another Repo Tree Fastly?"
Can I Create Repo From another Repo Tree Fastly?

[2020-02-06 13:09] gmlewis commented on #1412
Yes, I believe this is what you want:
https://godoc.org/github.com/google/go-github/github#GitService.CreateTree

GitHub Developer v3 API docs:
https://developer.github.com/v3/git/trees/#create-a-tree

[2020-02-06 13:09] #1412 closed

[2020-02-06 13:21] gmlewis commented on #1399
Hey volunteers, I am super-pleased with the way this Issue is coming together... starting off with the excellent groundwork from @martinssipenko followed by another great PR from @joshuabezaleel!

Let's keep up this excellent progress going by having more people volunteer to complete the unchecked and unassigned items [above](https://github.com/google/go-github/issues/1399#issuecomment-579554516).

[2020-02-07 06:01] nightlark commented on #1399
Interested in getting the `actions_runners` working.

[2020-02-07 17:38] gmlewis commented on #1399
@nightlark - does that mean you are volunteering to implement `action_runners.go` or you are just interested that _someone_ gets this working?
I would hate to assign this issue to you if it is just the latter.  :smile:

If it is the former, thank you very much, and I will put your name as its owner.

[2020-02-08 13:14] gmlewis commented on #1331
In another PR, I think it helped (me, at least) to list the things that need to be done to complete an issue. So to complete this issue...

The following endpoints need to be removed:

- [ ] `GET /authorizations`
- [ ] `GET /authorizations/:authorization_id`
- [ ] `POST /authorizations`
- [ ] `PUT /authorizations/clients/:client_id`
- [ ] `PUT /authorizations/clients/:client_id/:fingerprint`
- [ ]

[2020-02-08 20:04] joshuabezaleel commented on #1399
I would love to work more on this if it's permissible and no one is taking it. But if we should distribute the contribution, that would be lovely to do so :slightly_smiling_face: cc: @gmlewis

[2020-02-08 23:20] gmlewis commented on #1399
Hi @joshuabezaleel - that's fantastic... thank you!

I think we give people ample opportunity to sign up for working on this repo, so feel free to volunteer for more endpoints (as we await LGTMs).  (I think we should probably give @nightlark another day to respond to my question... so feel free to pick a different one while we are waiting for a response. :smile:)

[2020-02-09 01:29] gmlewis opened #1415 "Change "opt" param names to "opts" everywhere to make the repo consistent"
In #1414 I rambled on about preferring "opts" over "opt" and noticed the repo is horribly inconsistent and it is probably my fault... so I'd like to have it fixed.

My reasoning is that the types are named `*Options` so the variable name should be plural as well.

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel f

[2020-02-09 08:02] nightlark commented on #1399
@gmlewis I’ll take on implementing support for the runners api.

[2020-02-09 13:47] gmlewis commented on #1399
Thank you, @nightlark! I've assigned `actions_runners.go` to you [above](https://github.com/google/go-github/issues/1399#issuecomment-579554516).

[2020-02-10 00:53] #1408 closed

[2020-02-10 01:01] #1415 closed

[2020-02-10 05:19] zhangtbj opened #1418 "Does github milestone support to query all milestones?"
Right now, in the public github, I can only query the `open` and `closed` milestone.

But when I check the code, it said:
https://github.com/google/go-github/blob/master/github/issues_milestones.go#L42
[code]

But when I checked the REST API, it said:
https://developer.github.com/v3/issues/milestones/#list-milestones-for-a-repository

The state of the milestone. Either open or closed. Default: ope

[2020-02-10 10:04] kasperlewau opened #1419 "scrape.Authenticate and unsupported browser forms"
I noticed this morning that my calls to Authenticate a `scrape` client are failing, possibly due to an updated list of unsupported browsers on Github.com's end.

The page at https://github.com/login now includes a banner with a form with an action pointing to  https://github.com/site/dismiss_unsupported_browser.

![image](https://user-images.githubusercontent.com/2687184/74140093-bc364c80-4bf4-11e

[2020-02-10 12:23] marcofranssen opened #1420 "Add support for the actions self hosted runners api"
Would be good if the github actions selfhosted runner apis would be supported in the library

https://developer.github.com/v3/actions/self_hosted_runners/

This might also be picked up in this issue #1399

[2020-02-10 12:47] gmlewis commented on #1420
Yes, `actions_runners.go` is assigned to @nightlark in #1399.
Closing duplicate issue.

[2020-02-10 12:47] #1420 closed

[2020-02-10 12:57] gmlewis commented on #1418
Sorry, I'm confused.  When I click on the link you gave, I see this, which says that "all" is an option:

![Screenshot from 2020-02-10 07-51-40](https://user-images.githubusercontent.com/6598971/74151676-af0c6400-4bda-11ea-8e3c-d51956c1f3bb.png)

The official documentation says it does.

If you use "curl" on the endpoint, does it work?  If not, you probably want to contact support@github.com and a

[2020-02-10 13:19] #1387 closed

[2020-02-10 15:47] zhangtbj commented on #1418
Thanks @gmlewis ,

I may saw the parameters for create not list.

But this is for REST API, can I get ALL from github?

In the github, I only saw two options:
<img width="472" alt="截屏2020-02-10下午11 47 13" src="https://user-images.githubusercontent.com/18108042/74165191-b6298580-4c5f-11ea-9c92-507ceda3b3ba.png">

Thanks!

[2020-02-10 15:59] gmlewis commented on #1418
Yes, according to the official GitHub documentation, you can list `all`.  That's all I know.  I haven't tried it myself recently.  Please try it out and let us know if the documentation is wrong... and then we can contact support@github.com for them to comment if it is.  Thanks.

[2020-02-11 19:20] adrienzieba opened #1422 "Update teams_members.go"
Hello,

Related to https://github.com/google/go-github/issues/1387, I noticed that all teams endpoints are affected

- https://developer.github.com/v3/teams/members/
- https://developer.github.com/v3/teams/discussion_comments/
- https://developer.github.com/v3/teams/discussions/

Is it possible to update other teams files?

[2020-02-12 00:54] gmlewis commented on #1422
Thank you, @adrienzieba!

It seems that the [original blog post](https://developer.github.com/changes/2020-01-21-moving-the-team-api-endpoints/) that we were basing #1387 on didn't mention these changes.

Let's split this up into three issues to organize the work:

This issue will be for updating `teams_members.go`.

The work involved here it to update every endpoint listed here:
https://developer

[2020-02-12 00:57] gmlewis opened #1423 "Update teams_discussion_comments.go"
Relates to: #1422 and #1387.

It seems that the [original blog post](https://developer.github.com/changes/2020-01-21-moving-the-team-api-endpoints/) that we were basing #1387 on didn't mention these changes.

This issue will be for updating `teams_discussion_comments.go`.

The work involved here is to update every endpoint listed here:
https://developer.github.com/v3/teams/discussion_comments/
Not

[2020-02-12 00:58] gmlewis opened #1424 "Update teams_discussions.go"
Relates to: #1422 and #1387.

It seems that the [original blog post](https://developer.github.com/changes/2020-01-21-moving-the-team-api-endpoints/) that we were basing #1387 on didn't mention these changes.

This issue will be for updating `teams_discussions.go`.

The work involved here is to update every endpoint listed here:
https://developer.github.com/v3/teams/discussions/
Note that #1400 can

[2020-02-12 01:18] gmlewis opened #1425 "Change deprecated API authentication through query parameters to Basic Auth"
GitHub Developer API announcement:
https://developer.github.com/changes/2020-02-10-deprecating-auth-through-query-param/

This Issue would involve the following:
- [x] Contact support@github.com and inform them that the docs [here](https://developer.github.com/v3/#increasing-the-unauthenticated-rate-limit-for-oauth-applications) need updating to note the deprecation.
- [ ] Update [the comments](ht

[2020-02-12 01:41] lynncyrin commented on #1383
I had this same problem, and it turns out that it already has a fix! ✨ 🚀 ✨

[2020-02-12 02:24] atorr commented on #1425
May I work on this?

[2020-02-12 02:26] gmlewis commented on #1399
Hi awesome volunteers, we still have [one task above](https://github.com/google/go-github/issues/1399#issuecomment-579554516) that needs an implementation.

Now that pioneers like @martinssipenko, @joshuabezaleel, and @atorr have forged ahead with their portions, there are excellent examples to base the remaining work upon.

Please remember to check out our [CONTRIBUTING.md](https://github.com/goo

[2020-02-12 02:33] gmlewis commented on #1425
Thank you, @atorr!  It is yours.

[2020-02-12 14:29] adrienzieba commented on #1422
Hello,

I want to work on this one. Can you assign it to me please?

Thank you

[2020-02-12 15:31] gmlewis commented on #1422
Thank you, @adrienzieba!
It is yours.

[2020-02-12 15:32] marcofranssen opened #1427 "Go Module invalid version issue on master branch"
[code]

[2020-02-12 15:42] gmlewis commented on #1427
Can you please instead try:

[code]

[2020-02-13 09:41] marcofranssen commented on #1427
That did the trick.

[2020-02-13 09:41] #1427 closed

[2020-02-13 09:44] marcofranssen opened #1429 "Why are all the responses using pointers"
I noticed most responses are using slices of pointers. IMHO it would be better to not use pointers in the slices.

Also I don't think we should use pointers for strings in the JSON.

It will reduce the amount of required null checks, simplify working with the strings. Furthermore a slice is already kind of using pointers.

Is there any reason for this?

Would a PR removing the pointers in those lo

[2020-02-13 14:12] gmlewis commented on #1429
Please see #79, #45, and #19.

Thank you for asking, but no, a PR removing the pointers would not be accepted.

[2020-02-13 14:12] #1429 closed

[2020-02-13 19:28] gmlewis opened #1430 "FYI - GitHub 'gh' command-line tool announcement"
Hi all, this doesn't directly affect this repo or the GitHub v3 API, but I think that most users of this repo would be interested in this announcement, so I'm taking the liberty of copying the announcement here:

GitHub Blob announcement:
https://github.blog/2020-02-12-supercharge-your-command-line-experience-github-cli-is-now-in-beta/

I'll close the issue shortly, but hopefully this will give it

[2020-02-13 20:25] gmlewis commented on #908
I apologize for having missed this issue almost two years ago.  Is this still an issue?

Looking at the GitHub docs: https://developer.github.com/v3/pulls/review_requests/#create-a-review-request

I see you have slashes in the name and the example uses team slugs for the `TeamReviewers` field. Could it be that you are not using valid team slugs?

Are you able to get the command to work using the G

[2020-02-13 21:25] marcofranssen commented on #1429
I get the nil checking, what I don't understand is why to apply this on `string` and `[]*SomeStruct`. In those cases I think they should be removed. For integers it is debatable as well I think as also there, why would I want to check for nil in those cases?

I Would do something like this. That simplifies codebase and consumption of it a lot.

[code]

An empty string can then be treated the same

[2020-02-13 22:06] gmlewis commented on #1429
This has been discussed at length... (whups, I forgot to include others like #537), but here are short answers:

* an empty string will not tell you if the field was completely missing in the response. In this case, a string pointer of `nil` would indicate that the field was missing.
* for slices, it prevents copying data around... sometimes these structs are large and would involve a lot of memor

[2020-02-14 07:53] marcofranssen commented on #1429
Thanks for explaining.

[2020-02-14 14:27] ayzu commented on #1423
Hi!

I would like to work on the issue.

[2020-02-14 16:38] gmlewis commented on #1423
Thank you, @ayzu!  It is yours.

[2020-02-14 19:32] ayzu commented on #1423
Great, thank you for the quick reply! I have created a PR.

[2020-02-14 21:23] xh3b4sd commented on #908
Thanks for getting back eventually. Not an issue ATM. Will get back to this in case I have a specific use case again.

[2020-02-15 01:10] #1430 closed

[2020-02-15 01:11] gmlewis commented on #908
OK, thank you, @xh3b4sd.  Closing for now, but please re-open, and definitely feel free to ping me in the future if I don't respond in a day or week.

[2020-02-17 13:59] vetinari opened #1432 "Refs should not encode /"
The commit #1099 changed the ref name to be URL Query encoded. This breaks ref names which contain a /:

A call to `curl -vH "Authorization: Bearer $TOKEN" https://$GHE_URL/repos/o/r/git/ref/heads/master` works, but `https://$GHE_URL/repos/o/r/git/ref/heads%2Fmaster` (like `GetRef()`, `GetRefs()` use it) fail with 404.

[2020-02-18 22:54] geneshipt opened #1434 "Active setting not respected on webhook creation"
Hi, something seems off with CreateHook(ctx context.Context, owner, repo string, hook *gh.Hook) (*gh.Hook, *gh.Response, error)'s respecting of the Active element.

Meaning that it doesn't. Whether active is set to true or false the webhook created is set to true. I also experimented with putting an active element in the Config block (with content false of type bool, *bool and string).

I'm stumpe

[2020-02-18 23:14] gmlewis commented on #1434
Have you tried calling the equivalent GitHub v3 API endpoint using `curl` with `active` both `true` and `false`?  If these behave correctly but our client library in this repo does not, then we have a bug. If you could please experiment and report back, your efforts would be greatly appreciated!

[2020-02-18 23:17] geneshipt commented on #1434
100% a PEBKAC issue, I was using ./... to build instead of . and testing with the old executable in my smaller test repo. Just realized. Sorry!

[2020-02-18 23:17] #1434 closed

[2020-02-18 23:29] gmlewis commented on #1434
No problem!  Glad you found it and fixed it!  :smile:

[2020-02-19 21:24] skakim opened #1435 "Allow setting of "Accept" header outside methods"
Me and @gabrielseibel1 were trying to use `go-github` (awesome repository, btw!) in a project to trigger an webhook in Github.

We were using the Dispatch method created on #1306 by @fleskesvor, but we were receiving the following message as response:

[code]

After some research, we discovered that the Github API of our Github Enterprise is older than github.com, it still requires the `req.Header

[2020-02-20 00:11] gmlewis commented on #1435
Hmmm... That's an interesting idea... My initial gut reaction is "isn't this going to make maintenance of this repo even more time consuming?"

* When do custom headers ever get removed? Must we keep them around for perpetuity?
* How do we make it so that Enterprise users can easily find the version and headers they need?
* How do we keep this from affecting the large number of users that are hitt

[2020-02-20 14:02] skakim commented on #1435
I agree, and part of this I think is due to Github's API strategy that is strange to me. Nevertheless, as it is implemented this way, it would be good if this library would be easy to use even with this strategy.

I think yes, due to backward compatibility. We may create a file with all these headers, and in the methods we can first try to do the API call without them, and if them fail, we use the

[2020-02-20 14:11] gmlewis commented on #1435
That sounds like a great idea.  Also, over the years, the wonderful people at support@github.com have consistently been super friendly, patient, and helpful with me and my questions, and I know they have for others too.

We've also had some GitHub people contribute to this repo, which is awesome!

So maybe they will take a look at this and give their opinions, or you could reach out to them and se

[2020-02-20 14:14] gmlewis commented on #1435
Oh, and I forgot to address one of your concerns:

Yes, absolutely multiple custom headers are sometimes accepted and required.  If you search for `strings.Join` in this repo, you will undoubtedly find some.  :smile:
Hah... I just did this myself, and the vast majority of cases where we use `strings.Join` is exactly for multiple custom headers.  :smile:

[2020-02-21 05:31] csandanov opened #1436 "Installation deletion"
I couldn't find a method to delete github app installation. I see it's currently available but under preview https://developer.github.com/v3/apps/#delete-an-installation. Is this why it's missing? Do you accept PRs for preview endpoints?

[2020-02-21 14:25] gmlewis commented on #1436
Hmm... that's odd.  Usually there is a GitHub blog post about preview endpoints... maybe I missed it.

We certainly try to stay on top of all preview endpoints and attempt to fully support them.

Yes, we gladly accept PRs!

Please check out our [CONTRIBUTING.md](https://github.com/google/go-github/blob/master/CONTRIBUTING.md) guide to get started.

Thank you!

[2020-02-22 10:06] ayzu commented on #1399
Hi guys!

I would like to work on the last issue: actions_workflow_runs.go

[2020-02-22 11:44] gmlewis commented on #1399
Thank you, @ayzu!  It is yours.

[2020-02-22 14:44] #1432 closed

[2020-02-22 14:45] #1423 closed

[2020-02-22 14:46] #1422 closed

[2020-02-22 14:58] gmlewis commented on #1361
#1375 appears to have been abandoned, so this issue is now open for another Go developer to take on.

This would be a great PR for any new contributor to this repo or any Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md](https

[2020-02-22 15:07] gmlewis commented on #1270
Closing issue as obsolete.

If anyone is still having this issue with the latest version of the repo, please first contact support@github.com to clarify the documentation as mentioned in #1271 and then reopen this issue and we can proceed with a fix.

[2020-02-23 23:01] patrickmarabeas commented on #1361
Happy to pick it up @gmlewis

[2020-02-23 23:16] BrendanThompson opened #1439 "GitHub enterprise with internal certificate"
Currently trying to execute this on GHE where the certificate is signed by an internal CA as such not trusted by Golang or the TLS client. Is there a way to instruct the `go-github` library to ignore certificate errors?

[2020-02-23 23:25] gmlewis commented on #1361
Thank you, @patrickmarabeas !
It is yours.

[2020-02-23 23:28] gmlewis commented on #1439
I'm on my cell phone at the moment, but I'm pretty sure you can override the `baseURL` and use `http://`.

[2020-02-23 23:36] BrendanThompson commented on #1439
@gmlewis thanks for that. Looks like I found a way to solve this :)

[code]

[2020-02-23 23:36] #1439 closed

[2020-02-26 17:14] tanjunchen opened #1440 "help:PullRequestListOptions State"
see
[code]

Is there State merged?

[2020-02-26 23:27] jwtracy opened #1441 "Errors.Code == "custom" when from Client.PullRequests.Create when PR already exists"
Here is the ErrorsResponse.Error() output,

[code]

It would be convenient if `Code:already_exists` for `Resource:PullRequest` so I can use that rather than parsing the Message for "A pull request already exists"

Is it "custom" because the `<owner>:<branch>` string is not necessarily a unique key across Github? When creating a PR in a repository between two branches, this is a unique resource, ho

[2020-02-27 01:26] gmlewis commented on #1440
Hi @tanjunchen - I'm sorry, but I don't understand the question.
What do you mean "Is there State merged"?

Looking at the code, I'm wondering why both `State` and `Head` are not string pointers... maybe that is the issue you are having problems with?  If so, then maybe we have a bug.

[2020-02-27 01:35] gmlewis commented on #1441
Hmmm... looking at the code, it appears to me that this code is generated by the GitHub v3 API endpoint:
https://developer.github.com/v3/#client-errors

You might want to contact support@github.com and point them to:
https://developer.github.com/v3/pulls/#create-a-pull-request
and describe the problem like you did above, that you would like an `already_exists` error to be returned instead of a `cu

[2020-02-27 04:51] tanjunchen commented on #1440
Sorry, I didn’t describe my problem well. My question is  that we can pass "merged" in flag State.

[2020-02-27 12:50] gmlewis commented on #1440
Oh!  I understand now... sorry I didn't get it before.

According to the GitHub v3 API documentation:
https://developer.github.com/v3/pulls/#list-pull-requests
it doesn't look like it accepts a `merged` value for `State`.

But then it also has this endpoint:
https://developer.github.com/v3/pulls/#get-if-a-pull-request-has-been-merged
and our corresponding method is `IsMerged`:
https://pkg.go.dev/g

[2020-02-27 17:12] wesleimp commented on #1305
@gmlewis can we close this issue?

[2020-02-27 17:15] wesleimp commented on #1058
@gmlewis is it really relevant or can we close it?

[2020-02-27 17:19] wesleimp commented on #1100
@gmlewis what about this issue, how can we proceed?

[2020-02-27 18:51] bramwelt commented on #1399
Testing out the [CreateOrUpdateSecret](https://github.com/google/go-github/blob/master/github/actions_secrets.go#L109) function, I seem to always be getting a `204 No Content` response back even when creating new secrets (which should return `201 Created`). I'm curious if anyone else has seen this or if perhaps I'm getting a cached response from my own code?

[2020-02-27 20:53] #1424 closed

[2020-02-27 21:11] gmlewis opened #1442 "Support new "Delete Reactions" endpoints"
GitHub Developer API announcement:
https://developer.github.com/changes/2020-02-26-new-delete-reactions-endpoints/

These new endpoints need to be supported:

- [x] Delete a commit comment reaction- #1445
  * `DELETE /repos/:owner/:repo/comments/:comment_id/reactions/:reaction_id`
  * Docs: https://developer.github.com/v3/reactions/#delete-a-commit-comment-reaction
- [x] Delete an issue reaction

[2020-02-27 22:03] gmlewis commented on #1305
Yes, thank you, @wesleimp. Closing.

[2020-02-27 22:03] #1305 closed

[2020-02-27 22:03] gmlewis commented on #1058
Thank you, @wesleimp. Closing.

[2020-02-27 22:03] #1058 closed

[2020-02-27 22:06] gmlewis commented on #1100
Actually, in light of #180 and all the breaking API changes we've been making lately, I think I will go ahead and fix this one myself.

[2020-02-27 22:09] gmlewis commented on #1399
@martinssipenko - can you please comment on https://github.com/google/go-github/issues/1399#issuecomment-592118436 ?

[2020-02-27 22:20] wesleimp commented on #1442
@gmlewis I could take it over

[2020-02-28 00:04] gmlewis commented on #1442
Thank you, @wesleimp!  It is yours.

[2020-02-28 03:18] gmlewis commented on #1442
I neglected to mention that the existing "delete reactions" endpoint also needs to be deleted (assuming we implemented it... I'll have to check later).

[2020-02-28 05:09] tanjunchen commented on #1440
@gmlewis thanks
/close

[2020-02-28 05:09] #1440 closed

[2020-02-28 06:15] martinssipenko commented on #1399
@gmlewis @bramwelt I tested the API manually and despite what documentations suggests, it indeed returns `204 No Content` on both create and update.

I've reached out to GitHub support and updated the conversion with them  in #1402, https://github.com/google/go-github/pull/1402#issuecomment-592332173

[2020-02-28 13:41] wesleimp commented on #1442
@gmlewis I'll delete the endpoint `DeleteReactions` when all these endpoints mentioned above are be supported. What do you think?

[2020-02-28 14:35] gmlewis commented on #1399
Thank you, @martinssipenko !  Your efforts are greatly appreciated!

[2020-02-28 14:37] #1100 closed

[2020-02-28 14:40] gmlewis commented on #1442
We typically add new endpoints and delete deprecated endpoints in the same PR so that the single issue (pointing to a blog post) can be fully closed and so that it can be more easily found.
But I'm actually fine to split the single issue up into two PRs if you would prefer.

[2020-02-28 14:46] joshuabezaleel commented on #1399
Agreed, thank you lots @martinssipenko !! Truly appreciate it :slightly_smiling_face:

[2020-02-28 15:53] wesleimp commented on #1442
@gmlewis I prefer to split the issue in multiple PRs to make the review easier, but after the  #1445 meged, I can close this issue in a single one. No problems to me

[2020-03-01 08:15] pratikmallya opened #1448 "Allow merging PullRequests with commitMessage unspecified"
If the [`commitMessage`](https://github.com/google/go-github/blob/master/github/pulls.go#L452) is unspecified, merging a PR with squash merge commit results in commit with concatenated text from all source commits. [example](https://github.com/pratikmallya/test/commit/08d173ee449e4ea505d8366b9fa416d6d3923f23).

This field should be omitted when the commit message is empty; in that case on squash m

[2020-03-01 13:05] #1448 closed

[2020-03-01 17:53] ayzu commented on #1442
I would like to take the second bullet point.

[2020-03-01 18:48] gmlewis commented on #1442
Thank you, @ayzu, but @wesleimp already signed up for the full issue.

[2020-03-01 18:53] ayzu commented on #1442
Oh, my bad:)

[2020-03-01 19:18] gmlewis commented on #1442
No problem, @ayzu ! It's always better to have more volunteers than not enough! 😁

[2020-03-02 13:55] elemanhillary commented on #1441
@gmlewis would you please assign this to me

[2020-03-02 14:19] gmlewis commented on #1441
@elemanhillary - does that mean you want to contact GitHub tech support?  There is nothing yet here to work on. Let's see if @jwtracy responds about contacting GitHub tech support first before I assign this ticket to anyone.  Thanks.

[2020-03-03 00:55] #1399 closed

[2020-03-05 03:38] alext251 commented on #1425
An update on my progress so far:
* GitHub support responded and it looks like they made the changes to the [documentation](https://developer.github.com/v3/#increasing-the-unauthenticated-rate-limit-for-oauth-applications)
* I have made the code and comment changes and the corresponding tests
* I am currently setting up an OAuth App to test against the live API

[2020-03-07 21:23] nightlark opened #1454 "Support new "filter" parameter for list workflow jobs endpoint"
GitHub Developer API announcement:
https://developer.github.com/changes/2020-03-06-filtering-jobs-for-a-workflow-run/

A new optional `filter` parameter was added to the endpoint that [lists jobs for a workflow run](https://developer.github.com/v3/actions/workflow_jobs/#list-jobs-for-a-workflow-run)

[2020-03-09 04:31] JoelPagliuca commented on #1435
My workaround is building the request myself, then json decoding the results into a `CodeSearchResult` struct defined by this package (which is extremely useful btw! :heart:).

This isn't too onerous, but obviously I'd prefer something less verbose, such as attaching a value that I've copied from the Github docs (in this example `application/vnd.github.v3.text-match+json`) onto the `Client` perhap

[2020-03-09 14:52] #1361 closed

[2020-03-10 23:28] #1454 closed

[2020-03-12 14:49] sh3nan1gans commented on #1331
Any updates on this @pavan541cs @gmlewis ? I'd be happy to help out with the PR

[2020-03-13 00:04] gmlewis commented on #1331
Hmmm... it looks like #1360 may have stalled.
Thank you for the ping, @sh3nan1gans.

Let's wait a day or two for @pavan541cs to respond, and then maybe we'll just open this issue up again and someone else can tackle it from scratch (since it seems that there were a lot of issues that needed to be resolved in #1360).

[2020-03-14 14:47] ajz01 commented on #1293
Hi, I was wondering if anyone is actively working on this issue. I'm looking for somewhere I can contribute, so if I can help out somehow with this please let me know. Thanks.

[2020-03-14 14:53] gmlewis commented on #1293
If you are just starting out, this issue is rather complex and I would not recommend it.
This is a specific challenge that @zhuzeng had and since there have been no other comments on the issue, we'll probably give this one a little more time but then close it due to inactivity.

Feel free to peruse the other issues, and check out our CONTRIBUTING.md guide for getting started. Thank you for your in

[2020-03-14 17:04] ajz01 commented on #1293
Yeah I thought this might be complicated. I'll check out the guide and also keep checking back for recommended "new contributor" issues. Thanks.

[2020-03-15 15:29] ajz01 commented on #55
I was thinking of adding some more tests for this issue as a way to get familiar with the repo and start contributing. Would it be helpful to go down the list of public types from the godocs and start adding tests for any types that don't already have marshaling tests built?

[2020-03-15 18:40] gmlewis commented on #55
Sounds great, @ajz01 - thank you!  Please make sure to read out CONTRIBUTING.md guide to help you get started.  Also, this issue links a number of PRs that you can use as examples.

[2020-03-16 06:48] you06 opened #1458 "Missing `AuthorAssociation` field in issue struct"
I found that there is already `author_association` field in issues API, but the [Issue struct](https://github.com/google/go-github/blob/6e0f6ebdef7d6db18d0eb92bb6f7aa9c0c7d4101/github/issues.go#L28-L63) is not updated.

Also the example in document doesn't has this field yet https://developer.github.com/v3/issues/#get-an-issue. However it's available in API v4 https://developer.github.com/v4/objec

[2020-03-16 07:13] vikkyomkar commented on #1458
Let me look into it

[2020-03-16 19:26] sh3nan1gans commented on #1331
FYI @gmlewis I'm going to take a stab at this. I'll be referring to your comments and the current state of https://github.com/google/go-github/pull/1360 for guidance but please let me know if there's anything else I should be aware of.

[2020-03-16 22:18] sh3nan1gans commented on #1331
@gmlewis - please take a look at this PR - https://github.com/google/go-github/pull/1461
Please let me know if there's anything I missed/should change. Willing to make docs updates as well if necessary

[2020-03-16 22:36] gmlewis commented on #1331
OK, to avoid confusion (hopefully), I'm going to close the stalled PR #1360 and start reviewing #1461 so I can use the checkboxes above to help with the review since this is a non-trivial PR.  Thank you, @sh3nan1gans, and thank you @pavan541cs for the initial work you did on #1360.

[2020-03-16 23:12] gmlewis commented on #1458
The way we typically handle this situation is to first contact support@github.com and ask them to please update their documentation for the API.  They have always been super helpful, friendly, and responsive, so please do this, @you06.

This does two things:
* it validates that indeed the field is being returned and we didn't make a mistake on our end
* improves the user experience for all GitHub

[2020-03-17 03:41] you06 commented on #1458
I've sent an email to GitHub team about this. If there are any updates, I'll comment here.

[2020-03-17 13:10] #1331 closed

[2020-03-17 14:46] sh3nan1gans commented on #1425
@alext251 @gmlewis Any updates on changing from query parameters to basic auth? I'd be happy to work on a PR

[2020-03-17 20:26] lollipopman opened #1463 "Return app "slug" in AppService.Get?"
`Client.Apps.Get(ctx, "")` returns the authenticated app, but does not return the "slug" name of the app in the `App` struct, is it possible to include the slug, as it appears to be in the response?, https://developer.github.com/v3/apps/#get-the-authenticated-github-app, thanks!

[2020-03-17 23:33] gmlewis commented on #1463
You should indeed already be getting the `slug` name in the response from this client library:
https://github.com/gmlewis/go-github/blob/master/github/apps.go#L23

If not, the next step is to try and figure out why.

[2020-03-18 13:14] #1458 closed

[2020-03-18 13:23] #1442 closed

[2020-03-18 19:52] lollipopman commented on #1463
Thanks, for some reason I was pinned to an old version, v17, which didn't have that field in the struct, after updating to v29.0.3, I get this error:
[code]
other calls work with the client, so I am not sure what the issue is. I assume it is something on my end with app permissions, but I can't find anything obvious in the github docs. If anyone has any thoughts it would be greatly appreciated

[2020-03-18 21:32] gmlewis commented on #1463
OK, supporting Enterprise GitHub user has historically been very challenging because everyone is running on a different version.

So the next step is determining what version of Enterprise GitHub you are using, and then post it here, and hopefully someone else using Enterprise GitHub will recognize the problem and tell you which version of this repo you need to pin to in order to get this back up

[2020-03-18 21:54] lollipopman commented on #1463
@gmlewis thanks for the reply, we are currently running, v2.20.1, which is the latest enterprise version.

[2020-03-18 21:58] gmlewis commented on #1463
OK, now please see if you can get the curl version of the API call to work, and maybe we can debug it.

[2020-03-20 09:26] vikkyomkar opened #1465 "Removal of custom media type from Get an issue API"
https://developer.github.com/v3/issues/#get-an-issue

https://github.com/google/go-github/blob/master/github/issues.go#L254-L256

[2020-03-20 16:48] mangelajo opened #1467 "Error using Projects.CreateProjectCard ( 422 Validation Failed )"
I was trying to use the CreateProjectCard in the following code:
[code]

But I always get:

💥 moving card: creating new card: with cardOptions={Note: ContentID:278 ContentType:Issue Archived:<nil>}

err=POST https://api.github.com/projects/columns/8343273/cards: 422 Validation Failed [{Resource:ProjectCard Field:data Code:unprocessable Message:Could not resolve to a node with the global id of 'MDU

[2020-03-20 20:52] gmlewis commented on #1467
Trying to debug this, I'm looking back at the original API documentation:
https://developer.github.com/v3/projects/cards/#create-a-project-card

So `8343273` is the `columnID`, `278` is the issue ID... hmmm... looks good to me.

Can you try calling the "curl" equivalent of the command to see if that works?

If that fails, then I recommend you contact support@github.com and see why your call is fai

[2020-03-23 00:03] pradeepkusingh opened #1468 "How to enable mandatory review"
How can I enable CODE REVIEW protection feature in all existing master and selected branches?

[2020-03-23 00:59] alext251 commented on #1425
@sh3nan1gans I have a PR ready to go.  Just figuring out how to tackle the last of the criteria.

[2020-03-23 02:13] alext251 commented on #1425
Anything special I need to do to get `curl -u my_client_id:my_client_secret https://api.github.com/user/repos` to work?  I have a registered app and added my own account as a user but keeps returning
[code]

[2020-03-23 12:21] gmlewis commented on #1425
(It's interesting that the provided URL doesn't exist. Maybe support@github.com should be notified about the bad URL in the error response.)

So if you are using this endpoint (which it looks like you are):
https://developer.github.com/v3/repos/#list-repositories-for-the-authenticated-user
then you need to use a GitHub "Personal access token": https://github.com/settings/tokens
and that token need

[2020-03-23 12:32] gmlewis commented on #1468
Searching through the GitHub v3 API documentation, it looks to me like you want this:
https://developer.github.com/v3/repos/branches/#update-branch-protection
and specifically, you want `require_code_owner_reviews` to be `true`.

Looking through this client repo, the corresponding call would be:
https://pkg.go.dev/github.com/google/go-github/v30/github?tab=doc#RepositoriesService.UpdateBranchProte

[2020-03-23 13:31] pradeepkusingh commented on #1468
Thank you.

[2020-03-23 13:31] #1468 closed

[2020-03-23 15:09] mangelajo commented on #1467
Thanks gmlewis, I will try that and update this issue with the details.

[2020-03-24 01:30] alext251 commented on #1425
@gmlewis Thanks for the info!

[2020-03-24 01:43] alext251 commented on #1425
Live API testing with following code using an Oauth App I created:
[code]

Here is the response:
[code]

Ups the rate limit to 5000 from the normal 60.

[2020-03-24 02:44] patrickmarabeas opened #1470 "Add support for visibility parameter when creating / editing repository"
Add support for the visibility parameter when creating or editing a repository.

Currently this has only been implemented at:
a) an organisational permission level
b) filtering when listing repositories

API: https://developer.github.com/v3/repos/#parameters-4

UI: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-new-repository

**NOTE: This parameter should

[2020-03-24 12:04] gmlewis commented on #1470
Thank you for the report, @patrickmarabeas.

For your highlighted note, the GitHub docs say:

so it won't be necessary to take any extra action when `visibility` is populated.

I'm thinking that the cleanest solution at this point is to add a new `Visibility *string `json:"visibility,omitempty"` field to the `Repository` struct in `repos.go` at the very end near line 124, and add a comment that th

[2020-03-25 07:26] summerwind opened #1472 "func (*ActionsService) ListRunners always returns error"
[func (*ActionsService) ListRunners](https://godoc.org/github.com/google/go-github/github#ActionsService.ListRunners) always returns error due to the GitHub API response format was changed.

**Previous response format**

[code]

**New response format**

[code]

[2020-03-25 12:20] gmlewis commented on #1472
Ah, yes!  Thank you, @summerwind!
I'll work on a fix.

[2020-03-25 12:37] #1470 closed

[2020-03-25 13:36] summerwind commented on #1472
Thanks for the quick fix!
Actions API support on go-github is really useful for me. Thank you!

[2020-03-25 17:54] #1472 closed

[2020-03-27 12:10] #1425 closed

[2020-03-28 14:16] gmlewis opened #1476 "Go generate should validate and fix all documentation URLs"
Here's a wild and wacky idea. ~that is certainly non-trivial to get right and not for the faint-of-heart nor is it good for someone who wants to get quick brownie points for contributing to an open source project. :smile:~ Edit: I decided to take it on myself.

After merging #1475, it dawned on me that URLs occasionally change in the GitHub v3 API documentation, and it would be amazing and beautif

[2020-03-30 00:49] NeenuAVarghese commented on #1052
I'd be interested in getting to a solution to this issue as well. My use case is not as complex as the above but the core issue remains the same i.e that the contents API does not support returning file contents for file sizes more than 1 MB.
My use case is to simply get content of certain files from a Git repo and stick the file into another Git repo.
I tried using the Git Data API to get the blo

[2020-03-30 13:05] gmlewis commented on #1052
Have either of you tried using [go-git](https://github.com/src-d/go-git) or [go.git-scm](https://github.com/lxr/go.git-scm) in conjunction with this GitHub API client library?

If so, could you please post the results here (pros/cons, if it worked or not, etc.)?

[2020-04-02 16:25] pradeepkusingh opened #1478 "How to get all github repo's branches as a admin"
Thanks for this great API, I am admin of a GHE and trying to get all repo and protected/unprotected branches, but unable to see all branches, only couple of repo shows few branches. Please help and provide me a sample which can provide all branches.

[2020-04-02 21:11] gmlewis commented on #1478
To answer this question, we first take a look at the GitHub Developers v3 API docs, and find the page relating to "Repositories / Branches":
https://developer.github.com/v3/repos/branches/

[List branches](https://developer.github.com/v3/repos/branches/#list-branches) sounds promising.

Then we see that if we omit the `protected` option, we should see _*all*_ branches.

Now we note that this endpo

[2020-04-03 03:17] JoshRodstein opened #1479 "Add: RenameOrg for Org Admin API"
Hi,

I'm currently extending the terraform-github-provider to manage organizations with Terraform for my team's GHE Redux. It would be very helpful to implement RenameOrg for the [Organization Administration API.](https://developer.github.com/enterprise/2.20/v3/enterprise-admin/orgs/#rename-an-organization) I assume there are plans to do this at some point. But I've already got an adhoc implementa

[2020-04-03 17:01] pradeepkusingh commented on #1478
Thanks, I tried below and getting only few branches, as an admin I expect all branch should be lsited, but getting none of 1 or 2.

client.Repositories.GetBranch(ctx, user, *repo.Name, "")

[2020-04-03 20:13] gmlewis commented on #1478
`client.Repositories.GetBranch` should get one branch.
`client.Repositories.ListBranches` should get all branches.

OK, so first I could check if you get a different answer from `curl`, and if you still can't see all the branches, then please contact support@github.com and ask them why.

[2020-04-03 21:23] pradeepkusingh commented on #1478
ok, thank you :)

[2020-04-03 21:23] #1478 closed

[2020-04-07 19:46] propertone opened #1481 "Repository.Get should set mediaTypeRepositoryVisibilityPreview"
Per https://developer.github.com/v3/repos/#get-a-repository, the mediaTypeRepositoryVisibilityPreview accept header needs to be set to see the Visibility flag for a repository.

[2020-04-07 20:58] gmlewis opened #1482 "Support new triage and maintain permissions API endpoints"
GitHub Developer v3 API announcement:
https://developer.github.com/changes/2020-04-07-expanding-rest-api-support-for-the-triage-and-maintain-roles/

These new endpoints need to be supported:

* [Endpoints you can access with the triage permission](https://developer.github.com/changes/2020-04-07-expanding-rest-api-support-for-the-triage-and-maintain-roles/#endpoints-you-can-access-with-the-triage-p

[2020-04-07 21:17] gmlewis commented on #1481
Great catch!  Thank you, @propertone.  Would you like to submit a PR?

The value needs to be added here:
https://github.com/google/go-github/blob/master/github/repos.go#L417

[2020-04-08 12:28] wesleimp commented on #1481
@gmlewis could I take this issue?

[2020-04-08 12:51] gmlewis commented on #1481
Thanks, @wesleimp!  This one is yours. :smile:

[2020-04-08 12:54] #1479 closed

[2020-04-08 12:56] gmlewis commented on #1479
@JoshRodstein - do you need a new release of this repo for Terraform?  We currently are only releasing on-demand. I believe this would be a minor release (since the last release), but will have to verify.

[2020-04-08 20:36] anGie44 opened #1483 "Teams.CreateOrUpdateIDPGroupConnections and Teams.ListIDPGroupsForTeam generating requests resulting in 404s"
github version: `v29.0.3`

While trying to create Idp Group connections for my team, I am receiving 404 errors when using the method `CreateOrUpdateIDPGroupConnections`. In the [logs](https://gist.github.com/anGie44/975a123fc361d4168e4f42588c7b54a8) attached, you can see the PATCH request is made with `PATCH /teams/test-team/team-sync/group-mappings` however according to the api docs (https://deve

[2020-04-09 18:34] #1483 closed

[2020-04-09 18:39] #1481 closed

[2020-04-10 01:06] gmlewis opened #1488 "Remove graduated custom media headers"
GitHub Developer v3 API announcement:
https://developer.github.com/changes/2020-04-07-graduated-previews/

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md

[2020-04-10 01:16] wesleimp commented on #1488
@gmlewis could I take this issue?

[2020-04-10 01:18] gmlewis commented on #1488
Thank you, @wesleimp ! It's yours.

[2020-04-10 01:28] #1476 closed

[2020-04-10 14:23] willnorris commented on #1482
Just a note for whoever ends up working on this... not all of these are actually new methods.  Some of them are existing methods that can now be accessed using accounts with the triage or maintain role, in which case there is probably nothing to be done for those.  A good first step might be to review the whole list and verify which of these are new.

[2020-04-11 05:44] JoshRodstein commented on #1479
@gmlewis -Delayed answer is yes, a release would be great. Looks like it was included in v31.00. Thanks!

[2020-04-11 11:27] gitdotvaibhav commented on #55
I am planing to add some more test cases to get familiar with this repo and to get started

[2020-04-13 12:14] jamesallured commented on #1482
I'd quite like to take a look at this! 🙂

[2020-04-13 12:55] gmlewis commented on #1482
Thank you, @jamesallured!  It is yours.

[2020-04-13 15:34] jamesallured commented on #1482
Just been through all of the endpoints listed above and I could match all of them to existing methods. Forgive me if I'm missing something, but is there anything to do with the triage and maintain roles that needs implementing here or is this issue already solved without requiring extra work?

[2020-04-13 16:13] gmlewis commented on #1482
Thank you, @jamesallured !    I post GitHub Developer v3 API announcements as they come out, and don't always have the time to investigate if we are up-to-date, as most often they announcements really do highlight recent changes.

It looks like in this case, we are good to go.

I apologize for the dead-end issue, but I really appreciate you taking the time to investigate and determine that no acti

[2020-04-13 16:13] #1482 closed

[2020-04-16 00:01] jrossiter opened #1494 "DeploymentStatus type does not contain all possible keys"
I'm using `go-github` in conjunction with GitHub Actions + Deployments.
During deployments we update the deployment status and provide a `log_url` value that points back to the current GitHub actions URL.
We then use `github.Client.Repositories.ListDeploymentStatuses` to retrieve the statuses to retrieve the log URL.

There are a few issues that I can see:
1. The `ListDeploymentStatuses` method do

[2020-04-16 00:34] gmlewis commented on #1494
Thank you @jrossiter for the report.  Yes, it looks like you are correct... would you like to submit a PR?
(Item # 3 should not be an issue once the first two items are resolved, agreed?)

If @jrossiter doesn't want to work on this issue, it would be a great one for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any is

[2020-04-16 00:36] jrossiter commented on #1494
Thanks @gmlewis, I can work on a PR.

Yes, #3 won't be an issue with the others resolved :)

[2020-04-16 00:37] gmlewis commented on #1494
Excellent!  Thank you, @jrossiter... it is yours.

[2020-04-16 01:41] jrossiter commented on #1494
@gmlewis PR created 👍

[2020-04-16 13:14] #1494 closed

[2020-04-17 10:56] m4ns0ur commented on #242
I used `httpcache` as recommended, but it's not working properly. Actually in the first time when it's creating the disk/leveldb cache, it works correctly, but after a while if you retry, it doesn't care about cache anymore.
I'm calling `github.GetContents`.
[code]

[2020-04-19 20:02] #1488 closed

[2020-04-20 17:45] acburdine opened #1497 "ListRepositoryWorkflowRuns doesn't support all query parameters"
It appears that the ActionsService.ListRepositoryWorkflowRuns function doesn't currently support passing in all of the available query parameters for the actual API call, because it's currently using the generic `ListOptions` struct. The other two ListWorkflowRuns* functions are using a `ListWorkflowRunsOptions` struct that has all of the supported query parameters listed.

According to [the docs]

[2020-04-20 17:55] gmlewis commented on #1497
Sounds good to me, @acburdine - thank you!

[2020-04-20 18:29] wesleimp commented on #1418
@gmlewis what do you think about close this issue?

If someone asks for something like that, we consider reopen it.

[2020-04-20 18:32] gmlewis commented on #1418
Thank you, @wesleimp!
Closing due to inactivity.  Please reopen if you have additional updates or replies from GitHub tech support.

[2020-04-20 18:32] #1418 closed

[2020-04-20 18:40] wesleimp commented on #831
@gmlewis I think we can close this issue

[2020-04-20 18:42] gmlewis commented on #831
Definitely.  Thank you, @wesleimp !
Closing.

[2020-04-20 18:42] #831 closed

[2020-04-20 18:43] wesleimp commented on #830
@gmlewis I think we can close this issue. Agreed?

[2020-04-20 18:50] gmlewis commented on #830
For consistency, we will keep all accessors available, but just realize that their use it optional.

Thank you, @wesleimp!

Closing.

[2020-04-20 18:50] #830 closed

[2020-04-21 21:40] AlessioCasco opened #1499 "Repositories.ListByOrg doesn't return any of the allow* fileds"
Hello Guys!

## Context (Environment)
* go version go1.14 linux/amd64
With both:
  * github.com/google/go-github v17.0.0+incompatible
  * github.com/google/go-github/v29 v29.0.3

## Current Behavior
It seems that [func (*RepositoriesService) ListByOrg](https://pkg.go.dev/github.com/google/go-github/v29@v29.0.3/github?tab=doc#RepositoriesService.ListByOrg) does not return any of the `allow*` values

[2020-04-22 00:07] nightlark commented on #1499
It looks like `allow*` values aren't returned with the `ListByOrg` function because the GitHub API to [List organization repositories](https://developer.github.com/v3/repos/#list-organization-repositories) is not returning them (and neither do the functions for listing by user or public repositories).

This might be a question you should ask support@github.com to see if not returning `allow*` valu

[2020-04-22 00:36] nightlark opened #1500 "Add support for deleting workflow run logs"
Blog post: https://github.blog/changelog/2020-04-21-github-actions-logs-can-now-be-deleted/
API docs: https://developer.github.com/v3/actions/workflow_runs/#delete-workflow-run-logs

I'll open a PR for this soon.

[2020-04-22 07:34] nightlark opened #1502 "URLs to GitHub Actions API docs changed"
Various URLs to pages for the GitHub Actions related API docs have changed earlier today. The original links give page not found errors.

Of the sections listed for https://developer.github.com/v3/actions/ the changed URLs are:
* self_hosted_runners to self-hosted-runners
* workflow_jobs to workflow-jobs
* workflow_runs to workflow-runs

I sent an email to GitHub support to confirm that the change

[2020-04-22 08:37] AlessioCasco commented on #1499
Thanks for your response, you are right actually, I was confused by their docs and understood that those values were supposed to be there.

Sorry to have wasted your time,
Alessio

[2020-04-22 08:37] #1499 closed

[2020-04-22 14:54] gitdotvaibhav commented on #1392
Can I take this issue

[2020-04-23 02:07] gmlewis commented on #1500
Thank you, @nightlark !

[2020-04-23 02:11] gmlewis commented on #1502
Thank you, @nightlark!

[2020-04-23 12:22] m4ns0ur opened #1503 "Caching is not working properly with Repositories.GetContents"
_Not sure if it's `go-github` issue or `httpcache` one._

I'm trying to cache `Repositories.GetContents` responses to avoid my rate limit's burning.
[code]
At first run (`diskcache` file is going to be created for the first time), it works
[code]
But if you run it again, after 60s (Github API's `max-age`), it doesn't work anymore
[code]

[2020-04-23 14:40] gmlewis commented on #1503
I see you already found #242 (where I probably would have put this issue).
I've never personally used `httpcache` and I see in #242 that others have had challenges with it.

I would suggest contacting the `httpcache` author and see what he recommends, then please report back here (or close this issue and report back in #242... either way is fine with me).

[2020-04-23 15:05] m4ns0ur commented on #1503
@gmlewis sure! let me try `httpcache`.
I'll keep this open since #242 could be different.

[2020-04-24 03:45] brekelj1 opened #1504 "Actions: add new endpoints for organisation-wide self-hosted runners"
The rest API has new endpoints for organisation-wide self-hosted runners, for example:
https://developer.github.com/v3/actions/self-hosted-runners/#create-a-registration-token-for-
an-organization
This API is in public beta currently.

[2020-04-24 04:38] reiniertimmer opened #1505 "Support organization runners API"
Self-hosted runners on the organization level are now available: https://github.blog/changelog/2020-04-22-github-actions-organization-level-self-hosted-runners/

It would be great if this could be supported. I already have made an implementation somewhere else, but if you are willing to accept I could contribute the code to here as well

[2020-04-24 06:14] brekelj1 commented on #1504
Duplicate of: https://github.com/google/go-github/issues/1505

[2020-04-24 06:14] #1504 closed

[2020-04-24 10:08] gmlewis commented on #1505
Sounds great. Thank you, @reiniertimmer !

[2020-04-24 14:18] #1505 closed

[2020-04-25 15:35] nightlark commented on #1502
The change was intentional -- something about making the URLs more consistent (though the older docs are unchanged and many have underscores in the URL).

[2020-04-25 16:28] gmlewis commented on #1502
OK, thanks for reporting back, @nightlark!
I have added a new utility to this repo in #1477  that should be able to update all the URLs so don't worry about catching them all.  After we get #1507 in, I can run it.

[2020-04-25 16:29] #1502 closed

[2020-04-25 18:42] m4ns0ur commented on #1503
Update:
`httpcache` is lazy, and invalidates the cache [after full `http.body` read](https://github.com/gregjones/httpcache/blob/master/httpcache.go#L240). The issue is, we never get EOF here [in code snippet](https://github.com/google/go-github/issues/1503#issue-605488518) even though `go-github` reads the full body.

At first place it was really confusing because it works occasionally! then I no

[2020-04-25 21:08] gmlewis commented on #1503
Maybe you could submit a PR to the `httpcache` repo with the workaround?

Alternatively (or in addition :smile:), you could submit a PR to this repo with a unit test demonstrating the `bufio` EOF problem along with the fix (if I understand you correctly).

Third option - if you could put a tiny-as-possible test case into this issue that demonstrates the `bufio` EOF problem, I could start looking i

[2020-04-26 09:33] m4ns0ur commented on #1503
The `bufio` issue could be in Go, not in `go-github` (I'm looking into it).
With fixing `bufio` there is no need to send any PR to `httpcache`.

[2020-04-26 19:53] m4ns0ur commented on #1503
It's not a Go issue because document says EOF [is optional](https://golang.org/pkg/io/#Reader). I'm sending a PR to fix the issue in `httpcache`.

Since issue is happening inside JSON decoder (where we read the body), we cannot have a test/PR in this repo, sorry :)

[2020-04-26 19:56] gmlewis commented on #1503
OK, sounds good to me.  Thanks, @m4ns0ur.
Closing issue.

[2020-04-26 19:56] #1503 closed

[2020-04-26 19:57] m4ns0ur commented on #1503
For reference: https://github.com/gregjones/httpcache/pull/104

[2020-04-26 19:58] gmlewis commented on #1503
@m4ns0ur - would that PR you reference also resolve our #242?

[2020-04-26 19:59] gmlewis commented on #1503
If so, would you mind referencing your PR in that issue as well?

[2020-04-26 21:52] m4ns0ur commented on #1503
@gmlewis I don't think so.

[2020-04-28 23:55] #1500 closed

[2020-04-29 01:30] brokorus opened #1511 "Add github_teams data source to list teams per organization"
Being able to list teams per organization for use in other Terraform code is a must have.

Currently there is no mechanism I have found to achieve this with this provider.
A single team can be found by searching for the slug, but there is no way to gather the slug name short of generating it with Terraform. Or importing the existing resource, then referencing it (< Not ideal)

I need this to feed

[2020-04-29 01:40] gmlewis commented on #1511
We try to keep up-to-date with the official GitHub v3 API, so if it is possible to do what you want there, then you should be able to do the same thing with this repo. At least, that's the goal.

There was a recent change to the API where you can get teams by slug (like you mention), or by ID.
We basically have two verisons of these endpoints, just like the official API.

If you can point to the o

[2020-04-29 04:54] bluekeyes opened #1512 "Support new Git reference get/list endpoints"
Sometime in 2019<sup>1</sup>, GitHub quietly hid the old `/repos/:owner/:repo/git/refs[/...]` endpoint in favor of two new endpoints that have the same functionality but provide consistent responses:

- `GET /repos/:owner/:repo/git/ref/:ref` - https://developer.github.com/v3/git/refs/#get-a-single-reference; always returns a ref or an error
- `GET /repos/:owner/:repo/git/matching-refs/:ref` - http

[2020-04-29 12:53] gmlewis commented on #1512
Thank you for the research and the detailed analysis, @bluekeyes!  It is greatly appreciated.

Yes, we prefer to match the official GitHub v3 API as closely as possible so that there is the least amount of confusion, even if this means bumping the major version of the repo due to the breaking API change (as can be seen, we are at `v31` right now and already have another breaking change ready for `

[2020-04-30 00:44] nightlark commented on #1436
@csandanov were/are you working on adding support for deleting installations? If not, I can add something this weekend.

[2020-04-30 04:24] csandanov commented on #1436
@nightlark yes, I planned to but don't have time currently, so go ahead, please

[2020-04-30 05:00] bluekeyes commented on #1512
Thanks for the advice, @gmlewis! I implemented option 3 in #1513.

[2020-04-30 07:21] jsiyani opened #1514 "Update permission levels for repositories owned by an organization"

[2020-04-30 07:22] #1514 closed

[2020-04-30 07:26] jaysiyani opened #1515 "Update permission levels for repositories owned by an organization"
https://github.com/google/go-github/blob/747f93dd9b489bd56f7442b3c42bfea12800a75b/github/repos_collaborators.go#L101-L110

Can this be updated to include maintain and triage ?
As per https://developer.github.com/v3/repos/collaborators/#add-user-as-a-collaborator

[2020-04-30 11:47] gmlewis commented on #1515
Since the parameter is a string, you can already do that. But you are correct that the documentation comment should be updated.

Thank you for the report!

[2020-05-02 01:38] nightlark opened #1517 "Suspended GitHub App Installations"
A new API was added for suspending GitHub app installations: https://developer.github.com/changes/2020-05-01-suspending-a-github-app-installation/

Suspend Installation: https://developer.github.com/v3/apps/#suspend-an-installation
Unsuspend Installation: https://developer.github.com/v3/apps/#unsuspend-an-installation

[2020-05-02 13:12] gmlewis commented on #1517
Thank you, @nightlark!

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md](https://github.com/google/go-github/blob/master/CONTRIBUTING.md) guide to get sta

[2020-05-02 13:33] paladium commented on #1203
Hello, I am happy to work on this issue. As I understand the effect of moving the parsing of the URL before checking for the nil value of options might have unpredictable effects?

[2020-05-02 14:21] gmlewis commented on #1203
I apologize for not documenting this issue better.

Here is the problem...  In [addOptions](https://github.com/google/go-github/blob/master/github/github.go#L233-L253), the code says this right now:

[code]

What I realized is that if `opts` is `nil`, then this function returns on [line238](https://github.com/google/go-github/blob/master/github/github.go#L238) without even attempting to parse the

[2020-05-02 14:24] paladium commented on #1203
Yes, I understand the issue better now. I will be happy to test out this change. Is there any formal way I can document the process of real-life testing?

[2020-05-02 14:50] paladium commented on #1203
I can make a separate repo, include the changed library and write e2e tests for each API endpoint by consuming the new library?

[2020-05-02 15:09] gmlewis commented on #1203
Oh, uh, wow... No need for a formal documentation process or a separate repo... thank you, though!
If you simply want to keep your notes of your testing in this GitHub issue right here, that is fine with me.

[2020-05-02 15:10] gmlewis commented on #1203
My biggest concern is breaking the large number of users of this repo without running the endpoints through their paces.  I can't imagine this change affecting anything negatively, but I just want (someone) to take time and make sure I'm not suggesting something stupid.  :smile:

Thanks again!

[2020-05-02 15:11] paladium commented on #1203
Yes sure, no problem.

[2020-05-02 17:01] joshuabezaleel commented on #1517
May I have a shot on this one? :slightly_smiling_face:

[2020-05-02 17:09] gmlewis commented on #1517
Thank you, @joshuabezaleel!
It is yours.

[2020-05-03 13:34] vaibhavsanap commented on #1515
Can I take this

[2020-05-03 15:11] gmlewis commented on #1515
Yes, @vaibhavsanap - thank you!  It is yours.

[2020-05-03 16:24] vaibhavsanap commented on #1515
Also as per https://developer.github.com/v3/teams/#add-or-update-team-repository

type TeamAddTeamRepoOptions struct {
	// Permission specifies the permission to grant the team on this repository.
	// Possible values are:
	//     pull - team members can pull, but not push to or administer this repository
	//     push - team members can pull and push, but not administer this repository
	//     admi

[2020-05-03 17:34] vaibhavsanap commented on #1515
#1518

[2020-05-03 18:36] gmlewis commented on #1515
Yes, if you see comments that are out-of-date, it would be good to update them. Thank you.

[2020-05-04 03:49] #1515 closed

[2020-05-04 05:48] joshuabezaleel commented on #1517
While I was browsing the docs, I also found that ["Delete an installation"](https://developer.github.com/v3/apps/#delete-an-installation) also hasn't been implemented yet. Should I added this to the to-do lists? @gmlewis

[2020-05-07 01:22] #1517 closed

[2020-05-07 01:45] #1436 closed

[2020-05-07 02:14] #1512 closed

[2020-05-08 17:15] ZeusAge opened #1521 "For repository, what's the difference between 'source' and 'parent' section?"
And which one should I use? esp. for forked repo.

Thanks!

[2020-05-08 22:45] gmlewis commented on #1521
According to the [official documentation](https://developer.github.com/v3/repos/#response-5):

[code]

[2020-05-08 22:45] #1521 closed

[2020-05-14 14:28] gogolemon opened #1523 "Add support to retrieve pinned projects on user profile pages"

[2020-05-14 22:50] gmlewis commented on #1523
If you can find it in the official GitHub Developer API v3 documentation, we can add it.

Looking here, however: https://developer.github.com/v3/projects/
I'm not seeing anything matching this description.

Closing issue.

If you find it, please comment and I'll re-open.

[2020-05-14 22:50] #1523 closed

[2020-05-14 23:57] chestone opened #1524 "Github Enterprise API differs significantly from supported in TeamsService methods"
I've been working with this library used with Github Enterprise(v2.19 & v2.20) and I have noticed that it has continued to drift from the Enterprise API, tending to stick with the Github.com API definition. The issues that I've run into in particular surround the TeamsService and progressively adding `/org/:org` and `/organizations/:org_id` to the route, which are not present in their GHE counterp

[2020-05-15 00:59] nightlark commented on #1523
From looking around the GitHub community forums, there is no v3 REST API endpoint to get pinned projects. However, it is possible using the v4 GraphQL API has a method to get it. https://github.com/shurcooL/githubv4 might be useful for getting that information.

[2020-05-15 01:07] gmlewis commented on #1524
Hi @chestone, and thank you for your feedback.

The primary goal of this repo has always been to support the latest version of the official public GitHub Developer v3 API, documented here: https://developer.github.com/v3/
We go so far as to try to keep up-to-date with the latest custom preview headers so that cutting-edge features can be tried out with this repo and feedback can be given to the Gi

[2020-05-15 02:04] nightlark opened #1525 "Organization Secrets"
Organization secrets are here! https://github.blog/changelog/2020-05-14-organization-secrets/

I'll try to open a PR for this soon.

[2020-05-17 23:47] gmlewis opened #1526 "Support new workflow usage and workflow run usage API endpoints"
GitHub Developer v3 API announcement:
https://developer.github.com/changes/2020-05-15-actions-api-workflow-usage/

These new endpoints need to be supported:

* [Get workflow usage](https://developer.github.com/v3/actions/workflows/#get-workflow-usage)
  * [ ] `GET /repos/:owner/:repo/actions/workflows/:workflow_id/timing`

* [Get workflow run usage](https://developer.github.com/v3/actions/workflow

[2020-05-18 06:13] joshuabezaleel commented on #1526
May I have a shot on this? :slightly_smiling_face:

[2020-05-18 11:21] gmlewis commented on #1526
Thank you, @joshuabezaleel ... it is yours.

[2020-05-18 18:25] joshuabezaleel opened #1528 "Wrong error message on the test for GetWorkflowRunByID"
While I was working on #1527 I found out that the test for `GetWorkflowRunByID` use the [wrong error message](https://github.com/google/go-github/blob/master/github/actions_workflow_runs_test.go#L83-L86) of `ListWorkFlowRunsByFileName` instead.

Will put up a small PR on this.

[2020-05-18 21:32] #1528 closed

[2020-05-21 16:49] mctofu opened #1531 "RepositoriesService.DownloadContents should handle response codes"
To download the contents of a file the `DownloadContents` method is using a `http.Client` to request it and then returns only the body of the response.
[code]

The `http.Client` docs state that `A non-2xx response doesn't cause an error`. If the download request returns a failed response code then `resp.Body` most likely doesn't contain the content you wanted and there is no way to tell that somet

[2020-05-22 01:49] #1526 closed

[2020-05-22 11:56] posener opened #1533 "The archiveFormat type is not exported but used in an exported API GetArchiveLink"
The archiveFormat type is not exported but used in an exported API GetArchiveLink.
I assume that the intention was to allow only the defined const, but this is a bad practice - for example, if I want to wrap the function to GetArchiveLink and want also to accept the archiveformat argument.

Can this type be exported?

[2020-05-22 12:28] gmlewis commented on #1531
Thanks for the report, @mctofu.

I'm thinking that using `github.CheckResponse` is probably not going to be a good option here due to the overhead of it slurping in an entire copy of the body (which could be upwards of 50MB).

Possibly a simpler approach would just be to additionally return the response itself like most of the other endpoints in this repo do.  That way the client can check it dire

[2020-05-22 12:36] gmlewis commented on #1525
Although this ticket was assigned to you, @nightlark , it appears that @cj-taylor has gone ahead with a PR.  Are you OK with re-assigning this issue to @cj-taylor, or have you already invested a great deal of time into this one and are close to a PR?

I'm fine either way, as I know it can be frustrating to spend time on a PR and the work gets thrown away.

@cj-taylor - before you do this again in

[2020-05-22 12:39] gmlewis commented on #1533
Whups... looks like a bug.  Thanks for the report, @posener !
Do you want to put together a PR, or would you like someone else to address this issue?

[2020-05-22 14:39] nightlark commented on #1525
I have changes that are ready for a PR, I've just been waiting for a response from GitHub support on what I think is a docs issue.

[2020-05-22 14:51] cj-taylor commented on #1525
@gmlewis thanks for the guidance provided. I will gladly let @nightlark supersede my Pull Request with their changes. I'll make sure to communicate upfront before making future changes. I got here by working backwards from the terraform-provider-github working locally on the usage and thought I'd open it as an optional contribution to help out.

Either way, I'll gladly work on the terraform-provid

[2020-05-22 15:19] nightlark commented on #1525
I opened a PR with the changes - there are some parts that are pretty different from #1532, so it's fine if that would be easier to use as the base for making changes.

[2020-05-22 17:45] mctofu commented on #1531
Yeah, I think it could make sense to also return the response since that would be consistent with the other endpoints. What's interesting is that `DownloadContents` is more of a convenience helper that makes multiple calls so could the returned response actually be from `GetContents` if that returned an error?

Being able to check the status code on the response myself would solve this issue. It's

[2020-05-22 18:01] mctofu commented on #1531
Maybe `return resp, nil`  would be a better option? Then it could be a little more clear that you are getting the raw response and should be checking the status code?

[2020-05-23 12:38] gmlewis commented on #1531
Possibly.

I do like the return of the `io.ReadCloser` to make it clear that clients really need to read it and then close it...  so I would lean toward the `return resp.Body, resp, nil` solution. Also, the three return values also is highly consistent with the rest of the repo... so that is my vote.  Feel free to let this issue stay open and see if anyone else has opinions on how to address this

[2020-05-23 17:56] boljen opened #1537 "Add ListArtifacts to ActionService"
The following endpoint is not yet implemented:
https://developer.github.com/v3/actions/artifacts/#list-artifacts-for-a-repository

[2020-05-26 04:43] joshuabezaleel commented on #1265
Hi @gmlewis , I stumbled upon this issue while browsing the repo and I am interested if somehow this issue is still available :slightly_smiling_face:

[2020-05-26 11:56] gmlewis commented on #1265
Yes, since we have not heard from @tomasaschan since last August, I think we can safely assume that this issue is available.

Thank you, @joshuabezaleel !  I'll assign it to you.

[2020-05-26 17:12] mctofu commented on #1531
Ok! Any option that allows detecting a bad response is ok with me. I was hoping to save others from running into this same issue since it was pretty tricky to track down. Making it clear in the docs that you should check the response code would be appreciated!

[2020-05-26 17:38] joshuabezaleel commented on #1265
Hi @gmlewis , is it okay if I ask a particular technical question here?

For [`DeleteHook` testing](https://github.com/google/go-github/blob/master/github/repos_hooks_test.go#L143-L155), does it mean that we don't have to check whether the statusCode of the response is [204 or not](https://developer.github.com/v3/repos/hooks/#response-6)?
I tried to issue the PubSubHubBub request using curl and it