[2021-10-05 14:02] lluiscampos opened #2115 "event_types.go: PushEvent and IssueCommentEvent are missing Organization (optional) field"
According to GitHub documentation: "Webhook payloads contain the `organization` object when the webhook is configured for an organization or the event occurs from activity in a repository owned by an organization".

Currently, the `Organization` object is present for `PullRequestEvent` and others, but missing from `PushEvent` and `IssueCommentEvent` (and many others, but these two are the ones I n

[2021-10-05 16:11] #2115 closed

[2021-10-05 20:37] lucasdittrichzup commented on #2041
Hi @gmlewis!

I really evaluated it better and, after investigating what @kallydev  said, I get the data I need from the mentioned struct. You can close the issue.

[2021-10-06 14:43] Xorima commented on #540
A bit late but with this change does this mean the docs can be updated as well? https://pkg.go.dev/github.com/google/go-github/v39/github#PullRequestsService.CreateReview

[2021-10-06 17:29] vlsokol opened #2118 "Support "Rename a branch""
Is there a plan for adding branch renaming feature: https://docs.github.com/en/rest/reference/repos#rename-a-branch?

[2021-10-06 17:33] gmlewis commented on #2118
Yes indeed, and thank you @vlsokol for the report... it looks like we haven't implemented it yet.

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md](https:

[2021-10-06 17:41] tamboliasir1 commented on #2118
could you give a bit of an insight or how to start with it? If I get a little help, I guess I will be able to work on it. This will be my first PR.

[2021-10-07 13:13] HammaFist70 opened #2120 "Equalizer Max Performance"

[2021-10-07 13:34] #2120 closed, assigned to nobody

[2021-10-09 23:53] vchuravy commented on #2113
I still think there is an issue here to be fixed. Upgrading to HTTP/2 shouldn't have swallowed these error messages.

[2021-10-10 01:38] gmlewis commented on #2113
Is anyone able to write a unit test that demonstrates the problem?

[2021-10-10 07:15] HammaFist70 opened #2122 "Help Me integrate YouTube Music App Android with Power Amp Pro EQ"
It's not my SRTONG SUIT...Ya Knows Guys?

[2021-10-10 11:42] gmlewis commented on #2122
Strike two - @HammaFist70 - you know that this is the wrong place to post this issue.
Your first strike ( #2120 ) I closed.
On your third strike, I will ban you from this repo and report you to GitHub as a spammer.
Do some Google searches to find the appropriate place to ask your questions and stop spamming random repos.

[2021-10-10 11:42] #2122 closed

[2021-10-11 16:47] vlsokol commented on #2118
@tamboliasir1, resolved - https://github.com/google/go-github/pull/2119. Waiting for it to be merged.

[2021-10-13 11:23] Lazyshot opened #2124 "Release Request"
Requesting a release with the primary feature we are desiring being #2103.

cc: @mumoshu

[2021-10-13 12:45] #2124 closed, assigned to nobody

[2021-10-19 14:51] asvoboda opened #2132 "Support "security_and_analysis" repository settings"
The new [security and analysis](https://docs.github.com/en/rest/reference/repos) repository settings for advanced security and secret scanning don't appear to be supported just yet in the repository endpoints api implementation. Currently a user would need to manually [muck with the UI](https://docs.github.com/en/code-security/secret-scanning/configuring-secret-scanning-for-your-repositories) to e

[2021-10-19 17:54] AGMETEOR commented on #236
Thanks @sagar23sj for letting me take this up. I'll start work on it over the weekend when I get some personal time.

[2021-10-19 21:51] asvoboda commented on #2132
I'll give it a shot :)

[2021-10-20 01:44] #2132 closed, assigned to asvoboda

[2021-10-24 19:07] Nnachevvv opened #2140 "Wrong URLs in actions_artifacts.go"
Some of the URL in comments in `github/actions_artifacts` are outdated. For example:
[code]
gives page doesn't exist.

I'd be happy to submit a PR to fix this.

[2021-10-25 15:14] #2140 closed, assigned to nobody

[2021-10-26 13:23] Nnachevvv opened #2142 "Obsolete preview APIs"
There are many files with TODO comments which address that custom accept header should be removed when the API fully launches:
[code]
Per my understanding API is fully launched and preview APIs are not needed. I'd be happy to make a PR to address  these TODO comments

[2021-10-28 13:36] zfLQ2qx2 opened #2163 "Branch Protection w/o required PR review allowed by Github but not API"
The Github web GUI allows you to create branch protection rules without requiring pull request reviews - disallowing delete/force push and limiting the entities that can merge changes, but not requiring a PR which in our case happens elsewhere in the  pipeline. It does not seem possible to express this to the UpdateBranchProtection() function in go-github - if I leave required_pull_request_reviews

[2021-10-28 23:40] christianh814 opened #2166 "Create or Upload SSH key"
Is it possible to upload an ssh key for the account? I see that the API is there: https://docs.github.com/en/rest/reference/users#create-a-public-ssh-key-for-the-authenticated-user

But I haven't found of an example using go-github.

[2021-10-29 00:45] #2166 closed, assigned to nobody

[2021-10-29 18:16] gauntface commented on #1920
Sorry I'm going to close this. Still relevant but work is hogging up time and we've got around the issue by watching for the error in our roundtripper.

[2021-10-29 18:16] #1920 closed

[2021-10-29 18:17] gauntface commented on #999
Can you share some examples of how WithContext would be used here?

[2021-10-29 18:22] willnorris commented on #999
I'm assuming Glenn meant `ctx.WithValue`.  You could tuck a value into the context that indicated the API previews you wanted to enable or disable.  Then the methods that would normally attach one of the preview accept headers would check that context value first.

[2021-10-29 18:26] willnorris commented on #999
So from the user's perspective, it would be something like:

[code]

And we'd probably have some internal helper methods in the library to check for specific previews being enabled before attaching the accept header.

[2021-10-29 18:32] gauntface commented on #999
Overall I love this idea.

Especially like that it allows go-github to have defaults it thinks are best and then allows users to alter behavior as necessary.

[2021-11-02 11:02] viveknathani opened #2194 "Support for creating reaction for a release"
Hi everybody!
I found that [this](https://docs.github.com/en/rest/reference/reactions#create-reaction-for-a-release) endpoint is missing its implementation over here. Do the maintainers intend to cover it? If yes, can I work on it?

[2021-11-02 13:15] gmlewis commented on #2194
Thank you, @viveknathani - sounds good.  Yes, it is your to implement.
Please check out our CONTRIBUTING.md guide if you haven't contributed before.

[2021-11-02 16:03] AGMETEOR commented on #236
Still on it...

[2021-11-04 00:18] #236 closed

[2021-11-04 12:09] wangyoucao577 commented on #2113
any update on this?

[2021-11-04 15:10] #2118 closed

[2021-11-07 15:54] Flawe opened #2198 "StargazersCount is always nil when using Repositories.ListAll"
When querying repos with Repositories.ListAll, StargazersCount is always nil. Is there any other way to get the number of stars for different repositories if this isn't the correct way?

[2021-11-07 17:56] gmlewis commented on #2198
Have you tried reproducing this issue by calling the GitHub v3 API endpoint via `curl` and inspected the value of `stargazers_count` ?

If `curl` also reports nil/null/empty/0, then GitHub tech support should be contacted.

If, however, `curl` shows a valid value that this client library is not picking up, then this is truly an issue that can be fixed.

Please report back your findings so that we

[2021-11-08 13:47] #2194 closed

[2021-11-10 20:31] dumastaylorPFG opened #2201 "Closing a Pull Request Sends Back Validation Errors Related to Base Branch of PR"
Closing a pull request via the "Update a Pull Request" end point https://docs.github.com/en/rest/reference/pulls#update-a-pull-request

Sending in a request body that only alters state yields an error message:

`422 Unprocessable Entity: [{"message":"Validation Failed","errors":[{"message":"Ref must be a string","resource":"PullRequest","field":"base","code":"invalid"}],"documentation_url":"https:

[2021-11-10 20:46] gmlewis commented on #2201
Correct me if I'm wrong, but reading through your report and looking at the documentation of the used endpoints makes me think that this really should be a bug report filed against the GitHub v3 API itself, and that this is explicitly _not_ a bug of this Go client library.

If you agree, then please contact GitHub tech support with your bug report and we can leave this issue open until you hear ba

[2021-11-10 20:50] dumastaylorPFG commented on #2201
Thanks for the quick response Glenn. I do agree that this relates to the v3 API itself, not the Go client library. I have opened this issue in the incorrect place. I have no objection to this issue being closed....I will find the right avenue to report the issue to the API owners themselves.

Thanks again and apologies for the misunderstanding!

[2021-11-10 20:52] gmlewis commented on #2201
No problem!  Thanks for reporting this to GitHub tech support.

I'll go ahead and close this, but still please feel free to report back your findings here to help others who are facing the same issue.

[2021-11-10 20:52] #2201 closed

[2021-11-10 20:55] dumastaylorPFG commented on #2201
Sounds good - I've got a ticket open with support (looks like it's a personal ticket so I don't think I can share the link). I will share the results of what is found on this issue when more information comes to light.

[2021-11-13 18:54] crixo opened #2202 "Search Users"
I need to search users by country but ListAll does not support a query filter. What am I missing? How can I provide search/filter criteria for the ListAll methods also beloging to different entities?

[2021-11-13 19:20] #2202 closed

[2021-11-13 19:20] crixo commented on #2202
found the search client.Search.Users sorry

[2021-11-15 11:10] gpkmr-genesys opened #2203 "unmarshal error in billing.go - GetStorageBillingOrg function"
Hello - Am trying to get the storage stats for my GitHub org from GetStorageBillingOrg function, But it throws error.
Details as follows.

_Go version used_: go1.17.2 linux/amd64
_Operating system_: Ubuntu
_Function reference_: https://github.com/google/go-github/blob/master/github/billing.go#L79

_Error_:`json: cannot unmarshal number 19.5361328125 into Go struct field StorageBilling.estimated_pa

[2021-11-15 12:14] yogur opened #2204 "Enable or disable Secret Scanning for a repository"
The library doesn't seem to support enabling or disabling Secret Scanning. This is doable through the REST API by sending a PATCH request and setting the `status` in the object `secret_scanning` to `enabled` or `disabled`. https://docs.github.com/en/rest/reference/repos#update-a-repository

Is this planned to be added to the library?

[2021-11-15 13:43] gmlewis commented on #2203
Thank you for the report, @gpkmr-genesys !
It looks like that field needs to be changed from `int` to `float64`.

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBU

[2021-11-15 13:49] gmlewis commented on #2204
I believe this was recently added in #2133:
https://github.com/google/go-github/blob/master/github/repos.go#L193

[2021-11-15 14:36] gunadhya commented on #2203
Hi @gmlewis, I'd like to work on this issue. Could you assign it to me?

[2021-11-15 14:57] gmlewis commented on #2203
Thank you, @gunadhya !  It is yours.

[2021-11-15 15:14] gpkmr-genesys commented on #2203
@gmlewis - I would like to work on it since it will be my first contribution. Since @gunadhya has already taken it up, am good with it.

[2021-11-15 15:25] gmlewis commented on #2203
I apologize, @gpkmr-genesys - I should have offered it to you first.  :disappointed:

[2021-11-15 15:47] #2203 closed

[2021-11-15 15:54] gpkmr-genesys commented on #2203
@gmlewis - No problem :-)  All we need is to fix the issue. Glad that I have made some contribution by identifying a defect.

[2021-11-15 15:56] yogur commented on #2204
Thanks @gmlewis! I just noticed I was searching in the v34 codebase. 🤦🏻

[2021-11-15 15:56] #2204 closed

[2021-11-16 00:52] quinqu commented on #496
I notice the same issue with the `MergeableState` field. When I list pull requests with `client.PullRequests.List`, that value is always nil. It seems this is intentional as there are multiple values missing. Just commenting for future folks.

[2021-11-24 12:26] hazcod opened #2209 "ListSCIMProvisionedIdentities always returns 404"
Hi!

I have an org on github.com with the GitHub Enterprise plan.
I am using v40.0.0 of the library.

[code]

Wil allways return `404 Not Found`. Any idea?
The `org` matches `ironpeakservices`, which is my org with SAML SSO enabled.
The token is authorized for the org/SSO.
The token in question has wide scopes: `admin:enterprise, admin:org, admin:org_hook, user`.

[2021-11-24 14:33] gmlewis commented on #2209
I don't have experience with this endpoint, but my first guess was going to be the scopes of your personal access token, which appear to have the ones I would expect.

For cases like these where we get unexpected responses from the GitHub v3 API, one of the best ways to triage it is to generate the identical `curl` request and see if it returns the same response.

Your best bet is to probably cont

[2021-12-02 17:19] kabesan opened #2213 "Support External Groups API"
Enterprise Managed Users (EMU) was GA on September.
https://github.blog/2021-09-30-enterprise-managed-users-generally-available-github-enterprise-cloud/

Team Synchronization API cannot be used with EMU.
External Groups API must be used instead.
https://docs.github.com/en/enterprise-cloud@latest/rest/reference/teams#external-groups

[2021-12-02 17:19] kabesan commented on #2213
Can I create PR?

[2021-12-02 17:27] gmlewis commented on #2213
Yes, thank you, @kabesan !
This issue is yours.

[2021-12-03 14:43] #2110 closed

[2021-12-03 14:47] #625 closed

[2021-12-03 14:52] #2107 closed

[2021-12-03 17:30] nyarly opened #2214 "Branch Protection Rule Event doesn't serialize installation fields"
The BranchProtectionRuleEvent doesn't serialize `installation` object and its fields, which means that an App consuming that event cannot authenticate to act on the event itself. Github support indicated, and I've confirmed in delivery logs, that the `installation` field does appear, just as it does in every other webhook event, despite not being documented.

[2021-12-03 17:42] gmlewis commented on #2214
Thank you, @nyarly !
Would you like to create a PR to fix this, or would you like me to open up this issue to other contributors to this repo?

[2021-12-03 18:02] rafeeJ opened #2215 "TextMatches is not populated after a CodeResult is returned"
Relevant to #109

I am trying to retrieve the code fragments from a CodeResult object after a successful Code search.

However, it seems that the TextMatches array is empty:
<img width="419" alt="image" src="https://user-images.githubusercontent.com/1508676/144650527-1725107f-5a87-41e9-b6c8-880f35035904.png">

More information:
- I am currently on go-github v39
- I am calling this on a GitHub Ente

[2021-12-03 20:01] nyarly commented on #2214
I think I'm happy to put together a PR.

[2021-12-03 20:32] nyarly commented on #2214
c.f. #2216

[2021-12-03 20:41] gmlewis commented on #2215
Can you please try the same call as a `curl` command to see if the data you seek is indeed being returned?

[2021-12-04 00:44] #2214 closed

[2021-12-05 17:31] gmlewis commented on #2112
As reported here: https://github.com/google/go-github/pull/2135#issuecomment-986255780
it turns out that both `since` and `page` can be returned in the header of the response, which causes the regular pagination to break.

I tested this myself with the following test program:

[code]

which returned:

[code]

This should say: `resp.NextPage=2` (see the header `Link`).

[2021-12-06 03:21] #2112 closed

[2021-12-06 10:14] rafeeJ commented on #2215
So I followed the GitHub guide, here: https://docs.github.com/en/rest/reference/search#text-match-metadata

Creating the Curl command, making sure to use the `'Accept: application/vnd.github.v3.text-match+json'` header, it returns the text_matches and thus the fragment. However, it does not return the data in Windows CMD - only in Postman and WSL Ubuntu.

[2021-12-06 14:00] gmlewis commented on #2215
OK, thanks, @rafeeJ . Go ahead and create a PR to fix the issue, and we'll take a look at it.

[2021-12-06 18:03] rafeeJ commented on #2215
Turns out I completely missed the SearchOptions struct.

[2021-12-06 18:03] #2215 closed

[2021-12-07 15:20] berayb opened #2220 "Question about repository search"
Hi, we're able to get results through this URL: [https://github.com/search?l=&q=filename%3A.forgeindex&type=code](https://github.com/search?l=&q=filename%3A.forgeindex&type=code) and we are trying to get the result by using this library.

Tried the following lines:

` client.Search.Repositories(context.Background(), "q=filename=forgeindex&type=code", nil)`
` client.Search.Repositories(context.Back

[2021-12-07 18:34] gmlewis commented on #2220
This seems to work:

[code]

gives:

[code]

[2021-12-08 10:31] maruTA-bis5 opened #2221 "Support Discussions webhook event"
GitHub Discussions was out of beta in August 2021 (https://github.blog/2021-08-17-github-discussions-out-of-beta/).

Webhook event document is here: https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-payloads#discussion

[2021-12-08 13:07] iam-veeramalla opened #2222 "fix the dead links for webhook event types"
I noticed a few dead links in message.go file which may be referencing an obsolete documentation.

https://github.com/google/go-github/blob/7520506474b61f4fab49fdc08b977a2723b748ca/github/messages.go#L258
https://github.com/google/go-github/blob/7520506474b61f4fab49fdc08b977a2723b748ca/github/messages.go#L265

[2021-12-08 17:22] #2222 closed

[2021-12-08 20:31] gmlewis commented on #2221
Thank you, @maruTA-bis5 !
Would you like to create a PR to support this feature, or shall I open this issue up to our volunteer contributors to implement?

[2021-12-09 15:24] maniSbindra commented on #2221
Hi @gmlewis I would like to start contributing to this repository. Can I take up this issue?

[2021-12-09 15:36] gmlewis commented on #2221
Thanks, @maniSbindra , but let's please wait until @maruTA-bis5 has a chance to answer my question above.

[2021-12-09 16:55] gmlewis commented on #2221
No problem, @maniSbindra .  We'll give @maruTA-bis5  another day or so, then feel free to remind me if we don't hear back, and the issue can be yours.

[2021-12-09 23:27] maruTA-bis5 commented on #2221
Hi @gmlewis @maniSbindra
I'm sorry to have kept you waiting!
I have no time to provide a PR for the next few weeks. So you can take up this issue, @maniSbindra.

[2021-12-09 23:55] gmlewis commented on #2221
Thank you, @maruTA-bis5 and no problem.
@maniSbindra - this issue is yours.

[2021-12-10 20:21] pierce-m opened #2225 "List/Get/Redeliver App Webhook Deliveries"
Any plans to support the additional APIs around App Webhook Deliveries? https://docs.github.com/en/rest/reference/apps#list-deliveries-for-an-app-webhook

I noticed the functionality around App Webhook configuration was implemented already

[2021-12-10 21:34] gmlewis commented on #2225
Yes, we can certainly add support for App Webhook Deliveries.
Do you want to create a PR, @pierce-m , or would you like me to open up this issue to one of our other contributors?

[2021-12-13 15:14] pierce-m commented on #2225
I'm happy to open one up! It'll take a little while though for me most likely.

[2021-12-13 15:37] gmlewis commented on #2225
Sounds great!  It's yours.  No rush. :smile:

[2021-12-14 10:10] LuisAlejandro commented on #2220
@gmlewis did you manage to print TextMatches?

[2021-12-14 14:45] gmlewis commented on #2220
If you want the TextMatch data, change two lines above to:

[code]

[2021-12-14 22:21] mengmichael1 opened #2227 "ListPullRequestsWithCommit removed from API docs?"
👋 I am trying to use the `ListPullRequestsWithCommit` API. I noticed that information about it got removed from the API docs (it used to live in https://docs.github.com/en/rest/reference/repos#list-pull-requests-associated-with-a-commit). However, the API is still present within in the master go-github https://github.com/google/go-github/blob/ff33a554ef2c24c1710238b69942fe51e70d89da/github/pulls.g

[2021-12-14 22:26] gmlewis commented on #2227
Take a look at the top of the page for the first URL you listed. It says they have moved the documentation around.

It now appears to be here: https://docs.github.com/en/rest/reference/commits#list-pull-requests-associated-with-a-commit

[2021-12-14 23:22] mengmichael1 commented on #2227
Ah thank you so much @gmlewis, I was combing through https://github.com/github/docs to get to the bottom of this, but now I see :D

[2021-12-14 23:22] #2227 closed

[2021-12-15 15:05] dmitshur opened #2231 "add AppID field to ListCheckRunsOptions"
Both https://docs.github.com/en/rest/reference/checks#list-check-runs-for-a-git-reference and  https://docs.github.com/en/rest/reference/checks#list-check-suites-for-a-git-reference endpoints document the following query parameter:

Name | Type | In | Description
------|------|----|------
app_id | integer | query | Filters check suites by GitHub App `id`.

(Though the former is missing a descripti

[2021-12-15 15:48] ecrupper opened #2232 "Add changes to RepositoryEvent"
In the case of a repository being renamed, there is a `changes` block in the webhook payload. Since Go-GitHub doesn't have this field in their [RepositoryEvent struct](https://github.com/google/go-github/blob/ff33a554ef2c24c1710238b69942fe51e70d89da/github/event_types.go#L933-L944), one must create a custom struct to unmarshal the old name of the repository.

I'm not sure if this is potentially a

[2021-12-15 18:18] gmlewis commented on #2232
Thank you, @ecrupper .

Since this appears to be [undocumented](https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-payloads#repository) as far as I can tell,
do you have an example response that shows the data returned?  Or is `changes` just a string?

[2021-12-15 18:26] ecrupper commented on #2232
Thanks for the response! Here is an example payload for a repository being renamed: https://github.com/go-vela/server/blob/feat/handle-rename-repo/scm/github/testdata/hooks/repository_rename.json. It's very similar to the example payload in the documentation, apart from that `changes` block at the top.

[2021-12-16 17:49] #2232 closed

[2021-12-16 17:53] #2225 closed

[2021-12-16 19:43] pierce-m opened #2234 "Incorrect type in HookDelivery"
[Here](https://github.com/google/go-github/blob/1d9884e7ac8ca3c6d3d469af28af227fc773a246/github/repos_hooks_deliveries.go#L29) the `HookDelivery` defines the `InstallationID` as type `string`, but from the [documentation](https://docs.github.com/en/rest/reference/webhooks#list-deliveries-for-a-repository-webhook) it seems like a number. When testing I receive the error string

[code]

Is this a po

[2021-12-16 20:24] gmlewis commented on #2234
Yes, would you like to create a PR?
Thank you, @pierce-m !

[2021-12-16 20:27] pierce-m commented on #2234
Sure I'm happy to. Thanks!

[2021-12-16 20:29] gmlewis commented on #2234
Awesome... thanks again!  It is yours. :smile:

[2021-12-21 16:49] rojanDinc commented on #2231
Hi I can help out.

[2021-12-21 18:04] gmlewis commented on #2231
Great, thank you, @rojanDinc !  It's yours.

[2021-12-23 02:33] #2213 closed

[2021-12-23 08:12] tohjustin opened #2237 "Add new fields to WorkflowRun"
The following new fields can be found in the `WorkflowRun` object when querying the `/repos/{owner}/{repo}/actions/runs` & `/repos/{owner}/{repo}/actions/runs/{run_id}` endpoints:
- `previous_attempt_url`
- `run_attempt`
- `run_started_at`

They aren't shown in the example responses found in their [API docs](https://docs.github.com/en/rest/reference/actions#list-workflow-runs-for-a-repository) yet

[2021-12-24 00:32] #2237 closed

[2021-12-24 13:57] kurious-diru opened #2241 "ListPullRequestsWithCommit doesn't seem to return open/close PRs associated with a commit"
I recently used ListPullRequestsWithCommit to get PRs associated with commit, but it looks like only merged PRs are returned by the github api?

Few links testing the api call in commits in this repo

[Working](https://api.github.com/repos/google/go-github/commits/4d7a0b52fad3c7a9a39a336d62c54b7daa74e3fd/pulls) on Merged PR: https://github.com/google/go-github/pull/2238

[Not working](https://api.

[2021-12-24 14:23] kurious-diru commented on #2241
this only works with open PRs from different branches in the same repo, not from forks I think

[2021-12-24 15:23] #2241 closed

[2021-12-28 12:39] caarlos0 commented on #2113
FWIW this happens occasionally for some goreleaser users as well (using v39).

 https://github.com/goreleaser/goreleaser/issues/2746

[2022-01-02 02:49] #2231 closed

[2022-01-03 18:04] #2234 closed

[2022-01-03 18:07] #2221 closed

[2022-01-10 07:44] ParthaI opened #2245 "Getting `Repository` property as null for `client.Search.Issues` api"
Hi Team,
We observed that while making an api call for search issues(client.Search.Issues), we are getting all the properties, except `Repository` property (always we are getting as null).
We are using  [github.com/google/go-github/v33/github](https://pkg.go.dev/github.com/google/go-github/v33@v33.0.0/github) this package for making the api call.

Can you please have a look? Thanks!

[2022-01-10 13:08] gmlewis commented on #2245
That's expected behavior.  Please check out the official GitHub v3 API documentation:
https://docs.github.com/en/rest/reference/search#search-issues-and-pull-requests
and notice that in their example, no "repository" object is returned.
You can see the other fields that are returned, for example `repository_url`.

Note that there are many cases in this repo where Go structs have fields that are no

[2022-01-10 15:08] ParthaI commented on #2245
Thanks @gmlewis For you quick response.

[2022-01-10 19:19] liath opened #2246 "Request: Support for dependabot repository secrets"
Dependabot has a separate set of secrets that are managed under a slightly different path: `https://api.github.com/repos/<org>/<repo>/dependabot/secrets` vs `https://api.github.com/repos/<org>/<repo>/actions/secrets`. As far as I can tell, calls are identical to what you would expect for the normal repo secrets API. This API is undocumented, but I think there's a lot of value in adding support for

[2022-01-10 19:27] gmlewis commented on #2246
Sounds useful. Do you want to submit a PR, @liath , or do you want me to open this up to our contributors?

[2022-01-10 21:31] peimanja opened #2247 "Support selected_repository_ids in actions_secrets"
Github announced [Share secrets across multiple repos ](https://github.blog/2020-05-22-keep-your-secrets-synced-across-multiple-repositories-with-organization-secrets/)

Looks like API now accepts `selected_repository_ids` parameter. Reference [here](https://docs.github.com/en/rest/reference/actions#create-or-update-an-organization-secret--parameters).

So the `github_actions_secret` resource will

[2022-01-10 21:36] peimanja commented on #2247
Looks like it's already supported [here](https://github.com/google/go-github/blob/6e66a89c7618957e0f95f82d94bfbe3164fd21dc/github/actions_secrets.go#L174) ignore this please

[2022-01-10 21:36] #2247 closed

[2022-01-11 01:41] liath commented on #2246
I submitted a PR for it :)

[2022-01-11 08:51] jurre commented on #2246
fwiw the documentation lives here: https://docs.github.com/en/rest/reference/dependabot

[2022-01-11 16:39] pierce-m opened #2249 "Release Request"
Hello -- sorry if this is the wrong place for this. Is it possible to create a release? Would like to use some of the new features getting merged.

[2022-01-11 16:42] gmlewis commented on #2249
Yes, I can work on that later today after work.

[2022-01-11 17:09] pierce-m commented on #2249
Thank you!

[2022-01-11 19:33] liath commented on #2246
Because I'm a petty creature I would like to state for the record that the docs were posted after I filed this issue :P
[dependabot/dependabot-core#3297 (comment)
](https://github.com/dependabot/dependabot-core/issues/3297#issuecomment-1009308206)

[2022-01-11 20:02] gmlewis commented on #2246
Totally fine!!!  Thank you, @liath !  :smile:

[2022-01-12 03:39] lpmatos opened #2251 "Cannot retrive all package versions owned by the authenticated use"
# Problem

In the current implementation we cannot retrieve all versions of a package for a `user` using the function `PackageGetAllVersions` present in the `users_packages.go` file.

The `PackageGetAllVersions` function has no parameters to allow pagination and retrieve all versions of a package, being limited to a return of 30 elements `[]*PackageVersion`, which is the default value of the [GitH

[2022-01-12 03:43] gmlewis commented on #2251
Thank you, @lpmatos for the detailed report and PR!

[2022-01-12 03:49] gmlewis commented on #2249
We have one more breaking change coming in shortly (#2250) and I'd like to minimize the number of major version bumps, so if you don't mind, I'll wait for that one to go in before a release.

[2022-01-12 14:44] #2251 closed

[2022-01-12 16:09] rafiqkattangere opened #2252 "support for github deploy keys"
Is there any example to use GitHub deploy keys as authentication for go-github pkg?
I haven’t found any http.client which support ssh-keys or deploy keys either to use as alternative.
The only choice I am left with is to move to go-git.
Appreciate the help.

[2022-01-13 03:15] gmlewis commented on #2252
I believe the answer is "no".
Check this out: https://stackoverflow.com/questions/69227780/how-can-i-use-deploy-key-for-authentication-to-use-github-api

[2022-01-13 03:17] #2246 closed

[2022-01-13 03:41] gmlewis commented on #2249
@pierce-m - please check out the latest release: https://github.com/google/go-github/releases/tag/v42.0.0

[2022-01-13 03:41] #2249 closed

[2022-01-13 15:34] diogopms opened #2255 "Include the field `allow_forking` for the repository resource"
API reference:
https://docs.github.com/en/rest/reference/repos#:~:text=Default%3A%20false-,allow_forking,-boolean

[2022-01-13 16:00] #2255 closed

[2022-01-13 16:01] gmlewis commented on #2255
Thank you, @diogopms for the report!  This has now been fixed.

[2022-01-16 22:25] chelnak opened #2257 "Support pagination for ListEnvironments"
Hey,

Would you consider supporting pagination for the ListEnvironments method? I appreciate that it is probably an edge case request but it would be nice to be able to pass in opts to the request for pagination in the instance where you have a lot of environments.

`func (s *RepositoriesService) ListEnvironments(ctx context.Context, owner, repo string, opts *ListOptions)`

[2022-01-17 03:40] gmlewis commented on #2257
As far as I can tell, the GitHub v3 API does not support pagination for this endpoint:
https://docs.github.com/en/rest/reference/repos#get-all-environments

therefore it would be of no use to add pagination support to this Go client library.

You may wish to contact GitHub tech support to make your request. Once the official endpoint supports pagination then we can surely add support for it in thi

[2022-01-17 09:11] chelnak commented on #2257
Interesting, I hadn't noticed the absence of pagination from that document. I was going from the response headers.

Here are the response headers where the request was set to 2 environments per page:

[code]

[2022-01-17 12:00] gmlewis commented on #2257
Ah!  OK then... that's a completely different story.  :smile:
Thank you for the extra details.

Yes, we can support them.  Could you please contact GitHub support and ask them to update their documentation?

Meanwhile, would you like to create a PR or would you like me to open up this issue for one of our other contributors to implement this?

[2022-01-17 12:30] chelnak commented on #2257
Excellent!

I'll take a shot at a PR if that's ok?

Will also open a support request today 👍

[2022-01-17 12:41] gmlewis commented on #2257
Yes, perfect. It is yours. 😁

[2022-01-17 15:04] chelnak commented on #2257
@gmlewis First PR attempt has just been pushed. 😄

[2022-01-18 07:20] shadowshot-x commented on #113
If you are looking to override the external calls, try using this.  :-

For external calls, try to use a variable func and assign the external call. Example :-

[code]

Call this function in your main methods where you need it. In your tests, simply override it.
[code]

[2022-01-21 17:25] gauntface opened #2260 "Use https://staticcheck.io/"
I just updated the internal (Google) version of go-github and one of the existing tools flagged some issues that seem reasonable to flag on GitHub.

The tool is staticcheck: https://staticcheck.io/

They look like they have a CLI and GitHub Actions.

Example of the errors it found, on [actions_artifacts.go Line 121](https://github.com/google/go-github/blob/master/github/actions_artifacts.go#L121)

[2022-01-21 17:59] gmlewis commented on #2260
Cool find, @gauntface !  Can you create a PR to incorporate it into the GitHub action workflow in this repo?

[2022-01-21 18:19] gmlewis commented on #2260
Curiously, it looks like `staticcheck` might not work yet with Go 1.18 beta:

[code]

[2022-01-21 18:39] gmlewis commented on #2260
This looks pretty trivial: https://staticcheck.io/docs/running-staticcheck/github-actions/
I can put together a PR after I clean up the violations if there are no objections.

[2022-01-21 18:41] willnorris commented on #2260
We [already run](https://github.com/google/go-github/blob/master/.github/workflows/linter.yml) golangci-lint.  We can just enable staticcheck [there](https://github.com/google/go-github/blob/master/.golangci.yml) (https://golangci-lint.run/usage/linters/)

[2022-01-21 18:44] willnorris commented on #2260
apparently we explicitly disable staticcheck in https://github.com/google/go-github/blob/master/.golangci.yml, probably because it was failing at the time.  What I will typically do with golangci-lint is check in the initial config with failing checks disabled, then do follow-up commits that fix the failures and re-enable the check.  We just never did that follow-up here I guess.

[2022-01-21 18:48] pkwarren opened #2261 "Support additional GitHub pages update parameters"
The https://pkg.go.dev/github.com/google/go-github/v41/github#RepositoriesService.UpdatePages API only currently supports updating the CNAME and source properties: https://github.com/google/go-github/blob/178169fc04bc4a05ca48f98709cdd02ab5b556e3/github/repos_pages.go#L90-L98

There are additional parameters which would be useful for consumers (i.e. terraform provider) to be able to update (see htt

[2022-01-21 19:45] kylekurz opened #2262 "Documentation of CreateWorkflowDispatchEventByID Doesn't Match GitHub REST API Docs"
In `actions_workflows.go`, the [`CreateWorkflowDispatchEventRequest`](https://github.com/google/go-github/blob/master/github/actions_workflows.go#L51-L54) type lists the following documentation of the `Ref` argument:

[code]

However, [GitHub's REST API](https://docs.github.com/en/rest/reference/actions#create-a-workflow-dispatch-event) restricts that ref to just a branch or tag name. We initially

[2022-01-21 19:48] gauntface commented on #2260
I'll take a stab at cleaning and enabling it later today if no one is working on it.

[2022-01-21 20:10] gmlewis commented on #2261
Thank you, @pkwarren !

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md](https://github.com/google/go-github/blob/master/CONTRIBUTING.md) guide to get sta

[2022-01-21 20:12] gmlewis commented on #2262
Thank you, @kylekurz !  So it sounds like the comment needs to be updated to match the official docs.

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md](ht

[2022-01-21 20:16] kylekurz commented on #2262
Thanks @gmlewis, happy to throw a PR at you for just editing that comment to match GitHub's docs. I'll tackle that this afternoon.

[2022-01-21 20:47] #2262 closed

[2022-01-22 00:05] devinburnette opened #2265 "missing InstallationRepositoriesEvents accessors"
I have a github app that subscribes to certain webhook events. The `installation_repositories` event has the following fields in the event types stuct:
[code]
However, it appears that there are no accessors for accessing RepositoriesAdded and RepositoriesRemoved. I'm going to make an attempt at adding them in a subsequent PR, if that's okay. Thanks!

[2022-01-22 00:12] gmlewis commented on #2265
Actually, @devinburnette, all accessors are auto-generated, so a PR will not work.

Since these fields are slices, there is no need for accessors, as you can use them directly.

Accessors are handy when something might be `nil` and you want to return the zero-value of the field whether it is `nil` or not.
Slices already have a zero value of `nil` and therefore don't need an accessor.

I hope this

[2022-01-22 00:32] #2265 closed

[2022-01-22 00:34] #2261 closed

[2022-01-27 20:18] k24dizzle opened #2274 "[Feature Request] Add checks field to RequiredStatusChecks"
According to the [Github API](https://docs.github.com/en/rest/reference/branches#update-branch-protection), there is a new `checks` field that is supposed to replace the `contexts` field when setting required status checks.
<img width="798" alt="Screen Shot 2022-01-27 at 12 16 01 PM" src="https://user-images.githubusercontent.com/15153943/151436727-3034f3bd-4f1d-453f-90f4-c5c9c430e2b2.png">

Note:

[2022-01-27 21:28] gmlewis commented on #2274
Thank you, @k24dizzle !  Would you like to make a PR, or shall I open this up to other contributors to this repo?

[2022-01-27 21:41] k24dizzle commented on #2274
Hi @gmlewis, new to contributing to this repo but I can give it a shot

[2022-01-27 22:26] gmlewis commented on #2274
Excellent, @k24dizzle !
Please make sure to check out our CONTRIBUTING.md file for how to get started.

[2022-01-27 23:43] k24dizzle commented on #2274
I did some more research, with some CURLs and realized that in `required_status_checks` you must supply either `contexts` or `checks`, but you cannot supply both at the same time:

[code]

So the [documentation given by github](https://docs.github.com/en/rest/reference/branches#update-branch-protection) is a little misleading:

<img width="790" alt="Screen Shot 2022-01-27 at 3 34 29 PM" src="https

[2022-01-27 23:48] gmlewis commented on #2274
If both fields are slices with `omitempty`, then you could set one or the other to `nil` and they should not be passed to the endpoint (which you can confirm with a unit test).

[2022-01-28 02:46] alkrauss48 commented on #1049
If anyone ends up here simply because of the title, I'll add that for me I was building a Go application via a builder image into a final image, just like the Dockerfile in this ticket, but the change that I had to make wasn't the ca-certificate installation command, but to just change my final image from `scratch` to `alpine`. That did add about 6MB to my final image, but I can live with that. Af

[2022-01-28 02:51] gmlewis commented on #1049
I still use `from scratch` like is recommended here: https://dev.to/ivan/go-build-a-minimal-docker-image-in-just-three-steps-514i
but then to solve the certificates problem, I add this COPY command from the builder:

[code]

I hope that helps.

[2022-01-28 14:59] ujala-singh opened #2275 "Cant find package from $GOROOT and $GOPATH"
I am building a docker Image via github CI, while getting the packages, facing some issues. I am using golang 1.15.
[code]

[2022-01-29 00:16] gmlewis commented on #2275
I'm not sure why the command isn't just:

[code]

but I don't think there is enough info here to help you debug the problem.
Maybe if you post the full Dockerfile, someone can help you debug it.

[2022-01-29 11:20] ujala-singh commented on #2275
@gmlewis This is the Dockerfile, I am using to build a Docker Image:
[code]
And it's failing only at the last step:
[code]

[2022-01-29 14:38] ujala-singh commented on #2275
I found it working with ```1.16-alpine```. Does this mean 1.15 doesn't have this package?? :thinking:

[2022-01-31 00:26] gmlewis commented on #2275
Glad you got it working.  I'm not actually sure what that means, sorry.

[2022-01-31 00:26] #2275 closed

[2022-01-31 00:43] #2274 closed

[2022-02-01 18:28] IainSteers opened #2277 "Support "secret_scanning_alert" webhooks and event payloads"
Secret scanning has been GA since April 2021 (https://github.blog/changelog/2021-04-01-secret-scanning-for-private-repositories-is-generally-available/) for Advanced Security and since 3.1 in Enterprise.

The webhook payload is documented here
https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-payloads#secret_scanning_alert

[2022-02-01 19:06] gmlewis commented on #2277
Thank you, @IainSteers !
Would you like to put together a PR, or would you like me to open this up to other contributors of this repo to address?

[2022-02-01 19:16] IainSteers commented on #2277
Hey @gmlewis,

Thanks, I'd like to take a run at it please, it'll be a couple of days before I can free up to do it though. Should have something by Friday!

[2022-02-01 19:22] gmlewis commented on #2277
No rush, @IainSteers ... sounds great... thank you!  It is yours.

[2022-02-02 14:04] crqra opened #2278 "Support Secret Scanning endpoints"
Add support to retrieve and update secret scanning alerts for an enterprise, organization or repository ([Secret Scanning API reference](https://docs.github.com/en/rest/reference/secret-scanning#list-secret-scanning-alerts-for-a-repository)).

This is useful to automate tasks around security analysis and reporting.

[2022-02-02 14:04] crqra commented on #2278
I can pick this up, if no one is working on it already.

[2022-02-03 14:59] gmlewis commented on #2278
Thank you, @crqra !
It is yours.

[2022-02-03 15:32] IainSteers opened #2279 "Update DeployKeyEvent to include repo/org objects"
For a while now it looks like the DeployKeyEvent has also sent along the repo and org objects related to the key https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-payloads#deploy_key

[2022-02-03 15:33] IainSteers commented on #2279
I can take this on unless someone-else wants it

[2022-02-03 16:56] #2279 closed

[2022-02-03 20:50] #2257 closed

[2022-02-04 16:02] #2278 closed

[2022-02-08 12:28] raynigon opened #2283 "GitHub Actions Billing returns total_paid_minutes_used as float64"
GitHub returns the `total_paid_minutes_used` value as float64 in the `/orgs/{org}/settings/billing/actions` endpoint.
Currently an Int is expected.

## Example
[code]
[code]

[2022-02-09 13:10] #2283 closed

[2022-02-11 00:57] mkl-o opened #2285 "Not possible to specify empty commit message"
In `Merge()` of `pulls.go`, if user supplies an empty `commitMessage` parameter when calling `Merge()`, the function will not include the `commit_message` field in the REST API call parameter. Github automatically uses the default squashed commit message. There is no way for user to specify a true empty commit message.

https://github.com/google/go-github/blob/2be8000e79e36b1ae7df87194566694b3783c

[2022-02-11 01:24] #2285 closed

[2022-02-11 01:25] mkl-o commented on #2285
use DontDefaultIfBlank

[2022-02-11 17:32] leopoldwang opened #2286 "RequireCodeOwnerReviews cannot be set to false when updating"
RequireCodeOwnerReviews field does not use pointer type causing json encode to omit the field. Request was then rejected by github rest api

https://github.com/google/go-github/blob/2be8000e79e36b1ae7df87194566694b3783cd92/github/repos.go#L948

[2022-02-11 18:21] gmlewis commented on #2286
Thank you, @leopoldwang !
Would you like to create a PR to fix this issue, or shall I open this up to anyone to create a PR?

[2022-02-11 20:46] reeves122 opened #2287 "Add support for getting a workflow run attempt"
I would like to add support for getting a workflow run by specifying the attempt number. From this doc:
https://docs.github.com/en/rest/reference/actions#get-a-workflow-run-attempt

I would like to ask about the naming convention for the method. I was considering either `GetWorkflowRunByAttempt` or `GetWorkflowRunByIDByAttempt`. Could someone please help me with the appropriate name?

This is my i

[2022-02-12 13:30] gmemstr commented on #2033
I think it varies based on whether there's a GitHub repository associated with the package. Annoyingly I'm having trouble finding if/where this is documented.

[2022-02-14 11:42] #2286 closed

[2022-02-14 12:41] #2277 closed

[2022-02-14 19:30] #2287 closed

[2022-02-15 03:50] aaomidi commented on #1935
FWIW I think this would be a nice addition. It might even get easier to do this with Generics. Although, with Generics it'd also be pretty easy for the user of this library to just implement it too \o/

[2022-02-15 11:45] gmlewis commented on #1935
True, and as much as [I love generics](https://github.com/gmlewis/advent-of-code-2021), I doubt this repo will be using them any time soon since we have so many legacy systems using it. But I could also be wrong.

[2022-02-15 20:41] ewan-chalmers opened #2291 "Cannot auto_init a repo created from template"
Having used `Repositories.CreateFromTemplate`, I cannot then successfully use  `Repositories.Edit`. It gives error
[code]

Is this a bug with the github API rather than a limitation of this lib?

[2022-02-15 20:49] gmlewis commented on #2291
Interesting!  It sounds like the repo needs some content first.  Does your template provide content to the repo?
If so, have you tried adding in a delay before performing the edit?

In the past, I was doing some creation operations using the GitHub v3 API and I remember having to insert a loop (with exponential backoff) with an intervening "Read/Verify" step repeatedly checking for the content I c

[2022-02-15 23:25] dustincrogers opened #2292 "not able to activate advanced security"
Forgive my naivety as an amateur developer, especially in go.

I am trying to use `Repositories.Edit` to update the `SecurityAndAnalysis.AdvancedSecurity.Status` to `enabled` and even though I get 200 status, I receive an empty response. The field does not update as expected.

The response body appears to not have the field available, which is probably the issue.

I am definitely able to see the s

[2022-02-16 09:52] ewan-chalmers commented on #2291
Thank you @gmlewis. Adding sleep between operations was what was needed 👍

[2022-02-16 09:52] #2291 closed

[2022-02-16 12:18] gmlewis commented on #2292
Two options:

* try the curl-only version and see if you get the same results.
* post an example snippet of your request here so we can see what you are attempting

[2022-02-16 23:21] BlackVegetable commented on #179
I'd like this! Can I re-open.

[2022-02-17 01:58] dustincrogers commented on #2292
Thanks for taking a look and for the advice! This is working fine to enable/disable github advanced security with curl, so I am not getting the same results. Probably just something with my code then.

Here is my snippet, please excuse the fact that its messy still:
[code]

[2022-02-17 02:32] gmlewis commented on #2292
One thing I just mentioned here: https://github.com/google/go-github/issues/2291#issuecomment-1040778417
is that you have to be super-careful when modifying something in GitHub with the v3 API and then immediately checking its value, as the results in GitHub's servers are "eventually consistent" and not "immediately consistent".

Please try checking the value with an exponential backoff on the GET

[2022-02-17 03:48] dustincrogers commented on #2292
Absolutely it helps. I am grateful. However it is not enabling via API as one would expect, and I am manually confirming that fact in the UI.

Thank you. I believe you about the propagation latency and will keep this in mind.

If I manually enable Advanced Security, and similarly try to use the API to set secret scanning to `enabled`, it is also not enabling. ie. `repo.SecurityAndAnalysis.SecretSc

[2022-02-17 11:54] gmlewis commented on #2292
Thank you for ruling out the delayed-propagation scenario.

Later today I will attempt to recreate the problem and let you know what I discover.  But the bottom line is that if you were able to make things work using `curl`, then this repo's method should also work... so let's get to the bottom of this and fix it. 😊

[2022-02-17 17:38] dustincrogers commented on #2292
@gmlewis Thats great replication. I actually get the same results, but when i manually confirm the actual field is not being  updated.  I apologize if Im insulting your intelligence, but are you manually verifying?
[code]
![Screen Shot 2022-02-17 at 9 31 00 AM](https://user-images.githubusercontent.com/42478126/154537798-e27645c5-6b81-44a1-80bd-dc0a300ae9f0.png)

[2022-02-17 17:54] gmlewis commented on #2292
@dustincrogers - I actually couldn't find it.  Where are you seeing this setting?
Here's what I see:

![ksnip_20220217-125301](https://user-images.githubusercontent.com/6598971/154541528-46495993-ce11-4063-acb1-168946a7792f.png)

[2022-02-17 17:55] gmlewis commented on #2292
So if this is what you see with this endpoint, what do you see using `curl`?  Does it still say "enabled"?

[2022-02-17 18:09] gmlewis commented on #2292
Ah, thanks!  I'll try again on a private repo, and report back to you here.

[2022-02-17 19:55] gmlewis commented on #2292
In cases like these, I sometimes just dump the JSON that is being sent over the wire and compare it to `curl`... I'll try that later, but I think something else might be going on here... but I don't know what.

[2022-02-18 13:43] gmlewis opened #2296 "`golangci-lint run` fails when using Go 1.18rc1"
Note that if you are trying out [Go 1.18rc1](https://groups.google.com/g/golang-announce/c/QHL1fTc352o/m/5sE6moURBwAJ),
`golangci-lint run` will report a bunch of (incorrect) errors.

Related issues:
* https://github.com/golangci/golangci-lint/issues/2414
* https://github.com/go-critic/go-critic/issues/1157

We'll keep this issue open until the downstream problems are resolved for informative purp

[2022-02-18 17:15] gmlewis commented on #2292
I found an org-owned repo, and still get an error:

[code]

So at this point, I'm rather stumped.  As far as I can tell, the problem is not with this repo.  Please let me know if you find otherwise.

[2022-02-18 17:51] gmlewis commented on #2292
OK, this looks _MUCH_ better... please try this out:

[code]

and here's what I see:

[code]

Note that the actual equivalent `curl` command looks much more reasonable.

[2022-02-18 19:39] dustincrogers commented on #2292
It works!
I had a feeling it was something like that. I was trying to create a smaller body object with just those fields and couldnt figure that out. Thank you so much!

[2022-02-18 21:15] gmlewis commented on #2292
I think this might be encouragement to continue the pursuit of #2295 . Feel free to comment over there if you agree or disagree. Thank you!

[2022-02-18 21:15] #2292 closed

[2022-02-22 01:31] cfarrend opened #2297 "Support for setting actions permissions for a repository"
Currently in [`action_runners.go`](https://github.com/google/go-github/blob/master/github/actions_runners.go), there is support for getting and setting actions permissions on the **organization** level but not on the **repository** level.

Endpoints to add:
https://docs.github.com/en/rest/reference/actions#get-github-actions-permissions-for-a-repository
https://docs.github.com/en/rest/reference/ac

[2022-02-22 01:34] gmlewis commented on #2297
Thank you, @cfarrend - it looks like you are right.
Yes, that would be great!  Please check out the CONTRIBUTING.md guide for tips on making PRs for this repo.
You will particularly want to know about `go generate ./...` and try not to use force-push since we squash as many commits as you have all into one upon merge.

[2022-02-22 09:45] raynigon opened #2298 "Release Request"
Is it possible to create a release?
Would like to use some of the new features getting merged.
I suggest to wait for the following open PR:
- https://github.com/google/go-github/pull/2295

[2022-02-22 12:53] Integralist opened #2299 "Tree doesn't contain any file entries"
👋🏻

I'm trying to list out the files in [a repo](https://github.com/fastly/cli) but I'm getting back an empty list when I expect a bunch of files to be listed. Can anyone advise on what I'm doing wrong?

Thanks.

[code]

[2022-02-22 16:18] brackendawson opened #2300 "Preview API Headers removed too soon from check API."
Having updated from v32 to v42 the checks API is now failing on our Github Enterprise instance. It looks like #1636 removed the headers. #2188 suggests we now know this shouldn't be done. Can we get those headers back?

[2022-02-22 17:58] #2300 closed

[2022-02-23 17:28] Integralist commented on #2299
Thanks @gmlewis

So it looks like what I needed was the 'contents' endpoint of the repository API:

https://docs.github.com/en/rest/reference/repos#get-repository-content

[code]

Which equates to:

[code]

Apologies for wasting your time. I should have checked using curl first.

Thanks for the guidance!

[2022-02-23 17:28] #2299 closed

[2022-02-23 18:54] gmlewis commented on #2299
No apology necessary!  That's what I'm here for.  :smile:
I'm glad you found the solution, and thank you very much for reporting back... it is greatly appreciated!

[2022-03-01 12:42] ewan-chalmers commented on #2298
Likewise. I'm hoping to see this one appear in v43 :)
- https://github.com/google/go-github/issues/2255

[2022-03-01 15:19] ecrupper opened #2304 "Support redelivering a repository webhook"
I noticed that go-github supports redelivering [app](https://github.com/google/go-github/blob/20656f669c531eabb092a4412486be20937c36e3/github/apps_hooks_deliveries.go#L58) and [org](https://github.com/google/go-github/blob/20656f669c531eabb092a4412486be20937c36e3/github/orgs_hooks_deliveries.go#L59) webhooks.

I would like to see support for redelivering repository webhooks: https://docs.github.co

[2022-03-01 16:24] gmlewis commented on #2304
Thank you, @ecrupper - would you like to create a PR, or would you like me to open this up to other contributors?
If you choose to write a PR, please check out our CONTRIBUTING.md guide for helpful information.

[2022-03-01 16:32] gmlewis commented on #2298
If anyone has opinions on #2295 vs #2302, please voice them (on their respective pages) in the hopes that more interest will move one or the other along. Thank you!

[2022-03-01 17:16] ecrupper commented on #2304
Yep — just opened one! Thanks!

[2022-03-01 21:41] uptycs-rmack commented on #2298
+1 Would like to see the SecretScanning stuff in a release.

[2022-03-01 21:47] uptycs-rmack opened #2306 "Please add security_advisory and code_scanning_alert event types"
These two event types would be very useful to be able to receive through the webhook API.

https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-payloads#security_advisory

https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-payloads#code_scanning_alert

Thanks, Ryan

[2022-03-02 01:55] gmlewis commented on #2298
`v43.0.0` has now been released: https://pkg.go.dev/github.com/google/go-github/v43/github
Sorry for the delay.

[2022-03-02 01:55] #2298 closed

[2022-03-02 15:46] gmlewis commented on #2306
Thanks, @uptycs-rmack - no need to muddle through... we have lots of eager contributors to this repo who are happy to help out.  I'll open it up.

[2022-03-02 15:47] gmlewis commented on #2306
This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md](https://github.com/google/go-github/blob/master/CONTRIBUTING.md) guide to get started. (In particular, pl

[2022-03-02 16:04] ewan-chalmers opened #2309 "repository.AllowForking does not work in context of Repositories.Edit"
I am creating a repo from template, then updating it with Edit:

[code]

The `HasWiki`, `HasIssues`, `HasProjects` and `DeleteBranchOnMerge` properties work as expected.

`AllowForking` has no effect. The repo in github always has AllowForking enabled, regardless of boolean value passed.

(Trying new feature introduced in v43.)

[2022-03-02 16:54] gmlewis commented on #2306
Thank you, @sourikghosh ! It's yours.

[2022-03-02 17:35] gmlewis commented on #2309
I recently discovered that it is not safe to send the fully-populated repo struct to this endpoint, and your issue confirms my suspicion.
Please see #2292 for details.

I highly recommend starting with a fresh (empty) `&github.Repository{}` struct as in [this example](https://github.com/google/go-github/issues/2292#issuecomment-1044915787) and just fill in the fields you want to modify, then make

[2022-03-02 19:28] ewan-chalmers commented on #2309
Using fresh Repository did not work
[code]

I enabled curl debug 👍 :)

[code]

[code]

So `"delete_branch_on_merge": true,` remains even with curl.

[2022-03-02 19:34] gmlewis commented on #2309
Did you try this?

[code]

[2022-03-02 19:36] ewan-chalmers commented on #2309
Thanks @gmlewis for your help

I can leave the code as-is, ready to work whenever enterprise github version is updated

[2022-03-02 19:36] #2309 closed

[2022-03-03 18:19] #2304 closed

[2022-03-03 21:05] beanaroo commented on #1935
I'm enjoying this library but also find myself wrapping all list operations in duplicate functions for pagination. I'm sure generics will help me reduce those.

Coming from the [Python GitLab library](https://python-gitlab.readthedocs.io/en/stable/api-usage.html#pagination), having pagination taken care of was really convenient:
`projects = gl.projects.list(all=True)`.

Doing pagination myself is

[2022-03-04 16:01] #2306 closed

[2022-03-04 18:55] uptycs-rmack commented on #2306
Thank you @gmlewis  and @sourikghosh!

[2022-03-05 19:40] MarkRosemaker opened #2312 "Add AllowUpdateBranch to the Repository definition"
I noticed that I can edit all the settings for a repository via the API except the setting:

After some searching, if found that even though it's not documented yet, there is an `allow_update_branch` field in the REST Repo API. (h/t to @pmjacinto for [the suggestion](https://github.com/integrations/terraform-provider-github/issues/1072#issuecomment-1054054031).)

 I verified this by adding the fie

[2022-03-08 20:34] VladSavitsky commented on #1382
I have the same issue with private repo. Problem was a missing token in request header.

[2022-03-15 14:19] #2312 closed

[2022-03-16 14:00] gmlewis commented on #2297
I apologize, @cfarrend , as we normally discuss change-of-ownership for open issues before actually switching owners, and I'm sorry if you have already invested time and effort into this issue.

However, @h2floh has submitted a PR for this open issue.  Once @h2floh signs the CLA, I will switch ownership of this issue from you to @h2floh unless you object (in which case we can discuss the situation

[2022-03-16 14:02] cfarrend commented on #2297
@gmlewis No issues from my side 🙂

[2022-03-17 01:43] h2floh commented on #2297
👋  Again my apologies!

@gmlewis, I internally requested that I will be added on our company's contributor list, we have an existing CLA. Should be done within a few days.

[2022-03-17 01:47] gmlewis commented on #2297
No problem, @h2floh - please remind me in a couple days if you see that this hasn't moved forward, and I'll check again.

Thank you!

[2022-03-22 15:51] cablehead opened #2317 "golang.org/x/crypto/openpgp is deprecated"
golang.org/x/crypto/openpgp is currently used to as an optional signing key: https://github.com/google/go-github/blob/master/github/git_commits.go#L27-L50

However this package is now deprecated: https://github.com/golang/go/issues/44226

[2022-03-24 16:12] yuseferi opened #2319 "how to add AddCollaborator by email address?"
I'm looking for a way to add collaborators by email address.

I checked  `AddCollaborator` only support username,
[code]

is there any method to get username by email address or add AddCollaborator by email addrress?

Thanks,

[2022-03-24 19:28] yuseferi commented on #2319
thank you @gmlewis !
it's for adding collaborator,

is there any other api to get username based on the useremail?

[2022-03-24 19:30] gmlewis commented on #2319
Not that I know of.  You probably will want to contact GitHub Tech Support to get an answer to this question.
Feel free to report back here what you find out from them.

[2022-03-25 02:32] #2297 closed

[2022-03-25 22:56] #303 closed

[2022-03-28 08:06] taisph opened #2324 "Webhook event type `pull_request_review_thread` missing"
It seems like GitHub is sending the webhook event type `pull_request_review_thread` when someone resolves a comment in a PR.

Webhook event schema can be seen here: https://github.com/octokit/webhooks/blob/d93eebf4c48dc3c36f9c7ceffab356fa444bf9fc/payload-schemas/api.github.com/pull_request_review_thread/resolved.schema.json

The event doesn't seem to be documented in [Webhook events and payload](h

[2022-03-28 11:52] gmlewis commented on #2324
Thank you, @taisph !
Could you please ask GitHub tech support to document this webhook event type?

[2022-03-28 13:34] taisph commented on #2324
GitHub Support have created an internal issue to get the documentation updated.

[2022-03-28 13:45] gmlewis commented on #2324
Excellent, thank you, @taisph !
Do you want to make a PR for this, or shall I open it up for other contributors?

[2022-03-28 18:35] taisph commented on #2324
I'll give it a shot.

[2022-03-29 22:44] jeffotoni opened #2325 "Doubt how to do a $ git pull"
What would be the logic using API to make the command:
$ git pull origin master

[2022-03-30 01:11] gmlewis commented on #2325
This repo is a Go client library for the [GitHub v3 API](https://docs.github.com/en/rest), not for `git` itself.

Maybe you are looking for this instead: https://github.com/go-git/go-git

[2022-03-30 01:11] #2325 closed

[2022-04-03 16:45] #2324 closed

[2022-04-05 13:15] cpanato commented on #2113
having the same issue when using goreleaser

[2022-04-07 16:24] btsteve opened #2327 "Need a way to list custom roles for organizations"
It would be great to have a way to list custom roles create in an organization.

[2022-04-07 16:48] gmlewis commented on #2327
Can the GitHub v3 API do that?
If so, this repo (which is a Go client for the GitHub v3 API) should be able to.

Are you talking about this?
https://docs.github.com/en/rest/reference/orgs#custom-repository-roles

If so, yes.  Would you like to submit a PR, or would you like me to open this issue up to any of our contributors to work on?

[2022-04-07 17:26] btsteve commented on #2327
Yes that is what i am talking about. I don't think i know enough go to add it.

[2022-04-07 17:30] gmlewis commented on #2327
No problem, thank you, @btsteve , for the report.

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md](https://github.com/google/go-github/blob/master/CONTRI

[2022-04-08 16:20] tamboliasir1 commented on #2327
Hi @gmlewis I'm new contributor. Can you give me little bit of insights like from where can I start and what should I know to get it right. Thanks.

[2022-04-08 16:33] gmlewis commented on #2327
Hi @tamboliasir1 , and welcome to this repo. :smile:

We try as much as possible to make this repo welcoming to new contributors, and as such, we have attempted to document valuable information in our [CONTRIBUTING.md](https://github.com/google/go-github/blob/master/CONTRIBUTING.md) guide... if you feel there are any omissions or corrections needed, PRs are welcome. :smile:

As for this specific i

[2022-04-08 16:37] tamboliasir1 commented on #2327
Got it.. Thank you @gmlewis I'll would love to give it a try.. Can you please assign it to me?

[2022-04-08 16:51] gmlewis commented on #2327
Awesome, @tamboliasir1 !  It is yours.  :smile:

[2022-04-08 20:19] TingluoHuang opened #2328 "Support query parameter `visible_to_repository` in ListOrganizationRunnerGroups"
A new query parameter `visible_to_repository` is added recently base on the [API Doc](https://docs.github.com/en/rest/reference/actions#list-self-hosted-runner-groups-for-an-organization)

visible_to_repository | string | query | Only return runner groups that are allowed to be used by this repository.
-- | -- | -- | --

[2022-04-10 11:53] tamboliasir1 commented on #2327
Hi @gmlewis Please correct me if my proposed solution is wrong
1. I need to create new file `org_custom_role.go`
2. Create new endpoint `ListCustomRole`
3. Send request to `/organizations/{organization_id}/custom_roles`
4. Return roles

[2022-04-10 14:30] btsteve commented on #2327
For those of us following along at home does this look remotely close to the correct answer?

`package github

import (
	"context"
	"fmt"
)

type OrginizationCustomeRoles struct {
	TotalCount  int `json:"total_count"`
	CustomRoles []struct {
		ID   int    `json:"id"`
		Name string `json:"name"`
	} `json:"custom_roles"`
}

type CustomRolesListOptions struct {
	ListOptions
}

// List Custome Roles i

[2022-04-11 12:44] gmlewis commented on #2327
That seems like a good plan, @tamboliasir1 - the only things I would change at this point, probably, are to make the "role" plural ("roles") both in step 1 and step 2 above.

[2022-04-11 12:46] gmlewis commented on #2327
Thanks, @btsteve - that is a good start, but does have some minor issues. Let's allow @tamboliasir1 to put together a PR, and then we will do an actual code review on the PR, which is much easier than a code review on a discussion thread. :smile:

[2022-04-11 12:46] gmlewis commented on #2327
@tamboliasir1 - note that I meant to mention that unit tests need to be added for every new endpoint, following the current pattern found in the repo.

[2022-04-11 14:18] yuseferi opened #2330 "Add readme and .gitignore file in repository creation"
Hi there,
I'm using something similar to https://github.com/google/go-github/blob/master/example/newrepo/main.go
to create a new repository.
All works well, I'm looking for a way when I'm creating a new repository add a `readme.md` and `.gitignore` file to it. something like what the GitHub web interface does when you create a new repository.

if somebody has done something similar or knows how ca

[2022-04-11 15:14] yuseferi commented on #2330
@gmlewis  thanks for your attention, but does GitHub commit when it adds `.gitignore` and `README.md` file when it generates a new project?

[2022-04-11 15:32] gmlewis commented on #2330
You could also investigate using a repo template: https://docs.github.com/en/github-ae@latest/repositories/creating-and-managing-repositories/creating-a-repository-from-a-template
But I have not done this myself, so all of this is speculation at this point.  Maybe someone else has done this and they can comment.

[2022-04-11 15:51] yuseferi commented on #2330
@gmlewis  thanks for the quick reply.
no, I don't want to the template solution.
I'm wondering why this Github repository could do commit what is the benefit to use `https://github.com/go-git/go-git ` ?
section question:  does it support access to a private repository?
I found this https://github.com/go-git/go-git/blob/8884a203d3798a9bc50f54e98582cb5758b4f5ee/_examples/clone/auth/basic/access_toke

[2022-04-11 16:06] gmlewis commented on #2330
Let me clarify a little bit.

This repo is a Go client for the [GitHub v3 Developer API](https://docs.github.com/en/rest).
As a result, this repo can only do things that the official API can do.

If you can find the functionality somewhere in those docs that I linked, then this repo should be able to do it.

However, I don't remember seeing anything in the API that will allow you to commit files t

[2022-04-11 16:27] yuseferi commented on #2330
@gmlewis yup. great explanation :)

Actually, the initial question was how can I do what these boxes do with go-github api?
because it creates a readme file in the repository creation. maybe there is an option to achieve this in the go-GitHub package?

![eCreate_a_New_Repository](https://user-images.githubusercontent.com/1736832/162786459-cbc4ab44-394b-4da4-891d-24dc800ec5d1.jpg)

[2022-04-11 16:51] gmlewis commented on #2330
Not that I'm aware of.  Please search through the (linked above) official GitHub v3 API documentation to see if it is possible, but as far as I know, it is not.  Sorry.

[2022-04-11 19:48] #2330 closed

[2022-04-11 19:53] gmlewis commented on #2330
Awesome, @yuseferi !  I'm really glad you found it, and I apologize for not knowing the answer.
Thank you, also, for reporting back so that others will hopefully be able to find this solution more easily than having to deal with me. :smile:

[2022-04-16 21:13] pathcl commented on #1382
@VladSavitsky do you have an example using go-github?

[2022-04-17 15:46] lkxed opened #2335 "Support "Sync a fork branch with the upstream repository""
API doc here: https://docs.github.com/en/rest/reference/branches#sync-a-fork-branch-with-the-upstream-repository.

[2022-04-17 18:09] gmlewis commented on #2335
Thank you, @lkxed .

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md](https://github.com/google/go-github/blob/master/CONTRIBUTING.md) guide to get starte

[2022-04-17 19:38] VladSavitsky commented on #1382
No, I don't use go-github. I'm using github API in my own scripts.

[2022-04-18 12:29] tamboliasir1 commented on #2327
Hi @gmlewis I have raised a PR for the same. Can you please review the code. Thank you for this opportunity.

[2022-04-18 13:39] lkxed commented on #2335
@gmlewis Wow, that's great. I am still learning Go and new to this project. I'd love to try adding this API. Could you assign this issue to me? Thanks for your warm welcome!

[2022-04-18 13:42] gmlewis commented on #2335
Absolutely, @lkxed ... it is yours! :smile:

[2022-04-19 13:16] gmlewis commented on #2335
Hi @lkxed , this can definitely be confusing if you are new to Go and its testing framework... I remember being confused about this very thing.

It turns out that our unit testing framework actually fires up a test http web server in-memory and starts making requests against it. It is your job to return a valid response in that test that will then be unmarshaled into a Go struct, so chances are hi

[2022-04-20 03:39] lkxed commented on #2335
@gmlewis Thanks for guidance! It makes sense to me now. It turns out I've forgotten to change the test endpoint from to my own `/repos/o/r/merge-upstream` after I copy it from others. I now pass the unit test! Do I need to do fields & integration test as well? If not, I am prepared to create a PR.

[code]

By the way, I notice two files `github-accessors.go` & `github-accessors.go` are generated,

[2022-04-20 04:27] gmlewis commented on #2335
Glad to hear it, @lkxed !

No, you don't need to do fields and integration tests.

Yes, once you run `go generate ./...` you must add the modified files to the PR in order for all the tests to pass.

[2022-04-20 04:56] lkxed commented on #2335
Hi @gmlewis , I've finally raised a PR. Could you review it some time? Thanks again for all the help!

[2022-04-20 15:34] Osipion opened #2338 "How are you supposed to access the output of ListSCIMProvisionedIdentities?"
Hi all. Thanks so much for your work on this. QQ: `ListSCIMProvisionedIdentities` appears to not return any entities and also closes the underlying HTTP response body reader. What's the expected way to read the list of identities returned by the API?

[2022-04-20 15:42] gmlewis commented on #2338
Hi @Osipion , and thank you for the report!

This is totally my fault... I let #2062 go through code review without returning a populated struct. I apologize.

This needs to be implemented... would you like to submit a PR, or shall I open this up to any other contributor to this repo?

[2022-04-21 11:08] shokada opened #2339 "Add fields to RateLimits struct"
Hi there.

Currently the `/rate_limit` response looks like this.
[code]

However, the `RateLimits` struct defines only the `core` and `search` fields.
https://github.com/google/go-github/blob/00e42332e405cdd73bc6cd45a4cc555a4cfd613e/github/github.go#L1080-L1094

Can items other than `core` and `search` be added to the `RateLimits` struct?

[2022-04-21 11:17] gmlewis commented on #2339
Thank you for the report, @shokada !
Yes, they can.

Would you like to submit a PR or would you like me to open up this issue to other contributors to this repo?

[2022-04-21 12:22] shokada commented on #2339
@gmlewis Thank you for the reply!

Yes, I will try to submit a PR.

[2022-04-21 12:43] gmlewis commented on #2339
Great! It's yours.

[2022-04-21 19:17] Osipion commented on #2338
Thanks for getting back to me. I may have a chance to look into submitting a PR this weekend but don't wait up for me

[2022-04-21 20:03] gmlewis commented on #2338
No rush, @Osipion - it is yours. Thank you!

[2022-04-22 16:52] svyotov commented on #496
MergedAt is nil for me too. I understand the performance issue, and I know others do it too, but my two cents are if it is always to be nil, what is the point in having it at all?

[2022-04-22 17:22] gmlewis commented on #496
The [request above](https://github.com/google/go-github/issues/496#issuecomment-267616043) is to have someone volunteer to contact GitHub v3 API tech support and ask them to clarify if it is always `nil`.  If so, we can remove it.

Feel free to volunteer to do this, @svyotov and report back to this issue. Once we get a response, we can take further action if it makes sense.

Thanks!

[2022-04-25 22:43] guo-chris opened #2344 "Add support for rerun failed jobs and single job for workflow run"
New endpoints to rerun all failed jobs or a single job from a workflow run
https://docs.github.com/en/rest/actions/workflow-runs#re-run-failed-jobs-from-a-workflow-run
https://docs.github.com/en/rest/actions/workflow-runs#re-run-a-job-from-a-workflow-run

I'll create the PR for this

[2022-04-25 22:50] gmlewis commented on #2344
Thank you, @guo-chris !

[2022-04-26 13:14] #2327 closed, assigned to tamboliasir1

[2022-04-26 23:58] BrettNWoods commented on #908
Hi,

I am having a similar problem. I am attempting to add reviewers to a PR that I have made using the `go-github` library. I have created a PR and am trying to add reviewers to it using a very similar method to the one described in the OP.

When I run it, I am not getting any error messages returned yet reviewers are not added to the PR.

[2022-04-27 00:45] gmlewis commented on #908
OK, can you please try interacting with the GitHub v3 API directly using `curl` and compare the results using this client library?
This tool can help out quite a bit: https://github.com/gmlewis/go-httpdebug/

If the `curl` version has the same problems, then we have a GitHub v3 API problem.
However, if you can get the `curl` version to work, but this client library still has problems, we have a bu

[2022-04-28 22:48] cbrgm opened #2347 "Is there a place to mention projects built on google/go-github?"
Hey 👋 ,

as the title says I would like to ask if there is a place to mention projects that are built on [google/go-github](https://github.com/google/go-github). For example an `ADOPTERS.md` like at [prometheus-operator/prometheus-operator](https://github.com/prometheus-operator/prometheus-operator/blob/main/ADOPTERS.md).

In the README some projects are mentioned like

* [github.com/shurcooL/gith

[2022-04-28 23:48] gmlewis commented on #2347
Cool, @cbrgm !  Happy to hear that it is useful to you!
We don't have anything like that at the moment, but I'll defer this question to @willnorris to make the final call.
(I think it might be cool to have, for the record, but there may be other considerations that need to be taken into account that I'm not aware of.)

[2022-04-28 23:49] willnorris opened #2349 "Fix golangci-lint workflow to run in submodules"
See discussion in #2348

[2022-04-29 03:23] willnorris commented on #2347
I'm fine continuing to list projects that, like githubv4 and ghinstallation, are specifically related to go-github and are likely to be useful for go-github users.  At first glance, githubevents seems to fit that description, so I'd have no problem adding it to the README somewhere.

I'm not sure that I'd want to try and maintain an adopters.md file, since at his point that list would be quite lar

[2022-04-29 08:44] cbrgm commented on #2347
Thank you @gmlewis and @willnorris  for your feedback! 👍 I understand the concerns, maybe an `Adopters.md` is not the best approach for something like this because there would probably be too many.

Is there already a place in the README where the project would fit in? I would be very happy to provide a PR. I would also have no problem donating [cbrgm/githubevents](https://github.com/cbrgm/githube

[2022-04-29 12:16] gmlewis commented on #2347
Feel free to create a new section in the README.md file in your PR where you think it is appropriate and we can discuss the details there. 😁

[2022-04-29 15:32] cbrgm commented on #2347
Will do so, thanks!

[2022-04-29 18:35] #2349 closed

[2022-04-30 18:23] #2347 closed

[2022-05-04 16:27] leonpham0 opened #2357 "Add support for re-requesting a check run"
Support the endpoint for re-requesting a check run
https://docs.github.com/en/rest/checks/runs#rerequest-a-check-run

[2022-05-04 17:00] leonpham0 commented on #2357
@gmlewis I can tackle this

[2022-05-04 18:15] nickofthyme opened #2359 "CreateInstallationToken returns 401 when authed via github app installation"
When authenticated as a GitHub app installation via [`bradleyfalzon/ghinstallation/v2`](https://github.com/bradleyfalzon/ghinstallation) as described in the [docs](https://pkg.go.dev/github.com/google/go-github@v17.0.0+incompatible/github#hdr-Authentication), seen below...

[code]

The call to `githubClient.Apps.CreateInstallationToken` fails with the error below...

[code]

[2022-05-04 20:59] gmlewis commented on #2359
It might be better to report this issue on the https://github.com/bradleyfalzon/ghinstallation repo as you are more likely to get assistance there for use of that package.

[2022-05-04 23:05] nickofthyme commented on #2359
Closing in favor of https://github.com/bradleyfalzon/ghinstallation/issues/68

[2022-05-04 23:05] #2359 closed

[2022-05-05 14:21] Jille opened #2360 "Documentation links have changed"
The documentation links in the Godoc seem to have broken.

For example "https://docs.github.com/en/free-pro-team@latest/rest/reference/apps/#delete-an-app-token" should now be /rest/**apps**/apps/.

[2022-05-05 14:23] gmlewis commented on #2360
Yes, the URLs on the GitHub documentation website change quite frequently. PRs are welcome to fix the links.
Thanks.

[2022-05-06 06:46] ParthaI opened #2361 "The search issue/pr API doesn't provide `closed_by` info with any given query parameter"
I am using the API `https://api.github.com/search/issues` and GO Package`https://pkg.go.dev/github.com/google/go-github/v33@v33.0.0/github#SearchService.Issues` with query parameter `is:pr is:closed org:<organisation name> updated:2022-03-03` but I am not getting the `closed_by` info in the search results

[2022-05-07 15:03] josebalius opened #2362 "Codespaces"
I am planning on implementing support for Codespaces, see: https://docs.github.com/en/rest/codespaces

Using this issue to track that work. A couple of questions:
- Do we prefer one large PR with the whole API implementation or multiple PRs?
- Do we prefer to have multiple issues?

Thanks!

[2022-05-07 19:43] gmlewis commented on #2362
I would prefer a bunch of smaller PRs if it is all the same with you.

I'm fine with a single issue.

When we have a lot of things to work on, we often use checkboxes in a single issue like this:

- [ ] item 1
- [ ] item 2

etc... feel free to use them if you find it helpful to keep you organized.  You are welcome to use this issue or open a new one.
You can also go back and edit your first entry

[2022-05-09 23:30] xun-guo-anzx commented on #2339
Thanks @shokada @gmlewis . May I request a release for this feature once the PR is merged?

[2022-05-09 23:36] gmlewis commented on #2339
Sure, no problem.

[2022-05-11 08:13] songleo opened #2363 "Does this package support configuring a proxy?"
I want to use this package to au-create the issue in my repo. but my env is private, and we provide a proxy to access the internet. so I am not sure if I can configure a proxy with this package to call my github repo. thanks.

[2022-05-11 10:26] gmlewis commented on #2363
I believe this is possible, but don't have the details. Hopefully others can comment and provide you with what you need.
In the meantime, if you figure it out, feel free to report back to this issue with the solution to benefit others.  Thanks.

[2022-05-11 10:43] songleo commented on #2363
@gmlewis thanks, for now, I have no idea to do it. if I figure it out, I will post it here. thanks.

[2022-05-13 17:01] #2344 closed

[2022-05-16 13:57] #2335 closed

[2022-05-16 14:17] #2339 closed

[2022-05-17 01:15] dilipmighty245 opened #2368 "Unable to fetch contents from Commit object / Commit file"
Hi Team,

I have been tying to understand  how to fetch contents from a commit and im unable to do so.
it returns `files []*Commitfiles` which is always empty.
`commits, res, err := client.Repositories.ListCommits(context.TODO(), "dilipmighty245", "demo", opts)`

and I then tried fetching contents from the below:
`file, dir, rep, err := client.Repositories.GetContents(context.TODO(), "dilipmighty2

[2022-05-17 15:42] gmlewis commented on #2368
It seems to work fine for me:

[code]

gives me this:

[code]

Well, no... that's what webhooks are for.

[2022-05-23 13:41] ghostinthewires opened #2371 "Unable to set Pages to main /docs via API"
https://github.com/google/go-github/blob/6931fad1bba0d6a311d99a34e9e3aa61619d9512/github/repos_pages.go#L90

	CNAME *string `json:"cname"`
	// Source must include the branch name, and may optionally specify the subdirectory "/docs".
	// Possible values are: "gh-pages", "master", and "master /docs".

I can set this using the UI "main /docs" but trying to do it with the API gives the above error.

H

[2022-05-23 21:10] Skarlso opened #2372 "[Question/Help] How do I check out a created branch/ref?"
Hi!

Lovely project, been using it for a while now, but something I can't figure out is how do I check out a branch?

I know how to create it... And then changes are applied to it. But the changes remain on the main branch even after push occurs since all that is being done in memory.

I'm wondering how do I check out a branch so local changes don't just stay where they are / where they occurred?

[2022-05-24 02:35] gmlewis commented on #2371
Have you tried using the GitHub v3 API with `curl` ?
https://docs.github.com/en/rest/pages#update-information-about-a-github-pages-site

First try this, and if that works but it still doesn't work with this repo, please give more details on what you tried. (A minimal working example would be great.)

You might find https://github.com/gmlewis/go-httpdebug useful in debugging.

[2022-05-24 02:39] gmlewis commented on #2372
Thanks.  When you say "check out a branch", are you talking about the equivalent of "git checkout"?
If so, this repo is probably not what you are looking for.

This repo is a client library for the GitHub v3 API: https://docs.github.com/en/rest

If you can figure out how to do what you want with the v3 API, then this repo should be able to help you do that.

Otherwise, you probably just want to ca

[2022-05-24 04:38] Skarlso commented on #2372
Hi!

Thanks! So, what I would like to do is as follows... Right now, when I create a ref and then generate a tree and then commit and push that tree, the changes remain locally. Here is the entire thing: https://github.com/Skarlso/dependabot-bundler/blob/main/pkg/bundler.go#L96

So `getRef` creates a ref, then getTree creates the tree then `pushCommit` creates the commit. But the changes remain lo

[2022-05-24 09:21] ghostinthewires commented on #2371
Hi,

This is been used via Terraform, like in this example: https://registry.terraform.io/providers/integrations/github/latest/docs/resources/repository#example-usage-with-github-pages-enabled

[2022-05-24 12:43] #2360 closed

[2022-05-24 13:00] gmlewis commented on #2371
I'm not seeing any example using this repo at the link you provided.

Here's why I tried:

[code]

and this is what I get:

[code]

Can you please give me a bit more detail about what you are trying and what the errors are that you are seeing so that I can attempt to help?

[2022-05-24 13:08] gmlewis commented on #2372
Ah!  OK, I think I understand, but would like to debug this locally and get it working before I share with you some theory of mine. :smile:

Is this the issue that prompted this question? https://github.com/Skarlso/dependabot-bundler/issues/13

Is there an easy way to duplicate this scenario locally from scratch so I can attempt to solve this?

[2022-05-24 13:14] gmlewis commented on #2371
Here's what I get:

[code]

I'll try changing the primary branch from "master" to "main" and then try again.

[2022-05-24 13:18] gmlewis commented on #2371
OK, even after changing my default branch from "master" to "main", I get the same error:

[code]

Please contact GitHub tech support and let them know about this bug.

Feel free to report back here when you get an answer... I'll leave the issue open for a while.

[2022-05-24 13:31] gmlewis commented on #2371
Well, no.  This is actually the wrong place to post this issue.

This repo has no affiliation with GitHub and is completely supported by volunteers. It is a Go client library for the GitHub v3 API.

We have proven that the problem is not with this repo, but is with the GitHub v3 API itself.
No PR into this repo will solve this bug.

So you will need to actually contact GitHub tech support and rais

[2022-05-24 14:29] ghostinthewires commented on #2371
Ah cool understood, thanks very much for the heads up -didnt know that.

[2022-05-24 14:29] #2371 closed, assigned to nobody

[2022-05-24 15:22] gmlewis commented on #2088
Fixed by #2244.
Closing.

[2022-05-24 15:22] #2088 closed

[2022-05-24 17:17] Skarlso commented on #2372
Yepp! Exactly :D That's the one.

I don't have a small script. :/ The only way to reproduce is create a ref, do a commit, push and check what remained locally. The change can be something like `echo "bla" > bla.txt` and stage that file and push it to a PR.

I'll try to write a script and share a gist of it. :)

[2022-05-24 17:56] Skarlso commented on #2372
Okay, so here is the gist: https://gist.github.com/Skarlso/5d579d6e236a694b11dcf49b75201776

And here is the pr it created: https://github.com/Skarlso/test/pull/28

And here is the result after running it in said repository:

[code]

[2022-05-24 18:06] gmlewis commented on #2372
OK, I pointed it to my repo, and ran it and got this: https://github.com/gmlewis/my-test-repo/pull/10

[code]

I'll have to go back and read the thread to see if that is correct or not... unless you see something right off.

[2022-05-24 18:10] gmlewis commented on #2372
However, note that this is a _completely unrelated_ git repo that I ran your command within... so I didn't expect it to do anything locally.  But maybe this is the issue you are talking about.

[2022-05-24 18:12] gmlewis commented on #2372
If this is true, then let me remind you that this repo is a Go client for the GitHub v3 API and is not _meant_ to manipulate local git repos... so I would not expect it to do anything locally.

With this client library, you are "remote-controlling" GitHub itself through its v3 API... you are not controlling or modifying a local git repository.

For that, you really do need a git client or https://

[2022-05-24 18:15] Skarlso commented on #2372
🤦

No, you're right. :D I see now. Uh. I'm an idiot. :D Thank you @gmlewis for taking the time to point me to the error of my ways. :D

[2022-05-24 18:17] gmlewis commented on #2372
No, you obviously are _not_ an idiot, as you are writing a very cool tool!

No problem at all... it is actually a common source of confusion... so don't give it another thought.

Good luck to you, and keep up the great work!

[2022-05-24 18:17] #2372 closed

[2022-05-24 18:20] Skarlso commented on #2372
Thank you! <3 Very much appreciate your words. :)

[2022-05-26 04:55] extravio commented on #2363
You need to configure the proxy in a new http.client   and pass it as a parameter to your "github client"

[code]

[2022-05-30 00:13] tekumara opened #2376 "unsupported protocol scheme """
Following [example/newfilewithappauth/main.go](https://github.com/google/go-github/blob/090264eb663fa2436f28782bc33f1c6826f2c044/example/newfilewithappauth/main.go) I'm getting:

[code]

when trying [client.Apps.CreateInstallationToken](https://github.com/google/go-github/blob/090264eb663fa2436f28782bc33f1c6826f2c044/example/newfilewithappauth/main.go#L61).

[2022-05-30 00:16] tekumara commented on #2376
Turns out I had set the base url (`gitHost`) incorrectly (it was missing `https://`)

[2022-05-30 00:16] #2376 closed

[2022-05-31 09:52] RussellLuo commented on #19
Hi there, sorry for replying to an old issue.

I encountered the the same problem as described in this thread. After some investigation, I think there might be a possible workaround for the problem with handling empty values from JSON:

1. Decode JSON into `map[string]interface{}` first.
2. Then use the above `map[string]interface{}` as a filed mask (like what `protobuf` provides)
3. Finally, we c

[2022-06-01 03:11] RussellLuo commented on #19
Thank you for the kind reply! I agree with you that it's unwise to try to change this repo.

I have just turned the idea into a little library called [filedmask](https://github.com/RussellLuo/fieldmask). As you suggested,  I plan to try this library in real-world REST APIs and see how it will go.

Thanks again!

[2022-06-01 03:26] gmlewis commented on #19
Excellent! Feel free to report back here and let us know how the experiment goes. Thanks.

[2022-06-06 10:55] Limess opened #2377 "Issues created are not picked up by webhooks"
I've been pointed here by Github support due to the following issue:

When we open issues using go-github, they are not propagated to Slack via the official Github Slack notification.
An equivalent API call using cURL does propagate the issues as expected.

## Example

After subscribing to `issues` in Slack on a given github repository

`/github subscribe signal-ai/data-platform-documentation issu

[2022-06-06 11:08] gmlewis commented on #2377
Can you please temporarily inject https://github.com/gmlewis/go-httpdebug
and see the equivalent curl command that is being issues, then report back with the differences?

[2022-06-06 11:37] Limess commented on #2377
Thanks for the suggestion @gmlewis, this revealed this is not a go-github bug, but a Github issue where if a newline exists in the title, the integration does not work.

Closing this, thanks again.

[2022-06-06 11:37] #2377 closed

[2022-06-06 13:30] joshuahancox opened #2378 "Teams.IsTeamRepoByID support for custom roles"
Now that GitHub has created the custom roles feature, I think the implementation of Teams.IsTeamRepoByID (and BySlug) may need to be changed, or a new function added.

https://github.com/google/go-github/blob/master/github/teams.go#L411L427

Currently, we return a `repository` object, which contains information about which `permissions` the specified `team` has on the repository.

e.g.
[code]

How

[2022-06-06 14:04] joshuahancox commented on #2378
I wondered if this function should really return a `Repository` struct at all? Since we're checking what permissions a specific team has on a specific repository, should we create/use a new struct like `TeamRepositoryPermissions`.

e.g.
[code]

But understand that would be a breaking change so maybe not ideal.

[2022-06-06 14:19] gmlewis commented on #2378
Looking at the example response here: https://docs.github.com/en/rest/teams/teams#check-team-permissions-for-a-repository
I don't see how we cannot return a `Repository` struct.

For some reason, the GitHub v3 API team decided that all that information needed to be returned, so I don't think we want to discard the vast majority of it.

[2022-06-07 10:01] joshuahancox commented on #2378
OK sure, understood. That being the case I guess we have no choice but to include `role_name` in the exiting `repository` struct?

I'd also like to include the below function in `github-accessors.go`:

[code]

If you agree, I'll raise a PR sometime today.

[2022-06-07 11:12] gmlewis commented on #2378
Yes, go ahead with a PR but do not manually edit the accessors file as it is autogenerated. Please read CONTRIBUTING.md for details.

[2022-06-07 13:31] joshuahancox commented on #2378
Ahh, I see. Thanks 😃 .

PR is here whenever you get a second.

https://github.com/google/go-github/pull/2379

[2022-06-07 13:39] #2378 closed

[2022-06-07 14:28] gmlewis commented on #2378
Right now: https://github.com/google/go-github/releases/tag/v45.1.0
:smile:

[2022-06-07 14:36] joshuahancox commented on #2378
Amazing! Thankyou

[2022-06-13 06:34] 46158n opened #2380 "Add actor field to WorkflowRun"
`WorkflowRun` does not have the `actor` field.
https://docs.github.com/en/rest/actions/workflow-runs#get-a-workflow-run
[code]

[2022-06-13 11:03] #2380 closed

[2022-06-15 15:16] wlynch commented on #1154
I'm interested in revisiting this - I found myself wanting something like this today 👀
Things probably changed a bit since this was last looked at.

GitHub now documents a [a set of common properties that every event should have](https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-payloads#webhook-payload-object-common-properties) that I'm pretty sure every event

[2022-06-15 15:22] gmlewis commented on #1154
This sounds very interesting, @wlynch !

How about putting together a PR and seeing if you can implement your ideas in a backward-compatible way so as to not affect existing systems based on the previous mechanism... and we'll take it from there?

[2022-06-15 18:14] wlynch commented on #1154
Was definitely optimistic here - turns out the "common properties" are only **mostly** common. 😓

Some are obvious in hindsight, but here are a few themes I saw -
- Organization events don't act on a repository, so there is no `repository` field.
- Some events like RepositoryImport cannot be performed by an installation, so there is no `installation field`
- Installation events can act on multiple

[2022-06-15 18:41] gmlewis commented on #1154
Thank you for the investigation and PR, @wlynch !

I don't mind minor breaking API changes for the sake of consistency... For example of we were to start consistently using the shorter forms of `Org` and `Repo`... but I'll take a look at the PR later today.

[2022-06-15 19:51] #1154 closed

[2022-06-16 10:29] DarkMatterV opened #2385 "TextMatch doesn't work when use Search.Repositories"
when i use `Search.Repositories`, set `TextMatch = true`, but it doesn't work

this is my code:

[code]

I found it in `go-github`, in `search` function, use `switch` to add `Accept`  to the `req.Header`, it lead to i can't get `text_matches` in reponse when i use  `commits` `topics` `repositories`  `issues`

I don't know why it's designed in this way, and  i didn't found other accept values other

[2022-06-16 11:23] gmlewis commented on #2385
Hmmm... that does indeed look unusual.
In the corresponding unit test, it shows `TextMatch` being used with `client.Search.Code`:
https://github.com/google/go-github/blob/master/github/search_test.go#L408-L413

Although the official documentation shows an example using the `issues` endpoint:

[code]

which makes me think that this custom header should be added no matter what the value of `searchTy

[2022-06-17 04:14] DarkMatterV commented on #2385
Okay，I want to do it

[2022-06-21 12:43] emilva opened #2391 "`code_scanning_alert` missing in `eventTypeMapping`"
Hi team,

I am using `github.com/google/go-github/v45 v45.1.0` and I am getting the error `=unknown X-Github-Event in message: code_scanning_alert` when running `ParseWebHook`.

The alert type was already added in https://github.com/google/go-github/pull/2311 so I think it is just a matter of adding the mapping to the parsing of the webhook.

Cheers,

emil

[2022-06-21 12:52] gmlewis commented on #2391
Ah, yes, thank you, @emilva !
Would you like to submit a PR to rectify this, or shall I open it up to the rest of the contributors to this repo?

[2022-06-21 13:01] emilva commented on #2391
Yes, I will try to open PR shortly!

[2022-06-21 14:09] emilva commented on #2391
PR: https://github.com/google/go-github/pull/2392

[2022-06-21 17:04] parkr opened #2393 "Support state_reason in IssuesService.Edit"
I would like to be able to use the API to close an issue with a reason why like you can in the UI (https://github.blog/changelog/2022-05-19-the-new-github-issues-may-19th-update/ , https://github.blog/changelog/2022-03-10-the-new-github-issues-march-10th-update/ ). I looked at the Issues API documentation and couldn't find reference to these closing reasons (https://docs.github.com/en/rest/issues/

[2022-06-21 17:09] gmlewis commented on #2393
Wonderful, @parkr - thank you for your due diligence in contacting GitHub tech support!

Would you like to create a PR, or shall I open this issue up to other contributors to this repo to implement?

[2022-06-22 08:20] souleb opened #2394 "Repositories.Edit errors when migrating from 0.42 to 0.45"
Hi,

We are migrating from v0.42 to v0.45 and we get the following error when calling `repositories.Edit`:

[code]

The message states `This organisation does not allow private repository forking`. When we enable forking for private repos in the org, everything work fine again. But we should not have to do this as we are simply trying to update the description when getting the above error.

As it

[2022-06-22 11:49] gmlewis commented on #2394
After a quick scan of the changes from `v42.0.0` to `v45.2.0`, it is not obvious to me why there was a regression.

To help quickly debug this, please add https://github.com/gmlewis/go-httpdebug to your client, then run the command with `v42.0.0`, and run again with `v45.2.0` and copy the resulting `curl`-equivalent command to this issue for both cases, and we can see what changed.

Thank you, and

[2022-06-22 14:15] souleb commented on #2394
###v42.0.0
[code]

### v45.2.0
[code]

[2022-06-22 14:35] gmlewis commented on #2394
Thank you!  It looks like somehow `"allow_forking": false,` snuck in to the second one:

![ksnip_20220622-103244](https://user-images.githubusercontent.com/6598971/175056113-56f93c99-b8ae-405d-85d8-22f4ab0478f2.png)

Now, the question is... how did this happen?!?
Investigating...

[2022-06-22 14:50] gmlewis commented on #2394
Ah, yes!  I believe I have seen this before.

When you call `Repositories.Edit`, you need to only put the values into the request that you actually want to change.

So a common mistake is to first to a `Repositories.Get` and then use that entire structure to send to `Repositories.Edit`.

In other words, your request to `Repositories.Edit` must be absolutely minimal with just the fields you want to

[2022-06-22 14:53] gmlewis commented on #2394
Please see:
* #2292
* #2309

You will need to change your code to not send the full repo info... but make a brand new `*github.Repository` struct with only the fields you want to change.

[2022-06-22 15:06] souleb commented on #2394
ok I will try that.

[2022-06-23 08:20] pputman-clabs opened #2396 "Listing Repos doesn't include private repositories"
I'm using the following:

repos, _, err := client.Repositories.List(ctx, "my-org", nil) but its only printing out public repos.

I've also tried creating a repo options struct with visibility for private, even though it should print all by default, still no luck.

I know its not an authentication issue, because I can use

client.repositories.Get and pull down a private repo, so my oauth token is c

[2022-06-23 11:51] gmlewis commented on #2396
Please use https://github.com/gmlewis/go-httpdebug to validate that the `curl`-equivalent command operates as you expect, and then report back here with your findings and I can help you debug this.

[2022-06-23 20:23] pputman-clabs commented on #2396
Hi gmlewis,

Thank you for your reply.  I did that, and I'm getting the following.  I tried https://api.github.com/users/celo-org/repos?visibility=private in the browser authenticated and it still only shows public repos.  It seems I'm using the sdk right, but its using the wrong option to view private/public repos?

patrick@R90XQ0G937 github-scanner % go run main.go
2022/06/23 15:21:22 curl -X GE

[2022-06-24 00:55] gmlewis commented on #2396
When creating a Personal Access Token here: https://github.com/settings/tokens/new
did you make sure to enable access to private repos?

![ksnip_20220623-205435](https://user-images.githubusercontent.com/6598971/175438764-fb45744d-fc3e-4088-8508-151f21aff67d.png)

[2022-06-24 01:47] pputman-clabs commented on #2396
Hello,

  I'm using oauth app tokens, but I did a Repository.Get to pull down a
private repo and it worked:

    //repos, _, err := client.Repositories.Get(ctx, "my-org",
"okta-live-config")

^^ This pulled down my repo, which is private, so its only the list that
doesn't work, meaning its not an authentication issue.

On Thu, Jun 23, 2022 at 7:56 PM Glenn Lewis ***@***.***>
wrote:

[2022-06-24 02:44] gmlewis commented on #2396
I just created a new personal access token, then wrote this program to test it out:

[code]

and I was also unable to list private repos.

Could you please contact GitHub v3 API Technical Support and report the problem, then report back here with their response?

Thank you!

[2022-06-24 02:53] #2393 closed

[2022-06-24 02:54] pputman-clabs commented on #2396
Hi Glenn,

   So I'm not crazy!  Thank you so much for confirming its not working.
Yep, I'll reach out to them and let you know.

On Thu, Jun 23, 2022 at 9:44 PM Glenn Lewis ***@***.***>
wrote:

[2022-06-24 02:59] gmlewis commented on #2396
Actually, it looks like this is a recurring problem: #1382.

[2022-06-28 11:20] lneves75 opened #2400 "Dependabot Org Secrets creation returns 422 error"
Hi all. This surfaced when creating dependabot organisation secrets using the terraform provider.

### Versions

[code]

Terraform github provider
- ["github.com/google/go-github/v45/github"](https://github.com/integrations/terraform-provider-github/blob/ab903b6addf72b006bd1dda250623b8c9f3b508f/go.mod#L8)
- [go version 1.16](https://github.com/integrations/terraform-provider-github/blob/ab903b6add

[2022-06-28 11:55] gmlewis commented on #2400
Thank you for the bug report, @lneves75 , apologies for the problem.

Would you like to submit a PR for this issue or would you like someone else to work on it?

[2022-07-01 09:49] Nyxonios opened #2402 "Unable to create pull request"
Hello! So I use [multi-gitter](https://github.com/lindell/multi-gitter) which allows me to run scripts to make changes and create PRs over multiple repositories. However, I noticed that I received errors due to some problems in this library (which multi-gitter uses).

**Context**
I am doing the changes on a GitHub enterprise instance. So, I run a script to update dependencies in multiple repositor

[2022-07-02 01:47] pputman-clabs commented on #2396
Hi Glenn,

  I got a message from github support.  the issue was I thought organizations just used the regular user endpoint.

<img width="807" alt="image" src="https://user-images.githubusercontent.com/99900942/176982185-c1ad3919-5c4f-4fcd-98d2-dc86725ac404.png">

[2022-07-02 12:14] gmlewis commented on #2396
Thank you for reporting back, @pputman-clabs .
Closing issue as resolved.

[2022-07-02 12:14] #2396 closed

[2022-07-04 02:06] yuriy-yarosh opened #2404 "httpcache doesn't really cache much right now"
[code]

Gives me
[code]

I don't really understand why not much is cached via httpcache, am I propagating Client Transports in wrong order ?...
This is something worth documenting.

[2022-07-04 02:39] gmlewis commented on #2404
`httpcache` has come up a number of times in the past... please check out these threads, as they might give you some insight as to what is going on:
https://github.com/google/go-github/issues?q=is%3Aissue+httpcache

[2022-07-04 11:40] yuriy-yarosh commented on #2404
@gmlewis it seams they didn't accept that EOF PR in the end for some reason, and httpcache had been dropped even out of k8s.

[2022-07-05 08:23] cbrgm opened #2405 "List CODEOWNERS errors"
Hi there,

I was wondering whether this endpoint is available in the google/go-github client.
https://docs.github.com/en/rest/repos/repos#list-codeowners-errors

If it's not the case, I'd be happy to contribute!

[2022-07-05 11:26] gmlewis commented on #2405
No, it doesn't appear to be.  Thank you, @cbrgm !  It's all yours.

[2022-07-06 21:43] gesellix opened #2406 "Support updated GitHub Pages Update API"
In former versions of the GitHub API the pages update request used a `source` field of type `string`, with the branch name and a path delimited by a space. According to the current [GitHub documentation](https://docs.github.com/en/rest/pages#update-information-about-a-github-pages-site) and experiments with `curl`, the update api apparently now also supports the `source` parameter to be a struct l

[2022-07-07 00:22] gmlewis commented on #2406
Yes, breaking changes are made to this API on a regular basis due to the moving target we are attempting to hit. :smile:

So a PR is definitely welcome, and we will mark it as a breaking API change, and then remember to bump the major version of this repo.

Thank you, @gesellix !

[2022-07-08 19:23] cbrgm commented on #2405
@gmlewis It took me a while, but I finally found some time preparing a PR. I'm looking forward to a review sometime 😄 Happy weekend!

[2022-07-12 00:28] wqsz7xn commented on #2396
Running into this issue. I can't seem to find anything under the current go-github code for the following endpoint: https://docs.github.com/en/rest/repos/repos#list-organization-repositories
As mentioned the fetch endpoints are different but the org one don't seem supported in this project?

[2022-07-12 00:34] gmlewis commented on #2396
@wqsz7xn - are you looking for `client.Repositories.ListByOrg`?
https://github.com/google/go-github/blob/master/github/repos.go#L287-L313

[2022-07-12 00:37] wqsz7xn commented on #2396
My bad! Came across it when searching for the endpoint string. Thank you!

[2022-07-12 12:47] #2406 closed

[2022-07-14 10:56] 46158n opened #2410 "Add RunAttempt field to AuditEntry"
`AuditEntry` does not have the `RunAttempt` field that it has when action is `workflows.rerun_workflow_run`

[2022-07-14 11:41] tekumara opened #2412 "failed to create installation token .... 404 Not Found"
When trying to [create an access an installation access token for an app](https://docs.github.com/en/rest/apps/apps#create-an-installation-access-token-for-an-app):
[code]

I'm using a base url of https://github.acme.corp/api/v3

[2022-07-14 11:48] tekumara commented on #2412
Interesting, when I call `client.Apps.ListInstallations` I get:

[code]

It looks like the access token url is prefixed `https://github.acme.corp/api/v3/app/` rather than `https://github.acme.corp/api/v3/`

[2022-07-14 11:57] tekumara commented on #2412
So it's generating the older incorrect URL because I'm on github.com/google/go-github v17.0.0

[2022-07-14 11:58] tekumara commented on #2412
So it's generating the older incorrect URL because I'm on v17.0.0:
[code]

[2022-07-16 23:11] #2405 closed

[2022-07-17 13:03] tekumara commented on #2412
yep, using github.com/google/go-github/v45 fixes this!

[2022-07-17 13:03] #2412 closed

[2022-07-18 20:34] skelouse opened #2413 "String format highlighting removed in 0.35.0"
Before:
![image](https://user-images.githubusercontent.com/42463301/179612624-f589f800-0839-4dd9-b960-9df738e835a6.png)

After:
![image](https://user-images.githubusercontent.com/42463301/179612678-80b27feb-7606-4412-8e4a-b531a1cb3cde.png)

[2022-07-18 20:40] #2413 closed

[2022-07-22 17:10] OlegGulevskyy opened #2415 "Cannot authenticate with Personal token"
Hi,
I am having the same issue, from the looks of it, as [here](https://github.com/google/go-github/issues/2396)
When I retrieve repositories, I only get public repositories.

This is the code I am using
[code]
Where GITHUB_PAT = is the token from Settings, that starts with `ghp_...`
I have listed all possible permissions in the token
<img width="654" alt="image" src="https://user-images.githubuse

[2022-07-22 17:13] OlegGulevskyy commented on #2415
What is weird that if I mess up the token on purpose, I get `401` error of invalid credentials. So credentials are being checked by the library, I guess, but maybe just no used in the call?..

[2022-07-22 17:32] OlegGulevskyy commented on #2415
If I change options to
[code]
I will get panic (I am pretty new to Go, just learning what's what)

[code]

[2022-07-22 21:01] gmlewis commented on #2415
To debug issues like this, it is tremendously helpful to see the equivalent `curl` commands that are being issued to the GitHub v3 API.

Then, if you can get a `curl` command to do what you want, we should be able to figure out how to get this client library to do the same thing.

An easy way to see the equivalent `curl` commands is to use: [https://github.com/gmlewis/go-httpdebug](https://github.

[2022-07-22 21:08] OlegGulevskyy commented on #2415
Thanks for getting back to me @gmlewis  !
I found out what's causing this by looking into the code that makes request and I should have not provided my GitHub hander and just pass an empty string
[code]
However the only feedback here is that it's not intuitive at all. When I call `Repositories.List` I am not expecting it to jungle inside different endpoints and returning completely different resul

[2022-07-22 21:08] #2415 closed

[2022-07-22 21:20] gmlewis commented on #2415
I'm glad you found and fixed the problem, and I apologize for the frustration, @OlegGulevskyy .

We would love to improve our documentation to help people using this client library and hopefully prevent problems before they occur.

If you can think of ways to improve the documentation or make the developer experience better, we truly welcome PRs.  Thank you!

[2022-07-26 02:50] amitsaha opened #2416 "List User Migrations: Add support for pagination"
The [ListUserMigrations()](https://github.com/google/go-github/blob/3a432d62bf0318c14b2d1d7415bf94ea1a884342/github/migrations_user.go#L100) currently doesn't support pagination options.

We should add it.

PS: Will be creating a pull request shortly.

[2022-07-26 16:59] mimiandcanada opened #2418 "Getting GitRPC::BadObjectState while setting nil to delete an entry"
Trying to delete the a subdirectory/folder. I am using 	"github.com/google/go-github/v35/github"
I have tried following two methods:

1. Get the entries under a tree i want to delete by calling GetTree then setting the SHA of BLOB entries to nil
This resulted in 422 GitRPC::BadObjectState []

2. Tried setting the Type tree of the subdirectory's SHA to nil
This also resulted in  422 GitRPC::BadObje

[2022-07-26 17:40] mohammedazfar-sanuk opened #2419 "Could not enable runner in repository"
hi team,

im using "github.com/google/go-github/v38" in recent days, im facing the below error in my script, which was working well.

**Could not enable runner in repository  PUT https://api.github.com/orgs/sam-org/actions/runner-groups/4/repositories/7672: 500 Server Error []**

Any suggestions about this pl ?

[2022-07-26 17:42] mohammedazfar-sanuk opened #2420 "unexpected status code: 410 Gone"
im getting "unexpected status code: **410 Gone**" in recent days, any clue about this pl ?

[2022-07-26 17:47] gmlewis commented on #2418
To delete a subdir/folder, I think you will most likely prefer to use `git` or an equivalent `git` client like https://github.com/go-git/go-git

This repo is a client library for the GitHub v3 API: https://docs.github.com/en/rest
and as such, makes it easy to call this API from Go, but is otherwise limited to the functionality that the v3 API provides, and I don't recall API endpoints to delete su

[2022-07-26 17:50] gmlewis commented on #2419
Please check that your personal access token has the proper scopes enabled to allow you to perform this operation.
See https://github.com/settings/tokens

Looking at the official docs, it appears that you need the `admin:enterprise Full control of enterprises` scope and this may only be possible when using GitHub Enterprise, but I haven't tried it myself, so I'm not quite sure.

Maybe others who h

[2022-07-26 17:51] gmlewis commented on #2420
More information, please?  What endpoint are you calling, for example?
Have you checked the official GitHub v3 API documentation: https://docs.github.com/en/rest ?

[2022-07-27 05:31] mohammedazfar-sanuk commented on #2420
Thanks @gmlewis , im getting **410** while calling client.Actions.ListWorkflowRunsByFileName functions.

[2022-07-27 10:35] gmlewis commented on #2420
According to https://pkg.go.dev/net/http, status code 410 is "StatusGone".
Maybe there aren't any workflows with the file name you are providing?

I'm guessing that the name is case sensitive and if it contains spaces or other special characters, they may need to be escaped with: `url.QueryEscape`: https://pkg.go.dev/net/url#QueryEscape

[2022-07-27 18:56] DavidGamba opened #2421 "Support actions/runs/RUN_ID/pending_deployments endpoint"
Add support for https://docs.github.com/en/rest/actions/workflow-runs#review-pending-deployments-for-a-workflow-run

PR in progress.

[2022-07-29 23:27] midnightconman opened #2425 "PushEvent GetCommits() Method"
I would like to use an interface for this event in a local implementation, but unfortunately a getter for this type doesn't exist. Can we create a getter for `PushEvent.GetCommits`?

[code]

[2022-07-29 23:41] gmlewis commented on #2425
In general, getters are only provided for anything where a `nil` might be a problem (which is not the case for slices of anything), and all getters are auto-generated.

So if you want to add one for this, then I suppose we have a few options:

1. add getters for all fields, but that seems wasteful
2. modify the auto-generator to add a list of "special" getters that we want to always add (e.g. `Pus

[2022-07-29 23:47] midnightconman commented on #2425
2 sounds good to me 😸 Let me take a look at the auto-generator code. Thank you!

[2022-07-30 13:35] alshdavid opened #2426 "Add support for simple enum values"
In Go you can assign constants but when you have many they tend to:
- Pollute the global namespace with many values
- Can become confusing if you have multiple "groups" of constants flattened on the namespace (think status codes + common headers)
- Requiring compile-time validation of values through a repetitive, non-performant operation

Objective:
[code]

A common way around this is to use a run

[2022-07-30 18:11] gmlewis commented on #2426
It almost sounds like you are proposing a change to the Go programming language here, which unfortunately not the correct location to do so.

This repo is a client library to the GitHub v3 API using the Go programming language.

If you wish to propose changes to the Go programming language, I suggest you start here:
https://github.com/golang/proposal

Closing issue.

[2022-07-30 18:11] #2426 closed

[2022-08-01 23:02] Ashvin-Ranjan opened #2427 "Unable to create empty file"
When attempting to commit an empty file to a repository using `ghClient.Repositories.CreateFile` and passing in `[]byte{}` under the `Content` field of a `github.RepositoryContentFileOptions` the GitHub API will return a `422` error stating that `content` was not supplied. This is most likely due to the line:

https://github.com/google/go-github/blob/7a7a7f0943f3fcffc4b8f30feaaed7333b035a99/github

[2022-08-01 23:08] gmlewis commented on #2427
Have you tried calculating the SHA of an empty byte slice?

[code]

Try passing in this SHA when your file is empty and see if that works.

[2022-08-02 02:42] dsm-kb opened #2428 "Add LFS control"
Add ability to turn LFS on / off for repo

[2022-08-02 20:30] Ashvin-Ranjan commented on #2427
That does not work, I continue to get a `422` from the GitHub API because the `"content"` field was not supplied, here is the error message I get:

[code]

[2022-08-02 22:51] gmlewis commented on #2427
OK, gotcha. Then I think we have a bug that needs to be fixed. My main concern is that we don't break existing behavior where `content` should not be passed.

Do you want to submit a PR or would you like me to open this up to other contributors to this repo to address?

[2022-08-02 22:56] Ashvin-Ranjan commented on #2427
I do not think there should be any problems with breaking existing behavior with this because looking at the [update file contents endpoint](https://docs.github.com/en/rest/repos/contents#create-or-update-file-contents) it does appear that they label the `content` field required, unless I am mistaken. Also I can submit a PR for this. Thank you for your help.

[2022-08-02 23:45] #2427 closed

[2022-08-03 23:33] Starttoaster opened #2431 "Additional options available for pull request reviews / branch protection rules"
One such rule that is currently not supported is `bypass_pull_request_allowances` (https://docs.github.com/en/rest/branches/branch-protection#update-pull-request-review-protection)

The library should be updated to include additional fields.

I'm more than happy to take a stab at doing this myself as a first contribution, just using this Issue to document the request.

[2022-08-03 23:48] gmlewis commented on #2431
Thank you, @Starttoaster !
It's yours.

[2022-08-04 19:52] dsm-kb commented on #2428
Implemented added in https://github.com/google/go-github/pull/2429

[2022-08-05 18:44] naikrovek commented on #179
I would also like to see the enterprise settings endpoints become supported.  I was very surprised when I discovered that they weren't.

[2022-08-13 21:28] #2431 closed

[2022-08-13 21:31] #2421 closed

[2022-08-13 22:18] #2385 closed

[2022-08-13 22:19] #2391 closed

[2022-08-13 22:20] #2400 closed

[2022-08-19 13:29] gesellix opened #2436 "Release Request"
Is it possible to create a release?

I'm mainly interested in #2407 (breaking api change) to be available for the [integrations/terraform-provider-github](https://github.com/integrations/terraform-provider-github/).

[2022-08-19 13:40] gmlewis commented on #2436
Yes, I'll start working on it.

[2022-08-19 14:24] gmlewis commented on #2436
@gesellix - https://github.com/google/go-github/releases/tag/v46.0.0 has been released.

[2022-08-19 14:24] #2436 closed

[2022-08-19 16:34] gesellix commented on #2436
That's fast! Thanks a lot!

[2022-08-21 21:31] #1265 closed

[2022-08-22 22:36] #2416 closed

[2022-08-23 08:41] ankittkp opened #2443 "Repo.Get v45 giving 404 Not Found"
[code]

I updated from v37 to v45, looks like v45 is not working fine.

[2022-08-23 10:48] gmlewis commented on #2443
Please provide a complete test case including what imports you are using.

[2022-08-24 10:23] coro opened #2444 "GenerateReleaseNotes will have no effect in RepositoriesService.EditRelease"
According to the [GitHub v3 API reference](https://docs.github.com/en/rest/releases/releases#update-a-release), `generate_release_notes` is not a recognised body parameter of the endpoint to update a release. In this library, the value of
`RepositoryRelease.GenerateReleaseNotes` [is passed to the PATCH request to the GitHub API](https://github.com/google/go-github/blob/243bda850b1f78957ba0d50fb62e

[2022-08-24 11:02] gmlewis commented on #2444
Thank you, @coro . Would you like to prepare the PR?

[2022-08-24 11:07] coro commented on #2444
Will do, Glenn, thank you!

[2022-08-31 17:44] valbeat opened #2447 "Additional options name, default_branch_only for create a fork"
Hi Team!
The options `name` and `default_branch_only` are not supported in Create a fork.
https://docs.github.com/en/rest/repos/forks#create-a-fork

We should support these options. I am planning to create a PullRequest for this issue. Thanks.

[2022-08-31 23:22] douglascayers opened #2449 "Support Autolinks with alphanumeric or numeric IDs"
GitHub updated their [autolink feature](https://github.blog/changelog/2022-08-31-autolinks-with-alphanumeric-or-numeric-ids/) to support either alphanumeric or numeric IDs.

This is a request to add support for the new `is_alphanumeric: boolean` argument, which indicates whether this autolink reference matches alphanumeric characters. If false, this autolink reference is a legacy autolink that onl

[2022-08-31 23:49] gmlewis commented on #2449
Welcome to Go and to this repo, @douglascayers - and thank you in advance for your contributions! :smile:

[2022-08-31 23:58] #2447 closed

[2022-09-05 08:23] #2449 closed

[2022-09-05 11:57] satyamchaurasiapersistent opened #2451 "cannot find package "github.com/google/go-github/v39/github""
We are getting github.com/google/go-github/v39/github: cannot find package "github.com/google/go-github/v39/github" through our Circle pipeline we are using latest circleci image for go lang **cimg/go:1.16**
for release but since i have observed your last commit the version is hardcoded and which gives this error due to which the release process is on halt.

[2022-09-05 12:16] gmlewis commented on #2451
Links, please?

[2022-09-08 12:07] souleb commented on #2394
Thanks again. Closing this now.

[2022-09-08 12:07] #2394 closed

[2022-09-08 18:49] shravan1k opened #2453 "Update ref doesn't escape special characters in ref name"
The `UpdateRef` function doesn't substitute special characters for their escaped versions within ref names before making a patch request. This consistently leads to invalid paths if the ref has a special character (ex: #).

Planning to fix.

[2022-09-09 15:18] erzz opened #2455 "Add a positive/negative filter for labels to github.PullRequestListOptions"
Currently we can only filter with State pretty much. I would like to filter by the presence or absence of a label.

As a solid example that triggers this issue I would like to get all PR's that are closed but don't yet have the "released" label

I could currently pull 1000's of closed PR's for a repo and postprocess the labels for each one..... but usually its like 1-3 PR's not yet released of tha

[2022-09-09 21:56] gmlewis commented on #2455
If you can figure out how to do what you want using `curl`, then we should be able to make that possible with this GitHub v3 API Go client repo.  Please provide a working `curl` example.

[2022-09-10 16:26] niwla23 opened #2456 "Segfault when using Filter and ListOptions at the same time with Issues.List"
[code]

this lead to the following error:

[code]

When removing `Filter` it works as well as when removing ListOptions. It works with e.g. ListOptions and Sort.

[2022-09-10 16:31] niwla23 commented on #2456
When setting Filter to "assigned" (the default value) it works. Settomg it to mentioned gives no results for me (empty list). All other options lead to the error

[2022-09-10 16:34] gmlewis commented on #2456
What does this line look like: `aggregator/backend/src/providers/github.go:46` ?
Are you sure the panic is happening within this repo?

[2022-09-10 16:42] niwla23 commented on #2456
Oh sorry, I totally missed that. For some reason I was convinced that the error happened in the List method.
Actual issue was that I was not checking for nil pointers in Body and State of the issues

[2022-09-10 16:42] #2456 closed

[2022-09-12 12:49] #2453 closed

[2022-09-13 11:30] nvvasilescu commented on #2451
we are getting this also. any solutions?

[2022-09-13 12:04] gmlewis commented on #2451
@nvvasilescu - maybe you can give more details, please? How an I reproduce this problem in order to debug it?

[2022-09-13 13:41] Maxtony888727 commented on #2443
Yup I agree

[2022-09-14 20:41] hashtagchris opened #2462 "Have `ParseWebHook` return a event-related "marker" interface"
[`ParseWebHook`](https://github.com/google/go-github/blob/e2f737955018ce736e06dc1c61b267ef61923eea/github/messages.go#L294) currently returns an `interface{}`. I know there's no one method that all webhook events share. But what if we added a ["marker"](https://stackoverflow.com/questions/44690196/how-to-create-a-top-level-object-with-no-fields-or-methods-in-golang/44690327#44690327) interface and

[2022-09-14 21:30] gmlewis commented on #2462
Thank you, @hashtagchris . I think I would have to see this to give my opinion.
Do you want to put together a PR with test cases demonstrating its implementation and usage?
Bonus points if you don't break any existing APIs.  :smile:

[2022-09-15 15:46] hashtagchris commented on #2462
Thanks @gmlewis, I'll try to put something together. However I think one of the biggest benefits is the stricter type checking during the build. I'm not sure I can capture that in a test case.

<details><summary>Short example</summary>

[code]

</details>

https://go.dev/play/p/RacH5YLMAo3

[2022-09-15 20:16] AnonSaintsGroup opened #2463 "New Issue · duckduckgo/Android"
<redacted>

[2022-09-15 20:43] gmlewis commented on #2463
@AnonSaintsGroup - strike one for abuse.

[2022-09-15 20:43] #2463 closed

[2022-09-15 23:19] gmlewis commented on #2462
Ah, I gotcha, @hashtagchris - thank you for the example!  So the down-side to this is that we "simply" need to make sure that every event has the magic line `func (e *BranchProtectionRuleEvent) Event() {}`, correct?  Can this be kept up-to-date with `go generate ./...` ?

If the answer is "yes" (and I think the answer is indeed "yes"), then we could put all these magic lines in a separate auto-gen

[2022-09-16 05:29] AnonSaintsGroup opened #2464 "Shifting Left for Application Security - NGINX"
<redacted>

[2022-09-16 11:10] gmlewis commented on #2464
@AnonSaintsGroup - strike two.

[2022-09-16 11:10] #2464 closed

[2022-09-17 12:30] luisdavim opened #2467 "Error when creating branch protection"
Since we updated our code to use the latest version of this library, we can't create a branch protection that requires branches to be up to date before merging but don't require any status checks:

[code]

The above results in an error:

[code]

Such rule is possible to be created from the UI:
<img width="772" alt="image" src="https://user-images.githubusercontent.com/173006/190856798-25e91666-95d

[2022-09-17 13:20] luisdavim commented on #2467
Looking at https://github.com/orgs/community/discussions/24642 removing `omitempty` from the `Checks` property could solve the problem but I guess that for that you'll have to fully deprecate the `Contexts` or maybe you could force `Checks` to be null if `len(Contexts) > 0 && len(Contexts) == 0`

[2022-09-17 13:32] luisdavim commented on #2467
I've tested this locally, removing `omitempty` from the `Checks` property in https://github.com/google/go-github/blob/master/github/repos.go#L908 and passing:

[code]

Works, and you might not need to fully deprecate `Contexts` as if `Checks` is not set it's passed as `null` and that should be ok if `Contexts` is set...

[2022-09-18 00:36] kuhlman-labs opened #2470 "Add additional fields to Organization struct to support additional fields in Organization.Edit"
The [update an organization](https://docs.github.com/en/rest/orgs/orgs#update-an-organization) API has additional configurable fields that the Organization struct does not support:

WebCommitSignoffRequired
AdvancedSecurityEnabledForNewRepos
DependabotAlertsEnabledForNewRepos
DependabotSecurityUpdatesEnabledForNewRepos
DependencyGraphEnabledForNewRepos
SecretScanningEnabledForNewRepos
SecretScanni

[2022-09-18 03:06] #2470 closed

[2022-09-19 11:00] luisdavim commented on #2467
Thank you very much for the quick turnaround on this @gmlewis 🚀
Any chances of getting a new tag released so we can get the fix downstream?

[2022-09-19 11:18] gmlewis commented on #2467
Yes, I can work on a new release today.

[2022-09-19 11:20] luisdavim commented on #2467
Awesome, thanks. Really appreciate it 👍

[2022-09-19 11:51] gmlewis commented on #2467
@luisdavim - this issue has now been covered in the latest release:
https://github.com/google/go-github/releases/tag/v47.1.0

[2022-09-20 04:01] hashtagchris commented on #2462
Yup and Yup!

I may have time this week to contribute changes. Would you have the generator identify the event structs by iterating over the [`eventTypeMapping`](https://github.com/google/go-github/blob/f6bffcf431f8ab7e3b5a65fdf624bad91195c0b9/github/messages.go#L47) values? Or use the AST to find the  exported struct types with a name ending in `Event`?

[2022-09-20 11:56] gmlewis commented on #2462
Fantastic! It's yours.

Great question! I'm all for the solution that is easiest to maintain (which usually means "simplest") and the one which seems to be most future-resistant as possible in the hopes that no matter what we do to the code, it will reliably find the events.  So I'm leaning toward the former, but am leaving it up to you. We can further comment during the code review. 😁

[2022-09-22 12:04] clementlecorre commented on #1793
Any news ?

[2022-09-22 14:20] kuhlman-labs opened #2475 "Add additional field to Security and Analysis Struct for Repos"
The [Update a repository](https://docs.github.com/en/rest/repos/repos#update-a-repository) endpoint in the GitHub API has added an additional field to the security and analysis object to configure secret scanning push protection for a repository. Proposing adding additional fields in SecurityAndAnalysis struct to support configuration with  Repositories.Edit

[2022-09-22 18:38] #2475 closed

[2022-09-23 01:34] hashtagchris commented on #2462
@gmlewis I made some progress, but won't be able to work on this again for several weeks. I created a draft PR and I'm open to other contributors taking this change forward.

Thanks for the encouragement and guidance!

[2022-09-23 13:34] pralim opened #2478 "RepositoriesService.ListCommits does not get list of commits on a non-default branch"
`ListCommits` uses following line to construct the url

`u := fmt.Sprintf("repos/%v/%v/commits", owner, repo)`

There is no way to specify branch name to the function and hence the list of commits returned are only from the default branch

[2022-09-23 20:56] gmlewis commented on #2478
If you search for the word "branch" you will find the `SHA` field of `CommitsListOptions` here:
https://github.com/google/go-github/blob/master/github/repos_commits.go#L97-L101
which should do what you want.

[2022-09-25 01:08] isaacismaelx14 opened #2479 "Missing option to Create Pull Request as Draft"
It's looks like there is not any way to create a new PR as a Draft.

This is the current `NewPullRequest`  interface

https://github.com/google/go-github/blob/v17.0.0/github/pulls.go#L188
[code]

I think this only need to add the Draft option to the interface like:
[code]

There is the Github API Rest Documentation:
https://docs.github.com/en/rest/pulls/pulls#create-a-pull-request

[2022-09-25 01:17] gmlewis commented on #2479
Version `v17.0.0` is quite a long time ago.  You probably want a more recent version:
https://github.com/google/go-github/blob/master/github/pulls.go#L244-L252

[2022-09-25 01:21] isaacismaelx14 commented on #2479
@gmlewis After creating a folk I realized that! Thanks

[2022-09-25 01:21] #2479 closed

[2022-09-25 22:33] abatilo opened #2480 "DownloadContents can't download files from root of repo"
GitHub Apps have the ability to request access to individual files which is great for fine-grained access.

![image](https://user-images.githubusercontent.com/1634746/192168329-c4a27c5c-4868-497c-900b-5e9aa1e53c98.png)

However, as of `v47.1.0`, this will prevent someone from being able to download a file from the root repository because of the way `DownloadContents` implements directory scanning

[2022-09-25 23:08] gmlewis commented on #2480
So was this a regression caused by a change to `v47.1.0` ?

Do you want to create a PR to fix this, @abatilo , or would you like me to open up this issue to other contributors to this repo to address?

[2022-09-27 20:27] #2338 closed

[2022-09-28 09:12] raja444 opened #2481 "unable to update the or specific version from 1.14.2 go version"
I need 1.18.2 or 1.18 -   crypto and sys packages.
I m trying to update from 1.14.2 version.
unable to update the or get specific packages.

go get -v golang.org/x/crypto/ed25519
go get -v golang.org/x/sys/unix

or

go install -v golang.org/x/crypto/ed25519
go install -v golang.org/x/sys/unix

Tried to list the package as well. it shows nothing
go list -m -versions github.com/golang/sys/unix

Trie

[2022-09-28 11:20] gmlewis commented on #2481
This issue isn't related to this repo, but this works for me when you are in a directory containing a valid `go.mod` file:

[code]

But maybe you should take a moment and read this: https://go.dev/ref/mod
Closing.

[2022-09-28 11:20] #2481 closed

[2022-09-29 05:58] raja444 commented on #2481
I m able to get the latest code but **the problem is unable to update 1.18.2 or 1.18 version code from 1.1.4.2**

could you please resolve this ?

[2022-09-29 11:32] gmlewis commented on #2481
@raja444 - If you want help, you need to provide more information... however if your problem does not involve this repo, then this is the wrong place to be asking for help, and a Google search would probably be more fruitful.

Did you read the link I pointed you to about Go modules? That one document should answer your questions.

What do your "1.18.2, 1.18, and 1.1.4.2" version numbers represent?

[2022-09-29 20:27] nettrino opened #2483 "Error with otp in scrape example"
Hello,

I am trying to replicate the [scrape example](https://github.com/google/go-github/blob/master/scrape/example/scrape/main.go) and if I use the OTP from an authenticator app (Google, Authy or otherwise) I get `panic: decode secret failed`, and if I use my yubikey I get `received 422 response submitting otp form`. Anything I am missing on how otp should be passed?

Thanks!

[2022-10-01 22:48] gmlewis commented on #2483
Sorry, I am not very familiar with the scrape example. Hopefully someone else with more experience can comment on this issue.

[2022-10-02 04:56] abatilo commented on #2480
Hi @gmlewis, I think I actually poorly chose my words. I shouldn't have said "as of v47.1.0" but instead it's more that I found this behavior while using `v47.1.0`. It appears that this has been the behavior for the history of the function? I don't think I have the availability to work on this so I'd be happy to have this open up to anyone who wants to contribute!

[2022-10-02 11:24] gmlewis commented on #2480
Thank you, @abatilo  .

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md](https://github.com/google/go-github/blob/master/CONTRIBUTING.md) guide to get sta

[2022-10-03 23:40] eolso opened #2485 "ProtectionChanges doesn't encapsulate all possible values"
The [ProtectionChanges object](https://github.com/google/go-github/blob/master/github/repos.go#L874-L877) used by [BranchProtectionRuleEvent](https://github.com/google/go-github/blob/master/github/event_types.go#L22-L30) does not include all the possible return values. Currently it looks like:
[code]
which is all that is ever returned in [GitHub's documentation](https://docs.github.com/en/develope

[2022-10-03 23:48] gmlewis commented on #2485
Thank you, @eolso !
Would you like to put together a PR for this issue?

[2022-10-03 23:50] eolso commented on #2485
Sure thing!

[2022-10-03 23:52] gmlewis commented on #2485
Thank you, @eolso ! It is yours. 😁

[2022-10-04 10:51] nettrino commented on #2483
Thanks @gmlewis. I've created a wrapper using rsc.io/2fa as a temporary quickfix (some of the classes in scraping are outdated anyhow due to selectors having changed (e.g., `.oath-application-allowlist` instead of `whitelist`) so I had to make changes to the scrape package anyhow). The process for registering the token was to run `go install rsc.io/2fa@latest` and then register github using `2fa -

[2022-10-04 22:49] #2485 closed

[2022-10-06 16:49] sagar23sj commented on #55
Hey @gmlewis , I am helping fellow Go developers get started with the open-source.
This being a great good first issue to get started with, I have asked them to check this out.

Since Hacktoberfest is also going on and many of us are participating in the event, so if possible could you please accept the contributions to this issue by tagging PR with the label **hacktoberfest-accepted**.

or you ca

[2022-10-06 17:02] gmlewis commented on #55
Thank you, @sagar23sj - done.

[2022-10-07 03:55] zaataylor commented on #2480
I took a look into this tonight because I'd like to get involved in the project. Based on the `path.Dir` docs I found [here](https://pkg.go.dev/path@go1.19.2#Dir), it seems like it _should_ be possible for the existing code to download files from the root of a repo:

I was able to construct a minimal working example of this as follows:
1. Created a test module called `go-gh-testcase`. `main.go` of

[2022-10-07 11:02] gmlewis commented on #2480
Thank you, @zaataylor , for the detailed analysis and excellent write-up... It is greatly appreciated! I believe that you have demonstrated that this is working as intended.

I will leave this issue open for a short while I'm case there are any other comments, but otherwise I believe this issue can be closed.

[2022-10-07 14:59] nettrino commented on #2483
@gmlewis the code in the repo for the login part works fine. We don't need to register a separate 2fa as I mentioned in my previous comment all we need to do is when subscribing to github, _before scanning the QR code_ select the text key option, and then get the secret key and pass that as an input for the OTP seed if that makes sense. Thus we would scan the QR code via the app, and use the secre

[2022-10-07 14:59] #2483 closed

[2022-10-07 17:51] nettrino commented on #2483
@gmlewis opened https://github.com/google/go-github/pull/2488 to address the outdated selector issue

[2022-10-09 00:20] abatilo commented on #2480
Hi @zaataylor, your solution demonstrates accessing things at the root of the repo for a GitHub Personal Access Token which does not have the same fine grained per file permissions that a GitHub App might request.

Maybe this issue needs to be re-worded to be specific about the file path permissions that you can set on a GitHub App.

[2022-10-09 00:24] gmlewis commented on #2480
@abatilo - is it not possible to give the GitHub App the appropriate permissions needed to access the root of the repo?

If that is truly the case, then I think that you need to contact GitHub tech support and ask how to accomplish this in a GitHub App.
Feel free to report back here with what you find out.

[2022-10-10 15:43] abatilo commented on #2480
It's possible. I discovered this because I am building an app to do things based on CODEOWNERS, which can be in 3 locations. `CODEOWNERS`, `docs/CODEOWNERS`, and `.github/CODEOWNERS`.

There's no actual need for the app to request permissions or have any ability to read files in the root of the repo and my guess is that security minded organizations would prefer that.

I do still think that the "c

[2022-10-11 14:13] valbeat opened #2489 "RepositoryCreateForkOptions is should be body parameters"
Hi Team!
RepositoryCreateForkOptions is not working. because it is not url params but body params.
[docs.github.com/en/rest/repos/forks#create-a-fork](https://docs.github.com/en/rest/repos/forks#create-a-fork)

Sorry I didn't realize this when I added it before.

I will create a pull request for this issue.
Thanks.

[2022-10-12 13:19] k1rnt opened #2491 "Fix set-output in Github Actions to be deprecated"
Hi!

https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/
As per this URL, set-output of Github Actions is deprecated.

I would like to create a PR for a fix to this issue.
Thanks.

[2022-10-12 16:55] #2491 closed

[2022-10-14 04:45] mohaldu opened #2493 "Add support to create / update / delete custom roles for organisations"
API can be found here - https://docs.github.com/en/rest/orgs/custom-roles#create-a-custom-role

I plan on working on this feature

[2022-10-14 13:40] gabriel-samfira opened #2495 "Missing ListRunnerApplicationDownloads() for Enterprise"
It looks like the ```ListRunnerApplicationDownloads()``` function is missing for the ```Enterprise``` service. For situations where you programmatically need to set up new runners for an enterprise, especially if that enterprise is on a GHE Server, you need to be able to fetch the available tools. This also gives us a temporary download token.

[2022-10-14 18:56] lionelvillard opened #2497 "Support for discussion_comment"
The event discussion_comment is not supported yet. See https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-payloads#discussion_comment for more information

[2022-10-15 12:05] gmlewis commented on #2497
Thanl you, @lionelvillard . Would you like to create a PR to address this or would you like me to open this up to other contributors of this repo?

[2022-10-16 16:51] #2495 closed

[2022-10-17 15:01] qascade commented on #2497
Hi, if no body else is working on this. May I take a look at this issue?

[2022-10-17 15:20] lionelvillard commented on #2497
thanks @qascade !!

[2022-10-17 15:47] #2493 closed

[2022-10-17 23:36] mohaldu commented on #2493
Hi @gmlewis , could we have this released? We would like to leverage the new API in the terraform github provider.

[2022-10-18 00:12] gmlewis commented on #2493
Yes, I'll work on a new release.

[2022-10-18 00:32] gmlewis commented on #2493
This has been released here: https://github.com/google/go-github/releases/tag/v48.0.0

[2022-10-19 09:59] marcelosousa commented on #2462
I second this proposal.

As a step further, we could group events and provide an higher level API. For example, some of them always have a Sender field. So we have dummy code like:

[code]

@hashtagchris: I'll try to help out on the draft PR.

[2022-10-19 10:03] marcelosousa opened #2505 "Support for `security_advisory` events"
Based on my initial investigation on https://github.com/google/go-github/blob/master/github/messages.go#L47, there is no support for the `security_advisory` events.

Here's a payload example of such event:

[code]

[2022-10-19 10:40] jporzucek opened #2506 "Add apps to restriction rules in branch protection"
At the moment only `users` and `teams` can be added to restriction rules in branch protection, for example in "Restrict who can dismiss pull request reviews".   In order to stay up to date with GitHub REST API, also `apps` entities should be added to that list.

[2022-10-19 17:57] hblankenship opened #2510 "Repositories.ListCommitActivity throwing Unmarshal error:"
json: cannot unmarshal object into Go value of type []*github.WeeklyCommitActivity

more info:
*encoding/json.UnmarshalTypeError {Value: "object", Type: reflect.Type(*reflect.rtype) *{size: 24, ptrdata: 8, hash: 3339529106, tflag: tflagExtraStar (2), align: 8, fieldAlign: 8, kind: 23, equal: nil, gcdata: *1, str: 78188, ptrToThis: 93696}, Offset: 1, Struct: "", Field: ""}

code used was simple: ws

[2022-10-19 18:52] gmlewis commented on #2510
Thank you, @hblankenship , for the reported issue.

Would you like to create a PR, or shall I open this issue up to any other contributor to this repo to address the problem?

[2022-10-19 22:28] hblankenship commented on #2510
You can open it up. Thanks.

[2022-10-20 00:00] gmlewis commented on #2510
Thank you, @hblankenship.

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md](https://github.com/google/go-github/blob/master/CONTRIBUTING.md) guide to get

[2022-10-20 14:57] #2506 closed

[2022-10-21 09:05] jporzucek opened #2511 "ListAlertsForOrg options should support cursor pagination"
At the moment `ListAlertsForOrg` function supports only offset (`page`) pagination while querying REST API [https://api.github.com/orgs/ORG/code-scanning/alerts](https://api.github.com/orgs/ORG/code-scanning/alerts) endpoint returns `link` header with `after` query parameter. Therefore, the `AlertListOptions` struct should include `ListCursorOptions` field.

[2022-10-21 11:26] gmlewis commented on #2511
According to the docs here: https://docs.github.com/en/rest/code-scanning#list-code-scanning-alerts-for-an-organization
These endpoints also take a `page` parameter that it an integer, which is what `ListOptions` provides.

So unfortunately, this is not a simple replacement, and #2512 would be a breaking API change that would confuse anybody currently using the `Page` field.

This is going to need

[2022-10-21 13:47] gmlewis commented on #2511
Yikes! That is a bit disturbing, @jporzucek - thank you for the research!

Would you mind contacting GitHub tech support and explaining the situation to them and see if they have a recommendation for us here in this repo?  Feel free to point to this issue that you started.

[2022-10-22 15:06] akshit2410 commented on #2510
Hello,

I am freshly new to open source.
I wanted to know more about this issue and how to set up and run this repo on my local.

Thanks.

[2022-10-22 15:10] gmlewis commented on #2510
Step one: completely read through our [CONTRIBUTING.md](https://github.com/google/go-github/blob/master/CONTRIBUTING.md).
Step two: if you still have specific questions, please feel free to post them here.

[2022-10-22 15:19] akshit2410 commented on #2510
I have gone through CONTRIBUTING.md and have also completed cloning, run three commands generate, test, vet.
I can see that the update-urls folder has the main.go file which will be the entry point for the project.
I wanted how I can run that on my local or if there is some way to do it as I can't do it with go run main.go cmd.

[2022-10-22 15:26] gmlewis commented on #2510
This repo is a client library to access the GitHub v3 API.  As a result, there is really nothing locally for you to run, per-se, unless you want to take a look at the examples found in the "examples" directory, but really those are not intended for you to run them like a demo... they are just examples of things you can accomplish with this client library.

I hope that helps set expectations for wh

[2022-10-22 15:27] gmlewis commented on #2510
No, that is not correct.  If you read the provided documentation for `update-urls`, it says:

[code]

There is no demo for you to run.

[2022-10-22 16:05] akshit2410 commented on #2510
So for example, I find and write a fix for this issue related to ListCommitActivity , and now i have to check that my fix will give the desired output how will i accomplish that test ?

[2022-10-22 16:07] gmlewis commented on #2510
You could write a very small Go program that calls your modified endpoint and operates on one of your own personal repos to test it out.

[2022-10-22 16:09] akshit2410 commented on #2510
Okay so basically I have to get my fixed merged in the client library first for that as there is no way to run it locally .
am I understanding this correctly?

[2022-10-22 16:15] gmlewis commented on #2510
No. You simply create a branch locally and make your change. Then create a go program anywhere else on your system and point it to your local repo by using "replace" in the `go.mod` file.

See documentation here: https://go.dev/ref/mod#:~:text=A%20replace%20directive%20replaces%20the,a%20platform%2Dspecific%20file%20path.

[2022-10-22 21:23] krishnaindani commented on #2510
is thi issue being worked on else I would like to give a shot?

[2022-10-22 22:01] gmlewis commented on #2510
Well, from the above conversation, I got the impression that @akshit2410 wants to work on this one. Let's give time for @akshit2410 to let us know if this is true.

[2022-10-22 22:04] krishnaindani commented on #2510
sure thing. sounds good

[2022-10-23 12:18] akshit2410 commented on #2510
@krishnaindani  please go ahead and give it a try, I am more inclined towards understanding things better before making any contributions. I will be trying to come up with a solution and will also learn from the solution you will provide.
Thanks.

[2022-10-23 12:25] gmlewis commented on #2510
Thank you, @akshit2410 !

@krishnaindani - this issue is yours. Thank you!

[2022-10-24 01:48] krishnaindani commented on #2510
Thank you, I will start working on this first by duplicating these errors and working on the fix and will post questions if I have meanwhile

[2022-10-24 03:05] petersondmg commented on #2480
Hello, may I try to take a look on this?

[2022-10-24 10:41] gmlewis commented on #2480
Sorry, @petersondmg , I should have assigned this to @abatilo from the previous comment.  Let's wait to hear back what @abatilo discovers.

[2022-10-24 17:15] abatilo commented on #2480
I did NOT have the time when I had hoped to. Please feel free to assign to @petersondmg! I appreciate it though @gmlewis

[2022-10-24 17:29] gmlewis commented on #2480
No problem, @abatilo - thank you for the note, and best wishes to you.

@petersondmg - it is yours.

[2022-10-25 18:28] gmlewis commented on #2511
Ah, right... thank you for the reminder, @AbbanMustafa !
So we are fine with pulling in both types of list options into the struct where it is necessary.

@jporzucek - could you please do something similar to #2446 ?

[2022-10-25 19:27] jeremyhayes opened #2529 "Support for organization security managers"
I'm planning to add this support, using this issue to track.

- docs: [Security manager role](https://docs.github.com/en/organizations/managing-peoples-access-to-your-organization-with-roles/managing-security-managers-in-your-organization)
- docs: [API](https://docs.github.com/en/rest/orgs/security-managers)

[2022-10-26 15:46] AbbanMustafa opened #2534 "GetAuditLog response is not fully enriched"
Many expected fields are omitted from the [AuditEntry](https://github.com/google/go-github/blob/master/github/orgs_audit_log.go#L34) result of the GetAuditLog request.

For example here are 4 logs for different actions

[code]

[code]

[code]

[code]

These are very barebones and the AuditEntry has many fields we think are essential that are just not present. Does the request need an additional pa

[2022-10-26 15:50] gsmachado commented on #2362
@josebalius any progress on this?

[2022-10-26 17:42] gmlewis commented on #2534
I'm looking through the official GitHub v3 API documentation: https://docs.github.com/en/rest
and am no longer finding any endpoints relating to getting the audit logs for an organization.

@AbbanMustafa - could you please contact GitHub Tech Support and ask them where the documentation is now located for these endpoint(s)?

[2022-10-26 18:23] AbbanMustafa commented on #2534
@gmlewis The docs are confusing, they need to be specified under Enterprise Cloud
https://docs.github.com/en/enterprise-cloud@latest/rest/orgs/orgs#get-the-audit-log-for-an-organization

[2022-10-26 19:27] gmlewis commented on #2534
Thank you, @AbbanMustafa !

Have you tried adding `Include: github.String("all")` in your request?

[2022-10-26 19:34] AbbanMustafa commented on #2534
Yes that just includes all log types but doesnt make the logs themselves include more

[2022-10-26 19:38] gmlewis commented on #2534
Thanks, @AbbanMustafa.  Can you please try and see if you can get more data from using a direct `curl` to the API?

If you are unable, then it is time to contact GitHub Tech Support afterall.
Would you mind asking them how to get all the data back (and show them the experiments you tried using `curl`)?

[2022-10-27 11:38] josebalius commented on #2362
@gsmachado I started it but never really got into it much. Are you interested in taking over the issue or in the functionality?

[2022-10-27 11:41] gsmachado commented on #2362
@josebalius I'm developing something that would need the codespaces API. If I progress with the implementation directly on the go-github repo, I will submit a PR. 😄

[2022-10-28 12:53] gmlewis commented on #55
Note to @sagar23sj and all Hacktoberfest participants:

Today is your last day to contribute to this repo for Hacktoberfest credit due to myself being OOO after today (through the end of the month).

Thank you for your contributions, and we will hopefully see you throughout the year (and you won't wait until next October '23 :grin: )!

[2022-10-29 04:01] petersondmg commented on #2480
Hello
Maybe I misunderstood the point of the issue, but I was able to 'download files from root of repo with DownloadContents', using a GitHub App token, and a personal token as well.

To generate a Github App Token I did:

1 - generated a private key for the app
2 - authenticated as a GitHub App (generated the jwt)
3 - retrieved an access token by requesting the endpoint using the jwt https://api

[2022-10-29 09:44] gmlewis commented on #2480
Thank you, @petersondmg !
Let's wait to hear from @abatilo before proceeding.

[2022-10-29 16:34] abatilo commented on #2480
Hi @petersondmg. If you configure the GitHub App with the `Contents` permissions, then there aren't any problems with downloading from the root. However, if you configure single files only like I have in the screenshot in the main post, and you provide a single file in the root as the only permission, then you won't be able to download it because you've only granted permission to the single path a

[2022-10-30 01:51] krishnaindani commented on #2510
I have started to work on this, I see this behavior and its looks quite random.

I get the results back with no error and sometimes it throws unmarshalling error

`json: cannot unmarshal object into Go value of type []*github.WeeklyCommitActivity` .

@hblankenship are you seeing unmarshalling error everytime or is that quite random?

@gmlewis I am still thinking and looking why is this behaviour b

[2022-10-30 02:26] krishnaindani commented on #2510
Here is more context on this:

So when it returns the 200 status code that means we get the response data and it is able to unmarshall the response.

The error is when we get the status code 202 when the response is not ready and we get the error `job scheduled on GitHub side; try again later`

Here it looks like `ListCommitActivity` method uses `Do` method https://github.com/google/go-github/blob

[2022-10-30 02:33] krishnaindani commented on #2510
Update on this: I was running this on old github package version

[2022-10-30 02:35] krishnaindani commented on #2510
I ran this with `v48` version and it looks good to me when the respons is not ready it throws 202 and error `job scheduled on GitHub side; try again later`.

@hblankenship which package version are you using? I believe if you are using old version you might see this behaviour

[2022-10-31 13:57] hblankenship commented on #2510
I think you are right. Updated package and just receiving the standard 202 or 404, depending on the timing. The error seems to be gone (fwiw, it looks like I had installed a default 'incompatible' package...). It won't be the last time, I am sure.

[2022-10-31 14:57] augustovictor opened #2553 "[Question] How to mark a draft pull request as ready for review?"
Sorry if I missed something, but could not find how to mark a draft pull request as ready for review. Any help on that?

Thanks in advance

[2022-11-01 19:41] #2529 closed

[2022-11-03 17:30] CravateRouge opened #2555 "Users.Get(): An attempt was made to access a socket in a way forbidden by its access permissions"
When attempting to call `(github.NewEnterpriseClient(apiEndpoint, apiEndpoint, tc)).Users.Get(context.TODO(), ""))` I have the following error:
[code]

I don't understand why this error is happening because this function doesn't need to bind to any port of my Windows right? Could someone enlighten me on the subject?

[2022-11-03 17:49] gmlewis commented on #2555
The `baseURL` should be the base URL of your GitHub Enterprise server, and _that_ server is most likely the one that is complaining. You first need to verify that you got the `baseURL` of your server correct. If it is correct, then try a `curl` command against it and see if you can get a successful response.

When debugging problems like this, it is sometimes helpful to get a dump of the equivalen

[2022-11-04 11:54] #2511 closed

[2022-11-04 12:42] gmlewis commented on #2510
Thanks, @krishnaindani and @hblankenship - I'm thinking this issue can safely be closed.  Agreed?

[2022-11-04 12:50] gmlewis commented on #2553
I think you simply remove the "Draft" flag and that marks it as ready for review.  Do you have a specific PR you are talking about?  The only draft I see is https://github.com/google/go-github/pull/2477 but that is not you, AFAICT.

[2022-11-05 04:38] krishnaindani commented on #2510
yes I feel can be closed

[2022-11-05 06:53] #2510 closed

[2022-11-06 10:04] CravateRouge commented on #2555
Thank you for taking time answering me. After more investigation I noticed it's more an issue about untrusted/trusted software on my system. For example `(WebRequest.Create("https://<github endpoint>")).GetResponse()` will fail in an executable but will work as a powershell object.

[2022-11-06 10:04] #2555 closed

[2022-11-06 12:23] augustovictor commented on #2553
Hey @gmlewis . Thanks for your response.
I meant to do it programmatically. I managed to fetch the pull request I wanted to mark as ready for review. Tried using [this Edit method](https://github.com/google/go-github/blob/7a7a7f0943f3fcffc4b8f30feaaed7333b035a99/github/pulls.go#L332) but it has no `Draft` attr so I can set it to false.

[2022-11-06 13:03] gmlewis commented on #2553
Ah, yes, it looks like we need to add it to the update struct. Do you want to create a PR, @augustovictor , or would you like me to open up this issue to other contributors to this repo?

[2022-11-07 06:12] bob-bins opened #2558 "Support workflow restrictions in actions_runner_groups"
Support the following options in resource github_actions_runner_group

[code]

Github API Documentation: https://docs.github.com/en/rest/actions/self-hosted-runner-groups#get-a-self-hosted-runner-group-for-an-organization

[2022-11-07 14:16] gmlewis commented on #2480
I believe this issue can be closed. Do you agree, @abatilo and @petersondmg ?

[2022-11-07 15:09] petersondmg commented on #2480
@gmlewis I'm almost done with a solution to the point brought by @abatilo, that is, downloading the file without having to list the base directory. I'll try to send a PR till the end of the week if you think it's still valid.

[2022-11-07 16:07] jporzucek opened #2560 "Support users and teams in branch protection access restrictions"
At the moment only `App` type users are supported in CRUD operations on branch protection restrictions, for example: https://docs.github.com/en/rest/branches/branch-protection#get-apps-with-access-to-the-protected-branch

`Users` and `Teams` type users should also be supported to stay up to date with GitHub REST API docs.

[2022-11-07 16:14] gmlewis commented on #2560
Thanks, @jporzucek . Do you want to create a PR or would you like this issue to be opened up to other contributors of this repo?

[2022-11-09 14:49] #2558 closed

[2022-11-10 17:16] augustovictor commented on #2553
I'd love to contribute. However I don't have time to work on it 😞

[2022-11-10 17:23] gmlewis commented on #2553
No problem, @augustovictor !

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md](https://github.com/google/go-github/blob/master/CONTRIBUTING.md) guide to g

[2022-11-13 01:40] mamh2021 opened #2563 "[Question] about the "struct field" or "func parameter" pointer or not"
Hi, all,

I have some questions about some questions about the "struct field" or "func parameter" pointer or not,

I found that all outputs are of pointer type  which is no doubt.

# Question 1

but some xxxOptions struct sometimes the pointer was used, sometimes not, most are non pointer types.

but like below struct ListCheckRunsOptions
[code]

and this struct ListCheckSuiteOptions
[code]
and th

[2022-11-14 09:39] VUHAILAM commented on #576
Hi @gmlewis and @dmitshur, Could you please let me know this issue has solved or updated? I would like to work on this issue!! Thank you!

[2022-11-14 13:13] gmlewis commented on #576
@VUHAILAM - this issue is yours. Thank you!

[2022-11-14 13:58] gmlewis commented on #2563
To simplify access to fields, we recommend using the auto-generated accessors, thereby making it essentially irrelevant whether they are pointers or not.

As to reasoning for pointers versus not pointers, structs used for requests typically need pointers to optionally not send the respective fields.

However, on the receive side, we use pointers for structs to facilitate iteration... There is a cl

[2022-11-14 22:44] jeremyhayes opened #2565 "Release Request"
🙏 Apologies if this is not the appropriate forum for such a request, but can we get a new release created?

I'd like to use https://github.com/google/go-github/pull/2530 on a downstream change in https://github.com/integrations/terraform-provider-github/issues/1210

[2022-11-15 01:14] gmlewis commented on #2565
Yes, I can work on putting together a release.

[2022-11-15 02:39] gmlewis commented on #2565
This release contains the changes you requested: https://github.com/google/go-github/releases/tag/v48.1.0

Closing issue as resolved.

[2022-11-15 02:39] #2565 closed

[2022-11-19 20:36] gmemstr commented on #2033
@mahansky Looks like the GitHub docs have been updated! :)

[2022-11-20 04:55] bob-bins opened #2570 "Change type of RunnerGroup.SelectedWorkflows to `*[]string`"
`go generate` does not generate `GetSelectedWorkflows` given the `[]string` type.

[2022-11-20 09:56] VUHAILAM commented on #576
Hi @dmitshur , my this problem understanding that  we have a function `testType` which helps to verify the live Github API data types and self-define data types. And when unmarshalling  to map, some fields are missed because `omitempty` option.
I have some questions:
Should we need to identify and ensure data fields of nested structs?
 And Could you please provide me some encoding/json rules examp

[2022-11-20 13:09] gmlewis commented on #576
@VUHAILAM - I'm not sure why I ever labeled this as a "good first issue"... that was a mistake.

Looking back at the comments, [Dmitri says above](https://github.com/google/go-github/issues/576#issuecomment-351855579) that this is a hard issue, and if you wish to withdraw, I'll remove your name from the issue.

[2022-11-20 13:18] gmlewis commented on #2570
That is correct, because a `[]string` does not need an accessor, as there is no possibility of a `nil` dereference.

There is no need that I'm aware of to change the field to type `*[]string` as that is only needed in very rare circumstances, and I don't think this is one of them, correct?  Why do you wish to change it?

[2022-11-20 14:58] raffaelespazzoli opened #2572 "getting "json: unsupported type: func() (io.ReadCloser, error)" on DeleteHook"
As the title says, I get `json: unsupported type: func() (io.ReadCloser, error)` as part of the response (not the error) of the `DeleteHook` function.
So here is a fragment of my code:
[code]
the output is:
[code]
the same client works with the other hook related functions. Looking around it seems that this error is due to not setting the content type correctly in the headers. I'm testing with the

[2022-11-20 15:03] gmlewis commented on #2572
Thanks for the report, @raffaelespazzoli !

It might help to use https://github.com/gmlewis/go-httpdebug to debug this.

[2022-11-20 15:23] raffaelespazzoli commented on #2572
this is what I got:
[code]
looks good to me and yet the error...

[2022-11-20 15:45] VUHAILAM commented on #576
@gmlewis I think we should break down this issue. I prepared some code can help to solve for the general data types in go-github.

`func getMapJsonKeyName(typ interface{}) map[string]interface{} {
	var structType reflect.Type
	if isSlice := reflect.Indirect(reflect.ValueOf(typ)).Kind() == reflect.Slice; isSlice {
		structType = reflect.Indirect(reflect.ValueOf(typ)).Index(0).Type()
	} else {
		str

[2022-11-20 15:48] gmlewis commented on #2572
What do you get when you call directly with `curl`?

[2022-11-20 15:51] raffaelespazzoli commented on #2572
is there a way for this library to print the curl command, it looks like so, but the above is all I get...

[2022-11-20 15:53] gmlewis commented on #576
I won't be able to dig deep into this issue until at least the beginning of the new year. It is a 5-year-old issue and is probably not a very high priority, so I would say to give it your best shot and report your findings to hopefully move the issue forward somewhat. Thanks.

[2022-11-20 15:54] gmlewis commented on #2572
That is exactly what the other repo is doing.
There was a discussion that it would be better to keep that helper function outside of this repo.

[2022-11-20 15:56] raffaelespazzoli commented on #2572
yeah that's what I meant the other repo, anyway it gives me enough to build the curl command.

[2022-11-20 17:50] raffaelespazzoli commented on #2572
when  execute with curl, I get the following:
[code]

[2022-11-20 18:14] raffaelespazzoli commented on #2572
ok, so I had some issue in my code. everything works now. that weird response message remains unexplained, but the delete actually works. closing....

[2022-11-20 18:14] #2572 closed

[2022-11-20 19:00] bob-bins commented on #2570
Makes sense!

(I'm new to Golang projects, so I wasn't sure if there was a convention where it's preferred to access values through getter functions, but after some review following your comment it makes sense that there's no need for this)

[2022-11-20 19:00] #2570 closed

[2022-11-21 17:12] alidevhere commented on #2553
Hii I would like to work on this issue. Please assign me this issue, i would love to work on it.

[2022-11-21 17:29] gmlewis commented on #2553
Thank you, @alidevhere ! The issue is yours.

[2022-11-23 02:24] fproulx-boostsecurity opened #2574 "Add new Branch Protection "Require Last Push Approval""
New Branch Protection features added in October are not yet supported https://github.blog/changelog/2022-10-20-new-branch-protections-last-pusher-and-locked-branch/

https://docs.github.com/en/rest/branches/branch-protection#get-branch-protection
`require_last_push_approval`

[2022-11-23 12:55] gmlewis commented on #2574
Thank you, @fproulx-boostsecurity !

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that others don't attempt to duplicate the work.

Please check out our [CONTRIBUTING.md](https://github.com/google/go-github/blob/master/CONTRIBUTING.md) gui

[2022-11-24 11:05] s4nji opened #2575 "Support for repository actions permissions access"
Looks like this was added to github.com around [March 2022][1] and Enterprise Server in [May 2022][2].
It allows other repositories in the same organization or enterprise to access actions in said repository

Endpoints:
[`GET` `/repos/{owner}/{repo}/actions/permissions/access`](https://docs.github.com/en/enterprise-cloud@latest/rest/actions/permissions#get-the-level-of-access-for-workflows-outside

[2022-11-24 12:57] gmlewis commented on #2575
Sounds good, except how about if we name the file `repos_actions_access.go` instead?
Based on your questions, I'll assign this issue to you, but let me know if you don't want to work on it, and I'll open it up to other contributors.
Thank you, @s4nji !

[2022-11-24 16:19] XaurDesu commented on #2574
Hey there, is this issue still available? I'm currently learning how to contribute to open source, and this was marked as a good place to start.

[2022-11-24 16:21] gmlewis commented on #2574
Cool! Yes, this issue is available.
Thank you, @XaurDesu , this issue is yours.

[2022-11-24 22:28] XaurDesu commented on #2574
Where should this change be located, exactly? I am currently reviewing the code structure of this project, yet I am not really sure where should we add this change. commit cb24cabfacd4bff06727d5b3acea48ba56e5f690 is concerned with this functionality too and references `github/github-accessors.go`, `github/github-accessors_test.go` and `github/repos.go`, yet i'm not sure if either of those is the t

[2022-11-24 23:02] dtdao commented on #2574
@XaurDesu Dang you beat me getting to this ticket. 😄
I was also kinda poking around as well. And i think https://github.com/google/go-github/commit/cb24cabfacd4bff06727d5b3acea48ba56e5f690 added `require_last_push_approval` but there still no implementations for `lock_branch` and `allow_fork_synching`.

So...i would think you need to update the `Protection` struct with those 2 new fields.
and foll

[2022-11-25 02:25] alidevhere commented on #2553
Hii i have tried the proposed solution but it does not seem to work 😢 .Adding Draft field in `pullRequestUpdate` struct does not update the draft Boolean. And i think the reason is this  [API](https://docs.github.com/en/rest/pulls/pulls#update-a-pull-request) only allow 5 fields to edit in pull request
title, body, state. base, maintainer_can_modify

[2022-11-25 02:29] gmlewis commented on #2574
Thanks, @dtdao and @XaurDesu - yes, that sounds like a promising plan. Let's please take a look at this in a PR and see how well it works out.

[2022-11-25 02:37] gmlewis commented on #2553
Ah!  I misread this documentation https://docs.github.com/en/rest/pulls/pulls#update-a-pull-request
above, and it looks like the official API does not let us update the "draft" status of a PR.

@alidevhere - can you please contact GitHub Tech Support and ask them how to handle this situation using the v3 API, and then report back here with your findings?  Feel free to point them to this issue.

[2022-11-25 02:49] alidevhere commented on #2553
ok, I will do that

[2022-11-25 16:20] alidevhere commented on #2553
@gmlewis Got this response from github support:

Thanks for reaching out to GitHub Support!

The REST API currently does not support converting draft pull request to ready-for-review. This is only available via [GraphQL API](https://docs.github.com/en/graphql/reference/mutations#markpullrequestreadyforreview)[1].

Please let me know if there are any additional questions you have on this.

Regards

[2022-11-25 21:13] gmlewis commented on #2553
Thank you, @alidevhere !

So it is not possible currently with the v3 API.

Closing issue as not possible.

[2022-11-25 21:13] #2553 closed

[2022-11-25 21:15] alidevhere commented on #2553
@gmlewis  i was really excited for my first contribution to Open source 😞 . Can you please assign me some other task.

[2022-11-25 21:23] gmlewis commented on #2553
I suggest you read through the open issues and pick one that makes the most sense to you, then we can assign it as yours.

If you have a Windows machine, I've got a bug in another repo that I'm having trouble figuring out if you would like to tackle that one instead. 😁

Thank you, @alidevhere !

[2022-11-25 21:27] alidevhere commented on #2553
@gmlewis
I have read but all good first issues are already assigned.

I wonder who still uses windows 🤔😂

[2022-11-25 21:54] gmlewis commented on #2553
OK, then if you are really motivated, you can take a look at the [GitHub blog](https://github.blog/) or [GitHub v3 API documentation](https://docs.github.com/en/rest), and study this code base, then figure out where this repo either differs from the official v3 API or where we have not yet implemented recent additions to the API... then create an issue and ask to be assigned to the issue that you

[2022-11-26 04:40] XaurDesu commented on #2574
I've got an uncommited version of the changes proposed by @dtdao in my local machine, mostly basing it in the way cb24cabfacd4bff06727d5b3acea48ba56e5f690 was strtuctured, with all changes being inside `repos.go`, modifying `Protection` and adding the type structs `AllowForkSyncing` and `LockBranch` tests don't indicate any failures but i'm not sure of the format, should i commit to my fork those

[2022-11-26 16:30] gmlewis commented on #2574
I'm not sure I understand the question, but feel free to create a PR and add "Fixes: #2574" to the description and we can take a look at it, and see where to go from there. See our CONTRIBUTING.md guide for general helpful advice about contributing to this project.

[2022-11-26 19:02] XaurDesu commented on #2574
Just linked a pull request for it, again, it is fairly barebones but has the functions discussed in this issue.

[2022-11-28 16:59] #2574 closed

[2022-11-28 20:05] XaurDesu opened #2579 "Improve CONTRIBUTING.md"
As evidenced and discussed in https://github.com/google/go-github/pull/2577 , generated files are not clearly explained in `CONTRIBUTING.md` and this should be improved, however, i phrase this issue in a more general way as to allow for discussion regarding the contents of this file and how we might improve them.

[2022-11-29 01:59] blacktop commented on #2113
Still getting this error

[2022-11-29 13:24] gmlewis opened #2580 "Support new calendar-based versioning for the REST API"
GitHub blog announcement:
https://github.blog/2022-11-28-to-infinity-and-beyond-enabling-the-future-of-githubs-rest-api-with-api-versioning/

[2022-11-29 15:21] klepiz opened #2582 "Add team repository permission failed"
[code]
Seem like the way is parsing TeamAddTeamRepoOptions is causing an error on the endpoint:
[code]
 Im using Admin permissions for edit the teams. Am I doing something wrong?

[2022-11-29 15:31] gmlewis commented on #2582
Can you please try the `curl` equivalent of the command (using https://github.com/gmlewis/go-httpdebug) to see if it works that way?
That will help us determine if it is an API issue or an issue in this repo.

Thank you!

[2022-11-29 16:02] klepiz commented on #2582
I ran the same endpoint on postman and I get this issue
[code]
So, it may be an API issue instead?

[2022-11-29 16:33] gmlewis commented on #2582
Yes, that sounds right.  Please contact GitHub tech support and see if they have a solution for you.

Feel free to report your findings back here in this issue to help out others who might encounter the same problem.

[2022-11-29 19:50] alidevhere opened #2584 "Actions.Cache from github API v3 is not implemented"
Hii @gmlewis

Any endpoint in  Actions.Cache is not implemented yet. [ See in official docs ](https://docs.github.com/en/rest/actions/cache?apiVersion=2022-11-28#about-the-cache-api)

I would like to contribute this 😍

Thanks.

[2022-11-29 20:20] gmlewis commented on #2584
Thank you, @alidevhere !  It is yours.

[2022-11-30 01:20] gmlewis opened #2585 "Support new Audit Log fields for Dependabot Alerts"
GitHub Announcement: https://github.blog/changelog/2022-11-29-audit-log-improvements-for-dependabot-alerts/
New fields: `alert_number`, `ghsa_id`, `dismiss_reason`, and `dismiss_comment`.

This would be a great PR for any new contributor to this repo or a new Go developer.
All contributions are greatly appreciated!

Feel free to volunteer for any issue and the issue can be assigned to you so that

[2022-11-30 03:07] TruRelax opened #2586 "Create Repo with Discussion Enabled"
According to the API doc: https://docs.github.com/en/rest/repos/repos?apiVersion=2022-11-28

[code]

A new field `has_discussions` is added to enable discussion, this SDK should support it as well.

[2022-11-30 12:56] gmlewis commented on #2586
Thanks, @TruRelax - are you interested in making a PR, or should this issue be opened up to other contributors to the repo?

[2022-11-30 15:27] klepiz commented on #2582
Hello!!  So I was setting wrong the dara-raw on postman and thats why I was getting the issue, which means that the GH API is working as it should, so it could be a bug on this repo then

[2022-11-30 15:34] gmlewis commented on #2582
Can you post an example of a working `curl` call, making sure to remove all tokens and secrets?

The next step is to compare that working `curl` call to the equivalent call made by this repo and looking at its "curl equivalent" (using `go-httpdebug`) to see how it differs.