[2017-03-03 23:09] gmlewis opened #571 "With removal of deprecated client.Rate in #555, rate limit info needs more visibility"
It used to be that clients might make API calls like:

[code]

but after #555, it turns out that `checkRateLimitBeforeDo` will return an error without rate information.
I have a PR on the way that addresses this issue.

[2017-03-03 23:18] gmlewis commented on #571
This change will make it easier and more consistent to check for a rate limit error, using:

[code]

[2017-03-04 00:17] shurcooL commented on #571
Just checking, but did you see this sentence in the docs of `Do`?

Also, the section on rate limiting in the package comment, and the example there?

https://godoc.org/github.com/google/go-github/github#hdr-Rate_Limiting

So, the way I'd check for rate limit errors is as shown in the provided example in the package documentation at https://godoc.org/github.com/google/go-github/github#hdr-Rate_Limi

[2017-03-04 00:18] shurcooL commented on #571
That section needs to be updated, since it still refers to a removed deprecated method:

[2017-03-04 00:34] gmlewis commented on #571
Ah, I see.  Hmmm... How do you feel about supporting both mechanisms?
I rather like the change in case someone is already used to checking the rate limit in the response... but if you feel strongly, I will just close this CL.

[2017-03-04 04:42] shurcooL commented on #571
@gmlewis I replied in the PR https://github.com/google/go-github/pull/572#pullrequestreview-25107926, because I wanted to reference specific lines of code there.

[2017-03-04 19:18] #570 closed

[2017-03-04 20:08] samuelkaufman commented on #526
Thanks for the documentation, I'm on Go 1.6 because I'm on Google AppEngine which is on 1.6. I was able to get to the right commit before the requirements switch due to these docs.

IMHO, treating 1.6 as unsupported seems a little hasty to me due to [AppEngine being on 1.6][1], but as a non-contributor I'm happy to just pin at the old release until Google updates.

[1]: https://cloud.google.com/ap

[2017-03-04 20:58] Pezhin opened #574 "How do I access issue/closed_by attribute?"
API descripition here: https://developer.github.com/v3/issues/#get-a-single-issue

I want to use the `closed_by` attribute in `Get a single issue` which looks like this

[code]

How can I access it?

[2017-03-04 21:14] shurcooL commented on #574
I am guessing it's a relatively new field. We don't have it in our `Issue` struct, so it's not possible to access it currently. See:

https://github.com/google/go-github/blob/d9c241b9c95cbd5996418f70223328a37cfb9bb3/github/issues.go#L20-L51

We should add it.

It would be quite similar to a recent issue #570 and the PR to resolve it #573. One addition is that we should run `go generate` as describ

[2017-03-04 21:33] Pezhin commented on #574
I would love to work on this. Do you want a new `Closed_by` type to handle it?

Addtionally, I added `	{"repos/google/go-github/issues/1", &github.Issue{}}` to `fields.go` testing  and run the field test. (I don't know if this is the correct way to do so, I am just doing it accordingly)

The output is
[code]
I wonder if #573 really works, can you confirm it?
I may help with handle other fields as

[2017-03-05 02:06] shurcooL commented on #574
Great! Thanks! Be sure to read over https://github.com/google/go-github/blob/master/CONTRIBUTING.md#how-to-contribute so you're familiar with the contribution guidelines.

It looks like [`User`](https://godoc.org/github.com/google/go-github/github#User) is a good matching type, so there's no need to create a new type.

Are you sure you ran with the latest version of go-github? #573 was merged very

[2017-03-05 02:18] shurcooL commented on #537
I think this question is resolved, we've come to a conclusion. Closing since there's nothing actionable left to do.

We can continue to use this issue as reference on the topic, or to post followup comments. (Although it's gonna be harder to find...)

[2017-03-05 02:18] #537 closed

[2017-03-05 02:18] shurcooL opened #576 "tests/fields: False positive for fields with null values, reported as "missing" incorrectly."
There appears to be a bug in the `./tests/fields` test/utility, causing some fields to be falsely reported as "missing".

For example, in the following test case:

[code]

The real GitHub API response from https://api.github.com/repos/google/go-github/issues/1 includes:

[code]

Note that the value of `milestone` is `null`.

The corresponding struct field `Issue.Milestone` exists:

https://github.

[2017-03-05 02:18] shurcooL commented on #574
I've looked into it. The reason `milestone` doesn't show up is because of a bug in the `fields` tool, see #576.

[2017-03-05 03:28] shurcooL commented on #576
There are multiple approaches to solving the issue. I can't think of one without problems.

Essentially, we want to either modify the struct being marshaled into JSON to strip its "omitempty" JSON options. Alternatively, we can use reflection and (re)implement encoding/json rules for mapping struct fields to JSON keys.

I've prototyped the latter, and it works (`milestone` key is no longer incorre

[2017-03-05 05:27] gmlewis opened #578 "Using go-github on Google App Engine with recent context changes - any interest?"
After importing the recent context changes in #529 into Google, I became aware that it is a bit trickier now to use this same code base either within an App Engine project or outside of one.

I had to pull a few tricks with `// +build appengine` and `// +build !appengine` in a couple new files and patched a couple other files to make it all work.

I'm not sure if anyone is really interested in the

[2017-03-05 05:33] shurcooL commented on #578
This was recently mentioned in https://github.com/google/go-github/issues/526#issuecomment-284177413 by @samuelkaufman, FYI.

[2017-03-06 01:52] samuelkaufman commented on #578
@gmlewis yeah I'm definitely interested. I'd managed to avoid vendoring up until Friday, when I had to pin this repo to the context changes :) I'd love to be able to keep backwards compatibility in this library so I could stay up to date (until AppEngine upgrades the go version)

[2017-03-06 18:00] gmlewis commented on #578
OK, I'll put together a PR then, @samuelkaufman... hopefully later today.

[2017-03-06 18:28] willnorris commented on #537
Sorry I missed this until now, but yeah I completely agree :)  As I've said in a few other places, if I had it to do over again, I'm not sure that I would have done the same (it's worth noting that proto3 has moved *away* from nillable fields).  If and when we ever do a rewrite (as will likely be required for the graphql API), then that is a good time to reconsider the design choice.

[2017-03-07 18:17] hackebrot opened #584 "Question: Extract Stringify() helper?"
Hey there! Thank you for making **go-github**! 😄

I find the [Stringify()][stringify] function super useful and wonder whether it could be a separate project for other projects to import and use. I couldn't find an open or closed issue on this, apologies if this is the wrong place to ask.

I would be happy to implement the library, but want to give proper attribution.

What do you think?

[stringi

[2017-03-07 19:44] gmlewis commented on #584
+cc @willnorris as he is the original author of `go-github` and `Stringify` in https://github.com/google/go-github/commit/8f77def830f742728ad2ffb1f0964a192b008ad6

[2017-03-07 23:42] willnorris commented on #584
Fine with me.  The BSD license go-github is under certainly allows for that :)

[2017-03-08 00:06] hackebrot commented on #584
Awesome! Thanks very much @willnorris @gmlewis 😃

[2017-03-08 00:06] #584 closed

[2017-03-08 00:44] #516 closed

[2017-03-08 00:52] RobbieMcKinstry commented on #303
Hi, all!
This may be tangential to this issue, but it's at least somewhat related:
since this repo doesn't release tags, deprecating and removing this method is probably a breaking change for someone out there. Like @willnorris said, it's unlikely, but still technically a breaking change if you guys decide to remove it.

I was wondering if there's a plan to mark to version this lib.

Sorry if I'm

[2017-03-08 00:55] shurcooL commented on #303
@RobbieMcKinstry We have a discussion about that in #376.

[2017-03-08 13:32] RobbieMcKinstry commented on #303
Thanks! I hadn't seen that issue!

[2017-03-08 17:15] shurcooL commented on #530
This issue was resolved via PR #544, which was recently merged, so closing.

Note, it wasn't closed automatically because neither the PR description, nor the commit message of 2694dcaaa60686a8c69d923b3d365fb9375d7e9a said "Closes #530." or equivalent. /cc @gmlewis FYI.

[2017-03-08 17:15] #530 closed

[2017-03-08 17:29] gmlewis commented on #530
Ah, so that is the case where I would need to add to the commit message during "Squash and merge" then. Thanks, @shurcooL.

[2017-03-08 17:33] shurcooL commented on #530
Yep, at least one of the PR description or commit message needs to mention that it resolves an issue, otherwise GitHub has no way of knowing what issue, if any, to automatically close.

References:

- https://help.github.com/articles/closing-issues-via-commit-messages/
- https://github.com/blog/1506-closing-issues-via-pull-requests

Note that Pull Request title does not count, it has to be in the

[2017-03-08 20:45] #531 closed

[2017-03-09 00:07] shurcooL opened #587 "Support named structs in gen-accessors.go."
@gmlewis, I wanted to ask you a question regarding what you said in https://github.com/google/go-github/pull/577#discussion_r104304110:

Did you take into account that the above won't work if accessing more than 1 field in a single expression?

For example, if the caller wants to get the name of user that created an issue, this will be okay as you mentioned:

[code]

Because of the `if u == nil {

[2017-03-09 00:26] #574 closed

[2017-03-09 00:27] gmlewis commented on #587
I thought about that at the time but didn't pursue it, thinking we would rarely run into the issue.

This is an excellent point, however, and I'm thinking that we should indeed support it so that we can have:

`planName := issue.GetUser().GetPlan().GetName()`

agreed?

If so, I'm happy to make the changes, or feel free to take it or file an issue and let anyone who wants to take it.

[2017-03-09 00:28] shurcooL commented on #587
Ok, I see.

Since this isn't time sensitive, I'd like to take a few days to think about it.

[2017-03-09 21:40] gmlewis commented on #553
Breaking updates to the preview API:
https://developer.github.com/changes/2017-03-07-community-health-api-enhancements/

[2017-03-10 00:38] bradleyfalzon commented on #578
You may have already noticed, but there was some announcements affected Go on App Engine, in particular Go 1.8 on App Engine flexible.

Docs: https://cloud.google.com/appengine/docs/go/
Announcement: https://cloudplatform.googleblog.com/2017/03/Google-Cloud-Platform-your-Next-home-in-the-cloud.html

Just an FYI in case this changes the plans for App Engine support, but Standard environment is stil

[2017-03-10 01:44] samuelkaufman commented on #578
@bradleyfalzon Thanks for the heads up.
It doesn't change anything for me, I use the standard environment. The flex environment you can use whatever you want anyways, sounds like they just updated the Dockerfile to support 1.8.

[2017-03-10 15:47] samprakos opened #588 "Github API for GetRef can return an array, but go-github doesn't handle it."
https://developer.github.com/v3/git/refs/#get-a-reference

If my ref string matches as a prefix to 1 or more refs, an array is returned.

In this case, I get this error at line 63 of git_refs.go:  json: cannot unmarshal array into Go value of type github.Reference

[2017-03-10 16:32] shurcooL commented on #588
Thanks for reporting this. This looks like a valid issue that we need to fix.

Unfortunately, it seems we'd need to change the signature of that endpoint to be able to return multiple refs, since that's what the GitHub API endpoint can sometimes return.

[2017-03-11 03:29] JamieH opened #589 "NewPullRequest method does not support setting "maintainer_can_modify""
As seen here: https://developer.github.com/v3/pulls/#create-a-pull-request this API supports a value called `maintainer_can_modify` - this isn't exposed via the `NewPullRequest` or `pullRequestUpdate` struct.

I'm gonna make a PR for this now.

[2017-03-11 05:13] shurcooL commented on #589
This looks like a new field. We should definitely add it, thanks for reporting!

[2017-03-11 16:14] #589 closed

[2017-03-13 17:08] hackebrot commented on #584
https://github.com/hackebrot/go-repr 😄

[2017-03-13 18:49] gmlewis opened #591 "Installation struct is missing the HTMLURL field"
This field is useful in webhooks for linking to the event URL.

In this Webhook Payload example:
https://developer.github.com/early-access/integrations/webhooks/#integrationinstallationrepositoriesevent
you can see that `installation` has an `html_url` field.

This should be added to our `type Installation struct` in `integration_installation.go`.

[2017-03-13 22:46] shurcooL commented on #584
By the way, in case you're not already aware of them, there are some libraries for "deep pretty printing" Go structs, such as https://github.com/davecgh/go-spew and https://github.com/shurcooL/go-goon#readme. If you already knew that, carry on.

[2017-03-14 00:16] hackebrot commented on #584
Thank you @shurcooL! 🙇

I had come across [go-spew](https://github.com/davecgh/go-spew). I'll have a look at your project too!

[2017-03-14 19:19] gmlewis opened #592 "FYI - Discontinue support for weak cryptographic standards"
GitHub API Announcement:
https://developer.github.com/changes/2017-03-13-discontinue-support-for-weak-cryptographic-standards/

Note that this should not affect this repo, as we currently support `sha1`, `sha256`, and `sha512` webhook messages in `messages.go`.

This issue is mainly for informational purposes only and can be closed after some short amount of time.

[2017-03-15 17:29] willnorris commented on #376
Any other final thoughts on this topic?  I haven't heard adamant opposition to moving forward with semver tagging, so I'm going to plan on that being the path forward.  I'll put together a PR that updates our docs to talk about how we handle versioning.

[2017-03-15 18:49] shurcooL commented on #376
Can you quickly summarize the final semver scheme you're thinking of going with? We've discussed at least 3 options above, so I'm not sure which one you're referring to.

[2017-03-16 07:19] liubinyi commented on #591
Hi @gmlewis, go-github looks awesome! I would like to give it a try.

[2017-03-16 16:22] gmlewis commented on #591
Thank you, @liubinyi !  We appreciate your help!

[2017-03-16 17:08] shurcooL commented on #591
@gmlewis I've looked at https://developer.github.com/early-access/integrations/webhooks/#integrationinstallationevent and https://developer.github.com/early-access/integrations/webhooks/#integrationinstallationrepositoriesevent.

I don't see a `html_url` field at the top level in either of those two events, in those Webhook payload examples. It's there inside the inner objects like `installation`

[2017-03-16 17:35] gmlewis commented on #591
Wow.  I totally messed up on this one.  It is the `Installation` type that is missing the `HTMLURL` field.

Thank you very much, @shurcooL for the sanity check!  Obviously I was not thinking when I filed this.  Let me change the description and point to the docs correctly.

[2017-03-16 17:39] gmlewis commented on #591
I've updated the issue description above. Sorry for the confusion.

[2017-03-16 17:44] liubinyi commented on #591
@gmlewis no worries. I can update the pr and fix the commit message tonight!
@shurcooL thanks a lot for the sanity check!

[2017-03-16 21:02] bradfitz commented on #242
I just ran into this too. I currently do this in a loop:

[code]

But that eats my quota, even when there's nothing new. I want to send an `If-None-Match` header with my requests (using the `ETag` value from the `*github.Response.Response.Header`), which doesn't count towards my quota. But there isn't a clean way to do this now, outside of making a new `*github.Client` for each call with a custom

[2017-03-16 21:03] bradfitz commented on #242
And /cc @shurcooL

[2017-03-16 21:11] gmlewis commented on #242
SGTM!

[2017-03-16 21:20] shurcooL commented on #242
@bradfitz Are you already using a caching HTTP transport?

Before I look into it further, just want to first ask if you've already seen/read this section:

https://godoc.org/github.com/google/go-github/github#hdr-Conditional_Requests

(It's also in README at https://github.com/google/go-github#conditional-requests.)

As far as I know, that's the recommended way to achieve client-side HTTP caching

[2017-03-16 21:45] shurcooL opened #595 "Dubious implementation of Label.String method."
This came up during PR #593. /cc @bradfitz @willnorris @gmlewis

The implementation of `Label.String` is currently unusual and has no comment (or commit message via git blame) that explains why it's different from the 73 other `String` method implementations that simply do `return Stringify(v)`.

There are 2 aspects to it:

1. The code `return fmt.Sprint(*l.Name)` can be simplified to `return *l.N

[2017-03-16 21:47] bradfitz commented on #592
What does that linked article have to do with the webhook messages we support?

The announcement was about TLS versions (Go is fine) and SSH ciphersuites (unrelated to the go-github package).

One of us is confused. Maybe both. :)

[2017-03-16 21:54] shurcooL commented on #592
I'll join in on the confused party.

A _guess_ is that this was meant to be related to [`ValidatePayload`](https://godoc.org/github.com/google/go-github/github#ValidatePayload) func, which internally uses `messageMAC`, which currently does:

[code]

Source: https://github.com/google/go-github/blob/839082db564f53df5b8b386f217c7c217b5a624f/github/messages.go#L100-L110.

But I'll let @gmlewis confirm

[2017-03-16 22:06] gmlewis commented on #592
Uh, sorry.  Yes, @shurcooL is right.
I presumed (possibly incorrectly) that GitHub would stop sending their webhook hashes using `sha1` and possibly switch to `sha256` although I didn't read that anywhere.

I was just trying to give an FYI update and let users of this package know that if/when GitHub makes that change, no work needs to be done on this side.

Does that make any sense?

[2017-03-16 22:10] gmlewis commented on #595
I like changing its behavior to be consistent and use `Stringify`.

[2017-03-16 22:11] bradfitz commented on #242
Oh, no, I wasn't using github.com/gregjones/httpcache. Will try.

I searched the godoc page for "ETag" and "NoneMatch" and "None-Match" and didn't find those and then went to search the issue tracker.

[2017-03-16 22:17] shurcooL commented on #242
Got it. I believe using it should fix the issue, let me know if not.

I'm a little surprised no one suggested this in this issue before. I'm not sure how I missed this issue myself, otherwise I would've commented earlier.

Thanks. Perhaps we should expand the package comment/README to include those keywords to make it easier for people to find. Additionally, there's `Last-Modified` and `If-Modifie

[2017-03-16 22:23] shurcooL commented on #242
I found a relevant (closed) issue #412 where I did mention the expectation to use a caching `http.Transport`.

Although, @willnorris's last paragraph in https://github.com/google/go-github/issues/412#issuecomment-236231653 says:

So maybe this issue is about something subtly different and perhaps more needs to be done for the original issue. Perhaps the original poster (/cc @bithavoc) can expand o

[2017-03-16 22:27] bradfitz commented on #242
@shurcooL, actually, github.com/gregjones/httpcache doesn't quite work for me. Its MemoryCache doesn't have any sort of LRU eviction or limits, and I hit lots of URLs, causing it to use too much memory.

There is a Delete method (https://github.com/gregjones/httpcache/blob/9c8ca9f/httpcache.go#L81) but there's no documentation about the key, nor ways to enumerate all the existing keys.

If I'm goi

[2017-03-16 22:31] bradfitz commented on #242
(Well, I suppose I could just provide httpcache.Transport my own implementation of httpcache.Cache.)

[2017-03-16 22:34] willnorris commented on #595
+1, okay by me.

[2017-03-16 22:34] willnorris commented on #595
/cc @yml as FYI

[2017-03-16 22:35] shurcooL commented on #242
I see.

I know there is one `httpcache.Cache` implementation that _sounds_ close to what you're describing. It's listed at https://github.com/gregjones/httpcache#cache-backends:

And, from its README:

However, I've never used it myself and can't vouch for how well it works (or at all). Do you wanna give it a shot?

Right, implementing your own `httpcache.Cache` is also an option, that package is

[2017-03-16 23:02] #591 closed

[2017-03-16 23:28] bradfitz commented on #242
Well, implementing my own works (https://go-review.googlesource.com/c/38163/11/maintner/github.go#798), but now I lose access to Github's "X-Poll-Interval" response header, since httpcache eats the 304 and gives me my old cached copy, with a missing or stale value of Github's "X-Poll-Interval" (adjusted by Github based on their load: https://developer.github.com/v3/activity/events/).

If I continu

[2017-03-16 23:57] bradfitz opened #597 "int64 IDs"
On 32-bit platforms, a Go `int` is an `int32`.

I worry about the use of `int` as the type for Github IDs in the go-github package.

Is there documentation to suggest that Github IDs are limited to 2 billion items? Seems unlikely. But I can't find anything.

I propose we keep "Number" fields as int, but change all the `ID` fields to be `int64`.

Thoughts?

/cc @gmlewis @willnorris @shurcooL

[2017-03-17 00:05] gmlewis commented on #597
I totally agree. Absolutely.

[2017-03-17 01:28] shurcooL commented on #597
I've noticed that too.

By now, there are definitely some IDs that exceed the capacity of `int32`. I have the following example. Consider the endpoint that returns all public events:

https://api.github.com/events

The first event I got from a query just now was:

[code]

The ID of that event exceeds 2^31 - 1.

So far we've been using `int` IDs for consistency with existing fields. But it definite

[2017-03-17 01:33] shurcooL commented on #597
Actually, that's not a great example because https://godoc.org/github.com/google/go-github/github#Event.ID type is string, not int.

[2017-03-17 01:50] shurcooL commented on #597
The fact that both events and notifications (types of objects that are very likely to have IDs surpass 2 billion) encode their IDs as JSON strings rather than JSON numbers suggests that other IDs may be much smaller.

I've looked, and couldn't find anything either. But this is something that's important for the API docs to specify.

Perhaps it'd be useful to send GitHub support an email to inquire

[2017-03-17 02:23] bradfitz commented on #597
It's a global ID, right? It's not an ID scoped to just a single org or repo, right? If so, we don't need their confirmation. 2 billion is too small.

That is its own question. Why is it a string and not some integer type? Can it actually be non-numeric?

[2017-03-17 03:07] shurcooL commented on #597
Which ID are you talking about? As far as I know, different types of objects don't share sane namespace, they have their own.

There are IDs for users, repositories, events, notifications, gists (these are non-numbers), installations, etc.

I'm sure that at least the user and repo IDs are separate namespaces (so may share equal IDs), but not completely sure about the others.

The JSON object actua

[2017-03-17 05:33] bradfitz commented on #597
I didn't know (or don't know whether) there is an ID namespace per resource type. But that also doesn't change my point. That just gives us ~5x more headroom if so.

If we're concerned about quoted integers versus not, we could make our own numeric ID type:

[code]

... that implements https://golang.org/pkg/encoding/json/#Unmarshaler and deals with string-quoted integers or non-integers and not w

[2017-03-17 19:55] gregjones commented on #242
I think the response should technically have X-Poll-Interval in a Connection header, if it's something that shouldn't be taken from the cached response. A simple RoundTripper implementation that adds that "Connection: X-Poll-Interval" to the response before returning it would make `httpcache` play nice.

Having said that, adding config to override it sounds reasonable.

[2017-03-18 16:11] varadarajana commented on #569
Today I came back to work after sometime and found difficulty in merging, here is what I get after I do
'''
$ git fetch upstream
remote: Counting objects: 96, done.
remote: Compressing objects: 100% (15/15), done.
remote: Total 96 (delta 65), reused 60 (delta 60), pack-reused 21
Unpacking objects: 100% (96/96), done.
From https://github.com/google/go-github
 * [new branch]      master     -> upstr

[2017-03-18 16:19] shurcooL commented on #569
What are you trying to achieve?

If it were me, I would start with latest `upstream/master` (assuming your upstream remote is google/go-github), and work from there. If you had some previous work on a branch, I would rebase that on top of latest master.

[2017-03-18 16:47] varadarajana commented on #569
@shurcooL
I want to sync up my fork with the upstream and catch up to the latest version on upstream. So I fetch upstream and then checkout my fork, and merge.

[2017-03-18 17:05] varadarajana commented on #569
@shurcooL
This time I did a

'''
git add github/orgs_members_test.go
git commit
git merge upstream/master
'''
This worked. I hope I did the right way.

[2017-03-18 17:57] shurcooL commented on #569
You should make sure there aren't unintended merge conflicts as part of that file.

As a side note, if you want to create fenced code blocks, you should use 3 backtick (\`\`\`) characters, not single quotes (\'\'\'). See https://help.github.com/articles/creating-and-highlighting-code-blocks/.

[2017-03-21 00:06] shurcooL commented on #597
Relevant issue (in a theoretical discussion sense, not practical one):

https://github.com/golang/go/issues/19623

[2017-03-25 19:23] varadarajana commented on #569
@shurcooL Thank you for pointing out. I need a help. I think my fork is having issues. I want to make a fresh fork from the upstream google master. How do I do it?
I tried
git fetch upstream
Somehow my files are behind..

[2017-03-25 21:34] shurcooL commented on #569
It's pretty hard to communicate how to fix that a git repo over text, compared to showing in person. Do you maybe have a resident git expert that could help you out get your fork in good shape?

[2017-03-27 20:43] aleksclark commented on #588
I'm taking a look at this issue.

[2017-03-28 12:34] amirilovic opened #601 "Search Commits API Results Problem"
Issue: When calling search commits api (go-github/github/search.go:84) returned results contain correct number of items but each item properties are empty.

As per github search docs https://developer.github.com/v3/search/#search-commits

Search Commits is returning results as:
[code]

But in search.go:67 results are deserialized in CommitResult struct which has different layout:
[code]

So, retur

[2017-03-28 15:46] awitherow opened #604 "Support for deleting remote branches via api?"
I am currently looking through the source and cannot find a way to do this through the go-github API. Therefore we are resorting to a CLI solution.

Are there any plans on thoughts on deleting remote branches via the API?

[2017-03-28 16:00] gmlewis commented on #604
Can you please provide a link in the GitHub API docs showing how to delete remote branches?
Looking at https://developer.github.com/v3/repos/branches/ I'm coming up empty, but I could certainly be missing something.

[2017-03-28 16:22] nicolai86 commented on #604
@awitherow take a look at the API doc, there's an example using the API for just this use case: https://developer.github.com/v3/git/refs/#delete-a-reference

[2017-03-29 05:57] shurcooL commented on #604
@nicolai86 is right, as far as I can tell.

https://godoc.org/github.com/google/go-github/github#GitService.DeleteRef is what you're looking for.

[2017-03-29 06:14] shurcooL commented on #601
This issue seems valid. Any ideas how this happened?

It looks like `CommitResult` was added recently, just 2 months ago in #520. /cc @sahildua2305 It's a preview API, announced at https://developer.github.com/changes/2017-01-05-commit-search-api/. Has it changed since back then, or did we make a mistake in #520?

I just want to understand what happened better (in order to learn from it, and to be

[2017-03-29 06:33] amirilovic commented on #601
@shurcooL My reasoning exactly the same. I've tried to find if docs have changed in the meantime on https://web.archive.org/web/20170301000000*/https://developer.github.com/v3/search but there is now history for January 2017.

[2017-03-29 10:54] awitherow commented on #604
This has worked for the usecase intended! @shurcooL @gmlewis thoughts on extending/updating documentation to best direct questions such as these or will this issue suffice?

[2017-03-29 10:59] aleksclark commented on #601
@gmlewis I'd like to work on this if that's acceptable :)

[2017-03-29 11:01] sahildua2305 commented on #601
Indeed, @shurcooL, it's weird to have this broken without any documented change from GitHub.

[2017-03-29 11:03] aleksclark commented on #588
@shurcooL / @gmlewis  just noticing that people generally ask to have issues assigned instead of just submitting PRs, could I be assigned to this?

[2017-03-29 11:11] amirilovic commented on #601
@aleksclark I've already submitted a pull request #602

[2017-03-29 11:12] aleksclark commented on #601
@amirilovic *facepalm* of course I noticed that about 20 seconds before your comment. nevermind :P

[2017-03-29 16:45] gmlewis commented on #588
Sure, I'll send you an invite which you will need to accept before I can assign you.

[2017-03-29 16:53] gmlewis commented on #601
Yes, very odd, but this looks like the correct way to proceed. Thanks, all, for catching and fixing this.

[2017-03-29 17:02] aleksclark commented on #588
@gmlewis done!

[2017-03-29 22:33] shurcooL commented on #604
I don't think we need to do anything here. go-github maps nearly 1:1 to the GitHub API, and this is what GitHub API offers. If there's something confusing in the GitHub API, the issue needs to be fixed on their end.

From what I've seen so far, this question doesn't come up very often, so perhaps it's not a very common source of confusion.

[2017-03-29 23:27] gmlewis opened #605 "Consistent Go naming for JSON fields"
As discussed in https://github.com/google/go-github/pull/520#discussion_r98727959 and https://github.com/google/go-github/pull/602#issuecomment-290255621 the naming of fields such as `Total` (as opposed to `TotalCount`) where the JSON name is `total_count` seems inconsistent and it would be nice to consolidate.

However, this is a breaking API change.

This issue has been opened to discuss the sit

[2017-03-29 23:28] shurcooL commented on #605
We can also consider adding a new field `TotalCount` that also gets decoded from `json:"total_count"`, and mark the old `Total` as deprecated. That way it's not a breaking API change, but it introduces a deprecated field.

[2017-03-29 23:32] gmlewis commented on #605
Good point.  I like it.  Maybe a general sweep might be in order.
It would be a good project for a new contributor too.

[2017-03-30 09:36] #604 closed

[2017-03-30 10:46] aleksclark commented on #605
@gmlewis I'm down for doing it either way, but #588 is already unavoidably (afaics, unless we want to return `interface{}` which I would personally frown on) a breaking change for an actual bug. Is there a deprecation/semver policy somewhere I've missed that can be a guide for making these sorts of calls? Perhaps the deprecate-and-replace method should be used for #588 as well?

[2017-03-30 13:12] aleksclark commented on #588
@shurcooL What if instead of breaking the api, we mark GetRef as deprecated, and add the new code as GetRefs, which would more accurately reflect the nature of the returned value?

[2017-03-30 16:41] gmlewis opened #606 "Update Protected Branches API preview with Admin Enforcement"
GitHub Announcement:
https://developer.github.com/changes/2017-03-22-protected-branches-admin-improvements/

This will be a breaking API change and the package version will need to be bumped.

[2017-03-30 16:42] gmlewis opened #607 "Remove custom media type for Organization Memberships API"
GitHub Announcement:
https://developer.github.com/changes/2017-03-29-official-org-membership/

[2017-03-30 17:20] gmlewis commented on #605
The semver discussion is going on in #376.
Otherwise, we bump the `libraryVersion` number in `github.go` on breaking API changes.
Part of the resolution of #376 will be to document the policy.

[2017-03-30 17:57] aleksclark commented on #605
ok, I'll proceed as described with the deprecated fields and increment the version number.

[2017-03-30 19:00] shurcooL commented on #588
@aleksclark That's actually a pretty great idea. We're lucky that the current naming allows for it.

In fact, I'm thinking perhaps we don't need to deprecate the current method. It depends on how people use them, but I suspect most people only care about a single result, and `GetRef` is easier to work with since it returns a single result rather than a slice containing a single entry. If that's th

[2017-03-30 19:10] aleksclark commented on #588
@shurcooL works for me, I'll take care of it

[2017-03-31 11:34] aleksclark commented on #605
https://github.com/google/go-github/blob/master/github/activity_events.go#L19

`RawPayload` is used here despite the fact that the field is called `payload`. The struct then implements a `Payload()` method which is already deprecated, as well as a `ParsePayload()` method which is the new hotness. Seems reasonable to me to rename `RawPayload` to `Payload` and remove the deprecated method. On the ot

[2017-03-31 21:43] shurcooL commented on #605
IMO, it's probably for the best to leave `RawPayload` alone for now. It has a lot of machinery around it to parse it and convert it to something higher level, that calling that field "raw" should not be confusing.

The only field I think is worth dealing with for now is `TotalCount`. @gmlewis, are there others you wanted to tackle?

[2017-03-31 21:49] aleksclark commented on #605
Hmm, ok. I interpreted 'full sweep' to mean all json fields should be
inspected for naming consistency. For instance, there is a lot of swapping
of 'Repo' and 'repository', and at least one place where the field is
called Repository but the json field is 'repo'.

On Fri, Mar 31, 2017 at 4:43 PM, Dmitri Shuralyov <notifications@github.com>
wrote:

--
Aleks Clark
cell: 775-391-6114

[2017-03-31 21:54] shurcooL commented on #605
Ah, @gmlewis said that in a comment, not the original issue. I missed that.

Sure. A general sweep is okay. I think `RawPayload` field is not a good candidate (for reasons I stated above), but perhaps there are others that are. Let us know if you find something else.

[2017-03-31 21:56] shurcooL commented on #605
One of my worries about a full sweep is that it might be hard to justify renaming fields that are well named but happen not to match exactly. It introduces a new deprecated field, and I'm not entirely sure it's always an improvement. But let's consider it on a case-by-case basis.

[2017-03-31 21:57] #601 closed

[2017-03-31 21:59] gmlewis commented on #601
@shurcooL - should #602 have bumped the `libraryVersion` number?
I'm thinking now that it should have. Thoughts?

[2017-03-31 22:00] shurcooL commented on #601
Yes, it should've. The Go API has changed. It's done to match the GitHub API, but still.

It's fine to do so in a followup commit. Maybe even bundle a few changes into one version bump.

[2017-03-31 22:01] gmlewis commented on #605
I think `TotalCount` was the most obvious.  Maybe whoever tackles this one could come up with a list of inconsistencies for review?

[2017-03-31 22:11] gmlewis commented on #601
OK, we have a few PRs in the queue.  Let's get it bumped shortly.  I won't create a new PR just for the bump.

[2017-03-31 23:57] shurcooL commented on #601
Bumped it in 5b3f96e055a0e3585c2389cc5ee70a7099a07062.

[2017-04-01 00:36] aleksclark commented on #605
@gmlewis sounds good to me. Can you assign to me please?

On Fri, Mar 31, 2017 at 5:01 PM, Glenn Lewis <notifications@github.com>
wrote:

--
Aleks Clark
cell: 775-391-6114

[2017-04-01 03:28] amirilovic commented on #606
@gmlewis I can take this.

[2017-04-01 13:58] navarrano commented on #607
I can take this

[2017-04-01 14:08] gmlewis commented on #607
Sending invite so that I can assign it to you.  Thanks, @navarrano!

[2017-04-08 18:05] #607 closed

[2017-04-10 18:49] gmlewis opened #616 "Remove custom media type for Merge Methods API"
GitHub Announcement:
https://developer.github.com/changes/2017-04-07-end-merge-methods-api-preview/

The `application/vnd.github.polaris-preview` custom media type can now be removed.

Regarding the note about `squash` vs `merge_method`, this has already been addressed in #446.

[2017-04-13 16:32] gmlewis opened #617 "Update Protected Branches API preview"
GitHub Announcement:
https://developer.github.com/changes/2017-04-11-protected-branch-dismissal-restrictions/

Note that the [provided link in the announcement](https://developer.github.com/v3/repos/branches/#get-pull-request-review-enforcement-of-protected-branch) is somewhat misleading in that this change affects potentially more than just this one API endpoint on this page.

I think the point i

[2017-04-18 15:09] drewfradette opened #618 "Function to get the Delivery ID for a webhook request"
I would like to add a function to get the Delivery ID header (`X-GitHub-Delivery`) for a webhook request. This would essentially be the same as [`WebHookType`](https://github.com/google/go-github/blob/master/github/messages.go#L162) but a different header.

If there are no problems with this, I would be glad to open a PR.

[2017-04-18 17:14] gmlewis commented on #618
I'm not sure I understand the need for a new function. All that is needed is a single line:

[code]

Oh, I see... #427 added `WebHookType`.  Hmmm... I guess I missed that before. I'm not sure that was necessary, but I guess it shields clients from the details at the expense of a larger API surface.

I've got mixed feelings but could go either way.

@shurcooL - what do you think about adding a new

[2017-04-18 21:42] shurcooL commented on #618
SGTM.

[2017-04-20 04:37] varadarajana commented on #569
I will continue to work with the remaining this week. I was not well for around 2 weeks.

[2017-04-20 14:02] gmlewis commented on #569
Sorry to hear that, @varadarajana - I hope you feel better fast!

[2017-04-20 15:00] varadarajana commented on #569
Thank you @gmlewis @shurcooL i am recovering now.
I have a question. While i was reading the Blocking Users (Organizations) API, I find the following lines:
[code]
In authorizations.go we have all the scopes defines. I do not see any references to scope anywhere? Is there a central place where this scope validation is done?

[2017-04-20 17:33] gmlewis commented on #569
Scope refers to how you create your OAuth2 client. Check out [`tests/integration/authorizations_test.go`](https://github.com/google/go-github/blob/master/tests/integration/authorizations_test.go) for an example.

[2017-04-21 00:56] #618 closed

[2017-04-21 01:17] #588 closed

[2017-04-21 15:17] kevinburke opened #622 "rate limit exceeded: funky error message"
The error message for "rate limit exceeded" has both a period and a semicolon in it which looks weird.

[code]

We could also probably round the duration to the nearest second (if greater than a minute) or tenth of a second (if less than a minute) to avoid 8 useless units of precision after the decimal.

[2017-04-21 16:25] #571 closed

[2017-04-21 16:33] gmlewis commented on #622
Thanks, @kevinburke... excellent points.

[2017-04-21 18:39] shurcooL commented on #622
For anyone who wants to work on this issue, please discuss proposed fix here before sending a PR.

[2017-04-23 01:25] dotbugfix commented on #622
Newbie here - hoping to kick off contributions with this one.

The error message originates from `github/github.go:479` - removing the extra period is trivial.

I'm not sure where the "rate reset in ..." is printed, though. There's a test at `github_test.go::TestDo_rateLimit_rateLimitError` but it simply checks the actual members in `RateLimitError`. Where is this extra part concatenated to the er

[2017-04-23 02:16] kevinburke commented on #622
Ah, that might have come from our error wrapper

--
Kevin Burke
925.271.7005 | kev.inburke.com

On Sat, Apr 22, 2017 at 6:25 PM, Omkar Ekbote <notifications@github.com>
wrote:

[2017-04-23 02:29] shurcooL commented on #622
Thanks for looking at this!

One part of the error message is indeed from [`github/github.go:479`](https://github.com/google/go-github/blob/2966f2579cd93bc62410f55ba6830b3925e7629d/github/github.go#L479). The other part comes from the `Error` method of that `RateLimitError` type, at [`github/github.go:530-532`](https://github.com/google/go-github/blob/2966f2579cd93bc62410f55ba6830b3925e7629d/githu

[2017-04-24 02:44] dotbugfix commented on #622
Thanks for the guidance, Dmitri.

Here's the response from the Github API (from their [documentation](https://developer.github.com/v3/#rate-limiting)):

[code]

`X-RateLimit-Reset` is in UTC epoch seconds and Github leaves it to the application to format and display it.

Here's a sample generic error message;

The extra `[]` at the end would presumably dump the 'errors' array from an API response

[2017-04-24 03:02] dotbugfix commented on #622
As @kevinburke suggested,

.... which makes sense.

## Current error message:
[code]

## Proposed error message(s):
### a. rate reset duration <1m
[code]

### b. rate reset duration >1m

[code]

[2017-04-24 03:09] shurcooL commented on #622
Here's what it looks like when you get it as an `error` from `go-github`:

[code]

One observation is that the `Message` field contains a complete sentence that ends with a period. I think we should probably be consistent with that in our simulated error.

[2017-04-24 03:28] dotbugfix commented on #622
Hmmm, I believe we create the fake response in the first place because the one Github returns isn't informative enough (and chatty). The user (of this library) will never see the actual error message that came in the HTTP response, so I'm not sure whether we should be further masquerading as an accurate representation of the non-technical part of the Github API response,

That being said, adding a

[2017-04-24 04:11] shurcooL commented on #622
I was thinking we keep the period at the end of `not making remote request.`, but do something about the semicolon and onwards. For example, something like this:

[code]

Or like this:

[code]

[2017-04-24 05:24] dotbugfix commented on #622
Roger that.

## Proposed error message(s):

### a. rate reset duration <1m

### b. rate reset duration >1m

### c. unauthenticated user

 [Rate reset in 58m41s]`

I'm proposing square brackets for `[Rate reset in 58m41s]` since the message from Github in (c) already has a parenthesized snippet. That would make it similar to the generic error message:

[2017-04-24 05:36] shurcooL commented on #622
That looks very reasonable, I think.

About the time, I like the `58m41s` format. It's compact and informative. I think we could get away displaying that even when it's less than 1 minute left, I don't think there's a point in showing sub-second precision. Instead, using a consistent "xxmyys" string would be more readable, compared to altering output depending on time left.

How about that?

- Rat

[2017-04-24 06:10] dotbugfix commented on #622
If this message is intended for humans, then the leading 0s seem verbose to me. I don't think the caller would try to parse this message anyway (they'd use members in `RateLimitError.Rate`).

Regarding precision, I agree that being consistent is better.

- 5m54s
- 25m7s
- 19s

This is a matter of opinion, so I'm alright with swinging either way.

[2017-04-24 12:27] SteelPhase opened #623 "Get list of releases"
Is there a way to [list releases for a repo]((https://developer.github.com/v3/repos/releases/#list-releases-for-a-repository) in go-github.

Looks like i completely missed ListReleases in repos_releases.go so i can close this.

[2017-04-24 12:38] #623 closed

[2017-04-24 15:47] shurcooL commented on #622
I'm okay with omitting leading zeros, but I think it's probably better to keep the ones in middle. E.g.:

- 5m54s
- 25m07s
- 19s

My opinion on this is not strong. That said, I'd prefer something with a simpler implementation, rather than a very complex custom one.

[2017-04-24 15:57] dotbugfix commented on #622
Thanks, I'll start working on this and update this thread with the final fix (whichever happens to balance complexity and readability)

[2017-04-25 17:44] navarrano commented on #617
I can work on this. @gmlewis, please assign it to me

[2017-04-26 19:58] treeder opened #624 "Support for user's permissions endpoint"
Maybe I just can't find it, but it looks like this endpoint is not supported:

https://developer.github.com/v3/repos/collaborators/#review-a-users-permission-level

Was added fairly recently: https://developer.github.com/changes/2016-11-28-preview-org-membership/

[2017-04-26 19:59] shurcooL commented on #624
I'm seeing it here:

https://godoc.org/github.com/google/go-github/github#RepositoriesService.GetPermissionLevel

Is that the one you're looking for?

[2017-04-27 09:47] jimmidyson opened #625 "Branch protection status checks returns error for unprotected branches"
Response is 404 so throws an error, instead of returning nil slice of required contexts. Sending in a quick PR.

[2017-04-27 16:05] gmlewis commented on #617
Please also check out the latest GitHub Developer announcement about this API:
https://developer.github.com/changes/2017-04-20-protected-branches-dismiss-stale-review/
If you can incorporate these changes as well, it seems reasonable to me to do so within the same PR since it is the same preview API.

If not, though, that is fine too and we can open up a new issue for it.

[2017-04-27 16:06] gmlewis opened #627 "Support new GitHub Apps (formerly Integrations) API."
GitHub API Announcement:
https://developer.github.com/changes/2017-04-25-Integrations-Pre-Release/

[2017-04-27 16:54] sahildua2305 commented on #553
@gmlewis I am looking into it now and thinking about what `type` can I have for the response. In `files`, there are four keys which are the file names and if that file is present, there will be corresponding fields.

[2017-04-27 18:01] shurcooL commented on #625
This is strange, but I'm getting 404 even for a seemingly protected branch. Are you able to get a 200 OK response still?

I tried it on two repos I know have protected master branches, and I get 404 for everything other than "get branch" endpoint.

For example:

[code]

I also tried authenticating with `repo` scope, no difference.

Any ideas what I'm doing wrong?

[2017-04-27 18:26] shurcooL commented on #553
It can be a struct, something like this:

[code]

And it looks like you'll need a slice of them, because the response is a JSON array, not a single object.

_(Thanks to @mholt for https://mholt.github.io/json-to-go/.)_

[2017-04-27 18:38] sahildua2305 commented on #553
Thanks @shurcooL! I didn't know about this json-to-go tool. It's very helpful.

[2017-04-28 15:30] jimmidyson commented on #625
I'm not sure of the exact scope required to see branch protection but it works fine for me when using a token with all scopes on one of my repos :) Perhaps you don't have enough rights to that particular repo?

[2017-04-28 15:58] shurcooL commented on #625
Ok, let me try again with all scopes. Thanks.

[2017-04-28 17:47] shurcooL commented on #625
Thanks, that was helpful. I was able to reproduce 200 OK responses now.

It turns out the issue was that I needed admin access to the repository, push access isn't enough. For scopes, just `public_repo` scope is sufficient.

It's strange, given one can access the same information via "Get Branch" endpoint, but I'll write it off as overly-strict-permission-requirement quirks of preview API.

Now, I

[2017-04-28 17:50] shurcooL commented on #625
I noticed there's a subtle difference between no contexts, and zero contexts. When a branch is protected, you get:

[code]

Or, if there are no contexts, you get empty array:

[code]

But if it's not protected, you get 404:

[code]

With the current implementation of PR #626, one cannot tell the difference between the 2nd and 3rd situations.

Maybe that's okay, and for the best. But an alternative

[2017-04-28 17:59] shurcooL commented on #625
My thoughts on the above... I think such a `ErrBranchUnprotected` may have some positive benefit, but it's too early to say.

I propose we go ahead and merge #626 as is, which returns nil error and nil pointer/empty slices for the getter methods when a branch is unprotected.

If there's demand or evidence in the future that it'd be better for those methods to report unprotected branch as an error,

[2017-04-28 18:21] shurcooL commented on #625
Actually, after thinking more about it, I'm becoming more convinced that returning an error for unprotected branches is a better thing to do.

It might also be very easy to implement by adding detection of the 404 response in [`CheckResponse`](https://github.com/google/go-github/blob/e8d46665e050742f457a58088b1e6b794b2ae966/github/github.go#L619).

Here's my rationale. If you look at names of rele

[2017-04-28 18:39] gmlewis commented on #625
I agree.  I like exposing the extra detail as it helps developers and users of the API distinguish between the two whereas if we hide the distinction, we cause a great deal more frustration and people would have to instrument the code to figure out what is going on underneath.

So I am all in-favor of `ErrBranchUnprotected`.

[2017-04-28 19:02] shurcooL commented on #625
Ok, so we're in agreement that querying protection details on an unprotected branch should return a non-nil error.

I think this issue is about making that error detectable and different from other types of unexpected errors (such as, some network error or GitHub API being down).

Whatever the case, we'll need to document what the error is when a branch is unprotected.

Returning a specific `ErrBr

[2017-04-28 19:28] gmlewis commented on #625
I like `IsNotFound`... that keeps things simple and still understandable.

[2017-04-28 20:09] shurcooL commented on #625
Bikeshed question, is it better to call it `IsNotFound` or `IsNotExist`, to mirror language used by [`os.IsNotExist`](https://godoc.org/os#IsNotExist)?

[2017-04-28 20:40] jimmidyson commented on #625
I'm in two minds about this. While it sounds fine, Github returns 404s for unauthorized so a 404 doesn't necessailry mean the branch is unprotected.

[2017-04-28 20:43] shurcooL commented on #625
True. To be really sure it's unprotected, we need this check to be done:

[code]

Either by the user, or by us. This doesn't sound like something that's reasonable for us to ask the user to do, so I think we should.

[2017-04-28 20:44] jimmidyson commented on #625
So that points more to the ErrBranchUnprotected or github.IsBranchNotProtected (or whatever) rather than github.IsNotFound which is more generic.

[2017-04-28 20:47] jimmidyson commented on #625
Checking the message is so potentially fragile but I agree I can't see another way if we want to be stricter with the return.

[2017-04-28 20:56] shurcooL commented on #625
We should probably consider the `GetBranchProtection` method more closely first.

I would expect, at the very least, it should be possible to call that method and use its response to determine whether a branch is protected or not protected.

The endpoint is called "Get branch protection", not "Get branch protection of protected branch", after all.

We may or may not want to also make it possible t

[2017-04-28 21:12] jimmidyson commented on #625
So how about adding another return value, a bool to show if branch is protected? So something like:

    GetBranchProtection(ctx context.Context, owner, repo, branch string) (protection *Protection, isProtected bool, resp *Response, err error)

And similar for all related methods?

[2017-04-28 21:14] shurcooL commented on #625
Another observation related to this is that we don't really do anything for other endpoints.

Consider the [List Branches](https://developer.github.com/v3/repos/branches/#list-branches) endpoint, implemented as [`RepositoriesService.ListBranches`](https://godoc.org/github.com/google/go-github/github#RepositoriesService.ListBranches):

[code]

You get 404 not found response regardless whether it's

[2017-04-28 21:21] jimmidyson commented on #625
It's a 404 instead of a 403 I think and it is compliant afaik - see https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4.

However, if you are authenticated then you can figure out whether the branch is protected or not as you've mentioned above by checking message.

It would be good if the library was consistent in this behaviour, but that's going to require a fair amount of revisiti

[2017-04-28 23:06] shurcooL commented on #625
Whoops, yeah, I meant 403. Edited my post. Thanks.

Interesting that returning 404 for 403 situations is a supported way of not leaking information.

Which thing are you referring to? I proposed many conflicting things here so far, while thinking this through. Can you please specify?

My latest thoughts are that we should think of a good solution for `GetBranchProtection` method, and once we have

[2017-04-28 23:15] shurcooL commented on #625
Can you give some examples of how the API would be used, I think that'd be helpful to evaluate the idea. I'm imagining:

[code]

For the more specific methods, such as `ListRequiredStatusChecksContexts`:

[code]

I suppose if someone doesn't care about `isProtected`, they can simply do:

[code]

I want to think it over more, but it seems surprisingly reasonable so far.

[2017-04-29 09:08] jimmidyson commented on #625
That is exactly what I was thinking. As long as we document the returns, i.e. will be nil if not protected, then we should be good. Alternatively, return a pointer to a zeroed BranchProtection rather than nil. Kinda prefer returning nil though.

[2017-04-29 09:10] jimmidyson commented on #625
My comments on consistency through the library were really around how other functions return/differentiate between real not exists and unauthorised. Personally I'm not too worried about it, but is something to think about if we start introducing that distinction in this functional area.

[2017-05-01 16:38] varadarajana commented on #569
I will work on the web hook this week.

[2017-05-01 18:29] navarrano commented on #617
@gmlewis No problem, I'll bring this changes as well, no need to create another issue

[2017-05-01 21:38] treeder commented on #624
That looks like the one, thanks!

[2017-05-01 21:38] #624 closed

[2017-05-04 16:08] gmlewis commented on #617
There is yet another GitHub Developer announcement about breaking changes to this API:
https://developer.github.com/changes/2017-05-02-adoption-of-admin-enforced/

[2017-05-05 00:19] kaakaa opened #629 "The name of `content` in the response of Github Trees API has changed"
Function [`GetTree`](https://godoc.org/github.com/google/go-github/github#GitService.GetTree) returns the  [Tree](https://godoc.org/github.com/google/go-github/github#Tree) object with empty `content`.
It seems to be caused by the fact that `content` for [Github Trees API](https://developer.github.com/v3/git/trees/#get-a-tree) has changed to the name of `url`.

I'll make PR about changing the name

[2017-05-05 20:18] shurcooL commented on #629
The [`TreeEntry.Content`](https://godoc.org/github.com/google/go-github/github#TreeEntry.Content) field is not used for [`GetTree`](https://godoc.org/github.com/google/go-github/github#GitService.GetTree), but it is used in [`CreateTree`](https://godoc.org/github.com/google/go-github/github#GitService.CreateTree).

See https://developer.github.com/v3/git/trees/#create-a-tree.

(It's a bit misleadi

[2017-05-06 14:23] kaakaa commented on #629
Thank you for comments!
As you say, `content` field is needed for CreateTree. I've missed it.
I'll make PR just to add `url` field.

[2017-05-06 14:35] #569 closed

[2017-05-07 00:07] #629 closed

[2017-05-08 01:44] qianlnk opened #634 "Set profile picture"
Is there anyway to upload profile picture?

[2017-05-08 04:09] shurcooL commented on #634
[Update the authenticated user](https://developer.github.com/v3/users/#update-the-authenticated-user) GitHub API endpoint lists the following possible parameters:

![image](https://cloud.githubusercontent.com/assets/1924134/25789882/67bc7b26-3382-11e7-84a4-11e02ea6afbe.png)

So, it appears the answer is there's no API to do it.

[2017-05-09 03:35] shurcooL opened #636 "Some List* endpoints don't take ListOptions (but they should)."
Most (but not all) list endpoints support pagination, and take `opt *ListOptions` as the last parameter (or another specific Options type that embeds `ListOptions`).

Some `List*` endpoints do not take a `*ListOptions` or equivalent parameter, and therefore it's not possible to perform pagination.

It's a breaking API change, but we should fix it sooner rather than later.

One such case was the `P

[2017-05-09 07:58] sminnee commented on #636
Ok so I went through all the "List" functions and these are the ones that don't have options parameters:

 * [ ] activity.go: ListFeeds
 * [ ] authorizations.go: ListGrants
 * [ ] gists.go: ListCommits
 * [ ] gitignore.go: List
 * [ ] licenses.go: List
 * [ ] misc.go: ListEmojis
 * [ ] misc.go: ListServiceHooks
 * [ ] pulls_reviewers.go: ListReviewers
 * [ ] pulls_reviews.go ListReviewComments
 *

[2017-05-09 08:01] sminnee commented on #636
The indication from https://developer.github.com/v3/#pagination is that every list-based feed will paginate when more than 30 items are returned. So I would think that adding ListOptions to all of these is the best idea.

[2017-05-09 08:12] shurcooL commented on #636
It's important that we do this.

For example, `ActivityService.ListFeeds` in `activity.go` should _not_ have `ListOptions`, because the endpoint does not support pagination:

https://developer.github.com/v3/activity/feeds/#list-feeds

Notice that it returns a single JSON object, not array, and there's no "Link" headers with pagination under "Status: 200 OK" text:

![image](https://cloud.githubuser

[2017-05-09 08:54] sminnee commented on #636
I've had a look into this: I think that the `Link` heading is only returned if there are more than 1 page of results — it is not returned on a single-page response that supports pagination in cases where there are more items.

So, I've found a better way to check is to put "?page=2" on the end of the URL and see if the output changes.

[2017-05-09 09:49] sminnee commented on #636
OK: I've updated my previous comment break the list out into pagination / non.

[2017-05-09 22:17] sminnee commented on #636
I've now expanded the scope of #635 to be a complete fix to this. You should be able to close this issue once that is merged.

[2017-05-11 03:43] shurcooL commented on #636
It's [documented](https://cloud.githubusercontent.com/assets/1924134/25931360/e129c280-35d9-11e7-849c-ef36122a1150.png) to have it, yes.

I've verified, and everything looks good, except "licenses.go: List".

It's [documented](https://developer.github.com/v3/licenses/#list-all-licenses) not to have pagination support:

![image](https://cloud.githubusercontent.com/assets/1924134/25931389/06532394-3

[2017-05-11 03:55] shurcooL commented on #636
Actually, `UsersService.ListInvitations` is documented not to have pagination either:

https://developer.github.com/v3/repos/invitations/#list-a-users-repository-invitations

But given the nature of repository invitations, I expect that endpoint should absolutely support pagination. I suspect it's a bug in their API documentation.

Would you want to send them an email at support@github.com to get

[2017-05-11 04:02] sminnee commented on #636
OK I've emailed github about this.

Looks like licenses was an clerical error on my part, I'll remove from the PR.

[2017-05-11 16:29] gmlewis opened #638 "Remove custom media type for Pull Request Reviews API"
The custom media type `application/vnd.github.black-cat-preview+json` can be removed from `go-github` as the "Pull Request Reviews API" is no longer in preview but has become official.

See GitHub Developer announcement:
https://developer.github.com/changes/2017-05-09-end-black-cat-preview/

[2017-05-11 17:14] varadarajana commented on #638
@gmlewis please assign this to me

[2017-05-11 19:40] shurcooL commented on #636
We got a reply from GitHub, see https://github.com/google/go-github/pull/635#issuecomment-300743066.

It confirms that `UsersService.ListInvitations` endpoint should also support pagination, as we expected.

[2017-05-12 01:43] shurcooL commented on #636
This issue was fully resolved by #635.

[2017-05-12 01:43] #636 closed

[2017-05-12 01:49] varadarajana commented on #638
@gmlewis @shurcooL Pull Requests have three categories - Reviews, ReviewComments and Review Requests. Is this change required for all of them. The documentation points are reviews only.

[2017-05-12 01:54] shurcooL commented on #638
I think it's all endpoints that currently set the custom `application/vnd.github.black-cat-preview+json` Accept header. They no longer need to.

[2017-05-12 17:52] #595 closed

[2017-05-15 17:15] nzoschke commented on #521
There are other fields on a webhook PullRequestEvent like `merge_commit_sha` that are missing in the struct too.

[2017-05-15 21:54] tao-lu opened #642 "Allow for custom Git hosts for compatibility with enterprise systems"
Perhaps allow `baseUrl` (https://github.com/google/go-github/blob/master/github/github.go#L205) to be a user-specified string.

[2017-05-15 22:27] gmlewis commented on #642
Try: `client.BaseURL = url`:
https://github.com/google/go-github/blob/master/github/github.go#L107

[2017-05-15 22:29] #553 closed

[2017-05-15 22:32] shurcooL commented on #642
`github.Client.BaseURL` documentation is [here](https://godoc.org/github.com/google/go-github/github#Client.BaseURL).

[2017-05-15 22:36] tao-lu commented on #642
Ah, thanks.

[2017-05-15 22:36] #642 closed

[2017-05-17 15:52] vogxn commented on #627
This would be invaluable! The change for user-to-server requests appears to be adding the headers for the media type `application/vnd.github.machine-man-preview+json`.  I have not looked deep into the library but how difficult would this change be for a new contributor to delve into?

[2017-05-17 16:04] gmlewis commented on #627
Skimming the docs, this would be a fair amount of work to get this up and running, but would be a fantastic learning experience. :smiley:

[2017-05-18 11:15] Davejkane opened #643 "CommitsComparison should have method GetHTMLURL()"
It would be useful to have this method for CommitsComparison. Of course, you can build it yourself if you have the parameters necessary to call RepositoriesService.CompareCommits(), but it would be cleaner.

[2017-05-18 16:20] shurcooL commented on #643
You're right, `CommitsComparison` struct is missing the `HTMLURL` field, and therefore also missing the `GetHTMLURL` method (which gets generated from the field).

The fix is to add the `HTMLURL` field to that struct and regenerate the package.

[2017-05-18 19:25] #643 closed

[2017-05-22 23:17] shurcooL opened #646 "GitHub GraphQL API (v4) support."
This is a long-term tracking/planning issue for GitHub GraphQL API (v4). /cc @willnorris @gmlewis

Today, GitHub has announced that the GitHub GraphQL API is out of the Early Access program. The documentation is thorough, and very helpful at explaining the neccessary concepts and how to get started with using the API. (Note that it requires authentication; it's no longer possible to make unauthent

[2017-05-25 13:08] dnwe opened #647 "feat: add support for affiliation in the Repositories.ListCollaborators opts"
As per the [apidoc](https://developer.github.com/v3/repos/collaborators/#list-collaborators), at some point a request option was added for filtering the returned collaborators by `affiliation`. It would be useful if that was exposed as part of a custom ListCollaboratorOptions struct

[2017-05-25 16:27] gmlewis commented on #627
The Integrations API has now been deprecated in favor of the new GitHub Apps API.
This issue should now focus on the latest GitHub Developer API announcement:
https://developer.github.com/changes/2017-05-22-github-apps-production-ship/

[2017-05-25 16:29] shurcooL commented on #627
I think they were just renamed, not deprecated. But yes, it's called GitHub Apps now.

[2017-05-25 16:29] gmlewis opened #648 "Support preview Codes of Conduct API"
GitHub API announcement:
https://developer.github.com/changes/2017-05-23-coc-api/
GitHub Developers docs:
https://developer.github.com/v3/codes_of_conduct/

[2017-05-25 16:37] shurcooL commented on #647
This will have to be a breaking API change.

[`ListCollaborators`](https://godoc.org/github.com/google/go-github/github#RepositoriesService.ListCollaborators) method signature currently accepts a plain `opt *ListOptions`. We'll need to give it a custom `ListCollaboratorOptions` which embeds `ListOptions` and has the new `affiliation` parameter.

[2017-05-25 16:38] shurcooL commented on #634
Closing since this is answered. Let us know if something else comes up.

[2017-05-25 16:38] #634 closed

[2017-05-25 18:03] willnorris commented on #646
Thanks for looking into this... this has ***long*** been in the back of my mind as something we need to do.  I do like the idea of using an existing graphql library if possible... I seem to recall finding one, but maybe it was neelance/graphql-go and I didn't realize it was primarily for servers.  But at this point, I fully trust you to take this and run with it :)

We'll almost certainly need to

[2017-05-25 22:57] bradleyfalzon commented on #627
Just on this, the [Breaking Changes](https://developer.github.com/changes/2017-05-22-github-apps-production-ship/#breaking-changes) will need to be addressed, in particular, the integration specific events introduced in b0b867f2d5ec7c0139fad20ab0fe9267dcd8312b by @cyberdelia will need to be renamed. From my understanding, they are sending both events for the moment (and I can see they're doing thi

[2017-05-26 02:52] shurcooL commented on #627
Do you think it's ready to be considered for addition to the README, in its own section? If so, want to send a PR that does that (and update both doc.go and README.md)?

[2017-05-26 04:03] bradleyfalzon commented on #627
I've sent through a minor one-liner, as I did begin to write a larger section which mostly just duplicated the docs already in https://github.com/bradleyfalzon/ghinstallation, so just pared it back to a minor note. Let me know in the PR if you'd like me to expand upon the docs though, happy to.

[2017-05-26 05:08] liubinyi commented on #648
@gmlewis and @shurcooL i would like to give this one a try.

just want to make sure that we want to create a conduct service(conduct.go?) to support following routes
GET /codes_of_conduct
GET /codes_of_conduct/:key
GET /repos/:owner/:repo
GET /repos/:owner/:repo/community/code_of_conduct

[2017-05-26 06:47] shurcooL commented on #648
GitHub docs list these under miscallenous.

I think we should just add them as methods of `Client`. Similar to [`ListEmojis`](https://github.com/google/go-github/blob/ebfec748347a9af6793c723f8859afcd906860fb/github/misc.go#L71), which is also just a method on `Client`. It seems overkill to create an entire service just for the 2 codes of conduct endpoints. It's likely there won't be more added.

T

[2017-05-26 15:18] liubinyi commented on #648
Ah, make sense. Thanks for pointing it out for me! I will start it over the weekend.

[2017-05-27 21:10] sahildua2305 commented on #647
I'll take this up, @shurcooL. Feel free to assign it to me.

[2017-05-28 03:58] liubinyi commented on #648
@shurcooL and @gmlewis  pr sent.

Also seems like ```go generate github.com/google/go-github/...``` will not generate files in github-accessors.go
but running ``` go generate -x ./... ``` will do the work.

[2017-05-28 05:18] shurcooL commented on #648
Can you elaborate? What was the problem? Was there an error message? It should work.

The -x flag prints commands as they are executed. What's the output of `go generate -x github.com/google/go-github/...`?

[2017-05-28 05:36] liubinyi commented on #648
yeah. when I created a new struct
[code]
if i run ``` go generate github.com/google/go-github/ ```
without -x flag
it will run without any error messages. but it doesn't  auto generate

[code]
func (c *Conduct) GetName() string {
 	if c == nil || c.Name == nil {
 		return ""
 	}
 	return *c.Name
 }
[code]

[2017-05-28 05:59] shurcooL commented on #648
Did you see this question?

Also, what happens if you run `go list ./...` in the same directory as you ran `go generate -x ./...`?

Perhaps you've changed the import path of the package in your local dev environment?

[2017-05-28 07:11] liubinyi commented on #648
oops i missed that.

running ```go generate -x github.com/google/go-github/...``` does  auto generates
[code]
if i run go list ./...
it outputs this
[code]

[2017-05-28 08:03] shurcooL commented on #646
I've been working on this during this week, and I believe I've gotten to a point where I have something that looks like a good start and is worth sharing.

First, let me share my experience and insight gained along the way. Then I'll point to the package I've created.

I believe there are 3 different high-level approaches for a Go GraphQL client library:

1. The user provides only the **query**; t

[2017-05-28 08:15] shurcooL commented on #648
I see. You must've placed your `go-github` repository at the root of your GOPATH workspace, i.e., `$GOPATH/src/go-github`. It's meant to be at `$GOPATH/src/github.com/google/go-github`. The `go generate github.com/google/go-github/...` command will only work if the full import path matches. So, using `go generate ./...` is a fine workaround for you.

[2017-05-28 16:37] liubinyi commented on #648
oh that's exactly how my local environment looks like.👍 Thanks for clearing out the confusion!

[2017-05-29 11:00] bradleyfalzon commented on #627
I'm currently receiving the error `unknown X-Github-Event in message: installation_repositories` from `ParseWebhook`, this is the new name of the event and as mentioned previously it's a duplicate event sent by GitHub to help migration (so the event was still sent).

Potential migration strategy:

1. Edit `eventTypeMapping` to *rename* `integration_installation` and `integration_installation_repos

[2017-05-31 22:50] shurcooL commented on #627
Agreed. In general, for preview APIs, we should prefer breaking API to follow suit with any changes on GitHub side.

Honestly, I'll leave it up to you to decide if it's worth doing that. My suspicion is that it's okay not to, since this is still within preview API territory (if I understand correctly). So it depends on whether the benefits justify the amount of extra work.

[2017-05-31 23:16] bradleyfalzon commented on #627
OK, leave it with me then, I'll make the breaking change as it's easy for clients to fix, and helps keep the history clearer (single one-liners, instead of giant copy/paste).

[2017-06-01 14:50] gmlewis opened #651 "Support commit_id field in PullRequestReviewRequest in file pulls_reviews.go"
GitHub Developer Announcement:
https://developer.github.com/changes/2017-05-30-specify-commit-for-review/

The announcement was uncharacteristically terse this time and did not provide a link to the developer API docs. It appears to me that this is the API in question:
https://developer.github.com/v3/pulls/reviews/#create-a-pull-request-review

A new (optional) `commit_id` field needs to be added

[2017-06-02 13:19] navarrano commented on #651
@gmlewis or @shurcooL: You can assign it to me

[2017-06-02 15:26] kytrinyx commented on #627
The old ones have been removed from the documentation, but they're still being sent along with the new ones according to https://platform.github.community/t/integration-installation-hook-event-name-changed-to-installation/1830

I confirmed that both are being sent with a test app yesterday.

[2017-06-02 16:35] kytrinyx opened #652 "Support TeamEvent"
This event was announced in https://developer.github.com/changes/2016-11-29-user-management-webhooks/

The other events announced in that post (OrganizationEvent, MemberEvent) are already supported.

The API documentation is here:
https://developer.github.com/v3/activity/events/types/#teamevent

I'd like to tackle this one.

[2017-06-02 16:40] gmlewis commented on #652
Thank you, @kytrinyx!

[2017-06-02 16:41] gmlewis commented on #652
Are you speaking again at GopherCon this year, @kytrinyx?
If so, I'll see you there!

[2017-06-02 16:42] kytrinyx commented on #652
@gmlewis Unfortunately no, I won't be making it at all this year. It's going to me the first GopherCon that I miss!

[2017-06-02 16:46] gmlewis commented on #652
Bummer!  I really enjoyed your talk last time.  OK, hope to see you next year.
Thank you for helping out with go-github... we appreciate the help of all our contributors!

[2017-06-02 17:06] gmlewis commented on #587
PR #653 demonstrates a nice example case for why this might be useful.

@shurcooL - point of order... can we convert this "question" issue into a "feature request" issue, or do we need to open a new issue and point to the question issue (this one)?

[2017-06-02 18:58] shurcooL commented on #587
Feel absolutely free to convert it to an actionable issue. I see no reason not to.

[2017-06-02 19:16] gmlewis commented on #587
I will not label this issue as "good for beginner" but it would be a great learning experience for whomever wishes to take it on.  :smile:

I'll let this issue sit for a while in case someone wishes to contribute, then take it on myself if there are no other takers.

[2017-06-02 19:19] #652 closed

[2017-06-03 19:44] #648 closed

[2017-06-04 02:50] #627 closed

[2017-06-19 14:44] obno opened #658 "Raw GetBlob() support"
Current implementation of `Git.GetBlob()` API only supports the JSON media type. This can be inconvenient for vey large git blobs since they are stored completely in memory in the corresponding `github.Blob` struct.

The Github `GET /repos/:owner/:repo/git/blobs/:sha` API also allows for blobs to be fetched in raw rather than json format using the `application/vnd.github.VERSION.raw` media type. T

[2017-06-20 15:45] shurcooL commented on #658
There was a related issue/PR to add support for fetching raw content of a pull request at https://github.com/google/go-github/pull/481.

I think a solution to this issue is most likely to follow the same pattern as that PR.

[2017-06-21 08:31] obno commented on #658
Excellent - thanks!

[2017-06-21 18:22] shurcooL commented on #646
I've made some progress, creating a generator for enum.go in https://github.com/shurcooL/githubql/pull/7. In doing so, I discovered a problem of many name collisions, because different enum types share same enum value names.

I've been thinking about ways of resolving that, and so far I have 4 different ideas outlined at https://github.com/shurcooL/githubql/issues/8. If anyone has a good idea for

[2017-06-22 15:44] gmlewis commented on #617
There is another announcement for this API:
https://developer.github.com/changes/2017-06-16-loki-preview-ending-soon/

[2017-06-22 15:46] gmlewis commented on #606
Let's close this issue and continue any discussion related to Protected Branches API in #617.

[2017-06-22 15:46] #606 closed

[2017-06-22 22:57] wpstmehs commented on #658
thx

[2017-06-27 20:43] bkeroackdsc opened #659 "net/http error can result in a nil *http.Response which causes panic"
I was investigating this crash:

[code]

Which is ultimately caused by an erroneous newline in the oauth2 token, which causes `net/http` to throw this error: `net/http: invalid header field value "Bearer xxxxxxxxxxxxxxxxxxxx\n" for key Authorization`

TLDR: ``newResponse()`` should check for a nil *http.Response before calling ``response.populatePageValues()``

[2017-06-27 21:17] shurcooL commented on #659
[code]

What version of `go-github` were you using? I don't see a line 271 in [`repos_contents.go`](https://github.com/google/go-github/blob/7a51fb928f52a196d5f31daefb8a489453ef54ff/github/repos_contents.go#L266) on `master`.

Okay, your repo is public, and I can see myself:

https://github.com/dollarshaveclub/furan/blob/441118307f95d9bd4750f74262a1a622bcc42257/vendor/github.com/google/go-github/g

[2017-06-28 21:53] gmlewis commented on #617
I believe that this issue is still open, so I didn't close it with #637.
Please correct me if I'm wrong as I haven't done a thorough investigation at this point.

[2017-06-30 16:20] shurcooL commented on #622
@korovaisdead has created PR #663 to resolve this issue, it's going through review now.

[2017-06-30 17:14] korovaisdead commented on #622
Just to keep this issue up to date:

So there are several options here:

1. [rate limit has been already reset] or something.
2. [rate limit -121m22s] this weird minus sign.
3. Do not show this block at all.

What do you guys think?

[2017-06-30 17:54] shurcooL commented on #622
Since we're already adding custom code to control how the duration is formatted, would it be reasonable to implement something like:

[2017-06-30 17:55] korovaisdead commented on #622
@shurcooL looks nice. Will do that.

[2017-07-03 04:17] shurcooL commented on #646
Some updates.

I've taken a step forward on the above issue shurcooL/githubql#8 with one of the solutions. Thanks for the input, it was helpful. I'm keeping the issue open for longer to see if anything better comes up.

I had an idea to improve support for basic Go types (e.g., using `string` instead of `githubql.String`, but that idea is on hold for now). Tracking it in https://github.com/shurcoo

[2017-07-03 08:10] mslusarczyk opened #664 "PullRequestReviewsEnforcementRequest.DismissalRestrictionsRequest set to nil results in 422 from GH"
According to [doc](https://github.com/google/go-github/commit/b5b6d4c9c91636b0513e1c29fcfd243162331d36#diff-49ba3de83fa99f3d8bae2ece519a449fR571) user is able to pass nil to disable `DismissalRestrictions` and looking at [method](https://github.com/google/go-github/blame/b5b6d4c9c91636b0513e1c29fcfd243162331d36/github/repos.go#L579) below this `nil` is converted to empty array.

Seems that this is

[2017-07-04 21:05] shurcooL commented on #646
An update, I've written a generator for input objects, so all of `input.go` is now completely generated. See https://github.com/shurcooL/githubql/commit/f0510d87973a24664097930b1c230fe4ea7de97a.

With that, all of GitHub GraphQL API v4 is supported by `githubql`! 🎉

Next, I plan to work on resolving shurcooL/githubql#10 (improving support for unions), because that's the biggest usability issue rig

[2017-07-06 16:29] gmlewis opened #666 "Support preview Installations API - updated routes for adding or removing a repository"
GitHub Developers announcment:
https://developer.github.com/changes/2017-06-30-installations-adding-removing-a-repository/

GitHub API docs:
https://developer.github.com/v3/apps/installations/#add-repository-to-installation

[2017-07-08 13:58] XescuGC opened #667 "ProjectCard missing attributes"
First of all great job with this lib 👍

Next, I've noticed that the [ProjectCard](https://github.com/google/go-github/blob/master/github/projects.go#L263) is missing some fields, checking the github [documentation](https://developer.github.com/v3/projects/cards/#response) I detect that: `url` and `creator` are missing. But when it comes from a webhook of [project_card](https://developer.github.com

[2017-07-09 22:26] S2606 commented on #666
@gmlewis I would love to contribute to this project.Pls assign me.

[2017-07-09 22:58] shurcooL commented on #666
Thanks! Feel free to take this issue.

You'll find relevant information in [CONTRIBUTING.md](https://github.com/google/go-github/blob/master/CONTRIBUTING.md). See previous PRs to get an idea of best practices.

[2017-07-09 23:14] shurcooL commented on #667
Thanks for reporting. I can confirm, `url` and `creator` are missing and should be added.

Do you have a source for this? If you have a sample webhook object that includes that field, can you share it?

[2017-07-10 04:11] shurcooL commented on #646
Good news, I've implemented it and found it to work really well. The [issue](https://github.com/shurcooL/githubql/issues/10) is resolved, `githubql` supports [unions](https://developer.github.com/v4/reference/union/) quite nicely now (more details are in the linked issue).

[2017-07-10 06:37] #622 closed

[2017-07-10 07:23] XescuGC commented on #667
On the GH documentatio for the [`project_card`](https://developer.github.com/v3/activity/events/types/#webhook-payload-example-19) webhook you can see the `column_id` definded inside the `project_card` key.

[2017-07-10 07:52] gmlewis commented on #666
Thank you, @S2606! Sending invite.

[2017-07-10 08:04] shurcooL commented on #667
Excellent, thanks for confirming!

[2017-07-11 16:04] #667 closed

[2017-07-17 17:25] shurcooL opened #670 "Support preview Repository API - read and replace topics for a repository."
GitHub Announcement: https://developer.github.com/changes/2017-07-17-update-topics-on-repositories/

It looks like there are 4 changes/additions in this announcement:

- [ ] [Replace all the topics for a repository](https://developer.github.com/v3/repos/#replace-all-topics-for-a-repository).
- [ ] [List the topics for a repository](https://developer.github.com/v3/repos#list-all-topics-for-a-reposi

[2017-07-17 17:59] kytrinyx commented on #670
I've asked some colleagues what happens if you need multiple different preview headers for a call.

[2017-07-17 18:12] kytrinyx commented on #670
Confirmed: at the moment making a request with multiple preview headers is not supported. You'd have to make the same request with multiple accept headers.

[2017-07-17 18:17] kytrinyx commented on #670
Actually, I take that back. It looks like we may have released a fix that should let you make a call with multiple preview headers:

[code]

I just confirmed with this call:

curl -v -XGET "https://api.github.com/repos/:org/:repo" -H "Authorization: token $TOKEN" -H "Accept: application/vnd.github.mercy-preview+json" -H "Accept:  application/vnd.github.drax-preview+json"

The response came back wi

[2017-07-17 19:16] shurcooL commented on #670
Awesome, thank you @kytrinyx! This is super helpful, because it would not be viable for us to make more than 1 remote API call per method, since each method is supposed to correspond to a single API call.

[2017-07-18 03:22] shurcooL opened #671 "examples, tests directories should use singular form."
This is a very minor/nitpicky issue that I'd like to fix, because it's bugging me, and because it's setting a bad example for new gophers.

The directories `examples`, `tests` in the repository root are containers of multiple packages. They should use singular form to follow idiomatic Go patterns. That way, it will be consistent with other Go projects, and `./example/basicauth`, `./test/integratio

[2017-07-18 04:00] gmlewis commented on #671
SGTM.

[2017-07-18 09:43] RaviTezu commented on #670
Hi @shurcooL
Can I tackle this one for my first contribution? Thanks in advance.

[2017-07-18 12:44] bradleyfalzon commented on #670
Let me know how you go @RaviTezu, I'm interested in this functionality. I have a work around, so no pressure.

[2017-07-18 12:52] shurcooL commented on #670
Feel free to go for it, @RaviTezu, and thanks!

Take a look over https://github.com/google/go-github/blob/master/CONTRIBUTING.md to be familiar with contributing guidelines.

[2017-07-18 15:50] willnorris commented on #671
fine with me

[2017-07-18 17:39] gmlewis commented on #670
@RaviTezu - invite sent. Thank you!

[2017-07-18 19:12] RaviTezu commented on #670
@bradleyfalzon I have raised a PR for this. Please take a look and if there's something that can be improved, please feel free to let me know.
@shurcooL Thank you. PR sent.
@gmlewis Thank you for the invite. I have accepted it.

[2017-07-18 20:41] #671 closed

[2017-07-19 01:58] shurcooL commented on #560
The importance of this issue has been reduced with d4206f97f4cbd4c357e2b825c886ad7bcacc184c.

[2017-07-19 17:03] #670 closed

[2017-07-20 05:26] bradleyfalzon opened #675 "Add topics preview header to more RepositoriesService methods"
Recently there's been an addition of topics endpoints (in #670 and #672 by @RaviTezu), the GitHub API also responds with a Topics slice in their repository responses such as in https://developer.github.com/v3/repos/#get.

Could we add this to the Repositories type? I'd like the topics response in RepositoriesService.List method.

[2017-07-20 06:49] shurcooL commented on #675
Sorry, I don't understand what you're referring to. What would you like added exactly?

Doesn't `Repository` type already have the `Topics` slice? See https://godoc.org/github.com/google/go-github/github#Repository.Topics.

[2017-07-20 07:51] bradleyfalzon commented on #675
I must have updated my gopath repo but not my vendored version. My fault. Please ignore!

[2017-07-20 10:26] bradleyfalzon commented on #675
OK, my apologies but, I wasn't going crazy, but I did misdiagnose the issue.

I was checking the `RepositoriesService.List` method and that isn't sending the `mediaTypeTopicsPreview` accept header in it's request, which is why I wasn't seeing the correct results.

My apologies for the misdiagnosed issue, but are we able to add this header tot he various `RepositoriesService.List*` methods?

[2017-07-20 11:09] RaviTezu commented on #675
@bradleyfalzon  I see it now

We are adding the custom header [mediaTypeTopicsPreview](https://github.com/google/go-github/blob/master/github/github.go#L105) only in `ListAllTopic` and `ReplaceAllTopic` methods. I can take this up, if we decide to include Topics as part of Repository/Repositories returned  in all the List* methods.

@shurcooL @gmlewis

[2017-07-20 11:18] bradleyfalzon commented on #675
Now we know that GitHub will accept multiple accept headers, I'm wondering whether there's another API beyond:

[code]

I was thinking a helper (although a test didn't show a great improvement), but perhaps assigning these accept headers to the service itself, and each method could add just a few more if they need.

[2017-07-20 17:17] shurcooL commented on #675
@bradleyfalzon I see.

Absolutely.

The [original announcement](https://developer.github.com/changes/2017-07-17-update-topics-on-repositories/) did not mention list endpoints explicitly (/cc @kytrinyx), but I can see in https://developer.github.com/v3/repos/ docs sample responses that topics are indeed a part of some of the list methods too.

So we should add the ones that support this.

Methods t

[2017-07-20 17:23] RaviTezu commented on #675
@shurcooL Sure, I will take this up.
@bradleyfalzon @gmlewis

[2017-07-20 17:46] kytrinyx commented on #675
The change that was made didn't touch the list endpoints explicitly—but that might just mean that the changes were made earlier and weren't announced. I can take a look at this if you're having trouble figuring it out on your end.

[2017-07-20 18:00] shurcooL commented on #675
When I read that announcement, it certainly felt like it followed another announcement that I had never seen before. Notably:

After looking through a few pages of posts at https://developer.github.com/changes/, I did not find any other posts related to repository topics preview. I figured I just didn't look hard enough and moved on.

Thanks @kytrinyx. I think we should be okay, since the sample r

[2017-07-20 18:49] kytrinyx commented on #675
👍 that sounds good. Don't hesitate to ping me, however. :heart:

[2017-07-20 19:02] RaviTezu commented on #675
I just confirmed that, *https://api.github.com/repositories?since=blah* is **not** returning the topics as part of its response.

Tried with *https://api.github.com/repositories?since=97864963* creating a test repo with topics. BTW the custom header `Accept: application/vnd.github.mercy-preview+json` is set while querying.
@shurcooL @bradleyfalzon

[2017-07-20 22:29] bradleyfalzon commented on #675
sgtm.

Well said, thanks.

[2017-07-21 00:19] iwata commented on #664
And I hope that `PullRequestReviewsEnforcementRequest` supports `require_code_owner_reviews` key 😄 .
https://developer.github.com/v3/repos/branches/#update-branch-protection

[2017-07-21 01:34] shurcooL commented on #664
I ran into this issue as well in #674. See https://github.com/google/go-github/blob/e062a8cd852f0fb981c8c9f837c214c4d1031870/test/integration/repos_test.go#L111-L113.

[2017-07-22 05:56] #675 closed

[2017-07-24 18:18] RaviTezu commented on #616
Can we assign this to @ahmedhagii ?
I see https://github.com/google/go-github/pull/621 is work in progress.
@shurcooL @gmlewis

[2017-07-24 18:24] gmlewis commented on #616
Invite sent.

[2017-07-24 19:42] shurcooL commented on #616
That PR is 90% finished but he's not responding. I think we should just carry it ourselves.

[2017-07-25 15:15] RaviTezu commented on #616
@shurcooL @gmlewis
I can take this up, if there are no concerns.

[2017-07-25 15:37] shurcooL commented on #616
I think we should just finish the existing PR and merge that. I'll do it now.

[2017-07-25 15:51] #616 closed

[2017-07-25 15:52] vedantrathore commented on #666
@S2606 are you still working on this? if not, I'd like to get started on this?

[2017-07-25 15:52] shurcooL commented on #616
This is resolved now. Thanks for the offer to help @RaviTezu! If you want to work on another issue, we still have many open, so feel free.

[2017-07-25 16:18] S2606 commented on #666
@shurcooL Since i have been added as a collaborator, do i need to still follow the normal procedure for pull requet??

[2017-07-25 16:26] shurcooL commented on #666
@S2606 I think you were added so you could be assigned to an issue (it's how GitHub permissions work). I'm not sure what you mean by "normal" procedure for PRs, but yes, you should just create a PR. That's what everyone does, including @gmlewis and myself.

[2017-07-25 16:31] S2606 commented on #666
Thank you @shurcooL .

[2017-07-26 00:58] S2606 commented on #666
@gmlewis I have a doubt. Can you tell me in which file is this API being used because i couldnt find them in `apps_installation.go`

[2017-07-27 16:37] gmlewis opened #678 "Support preview Team Review Requests API"
GitHub Announcement:
https://developer.github.com/changes/2017-07-26-team-review-request-thor-preview/

GitHub API Docs:
https://developer.github.com/v3/pulls/review_requests/

Note that the announcement describes a breaking change which may involve a bump of this package's version number.

[2017-08-01 14:10] RaviTezu commented on #678
@gmlewis @shurcooL
Can I take this up?

[2017-08-01 16:12] shurcooL commented on #678
Sure thing, feel free to go for it! Thanks.

[2017-08-04 14:05] RyanFrench opened #680 "Panic when BaseURL is missing the scheme prefix"
If I create a new client and explicitly set the BaseURL (for instance when using GitHub Enterprise) without the `https://` at the start of the URI, it allows me to create the client but then panics once a request is made.

`panic: runtime error: invalid memory address or nil pointer dereference`

[code]

[2017-08-04 16:09] shurcooL commented on #680
The panic is on this line:

[code]

Specifically, you're accessing `res.StatusCode` without first checking `err`. If `err != nil`, then response may be `nil`, so doing `res.StatusCode` triggers a nil pointer dereference panic.

You should check error first, e.g.:

[code]

(Also, note that `go-github` already checks the status code for you and returns non-`nil` error if it's not an expected value,

[2017-08-05 17:37] scriptonist opened #681 "Error when creating a repository"
When creating a repository using the following method
`repos, _, err := client.Repositories.Create(ctx, "", repo)`
It throws the following error

`
POST https://api.github.com/user/repos: 404 Not Found
`
The client was created using the following method

[code]

[2017-08-05 17:46] shurcooL commented on #681
404 is a strange response.

https://developer.github.com/v3/repos/#create are the GutHub API docs for that endpoint.

Do you have the right OAuth scopes? Did you provide the required `Repository.Name` field?

[2017-08-06 02:50] scriptonist commented on #681
This is the repository var which i user
[code]

[2017-08-06 03:48] scriptonist commented on #681
@shurcooL the problem was with  OAuth scopes. I don't know how i missed it.Thank you so much.

[2017-08-06 03:48] #681 closed

[2017-08-07 07:29] RyanFrench commented on #680
Ah, thanks. That makes sense.

[2017-08-07 07:29] #680 closed

[2017-08-09 20:22] #678 closed

[2017-08-09 20:24] shurcooL commented on #678
Thank you for resolving this issue @RaviTezu!

[2017-08-10 00:55] haya14busa commented on #651
Sorry, i didn't notice this issue. I fixed the problem with #683

[2017-08-10 01:02] shurcooL commented on #651
Thanks for pointing that out @haya14busa. I felt like I had already seen it somewhere, this explains that.

Closing because it's resolved in #683.

[2017-08-10 01:02] #651 closed

[2017-08-10 15:18] gmlewis opened #684 "Investigate breaking changes to creating webhooks"
GitHub Developer Announcement:
https://developer.github.com/changes/2017-08-09-breaking-changes-to-webhook-creation/

It looks to me like this might be a simple or possibly even a NO-OP issue for this repo, but needs investigation and is a great opportunity for a new contributor to take on an issue and contribute (for which we greatly appreciate).

To resolve this issue, the following endpoints ne

[2017-08-10 15:22] alexellis opened #685 "Verification missing for commits?"
Hi,

I've looked at the Commit.Verification response returned from ListCommits - it appears to be nil regardless of whether the commit is signed.

For example you could use this one as a tester -
https://github.com/alexellis/faas-cli/pull/30/commits

The commit message etc is brought back correctly - as this is a signed commit with `-S` this should have Verification in the API.

Please can you adv

[2017-08-10 16:20] RaviTezu commented on #685
Hi @alexellis
I just tested this and looks like, the preview header `application/vnd.github.cryptographer-preview` needs to be added to the ListCommit method. I will send a PR now.
@shurcooL @gmlewis

[2017-08-10 17:14] shurcooL commented on #685
@RaviTezu, confirmed:

[code]

[2017-08-10 17:20] shurcooL opened #687 "RepositoriesService.ListCommits could also benefit from Preview support for Git signing."
While investigating #685, I noticed that `RepositoriesService.ListCommits` is also missing this header. Setting it would populate the `Verification` fields:

[code]

/cc @RaviTezu FYI.

[2017-08-10 17:21] RaviTezu commented on #687
Ah! Missed it :)
I will send a PR shortly.
@shurcooL

[2017-08-10 17:48] swsnider commented on #638
This change breaks Enterprise users -- we don't have reviews out of preview yet :(.

[2017-08-10 18:28] shurcooL commented on #638
Thanks for reporting @swsnider.

Re-opening for further consideration.

How should we go about dealing with this, @gmlewis?

A short term solution is to revert this removal of the preview API.

However, a long term solution is deciding on our policy. Should latest `master` target GitHub.com
API only, or GitHub.com and GitHub Enterprise APIs? The challenge with doing the latter from what I can see

[2017-08-10 18:30] swsnider commented on #638
The problem is that even after the Enterprise version with this fixed is released, you're typically still at the mercy of your IT org to upgrade your instance in a timely manner, so this may not be soluble by this project :(.

[2017-08-10 18:39] shurcooL commented on #638
Right. So it might be the case that a better/more viable solution is to, unfortunately, use an older version of go-github via vendoring.

[2017-08-10 18:49] swsnider commented on #638
Yeah, that's what I'm doing for now

[2017-08-10 20:32] alexellis commented on #685
Looking forward to being one of the first people to test this once it's in master 👍 - thanks again @RaviTezu @shurcooL

[2017-08-10 22:31] #685 closed

[2017-08-10 22:33] shurcooL commented on #685
@alexellis Thanks! Let us know if you spot any issues.

[2017-08-11 05:45] scriptonist commented on #684
@gmlewis Can i take this up ?.

[2017-08-11 09:53] JorritSalverda opened #689 "Create tags in this repository in order to pin the version when vendoring the library"
To be able to run a predictable and repeatable build vendoring copies the whole repository in your own. I would be nice to be able to easily pin it to a specific version. Unfortunately right now there are no releases or tags that represent a version. Any plans to do so? Thx

[2017-08-11 17:24] shurcooL commented on #689
We have an open issue #376 where this is being discussed, please use it. Closing as duplicate of #376.

[2017-08-11 17:24] #689 closed

[2017-08-11 17:48] gmlewis commented on #684
Absolutely!  Sending invite.  Thank you, @scriptonist!

[2017-08-11 17:50] gmlewis commented on #684
We have some useful information for contributing here:
https://github.com/google/go-github/blob/master/CONTRIBUTING.md

[2017-08-11 18:24] #687 closed

[2017-08-12 09:19] scriptonist commented on #684
@gmlewis I dont't know if i did it right.But these are the steps that i followed

- Created a webhook for one of my personnel repo.
- Accessed this with the `ListHooks` and `GetHook` functions.
- Studied the response

I did the same for an organizational repository.
I found that none of these responses had
-  download
- follow
- fork_apply
- gist

in their events array.
Was my approach right ? wha

[2017-08-14 16:41] gmlewis commented on #684
Thank you, @scriptonist!  You went above and beyond.
I didn't actually expect GitHub to be sending those responses.
I wanted to make sure that we weren't simulating those responses anywhere or expecting them in our package.
It looks like we are totally in the clear.

Thanks again for investigating this, @scriptonist... we really appreciate it.
I'm going to close this issue as resolved.
Feel free t

[2017-08-14 16:41] #684 closed

[2017-08-15 15:42] 178inaba opened #694 "Coverage is not working"
coveralls shows the python (twig?) file.
Also, the latest build is **09 Feb 2017 04:51PM UTC**.
https://coveralls.io/r/google/go-github?branch=master

Furthermore, drone.io is 404.
https://drone.io/github.com/google/go-github/files/coverage.html

I think that setting is necessary again if coverage is necessary.
If coverage is unnecessary, should delete badges and links from the README.

[2017-08-15 19:42] ianrose14 commented on #578
@gmlewis Can you help me understand how https://github.com/google/go-github/pull/582 is supposed to work?  It looks to me like `withContext` in `with_appengine.go` is (in most/all situations) being passed a newly created `http.Request` (i.e. the one that is going to be used to make a request to github).  In which case `appengine.WithContext` will panic with "appengine: NewContext passed an unknown

[2017-08-15 19:57] shurcooL commented on #646
Thanks for adding the reference to the `githubql` repository in a8d73f9e02c9e82697d7bcc7aa8ff2bd23341181 @willnorris! There's a minor typo in the URL that we should fix, as I mentioned in https://github.com/google/go-github/commit/a8d73f9e02c9e82697d7bcc7aa8ff2bd23341181#commitcomment-23660360.

I think that means we can close this issue, since the task of starting a client library for GitHub Grap

[2017-08-15 20:00] willnorris commented on #646
yep, sounds good to me.

[2017-08-15 20:00] #646 closed

[2017-08-15 20:49] gmlewis commented on #578
@ianrose14 - I'm not sure I understand why you claim that a panic will occur.

Please take a look at [api_classic.go lines 62-65](https://github.com/golang/appengine/blob/master/internal/api_classic.go#L62-L65)
and note that a new App Engine context is being created with `appengine.NewContext(r)`.

Also note that we are only talking about App Engine Classic here, as stated in the docs from #582.

[2017-08-15 21:00] ianrose14 commented on #578
@gmlewis In the code you linked above, isn't it true that `req` _must_ be an incoming `http.Request` that came through app engine's http server (and passed to your handler)?  IIUC if you pass some random `http.Request` (e.g. one from `http.NewRequest`) then it will panic.  [The godocs](https://godoc.org/google.golang.org/appengine#NewContext) hint (but are not 100% clear) at this by their use of "

[2017-08-15 21:05] gmlewis commented on #578
Yes, `req` comes through App Engine's http server and is passed to your handler.

Are you trying to pass some random http.Request to `go-github` while running on App Engine?
Yes, that would probably cause a panic and is not the intended use case here.

[2017-08-15 21:39] shurcooL opened #696 "Inconsistency in documentation for ProjectCardOptions.ContentType field."
https://github.com/google/go-github/blob/cf4400336af2282a4879072b0d1c17b7d8c0207e/github/projects.go#L326-L337

The documentation for `ContentType` field says:

I noticed at https://developer.github.com/v3/projects/cards/, it says:

This is an inconsistency, which can be investigated and resolved.

I've checked, and our documentation is from 11 months ago when projects support was initially added

[2017-08-16 01:19] ianrose14 commented on #578
Hmm.  Sorry, I must be being dense.  As an example, [here](https://github.com/google/go-github/blob/master/github/repos_commits.go#L125) is a place where the code creates a brand new (non-appengine) http request, and then [a few lines later](https://github.com/google/go-github/blob/master/github/repos_commits.go#L134) passes it as `req` to [`s.client.Do()`](https://github.com/google/go-github/blob

[2017-08-16 03:10] gmlewis commented on #578
I think I see the confusion.  `ListCommits` takes a `context.Context` that was already generated with `appengine.NewContext(req)`... so the second `appengine.WithContext` is a NO-OP.

Let me whip up a simple example for App Engine, make sure it works, and then copy it into this thread.

[2017-08-16 03:45] gmlewis commented on #578
Update: It looks like I need to apologize. I thought I had fully tested this, but I now see exactly what you are talking about, @ianrose14. This is broken.  I'm going to reopen this issue and get it working with an example.

[2017-08-16 04:40] scriptonist commented on #696
@shurcooL can I take up this issue.

[2017-08-16 04:42] shurcooL commented on #696
Thanks!

Feel free to investigate it and post your findings here. If it's pretty straightforward, you could send a PR right away. Otherwise, it's a good idea to discuss it first. See [CONTRIBUTING.md](https://github.com/google/go-github/blob/master/CONTRIBUTING.md) for more info.

[2017-08-16 08:11] scriptonist commented on #696
`ProjectCardOptions` is used in the following functions

1. `CreateProjectCard`
2. `UpdateProjectCard`

In these two functions,` ProjectCardOptions` is used as an argument.Therefore I believe the  inconsistency is centered around the documentation only and can be eliminated by editing the corresponding docs.
If the my findings are satisfactory I will be happy to send a PR.

[2017-08-16 11:07] ianrose14 commented on #578
👍 thanks!

[2017-08-16 19:21] shurcooL commented on #696
That sounds very reasonable to me. Thanks for investigating!

I'll just ping @gmlewis on this, since he wrote the original code. If he doesn't have any objections either, then we're good to go.

Feel free to send the PR since I expect it should be pretty small.

[2017-08-16 19:57] gmlewis commented on #696
That sounds great, @shurcooL and @scriptonist... thank you for finding and fixing this!

[2017-08-16 21:47] #578 closed

[2017-08-17 22:12] #696 closed

[2017-08-20 17:04] e-beach commented on #638
I think the "good-for-beginners" label could be removed from this,

[2017-08-20 23:08] e-beach commented on #524
Should this be closed, as #538 was closed and merged?

[2017-08-21 01:06] beiriannydd commented on #664
I have PR #703 in to fix this.  It seems to be failing because I added a new library go-spew which is essentially the recursive %+v I always wanted and that doesn't get pulled in during the build.

[2017-08-21 01:20] beiriannydd commented on #664
Tests are passing :)

[2017-08-21 03:19] e-beach commented on #605
Hi, I just started working on a spreadsheet of discrepancies. Any issue with assigning to me?

[2017-08-21 03:20] aleksclark commented on #605
Ok with me

On Aug 20, 2017 10:19 PM, "Elliott Beach" <notifications@github.com> wrote:

[2017-08-21 14:50] e-beach commented on #605
Here's a list of all inconsistencies:

[code]
It seems that the use of "Repo" or "Repository" for field names is inconsistent.

The full list was generated using a script I cooked up at https://gist.github.com/e-beach/120a6f26c72c8d08f2895b933d1af8ab, I discarded these differences that seem highly intentional:

[code]

[2017-08-21 15:19] MorrisLaw commented on #666
Is this still being worked on , or is it up for grabs ? @S2606 @shurcooL @gmlewis

[2017-08-21 19:20] gmlewis commented on #666
Let's say if we don't hear from @S2606 by this Wednesday, that we can reassign this issue. I hope that seems fair to everyone... If anyone wishes to point me to any standard policy for making decisions of this nature, I would gladly read up on them.  :smile:

[2017-08-21 19:25] gmlewis commented on #605
Thanks, @e-beach! Invite sent.

[2017-08-21 19:34] gmlewis commented on #524
From a quick glance at this announcement: https://developer.github.com/changes/2016-11-28-preview-org-membership/ it appears that #538 did not fully support all the new API endpoints. For example, I don't think [Remove an outside collaborator](https://developer.github.com/v3/orgs/outside_collaborators/#remove-outside-collaborator) was addressed.  There may be more, and part of the ownership of an

[2017-08-21 19:40] gmlewis commented on #638
I had a talk with @willnorris about this, and I believe our resolution was that semantic versioning (#376) would be the best way to support GitHub Enterprise API users (and that they would need to vendor the version that best supported their use-case), and that the latest `master` target the latest GitHub API.

As such, I think the "good-for-beginners" label still holds for this issue.

[2017-08-22 00:10] S2606 commented on #666
You can take it @MorrisLaw.

[2017-08-22 00:40] e-beach commented on #605
Thanks, accepted! To be clear, I don't think I can make a PR based on this as I'm not currently in a position to judge what changes should be made.

[2017-08-22 01:33] MorrisLaw commented on #666
I'm going to start working on this issue @gmlewis @shurcooL . When you get the chance, please assign it to me. Thank you, I will keep this thread updated on my progress if I have any issues.

[2017-08-22 12:31] e-beach commented on #617
The Jun 22 announcement did not introduce new changes, but it means we can remove the special accept header for the API preview on Sept 1st.

The functions related to protected branches such as `updateBranchProtection` already work in the way described in the announcement. The update endpoint uses the `PUT` method, and we have a `requiredPullRequestReview ` property of the struct which the client

[2017-08-22 13:48] e-beach commented on #647
Is this issue being worked on? If not, could it be assigned to me?

[2017-08-22 15:38] shurcooL commented on #664
See my comment at https://github.com/google/go-github/pull/703#issuecomment-324064996.

I think in order to resolve this bug, we need to figure out how to reproduce a successful response from GitHub using REST API. Then, once we have that, we can work on the Go code to fix the code, if needed.

[2017-08-22 15:42] willnorris commented on #638
We can't help IT departments that are slow to upgrade, and vendoring (together with semver) is the right solution there.

But I kinda like the policy of not removing preview media types until they have been released in GitHub Enterprise (assuming we can track that without too much trouble).  We could go ahead and create issues like this when APIs come out of preview for github.com, and apply a spe

[2017-08-22 15:51] shurcooL commented on #638
Note, the original task of removing the media type has already been done in 11516601ad905b8307923d093a487b6a5446f2c4, @gmlewis. I've reopened the issue only to discuss the outcome regarding Enterprise not having support for this yet. Aside from discussion, this issue isn't actionable, so I'll remove that label.

[2017-08-22 16:16] shurcooL commented on #638
It also sounds like we've come to a conclusion about the long term solution. Thanks @gmlewis and @willnorris. Further discussion about semver and tagging can be resumed in #376. I'll close this issue, but feel to continue discussion there, or open a new issue if there's something specific to address.

[2017-08-22 16:16] #638 closed

[2017-08-22 16:31] shurcooL commented on #666
Sounds good, thanks @MorrisLaw! I can't assign you to the issue, but it should be visible for anyone reading this that you're taking it on at this time.

(If/once @gmlewis invites you, then we can assign you. GitHub restrictions mean we can't assign someone until they're invited to the org.)

[2017-08-22 16:34] shurcooL commented on #605
Thank you very much for contributing those investigation results in https://github.com/google/go-github/issues/605#issuecomment-323763728, @e-beach! That is extremely helpful (and often undervalued), because it will make it much easier for anyone to contribute a code fix and for us to review it. Your contribution gets a 🌟 from me! :)

We should discuss here first what changes we want to make, befo

[2017-08-22 16:43] shurcooL commented on #605
Let's start with the easier ones. I think it's for sure that we want to fix these inconsistencies, because they're a typo:

[code]

I think a breaking API change for both is the most effective way to move forward. We should definitely do it for `repos_deployments.go` because it's a very misleading field name.

The one in `authorizations.go` is a harmless typo, but I suspect it's easier to just bre

[2017-08-22 16:49] gmlewis commented on #617
While here, @e-beach, can you determine if removing the API preview accept header would affect Enterprise API clients?  I seem to recall that if you are not a GitHub Enterprise customer, that you don't have access to the Enterprise API docs, but this was a long time ago and I could be mistaken. We just had a discussion about this in #638.

[2017-08-22 16:52] shurcooL commented on #605
Actually, as I suspected, it won't be possible to use a deprecated field like that. Due to the rules for overlapping JSON fields in https://godoc.org/encoding/json:

There will be multiple fields and they will be ignored.

See https://play.golang.org/p/MWsbl69mT8.

So it has to be a simple breaking API change.

[2017-08-22 17:10] gmlewis commented on #666
Invite sent, @MorrisLaw. Thank you!

[2017-08-22 17:34] #694 closed

[2017-08-22 22:01] gmlewis opened #704 "Add support for MarketplacePurchaseEvent"
When looking through the [webhook events](https://developer.github.com/webhooks/) I noticed that we currently do not support the [MarketplacePurchaseEvent](https://developer.github.com/v3/activity/events/types/#marketplacepurchaseevent) in [`messages.go`](https://github.com/google/go-github/blob/master/github/messages.go#L55).

It would be nice to add this support and it would be a great project f

[2017-08-23 02:28] e-beach commented on #617
@gmlewis I couldn't tell. I suspect we must wait and see until the documentation is updated,  either in the current release, 2.10, or in a new release.

The enterprise docs are available at https://developer.github.com/enterprise/2.10/v3/,  and there's contextual information and a list of releases at https://developer.github.com/v3/enterprise/.

So it seems correct to not use those above commits o

[2017-08-23 03:09] MorrisLaw commented on #666
I'm having some trouble testing my changes to the code. I run `go generate` and nothing appears to happen. When I run `go test` in my **~/Projects/go-workspace/src/go-github/github** directory I get the following error:

[code]

If I run `go test` on a particular test file I get the following, and this is with any test file so I'm assuming that I shouldn't run `go test` on a particular file but in

[2017-08-23 03:13] shurcooL commented on #666
It sounds sounds like the `go-github` repository that you're modifying is in the wrong location. Based on your GOPATH, it should be here:

[code]

But instead you've placed it here:

[code]

You should move the folder `go-github` in the right location. As is, its full import path is `go-github/github`, which is not what you want. It should match the full import path of this project, which is `gith

[2017-08-23 03:16] shurcooL commented on #666
@MorrisLaw Please read this post https://blog.sgmansfield.com/2016/06/working-with-forks-in-go/ by @ScottMansfield, it explains the best way to set things up so that you can send contributions.

Also, please take a look over https://github.com/google/go-github/blob/master/CONTRIBUTING.md as it may have additional relevant information.

[2017-08-23 03:35] MorrisLaw commented on #666
Thank you for the fast response @shurcooL

[2017-08-23 03:48] RaviTezu commented on #704
Hi @gmlewis I would like to take this.

[2017-08-23 04:34] scriptonist commented on #704
@gmlewis Can I take up this issue ?

[2017-08-23 05:10] shurcooL commented on #704
Sure thing, thanks!

[2017-08-23 12:47] marcindulak opened #705 "archived releases have been removed?"
I used to access the particular tarball at https://github.com/google/go-github/archive/30a21ee1a3839fb4a408efe331f226b73faac379/go-github-30a21ee.tar.gz - what happened to the archived releases, is this a github change?

[2017-08-23 14:57] shurcooL opened #707 "Include more advanced search query in godoc and test case."
From #701, there are 2 improvements I think we can make for our search endpoints:

- [ ] The godoc can be improved to give an example query. Right now, https://godoc.org/github.com/google/go-github/github#SearchService.Issues doesn't say much. I think it'd be helpful to give an example query that can be done. For example, maybe a query like this:

    `"gopher is:issue label:bug language:go"`

[2017-08-23 14:58] e-beach commented on #705
The `500: Internal Server Error` response suggests that this was an issue with github.com.
I just tested and it is now working for me.

[2017-08-23 15:03] marcindulak commented on #705
Works for me now, too.

[2017-08-23 15:03] #705 closed

[2017-08-24 02:00] scriptonist commented on #704
@shurcooL I went through the code arrived at the following conclusions

Files to be modified:
1. `event_types.go`
      * Add a new event type struct for `MarketplacePurchaseEvent`
2. `activity_events.go`
      * Add a new `case` in `ParsePayload` function for `MarketplacePurchaseEvent`
3. `messages.go`
     * Edit the `eventTypeMapping` map to include `marketplace_purchase`

Are my conclusions co

[2017-08-24 18:15] gmlewis opened #708 "Remove custom media type for Repository Invitations API"
GitHub Announcement:
https://developer.github.com/changes/2017-08-23-repository-invitation-api/

The custom media type `mediaTypeRepositoryInvitationsPreview` that was added in #373 can now be removed as it is no longer necessary.

Edit: ~~~GitHub Enterprise API customers may wish to comment on this issue if they feel that this removal should be delayed for any reason.~~~

[2017-08-24 18:21] RaviTezu commented on #708
Hi @gmlewis Can I take this?

[2017-08-24 18:55] gmlewis commented on #708
I just talked to @willnorris who reminded me that we will not be removing any features until we get confirmation that the removal won't break Enterprise API clients... so please hold off on addressing this issue.

Also, semantic versioning, once we nail that down for this repo, should assist with this situation.

See #376, #617, and #638 for further discussion.

[2017-08-24 19:08] RaviTezu commented on #708
Sure @gmlewis

[2017-08-29 04:37] shurcooL commented on #704
Sorry for the delay in getting back.

You have done a good job finding out what needs to be done!

I see just one thing missing, that is you should also modify `messages_test.go` and add a test case in `TestParseWebHook`.

You can/should look over these PRs that have added events in the past, they serve as good examples/references:

- #630
- #653
- #544

Thanks!

[2017-08-29 04:43] scriptonist commented on #704
@shurcooL Thank you. I will refer mentioned PR's and will  sumbit a PR ASAP

[2017-08-30 03:36] shurcooL commented on #605
I'll copy my https://github.com/google/go-github/pull/709#discussion_r135962602 from the PR so we can discuss it here:

Also, I just noticed there are _two_ `UpdatedAt` fields with `pushed_at` json tag in repos_deployments.go, not one:

https://github.com/google/go-github/blob/5f3187e17912ee2e3fbe2fa5bdada9d577d25e83/github/repos_deployments.go#L26

https://github.com/google/go-github/blob/5f3187e

[2017-08-30 03:38] shurcooL commented on #605
It was done in PR #139. There's no discussion about the discrepancy, so that pretty much confirms it was unintentional.

[2017-08-30 05:18] yutongz opened #710 "[Need help] What's the syntax of search query"
I am trying to use [SearchService](https://github.com/google/go-github/blob/master/github/search.go#L100) to query specific PRs.

I tried github api with something like: `https://api.github.com/search/issues?q=type:pr+label:release-note+repo:istio/istio+is:merged+merged:>2017-08-01&sort=created&order=asc` and the response was as expected.

Then I tried to use golang api to do the same thing, https

[2017-08-30 07:15] shurcooL commented on #710
The string should be the same as what you'd type on github.com in a search UI box. Something like:

[code]

This issue further validates issue #707; we should add an example to godoc.

[2017-08-30 12:56] e-beach commented on #605
The `pushed_at` field definitely does not exist.

In addition to the documentation, sending requests to https://api.github.com/repos/github/hub/deployments/16449242 (a deployment)
and
https://api.github.com/repos/github/hub/deployments/16449242/statuses (a deployment status)

shows that both instances should use `updated_at` in the json tag.

[2017-08-30 14:32] dlapiduz commented on #605
@shurcooL @e-beach I don't recall exactly what happened but I _think_ that the deployments API was alpha/beta at that time and it was changing. That might be the source of the discrepancy.

[2017-08-30 16:15] #647 closed

[2017-08-30 16:20] shurcooL commented on #605
I see, that would make sense. Thanks for looking into it and confirming @e-beach and @dlapiduz!

[2017-08-30 19:58] yutongz commented on #710
Thanks for a quick response. That works and yes, it would be better to have a little bit more instruction.

[2017-08-30 19:58] #710 closed

[2017-08-31 02:23] scriptonist commented on #704
@shurcooL Soory for the delay.I'm having a hard time working with this PR.I've some doubts,please do help me to clear them.
I've been referring other related PR's.When looking through [#630](https://github.com/google/go-github/pull/630/files) to implement `OrgBlockEvent` the contributor added a pointer to `*Installation` in the `OrgBlockEvent`.But this is not specified in the API payload in [githu

[2017-08-31 02:36] shurcooL commented on #704
No worries about delays, you're welcome to work on this on your own time.

`*Installation` is a special field. It's an additional part of all events. It's documented at https://developer.github.com/webhooks/#payloads:

[2017-08-31 02:47] e-beach commented on #707
Can this be assigned to me?

[2017-09-01 15:42] e-beach commented on #605
Now that we've renamed a few fields, a decision should also be made on what, if any, other fields ought to be changed. The comments above mentioned `TotalCount`, My thinking is that trivial renamings that cause breaking changes for users are not worth the enhanced consistency.

[2017-09-01 15:53] shurcooL commented on #605
Yeah. I'm going to think about it some more, but I think a likely good next step is to stop here and close this issue.

[2017-09-03 02:37] e-beach commented on #236
I'm surprised this hasn't been addressed in 2 years, though it's clear it's a problem as @marun has mentioned. Should we add a `removeMilestone` method to the `IssuesService`?

[2017-09-05 18:16] shurcooL commented on #664
From my understanding of #703, the way to get a successful response from GitHub is to perform the API call involving DismissalRestrictionsRequest on an organization-owned repository. It doesn't work on personal repositories and gives 422 in that case. /cc @beiriannydd

[2017-09-05 18:23] shurcooL commented on #236
I think that's the case because the GitHub API is very large, and removing a milestone from an issue is something only a few people ever need. It has a well described workaround here, so those who need it use that and move on.

To resolve the issue, we need to come up with a good API/good way of doing so.

[2017-09-05 19:27] jordanschalm opened #712 "JSON unmarshall error when creating a team"
Creating a team involves unmarshalling a JSON response into an `Organization` object, which causes an error because the `blog` field of the `Organization` struct is of type `string` ([relevant code](https://github.com/google/go-github/blob/master/github/orgs.go#L28)), where the JSON contains an object in the `blog` field.

Note that this is specific to the JSON response from creating a team. `GET

[2017-09-05 19:39] shurcooL commented on #712
Let me confirm, are you saying the above JSON snippet is a (partially stripped) response from GitHub API when creating a team?

This... really feels like a bug on GitHub API side. I'd be very surprised if they're returning that `blog` object instead of a URL string on purpose...

Is there anything in the GitHub API docs suggesting this might be a valid response? If not, I think the best thing to d

[2017-09-05 19:40] shurcooL commented on #712
(I suspect it could be a bug that happened as part of their transition to GraphQL for API v4. Just a guess.)

[2017-09-05 20:23] jordanschalm commented on #712
Yes the snippet is a response from GitHub API after creating a team. And you're right, [their docs](https://developer.github.com/v3/orgs/teams/#response-2) would suggest that the `blog` field should just be a string.

I contacted them and will update here once I get a response.

[2017-09-07 02:42] jordanschalm commented on #712
It is a bug, GH is aware, but no timeline for fixing it.

GitHub's response:

As a temporary hack to get this working, I created [a fork](https://github.com/jordanschalm/go-github) that prevents the bug by preventing the `blog` field from being unmarshalled.

[2017-09-07 03:56] shurcooL commented on #712
They never promise an ETA (which is reasonable, software is unpredictable), but I suspect it shouldn't take long for this to get fixed, given how serious the issue is and how easy the fix probably is.

I don't think we need to do anything about it on `master` here for now. People who are affected by this can make the neccessary temporary workaround, as you've done in your fork.

In the rare event

[2017-09-07 04:50] RaviTezu commented on #376
Hi @willnorris @shurcooL, Is something finalized on this? If yes are we tracking it somewhere else? Also, I want to know if there's anything I can help with :)

[2017-09-07 16:37] gmlewis opened #714 "Support preview Nested Teams API"
GitHub Announcement:
https://developer.github.com/changes/2017-08-30-preview-nested-teams/

This involves adding new endpoints and changing existing endpoints according to the blog post.

Successful completion and closing of this issue involves addressing all the changes described in the GitHub announcement.  Note that it doesn't have to all be done in a single PR.  It is always a good idea to car

[2017-09-07 16:43] gmlewis opened #715 "Support breaking changes to the Projects API preview"
GitHub Announcement:
https://developer.github.com/changes/2017-09-01-breaking-changes-to-projects-api-preview-and-webhooks-date-format/

To resolve this issue, it appears that unit tests will need to be updated for the time parsing functions that process webhook payloads. It is possible that the new format is already supported, but it is more likely that the parsing format needs to be changed slig

[2017-09-07 16:47] gmlewis commented on #617
Latest announcement from GitHub:
https://developer.github.com/changes/2017-09-06-protected-branches-preview-end/

It is still not clear to me if this equally applies to Enterprise customers.
Maybe an Enterprise customer could comment.

[2017-09-07 19:29] shurcooL commented on #376
I'm waiting on a summary of the final semver scheme that @willnorris had in mind. It's a little hard to deduct from reading the comments above, because a lot of different options were being discussed with back and forth.

[2017-09-07 19:39] willnorris commented on #376
yep, this is squarely on me.  I'll try and carve out some time soon.

[2017-09-07 19:49] shurcooL commented on #715
But GitHub only sends at most one format at a time, never both. We can opt-in to the new format earlier by using a preview header. The date the list is when the old format will stop being available and will become the default even without the preview header.

So if you want to to support old format while having the new format, we'd have to compute the old one locally.

I'd prefer a more instantane

[2017-09-07 19:56] gmlewis commented on #715
If I understand correctly, GitHub is only changing the format of their webhook timestamps... and our API returns `time.Time` anyway, so I'm thinking/hoping that no API from a Go standpoint will be broken... but I could be wrong.

[2017-09-07 20:09] #707 closed

[2017-09-07 20:19] shurcooL commented on #715
Ah, indeed. We're likely using our [`Timestamp`](https://godoc.org/github.com/google/go-github/github#Timestamp) type that handles both.

That's great, lucky us! :)

[2017-09-08 14:12] e-beach commented on #521
@shurcooL The only place `PullRequestEvent` occurs is in the webhooks API, correct? Otherwise, all PRs trigger issue events. Hence this issue is specific to webhook events.

That is, the answer to "Does `GET /repos/:owner/:repo/issues/events` contain a event with type `pull_request`?" in https://github.com/google/go-github/issues/521#issuecomment-273368635 is no.

 For an example, I created and la

[2017-09-08 14:38] e-beach commented on #715
Great! Please assign to me.

[2017-09-08 15:37] jordanschalm commented on #712
This is fixed now on GitHub's end as far as I can tell.

[2017-09-08 15:37] #712 closed

[2017-09-08 17:45] scriptonist commented on #704
@shurcooL when is this event fired? I tested by adding Travis CI from the marketplace and listing the events using the following endpoint https://api.github.com/users/testing-user/events But couldn't find any marketplace purchase event.Should I actually purchase a service to get this event?

[2017-09-09 01:23] e-beach commented on #715
Interestingly, the `created_at` and `updated_at` fields for `Projects` are populated in exactly the same way as for timestamps in the rest of the API. Perhaps for this reason, there is no test covering the irregular timestamp format.

I'll add a unit test covering the timestamp format after the change, although, logically, it shouldn't make any difference, because all the timestamp logic is handle

[2017-09-09 04:55] shurcooL commented on #715
@e-beach You're probably already aware, but we already have some unit tests for `Timestamp` type in [`timestamp_test.go`](https://github.com/google/go-github/blob/12126fbfe000a09047ebdeb2b5160be3af88ab9e/github/timestamp_test.go) file, so that's where new unit tests would go. Thanks. :)

[2017-09-09 05:00] shurcooL commented on #704
From https://developer.github.com/v3/activity/events/types/#marketplacepurchaseevent:

If there's no easy way to trigger this event, it's completely acceptable to try to make the PR purely based on the GitHub documentation of the event, without testing it. We'd be able to review it based on that.

If it happens to be slightly off, the person who actually receives the event and notices an issue can

[2017-09-09 05:15] shurcooL commented on #521
I'm not sure. Maybe? But the GitHub documentation seems to suggest otherwise, that it has a normal event form too. See:

https://developer.github.com/v3/activity/events/types/#pullrequestevent

It has a "Events API payload" section as well as "Webhook event" section.

I think that you're looking at the wrong endpoint. https://api.github.com/repos/e-beach-bot-2/test/issues/events is the [Issue Even

[2017-09-09 13:56] e-beach commented on #715
I was ignorant, thanks!

[2017-09-09 14:27] e-beach commented on #715
The revised timestamp format is already covered by the tests in `timestamp.go`:
https://github.com/google/go-github/blob/12126fbfe000a09047ebdeb2b5160be3af88ab9e/github/timestamp_test.go#L15-L19

Based on this, I don't believe any changes to code/tests need to be made to cover the change.

 We could add a test to cover the format currently returned by the Projects API, which contains milliseconds,

[2017-09-09 16:00] e-beach commented on #617
Actually, documentation on this is available here for the most recent version of GitHub Enterprise: https://developer.github.com/enterprise/2.10/v3/repos/branches/#response-1. It still lists the API as in preview mode.

My understanding is that, because GitHub Enterprise is locally hosted by the enterprise, enterprise customers have to upgrade their infrastructure to receive new updates - it doesn

[2017-09-09 16:08] e-beach commented on #521
As those docs are on the page for activities/webhooks, I think their use of the term "Events API" is a misnomer and cannot be used to infer the behavior of non-webhook api endpoints. There are many differences between the format of events delivered by different endpoints.

Sorry - I should have reasoned from the documentation instead of from example requests. I argue that what you have _guessed_ i

[2017-09-09 20:43] e-beach commented on #714
I'd like to start working on this.
Currently I'm assigned to #715 but that is quite an insubstantial change.

[2017-09-09 21:25] shurcooL commented on #715
Sounds good. Thanks!

That sounds like an improvement. Want to send a PR for that? Mention in the test case where the value comes from (in this case, some Projects API endpoint).

[2017-09-09 21:25] shurcooL commented on #714
Awesome, thanks @e-beach!

[2017-09-09 21:27] shurcooL commented on #714
As Glenn said, this doesn't have to be resolved in a single PR if that would make it large. If so, it'd be better to break it into a few smaller independent changes, as long as that's possible and doing so makes sense.

[2017-09-09 21:49] shurcooL commented on #521
My understanding is different @e-beach. As I understand, there are 3 separate things:

- "Activity Events" that are accessible via Events API
- "Activity Events" that are sent via Webhooks - these are a superset of above
- "Issue Events" that are accessible via Issue Events API - these have _nothing_ in common with the above, other than the fact they're also "events"

In go-github, we [share types

[2017-09-09 21:58] shurcooL commented on #617
Right. But we still need to have some goal that we can target. I think it should be the latest Enterprise version that's available. When it no longer requires the preview header, that's when we can remove it.

The idea is that those who are using latest enterprise version can use latest version of go-github. Others should use an older version via vendoring and update when they update their enterpr

[2017-09-10 02:46] scriptonist commented on #704
@shurcooL are we not supporting [Github Marketplace API](https://developer.github.com/v3/apps/marketplace/) ?

[2017-09-10 02:52] scriptonist commented on #704
@shurcooL  are we not supporting the [Github MarketPlace API](https://developer.github.com/v3/apps/marketplace/)

[2017-09-10 16:31] elliott-beach opened #717 "IsTeamMember is Deprecated"
The API endpoint backing `OrganizationsService.IsTeamMember` is deprecated in favor of the `GetTeamMembership` endpoint: https://developer.github.com/v3/orgs/teams/#get-team-member.

To discourage API users from unknowingly calling deprecated methods, the documentation for the method should reflect this.

Disagree/Agree?

[2017-09-10 19:07] shurcooL commented on #717
Agree. We should deprecate the Go method, explaining reason, and pointing to suggested replacement.

[2017-09-10 23:23] e-beach commented on #717
One problem is that it's not easy to use to `GetTeamMembership` check for membership because it returns an error when the member is not part of the team - this is due to a 404 response from the server. But I still think we should maintain the current behavior while deprecating the method.

[2017-09-13 03:00] e-beach commented on #714
I will be creating a `NewTeam` struct  for the params passed to `CreateTeam` and `EditTeam`, which now differ from the `Team` response because of the `parent`(in response) and `parent_team_id`(in request) fields. https://developer.github.com/v3/orgs/teams/#parameters

I also noticed that the `repo_names` parameter to `CreateTeam` is not supported by `go-github` currently, so it will also go in tha

[2017-09-20 20:05] shurcooL opened #720 "Support Marketplace (preview) API."
GitHub API Docs: https://developer.github.com/v3/apps/marketplace/.

Not seeing an announcement blog post mentioning this, but there are new API endpoints available, as documented at the URL above.

This issue is to track their implementation.

A sub-task here is supporting the `MarketplacePurchaseEvent` event, which is tracked in a separate issue #704.

[2017-09-20 20:06] shurcooL commented on #704
Sorry for the delay. It looks like we have no support for the Marketplace preview API at all yet. Since the goal of this library is to implement all GitHub endpoints, it should be added. It doesn't have to be a part of this issue though. I've created issue #720 for tracking it.

[2017-09-20 21:51] #715 closed

[2017-09-21 17:11] gmlewis opened #722 "Preview of additional endpoints for GitHub Apps."
GitHub Developer Announcement:
https://developer.github.com/changes/2017-09-21-additional-endpoints-for-github-apps/

Woohoo!  Lots of new endpoints to support.

I'm thinking that this is way too big for a single PR, and yet it would probably be silly to open up a separate issue for each endpoint... so how about if I add a checkbox task list to the endpoints in this issue and we can check them off

[2017-09-26 08:04] Play-Maker opened #727 "How to render readme content as HTML?"
/* func (s *RepositoriesService) GetReadme(ctx context.Context, owner, repo string, opt *RepositoryContentGetOptions) (*RepositoryContent, *Response, error) */
this func cannot set http header "application/vnd.github.VERSION.html+json".

[2017-09-26 08:09] yaoPerfect commented on #727
May be we can add some elements into struct RepositoryContentGetOptions so that we can set http header or body.

[2017-09-26 18:04] shurcooL commented on #727
It seems that `RepositoryContentGetOptions` struct is used in many places, I'm not sure if this new struct field would apply to all of them. We should take that into account.

Other than that, adding a struct field makes sense. We've done something similar for #481, that can serve as an example.

[2017-09-27 07:56] iwata opened #730 "OrganizationsService.ListPendingOrgInvitations does not work"
The argument of `ListPendingOrgInvitations` is to pass an integer as `org`, but this is a mistake and I think you should pass the string correctly.

[2017-09-27 19:44] shurcooL commented on #730
Thanks for reporting this. You're right.

It's possible to specify an organization via its string name, or via its integer id. However, the endpoint used is "/orgs/:org", which expects the string id. E.g.:

- https://api.github.com/orgs/google - works
- https://api.github.com/orgs/1342004 - doesn't work
- https://api.github.com/organizations/1342004 - works

This was introduced in PR #527. We did

[2017-09-27 20:05] shurcooL commented on #730
I've created PR #731 to resolve this issue.

[2017-09-28 09:01] lackerman commented on #720
Hi @shurcooL, I would love to get involved but I would be remiss if I didn't say that I'm very new to Golang. My understanding from the Contribution guide and the issue you raised is that this requires the implementation of the `marketplace_listing` endpoints in perhaps a `marketplace.go` file. Any suggestions or resources to get me underway would be greatly appreciated.

[2017-09-28 17:13] shurcooL commented on #720
Sounds great, thanks @lackerman!

The contribution guide should have most of the things covered. For a general idea of what it looks like, I suggest looking at a similar issue and the PR that it took to resolve it in the past. Those serve as great examples/references. For example, see issue #569 and PR #620.

You can start your PR by implementing just one endpoint and sending a PR for review first

[2017-09-28 20:56] lackerman commented on #720
@shurcooL thanks for the information. I've created a PR and would appreciate any feedback.

[2017-09-28 21:11] e-beach commented on #722
I don't think those are new endpoints. I believe the above endpoints are now permissible for GitHub Apps to use, but we already support them for normal API clients. That includes user-to-server requests.

What is new is the machine-man preview header. We might as well add this header to every endpoint listed. I think I can do that in one pull request.

[2017-09-29 03:07] mandrean opened #734 "Add missing apps methods"
Currently, only a subset of the GitHub Apps API is supported: https://github.com/google/go-github/blob/master/github/apps.go

Compare with: https://developer.github.com/v3/apps/

(As a side note, [the spreadsheet ](https://docs.google.com/spreadsheets/d/1wlHnoJSAN01nXUUF1JobsaKO4mJjAwZNWK8L_4ZSlls/edit#gid=0) doesn't mention the apps API at all.)

[2017-09-29 20:26] lkysow opened #735 "Set maximum size of webhook request to 10MB"
As discussed here: https://github.com/google/go-github/pull/693#discussion_r141508166 this ticket is to track/discuss whether we should be adding a 10MB limit to the size of the body for webhook requests.

[2017-10-03 18:03] #730 closed

[2017-10-03 18:35] artmello opened #739 "No repository data for retrieved issues"
Trying to get a single issue using Get from IssuesServices[0] return it with no errors but Repository field is nil. Checking GitHub API[1] for the same issue, it seems that no "repository" data is returned, instead "repository_url" is. I am not able to find any documented API change about this

[0] https://github.com/google/go-github/blob/master/github/issues.go#L234
[1] https://api.github.com/rep

[2017-10-04 16:59] #739 closed

[2017-10-05 12:58] denniswebb opened #742 "Add support for "require review from code owners" for branch protection"
Current library doesn't support this option.
https://developer.github.com/v3/repos/branches/#update-branch-protection

Working on PR to add it.

[2017-10-05 13:42] tleyden opened #743 "Panic when calling github.Event.ParsePayload() with nil RawPayload (artificial mock scenario)"
I'm seeing the following panic in a unit test that uses mocks and doesn't set the event payload:

[code]

Steps to repro:

1. Run this test: https://github.com/tleyden/keynuker/blob/3c2a1a334380f5e8ecabfcd5fb206d03c6bb58c4/github_user_events_scanner_test.go#L25-L164

The [fix](https://github.com/google/go-github/pull/745/files) is trivial -- just check whether RawPayload is nil and return an error

[2017-10-05 17:27] gmlewis commented on #715
I know this is a closed issue, but just for completeness, I wanted to include the latest GitHub Developer's API announcement:
https://developer.github.com/changes/2017-10-02-breaking-changes-to-projects-api-preview-and-webhooks-date-format/
Once again, this should not affect anything.
Carry on.  :smile:

[2017-10-05 22:46] shurcooL commented on #743
Can this happen in a production environment, or is it only possible to achieve the panic in a mock scenario?

[2017-10-05 22:55] tleyden commented on #743
@shurcooL it's a totally artificial bug, and can probably only happen in a mock scenario, so I completely understand if you don't want to bother with the checks.

[2017-10-06 04:13] shurcooL commented on #743
Hmm, I wonder how to best deal with this...

On the one hand, perhaps `ParsePayload` should not panic on nil `RawPayload`, or it should be _documented_ that it panics if `RawPayload` is nil.

On the other hand, there are probably many other ways to cause panics or undefined behavior, for example, if you set any of the fields in [`github.Client`](https://godoc.org/github.com/google/go-github/github

[2017-10-06 17:35] gmlewis commented on #743
Hmmm... first taking the extreme case, I don't think we want to address them all.

Hypothetically speaking, if we do address them all, and plug every possible way that a panic could ever happen, then we have a package that never panics and always returns nice descriptive error messages.
OK, granted, that might indeed be cool.

However, chances are high that if the package panics, it is being used

[2017-10-06 18:04] tleyden commented on #743
@shurcooL I asked about this on [twitter](https://twitter.com/dlsspy/status/916360152776716288) .. sorry to move the conversation around!

[2017-10-06 18:39] shurcooL commented on #743
I think I'd prefer documenting it too. That resolves the issue, and doesn't create churn.

As I replied on twitter:

[2017-10-06 19:32] tleyden commented on #743
Forgetting about the mock / direct api call scenario, but just imagining that github didn't include that payload in a response.

- In this case, since the upstream API would be completely breaking the contract, it probably makes sense for the library to just panic.
- Panicking would raise awareness.  Eg, maybe the upstream API should be fixed to honor it’s contract, or update it to match reality.

[2017-10-07 22:10] alindeman commented on #714
@e-beach Is there anything left to implement? I'm wondering when this branch can be [merged to master](https://github.com/google/go-github/pull/718#pullrequestreview-64129775), and I'm glad to jump in to help if needed.

[2017-10-07 22:12] e-beach commented on #714
@alindeman Thanks for the ping. Yes, #741 finished up support for the API, and this can be merged.
/cc @shurcooL @gmlewis .

[2017-10-09 03:56] gmlewis commented on #714
OK, merging [NestedTeamsPreview branch](https://github.com/google/go-github/tree/NestedTeamsPreview) to master.

[2017-10-11 18:02] MorrisLaw commented on #666
I've attempted to tackle this issue but my changes have failed in travis checks. Can someone please point me in the right direction, the changes are located in PR #749. I am new to Go and this github client in general, so I may be missing something obvious. Thank you everyone for your patience and advice! (: @shurcooL @gmlewis

[2017-10-12 14:33] mspiegel opened #750 "How to track API usage statistics"
Is there a way to associate usage counters with each API request? I'd like to know which calls my library is making most frequently. I looked into implementing my own http.RoundTripper. But by that point the path parameters have already been populated into the URL. I'd like to be able to aggregate based on API call and ignore the parameters.

I thought of one solution which is to add an interface

[2017-10-12 21:00] shurcooL commented on #750
Not all methods use `fmt.Sprintf` to generate the URL, e.g.:

https://github.com/google/go-github/blob/c004bf0c02fcab9d87a7f2e2f002fd008bf0784c/github/users.go#L83

In general, I think it'd be better if we found a good way to implement this as an orthogonal wrapper around go-github, rather than having to increase the scope of go-github to deal with logging. People will have different opinions and

[2017-10-12 22:14] mspiegel commented on #750
One idea (probably equally invasive as replacing the Sprintf with an interface) is to add the "repos/%v/%v/contributors" information to the context object.

Second idea is maybe to have a solution entirely on the end-user. I think there are some Golang libraries to inspect the call stack. Maybe I can inspect the stack when the RoundTripper is invoked. And then get the information I need out of the

[2017-10-13 19:18] shurcooL opened #752 "Make tests catch invalid absolute URLs in methods."
When adding support for new endpoints, it's possible to make a mistake and use an absolute URL in the method implementation, rather than a relative one.

We need to use relative URLs so that the `Client.BaseURL` field works properly in `NewRequest` method:

https://github.com/google/go-github/blob/0f6d3ce15ec23c92c74d014303a167a9a374dd7e/github/github.go#L112-L115

https://github.com/google/go-git

[2017-10-13 20:20] #752 closed

[2017-10-16 13:49] mspiegel commented on #750
A follow up. Using runtime.Callers() and runtime.CallersFrames() inside our own RoundTripper works. It's kind of hacky so I'm not sure whether we'll end up using it.

Not sure how you feel about the whole "putting values in Context" debate. It can be done in such a way to ensure that keys don't collide with other packages. In such a way that the go-github library controls access to the value. Here

[2017-10-16 18:57] shurcooL commented on #750
Adding a mechanism for achieving this into `go-github` has the following costs:

- Development time cost – the initial work of adding code to every method that exists.
- Maintenance time cost – all future methods will need to also add this new bit of code to each method, it'll have to go through review. If there are ever changes to be done, all methods will need to be changed.
- Inflexibility/back

[2017-10-20 20:23] chriskingnet opened #756 "Add convenience helper for creating client with custom (enterprise) URL."
I am trying to write a little app that connects to a Github Enterprise instance. I would like to be able to pass in the base enterprise URL, and have it override the default one.

As far as I can see (from the tests and research I have done) the API for Github Enterprise includes all of the regular functionality, plus some more Enterprise-only features (but perhaps someone knows different?). Becau

[2017-10-21 21:41] elliott-beach commented on #664
I think this is solved by #744.

[2017-10-23 20:25] shurcooL commented on #756
`go-github` already has support for GitHub Enterprise. See the `BaseURL` field of `Client` struct:

https://godoc.org/github.com/google/go-github/github#Client

[2017-10-24 04:53] chriskingnet commented on #756
Hi @shurcooL, thanks for getting back to me. You're right, I totally didn't notice this! I don't have any better argument for doing it my way - I missed this mostly because of my relative inexperience with Go, I think.

I will close the issue - thanks for your work on this lib :)

[2017-10-24 05:24] shurcooL commented on #756
No problem.

I think we can still put up the `NewEnterpriseClient` from #757 for consideration as an optional helper. It could be rewritten to use the existing API, but accept all URLs and add trailing slash if neccessary. E.g., something like:

[code]

I'm not completely sure if it's worth adding such a helper, but let's consider/discuss it. What do you think? /cc @gmlewis @elliott-beach

[2017-10-24 05:30] chriskingnet commented on #717
I was looking for a good first contribution to make, and was thinking of picking this up.

So if I understood correctly, we are looking to maintain the `IsTeamMember` function, but use the `get-team-membership` API call instead? Or was it that we should deprecate the whole Go method and point to using `GetTeamMembership` instead?

Also just as an extra quick point, I noticed that the [https://deve

[2017-10-24 05:39] chriskingnet commented on #756
Thanks for the response - I think that sounds good. I would be for such a helper, as I think it helps with clarity and guiding the lib user that overriding the base url with the enterprise URL works (perhaps not clear to those new to the Github API).

If we are in agreement that this helper would be worthwhile, I would be more than happy to alter the existing PR to like you said, and not go the ro

[2017-10-24 06:14] shurcooL commented on #756
An alternative way of achieving that could be to expand the documentation of `NewClient` method to mention that `BaseURL`/`UploadURL` can/should be modified for use with GitHub Enterprise instances.

[2017-10-24 17:41] gmlewis commented on #756
Since we are fully committed to supporting Enterprise customers, I'm also fine with adding the new endpoint.

One part of me says "don't add another endpoint that needs support which can't be solved in another simple way"... and that part of me votes for just updating the documentation...

But then another part of me says "hey, it is a simple endpoint and probably won't require a lot of maintenanc

[2017-10-24 18:47] shurcooL commented on #756
@gmlewis Agreed, that's my thinking too.

We ended up being quite strict about `BaseURL` having a trailing slash because there was no good time to do automatic conversions (i.e., doing it per method call didn't feel good). But doing it once at client creation time in `NewEnterpriseClient` is absolutely perfect.

The main reasons I'm starting to lean in favor of adding `NewEnterpriseClient` is that

[2017-10-24 19:16] chriskingnet commented on #756
I agree that while documentation would be sufficient, documenting with code here might be better because of the seemingly small amount of work / maintenance.

These are great points. I hadn't thought about that at all, but that would be a definite benefit.

One other thing I was thinking further about today was the 'BaseURL' and 'UploadURL' aspect. From the enterprise API documentation, it seemed

[2017-10-24 19:23] shurcooL commented on #756
Let's investigate that. If it's always the same URL, that can be yet another benefit. I've never used GHE so I can't be sure.

[2017-10-24 21:04] chriskingnet commented on #756
I have done a lot of searching, but this seems a little tricky to figure out as the documentation isn't specific. https://developer.github.com/enterprise/2.11/v3/repos/releases/#upload-a-release-asset

However I just made the following request to an enterprise api endpoint (in this case `https://<host>/api/v3`): https://developer.github.com/enterprise/2.11/v3/repos/releases/#get-a-single-release.

[2017-10-24 21:11] gmlewis commented on #756
Seems to me like keeping two args leaves things flexible, and a comment could be added that they are "typically the same".  Your call.

[2017-10-24 21:52] gmlewis commented on #717
Thank you for helping out, @chriskingnet!

I think the agreement based on @shurcooL's [comment](https://github.com/google/go-github/issues/717#issuecomment-328364455) was:

- Add a comment to the `OrganizationsService.IsTeamMember` method that it has been deprecated (explaining the reason) and to use the new `GetTeamMembership` method instead (but otherwise, don't modify the method itself).

So th

[2017-10-25 06:25] chriskingnet commented on #756
That sounds like a good approach, thanks for the input. I should have some time later, will put together a PR then, see how it looks :)

[2017-10-25 06:28] chriskingnet commented on #717
OK got it. That's great, thanks a lot!

[2017-10-25 18:12] ardakuyumcu commented on #605
@shurcooL I noticed that the login field on a CommitAuthor is expected as `username`, but I couldn't find any references to a `username` field in the response from Github in their API. Is there a reason why we can't update the JSON tag here? https://github.com/google/go-github/blame/master/github/git_commits.go#L53

The inconsistency is also referred to in https://github.com/google/go-github/issue

[2017-10-25 18:42] ardakuyumcu opened #759 "Login field support for commit author"
When fetching a commit, the commit author struct does not populate the login field as expected. It looks like the `Login` field is populated under the `username` json key only for webhooks: https://github.com/google/go-github/blob/master/github/git_commits.go#L53

The inconsistent naming is referred to in: https://github.com/google/go-github/issues/605#issuecomment-323763728

What do you guys thin

[2017-10-25 20:20] gmlewis commented on #759
I'm confused.  I'm trying to find examples in the GitHub documentation to support the addition of the `login` field to the `CommitAuthor` struct.

I'm looking here:
https://developer.github.com/v3/activity/events/types/
and searching for "author" and get 11 hits.

Hits 7 and 8 show:

[code]

Hits 9 and 11 are not a `CommitAuthor` ... but are part of `ReleaseEvent` and `StatusEvent`, respectively.

[2017-10-25 20:23] ardakuyumcu commented on #759
The login field I am trying to populate is under the `author` entry inside the commits API: https://developer.github.com/v3/repos/commits/

The original `Login` field was added as part of a larger change to support the `username` field in webhooks. I'm not sure why Github uses `username` in webhooks but `login` in their commit APIs, but that's the inconsistency I'm trying to resolve.

[2017-10-25 20:25] shurcooL commented on #759
That would map to [`RepositoryCommit`](https://godoc.org/github.com/google/go-github/github#RepositoryCommit), which has [`Author *User`](https://godoc.org/github.com/google/go-github/github#RepositoryCommit.Author) field, and [`User`](https://godoc.org/github.com/google/go-github/github#User) has [`Login string`](https://godoc.org/github.com/google/go-github/github#User.Login) field.

[2017-10-25 20:28] ardakuyumcu commented on #759
When I do a `GetCommit`, the return type is a `*Commit`: https://github.com/google/go-github/blob/master/github/git_commits.go#L63

Does that mean I need to cast to a `RepositoryCommit`?

[2017-10-25 20:30] ardakuyumcu commented on #759
I need to use `Repositories.GetCommit` instead of `Git.GetCommit`.

[2017-10-25 20:31] shurcooL commented on #759
It sounds like you're confusing Git Service (https://godoc.org/github.com/google/go-github/github#GitService) with Repository Service (https://godoc.org/github.com/google/go-github/github#RepositoryService).

Earlier, you said:

That maps to https://godoc.org/github.com/google/go-github/github#RepositoriesService.GetCommit method, not https://godoc.org/github.com/google/go-github/github#GitService

[2017-10-25 20:31] ardakuyumcu commented on #759
Thanks for the help!

[2017-10-25 20:31] #759 closed

[2017-10-25 20:31] shurcooL commented on #759
No problem.

[2017-10-26 16:13] gmlewis opened #761 "Remove custom media type for Git Signing API"
GitHub Developer announcement:
https://developer.github.com/changes/2017-10-12-git-signing/

Theoretically, we can remove the custom media type `application/vnd.github.cryptographer-preview` but I have sent in a request to the GitHub Support team to clarify if removing this will cause problems for GitHub Enterprise customers. I will update this issue when I hear back.

[2017-10-26 16:29] gmlewis commented on #714
Merging got sidetracked - checking on status with @elliott-beach.

Meanwhile, there is a new GitHub API announcement:
https://developer.github.com/changes/2017-10-13-update-the-nested-teams-preview/

This means that around line 34 of `orgs_teams.go`:

[code]

should be changed to:

[code]

This documentation change can happen in a separate PR.

[2017-10-26 16:31] gmlewis commented on #722
GitHub follow-on announcement:
https://developer.github.com/changes/2017-10-20-additional-endpoints-for-github-apps/

@elliott-beach - you investigated this previously... thank you!  Do you want to take a look and see if this issue can be closed?

[2017-10-26 17:20] gmlewis opened #762 "Unit tests should use local client instead of package-global client"
In https://github.com/google/go-github/pull/732 it became clear that having a package-global `client` for unit testing will prevent the unit tests from being run in parallel in the future.  Ideally, each test will have its own client... something like this:

[code]

and the global `client` in `github_test.go` will be removed.

This would make for a very large PR, but could possibly be done with th

[2017-10-27 23:10] chriskingnet commented on #762
I decided to have a go at this issue, sorry I forgot to comment here first. This was quite a nice one to do as a new contributor :)

[2017-10-28 02:32] shurcooL commented on #762
@gmlewis I don't think it'll be sufficient to have `setup` return only `client`. I think it'll need to return `server` and `mux` as well. Otherwise, it's not sufficient to achieve the goal of avoiding global shared state between tests.

[2017-10-28 08:18] chriskingnet commented on #762
Makes sense, thanks for input @shurcooL. From a quick check, there does actually seem to be a couple of tests using the global `server` in order to get its URL.

So in order to not change any of the tests, we would have setup() always return the four things (I like explicitly returning teardown rather than just having every test call server.Close):

[code]

Or we could do something like (naming tb

[2017-10-28 10:36] shurcooL commented on #762
How about this:

[code]

Since everything that `teardown` does fits on one line, I think we can just get rid of it.

[2017-10-28 10:45] chriskingnet commented on #762
That's true. Although I quite liked that it is explicit, and that to "forget" to teardown I have to purposefully ignore the variable and use `_`, otherwise I will get an error for not using it. If we rely on calling server.Close(), I think that this step might be more easily missed.

That said, I imagine almost all tests written will just copy a previous one, which will have the code you mentioned

[2017-10-28 10:49] chriskingnet commented on #762
Ah, sorry, I replied before I saw your updated comment!

Yes, that sound like a good approach. So we're now at:

[code]

...giving the tests what they need and not over complicating when we only need that one value at the moment.

[2017-10-29 07:48] shurcooL commented on #717
This has been resolved by #764, closing.

[2017-10-29 07:48] #717 closed

[2017-10-29 17:32] tleyden opened #768 "Repo.Username() + Repo.Name() helper methods"
When using go-github, I'm finding myself doing this a lot:

[code]

it would be nice if there were helper methods like `Repo.Username()` and `Repo.Name()` to make this easier.

Or maybe return both in a single call:

[code]

I'd be willing to put together a PR if this is something that would be likely to get merged.

[2017-10-30 07:01] #734 closed

[2017-10-30 07:13] #756 closed

[2017-10-30 08:02] shurcooL commented on #752
/cc @willnorris FYI. You might find this change interesting, since you've had to deal with this category of issues [in the past](https://github.com/google/go-github/pull/357#commitcomment-17936889). :)

[2017-10-30 08:11] shurcooL commented on #768
Could you please elaborate on that? What user event has a Repo field that has a `Name` field? Did you mean `FullName`?

I want to understand the problem better, so we can converge on a solution which is closer to optimal.

I know there are some places where `FullName` field has the value "owner/repo" (e.g., https://godoc.org/github.com/google/go-github/github#Repository.FullName), but they usually

[2017-10-30 17:09] tleyden commented on #768
It's a `PushEvent`.

Code snippet in context:

https://github.com/tleyden/keynuker/blob/110c0a672b75a4ccf5331bc08f2fc3fe354ac1c1/gh_user_event_fetcher.go#L141-L160

[2017-10-30 17:25] JaredReisinger commented on #664
I just started seeing a 422 when an empty array is passed for `dismissal_restrictions`.  The docs (https://developer.github.com/v3/repos/branches/#update-branch-protection) specifically mention that passing an empty array is the right way to disable dismissal restrictions (which is weird, IMO, since `null` would work just fine for this, and the object isn't normally an array).

In any case, I have

[2017-10-31 05:47] shurcooL commented on #768
Are you sure that code is working as expected? I'd expect `*userEvent.Repo.Name` to be just the repo name, not "org/repo".

[`PushEvent`](https://godoc.org/github.com/google/go-github/github#PushEvent) contains a `Repo *PushEventRepository` field, and [`PushEventRepository`](https://godoc.org/github.com/google/go-github/github#PushEventRepository) has `Owner`, `Name`, and `FullName` fields. I thin

[2017-10-31 16:17] #714 closed

[2017-10-31 17:40] tleyden commented on #768
I'll double check this and get back to you.

[2017-10-31 21:51] sahildua2305 commented on #761
@gmlewis please feel free to assign this issue to me so that I get notified when we hear back.

[2017-10-31 22:01] gmlewis commented on #761
Thank you, @sahildua2305!

[2017-10-31 22:15] sahildua2305 commented on #587
@gmlewis I'd like to take it on. Though, I'm not really sure what needs to be done. I see the use case that this feature will enable. Will appreciate some pointers to get me started! :)

[2017-10-31 22:33] gmlewis commented on #587
Ah yes, this item is definitely non-trivial. "Not good for beginner" might be an understatement.
Feel free to punt if you find yourself getting overwhelmed... no harm, no foul.

To start, let's take a look at `type User struct` around line 20 of `users.go`.
Most of its members are simple types like `*string`, `*int`, `*bool`, etc.
All of these simple fields should be found with an accessor in `git

[2017-10-31 22:43] sahildua2305 commented on #587
Interesting! I like the challenge. Thanks for the detailed description of the task. I'd like to go through the `gen-accessors.go` first and try to understand how it works as of now.

[2017-10-31 23:14] sahildua2305 commented on #587
Okay, now I understand how `gen-accessors.go` works. I see that the named structs are going to be of `*ast.Ident` type. I'm still trying to decide on what the `GetPlan` accessor (for example) is going to look like in `github-accessors.go`.

Is it going to look like this? Or is there some catch in this?

[code]

[2017-10-31 23:17] gmlewis commented on #587
That looks great except the return line should be `return u.Plan` to match the return type.

[2017-10-31 23:18] sahildua2305 commented on #587
Oh yes, should be `return u.Plan`. Thanks for pointing out!

Cool, I'll start working it out then.

[2017-10-31 23:18] gmlewis commented on #587
Additionally, you will want to add appropriate comments to make the resulting godoc look good. :smile:
Thank you, @sahildua2305!

[2017-10-31 23:18] gmlewis commented on #587
Oh, and keep them sorted.  :smile:

[2017-10-31 23:31] gmlewis commented on #587
Yes, exactly.

[2017-11-01 15:02] tleyden commented on #768
I double-checked by retesting [this similar code](https://github.com/tleyden/keynuker/blob/master/gh_user_event_fetcher.go#L286-L290) and adding some logging, and I'm seeing `*userEvent.Repo.Name` as "org/repo", and splitting on `/` is working (otherwise that code would panic if it was just the repo name)

In my case, the `github.UserEvent` has a non-empty `Repo` field, however when I call `ParseP

[2017-11-01 21:26] shurcooL commented on #768
Thanks, that's very helpful.

So you're looking to access the `Repo` field of [`Event`](https://godoc.org/github.com/google/go-github/github#Event) type, not of the [`PushEvent`](https://godoc.org/github.com/google/go-github/github#PushEvent) payload.

The JSON content of the entire event you shared makes it very clear that there's very limited information available in that repo field:

[code]

Th

[2017-11-01 23:25] shurcooL opened #773 "RepositoriesService.ReplaceAllTopics has *Topics parameter, it'd be better made a value."
I just noticed the signature of [`RepositoriesService.ReplaceAllTopics`](https://godoc.org/github.com/google/go-github/github#RepositoriesService.ReplaceAllTopics) has a `*Topic` parameter.

The parameter is not optional, it's mandatory. See https://developer.github.com/v3/repos/#replace-all-topics-for-a-repository:

![image](https://user-images.githubusercontent.com/1924134/32302727-9388673a-bf3a

[2017-11-01 23:27] shurcooL commented on #773
Actually, better yet, we can also consider making it a `topics []string` instead:

[code]

[2017-11-01 23:31] shurcooL commented on #773
If we go with `topics []string`, then #771 becomes no longer neccessary, since `Topics` won't necessarily be sent. It might instead be:

[code]

[2017-11-01 23:54] jpbelangerupgrade commented on #773
I do like the simplicity of passing `[]string` instead of the `*Topics` struct which in the end only contains the string array. Also since this is a preview API, who knows what changes could be made by github on this, more breaking change could be coming anyway.

[2017-11-01 23:56] jpbelanger-mtl commented on #773
Just let me know what you decide. Breaking API change is not a deal breaker on this, still a very simple preview feature from github.

[2017-11-02 16:48] gmlewis commented on #773
Yes, I very much like changing the API to use `topics []string` in the parameter list, as [suggested by @shurcooL above](https://github.com/google/go-github/issues/773#issuecomment-341273316).

Thank you, @shurcooL and @jpbelanger-mtl!

[2017-11-04 20:01] sahildua2305 commented on #545
@gmlewis what's the status on this?

[2017-11-04 20:23] sahildua2305 commented on #556
@karanjthakkar are you still interested in working on this?

[2017-11-05 07:51] shurcooL commented on #545
We could probably address this in a similar way to #767 and #481.

[2017-11-06 07:29] karanjthakkar commented on #556
@sahildua2305 Sorry for the inactivity. I don't think I'll be able to work on this anytime soon. :(

If someone else is interested feel free to pick this up.

[2017-11-06 20:34] sahildua2305 commented on #556
@shurcooL I'd like to take this one down next. Can you please help me understand what needs to be done here?

[2017-11-06 21:16] shurcooL commented on #556
@sahildua2305 Great, thanks!

Start by reading the original issue description in full, it should have all the neccessary information about the issue (let me know if not).

As for the way to organize the code, see the suggestion I made in my last comment above:

[2017-11-07 22:36] sahildua2305 commented on #597
@shurcooL @gmlewis I see that there was agreement on changing to `int64`. What's the take on this at this point?

[2017-11-07 22:42] shurcooL commented on #597
There is no agreement at this time. We're waiting on someone to run into a concrete issue before we can decide how to act on this. So far, there have not been any issue reports, so it's better to wait.

Go 2 might change `int` to be arbitrary precision (golang/go#19623), so it would be better not to change to `int64` if that happens.

Also, see what I wrote in https://github.com/google/go-github/p

[2017-11-07 22:43] sahildua2305 commented on #597
Makes sense! Thanks for clearing, @shurcooL

[2017-11-07 22:50] shurcooL commented on #597
A relevant comment from GitHub support at https://platform.github.community/t/a-few-issues-ive-had-with-the-projects-preview-api/531/3:

That, to me, supports the idea that we don't need to act preemptively and waiting is a sound strategy.

[2017-11-08 00:07] #587 closed

[2017-11-08 23:22] sahildua2305 opened #775 "github-accessors.go: Missing accessors for non-Struct type fields"
While working on #770, I noticed that we are creating accessors only for fields which have a struct type. I looked further into it today and confirmed the same. Is this intentional? If so, why?
/cc @gmlewis @shurcooL

[2017-11-08 23:34] gmlewis commented on #775
I'm not sure I understand what you mean.
https://github.com/google/go-github/blob/master/github/github-accessors.go#L24
returns a `string`, for example.

[2017-11-09 00:30] shurcooL commented on #775
@sahildua2305 Can you give some examples of fields that are missing accessors?

[2017-11-09 17:18] gmlewis opened #776 "Support new API features for Archived Repositories"
GitHub Developer API Announcement:
https://developer.github.com/changes/2017-11-08-archiving-repositories/

This issue consists of one main change (along with updates to the comments):

    *   Add the new `archived bool` to `Repository` responses.

Since the `Repository` struct is used both in the responses and in the [`RepositoriesService.Edit` method](https://github.com/google/go-github/blob/ma

[2017-11-10 17:23] gmlewis opened #777 "Support new Repository Transfer API"
GitHub Developers API announcement:
https://developer.github.com/changes/2017-11-09-repository-transfer-api-preview/

GitHub v3 API developer docs:
https://developer.github.com/v3/repos/#transfer-a-repository

This would be a great project for a new contributor to this repo!
The new endpoint should fit nicely into one of the existing source files, possibly `repos.go` unless a better alternative is

[2017-11-10 17:34] juliaferraioli commented on #777
This sounds like a perfect issue for me to get involved on. Sign me up!

[2017-11-11 14:31] sahildua2305 commented on #775
For example - https://github.com/google/go-github/blob/8c08f4fba5e05e0fd2821a5f80cf0cf643bd5314/github/activity.go#L30
here - `CurrentUserOrganizationURLs` won't have any accessor because of the following logic -
https://github.com/google/go-github/blob/8c08f4fba5e05e0fd2821a5f80cf0cf643bd5314/github/gen-accessors.go#L103

[2017-11-11 14:33] sahildua2305 commented on #777
Indeed, I think this will fit well in `repos.go`. Welcome @juliaferraioli! 🎉

[2017-11-11 14:51] shurcooL commented on #775
The type of that particular field `CurrentUserOrganizationURLs` is `[]string`. It’s not a pointer.

Not having an accessor for it seems reasonable, since the accessors exist for pointer fields to help prevent `nil` pointer dereference panics when a field is missing. Since there’s no pointer here, there’s nothing to protect against. Does that make sense? Or am I missing something? What would having

[2017-11-11 14:53] sahildua2305 commented on #775
Oh right! Makes sense. I knew I might be missing something. Thanks for clearing it out. 💯

[2017-11-11 14:54] #775 closed

[2017-11-12 21:26] shurcooL opened #778 "gen-accessors should skip Client, service structs and unexported fields."
There are two issues with `gen-accessors.go` generating accessors it should not be (/cc @gmlewis FYI). It's relatively harmless, but should be fixed.

First, gen-accessors.go does not skip unexported fields, which causes it to generate accessors that it shouldn't. For example:

[code]

Second, it does not skip certain structs that it should skip, including `Client`, `service`, and perhaps others.

[2017-11-14 05:11] #720 closed

[2017-11-14 20:49] sahildua2305 commented on #778
@shurcooL I'd like to tackle this. What do you think about having an extended list of blacklisted structs to avoid while generating accessor methods?

[2017-11-14 20:58] sahildua2305 commented on #776
@gmlewis I can work on this

[2017-11-14 21:06] sahildua2305 commented on #773
@shurcooL I think this issue can be closed. Is there anything left to be fixed after #771?

[2017-11-15 01:54] scriptonist commented on #704
@shurcooL as #720 is closed now, I will continue working on this issue. Will send a PR ASAP.

[2017-11-15 04:33] shurcooL commented on #778
Thanks!

I think adding a list of blacklisted structs is the way to go.

[2017-11-15 04:35] shurcooL commented on #773
Thanks for noting that @sahildua2305, you're right.

Closing, this is resolved via #771.

[2017-11-15 04:35] #773 closed

[2017-11-15 17:37] gmlewis opened #781 "gmlewis offline until late December"
I'm not sure if filing an issue for this is really appropriate, but I couldn't think of a better way at the moment.

I'm going to be offline for the next ~4-5 weeks and will not be responsive to requests for administration of this repo.

If you have urgent issues that must be addressed in the next day or two, please inform me now... feel free to use this issue... and I will attempt to address them

[2017-11-15 23:06] sahildua2305 opened #783 "Repository: missing `has_projects` bool field"
As per [documentation](https://developer.github.com/v3/repos/#edit) of Edit endpoint for repository (`/repos/:owner/:repo`), there should be a boolean field `has_projects`. I noticed this while working on #782.

@shurcooL is this something that needs fix?

[2017-11-16 02:38] shurcooL commented on #783
Yes, looks like it should be there. Thanks for reporting.

[2017-11-16 10:15] scriptonist commented on #704
@shurcooL I've tried creating PR's for the Issue but the buid fails. I see that the the tests are passing.What could be the problem ?

[2017-11-16 11:40] sahildua2305 opened #786 "Add `omitempty` to pointer type fields' json schema"
As per https://github.com/google/go-github/pull/782#discussion_r151298759, we should add `,omitempty` to all pointer fields so as to make things consistent and not making new contributors confused about whether to add it or not to new fields.

[2017-11-16 11:40] sahildua2305 commented on #786
@shurcooL @gmlewis feel free to assign it to me. 😸

[2017-11-16 23:53] #783 closed

[2017-11-16 23:56] #776 closed

[2017-11-17 21:41] shurcooL commented on #704
You need to look at the Travis CI output to find out what the issue is. If you look at one of the build logs, e.g., https://travis-ci.org/google/go-github/jobs/302917277, it says:

[code]

You need to regenerate the package after making your changes. Learn more about that at https://github.com/google/go-github/blob/master/CONTRIBUTING.md#submitting-a-patch. Specifically, the first command of step

[2017-11-17 21:46] shurcooL commented on #658
Another similar change that was recently added was #767. It was for downloading commits in diff or patch format.

[2017-11-19 02:41] scriptonist commented on #704
Thanks @shurcooL. I thought I did that already. Let me recheck once more.

[2017-11-22 08:56] sungwoncho opened #790 "Add 'review_requested' and 'review_request_removed' to PullRequestEvent action"
[PullRequestEvent](https://godoc.org/github.com/google/go-github/github#PullRequestEvent) action is missing 'review_requested' and 'review_request_removed'.

It would be an enhancement to add them.

https://developer.github.com/v3/activity/events/types/#pullrequestevent

[2017-11-22 10:13] scriptonist commented on #790
@shurcooL Let me take this Issue

[2017-11-22 19:42] shurcooL commented on #790
It's all yours. Thank you.

[2017-11-22 20:38] #786 closed

[2017-11-22 20:57] #704 closed

[2017-11-23 01:55] #777 closed

[2017-11-23 02:56] scriptonist commented on #790
According to the  [API Docs](https://developer.github.com/v3/activity/events/types/#pullrequestevent)

Should I add this field to `PullRequestEvent`? If so what will it's type be ?, an `[] *User` ?

[2017-11-23 03:18] shurcooL commented on #790
That sounds right to me. Make sure it goes under the Webbook section of fields.

[2017-11-23 03:36] scriptonist commented on #790
@shurcooL I believe It's an `[] *User`
On testing I got a response like this
[code]

[2017-11-23 10:48] sungwoncho opened #793 "Add 'Assignee' field to PullRequestEvent"
GitHub webhook returns a json response with "assignee" field when a pull request is assigned or unassigned.

[code]

It would be a good enhancement to add `Assignee` to [PullRequestEvent](https://godoc.org/github.com/google/go-github/github#PullRequestEvent), much like we already have in [IssuesEvent](https://godoc.org/github.com/google/go-github/github#IssuesEvent.GetAssignee).

I would be happy

[2017-11-23 16:44] shurcooL commented on #793
Hmm, I see the field documented as part of Events API (not just Webhook events only) at https://developer.github.com/v3/activity/events/types/#issuesevent, but I don’t see `assignee` documented at https://developer.github.com/v3/activity/events/types/#pullrequestevent.

Is the field Webhook only for `PullRequestEvent`? How did you confirm it exists? Or is it present in Events API payloads too, des

[2017-11-24 20:51] #790 closed

[2017-11-29 11:10] lingsamuel opened #797 "Apps.ListUserRepos may return message "specify a custom media type in the 'Accept' header"."
When I am trying to use `Apps.ListUserRepos`, I got message like this:
![image](https://user-images.githubusercontent.com/14567045/33372247-3e8de840-d538-11e7-944a-75e1d68be1ea.png)

I know this can be fix by adding following accept header:
[code]

And it can be fix by add following to `ListUserRepos` function in `github/apps_installation.go`
[code]

I can provide a PR to fix this.

I noticed that

[2017-11-29 12:08] scriptonist opened #799 "The endpoint 'Get the authenticated user' Appears to be not implmented"
Is [https://developer.github.com/v3/users/#get-the-authenticated-user](https://developer.github.com/v3/users/#get-the-authenticated-user) Implemented ?

[2017-11-29 13:53] scriptonist commented on #799
Found It is already implemented [here](https://github.com/google/go-github/blob/a89ea1cdf79929726a9416663609269ada774da0/github/users.go#L74).
Closing Issue.

[2017-11-29 13:53] #799 closed

[2017-11-30 10:11] karpovicham opened #800 "Repository hooks are not accessible by Integration"
I could not get the list of repository hooks with Integration authorization using this functions https://github.com/google/go-github/blob/master/github/repos_hooks.go#L109

I receive the error:
[code]

It works well if we authorize by OAuth2 token, but not by Integration.

Could you please suggest any other way how could I get the list of the repository hooks with the Integration?
If I there are n

[2017-12-01 02:24] shurcooL commented on #800
This sounds like a GitHub API question, not a `go-github`-specific issue.

I'm not sure what the answer is. I don't see anything on this topic at https://developer.github.com/v3/repos/hooks/#list-hooks.

I'd suggest searching through the rest of GitHub documentation, and if you don't find anything, try contacting GitHub support. At the top of https://developer.github.com/v3/, it says:

If you find

[2017-12-01 02:35] shurcooL commented on #797
Hi, thanks for reporting this.

I've taken a look at the documentation for that endpoint at  https://developer.github.com/v3/apps/installations/#list-repositories-accessible-to-the-user-for-an-installation and was surprised to find that it doesn't mention anything about a custom Accept header there.

I'd really like to be able to confirm that adding that header is the right fix via documentation.

[2017-12-01 10:11] allencloud opened #801 "How to add query in `func (s *SearchService) Issues`?"
Hi, All,

I met an issue when I was using this package.

Here is my scene: I need to search merged pr in the last week, I can make it to call url like:
https://api.github.com/search/issues?q=is:merged+type:pr+repo:moby/moby+merged:%3E=2017-11-23

I think in url query is `is:merged+type:pr+repo:moby/moby+merged:%3E=2017-11-23`. Then how to function
[code]
How to specify query in this case?

I have

[2017-12-01 13:59] shurcooL commented on #801
See godoc for https://godoc.org/github.com/google/go-github/github#SearchService, it says:

I think the issue is that you're URL-escaping the search query. No need to do that, you just provide the original unescaped query:

[code]

[2017-12-01 15:54] karpovicham commented on #800
Thanks @shurcooL

Yes, you're right, this is a question for the GitHub API.

It's not possible to get hooks list this way as it's not even in their list of available endpoints for app:
https://developer.github.com/v3/apps/available-endpoints/

[2017-12-01 16:19] allencloud commented on #801
Thanks a lot for explaination. I think I should be more careful with the comments there.

[2017-12-01 16:19] #801 closed

[2017-12-01 16:36] #800 closed

[2017-12-02 19:20] #797 closed

[2017-12-02 19:34] #762 closed

[2017-12-02 20:04] #778 closed

[2017-12-04 15:02] clarsonneur opened #804 "Redirect issue with CreateRelease() or UpdateRelease()"
Hi,

I built a small code to create or update release in a github entreprise url thanks to your project.
But I made a small mistake by forgotten the `s` in the http url string. My fault ;-)

Because of that, all queries that I made (ListReleases, ListTags, and login) got the 301 return code and redirect appropriately to the https equivalent.

But not for CreateRelease or UpdateRelease.

I'm wonder

[2017-12-04 19:22] shurcooL commented on #804
Hmm, supporting redirects transparent like that sounds like a double-edged sword. On the up side, it allows things to work, but on the (much more significant IMO) down side, it makes it harder to realize it's happening. Going through http -> https redirects like that means there are 2 HTTP requests being made for every single API request. More work for both the client and server, more latency.

I

[2017-12-04 19:52] willnorris commented on #804
if I remember correctly, there are a number of API calls that should follow redirects (for example, fetching release assets, which are typically stored on Amazon S3 so GitHub sends a redirect to that URL).  So I don't think we'd want to disable redirects entirely.

Also, does GitHub Enterprise allow you to host on an http URL or do they require https?  I'm guessing they do allow it, in which case

[2017-12-04 20:04] shurcooL commented on #804
I was just looking at that, and I found that they explicitly *don't* follow the redirects. Instead, they return the redirect URL to caller, so the caller can then fetch the asset from AWS, etc. See:

https://github.com/google/go-github/blob/fbfee053c26dab3772adfc7799d995eed379133e/github/migrations.go#L169-L185

https://github.com/google/go-github/blob/fbfee053c26dab3772adfc7799d995eed379133e/gith

[2017-12-04 20:31] willnorris commented on #804
oh, right!  I had completely forgotten about that :)  There was some specific mention about needing to follow redirects some time ago:
 - https://developer.github.com/changes/2015-04-17-preview-repository-redirects/
 - https://developer.github.com/v3/#http-redirects

I don't know what all endpoints utilize redirects, but since they specifically call it out in the API docs, doesn't sounds like some

[2017-12-04 20:37] shurcooL commented on #804
Oh, good point. There are definitely (wanted) redirects involved when hitting a repository that was moved/renamed, etc.

What if we check the scheme before and after in the redirect. If the original scheme is "http" and redirect scheme is "https", then we return an error or log a warning.

I'm not necessarily in favor of doing that, because it's turning out to be more complex than "just disable al

[2017-12-04 20:37] willnorris commented on #804
yeah, that sounds like more complexity than I'd want to add.

[2017-12-05 20:19] psdh commented on #556
@sahildua2305, Are you planning to pick this up?

(side note: I ended up at go-github after reading your post about learning Go while contributing to FOSS, thanks! :) )

[2017-12-06 21:19] sahildua2305 commented on #556
Hi @psdh, yes, I started working on it a while ago but then got caught up with something else. Sorry for not updating the issue for a long time. I'll submit a PR soon.

Wow! That's amazing. 😍
Please hang around and have a look at other open issue and feel free to ask for help.

[2017-12-07 13:36] mspiegel commented on #750
Closing this issue. Using `runtime.Callers()`/`runtime.CallersFrames()` instead

[2017-12-07 13:36] #750 closed

[2017-12-10 14:40] maruel opened #806 "RepoStatus.id needs to be int64"
[RepoStatus.ID](https://godoc.org/github.com/google/go-github/github#RepoStatus) is *int but it must be int64. When calling [RepositoriesService.CreateStatus()](https://godoc.org/github.com/google/go-github/github#RepositoriesService.CreateStatus), the call fails with:
[code]

It broke [gohci](https://github.com/periph/gohci) which is used for https://periph.io.

[2017-12-10 14:42] maruel commented on #806
I probably observed it first because the gohci workers are built with 32 bits Go (on ARM), 64 bits Go executables are probably not affected.

[2017-12-10 16:06] shurcooL commented on #806
Thanks for reporting. This is definitely related to #597.

[2017-12-10 16:41] maruel commented on #806
Thanks, indeed. Sorry I searched for "RepoStatus" but didn't search for "int64" prior filing. My bad.

In practice I worked around my immediate problem so it is not urgent for me anymore but in practice this means no user of the library can use the CreateStatus API on a 32 bits executable right now.

[2017-12-11 21:01] clarsonneur commented on #804
Thank you @shurcooL and @willnorris for your answer.

On my side, I'm now detecting the http scheme and I set a warning. But nothing more.

I like the idea that if we get a redirect to the same url, with a simple change on the scheme, we could fail to ask to use the appropriate link.
But I understand it to be a little complex to update in the code, everywhere. Do you want me to have a look?
Or, yo

[2017-12-11 21:18] shurcooL commented on #804
I don't think it'd be hard to do. It can probably be centralized in the `Do` method.

However, I agree with @willnorris and feel unconvinced that the potential benefits justify the cost of having this extra code run on every single API call, needlessly so in projects that uses `go-github` correctly.

I'd be more okay with a check in `NewClient` that runs once, but currently I don't see what can be

[2017-12-12 14:55] clarsonneur commented on #804
Agree. Make more sense to me too. I will have a look in the `NewClient`.

Thanks

[2017-12-14 12:20] kshitij10496 opened #809 "Adding a simple working program under the Usage section of the README"
Hello,

I am writing a simple Go program which uses this package to make some API calls to GitHub as part of learning Go. It took me some redirections to get started with the package to make native Unauthenticated and Basic authenticated calls; probably due to my naivety at reading/writing Go code.

Hence, I thought of mentioning this so as to help beginners (like me) pick the package up quicker i

[2017-12-14 15:12] FenwickElliott commented on #576
I'm new to go, have been using this project and I'd like to contribute. Can I help with finishing off this issue?

Thanks,

[2017-12-14 22:03] shurcooL commented on #809
Hi there, thank you for feedback and suggestions, they are appreciated.

I agree this is important, especially because `go-github` is a good first package to play with for people who just installed Go.

We do need to be careful to strike the right balance of providing the right amount of information in the README and package documentation (i.e., https://godoc.org/github.com/google/go-github/github

[2017-12-14 22:21] shurcooL commented on #806
Thanks for the valuable report @maruel. I'll close this as duplicate of #597, make a reference to it there (because there's useful data here) so we have a single centralized place to discuss this issue and make a decision.

[2017-12-14 22:21] #806 closed

[2017-12-14 22:23] shurcooL commented on #597
We've had a report of this issue causing real errors in production on a 32-bit architecture in #806. /cc @maruel

It had to do with `RepoStatus.ID` ID specifically, but the value "4396447431" provided there was within `int64` but outside of `int32` range. That means go-github, as is, couldn't be used on a 32-bit arch.

[2017-12-14 22:23] sahildua2305 commented on #809
@kshitij10496 thanks for the feedback and #810. Highly appreciated.

[2017-12-14 22:28] shurcooL commented on #576
You're certainly welcome to, thanks!

This is a hard issue. If you think you have ideas for how to tackle it, I suggest you discuss them here before sending code for review. That way, we can make smaller steps and see whether they're headed in the right direction to resolve the issue.

[2017-12-14 22:36] FenwickElliott commented on #576
Thanks for getting back to me.

I'm very new to Go (and OS contributing) so I might not succeed. At first read it looked like you had figured out the solution and just needed someone to do the leg work which is why I thought it looked doable.

I'll definitely check in before submitting any code.

Thanks,

[2017-12-14 22:52] shurcooL commented on #576
No problem, that's completely acceptable. Even if you don't succeed, you'll have tried, perhaps learned something, and maybe will succeed in the end. If you only start things you know you'll succeed, you won't be able to start many things.

On the contrary, I gave it a shot, and had a rough prototype, but see the TODOs, many of them are "figure out the general high-level approach", etc. So figurin

[2017-12-15 00:32] FenwickElliott commented on #576
Thank you for your encouragement.

I take your point though, this is proving harder than I thought. I'm going to keep trying but I wouldn't suggest anyone hold their breath for my fix.

Really, thank you.

[2017-12-15 07:52] kshitij10496 commented on #809
Thank you guys for the appreciation.
It would be my pleasure to learn Go while contributing to this package.

Since all the issues tagged "good first issue" are currently under development and the endpoints mentioned in the [roadmap](https://docs.google.com/spreadsheets/d/1wlHnoJSAN01nXUUF1JobsaKO4mJjAwZNWK8L_4ZSlls/edit#gid=0) have all been implemented(needs update), I would appreciate if you can

[2017-12-15 08:49] kshitij10496 commented on #597
In the light of the recent crash report, are we actively interested in migrating all the `ID` fields corresponding to GitHub IDs to a more suitable type?

In continuation of the same comment from GitHub Staff as linked above,

Also, shouldn't `uint64` be the desired final type instead of `int64` based on the recommendation?

cc @shurcooL

[2017-12-15 15:03] shurcooL commented on #597
@kshitij10496 Are you using `go-github` on a 32-bit environment? The problem is only relevant there.

I had the same thought. That's one of the options we should consider (and why I didn't want to accept PR #807 before discussing all the options in here first).

[2017-12-15 15:08] shurcooL commented on #809
Is that really the case? I'd suggest double checking if you haven't already. If an issue was started but there's been no progress for over a week, it's completely okay to ping and inquire on the status. Sometimes issues are started but then get stuck, so you might be able to resume one of the existing ones and help push it along.

Otherwise, it means there's not much to do, which isn't a bad thing

[2017-12-15 15:13] shurcooL commented on #722
A status update here. We had a PR that implemented this issue (at least partially), but deferred merging it because of rationale posted in https://github.com/google/go-github/pull/736#pullrequestreview-78581351.

Basically, if we wait long enough, this issue will get resolved on its own without us having to make any risky changes (back and forth) in `go-github`.

If someone really needs this funct

[2017-12-15 19:35] maruel commented on #597
My vote against `uint64` and for `int64` instead. IMHO you shouldn't use unsigned unless strictly necessary and I don't think this is not the case. Preferably via `type ID int64` as proposed above.

[2017-12-15 20:32] FenwickElliott commented on #809
Hi,

I too am very new to Go but in investigating this repo I wrote up what I think you're talking about.

I never intended if for anyone else so it's rough and undocumented but if it's helpful I'd be happy to polish it up for you or anyone else:

https://github.com/FenwickElliott/GoGit/blob/master/main.go

wrt: the token, I simply saved it as a string in txt file called 'token' in the same direct

[2017-12-16 09:01] kshitij10496 commented on #597
@shurcooL  I thank you for your concern. Currently, all my systems are 64-bit architecture so this doesn't directly affect me. (I did figure the implications of this issue after reading this thread and the external resources linked to it.) I thought of addressing the unsigned numeric `unint64` type  as an alternative since it had not been mentioned above and I wondered if we might have overlooked

[2017-12-16 11:12] helmi2333 opened #811 "d"

[2017-12-16 16:45] bradfitz commented on #597
Go style is to use signed integers by default. Use of unsigned is reserved for bizarre cases when it's absolutely required.

Some examples of Go using signed:

* https://golang.org/pkg/builtin/#len returns `int`, even though it can never be negative
* https://golang.org/pkg/os/#FileInfo returns `int64`, even though you can never have negative-sized files
* https://golang.org/pkg/io/#Writer returns

[2017-12-18 19:06] #811 closed

[2017-12-18 20:48] shurcooL commented on #597
That makes sense in situations where the integer is often manipulated (and therefore, may _end up_ being negative, even if it can never _start out_ negative).

That's the best reason I know why the builtin `len` returns a signed int, it's so you can safely do this without an infinite loop due to underflow:

[code]

I'm not sure if the same rationale applies to IDs, since as I understand, they're n

[2017-12-18 20:57] bradfitz commented on #597
Sure. I wouldn't object to uint64 in this case if it's required. But I would be very surprised if GitHub uses the high bit of those 64-bit IDs, as that would be painful for their Java and JavaScript users.

[2017-12-19 05:32] kshitij10496 commented on #708
I can take this up next if @RaviTezu is not currently working on it.

[2017-12-19 15:49] gmlewis commented on #708
Please see my [comment above](https://github.com/google/go-github/issues/708#issuecomment-324725282). We need confirmation from GitHub Enterprise API customers that the removal will not break them, which has happened in the past. Alternatively, semantic versioning needs to be adhered to in this repo before proceeding with this issue.

[2017-12-20 20:08] willnorris commented on #597
Talked this through with @gmlewis a bit, and both of us are having a hard time forming a strong opinion either way on signed versus unsigned int64.  I think @bradfitz is right that it is very unlikely that GitHub ever uses the high bit, and my gut tells me that signed int64 would me slightly easier to work with, since I suspect that's what people are using in other backends, and so will result in

[2017-12-20 20:54] shurcooL commented on #597
As part of working on it, I'd like to see a comparison and evaluation of the various alternative ways this can be done.

For example, this can be implemented as replacing `int` with `int64` for all ID fields, or by defining a new type in go-github, ala `type ID int64`. Which should we choose and why?

[2017-12-20 21:01] shurcooL commented on #597
Yet another option that I didn't see mentioned here is to not make changes to the package itself, but instead solve this issue in a similar way to the Google App Engine usage:

https://github.com/google/go-github#google-app-engine

Basically, to leave go-github as is unsuitable for 32-bit architectures, but with a way to modify the package to be suitable (in an automatable way). Perhaps offer a co

[2017-12-20 21:01] bradfitz commented on #597
A new type would only be beneficial for documentation and/or putting methods on it, but has the downside of likely requiring more conversions for callers.

So the question is whether the documentation would be worth it and/or whether we need any methods on it (e.g. MarshalJSON). I imagine no to both. It seems to document itself (the fields are already named as IDs) and the default JSON marshalling

[2017-12-20 21:02] bradfitz commented on #597
That seems gross and unnecessary. Also, App Engine supports Go 1.8 now, so even that existing hack should be deleted.

[2017-12-20 21:07] shurcooL commented on #597
After thinking about the alternatives, I'm convinced. Changing the ID fields from `int` to `int64` (and incorporating that policy for all future PRs) seems like the best overall choice.

[2017-12-21 02:17] #556 closed

[2017-12-21 15:06] kshitij10496 commented on #597
Thanks, @bradfitz for the guideline on the conventional use of numbers. I'm sure this will come in handy for me in the future.

There are two considerations that I would like to make with regards to the migration of ID fields from `int` to `int64`:
1. Modification of the corresponding unit tests to deal explicitly with `int64` rather than `int`s.
2. Creation of a new helper routine `Int64` similar

[2017-12-21 17:43] gmlewis opened #813 "Remove custom media type for License API"
GitHub API Announcement:
https://developer.github.com/changes/2017-11-28-ending-the-license-api-preview/

This issue is a place-holder for work that needs to be done after we have confirmation that Enterprise API customers no longer need the custom media type header, or when the semantic versioning issue (#376) is resolved.

[2017-12-21 17:53] gmlewis opened #814 "Support preview GraphQL API v4 Node IDs in REST API v3 resources"
GitHub Developer API announcement:
https://developer.github.com/changes/2017-12-19-graphql-node-id/

To complete this issue:

* a new media type (`application/vnd.github.jean-grey-preview+json`) must be added to `github.go`,
* this media type must be added to the header of calls to all affected endpoints (see announcement),
* a new `node_id` field must be added to the appropriate responses structs

[2017-12-21 21:44] anubhakushwaha commented on #814
@gmlewis Can I take this up?

[2017-12-21 21:50] gmlewis commented on #814
Definitely!  Thank you, @anubhakushwaha!  I sent you an invite.

[2017-12-22 10:50] ribice opened #815 "Starring an issue returns 404"
I'm trying to invoke client.Activity.Star(context, author, project) while being logged in and I'm constantly getting 404s.

PUT https://api.github.com/user/starred/fatih/color: 404 Not Found []&{0xc4201fc0a0 <nil>}

The URL and implementation seem valid.

[GIST](https://gist.github.com/ribice/de1a7d419efefb75d03906d3af1c5590) (replace ghKey with your own)

[2017-12-22 13:06] ribice commented on #815
[GIST](https://gist.github.com/ribice/de1a7d419efefb75d03906d3af1c5590)

[2017-12-22 15:45] kshitij10496 commented on #815
Hey @ribice

The issue seems to be with the scope of the authentication token you are providing rather than with this library. GitHub returns 404 for the requests because the scope of your access token is not sufficient provides and the scope needed for starring a repository.
From personal experimentation, I found that defining "repo" access will make this work.

Refer: [Authentication](https://de

[2017-12-22 21:22] ribice commented on #815
Thanks @kshitij10496. That was it. Although I did not expect to get 404 for this.

[2017-12-22 21:22] #815 closed

[2017-12-24 17:41] MorrisLaw commented on #813
Hey @gmlewis I'd like to take this issue. Can you assign it to me, so I can be notified once the confirmation goes through? Thank you

[2017-12-26 03:44] lou-lan opened #818 "Check hook 500"

[2017-12-26 03:58] lou-lan commented on #818
{"message":"Server Error","documentation_url":"https://developer.github.com/enterprise/2.11/v3"}

resp.body message